<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

    <!-- START HEADER/BANNER -->

    <tbody>
        <tr>
            <td align="center">
                <table class="col-600" width="800" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9; border-top: 1px solid #dbd9d9;">
                    <tbody>
                        <tr>
                            <td align="center" valign="top" background="https://www.brahmakumaris.com/wp-content/uploads/2021/09/Journey_4.jpg" bgcolor="#fff" style="background-size: 1500px 110px; background-position:top;background-color: #fff;">
                                <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:20px">

                                    <tbody>

                                        <tr>
                                            <td style="line-height: 0px; text-align: center">
                                                <img style="display:inline-block; line-height:0px; font-size:0px; border:0px;" src="https://www.brahmakumaris.com/wp-content/uploads/2021/06/cropped-logo.png" height="50" alt="logo">
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <!-- END HEADER/BANNER -->
        <!-- START CONTENT 1 -->

        <tr>
            <td align="center">
                <table class="col-600" width="800" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                    <tbody>
                        <tr>
                            <td height="35"></td>
                        </tr>

                        <tr>
                            <td align="center" style="font-family: 'Raleway', sans-serif; font-size:22px; font-weight: bold; color:#2a3a4b;">Om shanti</td>
                        </tr>

                        <tr>
                            <td height="10"></td>
                        </tr>


                        <tr>
                            <td align="center" style="font-family: 'Lato', sans-serif; font-size:14px; color:#757575; line-height:24px; font-weight: 300; padding: 0 20px 20px">
                                <style>
                                    a:link {
                                        color: white;
                                    }

                                    a:visited {
                                        color: white;
                                    }

                                    a:hover {
                                        color: white;
                                    }

                                    a:active {
                                        color: white;
                                    }
                                </style>
                                <text>
                                    <p>Dear #APPROVER#, <br /><br />#FORMNAME# has been filled by Following User <br />उपरोक्त फॉर्म निम्नलिखित उपयोगकर्ता द्वारा भरा गया है:: </p>
                                    <p><b style="font-size:28px; color:blue">#NAME#</b></p>
                                    <p>Click on the buttons below to provide your approval for same<br />अपनी स्वीकृति प्रदान करने के लिए नीचे दिए गए बटनों पर क्लिक करें</p>
                                    <p style="background-color:green;  width:300px;height:28px;display: table;border-spacing: 10px;"><b style="display: table-cell;vertical-align: middle;"><a style="color: white !important" href="#APPROVAL_LINK#">I hereby Approve the Application Form<br /> मैं आवेदन पत्र को मंजूरी देता / देती  हूँ </a></b></p>

                                    <p style="background-color:Red; width:300px;height:28px;display: table;border-spacing: 10px;"><b style="display: table-cell;vertical-align: middle;"><a style="color: white !important" href="" #REJECT_LINK#"">I hereby Reject the Application Form <br /> मैं आवेदन पत्र को अस्वीकार करता / करती हूँ </a></b></p>

                                    <p><b>Note:</b> Approval of #APPROVER# is necessary for Application to be Accepted as #APPROVER# is #ROLE-ENG#. Clicking of any of the two above buttons shall be considered as Consent & Signature of #APPROVER# for specificed application. Anyone clicking on these buttons without express directions of #APPROVER# is strictly not allowed. <br /><br /> आवेदन स्वीकार करने के लिए #APPROVER# का अनुमोदन आवश्यक है क्योंकि #APPROVER#  #ROLE-HIN# है। उपरोक्त दो बटनों में से किसी एक पर क्लिक करने को एप्लीकेशन के लिए #APPROVER# की सहमति और हस्ताक्षर के रूप में माना जाएगा। #APPROVER# के स्पष्ट निर्देशों के बिना इन बटनों पर क्लिक करना सख्त मना है। </p>
                                </text>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>



        <!-- END CONTENT 1 -->
        <!-- START CONTENT 2 -->

        <tr>
            <td align="center">
                <table class="col-600" width="800" border="0" align="center" cellpadding="0" cellspacing="0" style="border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9; ">
                    <tbody>
                        <tr>


                            <td align="center" background="https://www.brahmakumaris.com/wp-content/uploads/2021/09/Journey_4.jpg">
                                <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td height="35"></td>
                                        </tr>


                                        <tr>
                                            <td align="center" style="font-family: 'Lato', sans-serif; font-size:14px; color:#fff; line-height: 1px; font-weight: 300;">
                                                <a href="#LINK#" style="color: Black !important;">Click here to See Full Form Details</a>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td height="20"></td>
                                        </tr>


                                        <tr>
                                            <td align="center" style="font-family: 'Lato', sans-serif; font-size:14px; color:BLACK; line-height: 1px; font-weight: 300;">
                                                For any Queries, Please Contact #CONTACT#
                                            </td>
                                        </tr>


                                        <tr>
                                            <td height="40"></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <!-- END CONTENT 2 -->




    </tbody>
</table>
