<!-- saved from url=(0064)http://localhost:51486/Facility/ServiceReport/MedicalWingEmailer -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Compassion</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="https://connectone.app/content/Karuna_emailer_files/css2.css" rel="stylesheet">
    <!-- CSS -->
    <link href="https://connectone.app/content/Karuna_emailer_files/bootstrap.min.css" rel="stylesheet">
    <link href="https://connectone.app/content/Karuna_emailer_files/pledge.css" rel="stylesheet">
    <style>
        .btn-primary {
            color: #fff !important;
            background-color: #0d6efd;
            border-color: #0d6efd;
            cursor: pointer !important;

        }
        .btn {
            display: inline-block;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            border-radius: 0.25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .blue-bg {
            background: #eef3f7;
        }

        .blu-hd {
            padding: 10px;
            background: #142a4a;
            text-align: center;
            color: #fff;
        }

        .form-head h2 {
            font-size: 19px;
            color: #0d273b;
            margin: 15px 0 10px;
            border-bottom: 1px solid #bcd5f1;
            padding-bottom: 10px;
        }

        .pld-grid {
            font-size: 14px;
        }

        .pledge1 {
            color: #255755;
        }

        .pld-grid img {
            max-width: 100%;
            object-fit: cover;
            border-radius: 5px;
            transition: .3s all;
            margin-bottom: 25px;
            width: 176px;
        }

        .bgl-1 {
            background: rgba(168,37,4,.1);
        }

        .bgl {
            padding-top: 30px;
            margin-bottom: 30px;
        }

        .btn-submit {
            min-width: 300px;
            margin: 0 auto;
            font-size: 20px;
            font-weight: bold;
            float: none;
            display: inherit;
            padding: 12px;
        }

        .btn-primary {
            background: #183258;
            border: none;
        }
    </style>
</head>
<body>
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td align="center" class="bgl bgl-1">
                    <table class="col-600" width="800px" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px;">
                        <tbody>
                            <tr>
                                <td style="padding: 10px;width: 50%; vertical-align: top;" class="pld-grid">
                                    <img width="100%" src="https://connectone.app/content/Karuna_emailer_files/pledge2.png">
                                </td>
                                <td class="pld-grid" style="padding: 10px;">
                                    <aside class="pledge2">
                                        <p style=" text-align: justify;margin:0 0 20px 0">
                                            <b>
                                                मानवीय संबंध करुणा, दया और प्रेम पर आधारित हैं। आध्यात्मिक शक्ति, सूरजमुखी के लिए सूर्य के समान है, जो मानव हृदय को करुणा, दया और प्रेम का निर्माण करने की शक्ति देती  है। जब तक प्रत्येक मनुष्य स्वयं को आध्यात्मिक रूप से समृद्ध न करे, तब तक हमारी दुनिया इन सुंदर भावनाओं से संपन्न नहीं हो सकती है।
                                                <br><br>ब्रह्माकुमारियों ने वर्ष 2022 को  <u>"दया और करुणा के लिए आध्यात्मिक सशक्तिकरण के वर्ष"</u>के रूप में मनाने का निर्णय लिया है। कृपया हमें लाखों लोगों तक पहुंचने में मदद करें।  आइये हम मिल कर मानवता को दया और करुणा के संदेश की याद दिलाएं। आपको बस नीचे दिए गए लिंक में प्रतिज्ञा फॉर्म भरने की जरूरत है।  इसे अपने करीबी और प्रियजनों के साथ साझा करें। एक प्रिंट करने योग्य फॉर्म भी लिंक में है, जिसे आप भर सकते हैं और दूसरों के साथ साझा भी कर सकते हैं।
                                            </b>
                                        </p>
                                    </aside>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>