@*<style>
        a:visited {
            color: white;
        }
    </style>*@
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

    <!-- START HEADER/BANNER -->

    <tbody>
        <tr>
            <td align="center">
                <table class="col-600" width="800px" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9; border-top: 1px solid #dbd9d9;">
                    <tbody>
                        <tr>
                            <td align="center" valign="top" background="https://connectone.app/content/images/General-Stunning-Header-1.jpg" bgcolor="#66809b" style="background-size:cover; background-position:top;">
                                <table class="col-600" width="700" border="0" align="center" cellpadding="0" cellspacing="0" style="padding: 20px;">

                                    <tbody>

                                        <tr>
                                            <td style="line-height: 0px; width: 30%">
                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://connectone.app/content/images/logos/mdc.png" width="150" height="150" alt="logo">
                                            </td>
                                            <td style="font-family: 'Raleway', sans-serif; color:#2a3a4b; font-weight: bold; font-size: 30px; letter-spacing: .03em; line-height: 30px; padding-top: 20px; padding-bottom: 20px">
                                                Brahmakumaris Medical Wing
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <!-- END HEADER/BANNER -->
        <!-- START CONTENT 1 -->

        <tr>
            <td align="center">
                <table class="col-600" width="800px" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                    <tbody>
                        <tr>
                            <td height="35"></td>
                        </tr>

                        <tr>
                            <td align="center" style="        font-family: 'Raleway', sans-serif;font-size: 22px;font-weight: bold;color: #2a3a4b;padding: 0 45px;">
                                Regarding 46th Mind Body Medicine Conference 
                                <br /><br />
                            </td>
                        </tr>

                        <tr>
                            <td height="10"></td>
                        </tr>


                        <tr>
                            <td align="left" style="text-align: justify; font-family: 'Lato', sans-serif; font-size: 14px; color: #757575; line-height: 24px; font-weight: 300; padding: 0 20px 20px">
                                Respected divine Sister/Brother,<br /><br />
                                Accept greetings of peace and love from Bapdada's abode Madhuban.<br /><br />
                                It gives us immense pleasure to inform you that the Medical Wing, RERF is conducting the 46th Mind-Body Medicine Conference at Manmohinivan Complex, Shantivan, scheduled from 2nd September (Friday) to 5th September, 2022 (Monday).<br /><br />
                                This Conference is meant to serve MD/MS Doctors and Directors /Deans of Hospitals /Medical Institutions only.  Other health practitioners /doctors holding MBBS, BAMS, BHMS, BNYS, NDDY, etc. are restricted in this Conference.  I further emphasize that this Conference is ONLY for Non-BK & Newcomer Doctors.  Those who have already attended the MBM conference in the past are not invited for the 46th MBM Conference.<br /><br />
                                1. <u>Registration process for the 46th MBM Conference will be in the following manner:</u><br /><br />
                                (i) <b>Pre-Registration Process</b><br />
                                a. Online applying for the conference at <a href="http://www.bkmedicalwing.org">http://www.bkmedicalwing.org</a> . Please keep ready the following details of the Doctor(s) before filling the online form: Proper Qualification, Designation, Organization/Department, Mobile Number, Email Address, etc.<br />
                                b. Once you fill the application, it will be scrutinized by the Medical Wing.<br /><br />
                                (ii) <b>Travel Details</b><br />
                                Once we scrutinize the applications, we will ask for travel/itinerary details of selected doctors/directors/deans who will be eligible for the conference, depending upon the availability of seats.<br />
                                Please ensure that travel bookings of the above selected delegates may be done only after receiving email from Medical Wing asking for travel details.<br />
                                <br />
                                (iii) <b>Accommodation Registration</b><br />
                                a.      After receipt of the travel / itinerary details, we will request the selected doctors for separate final registration at the https://accomabu.bkinfo.in which will be done through Brahma Kumaris Centres Incharges only. Please note that  Registration ID received at this stage only will be treated as confirmation of the Doctor for the participation in the MBM Conference.<br />
                                <br />
                                2.  For updates on the MBM Conference, please keep checking the <a href="http://www.bkmedicalwing.org">http://www.bkmedicalwing.org</a>.<br />
                                <br />
                                3.  A soft copy of the invitation brochure is attached herewith. However, printed copies of invitation brochures are also available at Medical Wing Office (Ever healthy Hospital), Shantivan.<br />
                                <br />
                                4.  Before applying for the above MBM Conference, please ensure the following instructions for compliance:<br />
                                <br />
                                (a) Family Members and Children of the Participating Doctors are not allowed in this conference.<br />
                                (b) If finally selected delegate(s) cancel at a later stage, it is the responsibility of the Centre Incharge to delete the name of the Doctor(s) from the accommodation website under intimation to the Medical Wing.<br />
                                (c)  BK Doctors & Medical Wing Members need not come without accompanied doctor-guests. Only those who are accompanying the guests may come.<br />
                                (d) This conference is ONLY for newcomer Doctors; BKs are strictly not allowed for this conference.<br />
                                (e)Delegates /guides suffering from chronic illness /serious issues that can cause any sort of emergency may please avoid attending the conference.<br />
                                (f) There will be separate rooms /buildings for accommodation of brothers & sisters in the premises and most of the rooms in the premises are non-AC. Hence, packing may be planned accordingly and requests for AC Rooms may please be refrained.<br />
                                (g)  Violation from the ethical, moral and spiritual discipline and Covid Protocols as per the Government regulations may call for cancellation of the registration and accommodation in the Conference.<br />
                                <br /><br />

                                <a href="https://services.brahmakumaris.com/Attachments/28f5216b-9a08-4060-a91f-54ee784d3208.pdf">Please click here to see 46th MBM Conference Brochure </a><br />
                                <br />
                                For further details, you may contact us at:  <a href="tel:8054442222" target="_blank">8054442222</a>.<br />

                                With Regards,<br /><br />

                                Dr. Banarsilal Sah,<br />
                                Secretary, Medical Wing of Rajyoga Education & Research Foundation<br />
                                Email: <a href="mailto:mbmconference@bkivv.org" target="_blank">mbmconference@bkivv.org</a><br />
                                Mob: <a href="tel:9414153942" target="_blank">9414153942</a>, <a href="tel:8054442222" target="_blank">8054442222</a><br />

                                <text style="color:red;font-weight:bold">Building a Healthy World ...</text>
                            </td>
                        </tr>
                        <tr>
                        <td align="center" style="padding-bottom:20px">
                                <a target="_blank" href="https://services.brahmakumaris.com/Attachments/e295d5cd-e70f-42be-ae47-90e7ad4aecaa.mp4">46th MBM Conference Invitation Video</a>
                            </td></tr>
                    </tbody>
                </table>
            </td>
        </tr>



        <!-- END CONTENT 1 -->
        <!-- START CONTENT 2 -->

        <tr>
            <td align="center">
                <table class="col-600" width="800px" border="0" align="center" cellpadding="0" cellspacing="0" style="border-left: 1px solid #3e3f8f;border-right: 1px solid #dbd9d9;">
                    <tbody>
                        <tr>


                            <td align="center" bgcolor="#3e3f8f">
                                <table class="col-600" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td height="5"></td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="font-family: 'Raleway', sans-serif; font-size:14px; line-height:24px; font-weight: bold;">
                                                <a style="color: mintcream;" target="_blank" href="http://bkmedicalwing.org">Visit Medical Wing Website</a><br />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="font-family: 'Raleway', sans-serif; font-size:14px; line-height:24px; font-weight: bold;">
                                                <a style="color: mintcream;" target="_blank" href="https://services.brahmakumaris.com/editevent?recid=b5581d57-f72d-4882-ac46-a6b1843aad6f">View Conference Details</a><br />
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td height="5"></td>
                                        </tr>

                                        @*<tr>
            <td align="center" style="font-family: 'Lato', sans-serif; font-size:14px;line-height: 1px; font-weight: 300;">
                <a style=" color: #fff;" target="_blank" href="https://bkmedicalwing.org/">Medical Wing Website</a>
            </td>
        </tr>
        <tr>
            <td height="20"></td>
        </tr>*@

                                        @* <tr>
            <td align="center" style="font-family: 'Lato', sans-serif; font-size:14px; line-height: 1px; font-weight: 300;">
                <a style=" color: #fff;" href="http://tiny.cc/UNDAYS">Click here to View Media for Event</a>
        </td>
        </tr>


        <tr>
            <td height="40"></td>
        </tr>*@

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <!-- END CONTENT 2 -->




    </tbody>
</table>

