@*<style>
    a:visited {
        color: white;
    }
</style>*@
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

    <!-- START HEADER/BANNER -->

    <tbody>
        <tr>
            <td align="center">
                <table class="col-600" width="800px" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9; border-top: 1px solid #dbd9d9;">
                    <tbody>
                        <tr>
                            <td align="center" valign="top" background="https://www.brahmakumaris.com/wp-content/uploads/2022/01/General-Stunning-Header-1.jpg" bgcolor="#66809b" style="background-size:cover; background-position:top;">
                                <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:20px">

                                    <tbody>

                                        <tr>
                                            <td style="line-height: 0px; width: 30%">
                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="http://accountserver.bkinfo.in/app_themes/standard/images/logos/mdc.png" width="150" height="150" alt="logo">
                                            </td>
                                            <td style="font-family: 'Raleway', sans-serif; color:#2a3a4b; font-weight: bold; font-size: 20px; letter-spacing: .03em; line-height: 30px; padding-top: 20px; padding-bottom: 20px">
                                                Brahmakumaris Medical Wing
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <!-- END HEADER/BANNER -->
        <!-- START CONTENT 1 -->

        <tr>
            <td align="center">
                <table class="col-600" width="800px" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                    <tbody>
                        <tr>
                            <td height="35"></td>
                        </tr>

                        <tr>
                            <td align="center" style="font-family: 'Raleway', sans-serif; font-size:22px; font-weight: bold; color:#2a3a4b;padding: 0 45px;">
                                :: About Urgent Medical Wing Online Meeting ::
                                <br /><br />
                            </td>
                        </tr>

                        <tr>
                            <td height="10"></td>
                        </tr>


                        <tr>
                            <td align="left" style="text-align: justify; font-family: 'Lato', sans-serif; font-size: 14px; color: #757575; line-height: 24px; font-weight: 300; padding: 0 20px 20px">
                                Dear Divine Souls,<br />
                                Accept  greetings  of  peace  and  happiness, <br />
                                <br />
                                Let me  express  my  deep  concern  at the  outset for the inconvenience it may  cause  you for calling an urgent  meeting. The meeting will be  held tomorrow i.e.3rd  April at 11 am
                                Agenda of  the  meeting:<br />
                                1. Annual meeting(5th April to 10th April, 2022)<br />
                                2. MBM conference  to  be  held  from  12th  May  to  16 May 2022 & 10th June to 14th June, 2022<br />
                                <br />
                                <b>Topic:</b> Medical Wing Brahma Kumaris' Zoom Meeting<br />
                                <b>Time:</b> Apr 3, 2022 11:00 AM India<br />
                                Join Zoom Meeting at https://omshanti.zoom.us/j/96334750119 <br />
                                <b>Meeting ID:</b> 963 3475 0119 <br />
                                <br />
                                Please join the meeting  in time and give your  valuable  suggestions  to make these events a success.<br /><br />
                                With Regards<br />
                                <br />
                                Dr. Banarsilal Shah<br />
                                Secretary, Medical Wing of Rajyoga Education & Research Foundation<br />
                                Brahma Kumaris Shantivan, Abu Road<br />
                                Mob: 9414153942,8619937031<br />
                            </td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>



        <!-- END CONTENT 1 -->
        <!-- START CONTENT 2 -->

        <tr>
            <td align="center">
                <table class="col-600" width="800px" border="0" align="center" cellpadding="0" cellspacing="0" style="border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9; ">
                    <tbody>
                        <tr>


                            <td align="center" bgcolor="#34495e">
                                <table class="col-600" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td height="35"></td>
                                        </tr>


                                        @*<tr>
                                            <td align="center" style="font-family: 'Raleway', sans-serif; font-size:20px; line-height:24px; font-weight: bold;">
                                                <a style="color: #f1c40f;" target="_blank" href="https://services.brahmakumaris.com/Events/Events/Frm_Service_Event_Details?RecID=cc47af58-6321-4900-b49b-9fd4ef81536b">Click here to View Full Event Details</a>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td height="20"></td>
                                        </tr>


                                        <tr>
                                            <td align="center" style="font-family: 'Lato', sans-serif; font-size:14px;line-height: 1px; font-weight: 300;">
                                                <a style=" color: #fff;" target="_blank" href="https://bkmedicalwing.org/">Medical Wing Website</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20"></td>
                                        </tr>*@

                                        @* <tr>
                                                <td align="center" style="font-family: 'Lato', sans-serif; font-size:14px; line-height: 1px; font-weight: 300;">
                                                    <a style=" color: #fff;" href="http://tiny.cc/UNDAYS">Click here to View Media for Event</a>
                                            </td>
                                            </tr>


                                            <tr>
                                                <td height="40"></td>
                                            </tr>*@

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <!-- END CONTENT 2 -->




    </tbody>
</table>
