@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Account.Models.Voucher_SpeceficPeriod



@{
    /**/

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}


<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div>
    @using (Ajax.BeginForm("GetSpecificPeriod_VoucherInfo", "Voucher",
           new AjaxOptions
           {
               HttpMethod = "POST",
               InsertionMode = InsertionMode.InsertAfter,
               OnBegin = "AjaxBeginFormPost",
               OnSuccess = "Frm_Change_Period_Success_Voucher"
           },
            new
            {
                id = "id_Frm_Change_Period_Screen_Voucher",
                @class = "edit_form"
            }))
    {
        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label  text-red" for="Name">From:</label></div>
                            <div class="col-sm-9 col-md-9 col-lg-9 prm">

                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Voucher_Fromdate").Name("Voucher_Fromdate").Value(Model.Voucher_Fromdate).InvalidDateMessage("Value must be a Date!!").TabIndex(1))
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label  text-red" for="Name">To:</label></div>
                            <div class="col-sm-9 col-md-9 col-lg-9 prm">

                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Voucher_Todate").Name("Voucher_Todate").Value(Convert.ToDateTime(Model.Voucher_Todate)).InvalidDateMessage("Value must be a Date!!").TabIndex(2) )
                            </div>

                        </div>
                    </div>
                </div>
            </div><!--[row]-->
   
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="styleActionBtn">
                    @(Html.DevExtreme().Button().ID("VoucherChangePeriod").Text("Ok").Icon("fa fa-check-circle fa-w-16 btn-icons checkgreen").FocusStateEnabled(true).TabIndex(3).UseSubmitBehavior(true) )
                    @(Html.DevExtreme().Button().ID("VoucherChangePeriodCancel").Text("Cancel").Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey").FocusStateEnabled(true).TabIndex(4).OnClick(@<text> function () { $("#PopupVoucher_speceficPeriod").dxPopup("hide"); } </text>) )

                </div><!--[button]-->
            </div>
        }
    }
</div>
<script>
</script>





