@using DevExtreme.AspNet.Mvc;
@model IEnumerable<dynamic>
    @{ var PopupID = ViewBag.PopupID;}
<style>
    .cb-txt-align { color: #000080; display: inline-block; margin: 8px 0 0 0; width:100%; text-align:right }
    @@media (max-width:768px) { .cb-txt-align {margin:-10px 0 4px -10px; text-align:left} }
</style>
<div id="CashBankSummary_Form">
<div class="full-width-header-bg2">
    <div class="clearfix">
        <div class="col-sm-6 pll">
            <h3 class="popuphead"> Cash Bank Summary</h3>
        </div>
        <div class="col-sm-6">
            <h5 class="cb-txt-align">@ViewBag.SummaryPeriod</h5>
        </div>
    </div>
</div><!--[Header]-->
<div class="row">
    <div class="col-md-12 padding15 ">
        <div id="CB_Summary" class="parent_table">
            <form>
                @Html.Partial("Frm_View_SummaryGrid", Model)
            </form>
        </div>
    </div>
</div><!--[Grid]-->
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="styleActionBtn">
                    @(Html.DevExtreme().Button().ID("CB_Summary_CANCEL").Text("Close").Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey").OnClick("CloseSummary") )

                </div>
            </div>
        </div>
    </div>
</div><!--[Buttons]-->
    </div>
<script>
    function CloseSummary(e)
    {
        HidePopup("@PopupID");
    }
    function SummaryListGrid_init(s, e) {
        InitializeScrollView_GridView(s, e)
    }
    function SummaryListGrid_endcallback(s, e) {
        InitializeScrollView_GridView(s, e)
    }
    </script>