@using DevExtreme.AspNet.Mvc;
@model System.Data.DataTable
<div id="AuditExceptions_reloadPartialView" class="parent_table">
    <form>
        @Html.Partial("AuditExceptions_Grid", Model)
    </form>
</div>
<script>
    function AuditExeptionsGrid_init(s, e)
    {
        AuditExeptionsGrid_AdjustSize();     
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            AuditExeptionsGrid_AdjustSize();
        });
    }
    function AuditExeptionsGrid_begincallback(s, e)
    {
        e.customArgs["command"] = e.command;
    } 
    function AuditExeptionsGrid_endcallback(s, e)
    {
      
    }
    function AuditExeptionsGrid_AdjustSize()
    {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try { AuditExceptionsListGrid.SetHeight(height); } catch (err) { }
    }
 
    function AuditExceptionsGrid_ContextMenuClick(s, e)
    {
        if (e.item.name == "Close")
        {
            CloseAccountAnalysis();
        }
        if (e.item.name == "ListPreview")
        {
            AccountAnalysisPreviewClick();
        }
        if (e.item.name == "Refresh")
        {   
            e.handled = true;
            AuditExceptionsListGrid.Refresh();
        }
    }

    function Audit_Exceptions_Detail_Grid_Init(s, e) {
        InitializeScrollView_GridView(s, e)
    }
    function Audit_Exceptions_Detail_Grid_EndCallBack(s, e) {
        InitializeScrollView_GridView(s, e)
    }
    </script>