@using DevExtreme.AspNet.Mvc;
@model System.Data.DataTable
<div id="AuditCheckpoints_reloadPartialView" class="parent_table">
    <form>
        @Html.Partial("AuditCheckpoints_Grid", Model)
    </form>
</div>
<script>
    function AuditCheckpointsGrid_init(s, e)
    {
        AuditCheckpointsGrid_AdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt)
        {
            AuditCheckpointsGrid_AdjustSize();
        });
    }
    function AuditCheckpointsGrid_begincallback(s, e)
    {
        e.customArgs["command"] = e.command;
    }
    function AuditCheckpointsGrid_endcallback(s, e)
    {

    }
    function AuditCheckpointsGrid_AdjustSize()
    {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try { AuditCheckpointsListGrid.SetHeight(height); } catch (err) { }
    }
    function AuditCheckpointsGrid_ContextMenuClick(s, e)
    {
        if (e.item.name == "Close")
        {
            CloseAccountAnalysis();
        }
        if (e.item.name == "ListPreview")
        {
            AccountAnalysisPreviewClick();
        }
        if (e.item.name == "Refresh")
        {
            AuditCheckpointsListGrid.Refresh();
        }        
    }
    </script>