<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<form action="" class="edit_form">
    <div class="full-width-header-bg3">
        <div class="row">

            <div class="col-sm-8 pll">
                <h3 class="popuphead"><i class="far fa-edit"></i>Movable Asset </h3><i class="fas fa-star yellowstar"></i><span class="blu-txt2"> As on 31st March, 2018</span>
            </div>
            <div class="col-sm-4 prm">
                <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
            </div>
        </div>
    </div><!--[row]-->


    <div class="row">
        <div id="equalheight">

            <div class="col-sm-3 col-md-2 col-lg-4 demo">
                <div class="blue-col demo">
                    <div class="container-fluid pll prm bot-pad-5">

                        <label class="control-label" for="Name">Asset Image:</label>
                        <div class="radiobtn-outer">
                            <div class="no-image">No Image</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="col-sm-9 col-md-10 col-lg-8 demo">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <label class="control-label text-red" for="Name">Item Name:</label>

                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">

                                        <select name="" class="dx-texteditor-input appear">
                                            <option value="0">Select Item..</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[/col]-->
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <label class="control-label" for="Name">Item Make / Company:</label>
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" Placeholder="Type Item Make / Company...">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!--[/col]-->
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <label class="control-label" for="Name">Item Model:</label>
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" Placeholder="Type Item Model...">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div><!--[/col]-->

                </div><!--[/row]-->
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <label class="control-label" for="Name">Item Serial No.:</label>
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" Placeholder="Type Item Serial No...">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!--[/col]-->
                    <div class="col-sm-6 col-md-2 col-lg-2">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <label class="control-label" for="Name">Rate:</label>
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" Placeholder="Type Rate...">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!--[/col]-->
                    <div class="col-sm-6 col-md-2 col-lg-2">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <label class="control-label text-red" for="Name">Quantity:</label>
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" Placeholder="Type Quantity...">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!--[/col]-->
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <label class="control-label text-red" for="Name">Amount (For Insurance):</label>
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" Placeholder="Type Amount...">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!--[/col]-->

                </div><!--[/row]-->

                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <label class="control-label" for="Name">Opening Value:</label>

                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" Placeholder="Type Opening Value...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[/col]-->
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <label class="control-label" for="Name">Item Warranty: (in months)</label>
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" Placeholder="Type Item Warranty: (in months)...">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!--[/col]-->
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <label class="control-label" for="Name">Purchase / Creation Date:</label>
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" Placeholder="DD/MM/YYYY">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div><!--[/col]-->

                </div><!--[/row]-->

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-field pad-bot-20">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <label class="control-label text-red" for="Name">Location:</label>
                                    </div>
                                    <div class="col-sm-12 col-md-9 col-lg-9 ">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox ext-marg-32">
                                            <div class="dx-texteditor-container">

                                                <select name="" class="dx-texteditor-input appear">
                                                    <option value="0">Select Location..</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--[/row]-->



                            </div>
                        </div>
                    </div><!--[/col]-->
                    <div class="col-sm-4 col-md-3 col-lg-3">
                        <div class="form-field" style="padding:5px 4px 3px 4px;">
                            <div class="container-fluid pll prm">
                                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                    <a href="javascript:void(0);" class="link-txt">
                                        <div class="dx-button-content">
                                            <i class="fas fa-map-marker btn-icons crossgrey icon-rgt-space5"></i>
                                            <span class="dx-button-text">Add Location</span>
                                        </div>
                                    </a>
                                </div><!--[button]-->
                            </div>
                        </div>
                    </div><!--[/col]-->
                    <div class="col-sm-8 col-md-3 col-lg-3">
                        <div class="form-field" style="padding:5px 4px 3px 4px;">
                            <div class="container-fluid pll prm">
                                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                    <a href="javascript:void(0);" class="link-txt">
                                        <div class="dx-button-content">
                                            <i class="fas fa-map-marker btn-icons crossgrey icon-rgt-space5"></i>
                                            <span class="dx-button-text">Change Location</span>
                                        </div>
                                    </a>
                                </div><!--[button]-->
                            </div>
                        </div>
                    </div><!--[/col]-->

                </div><!--[/row]-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-field">
                            <div class="container-fluid pll prm">
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-lg-2">
                                        <label class="control-label" for="Name">Other Details:</label>
                                    </div>
                                    <div class="col-sm-9 col-md-10 col-lg-10">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">

                                                <select name="" class="dx-texteditor-input appear">
                                                    <option value="0">Type Any Other Details / Remarks..</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div><!--[/col]-->
                                </div><!--[/row]-->
                            </div>
                        </div>
                    </div><!--[/col]-->



                </div><!--[/row]-->

            </div><!--[/col 8]-->

        </div><!--[/row]-->

    </div><!--[/row]-->
    <div class="row">
        <div class="form-field wbg brd-bot-none">
            <div class="col-lg-6 col-xs-12"></div>
            <div class="col-lg-6 col-xs-12">
                <div class="action-btn-wrap ">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fas fa-times-circle btn-icons crossgrey icon-rgt-space5"></i>
                                <span class="dx-button-text">Cancel</span>
                            </div>
                        </a>
                    </div><!--[button]-->


                </div>

                <div class="action-btn-sec-wrap">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fas fa-check-circle btn-icons checkgreen icon-rgt-space5"></i>
                                <span class="dx-button-text">Save</span>
                                <input type="submit" class="dx-button-submit-input">
                            </div>
                        </a>
                    </div><!--[button]-->

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</form>