@using System.Text.RegularExpressions;
@{
    var SessionGUID = Request.QueryString["SessionGUID"];
    bool CheckActionRights = ViewBag.CheckActionRights == null ? false : ViewBag.CheckActionRights;

    bool MovAsset_AddRight = (bool)ViewData["MovAsset_AddRight"];
    bool MovAsset_UpdateRight = (bool)ViewData["MovAsset_UpdateRight"];
    bool MovAsset_ViewRight = (bool)ViewData["MovAsset_ViewRight"];
    bool MovAsset_DeleteRight = (bool)ViewData["MovAsset_DeleteRight"];
    bool MovAsset_ExportRight = (bool)ViewData["MovAsset_ExportRight"];
    bool MovAsset_LockUnlockRight = (bool)ViewData["MovAsset_LockUnlockRight"];
    var DetailData = ViewBag.DetailGridData;
    bool VouchingMode = ViewBag.VouchingMode == null ? false : (bool)ViewBag.VouchingMode;
    string ViewMode = ViewBag.ViewMode == null ? "Default" : (string)ViewBag.ViewMode;
    List<string> ColumnTobeHidden = new List<string>();
    List<string> ColumnTobeShown = new List<string>();
    string ColumnToBeShowIndex = ViewBag.ColumnToBeShownIndex == null ? "" : (string)ViewBag.ColumnToBeShownIndex;
    string ColumnToBeHideIndex = ViewBag.ColumnToBeHidddenIndex == null ? "" : (string)ViewBag.ColumnToBeHidddenIndex;
    if (ColumnToBeHideIndex.Length > 0)
    {
        ColumnTobeHidden = ColumnToBeHideIndex.Split(',').ToList();
    }
    if (ColumnToBeShowIndex.Length > 0)
    {
        ColumnTobeShown = ColumnToBeShowIndex.Split(',').ToList();
    }
}
@Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "AssetListGrid";
        settings.CallbackRouteValues = new
        {
            Controller = "Asset",
            Action = "Frm_Asset_Info_Grid",
            FilterVisible = false,
            SearchVisible = false,
            ShowGroupedColumns = true,
            SessionGUID = SessionGUID
        };
        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
        //settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;
        settings.CustomDataActionRouteValues = new { Controller = "Asset", Action = "AssetCustomDataAction" };
        //settings.Settings.VerticalScrollableHeight = 400;
        settings.Settings.ShowPreview = true;
        settings.SetPreviewRowTemplateContent(c =>
        {
            if (VouchingMode == true)
            {
                Html.RenderAction("AuditButtons", "AuditButton", new { Area = "", Grid = settings.Name, KeyValue = c.KeyValue, VisibleIndex = c.VisibleIndex, SessionGUID = SessionGUID });
            }
        });
        settings.HtmlDataCellPrepared = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            string colIdx = e.DataColumn.Index.ToString();
            string rowIdx = e.VisibleIndex.ToString();
            if (VouchingMode == true)
            {
                if (e.DataColumn.FieldName.Length > 0)
                {
                    e.Cell.Attributes.Add("ondblclick", "OnGridCellClick(event,this,'" + colIdx + "', '" + rowIdx + "','" + settings.Name + "','" + e.KeyValue + "','" + e.DataColumn.FieldName + "');");
                }
                if (e.DataColumn.Name == "iIcon")
                {
                    e.Cell.Attributes.Add("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                    e.Cell.Attributes.Add("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                }
            }
            e.Cell.CssClass += " col_" + e.DataColumn.FieldName + " row_" + e.KeyValue;
            e.Cell.ID = "Cell_" + e.KeyValue + "|" + e.DataColumn.FieldName;
        };
        settings.HtmlRowCreated = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (e.RowType == GridViewRowType.Data)
            {
                //e.Row.Attributes.Add("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                //e.Row.Attributes.Add("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                e.Row.CssClass += " " + settings.Name + "_DataRow_" + e.KeyValue;
            }
            else if (e.RowType == GridViewRowType.Preview)
            {
                e.Row.BackColor = System.Drawing.Color.White;
                if (VouchingMode == true)
                {
                    e.Row.Attributes.Add("onmouseover", "OnGridPrevRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                    e.Row.Attributes.Add("onmouseout", "OnGridPrevRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                }
                e.Row.CssClass += " " + settings.Name + "_PreviewRow" + " " + settings.Name + "_PreviewRow_" + e.KeyValue;
                //e.Row.ID = "PreviewRow_" + e.KeyValue;
            }

        };
        settings.SettingsDetail.ShowDetailRow = true;
        if (VouchingMode == false)
        {
            settings.SettingsDetail.AllowOnlyOneMasterRowExpanded = true;
            settings.SettingsDetail.ExportMode = GridViewDetailExportMode.All;
            settings.SetDetailRowTemplateContent(c =>
            {
                Html.RenderAction("Frm_Asset_Info_DetailGrid", new { RecID = DataBinder.Eval(c.DataItem, "ID"), MID = "", VouchingMode = VouchingMode, command = "REFRESH" });
            });
            settings.SettingsExport.GetExportDetailGridViews = (s, e) =>
            {
                string RecID = (string)DataBinder.Eval(e.DataItem, "ID");
                GridViewExtension grid = new GridViewExtension(ConnectOneMVC.Areas.Profile.Controllers.AssetController.NestedGridExportSettings(RecID));
                grid.Bind(ConnectOneMVC.Areas.Profile.Controllers.AssetController.NestedGridExportData(RecID));
                e.DetailGridViews.Add(grid);
            };
        }
        else
        {
            settings.DetailRowGetButtonVisibility = (s, e) =>
            {
                e.ButtonState = GridViewDetailRowButtonState.Hidden;
            };
        }
        settings.KeyboardSupport = true;
        //settings.AccessKey = "G";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        //settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
        settings.SettingsBehavior.ProcessColumnMoveOnClient = true;
        settings.SettingsBehavior.ColumnMoveMode = GridColumnMoveMode.AmongSiblings;

        var ShowHorizontalBar = (int)ViewBag.ShowHorizontalBar;
        //   settings.SettingsCookies.Enabled = true;
        if (ShowHorizontalBar == 1)
        {
            settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
            settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
            settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;
            settings.SettingsResizing.Visualization = ResizingMode.Postponed;
        }
        else
        {
            settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
            settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
            settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Disabled;
            //settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 500;
            settings.SettingsAdaptivity.AllowHideDataCellsByColumnMinWidth = true;
        }
        settings.SettingsExport.EnableClientSideExportAPI = true;
        settings.SettingsExport.ExcelExportMode = DevExpress.Export.ExportType.DataAware;
        settings.SettingsExport.PageHeader.Center = "Movable Assets Listing";
        settings.SettingsExport.PageHeader.Left = ViewData["ExportGridHeaderLeft"].ToString();
        settings.SettingsExport.PageHeader.Right = ViewData["ExportGridHeaderRight"].ToString();
        settings.SettingsExport.PageFooter.Right = ViewData["ExportGridFooter"].ToString();
        //settings.SettingsExport.PageFooter.Left = "#";
        settings.SettingsExport.PageFooter.Font.Size = 7;
        settings.SettingsExport.PaperKind = System.Drawing.Printing.PaperKind.A4Rotated;
        settings.SettingsExport.TopMargin = 10;
        settings.SettingsExport.LeftMargin = 10;
        settings.SettingsExport.RightMargin = 10;
        settings.SettingsExport.BottomMargin = 10;
        settings.Settings.ShowGroupFooter = GridViewGroupFooterMode.VisibleAlways;
        settings.CustomJSProperties = (s, e) =>
        {
            MVCxGridView gridView = (MVCxGridView)s;
            var lastVisibleColumn = gridView.VisibleColumns.LastOrDefault();
            e.Properties["cpLastVisibleColumnIndex"] = lastVisibleColumn != null ? lastVisibleColumn.Index : 0;
            e.Properties["cpHiddenColumnCaptions"] = gridView.AllColumns.Where(c => !c.Visible).ToDictionary(c => c.ToString(), c => c.Index);
            e.Properties["cpClientLayout"] = gridView.SaveClientLayout();
            string ColumnToBeShownIndex = "";
            string ColumnToBeHidddenIndex = "";
            if (ColumnTobeHidden.Count > 0)
            {
                ColumnToBeHidddenIndex = String.Join(",", ColumnTobeHidden.ToArray());
            }
            if (ColumnTobeShown.Count > 0)
            {
                ColumnToBeShownIndex = String.Join(",", ColumnTobeShown.ToArray());
            }
            e.Properties["cpColumnToBeShownIndex"] = ColumnToBeShownIndex;
            e.Properties["cpColumnToBeHidddenIndex"] = ColumnToBeHidddenIndex;
        };
        settings.SettingsBehavior.AutoExpandAllGroups = true;
        settings.SettingsBehavior.AllowSelectSingleRowOnly = true;
        settings.Settings.UseFixedTableLayout = true;
        //settings.SettingsBehavior.ColumnMoveMode = GridColumnMoveMode.AmongSiblings;
        settings.SettingsBehavior.AllowSort = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;
        settings.Settings.ShowHeaderFilterButton = true;

        settings.Settings.ShowFilterRow = false;
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;

        settings.SettingsSearchPanel.ShowApplyButton = true;
        settings.SettingsPager.Mode = GridViewPagerMode.ShowPager;
        settings.SettingsPager.PageSize = 25;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.AllButton.Visible = true;
        settings.SettingsSearchPanel.ShowClearButton = true;

        settings.SettingsBehavior.AllowFocusedRow = true;

        settings.Settings.ShowHeaderFilterBlankItems = false;
        settings.SettingsContextMenu.EnableGroupFooterMenu = DefaultBoolean.True;
        settings.AfterPerformCallback = (s, e) =>
        {
            MVCxGridView gridView = s as MVCxGridView;
            gridView.ScrollToVisibleIndexOnClient = gridView.FocusedRowIndex;
            if (e.CallbackName == "COLUMNMOVE")
            {
                if (e.Args[1] == "-1")
                {
                    if (ColumnTobeShown.Count > 0)
                    {
                        if (ColumnTobeShown.Contains(e.Args[0]))
                        {
                            ColumnTobeShown.Remove(e.Args[0]);
                        }
                    }
                    ColumnTobeHidden.Add(e.Args[0]);
                }
                if (Convert.ToInt32(e.Args[1]) > -1)
                {
                    if (ColumnTobeHidden.Count > 0)
                    {
                        if (ColumnTobeHidden.Contains(e.Args[0]))
                        {
                            ColumnTobeHidden.Remove(e.Args[0]);
                        }
                    }
                    ColumnTobeShown.Add(e.Args[0]);
                }
            }
        };
        settings.BeforeGetCallbackResult = (s, e) =>
        {
            MVCxGridView grid = s as MVCxGridView;
            if (ViewMode == "Compact")
            {
                grid.DataColumns["Asset_Compact_Column"].Visible = true;
                grid.DataColumns["ITEM_NAME"].Visible = false;
                grid.DataColumns["Make"].Visible = false;
                grid.DataColumns["Model"].Visible = false;
                grid.DataColumns["AI_PUR_DATE"].Visible = false;
                grid.DataColumns["AI_AMT_FOR_INS"].Visible = false;
                grid.DataColumns["AI_CLOSE_FOR_INS"].Visible = false;
                grid.DataColumns["AI_PUR_AMT"].Visible = false;
                grid.DataColumns["Curr_Value"].Visible = false;
                grid.DataColumns["sale_quantity"].Visible = false;
                grid.DataColumns["Quantity"].Visible = false;
                grid.DataColumns["Curr_Qty"].Visible = false;
                grid.DataColumns["Rate"].Visible = false;
                grid.DataColumns["AL_LOC_NAME"].Visible = false;
                grid.DataColumns["AI_OTHER_DETAIL"].Visible = false;
                grid.DataColumns["Sale_Status"].Visible = false;
                grid.DataColumns["ASSET_TYPE"].Visible = false;
                if (CheckActionRights)
                {
                    grid.DataColumns["Entry_Type"].Visible = false;
                }
                grid.DataColumns["Head"].Visible = false;

                grid.DataColumns["Action_Status"].Visible = false;
                grid.DataColumns["Action_By"].Visible = false;
                grid.DataColumns["Action_Date"].Visible = false;
                grid.DataColumns["Add_By"].Visible = false;
                grid.DataColumns["Add_Date"].Visible = false;
                grid.DataColumns["AI_ADJ_FOR_INS"].Visible = false;
                grid.DataColumns["AI_LOC_AL_ID"].Visible = false;
                grid.DataColumns["Crossed_Time_Limit"].Visible = false;
                grid.DataColumns["Edit_By"].Visible = false;
                grid.DataColumns["Edit_Date"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["AI_ITEM_ID"].Visible = false;
                grid.DataColumns["ITEM_LED_ID"].Visible = false;
                grid.DataColumns["Open_Actions"].Visible = false;
                grid.DataColumns["QR_Code_ID"].Visible = false;
                grid.DataColumns["Remark_Count"].Visible = false;
                grid.DataColumns["Remarks"].Visible = false;
                grid.DataColumns["Remark_Status"].Visible = false;
                grid.DataColumns["AI_SERIAL_NO"].Visible = false;
                grid.DataColumns["TR_ID"].Visible = false;
                grid.DataColumns["Warranty"].Visible = false;
                grid.DataColumns["YearID"].Visible = false;
                grid.DataColumns["REJECTED_COUNT"].Visible = false;
                grid.DataColumns["RESPONDED_COUNT"].Visible = false;
                grid.DataColumns["COMPLETE_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["REQ_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["OTHER_ATTACH_CNT"].Visible = false;
                grid.DataColumns["ALL_ATTACH_CNT"].Visible = false;
                grid.DataColumns["Special_Ref"].Visible = false;
                //settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
            }
            else
            {
                grid.DataColumns["Asset_Compact_Column"].Visible = false;
                grid.DataColumns["ITEM_NAME"].Visible = true;
                grid.DataColumns["Make"].Visible = true;
                grid.DataColumns["Model"].Visible = true;
                grid.DataColumns["AI_PUR_DATE"].Visible = true;
                grid.DataColumns["AI_AMT_FOR_INS"].Visible = true;
                grid.DataColumns["AI_CLOSE_FOR_INS"].Visible = true;
                grid.DataColumns["AI_PUR_AMT"].Visible = true;
                grid.DataColumns["Curr_Value"].Visible = true;
                grid.DataColumns["sale_quantity"].Visible = true;
                grid.DataColumns["Quantity"].Visible = true;
                grid.DataColumns["Curr_Qty"].Visible = true;
                grid.DataColumns["Rate"].Visible = true;
                grid.DataColumns["AL_LOC_NAME"].Visible = true;
                grid.DataColumns["AI_OTHER_DETAIL"].Visible = true;
                grid.DataColumns["Sale_Status"].Visible = true;
                grid.DataColumns["ASSET_TYPE"].Visible = false;
                if (CheckActionRights)
                {
                    grid.DataColumns["Entry_Type"].Visible = false;
                }
                grid.DataColumns["Head"].Visible = false;

                grid.DataColumns["Action_Status"].Visible = false;
                grid.DataColumns["Action_By"].Visible = false;
                grid.DataColumns["Action_Date"].Visible = false;
                grid.DataColumns["Add_By"].Visible = false;
                grid.DataColumns["Add_Date"].Visible = false;
                grid.DataColumns["AI_ADJ_FOR_INS"].Visible = false;
                grid.DataColumns["AI_LOC_AL_ID"].Visible = false;
                grid.DataColumns["Crossed_Time_Limit"].Visible = false;
                grid.DataColumns["Edit_By"].Visible = false;
                grid.DataColumns["Edit_Date"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["AI_ITEM_ID"].Visible = false;
                grid.DataColumns["ITEM_LED_ID"].Visible = false;
                grid.DataColumns["Open_Actions"].Visible = false;
                grid.DataColumns["QR_Code_ID"].Visible = false;
                grid.DataColumns["Remark_Count"].Visible = false;
                grid.DataColumns["Remarks"].Visible = false;
                grid.DataColumns["Remark_Status"].Visible = false;
                grid.DataColumns["AI_SERIAL_NO"].Visible = false;
                grid.DataColumns["TR_ID"].Visible = false;
                grid.DataColumns["Warranty"].Visible = false;
                grid.DataColumns["YearID"].Visible = false;
                grid.DataColumns["REJECTED_COUNT"].Visible = false;
                grid.DataColumns["RESPONDED_COUNT"].Visible = false;
                grid.DataColumns["COMPLETE_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["REQ_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["OTHER_ATTACH_CNT"].Visible = false;
                grid.DataColumns["ALL_ATTACH_CNT"].Visible = false;
                grid.DataColumns["Special_Ref"].Visible = true;
            }
            foreach (GridViewDataColumn column in grid.DataColumns)
            {
                if (ViewMode != "Compact")
                {
                    if (ColumnTobeHidden.Contains(column.Index.ToString()))
                    {
                        column.Visible = false;
                    }
                    if (ColumnTobeShown.Contains(column.Index.ToString()))
                    {
                        column.Visible = true;
                    }
                }

                if (column.Visible)
                    column.Settings.AllowSort = DefaultBoolean.True;
                else
                    column.Settings.AllowSort = DefaultBoolean.False;
            }
        };

        settings.SettingsContextMenu.Enabled = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;
        settings.SettingsContextMenu.RowMenuItemVisibility.DeleteRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.EditRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.NewRow = false;

        settings.FillContextMenuItems = (sender, e) =>
        {
            if (e.MenuType == GridViewContextMenuType.Rows)
            {
                //var Additem = e.CreateItem("New", "New");
                //if(MovAsset_AddRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Additem);

                //var Edititem = e.CreateItem("Edit", "Edit");
                //if(MovAsset_UpdateRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Edititem);

                //var Deleteitem = e.CreateItem("Delete", "Delete");
                //if(MovAsset_DeleteRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Deleteitem);

                //var Viewitem = e.CreateItem("View", "View");
                //if(MovAsset_ViewRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Viewitem);

                var PrintViewitem = e.CreateItem("Export", "ListPreview");
                PrintViewitem.Image.IconID = "actions_hideproduct_16x16devav";
                PrintViewitem.BeginGroup = true;
                if (MovAsset_ExportRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), PrintViewitem);

                var CloseItem = e.CreateItem("Close", "Close");
                CloseItem.Image.IconID = "actions_close_16x16devav";
                CloseItem.BeginGroup = true;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), CloseItem);
            }
        };
        settings.Init = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (ViewMode == "Compact")
            {
                grid.DataColumns["Asset_Compact_Column"].Visible = true;
                grid.DataColumns["ITEM_NAME"].Visible = false;
                grid.DataColumns["Make"].Visible = false;
                grid.DataColumns["Model"].Visible = false;
                grid.DataColumns["AI_PUR_DATE"].Visible = false;
                grid.DataColumns["AI_AMT_FOR_INS"].Visible = false;
                grid.DataColumns["AI_CLOSE_FOR_INS"].Visible = false;
                grid.DataColumns["AI_PUR_AMT"].Visible = false;
                grid.DataColumns["Curr_Value"].Visible = false;
                grid.DataColumns["sale_quantity"].Visible = false;
                grid.DataColumns["Quantity"].Visible = false;
                grid.DataColumns["Curr_Qty"].Visible = false;
                grid.DataColumns["Rate"].Visible = false;
                grid.DataColumns["AL_LOC_NAME"].Visible = false;
                grid.DataColumns["AI_OTHER_DETAIL"].Visible = false;
                grid.DataColumns["Sale_Status"].Visible = false;
                grid.DataColumns["ASSET_TYPE"].Visible = false;
                if (CheckActionRights)
                {
                    grid.DataColumns["Entry_Type"].Visible = false;
                }
                grid.DataColumns["Head"].Visible = false;

                grid.DataColumns["Action_Status"].Visible = false;
                grid.DataColumns["Action_By"].Visible = false;
                grid.DataColumns["Action_Date"].Visible = false;
                grid.DataColumns["Add_By"].Visible = false;
                grid.DataColumns["Add_Date"].Visible = false;
                grid.DataColumns["AI_ADJ_FOR_INS"].Visible = false;
                grid.DataColumns["AI_LOC_AL_ID"].Visible = false;
                grid.DataColumns["Crossed_Time_Limit"].Visible = false;
                grid.DataColumns["Edit_By"].Visible = false;
                grid.DataColumns["Edit_Date"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["AI_ITEM_ID"].Visible = false;
                grid.DataColumns["ITEM_LED_ID"].Visible = false;
                grid.DataColumns["Open_Actions"].Visible = false;
                grid.DataColumns["QR_Code_ID"].Visible = false;
                grid.DataColumns["Remark_Count"].Visible = false;
                grid.DataColumns["Remarks"].Visible = false;
                grid.DataColumns["Remark_Status"].Visible = false;
                grid.DataColumns["AI_SERIAL_NO"].Visible = false;
                grid.DataColumns["TR_ID"].Visible = false;
                grid.DataColumns["Warranty"].Visible = false;
                grid.DataColumns["YearID"].Visible = false;
                grid.DataColumns["REJECTED_COUNT"].Visible = false;
                grid.DataColumns["RESPONDED_COUNT"].Visible = false;
                grid.DataColumns["COMPLETE_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["REQ_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["OTHER_ATTACH_CNT"].Visible = false;
                grid.DataColumns["ALL_ATTACH_CNT"].Visible = false;
                grid.DataColumns["Special_Ref"].Visible = false;
                //settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
            }
            else
            {
                grid.DataColumns["Asset_Compact_Column"].Visible = false;
                grid.DataColumns["ITEM_NAME"].Visible = true;
                grid.DataColumns["Make"].Visible = true;
                grid.DataColumns["Model"].Visible = true;
                grid.DataColumns["AI_PUR_DATE"].Visible = true;
                grid.DataColumns["AI_AMT_FOR_INS"].Visible = true;
                grid.DataColumns["AI_CLOSE_FOR_INS"].Visible = true;
                grid.DataColumns["AI_PUR_AMT"].Visible = true;
                grid.DataColumns["Curr_Value"].Visible = true;
                grid.DataColumns["sale_quantity"].Visible = true;
                grid.DataColumns["Quantity"].Visible = true;
                grid.DataColumns["Curr_Qty"].Visible = true;
                grid.DataColumns["Rate"].Visible = true;
                grid.DataColumns["AL_LOC_NAME"].Visible = true;
                grid.DataColumns["AI_OTHER_DETAIL"].Visible = true;
                grid.DataColumns["Sale_Status"].Visible = true;
                grid.DataColumns["ASSET_TYPE"].Visible = false;
                if (CheckActionRights)
                {
                    grid.DataColumns["Entry_Type"].Visible = false;
                }
                grid.DataColumns["Head"].Visible = false;

                grid.DataColumns["Action_Status"].Visible = false;
                grid.DataColumns["Action_By"].Visible = false;
                grid.DataColumns["Action_Date"].Visible = false;
                grid.DataColumns["Add_By"].Visible = false;
                grid.DataColumns["Add_Date"].Visible = false;
                grid.DataColumns["AI_ADJ_FOR_INS"].Visible = false;
                grid.DataColumns["AI_LOC_AL_ID"].Visible = false;
                grid.DataColumns["Crossed_Time_Limit"].Visible = false;
                grid.DataColumns["Edit_By"].Visible = false;
                grid.DataColumns["Edit_Date"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["AI_ITEM_ID"].Visible = false;
                grid.DataColumns["ITEM_LED_ID"].Visible = false;
                grid.DataColumns["Open_Actions"].Visible = false;
                grid.DataColumns["QR_Code_ID"].Visible = false;
                grid.DataColumns["Remark_Count"].Visible = false;
                grid.DataColumns["Remarks"].Visible = false;
                grid.DataColumns["Remark_Status"].Visible = false;
                grid.DataColumns["AI_SERIAL_NO"].Visible = false;
                grid.DataColumns["TR_ID"].Visible = false;
                grid.DataColumns["Warranty"].Visible = false;
                grid.DataColumns["YearID"].Visible = false;
                grid.DataColumns["REJECTED_COUNT"].Visible = false;
                grid.DataColumns["RESPONDED_COUNT"].Visible = false;
                grid.DataColumns["COMPLETE_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["REQ_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["OTHER_ATTACH_CNT"].Visible = false;
                grid.DataColumns["ALL_ATTACH_CNT"].Visible = false;
                grid.DataColumns["Special_Ref"].Visible = true;
            }

        };
        // DXCOMMENT: Specify the grid's key field name and define grid columns in accordance with data model fields

        //------------------------------------------------//------------------------------------------------//------------------------------------------------//------------------------------------------------
        settings.KeyFieldName = "ID";
        settings.PreRender = (sender, e) =>
        {
            MVCxGridView gridView = sender as MVCxGridView;
            if (gridView != null)
                gridView.FilterExpression = "[ITEM_NAME] Is Not Null";

            if (ViewData["Layout"] != null)
            {
                gridView.LoadClientLayout(ViewData["Layout"].ToString());
            }
        };
        //settings.HeaderFilterFillItems = (s, e) =>
        //{
        //    MVCxGridView grid = (MVCxGridView)s;
        //    if (e.Column.FieldName != "iIcon")
        //    {
        //        return;
        //    }
        //    e.Values.Clear();
        //    e.AddShowAll();
        //    e.AddValue("<img src='../../../../Content/Images/attach_red_2.png' width='20' height='20'</img>", "", "Contains([iIcon], 'RedShield')");//red
        //    e.AddValue("<img src='../../../../Content/Images/attach_yellow_2.png' width='20' height='20'</img>", "", "Contains([iIcon], 'YellowShield')");//Yellow
        //    e.AddValue("<img src='../../../../Content/Images/attach_green_2.png' width='20' height='20'</img>", "", "Contains([iIcon], 'GreenShield')");//green
        //    e.AddValue("<img src='../../../../Content/Images/Completed_With_Remarks.png' width='20' height='20'</img>", "", "Contains([iIcon], 'BlueShield')");//blue
        //    e.AddValue("<img src='../../../../Content/Images/Rejected_Attachment.png' width='20' height='20'</img>", "", "Contains([iIcon], 'RedFlag')");//reject
        //    e.AddValue("<img src='../../../../Content/Images/attach_normal.png' width='20' height='20'</img>", "", "Contains([iIcon], 'RequiredAttachment')");//other
        //    e.AddValue("<img src='../../../../Content/Images/attach_other_plus.png' width='20' height='20'</img>", "", "Contains([iIcon], 'AdditionalAttachment')");//other plus
        //    e.AddValue("<img src='../../../../Content/Images/vAccept.png' width='15' height='15'</img>", "", "Contains([iIcon], 'VouchingAccepted')");//v accept
        //    e.AddValue("<img src='../../../../Content/Images/vReject.png' width='15' height='15'</img>", "", "Contains([iIcon], 'VouchingReject')");//v reject
        //    e.AddValue("<img src='../../../../Content/Images/vAcceptRemark.png' width='15' height='15'</img>", "", "Contains([iIcon], 'VouchingAcceptWithRemarks')");//v remark
        //    e.AddValue("<img src='../../../../Content/Images/aAccept.png' width='15' height='15'</img>", "", "Contains([iIcon], 'AuditAccepted')");//a accept
        //    e.AddValue("<img src='../../../../Content/Images/aReject.png' width='15' height='15'</img>", "", "Contains([iIcon], 'AuditReject')");//a reject
        //    e.AddValue("<img src='../../../../Content/Images/aAcceptRemark.png' width='15' height='15'</img>", "", "Contains([iIcon], 'AuditAcceptWithRemarks')");//a remark
        //};
        settings.Columns.Add(column =>
        {
            column.Name = "iIcon";
            column.Caption = "";
            column.MinWidth = 30;
            column.MaxWidth = 30;
            column.Width = 30;
            column.FieldName = "iIcon";
            column.HeaderStyle.CssClass = "hide-header_iIcon";
            column.CellStyle.Wrap = DefaultBoolean.True;
            column.SetDataItemTemplateContent(c =>
            {
                Int32? iREQ_ATTACH_COUNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "REQ_ATTACH_COUNT");
                Int32? iCOMPLETE_ATTACH_COUNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "COMPLETE_ATTACH_COUNT");
                Int32? iRESPONDED_COUNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "RESPONDED_COUNT");
                Int32? iREJECTED_COUNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "REJECTED_COUNT");
                Int32? iOTHER_ATTACH_CNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "OTHER_ATTACH_CNT");
                Int32? iALL_ATTACH_CNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "ALL_ATTACH_CNT");
                string iIcon = c.Grid.GetRowValues(c.VisibleIndex, "iIcon") == null ? "" : c.Grid.GetRowValues(c.VisibleIndex, "iIcon").ToString();
                string TempID = c.Grid.GetRowValues(c.VisibleIndex, "ID") == null ? "" : c.Grid.GetRowValues(c.VisibleIndex, "ID").ToString();
                TempID = Regex.Replace(TempID, "[^0-9A-Za-z-]+", "_");
                Html.RenderAction("AttachmentIcons", "AuditButton", new { Area = "", ReqAttachCount = iREQ_ATTACH_COUNT, CompleteAttachCount = iCOMPLETE_ATTACH_COUNT, RespondedCount = iRESPONDED_COUNT, RejectedCount = iREJECTED_COUNT, OtherCount = iOTHER_ATTACH_CNT, AllCount = iALL_ATTACH_CNT, SessionGUID = SessionGUID });
                ViewContext.Writer.Write("<div class='Icon_" + c.Grid.UniqueID + TempID + "'>");
                Html.RenderAction("VouchingAuditIcons", "AuditButton", new { Area = "", iIcon = iIcon, SessionGUID = SessionGUID });
                ViewContext.Writer.Write("</div>");
                Html.RenderAction("AuditIconAfterClick", "AuditButton", new { Area = "", Grid = settings.Name, KeyValue = c.KeyValue, VisibleIndex = c.VisibleIndex, SessionGUID = SessionGUID });
                column.AdaptivePriority = 0;
            });
        });
        settings.Columns.Add(column =>
        {
            column.Name = "Asset_Compact_Column";
            column.Width = Unit.Percentage(100);
            column.CellStyle.Wrap = DefaultBoolean.True;
            column.SetDataItemTemplateContent(c =>
            {
                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Item:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|ITEM_NAME' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "ITEM_NAME") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Make:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Make' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Make") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Model:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Model' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Model") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Purchase/Creation Date:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|AI_PUR_DATE' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        Convert.ToDateTime(DataBinder.Eval(c.DataItem, "AI_PUR_DATE")).ToString("dd/MM/yyyy") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Opening Insurance Amount:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|AI_AMT_FOR_INS' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "AI_AMT_FOR_INS") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Closing Insurance Amount:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|AI_CLOSE_FOR_INS' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "AI_CLOSE_FOR_INS") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Opening Value:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|AI_PUR_AMT' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "AI_PUR_AMT") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Curr. Value:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Curr_Value' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Curr_Value") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Sale Qty:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|sale_quantity' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "sale_quantity") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Quantity:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Quantity' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Quantity") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Curr_Qty:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Curr_Qty' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Curr_Qty") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Rate:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Rate' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Rate") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Location:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|AL_LOC_NAME' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "AL_LOC_NAME") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Other Detail:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|AI_OTHER_DETAIL' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "AI_OTHER_DETAIL") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Sale Status:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Sale_Status' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Sale_Status") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>ASSET TYPE:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|ASSET_TYPE' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "ASSET_TYPE") + "</div></div></div></div></div></div></div>");

                if (CheckActionRights)
                {
                    ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Entry Type:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Entry_Type' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Entry_Type") + "</div></div></div></div></div>");
                    ViewContext.Writer.Write(
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Action Status:</label></div>" +
                            "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Action_Status' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Action_Status") + "</div></div></div></div></div></div></div>");

                    ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Head:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Head' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Head") + "</div></div></div></div></div>");
                    ViewContext.Writer.Write(
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Reference:</label></div>" +
                            "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Special_Ref' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Special_Ref") + "</div></div></div></div></div></div></div>");
                }
                else
                {
                    ViewContext.Writer.Write(
                       "<div style='padding:0px 5px 0px 5px'>" +
                       "<div class='row'>" +
                       "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                       "<div class='form-field'>" +
                       "<div class='container-fluid'>" +
                       "<div class='row'>" +
                       "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                       "<label class='control-label'>Reference:</label></div>" +
                       "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Special_Ref' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                       DataBinder.Eval(c.DataItem, "Special_Ref") + "</div></div></div></div></div>");
                }
            });
        });

        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "ITEM_NAME";
                column.Caption = "Item";
                // column.Width = 135;
                column.MinWidth = 125;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Make";
                column.Caption = "Make";
                // column.Width = 100;
                column.MinWidth = 125;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Model";
                column.Caption = "Model";
                //  column.Width = 125;
                column.MinWidth = 125;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "AI_PUR_DATE";
                column.Caption = "Purchase/Creation Date";
                column.ColumnType = MVCxGridViewColumnType.DateEdit;
                column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
                // column.Width = 240;
                column.MinWidth = 125;
            }
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "AI_AMT_FOR_INS";
            c.Caption = "Opening Insurance Amount";
            c.PropertiesEdit.DisplayFormatString = "#,0.00";
            //  c.Width = 240;
            c.MinWidth = 125;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "AI_CLOSE_FOR_INS";
            c.Caption = "Closing Insurance Amount";
            c.PropertiesEdit.DisplayFormatString = "#,0.00";
            c.MinWidth = 125;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "AI_PUR_AMT";
            c.Caption = "Opening Value";
            c.PropertiesEdit.DisplayFormatString = "#,0.00";
            //  c.Width = 150;
            c.MinWidth = 125;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Curr_Value";
            c.Caption = "Curr. Value";
            c.PropertiesEdit.DisplayFormatString = "#,0.00";
            //   c.Width = 130;
            c.MinWidth = 125;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Special_Ref";
            c.Caption = "Reference";
            c.MinWidth = 125;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "sale_quantity";
            c.Caption = "Sale Qty";
            c.PropertiesEdit.DisplayFormatString = "#,0.00";
            //  c.Width = 100;
            c.MinWidth = 125;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Quantity";
            c.Caption = "Quantity";
            c.PropertiesEdit.DisplayFormatString = "#,0.00";
            // c.Width = 100;
            c.MinWidth = 125;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Curr_Qty";
            c.Caption = "Curr Qty";
            c.PropertiesEdit.DisplayFormatString = "#,0.00";
            //  c.Width = 100;
            c.MinWidth = 125;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Rate";
            c.Caption = "Rate";
            c.PropertiesEdit.DisplayFormatString = "#,0.00";
            //  c.Width = 100;
            c.MinWidth = 125;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "AL_LOC_NAME";
            c.Caption = "Location";
            c.MinWidth = 240;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "AI_OTHER_DETAIL";
            c.Caption = "Other Detail";
            //   c.Width = 240;
            c.MinWidth = 125;
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Sale_Status";
            c.Caption = "Sale Status";
            //  c.Width = 120;
            c.MinWidth = 125;
        });

        //settings.GroupSummary.Add(DevExpress.Data.SummaryItemType.Sum, "AI_PUR_AMT").DisplayFormat = "Opening Value Total:{0:#,0.00}";
        settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "AI_PUR_AMT").DisplayFormat = "Grand Total:{0:#,0.00}";

        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "ASSET_TYPE",
            Caption = "ASSET TYPE",
            GroupIndex = 0,
            MinWidth = 125

        });

        if (CheckActionRights)
        {
            settings.Columns.Add(new MVCxGridViewColumn()
            {
                FieldName = "Entry_Type",
                Caption = "Entry Type",
                GroupIndex = 1,
                MinWidth = 125

            });
            settings.Columns.Add(new MVCxGridViewColumn()
            {
                FieldName = "Action_Status",
                Caption = "Action Status",
                GroupIndex = 2,
                MinWidth = 125

            });
            settings.Columns.Add(new MVCxGridViewColumn()
            {
                FieldName = "Head",
                Caption = "Head",
                GroupIndex = 3,
                MinWidth = 125
            });
        }
        else
        {
            settings.Columns.Add("Action_Status").Visible = false;
            settings.Columns.Add("Head").Visible = false;

        }

        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Action_By",
            Caption = "Action By",
            Visible = false,
            MinWidth = 125

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Action_Date",
            Caption = "Action Date",
            Visible = false,
            MinWidth = 125

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Add_By",
            Caption = "Add By",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Add_Date",
            Caption = "Add Date",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "AI_ADJ_FOR_INS",
            Caption = "Adjust Insurance Amount",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "AI_LOC_AL_ID",
            Caption = "AI_LOC_AL_ID",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Crossed_Time_Limit",
            Caption = "CrossedTimeLimit",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Edit_By",
            Caption = "Edit By",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Edit_Date",
            Caption = "Edit Date",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "ID",
            Caption = "ID",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "AI_ITEM_ID",
            Caption = "ITEM ID",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "ITEM_LED_ID",
            Caption = "ITEM_LED_ID",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Open_Actions",
            Caption = "OpenActions",
            Visible = false,
            MinWidth = 125
        });

        //settings.Columns.Add(new MVCxGridViewColumn()
        //{
        //    FieldName = "Open_Actions",
        //    Caption = "Open Actions",
        //    Visible = false
        //});

        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "QR_Code_ID",
            Caption = "QRCodeID",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Remark_Count",
            Caption = "RemarkCount",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Remarks",
            Caption = "Remarks",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Remark_Status",
            Caption = "Remark Status",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "AI_SERIAL_NO",
            Caption = "Serial No.",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "TR_ID",
            Caption = "Tr. ID",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Warranty",
            Caption = "Warranty",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "YearID",
            Caption = "Year ID",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "REJECTED_COUNT",
            Caption = "iREJECTED_COUNT",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "RESPONDED_COUNT",
            Caption = "iRESPONDED_COUNT",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "COMPLETE_ATTACH_COUNT",
            Caption = "iCOMPLETE_ATTACH_COUNT",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "REQ_ATTACH_COUNT",
            Caption = "iREQ_ATTACH_COUNT",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "OTHER_ATTACH_CNT",
            Caption = "OTHER_ATTACH_CNT",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "ALL_ATTACH_CNT",
            Caption = "ALL_ATTACH_CNT",
            Visible = false,
            MinWidth = 125
        });

        // show filter control
        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
        settings.SettingsFilterControl.ViewMode = true ? FilterControlViewMode.VisualAndText : FilterControlViewMode.Visual;
        settings.SettingsFilterControl.AllowHierarchicalColumns = true;// AllowHierarchicalColumns;
        settings.SettingsFilterControl.ShowAllDataSourceColumns = true;//FilterBuilderDemoHelper.Options.ShowAllDataSourceColumns;
        settings.SettingsFilterControl.MaxHierarchyDepth = 1;
        settings.Settings.ShowFooter = true;
        settings.SettingsCustomizationDialog.ShowSortingPage = true;
        settings.SettingsCustomizationDialog.ShowGroupingPage = true;
        settings.SettingsCustomizationDialog.ShowFilteringPage = true;
        settings.SettingsCustomizationDialog.ShowColumnChooserPage = true;

        settings.Settings.ShowGroupedColumns = true;
        settings.Settings.GroupFormat = "{1}";
        settings.ClientSideEvents.Init = "AssetOnInit";
        //settings.ClientSideEvents.CustomizationWindowCloseUp = "Depositsgrid_CustomizationWindowCloseUp";
        settings.ClientSideEvents.ContextMenuItemClick = "AssetContextMenuFunction";
        if (VouchingMode == false)
        {
            settings.ClientSideEvents.RowDblClick = "Asset_dblclickEdit";
        }
        settings.ClientSideEvents.BeginCallback = "AssetGrid_BeginCallBack";
        settings.ClientSideEvents.FocusedRowChanged = "OnAssetGridFocusedRowChanged";
        settings.ClientSideEvents.EndCallback = "OnGridAssetListGrid_EndCallback";
        settings.ClientSideEvents.DetailRowCollapsing = "AssetGrid_DetailRowCollapsing";
        settings.ClientSideEvents.DetailRowExpanding = "AssetGrid_DetailRowExpanding";
        MyExtensions.GridViewHelper.Custom_HeaderFilterFillItems_All(settings);
        MyExtensions.GridViewHelper.CustomGridView(settings);
    }).Bind(Model).GetHtml()
