@*<link href="~/Content/css/base.css" rel="stylesheet" />*@
<div class="notification">
    <div class="heading_circular">
        <h2>Important Circulars &Aacute; Letters<span> From Accounts Department</span> <span class="notification-count"></span></h2>
    </div>
    <ul class="notification-list circular-list list-unstyled clearfix">
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir-135 Annual Audit 2023.pdf">Cir-135 Annual Audit (Except PBKIVV & WRST) वर्ष 2022-23 के संबंध में   </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 134 - Corpus Permission Letter.pdf">Cir-134 Corpus Permission Letter   </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Expenses and Corpus for Centres.pdf">Cir-133 85% खर्च एवं Corpus सहयोग (Donation) की FD के संबंध में   </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 132 - BOB Online Donation Facility.pdf">Cir-132 Online Donations Gateway के द्वारा सहयोग लेने के संबंध में  </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Accounts related information for New Centres.pdf">Important Information for New Centres </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 131 - Online RERF Wing Membership Process.pdf">Cir-131 RERF Wing Membership by Online Mode </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Original documents submission.pdf">Property के original दस्तावेज जमा करने हेतु दिशा निर्देश </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 130 - CSR Contribution Letter for Centres.pdf">Cir 130 - CSR Contribution Letter for Centres</a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 129 - GST on Truck Freight.pdf">Cir - 129 ट्रक किराये पर GST (GST on Truck Freight)</a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Health safety scheme letter 2022-23.pdf">Health Safety Scheme Letter Year 2022-23</a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Waiver_charges_BOB_circular_22_23.pdf">2022-2023- BOB Circular for Bank Charges Waiver</a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/circular_128.pdf">Cir - 128 Changes in rules related to donations, 80G benefit, 85% expenditure and New FDs </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir_127_Foreign_Tour_Expenses_not_from_our_Institutions.pdf">Cir - 127 Foreign Tour Expenses not from our Institutions </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Non_TDS_Certi_197_PBKIVV_22_23.pdf">FD TDS Exemption Certificate of PBKIVV FY 2022-23 </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/TDS_Rate_Chart_FY_2022_23_Revised.pdf">TDS Chart FY 2022-23 </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/TDS_Chart_FY_2021-22.pdf">TDS Chart FY 2021-22 </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Bhandari related rules.pdf">Bhandari related rules </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/cash deposit related rules.pdf">Cash Deposit related rules </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir_125_सोना_चांदी_के_सामानों_बिक्री_के_सम्बन्ध_में.pdf">Cir-125 सोना चांदी के सामानों बिक्री के सम्बन्ध में </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Personal_bank_accounts_of_surrendered_BKs.pdf">Cir 123 - About Personal Bank Accounts of Surrendered BKs </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Circular_121_ BOB_QR_Code.pdf">Cir 121 - About Donation through BOB QR Code </a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir_120_Letter_for_Service_Report.pdf">Cir 120 - Letter for Service Report</a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Circular SSIPS.pdf">Cir 119 - Scheme for Centers of Rajasthan State by Rajasthan Govt.</a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Waiver_charges_SBI_circular_21_24.pdf">2021-2024- SBI Circular for Bank Charges Waiver</a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Waiver_charges_BOB_circular_21_22.pdf">2021-2022- BOB Circular for Bank Charges Waiver</a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Health_safety_scheme_letter_2021_22.pdf">Health Safety Scheme Letter Year 2021-22</a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 113_TDS_194N_Cash_withdrawal_from_bank.pdf">Cir 113 -TDS 194N - Cash withdrawal from bank</a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Original_Title_Deed_Receipt.pdf"><span>Original Title Deed Receipt</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 107-Letter to Centres for Property Original Documents.pdf"><span>Cir 107-Letter to Centres for Property Original Documents</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/FCRA - Letter for centres.pdf"><span>Cir 106 - FCRA - Letter for centres</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/property purchase addl information.pdf"><span>Property Purchase Additional Information</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/property GIFT addl information.pdf"><span>Property Gift Additional Information</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Letter for Centres regarding Contribution in cheque.pdf"><span>Letter for Centres regarding Contribution in cheque</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Foreign payments by Madhuban.pdf"><span>Foreign payments by Madhuban</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Accounting of GST Paid.pdf"><span>Accounting of GST Paid</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 96 - Project Insight - 360 degree Profile.pdf">Cir 96 - <span>Project Insight - 360 degree Profile</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/e-way bill circular.pdf"><span>e-way bill Circular</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 89 - IT on Cash pmt-Non TDS.pdf">Cir 89 - <span>IT on Cash pmt-Non TDS</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/business activities ltr.pdf"><span>Important Letter regarding business activities</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Imp Points - Accounts and Law 1-4-17.pdf"><span>Imp Points - Accounts & Law 1-4-17</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/ConnectOne-Account_Submission.pdf"><span>How to submit Accounts in Connectone?</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 74 - No Agreement for MP-MLA Fund.pdf">Cir 74 - <span>No Agreement for MP-MLA Fund</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 71 - Online payment guidelines.pdf">Cir 71 - <span>Online payment guidelines</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/TDS on Transporter - Declaration (Circular 59).pdf"><span>TDS on Transporter - Declaration</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Regarding Funds From Government or Companies.pdf"><span>Regarding Funds from Government or Companies</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 84 - GST Non Registration.pdf"><span>GST Non Registration</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 83 - Account Writing at all Centres.pdf"><span>Account writing at all Centres</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 65 - Transfer by Chq to ABU.pdf"><span>Transfer by chq to abu</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 62 - Penalty and Interest on TDS.pdf"><span>Penalty and Interest on TDS</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Accounts - Related Suchna.pdf"><span>Accounts Related Suchna</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 31 - Legal Guidelines.pdf"><span>Legal Guidelines</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Notice Board for Centers.pdf"><span>Important Notice Board For Centres</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Contact And Account Details for TDS Transfer.pdf"><span>Contact and Account Details for TDS Transfer to HQ</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/TDS on Doctors.pdf"><span>TDS On Services of Doctors</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/brahma_kumaris_bank_accounts_circular.pdf"><span>SBI circular for Brahmakumaris Saving Bank Accounts</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 107.90  26.06.15 group acs.pdf"><span>BOB Cir for wrong address</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/Cir 57 - Passbook FD name correction.pdf">Cir 57 - <span>Passbook FD name correction</span></a></li>
        <li><a target="_blank" href="https://connectone.app/news/newsfiles/RBI Circular - DBOB.NO.Dir.BC.10-13.03.00-2013-14 dt 01-Jul-2013.pdf"><span>Original RBI Circular dt 01-Jul-2013</span></a></li>


    </ul>
</div>