@using System.Text.RegularExpressions
@using System.Data
@{
    var helpVideos = ViewBag.helpVideos;
    var categories = ViewBag.categories as List<string>;
}
<div class="notification videos">
    <div class="heading_circular">
        <h2>Godly Service Help Videos <span> @Html.ActionLink("View all videos", "HelpVideos", "Home", null, new { target="_blank" }) </span> </h2>
    </div>
    <ul class="notification-list circular-list list-unstyled clearfix">
        @foreach (var item in categories)
        {
            if (item.Equals("Godly Service Report Videos") || item.Equals("Event Registration and Student/Contact Management Videos"))
            {
                if (item.Equals("Godly Service Report Videos"))
                {
                    <li class="lihead">@item/सेवा रिपोर्ट वीडियो</li>
                }
                else if (item.Equals("Event Registration and Student/Contact Management Videos"))
                {
                    <li class="lihead">@item/इवेंट रजिस्ट्रेशन और स्टूडेंट/कांटेक्ट प्रबंधन संबंधित वीडियो</li>
                }
                DataRow[] dr = helpVideos.Select("Category='" + item + "'");
                foreach (var row in dr)
                {
                    <li onclick="VideosOnClick(this,'@row["URL"]')">
                        <img src="../../Content/image/ythumb.jpg">
                        <a href="javascript:void(0)">@row["Title"]</a>
                    </li>
                }
            }
        }        
    </ul>
    <div class="video-popup"> <div class="popup-bg"></div> <div class="popup-content"> <iframe src="" class="ytvideo" allow='autoplay'></iframe> <button class="close-btn" onclick="CloseVideos(this)"><i class="bx bx-x"></i></button> </div> </div>
</div>

<script>
    $(document).ready(function () {

    });
    function VideosOnClick(ele, link) {
        if (link != null && link.length > 0) {
            if (link.includes("?autoplay") == false) {
                link += "?autoplay=1";
            }
        }
        $(".ytvideo").attr("src", link);
        $('.video-popup').fadeIn('slow');
    }
    function CloseVideos(ele) {
        $(".ytvideo").attr("src", "");
        $('.video-popup').fadeOut('slow');
    }
</script>