@using System.Text.RegularExpressions
@using System.Data
@{
    var helpVideos = ViewBag.helpVideos;
    var categories = ViewBag.categories as List<string>;
}
<div class="notification videos">
    <div class="heading_circular">
        <h2>Web App Help Videos <span> @Html.ActionLink("View all videos", "HelpVideos", "Home", null, new { target="_blank" }) </span> </h2>
    </div>
    <ul class="notification-list circular-list list-unstyled clearfix">

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/tmtQ_t2iFcY')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 1 : Connect one में Login करने और Cash book को open करने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/eZeDYvof1rM')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 2 : Cash book में attachment करने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/YZAD5RkIrCI')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 3 : Entry के सामने attachment के indicators और उसमें edit और delete button के प्रयोग के बारे में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/EGjVW_7V9hY')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 4 : Entry में की गई attachment को delete करने और entry के सामने attachment संम्भंधित remark लिखने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/LJ3nan7Qhn8')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 5 : एक ही entry के अंदर multiple item name होने पर, multiple attachment लगाने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/XcJwDs8-OgY')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 6 : किसी period में entry के सामने  attachment का कार्य complete होने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/hZlAWoB2Bx0')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 7 : Mobile से bill / voucher का photo निकालने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/6Py2am3V1b4')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 8 : Entry के सामने पहले से attach की हुई document को परिवर्तन ( EDIT/Change) करने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/r2dMNdBvzJs')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 9 : Entry के सामने  attach की हुई document को delete करने, remarks डालने और उसमे परिवर्तन (Edit/Change) करने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/KXE36ToC8Xs')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 10 : Connect one web में entry के सामने documents, mobile के through attach करने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/9vyrNvKkGrg')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 11 : Document Checking के बारे में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/GcKSyk-MoRk')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 12 : Document Checking में EDIT FUNCTIONALITY के प्रयोग के बारे में  </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/PJBH5-eaOHY')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 13 : Entry के सामने attachment indicators के बारे में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/Niv-SAbAgyg')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 14 : Connect One web में reject हुए documents को correct या ठीक करने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/XDKyQlCB53U')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 15 : Note Book Entry में document attach करने के बारे में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/HJ6i3NS9Bws')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 16 : Examiners के लिए Vouching Audit का परिचय </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/T0wM1OttIYs')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 17 : Bank Profile में Document Attach करने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/4p5JUP1nYHY')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)">  Video 18 : Land & Building Profile में Document Attach करने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/BWFqbwiwAMI')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)">  Video 19 : Vehicle Profile में Document Attach करने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/bqz6bpVokPA')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 20 : Audit Action में Document Attach करने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/QcFt7r6PMVs')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)">  Video 21 : Connectone Web Application User & Rights Management Demo</a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/WDZqxrzqKM4')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)">Video 22 : Introduction to Connectone for New Accountants  </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/dVUEp25Er3s')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)">Video 23 : Connectone के लिए यूजर बनाने एवं यूजर मैनेजमेंट करने की सुविधा सम्बंधित विस्तृत जानकारी </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/rDsGakwB4ts')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)">Video 24 : Connectone वेब में बनाये गए अतिरिक्त यूज़र्स के विंडोज एप्लीकेशन में लॉगिन न करने सम्बंधित विस्तृत जानकारी। </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/_Qr8hcwdJT4')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 25 : Connectone में केवल गॉडली सर्विस रिपोर्ट डालने के लिए अलग से यूजर बनाना सीखने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/E1WcCbqDslc')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 26 : Connectone में ईश्वरीय (गॉडली) सर्विस रिपोर्ट डालने , एडिट करने , डिलीट करने एवं उसमें लगाए गए मीडिया (अटैचमेंट) में और डालने , एडिट करने , डिलीट करने के लिए </a>

        </li>

        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/S7cwDlAX36E?si=WKHdH86jQpvzDXNZ')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 27 : Sale of Assets Entry ( Asset सेल करने की connect one में एंट्री )  </a>

        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/ggnkO907QcE?si=2wzmVPuAFnmifeDx')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 28 : Discarded Movable Assets Entry ( Asset के सम्पूर्ण रीति ख़राब होने पर discard की एंट्री) </a>

        </li>

        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/Z3JqkiRwtns?si=bPuNd_ZXV6XzQ3X7')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 29 : Adjustment of sale amount in new purchases entry ( नई परचेस एंट्री में सेल राशि का एडजस्टमेंट ) </a>

        </li>

        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/J7zOuiyY9v4?si=vb2p8QJzcbveL2QC')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 30 : Vehicle insurance entry (व्हीकल इन्शुरन्स एंट्री) </a>

        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/Ooo-QVbDxi0?si=S5b4IFTAYNCUJF2E')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)">  Video 31 : Matching of Bank passbook with Connect one Bank Transactions(Connectone में डाली गयी बैंक की एंट्रीज को पासबुक से मैच करने सम्बंधित ) </a>

        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/F7t7BR6Qo_A?si=ywydM08o42BC-Y-4')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)">  Video 32 : Identification of negative cash balance in connect one(Connectone में नेगेटिव कॅश बैलेंस पता करने सम्बंधित ) </a>

        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/nEwNiwOsDRE?si=nFj4enXi4nUvT4qJ')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 33 : Doing Advance adjustment in Connectone (Connect One में Advance Adjustment करने के संबंध में )  </a>
        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/hxJqpSZ0ceA?si=DFxcVEYJtQZrZNts')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 34 : Payable Adjustment, Returing Amount and Sale amount Advance (Connect one में Payable Adjustment, Amount को return करना वा Sale amount advance)  </a>
        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/IyxOEXZmz0s?si=uWDmmolAR575ffyg')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 35 : House Rent Deposit Refund Entry (House Rent Deposit Refund को रिकॉर्ड करने के लिए connect one में एंर्टी)  </a>
        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/CuFA0pUGJW0?si=4ixMSFP6OYH7a0zA')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 36 : Adjusting Electricity Deposit refund against bill (Electricity Deposit refund आने पर और बिल के सामने adjust की connect one में एंट्री)  </a>
        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/RJvTBvSo4S4?si=8A4IPVQEgcpXtA7_')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 37 : CSR Donation Relater permission and information (CSR Donation के बारें में जानकारी और मधुबन से Permission)  </a>
        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/Nt8uksAStEM?si=2fXdqez2VmqQ25Ml')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 38 : Regarding CSR Donation Accounting and Ticking CSR reference (CSR Donation Accounting और CSR reference को tick करने के)  </a>
        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/X-BVYyQacIU?si=9rJgqMtNPeKSQf7b')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 39 : Audit Registration process & checking points (Audit Registration करने की विधि और checking points.)  </a>
        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/M6v9FyJ_Sz4?si=6CzNtFfK5P-8xFmv')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 39b : Bank Reconciliation - Checking Bank Balances and updating Clearing Date (बैंक बैलेंस चेकिंग स्क्रीन में बैंक बैलेंस और तारीख कैसे अपडेट करें)  </a>
        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/z14XYu0rK2g?list=PLi19KTTQPejxqA6FTq4g1bUOlq19saBZA')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 40 : What is TDS and on which services is it applied ? (Part 1 - TDS क्या है और किन सर्विसेज़ पर apply होता है)  </a>
        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/CxSL84W1Svw?list=PLi19KTTQPejxqA6FTq4g1bUOlq19saBZA')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 41 : Process of Changing item name in Doantion Entry(डोनैशन एंट्री में item name परिवर्तन करने की विधि)  </a>
        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/vSgq01KhKaw?si=P1KkSL87OrFbjvci')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 42 : Property Register Form Part -1 : Filling Properties information related to Centers (Property Register Form Part -1 : Centers से संबंधित Properties की information भरने के बारे में)  </a>
        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/tZYOR64aVyM?si=0rbrG0DGqIhkr6Lt')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 43 : Property Register Form Part -2 : Properties information related to BK Pathshala or BK Class (Property Register Form Part -2 : BK Pathshala या BK Class से संबंधित Properties की information)  </a>
        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/z0rEBcPjTd8?si=FCMH5RwT2ACRIk3Y')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 44 : How to Export/Print Property Verification Forms (संपत्ति वेरिफिकेशन फॉर्म को एक्सपोर्ट या प्रिंट कैसे करें!)  </a>
        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/dd5SMtmLbYY?si=za6bsy8J5PWASsk9')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 45 : How to download 80G Receipts (10BE Form) ? (80G रसीदें (10BE फॉर्म) कैसे डाउनलोड करें?)  </a>
        </li>
        <li onclick="VideosOnClick(this,'https://www.youtube.com/embed/zIupPvU9ZNM?si=yiMRk4OnSYcQmf3P')">
            <img src="../../Content/image/ythumb.jpg">
            <a href="javascript:void(0)"> Video 46 : How to generate or Cancel the Donation Acknowledgment receipt in Connect One. (कनेक्ट वन में दान रसीद कैसे Generate करें या रद्द करें?)  </a>
        </li>
        <li onclick="VideosOnClick(this,'https://youtube.com/embed/QokUqF8coOU')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Collection Box Voucher - 2 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/00s9dQWNDl4')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)">  Donation Voucher - 2 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/2Orn2rTiwSM')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Donation By Gift Voucher - 2 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/P10dMhTgGwo')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Donation Register - 5 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/skeHHYTwof4')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Internal Transfer Voucher - 3 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/VBsUCjI7Upc')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Notebook - 6 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/YVsOdWYk0J4')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Payment Voucher - Advance Payment - 2 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/bHGqJZYPP0M')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Payment Voucher - Credit Entry - 2 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/JQQC6PKMG7w')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Payment Voucher -  Multiple Item & Cash,Bank,Adjustment, Credit - 5 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/p89mZfYpeT8')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Payment Voucher - Multiple Items in same bill paid in Cash - 2 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/Lm_Cjrzfh7Y')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Payment Voucher - Single Item paid in Cash - 2 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/no9LFaIbuLQ')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Donation Form Printing - 2 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/38INFP4qlL8')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Donation - Requesting a Receipt - 6 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/aHo48CpfT8M')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Make an Entry for New FD - 2 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/NRJVSd6Dkzw')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)">  Make an Entry for FD Close - 5 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/dCauQbVuGig')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Make an Entry for FD Renewal - 4 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/708E-gImzBw')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Payment Voucher - TDS Specific Entry - 5 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/9UVgBr70AKo')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Payment Voucher - Land & Building Part-1 - 3 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/8-9G9nZsS3c')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Payment Voucher - Land & Building Part-2(Construction Related) - 8 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/51F0sh_Ecf4')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Creating a New/Existing Saving Bank Account - 2 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/S3Uo6sLonDg')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Receipt Voucher - Refunds od Advances and Deposits - 8 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/bCKvoDDBP94')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Receipt Voucher - Saving Bank & Others - 2 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/ySEECgB15RQ')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Journal Voucher - Discarding a Movable Asset - 2 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/S7Ozrc3SIZA')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Resetting Password if you Forget Password - 3 mins </a>

        </li>

        <li class="lihead">ConnectOne Web Online Audit Videos</li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/9D9_NXUtxNk')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 1 : Connect One Web में audit start करने से पहले Windows Application में Audit Info को देखने और Password change करने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/1UddyIZJMvs')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 2 : Connect One Web Module में Donation Register में Audit करने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/t5f35I08pbA')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 3 : Connect One Web Module में Cash Book में Vouching करने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/f_tTwEhmPnM')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 4 : Daily Balance Report और Universal Document में passbook के through Bank Reconciliation करने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/xszOp16z8KY')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 5 : Audit के दौरान Notes और Audit Action Facility को प्रयोग करने के बारे में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/EHJJmu7okAk')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 6 : Audit के दौरान Online Audit के सम्बन्ध में Google Drive में रखी files के बारे में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/1aGt5dF63s0')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 7 : Audit के दौरान Online Audit में Attachments को Link और Unlink (Delete) करने के सम्बन्ध में </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/VNQEgn_6p2w')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Video 8 : Connect One Web में Note Book Entries की vouching करने के सम्बन्ध में </a>

        </li>


        @*<li class="lihead">General Accounts related videos</li>
            <li onclick="VideosOnClick(this,'https://youtube.com/embed/')"><video controls preload="none"><source src="http://accountserver.bkinfo.in/ConnectOne/Videos/TRAININGSESSION180311-Part1.mp4" type="video/mp4" /></video><a href="http://accountserver.bkinfo.in/ConnectOne/Videos/TRAININGSESSION180311-Part1.mp4" target="_blank"> Basic ConnectOne Usage and Profile(Part-1) - 35 mins</a></li>
            <li onclick="VideosOnClick(this,'https://youtube.com/embed/')"><video controls preload="none"><source src="http://accountserver.bkinfo.in/ConnectOne/Videos/TRAININGSESSION180311-Part2.mp4" type="video/mp4" /></video><a href="http://accountserver.bkinfo.in/ConnectOne/Videos/TRAININGSESSION180311-Part2.mp4" target="_blank"> Basic ConnectOne Usage and Profile(Part-2) - 35 mins</a></li>
            <li onclick="VideosOnClick(this,'https://youtube.com/embed/')"><video controls preload="none"><source src="http://accountserver.bkinfo.in/ConnectOne/Videos/TRAININGSESSION180311-Part3.mp4" type="video/mp4" /></video><a href="http://accountserver.bkinfo.in/ConnectOne/Videos/TRAININGSESSION180311-Part3.mp4" target="_blank"> Basic ConnectOne Usage and Profile(Part-3) - 43 mins</a></li>*@




        <li class="lihead">Magazine Module related videos(To be done only Once while starting in Connectone)</li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/bXDWoHNh6Xg')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Managing Magazine related information - 5 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/5W6_7yiW4wc')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)">  Managing Magazine Subscription Types - 6 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/SX4gTNzTvRk')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Managing Magazine Subscription Types Fees - 4 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/jXESbEFO1Tc')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)">  Managing Magazine Master - 5 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/agTRU4f3jrw')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Managing Magazine Issues - 7 mins </a>

        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/AeR01O3RduQ')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Managing Magazine Dispatch Types - 4 mins </a>
        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/NGwSn7ohKEg')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Printing Labels & Reports in Dispatch Register - 10 mins </a>
        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/HQe2dnxaXMM')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Creating and Managing Opening Memberships - 4 mins </a>
        </li>

        <li class="lihead">Magazine Module related Regular videos</li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/g0ROkHW24Ec')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Adding a New Member for Subscription - 15 mins </a>
        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/a0lAr0eXoD8')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Searching a Existing Member - 8 mins </a>
        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/cDg82zaz0EM')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Checking Due Balance for Existing Member - 3 mins </a>
        </li>

        <li onclick="VideosOnClick(this,'https://youtube.com/embed/qs-mNcxScuE')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Posting payment received from Existing Member - 3 mins </a>
        </li>
        <li onclick="VideosOnClick(this,'https://youtube.com/embed/RQgkFeLwev0')">
            <img src="../../Content/image/ythumb.jpg" />
            <a href="javascript:void(0)"> Extending Subscription for Existing Member - 3 mins</a>
        </li>
    </ul>
    <div class="video-popup"> <div class="popup-bg"></div> <div class="popup-content"> <iframe src="" class="ytvideo" allow='autoplay'></iframe> <button class="close-btn" onclick="CloseVideos(this)"><i class="bx bx-x"></i></button> </div> </div>
</div>

<script>
    $(document).ready(function () {

    });
    function VideosOnClick(ele, link) {
        if (link != null && link.length > 0) {
            if (link.includes("?autoplay") == false) {
                link += "?autoplay=1";
            }
        }
        $(".ytvideo").attr("src", link);
        $('.video-popup').fadeIn('slow');
    }
    function CloseVideos(ele) {
        $(".ytvideo").attr("src", "");
        $('.video-popup').fadeOut('slow');
    }
</script>