
@{
    Layout = "";
    string firebaseDevicetoken = Model;
    string GUID = Guid.NewGuid().ToString();

    string URL_CO_Centre = "https://Connectonedev.bkivv.app/Start/Login/Frm_COD_Selection?deviceToken=" + firebaseDevicetoken;
    string URL_CO_Auditor = "https://Connectonedev.bkivv.app/Start/Login/Frm_Auditor_Login?deviceToken=" + firebaseDevicetoken;
    string URL_ServiceModule = "https://connectonetestservices.bkinfo.in/Events/Login/loginpartialview?firebaseDevicetoken=" + firebaseDevicetoken + "&SessionGuid=" + GUID;


}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <title>Android_HomePage_2</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&amp;display=swap" rel="stylesheet">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CSS/Pledge/pledge.css" rel="stylesheet">
</head>
<body style="font-family: Merriweather, serif; background: #fff; color: #000;">


    <table align="center" border="0" cellpadding="0" cellspacing="0" class="stackhead" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #0d273b; width: 800px;" width="800">
        <tbody>
            <tr>
                <td class="pld-icn" style="vertical-align: middle;">
                    <img align="left" style="background:#fff; float:left" width="120" height="120" src="https://connectone.app/Content/Images/Logos/INS_00001.jpg">
                    @*<img align="right" width="120"  height="120" style="float:right" src=@Model.instituteLogoURL>*@
                </td>
            </tr>

            <tr>
                <td class="pld-head" style="font-weight: 400; text-align: left; vertical-align: middle; border:0; text-align: center" width="100%">
                    <h6 style="margin-top:10px"><b>@Model</b> </h6>
                    @*<h4 style="margin-top: 15px; font-size:16px">Donation Receipt (Form 10BE)</h4>*@
                </td>
            </tr>
        </tbody>
    </table>

    <br />

    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 800px; table-layout: fixed" width="800">
        <tbody>
            <tr>
                <td>
                    <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="@URL_CO_Centre">Connectone Application - ARP </a>
                    <br />
                    <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="@URL_CO_Auditor">Connectone Application - Auditor </a>
                    <br />
                    <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="@URL_ServiceModule">Service Module - Device Token</a>
                    <br />
                    <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="https://connectonetest.bkinfo.in">ConnectOne Test Normal</a>
                    <br />
                    <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="https://connectonetestservices.bkinfo.in">Service Module Normal</a>
                    <br />
                    <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="https://connectone.app/start/home/Circulars">Circulars from Accounts Dept</a>
                    <br />
                    <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="http://amritmahotsav.bkinfo.in/">Post Sewa Report for Amrit Mahotsav</a>
                    <br />
                    <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="https://services.connectone.app/feedbacks/askquery/askqueryMain_info?QueryFor=connectone">Suggestions / Tasks for Connectone</a>
                    <br />
                    <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="https://services.connectone.app/feedbacks/askquery/askqueryMain_info?QueryFor=connectone">Report Bugs for Connectone</a>
                    <br />
                    <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="https://connectone.app/Profile/DetailInfo/CheckAuditStatusPage">Check Audit Status</a>
                    <br />
                    <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="http://accountserver.bkinfo.in/videos.aspx">Connectone Videos (including Web)</a>
                    <br />
                    <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="https://sites.google.com/bkivv.org/connectonenotifications/home?authuser=1">Connectone Notifications</a>
                    <br />
                    <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="http://accountserver.bkinfo.in/connectonesetup.html">Connectone Installer</a>
                    <br />
                    <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="http://centers.bkinfo.in/">Search a Center</a>
                    <br />
                    <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vQdm0X1MFagNyNqm1Q-s0zQF9W_B-f4Ql6ExUaqs0TAg3TWnH-4gYWpiJuOZNCFx06UXLfQhl6gUUgU/pubhtml?gid=0&single=true">Contact Us</a> 
                    <br />
                    <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="http://www.brahmakumaris.com/about-us/">About us</a>
                    <br />
                    <a id="Charts" style="margin:0 auto 30px; text-align: center;" href="https://Connectonedev.bkivv.app/charts_index.html">Charts</a>
                    <br />
                    <a id="CO_Centre" style="margin:0 auto 30px; text-align: center;" href="https://connectonedevservices.bkivv.app/ViewChartUser/11">[11]MBM Registration</a>
                    <br />
                    <br />
                    <a id="CO_Auditor" style="margin:0 auto 30px; text-align: center;" href="https://connectonedevservices.bkivv.app/Viewchartuser/13">[13]MBM Travel Details</a>
                    <br />
                    <br />
                    <a id="ServiceModule" style="margin:0 auto 30px; text-align: center;" href="https://connectonedevservices.bkivv.app/ViewChartUser/5">[5]Divya Basant Painting Competition</a>
                    <br />
                    <br />
                    <a id="Charts" style="margin:0 auto 30px; text-align: center;" href="https://connectonedevservices.bkivv.app/ViewChartUser/8">[8]Divya Basant Fest Registration</a>
                    <br />
                    <br />
                    <a id="Charts" style="margin:0 auto 30px; text-align: center;" href="https://connectonedevservices.bkivv.app/form/61">Form 61</a>
                    <br />
                    @*<a target="_blank" style="margin:0 auto 30px; text-align: center;" href="http://accountserver-test.bkinfo.in:1011/Viewchartuser/5">[5] Divya Basant National Painting Contest cum Workshop Registration Form</a>
                        <br />
                        <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="http://accountserver-test.bkinfo.in:1011/Viewchartuser/8">[8] Divya Basant International Cultural Fes</a>
                        <br />
                        <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="http://accountserver-test.bkinfo.in:1011/Viewchartuser/5">[11] 46th Mind Body Medicine Conference</a>
                        <br />
                        <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="http://accountserver-test.bkinfo.in:1011/Viewchartuser/5">[13] 46th Mind Body Medicine Conference</a>
                        <br />
                        <a target="_blank" style="margin:0 auto 30px; text-align: center;" href="http://accountserver-test.bkinfo.in:1011/Viewchartuser/15">[15] Admission in KhushiRaji Home, Ahmedabad</a>*@

                </td>
            </tr>
        </tbody>
    </table>

    <br />


    <hr>
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-size:13px; color: #000000; width: 800px; margin-bottom:30px; table-layout: fixed" width="800">
        <tbody>
            <tr>
                <td>
                    **--OM SHANTI--**
                    <br />

                    <br />

                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
