<div class="ui vertical right sidebar menu">
    <div class="p-3 pb-0">
        <h5>Choose app theme:</h5>
    </div>
    <div class="ui relaxed divided list" id="ChooseThemeDiv">
        <a class="item">
            <input type="radio" checked=checked name="theme" value="blue" id="th_blue" />
            <label class="th_blue" for="th_blue">Blue</label>
        </a>
        <a class="item">
            <input type="radio" name="theme" value="lightblue" id="th_lightblue" />
            <label class="th_lightblue" for="th_lightblue">Light Blue</label>
        </a>
        <a class="item">
            <input type="radio" name="theme" value="red" id="th_red" />
            <label class="th_red" for="th_red">Red</label>
        </a>
        <a class="item">
            <input type="radio" name="theme" value="white" id="th_white" />
            <label class="th_white" for="th_white">White</label>
        </a>
        <a class="item">
            <input type="radio" name="theme" value="dark" id="th_dark" />
            <label class="th_dark" for="th_dark">Dark</label>
        </a>
    </div>
    <div class="p-3">
        <a class="ui basic button" onclick="applyTheme('@Model')">Apply Theme</a>
    </div>
</div>