@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.UserOrder_Period
<style>
    .dx-button-has-icon .dx-button-content {
        padding-right: 8px !important;
    }

    .dx-toolbar-after .dx-button-content {
        padding-right: 0px !important;
    }
</style>


@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}

<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .margTB2 {
        margin-top: 2px !important;
        margin-bottom: 2px !important;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div>
    @using (Ajax.BeginForm("Frm_Change_Period_Screen_UO", "UserOrder",
           new AjaxOptions
           {
               HttpMethod = "POST",
               UpdateTargetId = "Frm_Change_Period_Screen_UO",
               InsertionMode = InsertionMode.InsertAfter,
               OnBegin = "AjaxBeginFormPost",
               OnSuccess = "Frm_Change_Period_Screen_UO_Success"
           },
            new
            {
                id = "id_Frm_Change_Period_Screen_UO",
                @class = "edit_form"
            }))
    {
        using (Html.DevExtreme().ValidationGroup())
        {
            <div class="row">
                <div class="form-field" style="padding-bottom:7px;">
                    <div class="container-fluid mb_height27">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label  text-red" for="Name">From:</label></div>
                            <div class="col-sm-9 col-md-9 col-lg-9 prm">
                                <div class="dx-texteditor dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        @(Html.DevExtreme().DateBox().ID("UO_Fromdate").CustomDateBox().Name("UO_Fromdate").Min(Model.UO_OpenDate).Max(Model.UO_CloseDate).Value(Convert.ToDateTime(Model.UO_Fromdate)).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[From Date]-->

                <div class="form-field" style="padding-bottom:7px;">
                    <div class="container-fluid mb_height27">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label  text-red" for="Name">To :</label></div>
                            <div class="col-sm-9 col-md-9 col-lg-9 prm">
                                <div class="dx-texteditor dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">

                                        @(Html.DevExtreme().DateBox().ID("UO_Todate").CustomDateBox().Name("UO_Todate").Min(Model.UO_OpenDate).Max(Model.UO_CloseDate).Value(Convert.ToDateTime(Model.UO_Todate)).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }) )

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[To Date]-->
            </div><!--[row]-->

            <div class="row">
                <div class="form-field wbg brd-bot-none">
                    <div class="col-lg-6 col-xs-12"></div>
                    <div class="col-lg-6 col-xs-12 styleActionBtn">
                        @(Html.DevExtreme().Button().CustomSaveButton().ID("UOChangePeriod").Text("Ok").FocusStateEnabled(true).UseSubmitBehavior(true) )
                        @(Html.DevExtreme().Button().CustomCloseButton().ID("UOChangePeriodCancel").Text("Cancel").FocusStateEnabled(true).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                    </div>
                </div>
            </div><!--[button]-->
        }
    }
</div>
<script>
    function Frm_Change_Period_Screen_UO_Success(data) {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, 'Error!!');
        }
        else {
            var FromDate = $("#UO_Fromdate").dxDateBox("instance").option("value");
            var ToDate = $("#UO_Todate").dxDateBox("instance").option("value");

        //if (ToDate < FromDate)
        //{
        //    DevExpress.ui.dialog.alert("To Date Should Not Be Less Than From Date..!!", 'Inform!');
        //    return;
        //}
        var tomonth = ToDate.getMonth() + 1;
        var frommonth = FromDate.getMonth() + 1;
        var Fromdatefordisplay = FromDate.getDate() + "-" + frommonth + "-" + FromDate.getFullYear();
        var Todatefordisplay = ToDate.getDate() + "-" + tomonth + "-" + ToDate.getFullYear();
        FromDate = frommonth + "-" + FromDate.getDate() + "-" + FromDate.getFullYear();
        ToDate = tomonth + "-" + ToDate.getDate() + "-" + ToDate.getFullYear();

            $("#UO_BE_View_Period").dxTextBox("instance").option("value", "Fr.:" + Fromdatefordisplay + " " + "To:" + Todatefordisplay);
        
            UserOrderListGrid.Refresh();
       
            $("#Dynamic_Content_popup").dxPopup("hide");

        }

    }
    $(document).ready(function ()
    {
        setTimeout(function ()
        {
            $("#UO_Fromdate").dxDateBox("instance").focus();
        }, Timeout500);
    })
</script>

