<div class="DocumentLibrary_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Account.Models.Frm_Doc_Library_Models
    @{
        ViewBag.Title = "Index";
        Layout = null;
    }

    <style>
        .overflow-scrollD {
            overflow-y: scroll;
            height: 344px;
            overflow-x: hidden;
            border-bottom: 1px solid #dfdfdf;
            margin-bottom: 6px;
        }

        .dx-popup-content {
            overflow: hidden !important;
        }

        .openfile {
            margin-right: 13px;
            float: left;
            display: inline-block;
            width: 4%;
            padding-top: 5px;
        }

            .openfile i {
                font-size: 20px;
                color: #24882b;
            }

        .rightspan {
            display: inline-block;
            float: left;
            width: 90%;
        }
    </style>
    <link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet"><!--[css for fontawesome]-->
    <div id="Frm_Window_Content">

        <div class="full-width-header-bg">
            <div class="row">

                <div class="col-sm-8 prm">
                    <h3 class="popuphead" style="padding-left:10px"><i class="fas fa-edit keyicon"></i> Documents Library</h3>
                </div>

            </div>
        </div>
        <!--[]-->

        <div class="col-md-12 no-padding">
            <form>
                <div id="DocLibraryreloadPartialView" class="parent_table">
                    @Html.Partial("Frm_Doc_Library_Grid", Model.GridView1)
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-12 prm">
                            <span class="openfile"><i class="fa fa-file" aria-hidden="true"></i></span><span class="rightspan" style="color:red;">To open any document of this library it's required Adobe Reader / Foxit Reader or any PDF Reader / Viewer.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="col-sm-12 styleActionBtn">
                        @(Html.DevExtreme().Button()
                              .ID("ChangepasswordOK")
                              .Text("Open")
                              .FocusStateEnabled(true)
                              .Icon("fa fa-check-circle fa-sm")
                              .Visible(false)
                             // .OnClick("downloadandopenfile")
                    )
                        @(Html.DevExtreme().Button()
                                                                                .ID("DocLibCancel")
                                                                                .Text("Close")
                                                                                .Icon("fa fa-times-circle fa-sm")
                                                                                //  .Width(90)
                                                                                .FocusStateEnabled(true)
                                                                                .OnClick(@<text>
                                                                                    function () {
                                                                                    $("#Dynamic_Content_popup").dxPopup("hide");
                                                                                    }
                                                                                </text>)
                    )
                    </div>


                </div>

            </div>
        </div>

    </div>

    <script>
        var ID;
        var Title;
        var Category;
        var FileName;
        var FileLocationPath;
        function Doc_Lib_begincallback(s, e) {
            e.customArgs["command"] = e.command;
        }
        function Doc_Lib_endcallback(s, e) {
            Doc_Lib_Grid_AdjustSize(s, e);
        }

        function Doc_Lib_Grid_AdjustSize(s, e) {
            var height = (document.documentElement.clientHeight * 90) / 100;
            s.SetHeight(height);
        }
        //function Doc_Lib_FocusedRowChanged(s, e) {
        //    debugger
        //    if (s.GetFocusedRowIndex() == -1) {
        //        ID = null;
        //    }
        //    else {
        //        ID= s.GetRowKey(s.GetFocusedRowIndex());
        //        s.GetValuesOnCustomCallback({ key: ID }, Doc_Lib_OnGetRowValues);
        //    }

        //}

        //function Doc_Lib_OnGetRowValues(data) {
        //    debugger
        //    var value = data.split('![');
        //    ID = value[0];
        //    Title = value[1];
        //    Category = value[2];
        //    FileName = value[3];
        //    FileLocationPath = value[4];
        //    }

        //function Doc_Lib_dblclickEdit(s, e) {
        //    downloadandopenfile();
        //}
        function Doc_Lib_ContextMenuClick(s, e) {
            if (e.item.name == 'Close') {
                $("#Dynamic_Content_popup").dxPopup("hide");
            }

        }

    </script>
    <script>

        function downloadandopenfile() {
            debugger
            if (!ID) {
                DevExpress.ui.dialog.alert('Please Select One Document', 'Alert');
                return;
            }
            //var fileName = keys[0].FileName;

            $.ajax({
                type: 'POST',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                traditional: true,
                url: "/Account/DocumentsLibrary/View_Document",
                //  data: JSON.stringify({ Doc_Filename: keys[0].FileName, Title: keys[0].Title }),
                data: JSON.stringify({
                    Doc_Filename: FileName,
                    Title: Title,
                }),
                cache: false,
                success: function (resultsuccess) {
                    alert(resultsuccess.result)
                },
                error: function (resulterror) {
                    console.log(resulterror);
                },
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            sessionclearpath = "/Account/DocumentsLibrary/SessionClear";
        });
    </script>
</div>