<style>
    .wdfull {
        width: 100%;
    }

    td {
        width: auto;
    }

    .width1200px {
        width: 1200px;
    }

    .margT12 {
        margin-top: 12px !important;
    }

    .fs22 {
        font-size: 22px !important;
    }

    .form-field_new {
        margin: 0px 0px;
        padding: 1px 4px 1px 4px;
        box-shadow: 1px 1px 0 0px #89b9eb inset, 1px 1px 0 0px #89b9eb;
        background: #fff;
    }

    .blue-text1 {
        color: #44a5ef !important;
    }

    .underline {
        display: block;
        height: 2px;
        border-bottom: 1px solid #ccc;
    }

    .dx-button-has-icon .dx-button-content {
        height: 64px !important;
    }

    .dx-button {
        border-color: #9fcdfc !important;
    }

    .iconsize {
        font-size: 36px !important;
    }

    .dx-button-has-icon .dx-button-content {
        padding-left: 36px !important
    }

    .dx-button-has-text .dx-button-content {
        padding: 2px 8px;
        min-width: 60px !important;
    }

    .dx-button-has-text .dx-icon {
        width: 34px;
    }

    .dx-button-has-icon .dx-icon {
        height: 20px;
    }
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<form action="" class="edit_form">
    <div class="full-width-header-bg2">
        <div class="row">

            <div class="col-sm-8">
                <h3 class="popuphead"><i class="far fa-edit"></i> Membership Renewal</h3>
            </div>
            <div class="col-sm-4 prm">
                <h5 class="mand-txt-align">
                    <i class="fas fa-info-circle"></i> Red Fields are mandatory
                </h5>
            </div>
        </div>
    </div><!--[]-->
    <div class="row">
        <div class="">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label margB0 text-red" for="user">Voucher Date:</label></div>
                            <div class="col-sm-8 col-md-8 col-lg-8 prm pll4">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <select name="" class="dx-texteditor-input appear">
                                            <option value="0">DD-MM-YYYY</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[1]-->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label opacityClass1 blue-text1 margB0" for="user">Item Name:</label></div>
                            <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <select name="" class="dx-texteditor-input appear">
                                            <option value="0"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[2]-->
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label opacityClass1  blue-text1 margB0" for="user">Vocher No.:</label></div>
                            <div class="col-sm-8 col-md-8 col-lg-8 prm pll4">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" Placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[1]-->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label opacityClass1  blue-text1 margB0" for="user">Head:</label></div>
                            <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" Placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[2]-->
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4 pll">
                            <label class="control-label" for="user">
                                Member Details:
                                <span class="underline"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label margB0 text-red" for="user">Member Name:</label></div>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <div class="row">
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                <div class="dx-texteditor-container">
                                                    <select name="" class="dx-texteditor-input appear">
                                                        <option value="0"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <div class="width100p">
                                                <div class="dx-button dx-button-normal dx-widget dx-button-has-text width100p" role="button" aria-label="Price History" tabindex="0">
                                                    <a href="javascript:void(0);" class="link-txt">
                                                        <div class="dx-button-content" style="padding:0px 8px !important;">
                                                            <span class="dx-button-text">Search</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label margB0" for="user">Address:</label></div>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9 col-sm-push-3">
                                    <div class="row">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <input class="dx-texteditor-input" type="text" Placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <input class="dx-texteditor-input" type="text" Placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <input class="dx-texteditor-input" type="text" Placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-2 col-lg-2">
                                            <div class="form-field_new">
                                                <label class="control-label margB0" for="user">City:</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-md-10 col-lg-10">
                                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                <div class="dx-texteditor-container">
                                                    <input class="dx-texteditor-input" type="text" Placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <div class="row">
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-field_new">
                                                        <label class="control-label margB0" for="user">Pincode:</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 col-md-8 col-lg-8">
                                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                        <div class="dx-texteditor-container">
                                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <div class="row">
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-field_new">
                                                        <label class="control-label margB0" for="user">District:</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 col-md-8 col-lg-8">
                                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                        <div class="dx-texteditor-container">
                                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <div class="row">
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-field_new">
                                                        <label class="control-label margB0" for="user">State:</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 col-md-8 col-lg-8">
                                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                        <div class="dx-texteditor-container">
                                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <div class="row">
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="form-field_new">
                                                        <label class="control-label margB0" for="user">Country:</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 col-md-8 col-lg-8">
                                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                        <div class="dx-texteditor-container">
                                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-sm-pull-9">
                                    <div id="But_PersAdd" class="dx-button dx-button-normal dx-widget dx-button-has-icon dx-button-has-text dx-state-hover" role="button" aria-label="Add Party Ctrl+A" tabindex="0" style="width:100%;">
                                        <div class="dx-button-content">
                                            <i class="dx-icon fa fa-user-plus btn-icons perscolor icon-rgt-space5 iconsize"></i>
                                            <span class="dx-button-text">Edit <br /> Member <br /> Ctrl+E</span>
                                        </div>
                                    </div>
                                    <div id="But_PersAdd" class="dx-button dx-button-normal dx-widget dx-button-has-icon dx-button-has-text dx-state-hover" role="button" aria-label="Add Party Ctrl+A" tabindex="0" style="width:100%;">
                                        <div class="dx-button-content">
                                            <i class="dx-icon fa fa-user btn-icons perscolor icon-rgt-space5 iconsize"></i>
                                            <span class="dx-button-text">Manage Member Ctrl+M</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label margB0 text-red" for="user">Centre Name:</label></div>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="row">
                                <div class="col-sm-3 col-md-6 col-lg-6">
                                    <div class="form-field_new"><label class="control-label margB0 blue-text1" for="user">Membership No.:</label></div>
                                </div>
                                <div class="col-sm-9 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-6 col-lg-6">
                                    <div class="form-field_new">
                                        <label class="control-label margB0" for="user">Tel. No(s).:</label>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-6 col-lg-6">
                                    <div class="form-field_new">
                                        <label class="control-label margB0" for="user">Mobile No(s).:</label>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-6 col-lg-6">
                                    <div class="form-field_new">
                                        <label class="control-label margB0" for="user">Email(s):</label>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-6 col-lg-6">
                                    <div class="form-field_new">
                                        <label class="control-label margB0" for="user">Qualification:</label>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-6 col-lg-6">
                                    <div class="form-field_new">
                                        <label class="control-label margB0" for="user">occupation:</label>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-6 col-lg-6">
                                    <div class="form-field_new">
                                        <label class="control-label margB0" for="user">Birth-Date:</label>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-6 col-lg-6">
                                    <div class="form-field_new">
                                        <label class="control-label margB0" for="user">Age:</label>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-6 col-lg-6">
                                    <div class="form-field_new">
                                        <label class="control-label margB0 blue-text1" for="user">Centre UID:</label>
                                    </div>
                                </div>
                                <div class="col-sm-9 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[1]-->
    </div><!--[row]-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4 pll">
                            <label class="control-label" for="user">
                                Subscription Details:
                                <span class="underline"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label margB0" for="user">Start Date:</label></div>
                                <div class="col-sm-6 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <select name="" class="dx-texteditor-input appear">
                                                <option value="0">DD-MM-YYYY</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[1]-->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="row">
                                <div class="col-sm-6 col-md-8 col-lg-8 pll"><label class="control-label text-red margB0" for="">Subscription Fee:</label></div>
                                <div class="col-sm-6 col-md-4 col-lg-4 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[2]-->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label text-red margB0" for="">Arrears Fee:</label></div>
                                <div class="col-sm-6 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[3]-->
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label text-red margB0" for="user">Membership:</label></div>
                                <div class="col-sm-6 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <select name="" class="dx-texteditor-input appear">
                                                <option value="0">Select Membership...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[1]-->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="row">
                                <div class="col-sm-6 col-md-8 col-lg-8 pll"><label class="control-label margB0" for="">Old Memebership No.:</label></div>
                                <div class="col-sm-6 col-md-4 col-lg-4 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[2]-->
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label text-red margB0" for="">Advance Fee:</label></div>
                                <div class="col-sm-6 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[3]-->
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label text-red margB0" for="user">Period Till:</label></div>
                                <div class="col-sm-6 col-md-6 col-lg-6 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <select name="" class="dx-texteditor-input appear">
                                                <option value="0">Select Period...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[1]-->
                        <div class="col-sm-6 col-md-8 col-lg-8">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-lg-4 pll"><label class="control-label margB0" for="">Wing Name:</label></div>
                                <div class="col-sm-6 col-md-8 col-lg-8 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <select name="" class="dx-texteditor-input appear">
                                                <option value="0"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[2]-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4 pll">
                            <label class="control-label" for="user">
                                Bank Payment:
                                <span class="underline"></span>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-xs-12 table-responsive overflow-scroll scrollbar">
                            <table class="dxgvControl_MetropolisBlue dxgv resp-table-one" style="width: 100%; border-collapse: separate;" tabindex="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table style="width:100%;">
                                                <thead>
                                                    <tr class="dxgvArm">
                                                        <td colspan="4"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Sr.</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Mode</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Amount</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Bank Name</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Branch</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>No.</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Date</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Clearing Date</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Deposited Date</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                        <td class="bortabl" style="border-left:none">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl" style="border-right:none">
                                                            <div></div>
                                                        </td>
                                                    </tr>
                                                    <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                        <td class="bortabl" style="border-left:none">
                                                            <div>&nbsp;</div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl" style="border-right:none">
                                                            <div></div>
                                                        </td>

                                                    </tr>
                                                    <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                        <td class="bortabl" style="border-left:none">
                                                            <div>&nbsp;</div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl" style="border-right:none">
                                                            <div></div>
                                                        </td>
                                                    </tr>
                                                    <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                        <td class="bortabl" style="border-left:none">
                                                            <div>&nbsp;</div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl" style="border-right:none">
                                                            <div></div>
                                                        </td>
                                                    </tr>
                                                    <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                        <td class="bortabl" style="border-left:none">
                                                            <div>&nbsp;</div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl" style="border-right:none">
                                                            <div></div>
                                                        </td>

                                                    </tr>
                                                    <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                        <td class="bortabl" style="border-left:none">
                                                            <div>&nbsp;</div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl" style="border-right:none">
                                                            <div></div>
                                                        </td>

                                                    </tr>
                                                </thead>
                                            </table>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div><!--[row]-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content dx-button-min-width">
                                <i class="fas fa-file btn-icons newfile icon-rgt-space5"></i>
                                <span class="dx-button-text">New</span>
                            </div>
                        </a>
                    </div><!--[button]-->

                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content dx-button-min-width">
                                <i class="fas fa-pencil-alt btn-icons editcolor icon-rgt-space5"></i>
                                <span class="dx-button-text">Edit</span>
                            </div>
                        </a>
                    </div><!--[button]-->

                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content dx-button-min-width">
                                <i class="fas fa-trash btn-icons deletecolor icon-rgt-space5"></i>
                                <span class="dx-button-text">Delete</span>
                            </div>
                        </a>
                    </div><!--[button]-->

                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content dx-button-min-width">
                                <i class="fas fa-eye btn-icons eyeicon icon-rgt-space5"></i>
                                <span class="dx-button-text">View</span>
                            </div>
                        </a>
                    </div><!--[button]-->
                </div>

            </div>
        </div>
    </div>
    <div class="row brd_new_bottom">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4 pll">
                            <label class="control-label" for="user">
                                Other Details:
                                <span class="underline"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label margB0" for="user">Purpose:</label></div>
                        <div class="col-sm-9 col-md-9 col-lg-9 prm">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <select name="" class="dx-texteditor-input appear">
                                        <option value="0"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label margB0" for="">Narration:</label></div>
                        <div class="col-sm-9 col-md-9 col-lg-9 prm">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label margB0" for="">Remarks:</label></div>
                        <div class="col-sm-9 col-md-9 col-lg-9 prm">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" placeholder="Type any Other Detail / Remarks..">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label margB0" for="">Reference:</label></div>
                        <div class="col-sm-9 col-md-9 col-lg-9 prm">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" placeholder="Type any Reference Details...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 pll">
                            <label class="control-label" for="user">
                                Payment Details:
                                <span class="underline"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-8 col-lg-8 pll"><label class="control-label margB0" for="">Total Amount:</label></div>
                        <div class="col-sm-9 col-md-4 col-lg-4 prm">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input text-right" type="text" placeholder="0.00">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-8 col-lg-8 pll"><label class="control-label margB0" for="">Cash Amount:</label></div>
                        <div class="col-sm-9 col-md-4 col-lg-4 prm">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input text-right" type="text" placeholder="0.00">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-8 col-lg-8 pll"><label class="control-label margB0 blu-txt" for="">Bank Amount:</label></div>
                        <div class="col-sm-9 col-md-4 col-lg-4 prm">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input text-right" type="text" placeholder="0.00">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-8 col-lg-8 pll"><label class="control-label margB0 blu-txt" for="">Difference:</label></div>
                        <div class="col-sm-9 col-md-4 col-lg-4 prm">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input text-right" type="text" placeholder="0.00">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <fieldset class="default-fieldset">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-field wbg brd-bot-none brd-none">
                    <div class="container-fluid">
                        <div class="send_message">
                            <img src="~/Content/image/send-icon.png" class="madhuban-req" />
                            Send Your Request to Madhuban
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-field wbg brd-bot-none brd-none">
                    <div class="container-fluid">
                        <div class="btn-align">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="cancel po" tabindex="0">
                                <a href="javascript:void(0);" class="link-txt">
                                    <div class="dx-button-content">
                                        <i class="fas fa-check-circle btn-icons checkgreen icon-rgt-space5"></i>
                                        <span class="dx-button-text">Save </span>
                                    </div>
                                </a>
                            </div><!--[button]-->
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="close" tabindex="0">
                                <a href="javascript:void(0);" class="link-txt">
                                    <div class="dx-button-content dx-button-min-width">

                                        <i class="fas fa-times-circle btn-icons crossgrey icon-rgt-space5"></i>
                                        <span class="dx-button-text">Cancel</span>
                                    </div>
                                </a>
                            </div><!--[button]-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </fieldset><!--[row]-->


</form>