@using DevExtreme.AspNet.Mvc;
@{
    ViewBag.Title = "wing_membership_Register";
}

<h2>wing_membership_Register</h2>

@(Html.DevExtreme().Button()
                                        .ID("new_membership")
                                        .Text("New")
                                        .Icon("add")
                                        .Visible(true)
                                        .Disabled(false)
                                        .OnClick(@<text>
                                            function () {
                                            OpenDynamicPopup('New ~ Wing Membership', '/Membership/WingMembership/new_wing_membership_window', 500, 840)
                                            }
                                        </text>)
)

@(Html.DevExtreme().Button()
                                        .ID("Renew_membership")
                                        .Text("ReNew")
                                        .Icon("add")
                                        .Visible(true)
                                        .Disabled(false)
                                        .OnClick(@<text>
                                            function () {
                                            OpenDynamicPopup('Renew ~ Wing Membership', '/Membership/WingMembership/Renew_wing_membership_window', 348, 840)
                                            }
                                        </text>)
)

@(Html.DevExtreme().Button()
                                        .ID("Conversion_membership")
                                        .Text("Conversion")
                                        .Icon("add")
                                        .Visible(true)
                                        .Disabled(false)
                                        .OnClick(@<text>
                                            function () {
                                            OpenDynamicPopup('Conversion ~ Wing Membership', '/Membership/WingMembership/Conversion_wing_membership_window', 348, 840)
                                            }
                                        </text>)
)