
@using DevExtreme.AspNet.Mvc;

<div>
    <div style="margin-top: 10px;">

        @(Html.DevExtreme().Button()
            .ID("ExportXLSXButton")
            .Text("Export to XLSX")
            .OnClick("exportToXLSX")
            .Width(120)
        )

    </div>
</div>

<script>
    function exportToXLSX() {
        const workbook = new ExcelJS.Workbook();
        const worksheet = workbook.addWorksheet('CenterPurposeList');

        DevExpress.excelExporter.exportDataGrid({
            worksheet: worksheet,
            component: $("#CenterPurposeListGrid").dxDataGrid("instance"),
            autoFilterEnabled: true,
            customizeCell({ excelCell, gridCell }) {
                if (gridCell.rowType === 'header') {
                    const columnDataField = gridCell.column.dataField;
                    if (columnDataField === 'iIcon') {
                        const Column = worksheet.getColumn(excelCell.col);
                        Column.width = 20;
                    }
                }
            }
        }).then(() => {
            workbook.xlsx.writeBuffer().then(buffer => {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'CenterPurposeListGrid.xlsx');
            });
        });
        $("#Dynamic_Content_popup").dxPopup("instance").hide();
    }

</script>