<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<style>
    @@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
    table {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        margin: 0 auto;
        width: 97%;
        max-width: 700px;
        table-layout: fixed;
        line-height: 20px
    }

    th, td {
        border: 1px solid #a7a39f;
        border-right: none;
        border-bottom: none;
    }

    th {
        background: #154691;
        color: #fff;
        border-color: #154691;
    }

        th h2 {
            margin: 5px;
            font-weight: 600;
        }

        th.brickhead {
            background: #ebebeb;
            border-color: #cdc9c9;
            text-align: center;
            color: black;
            border-right: 1px solid #cdc9c9;
            font-size: 16px;
        }

    .note td {
        text-align: justify;
        border: 0;
        padding: 10px;
        background: #fff;
        border-left: 1px solid #a7a39f;
        line-height: 22px;
    }

    .note td:hover {
        font-weight: 400;
        background-color: #f9e8cf;
    }

    td .bx {
        font-size: 17px;
        margin: -2px;
        position: relative;
        top: 3px;
        color: #483f3f;
    }

    tr:nth-child(odd) {
        background-color: linen;
    }

    td:last-child {
        border-right: 1px solid #a7a39f;
    }

    tr.last td {
        border-bottom: 1px solid #a7a39f;
    }

    tr:hover {
        background-color: #f9e8cf;
        font-weight: 600;
    }
</style>
<a style="text-align: center; margin: 20px; display:block" href="https://connectone.app/Start/Login/Frm_COD_Selection">
    <img src="https://connectone.app/Content/image/logol.png" />
</a>
<table cellspacing="0" cellpadding="4" border="0">
    <tbody>
        <tr>
            <th style="background: #4763a1;" colspan="2"><h2>Shortcuts List</h2></th>
        </tr>
        <tr>
            <th>Functionality </th>
            <th>Key Combination</th>
        </tr>
        <tr>
            <td>Open Start Menu</td>
            <td>Ctrl+Alt+S</td>
        </tr>
        <tr>
            <td>Open Profile Menu</td>
            <td>Ctrl+Alt+P</td>
        </tr>
        <tr>
            <td>Open Accounts Menu</td>
            <td>Ctrl+Alt+A</td>
        </tr>
        <tr>
            <td>Open Reports Menu</td>
            <td>Ctrl+Alt+R</td>
        </tr>
        <tr>
            <td>Open Statement Menu</td>
            <td>Ctrl+Alt+S</td>
        </tr>
        <tr>
            <td>Open Facility Menu</td>
            <td>Ctrl+Alt+F</td>
        </tr>
        <tr>
            <td>Open Options Menu</td>
            <td>Ctrl+Alt+O</td>
        </tr>
        <tr>
            <td>Open Help Menu</td>
            <td>Ctrl+Alt+H</td>
        </tr>

        <tr class="note">
            <td style="border-top: 1px solid #a7a39f;" colspan="2">
                <b style="color: #c71b1b">Note:</b> Use arrow keys
                <i class='bx bxs-up-arrow-square'></i>
                <i class='bx bxs-right-arrow-square'></i>
                <i class='bx bxs-down-arrow-square'></i>
                <i class='bx bxs-left-arrow-square'></i>

                for navigating between menus or between screens within menu.
                <br>
                दूसरे मेनू में जाने या एक ही मेनू के अंदर विभिन्न स्क्रीन की सिलेक्शन बदलने के लिए arrow keys का उपयोग कर सकते है।
            </td>
        </tr>

        <tr>
            <td>Close Opened Menu </td>
            <td>Escape (Menu open)</td>
        </tr>
        <tr>
            <td>Close Active Tab </td>
            <td>Escape (No popup open)</td>
        </tr>
        <tr>
            <td>Close Popup</td>
            <td>Escape (Popup open)</td>
        </tr>
        <tr>
            <td>Hide Main Header</td>
            <td>Ctrl+↑ (Up arrow)</td>
        </tr>
        <tr>
            <td>Show Main Header</td>
            <td>Ctrl+↓ (Down arrow)</td>
        </tr>
        <tr class="last">
            <td>Refresh page</td>
            <td>F5</td>
        </tr>


        <tr class="note">
            <td colspan="2">
                <b style="color: #c71b1b">Note:</b>
                All below shortcuts will work even if Alt key is released and other two keys are pressed together. <br>
                नीचे दिए गए शॉर्टकट्स Alt key छोड़ने के बाद अन्य दूसरी शॉर्टकट keys को एक साथ दबाने पर भी चलेंगे।
            </td>
        </tr>

        <tr>
            <th class="brickhead" colspan="2">Start Menu</th>
        </tr>
        <tr>
            <th>Functionality </th>
            <th>Key Combination</th>
        </tr>
        <tr>
            <td>Change Institute</td>
            <td>Alt+I+G</td>
        </tr>
        <tr>
            <td>Change Centre</td>
            <td>Alt+C+G</td>
        </tr>
        <tr>
            <td>View Center Audit Info</td>
            <td>Alt+A+I</td>
        </tr>
        <tr>
            <td>Account Analysis</td>
            <td>Alt+A+C</td>
        </tr>
        <tr>
            <td>Submit/Unsubmit Accounts</td>
            <td>Alt+S+U</td>
        </tr>
        <tr>
            <td>Submission History</td>
            <td>Alt+S+H</td>
        </tr>
        <tr>
            <td>Change Financial Year</td>
            <td>Alt+F+Y</td>
        </tr>
        <tr class="last">
            <td>Exit Center</td>
            <td>Alt+E+C</td>
        </tr>


        <tr>
            <th class="brickhead" colspan="2">Profile Menu</th>
        </tr>
        <tr>
            <th>Functionality </th>
            <th>Key Combination</th>
        </tr>
        <tr>
            <td>Core Information</td>
            <td>Alt+C+I</td>
        </tr>
        <tr>
            <td>Cash A/c.</td>
            <td>Alt+C+A</td>
        </tr>
        <tr>
            <td>Bank A/c.</td>
            <td>Alt+B+A</td>
        </tr>
        <tr>
            <td>Fixed Deposit</td>
            <td>Alt+F+D</td>
        </tr>
        <tr>
            <td>Opening Balances</td>
            <td>Alt+O+B</td>
        </tr>
        <tr>
            <td>Land & Building</td>
            <td>Alt+L+B</td>
        </tr>
        <tr>
            <td>Gold/Silver</td>
            <td>Alt+G+S</td>
        </tr>
        <tr>
            <td>Vehicles</td>
            <td>Alt+V+H</td>
        </tr>
        <tr>
            <td>Movable Asset</td>
            <td>Alt+M+A</td>
        </tr>
        <tr>
            <td>Livestock</td>
            <td>Alt+L+S</td>
        </tr>
        <tr>
            <td>WIP</td>
            <td>Alt+W+P</td>
        </tr>
        <tr>
            <td>Other Deposits</td>
            <td>Alt+O+D</td>
        </tr>
        <tr>
            <td>Advances</td>
            <td>Alt+A+D</td>
        </tr>
        <tr>
            <td>Liabilities</td>
            <td>Alt+L+I</td>
        </tr>
        <tr>
            <td>Godly Service Places</td>
            <td>Alt+G+P</td>
        </tr>
        <tr>
            <td>Telephone</td>
            <td>Alt+T+E</td>
        </tr>
        <tr class="last">
            <td>Existing Magazine Members</td>
            <td>Alt+E+M</td>
        </tr>


        <tr>
            <th class="brickhead" colspan="2">Accounts Menu</th>
        </tr>
        <tr>
            <th>Functionality </th>
            <th>Key Combination</th>
        </tr>

        <tr>
            <td>Voucher Entries</td>
            <td>Alt+V+E</td>
        </tr>
        <tr>
            <td> &nbsp; &nbsp; Cash Deposit/Withdrawn</td>
            <td> &nbsp; &nbsp; Alt+C+V</td>
        </tr>
        <tr>
            <td> &nbsp; &nbsp; Bank to Bank Transfer</td>
            <td> &nbsp; &nbsp; Alt+B+V</td>
        </tr>
        <tr>
            <td> &nbsp; &nbsp; Payment Voucher</td>
            <td> &nbsp; &nbsp; Alt+P+V</td>
        </tr>
        <tr>
            <td> &nbsp; &nbsp; Receipt Voucher</td>
            <td> &nbsp; &nbsp; Alt+R+V</td>
        </tr>
        <tr>
            <td> &nbsp; &nbsp; Donation Voucher</td>
            <td> &nbsp; &nbsp; Alt+D+V</td>
        </tr>
        <tr>
            <td> &nbsp; &nbsp; Donation in Kind</td>
            <td> &nbsp; &nbsp; Alt+K+V</td>
        </tr>
        <tr>
            <td> &nbsp; &nbsp; Collection Box</td>
            <td> &nbsp; &nbsp; Alt+X+V</td>
        </tr>
        <tr>
            <td> &nbsp; &nbsp; Fixed Deposit (F.D.)</td>
            <td> &nbsp; &nbsp; Alt+F+V</td>
        </tr>
        <tr>
            <td> &nbsp; &nbsp; Internal Transfer</td>
            <td> &nbsp; &nbsp; Alt+T+V</td>
        </tr>
        <tr>
            <td> &nbsp; &nbsp; Asset Transfer</td>
            <td> &nbsp; &nbsp; Alt+A+V</td>
        </tr>
        <tr>
            <td> &nbsp; &nbsp; Sale Asset</td>
            <td> &nbsp; &nbsp; Alt+S+V</td>
        </tr>
        <tr>
            <td> &nbsp; &nbsp; Journal Entry</td>
            <td> &nbsp; &nbsp; Alt+J+V</td>
        </tr>
        <tr>
            <td> &nbsp; &nbsp; WIP Finalization</td>
            <td> &nbsp; &nbsp; Alt+W+V</td>
        </tr>

        <tr>
            <td>Cash Book</td>
            <td>Alt+C+B</td>
        </tr>
        <tr>
            <td>Note Book Entry</td>
            <td>Alt+N+B</td>
        </tr>
        <tr>
            <td>Donation Register</td>
            <td>Alt+D+R</td>
        </tr>
        <tr>
            <td>Internal Transfer Register</td>
            <td>Alt+I+T</td>
        </tr>
        <tr class="last">
            <td>Documents Library</td>
            <td>Alt+D+L</td>
        </tr>



        <tr>
            <th class="brickhead" colspan="2">Reports Menu</th>
        </tr>
        <tr>
            <th>Functionality </th>
            <th>Key Combination</th>
        </tr>
        <tr>
            <td>Daily Balances</td>
            <td>Alt+D+B</td>
        </tr>
        <tr>
            <td>Transaction Summary (Potamel)</td>
            <td>Alt+P+R</td>
        </tr>
        <tr>
            <td>Trial Balance Report</td>
            <td>Alt+T+B</td>
        </tr>
        <tr class="last">
            <td>User Rights Report</td>
            <td>Alt+U+S</td>
        </tr>


        <tr>
            <th class="brickhead" colspan="2">Facility Menu</th>
        </tr>
        <tr>
            <th>Functionality </th>
            <th>Key Combination</th>
        </tr>

        <tr>
            <td>Address Book</td>
            <td>Alt+A+B</td>
        </tr>
        <tr>
            <td>Center Contact Search</td>
            <td>Alt+C+S</td>
        </tr>
        <tr>
            <td>Godly Service Report</td>
            <td>Alt+S+R</td>
        </tr>
        <tr>
            <td>Service Forms</td>
            <td>Alt+S+F</td>
        </tr>
        <tr class="last">
            <td>PAN TDS Data</td>
            <td>Alt+P+T</td>
        </tr>



        <tr>
            <th class="brickhead" colspan="2">Options Menu</th>
        </tr>
        <tr>
            <th>Functionality </th>
            <th>Key Combination</th>
        </tr>
        <tr>
            <td>User Register</td>
            <td>Alt+U+R</td>
        </tr>
        <tr>
            <td>Group Register</td>
            <td>Alt+G+R</td>
        </tr>
        <tr class="last">
            <td>User Preferences</td>
            <td>Alt+U+P</td>
        </tr>



        <tr>
            <th class="brickhead" colspan="2">Help Menu</th>
        </tr>
        <tr>
            <th>Functionality </th>
            <th>Key Combination</th>
        </tr>
        <tr>
            <td>Audit Actions</td>
            <td>Alt+A+U</td>
        </tr>
        <tr>
            <td>Attachments</td>
            <td>Alt+A+T</td>
        </tr>
        <tr class="last">
            <td>Contact Us</td>
            <td>Alt+C+U</td>
        </tr>
    </tbody>
</table>
<br>
<br />
