@using DevExtreme.AspNet.Mvc;
@{
    var SessionGUID = Request.QueryString["SessionGUID"];
    var ID = (string)ViewBag.ID;
    var VouchingMode = (bool)ViewBag.VouchingMode;
}
<div class="col-md-12">
    <label>Documents Attached:</label>
    <div class="row">
        <div class="col-md-12" id="FDAuditNestedGrid_Div">
            <form>
                @Html.Action("Frm_FD_Info_DetailGrid", "FD", new { RecID = ID, VouchingMode = VouchingMode,command="REFRESH", SessionGUID = SessionGUID})
            </form>
        </div>
    </div>
    <label>Additional Info:</label>
    <div class="row">
        <div class="col-md-12" id="FDAuditAdditionalInfo_Div">
            <form>
                @Html.Action("AdditionalInfo_Grid", "FD", new { SessionGUID = SessionGUID })
            </form>
        </div>
    </div>
</div>

<script>
    
</script>
<script>
    $(document).ready(function () {
        //DevExpress.config({
        //    floatingActionButtonConfig: direction
        //});

        //DevExpress.ui.repaintFloatingActionButton();

    });

</script>
