@using DevExtreme.AspNet.Mvc;
@model System.Data.DataTable
<div id="Frm_ChartResponses_Email_NotificationQueue_Info_Grid_Div" class="parent_table">
    <form>
        @Html.Partial("Frm_ChartResponses_Email_NotificationQueue_Info_Grid", Model)
    </form>
</div>
