@using DevExtreme.AspNet.Mvc;
<div class="SMS_Notify_ChartResponsesFacility_ClearReferences" style="background-color:white;padding-bottom:20px">
    <div class="clearfix">
        <div class="col-md-12 md-12-main">
            <br />
            <div class="form-field">
                <label for="Content_SMS_Notify_ChartResponses">SMS Content</label>
                @(Html.DevExtreme().TextBox().CustomTextBox(true).Name("Content_SMS_Notify_ChartResponses").ID("Content_SMS_Notify_ChartResponses").Placeholder("SMS Content").Value(Model.Content_SMS_Notify_ChartResponses).MaxLength(80))
            </div>
            <br />
            <div  style="float:right">
                @(Html.DevExtreme().Button().OnClick("SendSample_SMS_Notify_ChartResponses_Click").ID("SendSample_SMS_Notify_ChartResponses").Text("Send Sample SMS").Hint("Send Sample SMS"))
                &nbsp;
                @(Html.DevExtreme().Button().OnClick("SendNow_SMS_Notify_ChartResponses_Click").ID("SendNow_SMS_Notify_ChartResponses").Hint("Send Now").Text("Send Now"))
            </div>
        </div>
    </div>
</div>
