<div class="addressbook_notificationSet_ClearReferences">
    @using System.Text.RegularExpressions;
    @using DevExtreme.AspNet.Mvc;
    @{
        var SessionGUID = Request.QueryString["SessionGUID"];
        int ShowHorizontalBar = (int)ViewBag.ShowHorizontalBar;
        bool VouchingMode = ViewBag.VouchingMode == null ? false : (bool)ViewBag.VouchingMode;
    }
    <div>
        @(Html.DevExtreme().Button().ID("AddressToggleScrollBar_notificationSet").Text(ViewBag.ShowHorizontalBar == 1 ? "Default Data" : "Full Data").Width(ViewBag.ShowHorizontalBar == 1 ? 110 : 90).Icon("toolbox")
                .OnClick(@<text> function () { AddressBookchangeMode_dx(); } </text>))
        @(Html.DevExtreme().Button().ID("CustomNotification_ResponsesInfoModelCLOSE").Text("Ok & Close").Icon("clear").OnClick("closeAddressBook_notificationSet") )
        <span id="count_addressbookgridPage_notificationSet"></span>
    </div>
    @(Html.DevExtreme().DataGrid().CustomDataGridListing(ShowHorizontalBar)
    .ID("AddressBookGrid_notificationSet")
    .DataSource(d => d.Mvc().Controller("NotificationSettings").LoadAction("Frm_AddressBook_notificationSet_GridData").LoadMode(DataSourceLoadMode.Raw).Key("ID"))
    .Columns(columns =>
    {
        columns.Add().DataField("SummaryColumn").Name("SummaryColumn").Caption("SummaryColumn").Visible(false).ShowInColumnChooser(false);//Bug #137209 Fix
        columns.Add().DataField("iIcon").Name("iIcon").Caption("").CellTemplate(new JS("AddressBookGrid_notificationSet_iIconTemplate")).Width(30)
            .HeaderFilter(filter => filter.DataSource("DxGrid_HeaderFilterDataSource")).RenderAsync(true);
        columns.Add().DataField("AddressBookGrid_notificationSet_Compact_Column").Name("AddressBookGrid_notificationSet_Compact_Column").Caption("").Visible(false)
            .CellTemplate(new JS("AddressBookGrid_notificationSet_Compact_Column_Template")).CalculateCellValue("AddressBookGrid_notificationSet_Compact_Column_CellValue").Width("100%").RenderAsync(true);
        columns.Add().DataField("Title").Caption("Title").MinWidth(100);
        columns.Add().DataField("Name").Caption("Name").MinWidth(200);
        columns.Add().DataField("Organization").Caption("Organization").MinWidth(120);
        columns.Add().DataField("Designation").Caption("Designation").MinWidth(120);
        columns.Add().DataField("Occupation").Caption("Occupation").MinWidth(120);
        columns.Add().DataField("Education").Caption("Education").MinWidth(120);
        columns.Add().DataField("Passport_No").Caption("Passport No.").MinWidth(185);
        columns.Add().DataField("PAN_No").Caption("PAN No.").MinWidth(140);
        columns.Add().DataField("VAT_TIN_No").Caption("VAT TIN No.").MinWidth(150);
        columns.Add().DataField("GST_TIN_No").Caption("GST TIN No.").MinWidth(150);
        columns.Add().DataField("CST_TIN_No").Caption("CST TIN No.").MinWidth(150);
        columns.Add().DataField("TAN_No").Caption("TAN No.").MinWidth(150);
        columns.Add().DataField("UID_No").Caption("Aadhar No.").MinWidth(160);
        columns.Add().DataField("Service_Tax_Reg_No").Caption("Service Tax Reg. No.").MinWidth(160);
        columns.Add().DataField("Voter_ID").Caption("VOTER ID No.").MinWidth(160);
        columns.Add().DataField("Ration_Card_No").Caption("RATION No.").MinWidth(160);
        columns.Add().DataField("DL_No").Caption("DL No.").MinWidth(160);
        columns.Add().DataField("Taxpayer_ID").Caption("Tax ID No.").MinWidth(160);
        columns.Add().DataField("Address_Line1").Caption("Address Line.1").MinWidth(200);
        columns.Add().DataField("Address_Line2").Caption("Address Line.2").MinWidth(200);
        columns.Add().DataField("Address_Line3").Caption("Address Line.3").MinWidth(180);
        columns.Add().DataField("Address_Line4").Caption("Address Line.4").MinWidth(170);
        columns.Add().DataField("PinCode").Caption("Pin Code").MinWidth(80);
        columns.Add().DataField("City").Caption("City").MinWidth(100);
        columns.Add().DataField("State").Caption("State").MinWidth(100);
        columns.Add().DataField("District").Caption("District").MinWidth(100);
        columns.Add().DataField("Country").Caption("Country").MinWidth(100);
        columns.Add().DataField("Resi_Tel_No").Caption("Resi Tel No(s)").MinWidth(120);
        columns.Add().DataField("Office_Tel_No").Caption("Office Tel No(s)").MinWidth(120);
        columns.Add().DataField("Office_Fax_No").Caption("Office Fax No.").MinWidth(120);
        columns.Add().DataField("Resi_Fax_No").Caption("Resi. Fax No(s").MinWidth(120);
        columns.Add().DataField("Mobile_No").Caption("Mobile No(s)").MinWidth(120);
        columns.Add().DataField("Email").Caption("Email").MinWidth(180);
        columns.Add().DataField("Website").Caption("Website").MinWidth(180);
        columns.Add().DataField("Date_of_Birth_Lokik").Caption("Date of Birth (Lokik)").MinWidth(190)
        .DataType(GridColumnDataType.Date).Format("dd-MM-yyyy");
        columns.Add().DataField("Blood_Group").Caption("Blood Group").MinWidth(120);
        columns.Add().DataField("Status").Caption("Status").MinWidth(120);
        columns.Add().DataField("Date_of_Birth_Alokik").Caption("Date of Birth (Alokik)").MinWidth(190)
        .DataType(GridColumnDataType.Date).Format("dd-MM-yyyy");
        columns.Add().DataField("BK_Title").Caption("BK Title").MinWidth(130);
        columns.Add().DataField("BK_PAD_No").Caption("BK PAD No.").MinWidth(100);
        columns.Add().DataField("Class_At").Caption("Class At").MinWidth(100);
        columns.Add().DataField("Centre_Category").Caption("Centre Category").MinWidth(100);
        columns.Add().DataField("Centre_Name").Caption("Centre Name").MinWidth(200);
        columns.Add().DataField("Category").Caption("Category").MinWidth(100);
        columns.Add().DataField("Referene").Caption("Referene").MinWidth(200);
        columns.Add().DataField("Remarks").Caption("Remarks").MinWidth(200);
        columns.Add().DataField("Events").Caption("Events").MinWidth(500);
        columns.Add().DataField("Action_By").Caption("Action By").Visible(false).MinWidth(125);
        columns.Add().DataField("Action_Date").Caption("Action Date").Visible(false).MinWidth(125);
        columns.Add().DataField("Action_Status").Caption("Action Status").Visible(false).MinWidth(125);
        columns.Add().DataField("Add_By").Caption("Added By").Visible(false).MinWidth(100);
        columns.Add().DataField("Add_Date").Caption("Added Date").Visible(false).MinWidth(100);
        columns.Add().DataField("Edit_By").Caption("Edited By").Visible(false).MinWidth(100);
        columns.Add().DataField("Edit_Date").Caption("Edited Date").Visible(false).MinWidth(100);
        columns.Add().DataField("ID").Caption("ID").Visible(false).MinWidth(120);
        columns.Add().DataField("REJECTED_COUNT").Caption("iREJECTED_COUNT").Visible(false).MinWidth(120);
        columns.Add().DataField("RESPONDED_COUNT").Caption("iRESPONDED_COUNT").Visible(false).MinWidth(120);
        columns.Add().DataField("COMPLETE_ATTACH_COUNT").Caption("iCOMPLETE_ATTACH_COUNT").Visible(false).MinWidth(120);
        columns.Add().DataField("REQ_ATTACH_COUNT").Caption("iREQ_ATTACH_COUNT").Visible(false).MinWidth(120);
        columns.Add().DataField("OTHER_ATTACH_CNT").Caption("OTHER_ATTACH_CNT").Visible(false).MinWidth(120);
        columns.Add().DataField("ALL_ATTACH_CNT").Caption("ALL_ATTACH_CNT").Visible(false).MinWidth(120);
    })
    .Selection(s => s.Mode(SelectionMode.Multiple)
        .ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always)
        .AllowSelectAll(true))
    .OnInitialized("AddressBookGrid_notificationSet_OnInitialized")
    .OnCellPrepared("AddressBookGrid_notificationSet_OnCellPrepared")
    .OnRowPrepared("AddressBookGrid_notificationSet_OnRowPrepared")
    .OnContentReady("AddressBookGrid_notificationSet_OnContentReady")
    //.OnCellDblClick("AddressBookGrid_notificationSet_OnCellDblClick")
    .OnSelectionChanged("AddressBookGrid_notificationSet_OnSelectionChanged")
    //.OnRowExpanding("AddressBookGrid_notificationSet_OnRowExpanding")
    //.OnRowCollapsing("AddressBookGrid_notificationSet_OnRowCollapsing")
    //.OnContextMenuPreparing("AddressBookGrid_notificationSet_OnContextMenuPreparing")
    .OnRowClick("CustomNotification_addressbook_InfoGrid_dx_OnRowClick")
)
    <script>
        function CustomNotification_addressbook_InfoGrid_dx_OnRowClick(e) {
            if (e.rowType === "data") {
                if (e.isSelected)
                    e.component.deselectRows(e.key);
                else
                    e.component.selectRows(e.key, true);
            }
        }
        $(document).ready(function () {
            var addressGridInstance = $("#AddressBookGrid_notificationSet").dxDataGrid("instance")
            if (selectedContacts_notificationSet != null || selectedContacts_notificationSet != undefined) {
                if (selectedContacts_notificationSet.length > 0) {
                    addressGridInstance.selectRows(selectedContacts_notificationSet);
                }
            }            
        });
    var AddressBook_notificationSet_IsVouchingMode_dx = false;
    var AB_ShowHorizontalBar_dx = parseInt("@ViewBag.ShowHorizontalBar");
    var AddressBook_notificationSet_ID_dx = null;
    var AddressBook_notificationSet_Edit_Date_dx;
    var AddressBook_notificationSet_Add_Date_dx;
    var AddressBook_notificationSet_Add_By_dx;
    var AddressBook_notificationSet_Edit_By_dx;
    var AddressBook_notificationSet_Action_Status_dx;
    var AddressBook_notificationSet_Action_By_dx;
    var AddressBook_notificationSet_Action_Date_dx;

    function AddressBookchangeMode_dx() {
        AddressBookGrid_notificationSet.beginUpdate();
        if (AB_ShowHorizontalBar_dx == 0) {
            AB_ShowHorizontalBar_dx = 1;
            $("#AddressToggleScrollBar_notificationSet").find("span").text("Default Data");
            $("#AddressToggleScrollBar_notificationSet").width(110);
            AddressBookGrid_notificationSet.option("columnHidingEnabled", false);
            AddressBookGrid_notificationSet.option("allowColumnResizing", true)
            AddressBookGrid_notificationSet.option("columnResizingMode", "widget")
        }
        else {
            AB_ShowHorizontalBar_dx = 0;
            $("#AddressToggleScrollBar_notificationSet").find("span").text("Full Data");
            $("#AddressToggleScrollBar_notificationSet").width(90);
            AddressBookGrid_notificationSet.option("columnHidingEnabled", true)
            AddressBookGrid_notificationSet.option("allowColumnResizing", false)
            AddressBookGrid_notificationSet.option("columnResizingMode", "nextColumn")
        }
        AddressBookGrid_notificationSet.endUpdate();
    }
    function AddressBookGrid_notificationSet_PreviewRow_Template(e) {
        if (AddressBook_notificationSet_IsVouchingMode_dx == true) {
            var keyvalue = e.key != null ? e.key.replace(/^0-9A-Za-z/gi, "_") : "Null" + e.rowIndex;
            return DxGrid_AuditButtons(e.element[0].id, keyvalue, e.rowIndex);
        }
        else {
            return ""
        }
    }
    function AddressBookGrid_notificationSet_Compact_Column_Template(container, templateData) {
        var Name = templateData.component.element()[0].id;
        var KeyValue = templateData.data.ID != null ? templateData.data.ID.replace(/^0-9A-Za-z/gi, "_") : "Null" + templateData.rowIndex;
        var VouchingMode = AddressBook_notificationSet_IsVouchingMode_dx == true ? "True" : "False";
        var htmlString = "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Title:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Title' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Title ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Name:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Name' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Name ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Organization:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Organization' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Organization ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Designation:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Designation' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Designation ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Education:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Education' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Education ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Passport No:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Passport_No' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Passport_No ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>PAN No:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|PAN_No' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.PAN_No ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>VAT TIN No:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|VAT_TIN_No' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.VAT_TIN_No ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>GST TIN No.:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|GST_TIN_No' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.GST_TIN_No ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>CST TIN No:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|CST_TIN_No' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.CST_TIN_No ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>TAN No:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|TAN_No' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.TAN_No ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Aadhar No.:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|UID_No' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.UID_No ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Service Tax Reg No:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Service_Tax_Reg_No' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Service_Tax_Reg_No ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Voter ID No:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Voter_ID' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Voter_ID ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>RATION No:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Ration_Card_No' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Ration_Card_No ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>DL No:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|DL_No' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.DL_No ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Tax ID No:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Taxpayer_ID' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Taxpayer_ID ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Address Line1:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Address_Line1' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Address_Line1 ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Address Line2:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Address_Line2' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Address_Line2 ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Address Line3:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Address_Line3' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Address_Line3 ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Address Line4:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Address_Line4' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Address_Line4 ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>PinCode:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|PinCode' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.PinCode ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>City:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|City' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.City ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>State:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|State' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.State ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>District:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|District' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.District ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Country:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Country' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Country ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Resi Tel No(s):</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Resi_Tel_No' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Resi_Tel_No ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Office Tel No(s):</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Office_Tel_No' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Office_Tel_No ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Office Fax No:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Office_Fax_No' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Office_Fax_No ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Resi_Fax_No:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Resi_Fax_No' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Resi_Fax_No ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Mobile_No:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Mobile_No' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Mobile_No ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Email:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Email' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Email ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Website:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Website' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Website ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Date of Birth(Lokik):</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Date_of_Birth_Lokik' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (JS_Json_Date_To_ddMMyyyy((templateData.data.Date_of_Birth_Lokik ?? ""), "DD-MM-YYYY") ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Blood Group:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Blood_Group' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Blood_Group ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Status:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Status' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            templateData.data.Status + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Date of Birth(Alokik):</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Date_of_Birth_Alokik' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (JS_Json_Date_To_ddMMyyyy((templateData.data.Date_of_Birth_Alokik ?? ""), "DD-MM-YYYY") ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>BK_Title:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|BK_Title' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.BK_Title ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>BK PAD No:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|BK_PAD_No' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.BK_PAD_No ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Class At:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Class_At' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Class_At ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Centre Category:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Centre_Category' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Centre_Category ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Centre Name:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Centre_Name' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Centre_Name ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Category:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Category' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Category ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Referene:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Referene' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Referene ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Remarks:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Remarks' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Remarks ?? "") + "</div></div></div></div></div>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Events:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Events' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Events ?? "") + "</div></div></div></div></div></div></div>" +
            "<div style='padding:0px 5px 0px 5px'>" +
            "<div class='row'>" +
            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='form-field'>" +
            "<div class='container-fluid'>" +
            "<div class='row'>" +
            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
            "<label class='control-label'>Occupation:</label></div>" +
            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + Name + "_Cell_" + KeyValue + "|Occupation' ondblclick = OnGridCellClick(event,this,'','','" + Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
            (templateData.data.Occupation ?? "") + "</div></div></div></div></div>";
        $(container).html(htmlString)
    }
    function AddressBookGrid_notificationSet_Compact_Column_CellValue(rowData) {
        var data = [rowData.Title, rowData.Name, rowData.Organization, rowData.Designation, rowData.Education, rowData.Passport_No, rowData.PAN_No,
        rowData.VAT_TIN_No, rowData.GST_TIN_No, rowData.CST_TIN_No, rowData.TAN_No, rowData.UID_No, rowData.Service_Tax_Reg_No, rowData.Voter_ID, rowData.Ration_Card_No,
        rowData.DL_No, rowData.Taxpayer_ID, rowData.Address_Line1, rowData.Address_Line2, rowData.Address_Line3, rowData.Address_Line4, rowData.PinCode,
        rowData.City, rowData.State, rowData.District, rowData.Country, rowData.Resi_Tel_No, rowData.Office_Tel_No, rowData.Office_Fax_No, rowData.Resi_Fax_No, rowData.Mobile_No,
        rowData.Email, rowData.Website, rowData.Date_of_Birth_Lokik, rowData.Blood_Group, rowData.Status, rowData.Date_of_Birth_Alokik, rowData.BK_Title,
        rowData.BK_PAD_No, rowData.Class_At, rowData.Centre_Category, rowData.Centre_Name, rowData.Category, rowData.Referene, rowData.Remarks, rowData.Events]
        return data.join(" ")
        // return this.defaultCalculateCellValue(rowData);
    }
    function AddressBookGrid_notificationSet_iIconTemplate(container, templateData) {
        var iREQ_ATTACH_COUNT = templateData.data.REQ_ATTACH_COUNT
        var iCOMPLETE_ATTACH_COUNT = templateData.data.COMPLETE_ATTACH_COUNT
        var iRESPONDED_COUNT = templateData.data.RESPONDED_COUNT
        var iREJECTED_COUNT = templateData.data.REJECTED_COUNT
        var iOTHER_ATTACH_CNT = templateData.data.OTHER_ATTACH_CNT
        var iALL_ATTACH_CNT = templateData.data.ALL_ATTACH_CNT
        var iIcon = templateData.data.iIcon
        var UniqueID = templateData.component.element()[0].id
        var key = templateData.data.ID != null ? templateData.data.ID.replace(/^0-9A-Za-z/gi, "_") : "";
        var VisibleIndex = templateData.rowIndex
        var htmlString = "";
        htmlString = DxGrid_AttachmentIcons(iREQ_ATTACH_COUNT, iCOMPLETE_ATTACH_COUNT, iRESPONDED_COUNT, iREJECTED_COUNT, iOTHER_ATTACH_CNT, iALL_ATTACH_CNT);
        htmlString += DxGrid_VouchingAuditIcons(iIcon)
        htmlString += DxGrid_AuditIconAfterClick(UniqueID, key, VisibleIndex)
        $(container).html(htmlString)
    }
    function AddressBookGrid_notificationSet_OnInitialized(e) {
        DxGrid_AdjustSize(e.component, $("#AddressBook_notificationSet_ParentDiv_dx .report_button_div"))
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            DxGrid_AdjustSize(e.component, $("#AddressBook_notificationSet_ParentDiv_dx .report_button_div"), "", evt)
        });
        //Observer_Helper.subscribe(e.component, document.documentElement, e.component.updateDimensions, 100, 0, $("#AddressBook_notificationSet_ParentDiv_dx .report_button_div"));
        AddressBookGrid_notificationSet = e.component;
    }
    function AddressBookGrid_notificationSet_OnCellPrepared(e) {
        if (e.rowType == "data") {
            var keyvalue = e.key != null ? e.key.replace(/^0-9A-Za-z/gi, "_") : "Null" + e.rowIndex;
            if (AddressBook_notificationSet_IsVouchingMode_dx == true) {
                if (e.column.dataField === "iIcon") {
                    $(e.cellElement).attr("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + e.element[0].id + "','" + e.rowIndex + "','" + keyvalue + "')");
                    $(e.cellElement).attr("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + e.element[0].id + "','" + e.rowIndex + "','" + keyvalue + "')");
                }
            }
            $(e.cellElement).attr("id", e.element[0].id + "_Cell_" + keyvalue + "|" + e.column.dataField);
            /*$(e.cellElement).addClass("col_" + e.column.dataField + " row_" + keyvalue);*/
        }
    }
    function AddressBookGrid_notificationSet_OnRowPrepared(e) {
        if (e.rowType == "data") {
            var GridName = e.element[0].id;
            var keyvalue = e.key != null ? e.key.replace(/^0-9A-Za-z/gi, "_") : "Null" + e.rowIndex;
            $(e.rowElement).addClass(GridName + "_DataRow_" + keyvalue)

            var PreviewRowContent = AddressBookGrid_notificationSet_PreviewRow_Template(e)
            var PreviewRowClass = GridName + "_PreviewRow " + GridName + "_PreviewRow_" + keyvalue + " DataGridPreviewRow"
            var PreviewRowOptions = "";
            if (AddressBook_notificationSet_IsVouchingMode_dx == true) {
                PreviewRowOptions = "style='display:none' onmouseover=OnGridPrevRowMouseHoverIn(event,this,'" + GridName + "','" + e.rowIndex + "','" + keyvalue + "') onmouseout=OnGridPrevRowMouseHoverOut(event,this,'" + GridName + "','" + e.rowIndex + "','" + keyvalue + "')"
            }
            var EmptyTdshtml = "";
            var emptyTd = $(e.rowElement).find('td.dx-datagrid-group-space').length
            for (var i = 0; i < emptyTd; i++) {
                EmptyTdshtml += "<td></td>"
            }
            // ($(e.rowElement).parent()).append("<tr class='" + PreviewRowClass + "' " + PreviewRowOptions + ">" + EmptyTdshtml + "<td colspan='100%'>" + PreviewRowContent + "</td></tr>")
            ($(e.rowElement).parent()).append("<tr class='" + PreviewRowClass + "' " + PreviewRowOptions + ">" + EmptyTdshtml + "<td colspan='" + (e.columns.length) + "'>" + PreviewRowContent + "</td></tr>")
        }
    }
    function AddressBookGrid_notificationSet_OnContentReady(e) {
        //setTimeout(function ()
        //{
        //GetSessionStorage("AddressBookGrid_notificationSet");
        DxGrid_OnContentReady(e, AB_ShowHorizontalBar_dx);
        // DxGrid_SetGridUIinColHiding("AddressBookGrid_notificationSet", AB_ShowHorizontalBar_dx);
        /*})*/
    }
        function AddressBookGrid_notificationSet_OnCellDblClick(e) {
            if (e.rowType == "data") {
                if (AddressBook_notificationSet_IsVouchingMode_dx == true && AdresBook_ViewMode_dx == "Default") {
                    var keyvalue = e.key != null ? e.key.replace(/^0-9A-Za-z/gi, "_") : "Null" + e.rowIndex;
                    OnGridCellClick(e.event, e.cellElement[0], e.columnIndex, e.rowIndex, e.element[0].id, keyvalue, e.column.dataField)
                }
                else if (AddressBook_notificationSet_IsVouchingMode_dx == false) { OnAddressEditClick_dx(); }
            }
        }
    function AddressBookGrid_notificationSet_OnSelectionChanged(e) {
        var selectedRowKeys = e.selectedRowKeys;
        if (selectedRowKeys != null && selectedRowKeys.length > 0) {            
            selectedContacts_notificationSet = e.selectedRowKeys
            document.getElementById("selectedManualContactsCount_notificationSet").innerText = selectedContacts_notificationSet.length + " Contact(s) Selected Manually."
            document.getElementById("count_addressbookgridPage_notificationSet").innerText = selectedContacts_notificationSet.length + " Contact(s) Selected Manually."
        }
        else {            
            selectedContacts_notificationSet = null
            document.getElementById("selectedManualContactsCount_notificationSet").innerText = "You did not selected any contacts manually"
            document.getElementById("count_addressbookgridPage_notificationSet").innerText = ""
        }
    }

    function closeAddressBook_notificationSet() {
        selectedContacts_notificationSet = AddressBookGrid_notificationSet.getSelectedRowKeys();
        $("#AddressBook_notificationSet_modal").dxPopup("hide");
    }
    </script>
</div>