<div class="PartyLedger_Export_ClearReferences">
    @model  XtraReport           
    @Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "PartyledgerWebDocumentViewer";
    //settings.MobileMode = Request.Browser.IsMobileDevice;
    //settings.Height = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.ClientSideEvents.Init = "function(s, e) { s.previewModel.reportPreview.showMultipagePreview(true);}";
    settings.ControlStyle.CssClass = "DevexpressComponents";
    settings.Style.Add("height","94vh");
}).Bind(Model).GetHtml()
</div>