<div class="SubmissionHistory_ClearReferences">
    @using DevExtreme.AspNet.Mvc;


    @{
        ViewBag.Title = "Frm_Report_Submit_Accounts";
    }

    <div class="full-width-header-bg2">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="popuphead"><i class="fas fa-users"></i> Previous Account Submissions for Current Year Data</h3>
            </div>
        </div>
    </div>@* Header *@

    <div id="SelectInstitute_reloadPartialView" class="parent_table">
        <form>
            @Html.Partial("Frm_Report_Submit_Accounts_Grid")
        </form>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="styleActionBtn">
                @(Html.DevExtreme().Button().ID("BUT_CANCEL_SubmissionHistory").CustomCloseButton().Text("Close").FocusStateEnabled(true).OnClick("CloseSubmissionHistory") )
            </div>
        </div>
    </div>@* Button *@

    <script>
        // This function is called on click of close button
        function CloseSubmissionHistory(e) {

            HidePopup("Dynamic_Content_popup");

        }

                            // Variable Initialization for function Dynamic_Content_popup_hiding()
                            //sessionclearpath = "/Start/AccountSubmission/SessionClear"

        function Frm_Report_Submit_Accounts_OnContextMenuPreparing(e) {
            if (e.target === "header") {
                e.items = []; 
                return;
            }
        }

    </script>
</div>
