<div class="SubmitDailyAccounts_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model ConnectOneMVC.Areas.Start.Models.AccountSubmissionModel
    <div class="row">
        <div class="col-sm-12">
            <div class="form-field">
                <div class="container-fluid pll prm" style="text-align: center">
                    <label id="Txt_Notify_SubmitAccounts" style="color:maroon">
                        Mention Date till which accounts has been completed for Current Center in @ViewBag.YearName
                    </label>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="col-sm-12">
            <div class="form-field">
                <div class="container-fluid pll prm">
                    <label id="lbl_Date_SubmitAccounts" for="Date_SubmitAccount" class="control-label">
                        Submit Accounts Till:
                    </label>
                    @(Html.DevExtreme().DateBox().CustomDateBox().ID("Date_SubmitAccount").Name("Date_SubmitAccount").Placeholder("dd-MM-yyyy"))
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-field">
                <div class="container-fluid pll prm" style="text-align: center">
                    <label id="lbl_completion_Date_SubmitAccounts" style="color:maroon">
                        <!--[Text here is Programatically Changed by ShowCompletedPeriodText()]-->
                    </label>
                </div>
            </div>
        </div>
    </div><!--[ lbl_Completion row]-->
</div>
