@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root { --red: #c70039; --black: #3a2c35; --gray: #9798a1; --light: #d6d8de; }

body { font-family: 'Poppins', sans-serif; overflow-x: hidden; font-size: 14px; background: url(../images/full-bloom.png); }
a { outline: none !important; cursor: pointer; text-decoration: none; color: var(--black) }
a:hover { cursor: pointer }
h1, h2, h3, h4, h5 { font-family: 'Poppins', monospace; font-weight: bold; }
b, strong, .bold { font-weight: 700 }
img { max-width: 100%; }
select { cursor: pointer }
.pull-left { float: left }
.pull-right { float: right }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance: textfield; }
.form-control { border-radius: 0; height: 37px; font-size: 14px; position: relative; border-color: #d5d9df }
.form-control:hover { box-shadow: 0 0 3px rgba(0,0,0,.1) inset; border-color: #c9cdd4 }
.form-control:focus { background: #fff; z-index: 1; outline: none; }
.btn, label { font-size: 14px }
.dropdown-menu { display: block; opacity: 0; pointer-events: none; transition: .3s opacity ease-in; }
.show > .dropdown-menu { pointer-events: auto; opacity: 1; }
.btn-outline-secondary:hover { color: var(--black) }

/*Bootstrap Light color Tooltip*/
.tooltip > .arrow { background-color: transparent; }
.tooltip > .tooltip-inner { text-align: center; font-size: 12px; padding: 5px 8px 8px; border-radius: 5px; color: black; background-color: white; box-shadow: 0 4px 10px 0 rgba(0,0,0,0.15); }
.bs-tooltip-top, .bs-tooltip-right, .bs-tooltip-left, .bs-tooltip-bottom { background-color: transparent; opacity: 1 !important; }
.tooltip.bs-tooltip-top .arrow:before, .tooltip.bs-tooltip-bottom .arrow:before { border-top-color: white; border-right-color: transparent; border-bottom-color: white; border-left-color: transparent; }
.tooltip.bs-tooltip-right .arrow:before, .tooltip.bs-tooltip-left .arrow:before { border-top-color: transparent; border-right-color: white; border-bottom-color: transparent; border-left-color: white; }

/*Custom buttons*/
.btn { font-weight: 400; transition: .3s all; border-width: 1px; border-radius: 24px; border-color: transparent; padding: 7px 16px 6px; text-decoration: none !important; box-shadow: 0 2px 5px rgba(0,0,0,.07); letter-spacing: .02em; }
.btn:hover { box-shadow: 0 2px 6px rgba(0,0,0,.15); }
.btn-white { background: #fff; color: var(--black); border-color: #eee; }
.btn-white:hover { border-color: #ddd }
.btn-red { background: var(--red); color: #fff; font-weight: 500 }
.btn-red:hover, .btn-red:focus { color: #fff; background: #d81f54 }
.btn-sm { padding: 7px 13px 5px; font-size: 12px; font-weight: 600; }
.btn-sm.btn-fav { width: 34px; padding-left: 10px; }
.btn-fav.active { background: var(--red); color: #fff; border-color: var(--red) }
.text-red { color: var(--red); }

/*View snapshot*/
.ev-view { margin-left: -1px; }
.ev-view button { background: #fff; cursor: pointer; height: 37px; border: 1px solid #d5d9df; padding: 7px 8px 7px 13px; position: relative; margin-left: -1px; color: #686868; }
.ev-view button .bx { font-size: 17px; position: relative; top: 3px; }
.ev-view:hover b { color: var(--red) }
.ev-view:hover button { border-color: var(--red); z-index: 2 }
.ev-view .vlist { list-style: none; background: #fff; border: 1px solid #ddd; border-radius: 5px; position: absolute; margin-top: -1px; transition: .3s all; padding: 0; height: 0; opacity: 0; margin-left: -2px; width: 105px; box-shadow: 0 2px 6px rgb(0 0 0 / 15%); z-index: 1 }
.ev-view:hover .vlist { height: auto; opacity: 1 }
.ev-view .vlist li a { padding: 3px 10px; font-size: 13px; border-bottom: 1px solid #e5e5e5; width: 100%; display: block; text-decoration: none }
.ev-view .vlist li a:hover { background: #eee }
.ev-view .vlist li:last-child a { border-bottom: none }
.ev-view .vlist li a.active { background: var(--red); color: #fff }
.ev-view .vlist li a.active:after { content: "\ea41"; font-family: boxicons; font-size: 19px; position: absolute; right: 5px; margin-top: -5px }

/*View sidebar*/
.ev-sidebar { position: absolute; left: 0; bottom: 0; margin: auto; height: 100vh; z-index: 3; border-right: 1px solid #e2e4ea; background: #ffffff5c; width: 230px; box-shadow: inset 0 -2px 6px #ccc; top: 598px; }
.ev-sidebar ul { padding: 0; list-style: none }
.ev-sidebar ul li { padding: 10px 11px; border-bottom: 1px solid #d6d9df; font-size: 12px; min-height: 56px; transition: .3s all }
.ev-sidebar ul li:hover { cursor: pointer; background: #fff; }
.ev-sidebar ul li.active { background: #fff; font-weight: bold; box-shadow: -5px 0 5px #ccc; }
.ev-sidebar ul li p { margin-bottom: 0 }
.ev-sidebar ul li img { float: left; width: 37px; margin-right: 10px; border-radius: 5px; }

/*Box section*/
.ev-box, .wht-box { border: 1px solid #d5d9df; box-shadow: 0 2px 12px rgba(0,0,0,.1); border-radius: 10px; background: #fff; padding: 18px; min-height: 100px; overflow: hidden }
.ev-box .col-md-5 > img { max-width: 100%; transition: .5s all }
.ev-box aside { color: #9e9e9e; white-space: normal }
.ev-box .col-md-5 { padding-right: 3px; position: relative }
.ev-box .col-md-5 img { border-radius: 6px }
.ev-blur .ev-acts { padding: 10px; position: relative; z-index: 2; width: calc(100% - 18px); }
.ev-blur { opacity: 0; transition: .6s all; position: absolute; top: 0; width: 100%; }
.ev-box:hover .ev-blur { opacity: 1; }
.ev-box:hover .col-md-5 > img { filter: blur(3px); transform: scale(.98) }
.ev-blur .ev-acts .btn-sm { display: block; width: 100%; padding: 5px; }
.ev-blur .ev-acts .btn:hover { background: var(--red); border-color: var(--red); color: #fff; }
.ev-box .blurry { background: rgba(0,0,0,.3); position: absolute; margin: auto; bottom: 0; top: 0; left: 0; width: calc(100% - 18px); border-radius: 6px }

.ev-box aside h4 { font-size: 17px; color: var(--black); font-weight: 400; line-height: 24px; margin-bottom: 5px; }
.ev-box .ev-details .bx { width: 10px; margin-right: 8px; text-align: center }
.ev-box .ev-details { padding: 5px 0; font-size: 13px; }
.ev-box .ev-details > div { margin-bottom: 2px }
.ev-rating .bxs-star { color: #fe5f4f }
.ev-rating .bxs-star.NoRating { color: lightgrey; }
/*images*/
.ev-imagePlaceholder { background: url(../images/no_image.jpg) no-repeat; width: 456px; height: 320px; }

/*Banner*/
.ev-banner { background: #fff url(../images/events-bg.jpg) bottom right no-repeat; background-size: contain; }
.ev-banner .container { padding-top: 90px; padding-bottom: 70px; }
.ev-banner h3 { color: var(--black); font-size: 28px; font-weight: 900; }

/*filter*/
.ev-filter { background: rgba(0,0,0,.1); padding: 20px; position: relative; }
.ev-filter .srch-box { position: relative }
.ev-filter .bx-search { position: absolute; top: 13px; left: 10px; z-index: 1; }
.ev-filter .srch-box .form-control { padding: 14px 12px 11px 30px; width: 180px; }
.ev-filter .input-group-append { position: static; }
.ev-filter .input-group-append .btn { border-radius: 0; background: #fff; height: 37px; border: 1px solid #d5d9df; padding: 7px 18px 7px 13px; position: relative; margin-left: -1px }
.ev-filter .input-group-append.show .btn { border-color: var(--red); color: var(--black); }
.ev-filter .dropdown-menu label, .ev-filter .dropdown-menu .form-control { display: inline-block; max-width: 200px; }
.ev-filter .dropdown-menu { width: 100%; max-width: 730px; margin-left: -224px; border-radius: 0; border-color: #d5d9df; box-shadow: 0 2px 10px rgba(0,0,0,.1); padding: 20px; font-size: 14px }
.ev-filter .dropdown-menu label { vertical-align: top; margin: 5px 0 0 0; width: 55px; }
.ev-filter .dropdown-menu .form-control { height: 32px; padding: 0 6px; margin-right: 10px }
.ev-filter .input-group-append .dropdown-toggle:after { content: "\ec16"; font: normal normal normal 14px/1 boxicons; color: #999; border: none; position: relative; top: 5px; right: -4px; }
.ev-filter .dropdown-menu aside select:last-child { margin-right: 0 }
.ev-filter .dropdown-menu input.form-control { width: max-content; max-width: 160px }
.ev-filter .dropdown-menu select.max-60 { width: 60px }
.ev-filter .side-action { position: absolute; right: 0; }
.ev-filter .side-action .btn { padding: 7px 14px 5px; font-size: 13px; }
.fil-tags { max-width: 370px; }
.fil-tags a { display: inline-block; background: #fff; border: 1px solid #ddd; border-radius: 12px; font-size: 11px; padding: 2px 6px 2px 9px; margin: 0 1px 5px 0; transition: .3s all; }
.fil-tags a:hover { box-shadow: 0 1px 6px rgba(0,0,0,.1) }
.fil-tags a i { font-size: 14px; position: relative; top: 2px; margin-left: 2px; }
.fil-tags a i:hover { color: var(--red); }
.ev-filter .side-action .dropdown-menu { left: auto !important; right: 0; width: max-content; margin-left: 0; }
.ev-filter .fil-front h4{margin-top:-13px}
.ev-filter #GLookUp_Wing.dx-textbox{margin:0; padding:0;}
.fil-save { border-radius: 20px; background: #f7f7f7; border: 1px solid #e5e5e5; position: relative; padding: 7px 10px 1px 15px; margin-top: 10px; max-width: max-content; }
.fil-save:first-child { margin-top: 0 }
.fil-save .fil-tags { max-width: inherit }
.fil-save .fil-tags a:last-child { border: none; background: none; font-size: 14px; box-shadow: none !important; padding-left: 5px }
.fil-save .fil-tags input { border: none; padding: 0; background: transparent; display: inline-block; width: max-content }
.fil-save .bxs-trash { position: absolute; right: -3px; top: -4px; border-radius: 100%; color: var(--gray); padding: 2px; background: #f7f7f7; border: 1px solid #e5e5e5; cursor: pointer; font-size: 11px; opacity: 0; transition: .3s all; }
.fil-save:hover .bxs-trash { opacity: 1 }
.fil-save .bxs-trash:hover { color: var(--red); }
.fil-save .bxs-star { color: #fe5f4f }
.fil-name { display: inline-block; padding: 0 5px; margin-right: 5px; border: 1px dashed transparent; transition: .3s all; }
.fil-save:hover .fil-name { border-color: var(--gray) }
.ev-wrap h3 { color: var(--red); font-size: 25px; font-weight: 500; margin: 30px 0 0 0; }
.ev-wrap .col-md-5 h3 { color: var(--black); margin-top: 0 }
.ev-wrap .container.snap-cnt .row { margin-left: -10px; margin-right: -10px }
.snap-cnt aside { width: 20%; padding: 12px }
.snap-cnt aside a { float: left; background-color: white; box-shadow: 0 1px 3px #aaa; padding: 10px; border-radius: 6px; transition: .3s all; text-decoration: none; position: relative }
.snap-cnt aside a .ribbon { background-color: var(--red); color: #fff; position: absolute; top: 25px; left: -5px; font-size: 11px; padding: 4px 6px 2px 6px; border-radius: 3px 0 0 3px; box-shadow: -1px 2px 3px rgba(0,0,0,.2); }
.snap-cnt aside a .ribbon:after { background-color: var(--red); color: #fff; clip-path: polygon(0 0, 50% 0%, 0 50%, 50% 100%, 0% 100%); border-width: 0 0 3px 3px; font-weight: bold; display: block; content: ""; height: 23px; width: 15px; position: absolute; top: 0; right: -14px; }
.snap-cnt aside a:hover { transform: scale(1.1) }
.snap-cnt aside a img { border-radius: 6px; max-width: 100%; }
.snap-cnt aside p { height: 45px; font-size: 13px; display: block; vertical-align: middle; padding-top: 9px; overflow: hidden; margin-bottom: 0; }
.ev-banner .container.sideopen { padding-left: 180px; }
.ev-sideload { padding: 20px 20px 20px 254px; }

/*breadcrumb*/
.breadcrumb { background: transparent; padding: 0; margin: 8px 0 2px; font-size: 16px; }
.breadcrumb-item > a { color: var(--red); }
.breadcrumb-item.active { color: #646572 }
.ev-detail h3 { color: var(--black); margin-top: 10px }
.ev-detail .bx { font-size: 22px; vertical-align: text-bottom; }
.ev-detail aside .col-md-3 { text-align: right }
.ev-detail aside .col-md-3 .btn-white { border-radius: 100%; height: 49px; width: 49px; padding: 13px; margin: 0 4px }

/*photo gallery*/
.ev-gallery { width: 100%; white-space: nowrap; overflow-x: auto; }
.ev-gallery > div { padding: 2px; display: inline-block }
.ev-gallery .lightbox img { width: 145px; position: relative; height: 140px; object-fit: cover; border-radius: 6px; margin: 15px 15px 0 0 }
.baguetteBox-button { background-color: transparent !important; padding: 50px 20px; }
.baguetteBox-button:hover { opacity: .8 }
.ev-gallery > div > a { display: block }
.ev-gallery > div > a > img { transition: .4s all }
.ev-gallery > div > a > img:hover { box-shadow: 0 2px 8px rgba(0,0,0,.3); opacity: .9 }

/*Events slider*/
.event-slider { position: relative; }

@media (max-width: 767px) {
	.event-slider { border-color: transparent; }
}

.event-slider .MS-content { overflow: hidden; white-space: nowrap; padding: 0; }

@media (max-width: 767px) {
	.event-slider .MS-content { margin: 0; }
}

.event-slider .MS-content .item { padding: 13px; display: inline-block; height: 100%; overflow: hidden; position: relative; vertical-align: top; border-right: none; width: 50%; }

@media (max-width: 767px) {
	.event-slider .MS-content .item { width: 99%; padding: 23px }
}

.event-slider .MS-content .item p { font-size: 30px; text-align: center; line-height: 1; vertical-align: middle; margin: 0; padding: 10px 0; }
.event-slider .MS-controls button { position: absolute; border: none; background: #fff; font-size: 40px; outline: 0; top: 40%; border-radius: 100%; padding: 8px 18px 0; width: 65px; box-shadow: 0 2px 5px rgba(0,0,0,.1); transform: scale(.8); }
.event-slider .MS-controls button:hover { cursor: pointer; box-shadow: 0 3px 10px rgba(0,0,0,.2); }
.event-slider .MS-controls .MS-left { left: -25px; padding-right: 0; }
.event-slider .MS-controls .MS-right { right: -25px; padding-left: 0; }
.ev-tag { font-size: 10px; border: 1px solid rgba(0,0,0,.15); padding: 2px 10px; display: inline-block; margin: 0 6px 6px 0; border-radius: 10px; font-weight: 600; cursor: default }
.ev-tag.yel { background: #ffecce }
.ev-tag.red { background: #e9d2d6 }
.ev-datetime { color: var(--gray) }

.ev-acts { padding: 20px 20px 13px }
.ev-rel { margin: 0; padding: 0 }
.ev-rel .bx { color: var(--gray) }
.ev-rel li { padding: 10px 15px; border-bottom: 1px solid #ddd }
.ev-rel li:last-child { border-bottom: none }
.ev-rel .col-2 { padding-right: 0; padding-top: 5px; }
.ev-rel .col-10 { padding-left: 0 }
.ev-rel b { color: var(--red); font-size: 12px; }
.ev-rel h5 { font-size: 14px; font-weight: 400; margin-bottom: 0 }
#ev-LinksDiv { word-wrap: break-word !important; }
#ev-bannerImage { height: 313px; height: 320px; object-fit: cover }

/*Login modal*/
.login-m .col-md-7 { padding: 0; max-width: 54%; }
.login-m .col-md-5 { max-width: 46% }
.login-m .modal-dialog { max-width: 750px; text-align: center }
.login-m h4 { font-weight: bold; font-size: 16px; margin-bottom: 15px; }
.login-or { position: relative; }
.login-or p { display: inline-block; background: #fff; padding: 5px 10px; color: var(--gray); position: absolute; top: -14px; margin-left: -15px }
.login-or hr { margin: 28px 0 12px }
.btn.a-google { color: var(--gray); border: none; box-shadow: none; width: 100% }
.btn.a-google:hover { color: var(--black); }
.login-m .btn.btn-block { border-color: #e6e1e4; font-weight: 700; height: 40px; margin-bottom: 10px; }
.login-m .bk-logo { margin: 20px 0 35px }
.c-content { font-size: 10px; display: block }
.login-m .close { position: absolute; top: 3px; right: 6px; font-weight: 100; }

@media (min-width:768px) {
	.ev-wrap .container > .row { margin-left: -30px; margin-right: -30px }
}

@media (max-width:767px) {
	.c-content { margin-bottom: 20px }
	.login-m .col-md-7 { display: none }
	.login-m .col-md-5 { max-width: 100% }
	body { font-size: 14px; }
	.ev-wrap h3 { font-size: 18px }
	.ev-filter { padding: 10px }
	.ev-banner h3 { font-size: 22px; text-align: center; position: relative; top: -40px; }
	.ev-detail h3 { font-size: 20px; }
	.ev-banner .row { margin: 0 }
	.ev-banner .container { padding: 90px 0 }
	.ev-filter .dropdown-menu label { width: 100%; max-width: 100%; }
	.ev-filter .dropdown-menu .form-control { max-width: 100%; margin-top: 5px }
	.ev-filter .srch-box { width: calc(100% - 82px); }
	.ev-filter .side-action { position: static }
	.ev-filter .dropdown-menu .pull-right { float: left }
	.breadcrumb { margin-bottom: 10px; font-size: 12px }
	.btn { padding: 3px 10px; font-size: 12px; font-weight: 600; }
	.ev-datetime { font-size: 12px; margin-top: 10px }
	.ev-datetime .bx, .ev-detail aside .col-md-3 .bx { font-size: 16px }
	.ev-detail aside .col-md-3 .btn-white { width: 40px; height: 40px; padding: 10px; }
	.ev-gallery .lightbox img { width: 90px; height: 88px; margin: 10px 10px 0 0 }
	.ev-box .col-md-5 img { height: 100px; margin-bottom: 10px }
	.fil-tags { margin-top: 8px }
	.ev-wrap > .container.pt-5 { padding-top: 1rem !important }
	.snap-cnt aside { width: 50%; }
	.ev-blur .ev-acts, .ev-box .blurry { display: none }
}
