@using DevExtreme.AspNet.Mvc;
<div>
    @(Html.DevExtreme().RadioGroup()
            .ID("radioGroup")
            .DisplayExpr("text")
            .ValueExpr("color")
            .DataSource(new object[] {
    new { text = "Personnel Master", color = "Master" },
    new { text = "Personnel Rates", color = "Charge" }
                 })
            .OnValueChanged("Radio_New")
            .Width("auto")
    )

</div>
<script>
    function Radio_New(e)
    {
        var select = e.value;

        if (select == "Master") {

            NEVD_PersonnelMaster("New");
        }
        else if (select = "Charge")
        {
            NEVD_PersonnelCharges("New");
        }
        $("#Personnel_Choose_New").dxPopup("hide");
    }

</script>

