<div class="AttachmentDeleteByDescription_ClearReferences">
@using DevExtreme.AspNet.Mvc;

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}
<style>


</style>


<div id="Frm_Attachment_DeleteByDescription">
    <form>
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">                                         
                        <div class="col-sm-12 md-12 pll">
                            <label class="control-label text-red" for="user" id="lbl_AttachmentDeleteByDescription">Enter Attachment Description:</label>
                            @(Html.DevExtreme().TextBox().CustomTextBox().ID("AttachmentDeleteByDescription_TextBox").Name("AttachmentDeleteByDescription_TextBox") )

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-12 styleActionBtn">
                            @(Html.DevExtreme().Button().CustomSaveButton().Text("Delete").ID("AttachmentDeleteByDescription_Ok").FocusStateEnabled(true).UseSubmitBehavior(false).OnClick("AttachmentDeleteByDescription_SaveClick"))

                            @(Html.DevExtreme().Button().CustomCloseButton().Text("Cancel").ID("AttachmentDeleteByDescription_Cancel").FocusStateEnabled(true).OnClick(@<Text> function () { AttachmentDeleteByDescription_CancelClick();} </Text>))

                        </div>
                    </div>
                </div>
            </div><!--[Buttons]-->
</form>
</div><!--[Form Div]-->
<script>

    $(document).ready(function ()
    {
  
    })
    

    function AttachmentDeleteByDescription_CancelClick()
    {
        HidePopup('DeleteByDescriptionPopup');   
    }
    function AttachmentDeleteByDescription_SaveClick(e)
    {  
        var _description=$("#AttachmentDeleteByDescription_TextBox").dxTextBox("instance").option("value");
        if (_description == null || _description.length == 0)
        {
            DevExpress.ui.dialog.alert("Please Enter Description", "Information");
            return;
        }
        ShowLoader();  
            $.ajax({
            type: 'Get',
                url: "/Help/Attachment/DeleteByDescription",
            data:
            {
                Description: _description
            },
            cache: false,
            success: function (data)
            {
                HideLoader();                         
                if (data.result == true)
                {                   
                    //DevExpress.ui.dialog.alert(data.message, "Success");
                    DevExpress.ui.notify({ message: data.message, width: 350, shading: true, position: 'center' }, "success", 1500);
               
                    if (typeof AttachmentListGrid !== 'undefined') {
                        AttachmentListGrid.Refresh();
                    }   
                    HidePopup('DeleteByDescriptionPopup');
                }  
                else if (data.result == false)
                {
                    DevExpress.ui.dialog.alert(data.message, "Error");
                }     
            }
        });
    }
</script>
    </div>