@using DevExtreme.AspNet.Mvc;
<div id="scrollView_AttachmentWindow">
    <div  style="padding:15px">
        <label>Please upload your attachments here</label>
        @(Html.DevExtreme().FileUploader().SelectButtonText("Choose File").ID("ServiceReport_myFile_sr")
        .Name("ServiceReport_myFile_sr").Multiple(true).Accept("*").UploadMode(FileUploadMode.UseButtons)
        .ShowFileList(true).Visible(false).OnValueChanged("AttachmentsOnValueChange_GSR").Disabled(Model.ActionMethod == "_Delete" || Model.ActionMethod == "_View")
    )

        <a class='badge badge-danger' onclick="UploadFiles_GSR()"><i class='bx bx-paperclip'></i> Upload</a>
        @(Html.DevExtreme().Switch().ID("ServiceReport_AttachmentPreview_Switch").SwitchedOnText("Preview On").SwitchedOffText("Preview Off").OnValueChanged("ServiceReport_AttachmentPreview_Switch_ValueChange").Width(100).Value(!Request.Browser.IsMobileDevice))
        <div id="galleryContainer_sr" class="up-box clearfix">
        </div>
    </div>
</div>
<script>
    $(document).ready(function ()
    {
        $("#scrollView_AttachmentWindow").dxScrollView({ height: "100%", width: '100%', useNative: false, showScrollbar: 'always', scrollByThumb: true, scrollByContent: true, bounceEnabled: false });
        if ("@Model.ActionMethod" == "_Edit")
        {
            insertImages_GSR(null, null, "EditLoad");
        }
    })
</script>