<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

    <!-- START HEADER/BANNER -->

    <tbody>
        <tr>
            <td align="center">
                <table class="col-600" width="800" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9; border-top: 1px solid #dbd9d9;">
                    <tbody>
                        <tr>
                            <td align="center" valign="top" background="https://connectone.app/Content/image/phone-header-bg.png" bgcolor="#fff" style="background-size:cover; background-position:top;background-color: #fff;">
                                <table class="col-600" width="800" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:20px">

                                    <tbody>

                                        <tr>
                                            <td style="line-height: 0px;">
                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://connectone.app/Content/image/logol.png" height="50" alt="logo">
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <!-- END HEADER/BANNER -->
        <!-- START CONTENT 1 -->

        <tr>
            <td align="center">
                <table class="col-600" width="800" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                    <tbody>
                        <tr>
                            <td height="35"></td>
                        </tr>

                        <tr>
                            <td align="center" style="font-family: 'Raleway', sans-serif; font-size:22px; font-weight: bold; color:#2a3a4b;">Important Connectone Links</td>
                        </tr>

                        <tr>
                            <td height="10"></td>
                        </tr>


                        <tr>
                            <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#757575; line-height:24px; font-weight: 300; padding: 0 20px 20px">
                                Om Shanti Divine Soul,<br />
                                <br />
                                Given below are some important Connectone Related Links : <br />
                                <ul>
                                    <li>Connectone Web Application : <a target="_blank" href="https://Connectone.app">connectone.app</a> </li>
                                    <li>To Post Center Sewa Report regularly(without Login) : <a target="_blank" href="https://servicereport.connectone.app">Servicereport.Connectone.App</a> </li>
                                    <li>To View your center Service Report : <a target="_blank" href="https://services.brahmakumaris.com">Services.Brahmakumaris.com</a> </li>
                                    <li>To Check Audit Status : <a target="_blank" href="http://accountserver.bkinfo.in:1008/check_audit_status.aspx">Check Audit Status</a> </li>
                                    <li>To Post Suggestions / Problems Related to Connectone OR Sewa Report : <a target="_blank" href="https://services.connectone.app/feedbacks/askquery/askqueryMain_info?QueryFor=connectone">Problems/Suggestions</a> </li>
                                    <li>Our Contact Details : <a target="_blank" href="https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vQdm0X1MFagNyNqm1Q-s0zQF9W_B-f4Ql6ExUaqs0TAg3TWnH-4gYWpiJuOZNCFx06UXLfQhl6gUUgU/pubhtml?gid=0&single=true">Our Contact Details</a> </li>
                                    <li>Other Important Links : <a target="_blank" href="https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vTiqUS0YLWv0Ckka2GiHW2NyB2HK4l_Mc8dPrivPs1nFNkjlyxu_0GAFgF7BDu0P9h6lrm3JHcDEbsU/pubhtml?urp=gmail_link">Other Important Links</a> </li>
                                </ul>
                                <br />
                                Regards, <br />
                                Accounts Department, Shantivan
                            </td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>



        <!-- END CONTENT 1 -->
        <!-- START CONTENT 2 -->

        <tr>
            <td align="center">
                <table class="col-600" width="800" border="0" align="center" cellpadding="0" cellspacing="0" style="border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9; ">
                    <tbody>
                        <tr>


                            <td align="center" bgcolor="#dbd9d9">@*#34495e*@
                                <table class="col-600" width="800" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td height="2"></td>
                                        </tr>

                                        @*<tr>
                                            <td align="center" ><a target="_blank" style="font-family: 'Raleway', sans-serif; font-size:12px; color:#73b2e7; line-height:24px; font-weight: bold;" href="https://connectone.app">Connectone Web Application</a></td>
                                        </tr>*@


                                        @*<tr>
                                            <td height="20"></td>
                                        </tr>*@
                                        @*

        <tr>
            <td align="center" style="font-family: 'Lato', sans-serif; font-size:14px; color:#fff; line-height: 1px; font-weight: 300;">
                Lorem Ipsum mail template for connectone app
            </td>
        </tr>


        <tr>
            <td height="40"></td>
        </tr>*@

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <!-- END CONTENT 2 -->




    </tbody>
</table>