@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.ServiceReport_ViewModel

@*<div class="row">
    <div class="col-sm-12">
        <div class="form-field">

            @Html.Label("Feedback from Participants: ", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

            @(Html.DevExtreme().TextArea()
                                                    .ID("Txt_ProgFeedback_GSR")
                                                    .Name("Txt_ProgFeedback_GSR")
                                                    .ReadOnly(false)
                                                    .Height(100)
                                                    .Placeholder("Type Feedback from Participants...")
                                                    .Value(Model.Txt_ProgFeedback_GSR)
                                    .ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } })
                    )

        </div>
    </div>
</div>*@
@Html.Partial("Frm_Testimonials_tab", Model)
@*@Html.Partial("Frm_SplMoment_tab", Model)
<div class="row">
    <div class="col-sm-12">
        <label class="control-label" style="font-weight: 500; color: #6952C2">Note: To add new line press "Enter" key...</label>
    </div>
</div>*@


