@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Facility.Models.ServiceReport_ViewModel

<div class="row">
    <div class="col-sm-12">
    <div class="form-field">

        @Html.Label("Special Moments / Novelty of the Program: ", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

        @(Html.DevExtreme().TextArea()
                                                    .ID("Txt_ProgSpecialMom_GSR")
                                                    .Name("Txt_ProgSpecialMom_GSR")
                                                    .ReadOnly(false)
                                                    .Height(100)
                                                    .Placeholder("Type Special Moments / Novelty of the Program...")
                                                    .Value(Model.Txt_ProgSpecialMom_GSR)
                                    .ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } })
                    )

    </div>
</div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-field">

            @Html.Label("Cultural Programs: ", htmlAttributes: new { @class = "control-label", @style = "font-weight:500" })

            @(Html.DevExtreme().TextArea()
                                                    .ID("Txt_CulturalProg_GSR")
                                                    .Name("Txt_CulturalProg_GSR")
                                                    .ReadOnly(false)
                                                    .Height(100)
                                                    .Placeholder("Type Details Of Cultural Programs Conducted...")
                                                    .Value(Model.Txt_CulturalProg_GSR)
                                    .ElementAttr(new Dictionary<string, object>() { { "class", "CleanTextForDB" } })
                    )

        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-sm-12">
        <label class="control-label" style="font-weight: 500; color: #6952C2">Note: To add new line press "Enter" key...</label>
    </div>
</div>*@


