<div class="ServiceReport_Export_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @using DevExpress.XtraReports.UI;
    <div>
        

        @(Html.DevExtreme().Button()
                    .ID("ServiceReport_dx_ExportGridDataxls")
                    .Text("Export to XLSX")
                    //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                    //.AccessKey("C")
                    .OnClick("ExportXLS_dx")
                    .Visible(true)
                    .Width(120)
        )



    </div>
    <script>
       
        function ExportXLS_dx() {

            var workbook = new ExcelJS.Workbook();
            var worksheet = workbook.addWorksheet("SheetName");

            DevExpress.excelExporter.exportDataGrid({
                component: $("#ServiceReportListGrid_dx").dxDataGrid("instance"),
                worksheet: worksheet,
                autoFilterEnabled: true,
                customizeCell({ excelCell, gridCell }) {
                    if (gridCell.rowType === 'header') {
                        const columnDataField = gridCell.column.dataField;
                        if (columnDataField === 'iIcon') {
                            const Column = worksheet.getColumn(excelCell.col);
                            Column.width = 20;
                        }
                    }
                }
            }).then(function () {
                workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: "application/octet-stream" }), "ServiceReportListGrid.xls");
                });
            });
            $("#Service_Report_dx_modal").dxPopup("hide");
        }
    </script>
   
</div>

