@using DevExtreme.AspNet.Mvc
<div class="container" id="container">
    <div class="row" style="padding: 10px 5px">
        <div class="col-6">

        </div>
        <div class="col-6 float-right">
            @(Html.DevExtreme().Button().Text("Mark as Completed") .StylingMode(ButtonStylingMode.Contained).Width(150).OnClick("Past_MarkasCompleted_onclick"))
            @(Html.DevExtreme().Button().Text("Preview") .StylingMode(ButtonStylingMode.Contained).Width(100).OnClick("Past_Preview_onclick"))

        </div>

    </div>


    @Html.Action("Frm_Past_Events_Grid") @*new { viewmode = Model.viewmode, wingid = Model.wingid, insid = Model.insid }*@
</div>
