
<style>
    .wdfull {
        width: 100%;
    }

    td {
        width: auto;
    }

    .width1200px {
        width: 1200px;
    }

    .margT12 {
        margin-top: 12px !important;
    }

    .fs22 {
        font-size: 22px !important;
    }

    .overflow-scroll {
        overflow: auto !important;
    }

    .dxgvHeader_MetropolisBlue {
        background: transparent !important;
        cursor: default !important;
    }
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<form action="" class="edit_form">
    <div class="full-width-header-bg2">
        <div class="row">

            <div class="col-sm-8">
                <h3 class="popuphead"><i class="far fa-edit"></i>  Complex Details</h3>
            </div>
            <div class="col-sm-4 prm">
                <h5 class="mand-txt-align">
                    <i class="fas fa-info-circle"></i> Red Fields are mandatory
                </h5>
            </div>
        </div>
    </div><!--[]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-2 pll">
                    <label class="control-label text-red" for="user">Complex Name:</label>
                </div>
                <div class="col-sm-10 prm pll1">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" placeholder="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-12 pll">
                    <label class="control-label fs15"><i class="fas fa-user blue-color margR8"></i> Address:</label>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-2 pll">
                    <label class="control-label text-red" for="user">Line 1:</label>
                </div>
                <div class="col-sm-10 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" placeholder="Type Address Line 1...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-2 pll">
                    <label class="control-label" for="user">Line 2:</label>
                </div>
                <div class="col-sm-10 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" placeholder="Type Address Line 2...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-2 pll">
                    <label class="control-label" for="user">Line 3:</label>
                </div>
                <div class="col-sm-10 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" placeholder="Type Address Line 3...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-2 pll">
                    <label class="control-label" for="user">Line 4:</label>
                </div>
                <div class="col-sm-10 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" placeholder="Type Address Line 4...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">State:</label></div>
                            <div class="col-sm-8 col-md-8 col-lg-8 prm pll1">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <select name="" class="dx-texteditor-input appear">
                                            <option value="0">Select State </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[1]-->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">District:</label></div>
                            <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <select name="" class="dx-texteditor-input appear">
                                            <option value="0"> </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[2]-->
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">City:</label></div>
                            <div class="col-sm-8 col-md-8 col-lg-8 prm pll1">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <select name="" class="dx-texteditor-input appear">
                                            <option value="0"> </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[1]-->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label text-red" for="user">Pincode:</label></div>
                            <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" placeholder="Pincode...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[2]-->
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-2 pll">
                    <label class="control-label" for="user">Remarks:</label>
                </div>
                <div class="col-sm-10 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" placeholder="Type any other details / Remarks...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <fieldset class="default-fieldset">
        <div class="row">

            <div class="col-sm-8">
                <div class="form-field wbg brd-none">
                    <div class="container-fluid">
                        <div class="send_message">
                            <img src="~/Content/image/send-icon.png" class="madhuban-req" />
                            Send Your Request to Madhuban
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-field wbg brd-none">
                    <div class="container-fluid">
                        <div class="btn-align paddR0">

                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="cancel po" tabindex="0">
                                <a href="javascript:void(0);" class="link-txt">
                                    <div class="dx-button-content">
                                        <i class="fas fa-check-circle btn-icons checkgreen icon-rgt-space5"></i>
                                        <span class="dx-button-text">Save </span>
                                    </div>
                                </a>
                            </div><!--[button]-->
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="save" tabindex="0" style="margin-right:4px;">
                                <a href="javascript:void(0);" class="link-txt">
                                    <div class="dx-button-content  dx-button-min-width">
                                        <i class="fas fa-times-circle btn-icons crossgrey icon-rgt-space5"></i>
                                        <span class="dx-button-text">Cancel</span>
                                    </div>
                                </a>
                            </div><!--[button]-->

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </fieldset><!--[row]-->


</form>
