@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px
}

    body.pushable > .pusher {
        background: url(../images/bg.jpg);
        padding-top: 68px;
        background-size: cover
    }

a, .ui.menu .item, .ui.list .list > .item .header {
    color: #50555d !important;
    transition: .3s all
}

.bold {
    font-weight: 700
}

.ui.list > .item.red {
    color: #e15c63 !important;
}

.ui.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2
}

.main-hdr {
    padding: 10px
}

h4 {
    background: rgba(0,0,0,.2);
    display: block;
    padding: 15px;
    color: #fff;
    margin: 0;
    font-size: 18px
}

.ui.wide.left.sidebar, .ui.wide.right.sidebar {
    width: 250px;
    font-size: 18px
}

.ui.visible.wide.left.sidebar ~ .fixed, .ui.visible.wide.left.sidebar ~ .pusher {
    -webkit-transform: translate3d(350px,0,0);
    transform: translate3d(250px,0,0);
}

.ui.list {
    margin: 0
}

.list.massive {
    text-align: center;
    border-bottom: 1px solid #eee
}

.red {
    color: #e15c63 !important;
}

.ui.vertical.menu .item > i.icon {
    float: left
}

.ui.list > .item > .icon + .content {
    padding-top: 4px
}

.ui.menu .ui.list > .item, .ui.menu .ui.list > .item:first-child, .ui.menu .ui.list > .item:last-child {
    padding: 10px 0;
    border-bottom: 1px solid #eee
}

    .ui.menu .ui.list > .item:hover {
        background: #fafafa
    }

.ui.list .list > .item > img.image + .content, .ui.list > .item > img.image + .content {
    display: inline-block;
    width: calc(100% - 64px);
    padding-left: 5px;
}

.ui.avatar.image {
    width: 60px;
    height: 45px;
    padding-left: 7px;
}

.massive .ui.avatar.image {
    width: 170px;
    height: 150px;
    padding: 0
}

.ui.basic.button {
    font-weight: 700;
    color: #50555d !important;
    font-size: 18px
}

.ui.secondary.menu {
    background: #4470c4;
    padding: 10px 0;
}

    .ui.secondary.menu .item {
        background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
        border-radius: 0 25px 25px 0;
        padding: 5px 10px;
        transition: all .3s
    }

    .ui.secondary.menu a.item:hover {
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    }

.ui.labeled.icon.button > .icon {
    position: relative;
    margin: 22px 4px 0 -6px !important;
}

.ui.labeled.icon.button > span {
    line-height: 26px;
    display: inline-block;
    width: calc(100% - 57px);
    vertical-align: middle;
    margin-top: -4px;
}

.app-control {
    padding: 15px
}

    .app-control.max-height {
        max-height: 340px;
        overflow: hidden
    }

    .app-control a {
        text-align: left;
        color: #fff !important
    }

        .app-control a i {
            background: linear-gradient( 135deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
            border-radius: 5px;
            display: inline-block;
            padding: 0 3px;
            margin-right: 10px;
            height: 44px;
        }

            .app-control a i img {
                width: 37px;
                margin-top: -4px;
            }

.pusher a.huge {
    background: rgba(256,256,256,.2);
    color: #fff;
    transition: .3s all;
    margin-bottom: 15px
}

    .pusher a.huge:hover {
        background: rgba(256,256,256,.3);
        color: #fff;
    }

    .pusher a.huge:last-child {
        margin-bottom: 0
    }

.ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
    padding: 10px !important;
    text-align: left;
    font-size: 18px;
    line-height: 45px
}

    .ui.labeled.icon.button.active {
        background: #00c4e1;
        color: #fff;
    }

.toc.item + .content {
    color: #fff;
    font-weight: 700;
    margin-left: 5px;
    width: 100%;
}

    .toc.item + .content .header {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 70%;
        font-size: 18px;
        margin-bottom: 2px;
    }

    .toc.item + .content.oneline .header {
        margin-top: 12px
    }

    .toc.item + .content p {
        color: #c2ceeb
    }

.sm-info {
    padding: 15px;
    margin-top: 20px;
    font-size: 12px;
    position: absolute;
    bottom: 0
}

    .sm-info a {
        display: block;
        border-bottom: 1px dotted #ddd;
        width: max-content;
        padding: 0
    }

        .sm-info a + small {
            display: none;
            color: #aaa;
            line-height: 12px;
            word-break: break-all;
            padding-top: 5px
        }

            .sm-info a:hover + small, .sm-info a + small:hover {
                display: block
            }

        .sm-info a:last-child {
            border: none;
        }

.app-control.middle {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
}

/*Grouping*/
.grouping {
    padding-left: 20px;
    position: relative;
    padding-bottom: 15px
}

    .grouping aside {
        background: rgba(55,95,174,.7);
        color: #fff;
        border-radius: 4px;
        margin-bottom: 10px;
        margin-left: -26px;
        padding: 3px 8px;
        font-weight: bold;
        font-size: 16px;
        position: relative;
        z-index: 1
    }

    .grouping .lines {
        position: absolute;
        border-left: 1px solid rgba(256,256,256,.75);
        left: -17px;
        margin-top: -20px;
        border-bottom: 1px solid rgba(256,256,256,.75);
        width: 17px;
        bottom: 50%;
        top: -60%;
    }

    .grouping aside + a .lines {
        top: -12%;
    }

/*Theme changer*/
h4 + .ui.secondary.menu {
    position: absolute;
    right: 0;
    top: -16px;
    height: 56px;
    width: 50px;
    background: transparent
}

    h4 + .ui.secondary.menu .ric.item {
        right: -7px;
    }

.ui.secondary.menu .ric.item {
    border-radius: 25px 0 0 25px;
    padding-right: 0
}

.ui.right.menu .ui.list > .item {
    padding: 10px;
}

.ui.form .field > label {
    color: #fff;
    margin: 0;
}

.ui.form .two.fields .ui.input input {
    height: 50px
}

input[type="radio"]:checked + label::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 16px;
    background: rgba(0, 0, 0, 0);
    top: 2px;
    left: 8px;
    border: 4px solid #fff;
    border-top: none;
    border-left: none;
    transform: rotate( 45deg);
}

input[type="radio"] {
    line-height: 2.1ex;
}

input[type="radio"], input[type="checkbox"] {
    position: absolute;
    left: -999em;
}

    input[type="radio"] + label {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        font-size: 18px;
        margin: 0 0 0 4px
    }

        input[type="radio"] + label::before {
            content: "";
            display: inline-block;
            vertical-align: -5px;
            height: 2.5ex;
            width: 2.5ex;
            background-color: #fff;
            border: 1px solid rgb(166, 166, 166);
            border-radius: 4px;
            box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
            margin-right: 0.5em;
        }

        input[type="radio"] + label.th_red::before {
            background-color: red
        }

        input[type="radio"] + label.th_blue::before {
            background-color: #1b8abc
        }

        input[type="radio"] + label.th_lightblue::before {
            background-color: #a8dee8
        }

    input[type="radio"]:checked + label.th_lightblue::after, input[type="radio"]:checked + label.th_white::after {
        border-color: #1b4459
    }

    input[type="radio"] + label.th_dark::before {
        background-color: #262626
    }

/*For AndroidID & Device Token at Bottom*/
.ui.wide.left.sidebar, .ui.wide.right.sidebar {
    max-height: 100vh;
}

.sm-info {
    padding: 15px;
    margin-top: 20px;
    font-size: 12px;
    position: absolute;
    bottom: 0
}

    .sm-info a {
        display: block;
        border-bottom: 1px dotted #ddd;
        width: max-content;
        padding: 0
    }

        .sm-info a + div {
            display: none;
            color: #aaa;
            line-height: 12px;
            word-break: break-all;
            padding-top: 5px;
            font-size: 10px;
        }

        .sm-info a:last-child {
            border: none;
        }
.ui.user.list {
    max-height: 200px;
    overflow-y: auto;
}

/*device token & Android id for landscape*/
@media only screen and (orientation:landscape) and (max-height:420px) {
    .sm-info {
        position: static;
        margin-bottom:70px
    }
}