 body.pushable>.pusher{ background: url(../images/bg-lightblue.jpg);}
.ui.secondary.menu{background:#69aed5}
.toc.item+.content p{color:#e0eeff}
.ui.labeled.icon.button.active{background: #009abd;}
h4{background: rgba(18,110,145,.7);}
.pusher a.huge, .pusher a.huge:hover{background: rgba(0,133,189,.5)}
.grouping aside{background:rgb(130 192 211)}
.ui.form .field>label{color:#406a7a}