.dx-button, .dx-calendar.dx-calendar-with-footer .dx-calendar-footer .dx-button, .dxbButton_Aqua {
    background: rgb(211 44 44);
    color: #fff;
    border-color: rgb(211 44 44);
}

    .dx-button:hover, .dx-button:focus {
        background: rgb(189 26 26);
        border-color: rgb(189 26 26);
    }

input:focus, textarea:focus {
    background-color: #fdffe2;
}

.dx-button .dx-icon {
    color: #fff !important
}

.filhdr, .dxpcLite_Aqua .dxpc-footer, .dxdpLite_Aqua .dxpc-footer, .dxgvFilterBar_Aqua, .dxgvFilterBuilderButtonArea_Aqua, .dx-popup-title.dx-toolbar {
    background: #fbe8e8;
    border-top: 1px solid #f1c1c1;
    border-bottom: 1px solid #f1c1c1;
}

.dx-popup-title.dx-toolbar {
    padding: 6px 8px;
    color: #523636;
}

    .dx-popup-title.dx-toolbar .dx-toolbar-label {
        font-size: 16px;
        margin-top: 0;
    }

.dxgvEditFormDisplayRow_Aqua td.dxgv, .dxgvDetailCell_Aqua td.dxgv, .dxgvDataRow_Aqua td.dxgv, .dxgvDetailRow_Aqua.dxgvADR td.dxgvAIC {
    border-bottom: 1px solid #f1c1c1;
    border-right: 1px solid #f1c1c1;
}

.filhdr:hover, .dxgvFooter_Aqua, .dxtcLite_Aqua > .dxtc-stripContainer .dxtc-tab, .dxtcLite_Aqua > .dxtc-stripContainer .dxtc-activeTab {
    background: #ffe1e1;
}

.dxgvDetailRow_Aqua td.dxgv, .dxgvPreviewRow_Aqua td.dxgv, .dxgvEmptyDataRow_Aqua td.dxgv {
    border-bottom: 1px solid #f1c1c1;
}

.report_header_div_main {
    background: #fffbfb !important
}

.dxgvHeader_Aqua, .dxgvFilterRow_Aqua {
    background: #fbe8e8;
}

.dxgvEmptyDataRow_Aqua, .dx-datagrid-rowsview .dx-row > td, .dx-datagrid-rowsview .dx-row > tr > td {
    background: #fdf4f4 !important;
}

.dxgvFilterRow_Aqua td.dxgv, .dxgvControl_Aqua, .dxgvDisabled_Aqua, .dxgvHeader_Aqua, .dxeTextBox_Aqua, .dx-popup-wrapper > .dx-overlay-content, .report_header_div_main, .dxpcLite_Aqua .dxpc-mainDiv, .dxpcLite_Aqua.dxpc-mainDiv, .dxdpLite_Aqua .dxpc-mainDiv, .dxdpLite_Aqua.dxpc-mainDiv, .dxgvFooter_Aqua td.dxgv, .dxtcLite_Aqua > .dxtc-content, .dxeMemo_Aqua {
    border-color: #e9afaf !important;
}

.dxGridView_gvHeaderFilter_Aqua, .dxICheckBox_Aqua, .dxWeb_pcCloseButton_Aqua {
    filter: hue-rotate(105deg)
}

.dx-button-text {
    color: #fff
}

.dx-calendar-cell.dx-calendar-selected-date, .dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today, .dx-datagrid-headers .dx-header-row, .dxpcLite_Aqua .dxpc-header, .dxdpLite_Aqua .dxpc-header, .dx-calendar-cell.dx-calendar-selected-date.dx-calendar-contoured-date, .dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today.dx-calendar-contoured-date {
    background: rgb(211 44 44) !important;
    box-shadow: none
}

.dx-datagrid-rowsview .dx-selection.dx-row > td, .dx-datagrid-rowsview .dx-selection.dx-row:hover > td, #ChartInfo_ParentDiv .form-row.active, .dxgvDataRow_Aqua.dxgvFocusedRow_Aqua {
    background-color: #ef5d5d !important;
}

a.dxfcPropertyName_Aqua {
    color: #e11010 !important;
}

.dxgvPagerBottomPanel_Aqua, .dxgvPagerTopPanel_Aqua {
    background: #fdc6c6
}

.dxpLite_Aqua .dxp-summary, .dxpLite_Aqua .dxp-ellip {
    color: #cd1414
}

.dx-popup-wrapper.popupresponsive > .dx-overlay-content {
    min-width: 280px
}

.ChartReportsExport_ClearReferences .dx-button {
    min-width: 100%
}

/*Responsive CSS below desktop*/
@media only screen and (max-width:500px) {
    .dx-button {
        width: 100%;
        height: 40px;
        padding: 5px;
        margin-bottom: 5px;
    }

        .dx-button .dx-button-text, .report_button_div .dx-button .dx-button-text {
            font-size: 16px !important;
            font-weight: bold !important;
        }

    .report_button_div {
        padding: 0 4px 0 13px;
    }

    .show_Btn {
        max-width: 100% !important;
        margin-right: 0 !important
    }

    .dx-popup-wrapper.popupresponsive > .dx-overlay-content {
        min-width: 97%
    }

    .dx-calendar-navigator .dx-calendar-caption-button {
        top: -2px;
        border: none
    }

    .dx-scrollable-scrollbars-alwaysvisible.dx-scrollable-both > .dx-scrollable-wrapper > .dx-scrollable-container > .dx-scrollable-content, .dx-scrollable-scrollbars-alwaysvisible.dx-scrollable-vertical > .dx-scrollable-wrapper > .dx-scrollable-container > .dx-scrollable-content {
        padding: 8px 8px 0;
    }

    .dx-calendar-navigator .dx-button {
        width: auto;
        border-color: rgb(211 44 44);
    }

    .dx-popup-title .dx-closebutton .dx-icon {
        position: absolute;
        left: -5px;
        top: -5px;
    }
}
