 body.pushable>.pusher{ background: url(../images/bg-red.jpg);}
.ui.secondary.menu{background:#d14733}
.toc.item+.content p{color:#ffcdc6}
.ui.labeled.icon.button.active{background: #ed1308;}
.grouping aside {background: rgb(177 47 28);}