@using DevExtreme.AspNet.Mvc;
@{

    var padno = (string)ViewBag.Padno;
}

<style>
    .dx-header-row {
        color: black;
        font-weight: bolder;
    }
    /*.dx-datagrid-borders .dx-datagrid-rowsview 
    {
        border-color:black;
    }*/
 
</style>

    <div class="row" style="padding-top:2%">

        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="col-sm-3 pll">
                            <label style="color:red"><b>Cert No :</b></label>
                        </div>
                        <div class="col-sm-7 pll">
                            @(Html.DevExtreme().NumberBox().CustomNumberBox().ID("CenterPadNo").Name("CenterPadNo").Placeholder("").OnValueChanged("CenterPadNo_ValueChange").OnKeyDown("CenterPadNo_KeyPress").ShowSpinButtons(false).Format("#").Min(0))
                        </div>
                        <div class="col-sm-2 pll">
                            @(Html.DevExtreme().Button().ID("CenterPadNo_Show").Text("Show").OnClick("CenterPadNo_Show_Click"))
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-field">
                    <div class="container-fluid">

                        @(Html.DevExtreme().DataGrid()
                                                                                                                 .ID("CenterDetail_datagrid")
                                                                                                                 .DataSource(d => d.Mvc().Area("Profile").Controller("DetailInfo").LoadAction("LookUp_Get_Details")
                                                                                                                                   .LoadParams(new { padno = new JS("function (){ return Center_Pad_No;}") }))
                                                                                                                 .Columns(columns =>
                                                                                                                 {
                                                                                                                     columns.Add().DataField("Details").Caption("Details");
                                                                                                                     columns.Add().DataField("Name").Caption("Name");
                                                                                                                     columns.Add().DataField("Contact1").Caption("Contact 1");
                                                                                                                     columns.Add().DataField("Contact2").Caption("Contact 2");
                                                                                                                     columns.Add().DataField("Contact3").Caption("Contact 3");
                                                                                                                     columns.Add().DataField("Contact4").Caption("Contact 4");

                                                                                                                 })
                                                                                                                 .ShowBorders(true)
                                                                                                                 .ShowRowLines(true)
                                                                                                                 .Height(450)
                                                                                                                 .Scrolling(s => s.ShowScrollbar(ShowScrollbarMode.Always).Mode(GridScrollingMode.Infinite))
                                                                                                                 .Visible(false)


                        )

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>


<script>
    var Center_Pad_No;
    function CenterPadNo_Show_Click(e)
    {
        ShowLoader();
        $("#CenterDetail_datagrid").dxDataGrid("instance").refresh().then((r) => {
            $("#CenterDetail_datagrid").dxDataGrid("instance").option("visible", true);
            HideLoader();
        });
    }
    function CenterPadNo_ValueChange(e)
    {       
        if (e.value)
        {          
            Center_Pad_No = e.value;        
        }
        else
        {
            Center_Pad_No =0; 
            $("#CenterDetail_datagrid").dxDataGrid("instance").option("visible", false);
        }

    }
    function CenterPadNo_KeyPress(e) {
        if (e.event.which == 13)
        {
            e.event.stopPropagation();
            e.event.stopImmediatePropagation();
            CenterPadNo_Show_Click();
        }
    }

    $(document).ready(function ()
    {
        $("#CenterPadNo").dxNumberBox("instance").option("value", parseInt("@padno"));
        //$("#CenterPadNo").dxNumberBox("instance").option("readOnly", true);
    });
</script>

