  
<style>

    #Application_Body {
        background: url(../../../../Icons/Sparc/sparc-bg.jpg);
        background-size: cover;
        background-position: center top;
        padding: 46px 0 0 0 !important;
    }
    .dxsplControl_MetropolisBlue, .dxsplVSeparator_MetropolisBlue, .dxsplHSeparator_MetropolisBlue, .dxsplPane_MetropolisBlue, .dxsplPaneCollapsed_MetropolisBlue, .notification-tab .tab-content .tab-pane, .notification-tab .nav-tabs > li.active, .nav-tabs > li.active.w3-bar-item.w3-button.testbtn, .multimenu .dropdown-menu {
        background-color: transparent !important
    }
    .notification-tab .nav-tabs {
        border-bottom-color: rgb(55 89 133 / 30%);
    }

    .multimenu {
        text-align: center;
        position: relative
    }

    .multimenu .dropdown {
        display: inline-block;
        margin: 20px 10px;
        ;
        position: static
    }

    .multimenu .dropdown p {
        font-weight: bold;
        font-size: 16px;
        margin: 6px 0 0
    }

        .multimenu .dropdown button, .multimenu .dropdown a {
            border-radius: 10px;
            border: 0 none;
            outline: none !important;
            box-shadow: 0 2px 4px rgba(0,0,0,.2);
            background:#fff
        }

    .multimenu .dropdown .dropdown-menu {
        width: max-content;
        padding: 0 5px;
        transition: all .5s ease-out;
        transition: all .5s ease-out;
        transform: rotateX(90deg);
        transform-origin: top;
        opacity: 0;
        display: block;
        box-shadow: none;
        border: none;
        text-align: center;
    }

    .multimenu .dropdown .dropdown-menu li {
        display: inline-block;
        margin: 6px;
    }

    .multimenu .dropdown button:hover {
        background: #f5f5f5
    }

    .multimenu .dropdown img {
        max-width: 100px
    }

    .multimenu .dropdown .dropdown-menu img {
        max-width: 70px
    }

    .multimenu .open > .dropdown-menu {
        opacity: 1;
        transform: rotateX(0deg);
    }

    .multimenu .open .dropdown-submenu > .dropdown-menu {
        opacity: 1;
        transform: rotateX(0deg);
        display: none
    }

    .dropdown-backdrop {
        display: none
    }

    .multimenu .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
        background-color: #f5f5f5;
        border-color: #1d499a;
        color: #333;
    }

    .multimenu .dropdown-menu {
        top: 200px;
        right: 0;
        margin: auto;
        background: #fff;
        z-index:10;
    }

    .multimenu .dropdown-submenu .dropdown-menu {
        top: 140px;
        left: 0;
        background: #fff;
    }
    .multimenu .dropdown-submenu .dropdown-menu{padding-bottom:0}
    .sparcIntro { max-width: 714px; margin: 20px auto 0; }

        .sparcIntro h2 {
            margin-top: 40px;
            font-weight: 600;
            color: #fff;
            text-shadow: 0 3px 3px rgba(0,0,0,.5);
            line-height: 40px;
        }

        .sparcIntro img {
            max-width: 100%
        }
     
    #ChartInfo_ParentDiv .evt-details img { margin-left: -9px; }

    @@media only screen and (min-width:1024px) { .multimenu .dropdown-menu.sub-2-1 {
            left: -65px
        }
        .dropdown-submenu > a::after{display:none}
    }

    @@media only screen and (max-width:1024px) {
        .multimenu {
            max-width: 400px;
            margin: 0 auto
        }

        .multimenu .dropdown {
            margin: 0;
            display: block
        }

        .multimenu .dropdown img, .multimenu .dropdown .dropdown-menu img {
            max-width: 35px;
            float: left
        }

        .multimenu .open > .dropdown-menu {
            max-width: 100%;
            bottom: 0
        }

        .multimenu .dropdown .dropdown-menu {
            display: none;
            padding: 0
        }

        .multimenu .dropdown-submenu .dropdown-menu {
            margin-top: 5px
        }

        .multimenu .open > .dropdown-menu {
            display: block;
            position: static
        }

        .multimenu .open .dropdown-submenu > .dropdown-menu {
            position: relative;
            top: 0
        }

        .multimenu .dropdown-submenu p + .caret {
            display: none
        }

        .multimenu .dropdown .dropdown-menu li {
            margin: 0 0 5px 15px;
            display: block
        }

        .dropdown-submenu > a::after {
            margin: 16px 12px 0 0
        }

        .dropdown-menu > li > a {
            padding: 5px 10px 11px
        }

        .btn .caret {
            float: right;
            margin: 17px 10px 10px
        }

        .multimenu .dropdown p {
            display: inline-block;
            margin: 6px 0 0 -18px;
        }

        .multimenu .dropdown .dropdown-menu, .multimenu .dropdown button, .multimenu .dropdown a {
            width: 100%
        }

        .multimenu .dropdown-menu, .multimenu .dropdown-submenu .dropdown-menu {
            height: calc(100% + 10px);
        }

        .multimenu .dropdown-submenu .dropdown-menu {
            margin-top: 5px;
            bottom: 0
        }

        .sparcIntro {
            margin-bottom: 4px
        }
        .sparcIntro h2 {
            font-size: 20px;
            line-height: 26px;
            margin-top: 20px
        }

        .sparcIntro .row > div {
            padding-right: 0
        }
    }
   
</style>

<div class="sparcIntro clearfix">
    <div class="row">
        <div class="col-sm-3 col-xs-4">
            <img src="../../../../Icons/Sparc/sparc-logo.png" />
        </div>
        <div class="col-sm-9 col-xs-8 ">
            <h2>Welcome to <br> <big>SpARC Projects</big> </h2>
        </div>
    </div>
</div>

<div class="multimenu">

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button">
            <img src="../../../../Icons/multi-menu-icons/create.png" />
            <p>Create</p>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('CREATEPROJECT')"><img src="../../../../Icons/multi-menu-icons/project.png"> <p>Project</p></a></li>
            <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('CREATEFORM')"><img src="../../../../Icons/multi-menu-icons/form.png"> <p>Form</p></a></li>
            <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('CREATESUBJECT')"><img src="../../../../Icons/multi-menu-icons/subject.png"> <p>Subject</p></a></li>
            <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('CREATESCHEDULE')"><img src="../../../../Icons/multi-menu-icons/schedule.png"> <p>Schedule</p></a></li>
        </ul>
    </div>

    <div class="dropdown sub-5">
        <button class="btn btn-default dropdown-toggle" type="button">
            <img src="../../../../Icons/multi-menu-icons/mapunmap.png" />
            <p>Map/Unmap & Copy</p>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu sub-5-1">
            <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('MAPFORM2SUBJECT')"><img src="../../../../Icons/multi-menu-icons/subject.png"> <p>Subject to Form</p></a></li>
            <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('MAPFORM2SCHEDULE')"><img src="../../../../Icons/multi-menu-icons/schedule.png"> <p>Schedule to Form</p></a></li>
            <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('MAPFORM')"><img src="../../../../Icons/multi-menu-icons/form.png"> <p>Copy  Form</p></a></li>
            <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('MAPPROJECT2SUBJECT')"><img src="../../../../Icons/multi-menu-icons/schedule.png"> <p>Copy Subjects</p></a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button">
            <img src="../../../../Icons/multi-menu-icons/edit.png" />
            <p>Edit/View</p>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu sub-1">
                <a class="test" tabindex="-1" href="#"><img src="../../../../Icons/multi-menu-icons/project.png"><p>Project</p><span class="caret"></span></a>
                <ul class="dropdown-menu sub-1-1">
                    <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('EDITPROJECT')"><img src="../../../../Icons/multi-menu-icons/modify.png"><p>Modify</p></a></li>
                    <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('DELETEPROJECT')"><img src="../../../../Icons/multi-menu-icons/delete.png"><p>Delete</p></a></li>
                </ul>
            </li>

            <li class="dropdown-submenu sub-2">
                <a class="test" tabindex="-1" href="#"><img src="../../../../Icons/multi-menu-icons/form.png"> <p>Form</p><span class="caret"></span></a>
                <ul class="dropdown-menu sub-2-1">
                    @*<li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('COPYFORM')"><img src="../../../../Icons/multi-menu-icons/copy.png"><p>Copy</p></a></li>*@
                    <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('EDITFORM')"><img src="../../../../Icons/multi-menu-icons/modify.png"><p>Modify</p></a></li>
                    <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('SHAREFORM')"><img src="../../../../Icons/multi-menu-icons/share.png"><p>Share</p></a></li>
                    <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('DOWLOADFORM')"><img src="../../../../Icons/multi-menu-icons/download.png"><p>Download</p></a></li>
                    <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('DELETEFORM')"><img src="../../../../Icons/multi-menu-icons/delete.png"><p>Delete</p></a></li>
                </ul>
            </li>

            <li class="dropdown-submenu sub-3">
                <a class="test" tabindex="-1" href="#"><img src="../../../../Icons/multi-menu-icons/subject.png"><p>Subject</p><span class="caret"></span></a>
                <ul class="dropdown-menu sub-3-1">
                    <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('EDITSUBJECT')"><img src="../../../../Icons/multi-menu-icons/modify.png"><p>Modify</p></a></li>
                    <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('DELETESUBJECT')"><img src="../../../../Icons/multi-menu-icons/delete.png"><p>Delete</p></a></li>
                </ul>
            </li>

            <li class="dropdown-submenu sub-4">
                <a class="test" tabindex="-1" href="#"><img src="../../../../Icons/multi-menu-icons/schedule.png"> <p>Schedule</p><span class="caret"></span></a>
                <ul class="dropdown-menu sub-4-1">
                    <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('EDITSCHEDULE')"><img src="../../../../Icons/multi-menu-icons/modify.png"><p>Modify</p></a></li>
                    <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('DELETESCHEDULE')"><img src="../../../../Icons/multi-menu-icons/delete.png"><p>Delete</p></a></li>
                </ul>
            </li>

        </ul>

    </div>

    <div class="dropdown sub-6">
        <button class="btn btn-default dropdown-toggle" type="button">
            <img src="../../../../Icons/multi-menu-icons/view.png" />
            <p>Responses</p>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu sub-6-1">
            <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('VIEWANSWERS')"><img src="../../../../Icons/multi-menu-icons/answers.png"> <p>Answers with Timestamp</p></a></li>
            @*<li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('VIEWTIMESTAMP')"><img src="../../../../Icons/multi-menu-icons/time-stamps.png"> <p>Time stamps</p></a></li>*@
        </ul>
    </div>

    <div class="dropdown sub-7">
        <button class="btn btn-default dropdown-toggle" type="button">
            <img src="../../../../Icons/multi-menu-icons/send.png" />
            <p>Send</p>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu sub-7-1">
            <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('SENDNOW')"><img src="../../../../Icons/multi-menu-icons/now.png"> <p>Now</p></a></li>
            <li><a tabindex="-1" href="javascript:DataNavigation_SparcProj('SENDLATER')"><img src="../../../../Icons/multi-menu-icons/later.png"> <p>Later</p></a></li>
        </ul>
    </div>

</div>

<script>

    $('.dropdown button').on("click", function (e) {
        if ($(this).hasClass("active")) {
            $(this).removeClass("active");
            $(this).parent().removeClass("open");
        }
        else {
            $('.dropdown button').removeClass("active");
            $(this).addClass("active");
            $('.dropdown').removeClass("open");
            $(this).parent().addClass("open");
            e.stopPropagation();
            e.preventDefault();
        }     
    });

    $('.dropdown-submenu a.test').on("click", function (e) {
        if ($(this).parent().hasClass("active")) {
            $(this).parent().removeClass('active');
            $(this).next('ul').hide('fast');
            e.stopPropagation();
            e.preventDefault();
            $(this)[0].scrollIntoView(false);
        }
        else {
            $('.dropdown-submenu').find('ul').hide('fast');
            $('.dropdown-submenu').removeClass('active');
            $(this).next('ul').show('fast');
            $(this).parent().addClass('active');
            e.stopPropagation();
            e.preventDefault();
            var ele = $(this).next('ul')
            setTimeout(function () { $(ele)[0].scrollIntoView(false); ele = null;},250)
         
        }
       
    });

    function DataNavigation_SparcProj(Action) {
        switch (Action) {
            case "CREATEFORM":
                //CreateNewForm();
                AllOperationsOpenProjectInfoPopup("Sparc_CreateForm");
                break;
            case "CREATEPROJECT":
                    ShowLoader();
                    $.ajax({
                        type: 'GET',
                        url: "/Facility/ServiceProject/Frm_ServiceProject_Window",
                        cache: false,
                        data:
                        {
                            Tag: "_New",
                            screen: "Sparc_Create"
                        },
                        success: function (data) {
                            HideLoader();
                            OpenDynamicPopup("New ~ Service Projects", null, "auto", 650, true, data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            HideLoader();
                            console.log(jqXHR);
                            console.log(textStatus);
                            console.log(errorThrown);
                            DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
                        }
                    });
                break;
            case "CREATESUBJECT":
                AllOperationsOpenProjectInfoPopup("Sparc_CreateSubject");
                break;
            case "CREATESCHEDULE":
                    ShowLoader();
                OpenDynamicPopup("New ~ Scheduler", "@Url.Action("Frm_Scheduler_Window", "Scheduler", new { @area = "Help" })?ActionMethod=_New&Screen=Sparc_Create_Schedule", "auto", 1050, false, null);
                    HideLoader();
                break;
            case "EDITPROJECT":
                AllOperationsOpenProjectInfoPopup("Sparc_Edit");
                break;
            case "DELETEPROJECT":
                AllOperationsOpenProjectInfoPopup("Sparc_Delete")
                break;
            case "COPYFORM":
                AllOperationsOpenProjectInfoPopup("Sparc_Copy_Chart")
                break;
            case "EDITFORM":
                AllOperationsOpenProjectInfoPopup("Sparc_Edit_Chart");
                break;
            case "SHAREFORM":
                AllOperationsOpenProjectInfoPopup("Sparc_Share_Chart")
                break;
            case "DOWLOADFORM":
                AllOperationsOpenProjectInfoPopup("Sparc_Download_Chart")
                break;
            case "DELETEFORM":
                AllOperationsOpenProjectInfoPopup("Sparc_Delete_Chart");
                break;
            case "EDITSUBJECT":
                AllOperationsOpenProjectInfoPopup("Sparc_EditSubject");
                break;
            case "DELETESUBJECT":
                AllOperationsOpenProjectInfoPopup("Sparc_DeleteSubject");
                break;
            case "EDITSCHEDULE":
                Edit_Delete_Scheduler_Click();
                break;
            case "DELETESCHEDULE":
                Edit_Delete_Scheduler_Click(true);
                break;
            case "MAPFORM":
                Edit_Map_Form_Project_Schedule_Click("Frm_MapFormtoProject");
                break;
            case "MAPFORM2SUBJECT":
                AllOperationsOpenProjectInfoPopup("Sparc_MapForm2Subject");
                break;
            case "MAPPROJECT2SUBJECT":
                AllOperationsOpenProjectInfoPopup("Sparc_MapSubject2Project");
                break;
            case "MAPFORM2SCHEDULE":
                Edit_Map_Form_Project_Schedule_Click("Frm_MapFormtoSchedule");
                break;
            case "VIEWANSWERS":
                Edit_View_Answer_Click();
                break;
            case "VIEWTIMESTAMP":
                break;
            case "SENDNOW":
                AllOperationsOpenProjectInfoPopup("Sparc_SendNow")
                break;
            case "SENDLATER":
                AllOperationsOpenProjectInfoPopup("Sparc_SendLater");
                break;
        }
    }

    function AllOperationsOpenProjectInfoPopup(value) {
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Facility/ServiceProject/Frm_Service_Project_Info",
            cache: false,
            data:
            {
                Screen: value
            },
            success: function (data)
            {
                HideLoader();
                let popUpTitle = null;
                switch (value) {
                    case "Sparc_Edit": popUpTitle = "Edit/View >> Project >> Modify >> Select Project:"
                        break;
                    case "Sparc_Delete": popUpTitle = "Edit/View >> Project >> Delete >> Select Project:"
                        break;
                    case "Sparc_CreateSubject": popUpTitle = "Create >> Subject >> Select Project:"
                        break;
                    case "Sparc_EditSubject": popUpTitle = "Edit/View >> Subject >> Modify >> Select Project:"
                        break;
                    case "Sparc_DeleteSubject": popUpTitle = "Edit/View >> Subject >> Delete >> Select Project:"
                        break;
                    case "Sparc_CreateForm": popUpTitle = "Create >> Form >> Select Project:"
                        break;
                    case "Sparc_Copy_Chart": popUpTitle = "Edit/View >> Form >> Copy >> Select Project:"
                        break;
                    case "Sparc_Edit_Chart": popUpTitle = "Edit/View >> Form >> Modify >> Select Project:"
                        break;
                    case "Sparc_Share_Chart": popUpTitle = "Edit/View >> Form >> Share >> Select Project:"
                        break;
                    case "Sparc_Download_Chart": popUpTitle = "Edit/View >> Form >> Download >> Select Project:"
                        break;
                    case "Sparc_Delete_Chart": popUpTitle = "Edit/View >> Form >> Delete >> Select Project:"
                        break;
                    case "Sparc_MapForm2Subject": popUpTitle = "Map/Unmap & Copy >> Subject to Form >> Select Project:"
                        break;
                    case "Sparc_MapSubject2Project": popUpTitle = "Map/Unmap & Copy >> Copy Subjects >> Select Project:"
                        break;
                    case "Sparc_Answer": popUpTitle = "Responses >> Answers with Timestamp >> Select Project:"
                        break;
                    case "Sparc_SendLater": popUpTitle = "Send >> Later >> Select Project:"
                        break;
                    case "Sparc_SendNow": popUpTitle = "Send >> Now >> Select Project:"
                        break;
                    default:
                        break;
                }
                OpenPopup(value, popUpTitle, null, "auto", 1050, true, data);
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                HideLoader();
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            }
        });
    }
    function Edit_Delete_Scheduler_Click(isDelete = false) {
        ShowLoader();
        let screen = isDelete ? "Sparc_Delete_Schedule" : "Sparc_Edit_Schedule";
        $.ajax({
            type: 'GET',
            url: "/Help/Scheduler/Frm_Scheduler_Info",
            cache: false,
            data:
            {
                Screen: screen
            },
            success: function (data) {
                HideLoader();
                //OpenDynamicPopup("Schedule Listing", null, "100%", "60%", true, data);

                if (screen == "Sparc_Edit_Schedule") {
                    OpenPopup(screen, "Edit/View >> Schedule >> Modify >> Select Schedule:", null, "auto", 1050, true, data);
                }
                else if (screen == "Sparc_Delete_Schedule") {
                    OpenPopup(screen, "Edit/View >> Schedule >> Delete >> Select Schedule:", null, "auto", 1050, true, data);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                HideLoader();
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            }
        });
    }
    function Edit_Map_Form_Project_Schedule_Click(urlStr) {
        debugger;
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Facility/SparcProject/"+urlStr,
            cache: false,
            success: function (data) {
                HideLoader();
                if (urlStr == "Frm_MapFormtoProject") {
                    OpenDynamicPopup("Copy Form", null, "auto", 550, true, data);
                }
                else if (urlStr == "Frm_MapFormtoSchedule") {
                    OpenDynamicPopup("Map Schedule to Form", null, "auto", 550, true, data);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                HideLoader();
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            }
        });
    }
    function Edit_Map_Project2Subject_Click(){
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Facility/ServiceProject/Frm_Service_Project_Info",
            data:
            {
                Screen: 'Sparc_MapSubject2Project',
            },
            cache: false,
            success: function (data) {
                HideLoader();
                OpenPopup("Sparc_MapSubject2Project", "Service Projects", null, "auto", 1050, true, data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                HideLoader();
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            }
        });
    }
    function Edit_View_Answer_Click() {
        ShowLoader();
        $.ajax({
            type: 'GET',
            url: "/Facility/ServiceProject/Frm_Service_Project_Info",
            data:
            {
                Screen: 'Sparc_Answer',
            },
            cache: false,
            success: function (data) {
                HideLoader();
                OpenPopup("Sparc_Answer", "Responses >> Answers with Timestamp >> Select Project: ", null, "auto",1050, true, data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                HideLoader();
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                DevExpress.ui.dialog.alert(jqXHR.responseText, errorThrown);
            }
        });
    }
    function getGridIdName(ddGridId, ddId) {
        debugger;
        var DG = $("#" + ddGridId).dxDataGrid("instance");
        let arr = [];
        DG.selectRows($("#" + ddId).dxDropDownBox("option", "value"));
        let rows = [];
        rows = DG.getSelectedRowsData();
        if (rows.length > 0) {
            for (var i = 0; i < rows.length; i++) {
                if (ddGridId == 'Form_SparcMappingModel_datagrid_MapForm2Project') {
                    arr.push({ Id: rows[i].REC_ID, name: rows[i].CI_CHARTNAME, ProjectId: rows[i].PROJECT_ID });
                    console.log("Form: " + arr);
                }
                else if (ddGridId == 'Form_SparcMappingModel_datagrid_MapSchedule2Form') {
                    console.log("Instance Count: " + rows[i].Inst_Count)
                    console.log("Response Count: " + rows[i].Resp_count)
                    arr.push({
                            Id: rows[i].REC_ID,
                            Name: rows[i].CI_CHARTNAME,
                            frequency: rows[i].CI_FREQUENCY,
                            fromDate: (rows[i].CI_FROM_DATE !== null && rows[i].CI_FROM_DATE !== undefined && rows[i].CI_FROM_DATE !== "") ? JS_Json_Date_To_ddMMyyyy(rows[i].CI_FROM_DATE) : rows[i].CI_FROM_DATE,
                            toDate: (rows[i].CI_TO_DATE !== null && rows[i].CI_TO_DATE !== undefined && rows[i].CI_TO_DATE !== "") ? JS_Json_Date_To_ddMMyyyy(rows[i].CI_TO_DATE) : rows[i].CI_TO_DATE,
                            instancesCounts: rows[i].Inst_Count,
                            purpose: rows[i].CI_PURPOSE,
                            responsesCounts: rows[i].Resp_count
                        });
                    console.log("Form: " + arr);
                }
                else if (ddGridId.includes('Project_SparcMappingModel_')) {
                    arr.push({ Id: rows[i].ID, name: rows[i].Name });
                    console.log("Project: " + arr);
                }
                else if (ddGridId.includes('Schedule_SparcMappingModel_')) {
                    arr.push({ Id: rows[i].REC_ID, name: rows[i].Name });
                    console.log("Schedule: " + arr);
                }
            }
            return arr;
        }
    }
    function DG_OnRowClick_Sparc(e) {
        if (e.isSelected) {
            e.component.deselectRows(e.key);
        }
        else {
            e.component.selectRows(e.key, true);
        }
    }
</script>