@using DevExtreme.AspNet.Mvc;
@model IEnumerable<dynamic>
@{ var PopupID = ViewBag.PopupID;}
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet" />
<style>
    .cb-txt-align {
        text-align: right;
        color: #000080;
        margin: 5px 0 0 0px;
        display: inline;
    }
</style>
<div id="MembershipRRSummary_Form">
    <div class="full-width-header-bg2">
        <div class="row">
            <div class="col-sm-8 pll">
                <h3 class="popuphead pll"><i class=" far fa-edit"></i>  Cash Bank Summary</h3>@*//Redmine Bug #135466 fixed*@
            </div>
            <div class="col-sm-4 prm">
                <h5 class="cb-txt-align">@ViewBag.SummaryPeriod</h5>
            </div>
        </div>
    </div><!--[Header]-->
    <div class="row">
        <div class="col-md-12 padding15 ">
            <div id="MRR_Summary" class="parent_table">
                <form>
                    @Html.Partial("Frm_View_SummaryGrid", Model)
                </form>
            </div>
        </div>
    </div><!--[Grid]-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                </div>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <div class="styleActionBtn">
                        @(Html.DevExtreme().Button().ID("MRR_Summary_CANCEL").Text("Close").Icon("fa fa-times-circle fa-w-16 btn-icons crossgrey").OnClick("CloseSummary") )

                    </div>
                </div>
            </div>
        </div>
    </div><!--[Buttons]-->
</div>
<script>
    function CloseSummary(e)
    {
        HidePopup("@PopupID");
    }
</script>
