@using DevExtreme.AspNet.Mvc;
@{
    var SessionGUID = Request.QueryString["SessionGUID"];
    var ID = (string)ViewBag.ID;
    var VouchingMode = (bool)ViewBag.VouchingMode;
}
<div class="col-md-12">
    <label>Documents Attached:</label>
    <div class="row">
        <div class="col-md-12" id="BankAuditNestedGrid_Div">
            <form>
                @Html.Action("Frm_Bank_Info_DetailGrid", "Bank", new { RecID = ID, VouchingMode = VouchingMode, command = "REFRESH", SessionGUID = SessionGUID })
            </form>
        </div>
    </div>
    <label>Additional Info:</label>
    <div class="row">
        <div class="col-md-12" id="BankAuditAdditionalInfo_Div">
            <form>
                @Html.Action("Frm_Voucher_Info_Bank_Grid_Auditor_AdditionalInfo", "Bank", new { SessionGUID = SessionGUID })
            </form>
        </div>
    </div>
</div>

<script>

</script>
<script>
    $(document).ready(function () {
        //DevExpress.config({
        //    floatingActionButtonConfig: direction
        //});

        //DevExpress.ui.repaintFloatingActionButton();

    });

</script>

