
.red{color: #ad1f1f}
.gray{color: #7b7777;}

.feed-hd { padding: 10px; position: sticky; top: 0; z-index: 1; }
.feed-hd h5{color:#fff;margin: 0; font-weight:bold; font-size:13px}
.users-hd{background-color: #1f5f9f;}
.events-hd {background-color: #ad1f1f;}
.feedback-hd {background-color: #e1e1e1;}
.feedback-hd h5{color: #333}

.pnon {cursor: not-allowed;}
.pnon a {pointer-events: none; opacity: .5;}

.chat-body {padding: 0; overflow-y: auto;}
.chat-body:last-child{border: none}
.message-chat{padding-top: 15px}
.message.info .message-body {background-color: #fff;border: 1px solid #cfd3d5; padding: 10px 10px 5px; font-size: 13px;}
.message textarea{width: 80%; float: right; padding: 10px 14px; margin-right: 5px}
.message aside{margin-right: 60px; clear:both; width: 80%; float: right;}

.message .medium-image {float: left; margin-left: 10px;}
.img-circle {border-radius: 50%;}
.medium-image {width: 45px; height: 45px; margin-right: 5px;}
.message.my-message .medium-image {float: right;margin-left: 5px; margin-right: 10px;margin-top: auto;}

.message .medium-image { float: left; margin-left: 10px;}
.img-circle { border-radius: 50%;}
.medium-image {width: 45px; height: 45px;  margin-right: 5px;}
.message.my-message .message-body {float: right;padding: 10px 10px 5px;}
.message .message-body {position: relative; width: auto; max-width: calc(100% - 150px); float: left; background-color: #fff; border-radius: 10px; border: 1px solid #dbe3e8; margin: 0 5px 10px 3px; color: #788288;
                        background-color: #fff;}
.message-body { background-color: #fbfcff; height: 100%;  width: calc(100% - 305px); float: right;}

.feedsec .evt-details { border-bottom: 1px solid #b1e2ff; position: relative; }
.feedsec .evt-details:hover { background: #fff8ed }

.feedsec .evt-details.active { background-image: linear-gradient(to top, #f8c574, #f3e7d3); }

.feedsec .evt-details .col-xs-3 { width: 22% }
.feedsec .evt-details .col-xs-9 { width: 78% }

.feedsec .user-details { border-bottom: 1px solid #b1e2ff; line-height: 16px; position: relative }
.feedsec .user-details a { padding: 8px 8px 4px; }
.feedsec .user-details:hover { background: #f2f9fd }
.feedsec .user-details.active { background-image: linear-gradient(to top, #b1e2ff, #ebf7ff); }

.feedsec .badge.badge-danger { float: right; background-color: #ad1f1f; border-radius: 9px; min-width: 18px; color: #fff; padding: 4px 6px 3px; margin: 0; }

.feedsec .badge { color: #323232; padding: 4px 9px 3px; margin-right: 5px; font-size: 11px }
.feedsec .badge.badge-primary { background-color: #d4ecf4; border: 1px solid #c4dae2; color: #323232 }
.feedsec .badge.badge-red { background-color: #eec4c4; border: 1px solid #d09494; color: #323232 }
.feeds hr{border-color:#B2DEFB}
.feedsec .evt-details.active:after { content: ""; position: absolute; top: 38px; z-index: 1; border-top: 10px solid transparent; border-left: 13px solid #f5d7a8; border-bottom: 10px solid transparent; right: -13px; }

.feedsec .user-details.active:after { content: ""; position: absolute; top: 16px; z-index: 100; border-top: 9px solid transparent; border-left: 10px solid #c7eaff; border-bottom: 9px solid transparent; right: -10px; }
.message .message-info h5 {
    font-weight: bolder;
    font-size: 12px;
    color: #1d499a;
}
.message-info .badge.badge-danger {
    position: absolute;
    right: 95px;
    top: 3px;
    padding: 3px;
    font-size: 9px;
    min-width: 15px;
}
.message-body .fa-paperclip{position: absolute; cursor: pointer; right: 105px;top: 11px;font-size: 13px;}
.fa-paperclip:hover{ color: #2b5dbb}
.message-info b {position: absolute;right: 7px;top: 4px;}
.message-info b input {position:relative;top: 3px; left:-2px}

.message {
    position: relative;
    width: 100%;
}
.message h5, .message h4{margin: 0 0 5px; font-size: 13px}
.feeds p{margin-bottom: 2px; font-size: 13px}
.feeds p.red{font-size: 11px; font-weight: bold}
.feeds b{font-size: 11px;}
.feeds b.refresh {font-size: 18px; margin-top: -17px;}
.feeds h5 a { color: #fff !important; min-height: auto; padding: 0; }

.feeds a {
    color: #333 !important;
    display: block;
    padding: 8px 8px 5px;
    /*min-height: 48px;*/
    cursor: pointer
}
.p-l-5{padding-left: 5px !important}
.p-r-5{padding-right: 5px !important}
.p-l-0{padding-left: 0 !important}
.p-r-0{padding-right: 0 !important}
.message hr{margin: 5px 0}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}
.fa-star{
	color:#bdbdbd;
}
.fa-star.fill{
	color:#ffbb5c;
}
.message-info h4 {
    font-weight: bolder;
    margin-right: 113px;
    color: #323232;
}
.my-message{
	float: right;
}
.feedsec .evt-details img { width: 45px; height: 45px; }
.feedsec .user-details img { width: 34px; height: 34px; }
.feedsec .user-details p { text-overflow: ellipsis; overflow: hidden; }
.feedsec .ev-title { display: block; max-height: 36px; overflow: hidden }
.feedsec .user-details .col-xs-3 { width: 18% }
.feedsec .user-details .col-xs-9 { width: 82% }

.feeds{
	height: 600px;
	border-right: 1px solid #B2DEFB;
    float:left;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 18px;
}

.firstPane,.secondPane{
    width: 250px;
}

.thirdPane {
    width: calc(100% - 500px);
    background: url(/Content/Image/chat-pattern.jpg);
}
.feeds img{max-width: 100%; object-fit: cover;}

.chat-body .button{
	float: right; margin-right: 5px;
    border-radius: 5px;
    padding: 7px 15px 5px;
    transition:.3s all;
    font-weight: bold;
    font-size: 13px;
	margin-top: 10px;
	border: none;
}
.chat-body .button-default{background:#eee}
.chat-body .button-primary { background-image: linear-gradient(to top, #f8c574, #f3e7d3);}

.chat-body .button-primary[disabled]{opacity: .5; cursor: not-allowed; font-size: 12px; padding: 6px 9px;}
.chat-body .button-primary[type='submit']{	margin-right: 60px;}
.chat-body .button-primary:hover{background-image: linear-gradient(to top, #f8c574 , #ffe0ae);}
.chat-body .button-primary:focus{background-image: linear-gradient(to bottom, #f8c574 , #ffe0ae);}

/*DX Related Dump*/
#Frm_Feedback_Query_Info .dxcvControl_MetropolisBlue{border: none}
#Frm_Feedback_Query_Info #Frm_FeedQuery_EventsSection{border-left: 1px solid #B2DEFB}
#Frm_FeedQuery_EventsSection, #Frm_FeedQuery_EventsSection table{max-width: 100%; table-layout:fixed;}
.dxflViewFormLayoutSys .dxflItemSys .dxflNestedControlCell_MetropolisBlue, .dxcvTable_MetropolisBlue,.dxflCaptionCell_MetropolisBlue,.dxflGroup_MetropolisBlue,.dxflGroupCell_MetropolisBlue,.dxflViewFormLayoutSys .dxflItem_MetropolisBlue{padding: 0px !important;}
.dxflCaptionCellSys,.dxcvSeparator_MetropolisBlue, .dxcvEmptyCard_MetropolisBlue{display: none;}
.dxcvCard_MetropolisBlue{height: auto !important;border: none !important;}   
.dxcvControl_MetropolisBlue dxcv {width: 100%;}
.dxcvControl_MetropolisBlue, .dxcvDisabled_MetropolisBlue,.dxcvCard_MetropolisBlue, .dxcvTable_MetropolisBlue{background:transparent !important}
.fileModal .modal-body a{display: inline-block; padding-right: 15px; cursor: pointer; max-width: 118px; vertical-align: top; color: #333;}
.fileModal .modal-body img{width: 100px; height: 100px; border-radius: 7px; box-shadow: 0 3px 6px rgba(0,0,0,.05), inset 0 0 2px rgba(0,0,0,.3); object-fit: cover; transition: .3s all; margin-bottom: 3px}
.fileModal .modal-body a:hover img{ box-shadow: 0 6px 12px rgba(0,0,0,.15);}
.fileModal .modal-body a:last-child{padding-right: 0}
.fileModal .modal-body a p{font-size: 11px; word-break: break-all;max-height: 30px; overflow: hidden; display: flex;}
.fileModal .modal-body a p span{align-self: flex-end}
.fileModal .modal-dialog .modal-content {position:absolute;max-width: 750px; min-width: 315px; width: 100%;}
.fileModal .modal-title { line-height: initial}
.modal-backdrop{background-color: rgba(0,0,0,.6) !important;}

/*Attach modal*/
#attachMdl .modal-dialog, #showAllAttachments .modal-dialog{max-width: 720px; width:100%}
#showAllAttachments .modal-dialog { max-width: 1182px;  max-height: 100px}
#attachMdl_sr .modal-dialog {max-width: 1182px; margin-top:-1px; width: 100%;}
#attachMdl_sr .modal-body {max-height: 83vh; overflow: auto;}
#galleryContainer_sr .modal-dialog .up-box > a:nth-child(3n) {margin-right: 15px}
.up-box img, .up-box video { width: 215px; position: relative;  height: 140px; object-fit: contain; border-radius: 6px 6px 0 0;  background: url(/Content/events/images/concrete.jpg);}
.up-box > a video + textarea.form-control {position: relative; top: -5px;}
.up-box > a {float: left;position: relative;width: 215px;margin: 15px 15px 0 0;height: 230px; text-decoration:none}
#attachMdl .up-box > a:nth-child(3n), #showAllAttachments .up-box > a:nth-child(5n) {  margin-right: 0;}
.up-box > a .form-control { height: 63px; font-size: 11px; margin-top:-1px; border-radius: 0 0 6px 6px; padding: 5px; text-decoration:none }
.up-box .bxs-trash { position: absolute; right: -8px; top: -7px; border-radius: 100%; color: var(--gray); padding: 2px; background: #f7f7f7; border: 1px solid #e5e5e5; cursor: pointer; font-size: 14px; opacity: 0; transition: .3s all; }
.up-box > a:hover .bxs-trash { opacity: 1 }
.up-box .bxs-trash:hover { color: var(--black);}
#attachMdl .dx-button-has-text .dx-button-content, #attachMdl_sr .dx-button-has-text .dx-button-content{padding:8px}
#attachMdl .dx-fileuploader-wrapper, #attachMdl_sr .dx-fileuploader-wrapper {padding: 0}
#attachMdl .close, #attachMdl_sr .close {font-size: 20px; margin-top:-20px }
#attachMdl .badge.badge-primary, #attachMdl .badge.badge-primary {display: inline-block; padding: 8px; min-height: auto; cursor: pointer; margin-top: 5px; border-radius: 5px;}
#attachMdl .badge.badge-primary:hover, #attachMdl .badge.badge-primary:hover{color:#323232}
#attachMdl .btn.btn-default, #attachMdl .btn.btn-default {position: relative; top: 3px; margin-right: 5px;}
.svg-inline--fa.fa-w-18 {width: 22px !important; height: 22px; margin-top: 5px; margin-right: 3px;}
#scrollView_AttachmentWindow .badge.badge-danger { font-size: 14px; padding: 12px 15px; border-radius: 5px; margin-top: -15px; position: relative; top: 7px; }

@media only screen and (max-device-width:767px) {
    .firstPane{width: 100%; max-height: 175px;}
    .secondPane{width: 100%; max-height: 136px;}
    .thirdPane{width: 100%; max-height: 220px;}
    .feeds{height: auto}
    .message .message-body{max-width: calc(100% - 50px)}
    .message .medium-image{margin-left: 0; width: 35px; height: 35px; margin-right: 3px;}
    .chat-body .button{margin-top: 2px}
    .feeds .badge.badge-primary{margin-top:2px; margin-left:5px}
    .up-box img, .up-box > a, #scrollView_AttachmentWindow, #scrollView_AttachmentWindow label { width: 100% }
    #scrollView_AttachmentWindow .badge.badge-danger { float: left; margin: 0 0 3px; }
    .up-box .bxs-trash {opacity: 1}
}