 body{font-family: 'Open Sans', sans-serif !important}
.compact_column_label, .compact_column_data {
    padding: 0px !important;
    white-space: normal;
    line-height: normal;    
}
.dx-switch-off {
    font-size: 10px;
    font-weight: bold;
    color: lightslategrey;
}

    .dx-switch-on {
        font-size: 10px;
        font-weight: bold;
        color: #11203d;
    }

    .dx-fab-action {
        max-width: 30px;
        max-height: 30px;
        margin-right: 13px;
    }

    .dx-fab-text {
        margin-top: 2px !important;
        padding: 2px 4px !important
    }


    .dx-dialog-message {
        padding: 10px 10px 10px 50px;
        margin-left: 10px;
        background-image: url("../../../../Icons/About Us3.png");
        background-repeat: no-repeat;
        background-position: left center;
    }


    .dx-button:hover, .dx-button:focus {
        font-weight: bolder;
    }

  /*  body {
        cursor: url("../../../../Icons/Baba_cursor_v4.png") 9 0, auto;
    }*/

    .dx-loadpanel-message {
        color: black;
        font-weight: bolder;
        font-size: larger;
    }

    .errordialog {
        position: absolute;
        width: 100%;
        border-bottom: 1px solid black;
        background: lightyellow;
        left: 0;
        top: 0;
        padding: 3px 0;
        text-indent: 5px;
        font: normal 11px Verdana;
    }

    .input-read-only {      
        opacity: 0.5;
        background-color: transparent;
        pointer-events: none;
    }
    .dx-textbox .dx-texteditor-input {
        text-overflow: ellipsis !important;
    }
    .dx-selectbox .dx-texteditor-input { /*RedmineBug#134809*/
        text-overflow: ellipsis !important;
    }
input[aria-readonly="true"] + .dx-placeholder, input:disabled + .dx-placeholder {
    visibility: hidden !important;
}
    fieldset:disabled .dx-placeholder {
        visibility: hidden !important;
    }
    fieldset:disabled .control-label {
        color: #a4a4a4 !important;
        text-shadow: none !important;
    }
    fieldset:disabled legend {
        color: #a4a4a4 !important;
        text-shadow: none !important;
    }
.dx-overlay-content.dx-popup-normal {
    /*overflow: auto !important;*/
}

    .GridFloatAuditBtn {
        position: relative;
        z-index: 2;
        box-shadow: 2px 2px 2px 2px #888888;
    }

    .dx-button-has-icon .dx-button-content {
        position: relative;
        /* min-width: 70px; */
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 26px;
        padding-right: 10px;
        text-align: center;
        margin-right: -1px;
    }

    .dx-tab-selected {
        background-color: #ebfce8 !important;       
    }
        .dx-tab-selected .dx-tab-text {
           /* color: red;*/
            text-decoration: underline;
        }

.deleteicon {
    color: #FF0000; 
}

    .dx-button .dx-icon.deleteicon {
        color: #FF0000 !important;
    }

    .hide-header_iIcon table tr td:first-child {
        display: none;
    }
.HideColumnHeader {
    display:none;
}


.dx-dropdownbutton-has-arrow .dx-button-has-text .dx-icon {
    position: static;
}

.dx-layout-manager .dx-label-h-align.dx-flex-layout .dx-field-item-content {
    padding: 0
}

.dx-box-item-content {
    font-size: 12px
}

label.dx-field-item-label {
    font-weight: 500
}

label .dx-field-item-label-text {
    color: #7F7F7F
}

.dx-layout-manager .dx-field-item:not(.dx-first-row) {
    padding-top: 0
}
    @media (max-width:768px) {
        .dx-scrollbar-vertical .dx-scrollbar-hoverable {
            width: 20px !important;
        }

        .dx-scrollbar-vertical .dx-scrollable-scroll {
            width: 20px !important;
        }

        .dx-dropdowneditor-overlay .dx-popup-content {
            padding: 0px;
        }

        .dx-dropdowneditor-overlay .dx-datagrid-header-panel .dx-toolbar {
            margin-bottom: 0px;
        }
        .DataGridListing .dx-datagrid-content .dx-datagrid-table .compact_column_data {
            float: none !important;
        }
    }

    @media (min-width:768px) {
        .dx-scrollbar-vertical .dx-scrollbar-hoverable {
            width: 15px !important;
        }

        .dx-scrollbar-vertical .dx-scrollable-scroll {
            width: 15px !important;
        }

        .dx-scrollable-scroll {
            padding: 2px 0px 2px 4px !important;
        }
    }

    .dx-dialog-button {
        text-align: center !important;
    }

    .dx-dialog .dx-overlay-content {
        max-height: 90% !important;
        overflow:auto
    }
.DataGridListing:not(.DG_DetailGrid) {
    width: 100% !important;
    max-width: 100% !important;
}
.DG_DetailGrid {
    max-width: 93vw !important;
}
.DG_DetailGrid_Adaptive .breakWord {
    word-break: break-word;
}
.dx-datagrid .dx-row > td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td, .dx-datagrid-rowsview .dx-selection.dx-row.dx-row-alt:not(.dx-row-focused) > td {
    background-color: inherit;
    color: inherit;
}
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td, .dx-datagrid-rowsview .dx-selection.dx-row.dx-row-alt:not(.dx-row-focused):hover > td {
    background-color: inherit;
    color: inherit;
}
.dx-datagrid .dx-row > td, .dx-datagrid .dx-row-alt > td {
    background-color: inherit;  
    color: inherit;
}

.dx-datagrid-rowsview .dx-row.dx-freespace-row {
    background-color: #f0fbff
    /* background: linear-gradient(to top, #000000 0%, #FEFEFF 100%);*/
}
.dx-datagrid-rowsview .dx-row {
    background-color: linen;
    /* background: linear-gradient(to top, #FFF6E3 0%, #FEFEFF 100%);*/
}
.dx-datagrid .dx-row-alt {
    background-color: aliceblue;
    /*background: linear-gradient(to top, #DFF5FF 0%, #FFFEFB 100%);*/
}
.dx-data-row.dx-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row), .dx-data-row.dx-row-alt.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row) {
    /*hover*/
    background-color: #A6C7FF;
    color: #333;
}
.dx-datagrid-rowsview .dx-selection.dx-row, .dx-datagrid-rowsview .dx-selection.dx-row:hover, .dx-datagrid-rowsview .dx-selection.dx-row.dx-row-alt, .dx-datagrid-rowsview .dx-selection.dx-row.dx-row-alt:hover {
   /*selection*/
    background-color: #0078D7 !important;
    color: white;
}

.dx-datagrid-rowsview .dx-row.dx-group-row:not(.dx-row-focused) {
    color: #172f91;
    background-color: #DBEBFF;
    font: bold 12px Tahoma, Geneva, sans-serif;
}
.dx-data-row {
    font: 12px Tahoma, Geneva, sans-serif;
    color: #4F4F4F;
}
.dx-datagrid-headers .dx-header-row {
    color: #283B56;
    background: linear-gradient(180deg, #e0edff 0%, #c1dbfa 50%, #e2f0ff 100%);
    font-weight: normal;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif
}
.dx-datagrid .dx-header-filter.dx-header-filter-empty {
    color:#93BEFA;
}
.dx-datagrid .dx-header-filter {
    color: #FBAD00;
}

.dx-datagrid .dx-column-lines > td {
    border-left: 1px solid #BED6F6;
    border-right: 1px solid #BED6F6;
}
.dx-datagrid .dx-row-lines > td {
    border-top: 1px solid #BED6F6;
    border-bottom: 1px solid #BED6F6;
}
.dx-datagrid-rowsview .dx-row.dx-group-row td {
    border-top-color: #AECAF0;
    border-bottom-color: #AECAF0;
}
.dx-datagrid-rowsview .dx-row {
    border: 1px solid #BED6F6;
}
.dx-datagrid .dx-row-alt.dx-row:not(.dx-row-removed) {
    border-bottom-color: #BED6F6;
}
    
.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    border-bottom: 1px solid #AECAF0;
}
.dx-datagrid-borders > .dx-datagrid-headers {
    border-left: 1px solid #AECAF0;
    border-right: 1px solid #AECAF0;
    border-top: 1px solid #AECAF0;
}
.dx-datagrid-headers {
    border-bottom: 1px solid #AECAF0;
}
.dx-datagrid-borders > .dx-datagrid-filter-panel {
    border-left: 1px solid #AECAF0;
    border-right: 1px solid #AECAF0;
    border-bottom: 1px solid #AECAF0;
    background-color: #B6D6FF;
}
.dx-datagrid-borders > .dx-datagrid-total-footer, .dx-row.dx-column-lines.dx-datagrid-group-footer {
    border-left: 1px solid #AECAF0;
    border-right: 1px solid #AECAF0;
    border-bottom: 1px solid #AECAF0;
    /*background-color: #EEF3FF;*/
    background-color: #dcefff;
}
.dx-datagrid-summary-item.dx-datagrid-text-content {
    font-size: 12px;
    font-weight: bold; 
    font-family: Tahoma, Geneva, sans-serif;
    color:black;
}

.dx-datagrid-pager {
    padding-top: 4px;
    padding-bottom: 4px;
    background: #C6DEFF url(/DXR.axd?r=0_190-Cn1Xq) repeat-x;
    color: #283B56;
}
.dx-pager .dx-pages .dx-selection, .dx-pager .dx-page-sizes .dx-selection {
    background-color: #FFE7A2;
    border: 1px solid #FFBD69;
}
.dx-datagrid {
    background-color: #f1fbff;   
}

.dx-row.dx-data-row:not(.dx-selection) .DG_DetailGrid_Adaptive {
    font-size: 12px;
    color: #4F4F4F;
    font-weight: 400;
}
    .dx-row.dx-data-row:not(.dx-selection) .DG_DetailGrid_Adaptive label {
        color: #7F7F7F;
        font-weight: 400;
    }
.dx-row.dx-data-row.dx-selection .DG_DetailGrid_Adaptive {
    font-size: 12px;
    color: white;
    font-weight: 400;
}

    .dx-row.dx-data-row.dx-selection .DG_DetailGrid_Adaptive label {
        color: white;
        font-weight: 400;
    }
.DataGridPreviewRow {
    background-color: white;
    color: #000000;
    font-weight: 400;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    border: 1px solid #BED6F6;
}
.DG_DetailGrid .DataGridPreviewRow {
    background-color: lightgray; 
}
.DataGridPreviewRow > td > div {
    padding:0px 5px
}
.dx-overlay-content.dx-context-menu {
    overflow:visible;
}
.dx-context-menu {
    font-weight: 400;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
}
    .dx-context-menu .dx-menu-base .dx-menu-item-content {
        padding: 3px 5px 3px;
    }
    .dx-context-menu .dx-menu-base .dx-icon 
    {
        width:16px;
        height:16px;
        background-size:16px 16px;
        line-height:16px;
    }
.dx-datagrid-rowsview .dx-row > .dx-master-detail-cell {
    padding:15px;
}
.dx-adaptive-item-text, .dx-adaptive-detail-row .dx-field-item-label-text {
    white-space: normal;
}
.dx-datagrid-total-footer.dx-datagrid-nowrap, .dx-datagrid-summary-item.dx-datagrid-text-content {
    white-space: normal;
}
.dx-datagrid-filter-panel {
    padding: 5px;
}
.dx-datagrid-content .dx-datagrid-table .compact_column_data {
    word-break: break-word;
    float: left !important;
}
.dx-datagrid-content .dx-datagrid-table .compact_column_label {
  word-break:break-word;
}
.dx-datagrid-rowsview.dx-empty {
    height: 35px;
}
.dx-datagrid-total-footer > .dx-datagrid-content {
    padding-top: 0;
    padding-bottom: 0;
}
.dx-datagrid-total-footer .dx-datagrid-table {
    min-height: 20px;
}
    .dx-datagrid-total-footer .dx-datagrid-table td {
        border-left: 1px solid #AECAF0;
        border-right: 1px solid #AECAF0;
    }
tr.dx-row.dx-freespace-row.dx-column-lines td {
    border: none
}
.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-expand.dx-datagrid-group-space {
    min-width: 15px;
    width: 15px;
}
.dx-adaptive-item-text {
    word-wrap:break-word;
}
.dx-header-filter-menu .dx-treeview-search {
    margin:10px;
}
.hideHeader {
    display: none;
}

    .WaterMarked {
        height: inherit;
        width: inherit;
        border: 1px solid #BEBEBE;
        background-color: #F0F8FF;
        color: gray;
        font-size: 8pt;
        text-align: center;
    }

    .dx-radiogroup.dx-state-focused, .dx-checkbox.dx-state-focused {
        outline-width: 2px;
        outline-style: solid;
        outline-color: Highlight;
    }

    .dx-checkbox-text {
        margin-left: -18px !important;
    }

    .dx-list-item-content {
        white-space: normal;
    }

    .dx-datebox.dx-auto-width .dx-texteditor-input, .dx-datebox:not(.dx-texteditor-empty).dx-auto-width .dx-texteditor-input {
        padding-right: 5px;
    }
.dx-htmleditor-toolbar .dx-button 
{
    background-color:none;
    background:none;
    border:none;
    border-color:none !important;
}
.dx-htmleditor-toolbar .dx-button-content 
{
    padding:0 !important;
    min-width:20px !important;
    height:22px !important;
}
.dx-htmleditor-toolbar-wrapper
{
    padding:2px;
}
.dx-htmleditor-toolbar .dx-button-content .dx-icon {
  top:0;
  bottom:0;
  left:0;
  right:0;
}
.dx-htmleditor-toolbar .dx-texteditor {
    max-width: 120px;
}
.dx-colorbox-input-container .dx-placeholder:before {
    max-width:100%
}
.dx-popup-bottom.dx-toolbar .dx-toolbar-item:last-child {
    padding: 0px 10px 0px 0px;
}
    /***===== CSS BK AADESH BHAI ======***/
    .nav-tabs .closeTab {
        top: 0.5px;
        transform: scaleY(0.8);
    }

    .nav-tabs .customlia, #contact_MY_home_Index .customlia {
        padding-right: 10px !important
    }

    .nav-tabs .customlia.active {
        padding-right: 25px !important
    }

    .nav-tabs .customlia.active + .closeTab {
        right: 11px
    }

    .nav-tabs > li.active.w3-bar-item.w3-button.testbtn {
        background-color: #fff !important;
    }

    .dx-editor-with-menu .dx-datagrid {
        background-color: transparent !important;
    }

    .dx-datagrid-table .dx-datagrid-filter-row .dx-menu {
        margin-top: 0
    }

    .dx-datagrid-header-panel .dx-datagrid-search-panel {
        margin: 12px 12px 0;
    }

    .dx-searchbox .dx-icon-search {
        font: 14px/15px DXIcons;
        margin-top: -14px;
        margin-left: -3px;
    }

    .items_Div .img_div {
        position: relative
    }

    .items_Div .img_div img {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
        max-width: 40px;
        max-height: 40px;
    }

    .items_Div .text_div {
        font-size: 13px;
        font-weight: 600;
    }

    .formRow {
        box-shadow: none;
        background: transparent
    }

    .navbar-nav .dropdown .dropdown-menu li:active a {
        color: #fff !important;
        font-weight: 600
    }

    .popuphead {
        font-size: 19px !important;
        margin: 0 4px !important;
        line-height: 30px;
    }



