@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');

body {
	color: #0d273b;
	font-family: 'Merriweather', serif !important;
	font-size: 16px;
	font-weight: 300;
	background-image: url(images/full-bloom.png)
}

p {
	margin-bottom: 4px
}

a {
	color: #0d273b
}

.blue-bg {
	background: #eef3f7;
}

select {
	cursor: pointer
}

.container {
	max-width: 800px;
	margin: 0 auto
}

.form-head {
	line-height: 2.0;
	font-size: 13px;
	text-align: center
}

	.form-head img {
		margin-right: 20px;
		float: left
	}

	.form-head .col-md-3 {
		position: relative
	}

	.form-head .globe img {
		width: 125px;
		position: absolute;
		top: 8px;
	}

	.form-head h2 {
		font-size: 19px;
		color: #0d273b;
		margin: 15px 0 10px;
		border-bottom: 1px solid #bcd5f1;
		padding-bottom: 10px;
	}

	.form-head h3 {
		font-size: 19px;
		color: #0d273b;
		font-weight: bold
	}

.form-grid h4 {
	color: #28538e;
	text-align: center;
	margin-bottom: 20px;
}

.form-grid .col-md-6 {
	margin-top: 15px
}

.form-grid p:nth-child(2) {
	color: #5779A8
}

.pld-grid img {
	max-width: 100%;
	object-fit: cover;
	border-radius: 5px;
	transition: .3s all;
	margin-bottom: 25px
}

	.pld-grid img:hover {
		webkit-filter: blur(2px);
		filter: blur(1px);
		transform: rotate(-10deg)
	}

.pld-grid label {
	position: relative;
	float: left;
	cursor: pointer;
	margin: 15px 15px 10px 0;
	width: 100%
}

.pld-grid .col-md-6:hover label {
	opacity: .9
}

.pld-grid label img {
	float: left
}

.align-right {
	text-align: right;
	margin: 20px 0 30px;
}

.pledge {
	border-top: 1px dashed #999;
	padding: 30px 0;
	position: relative;
	margin-top: 30px
}

	.pledge .container {
		position: relative
	}

	.pledge u {
		text-align: left;
		display: block
	}

	.pledge label {
		float: none;
		margin: 0;
		width: max-content;
		font-size: 14px;
		font-weight: 500;
	}

	.pledge .btn-primary {
		float: right
	}

b {
	font-weight: 700
}

.btn-primary {
	background: #183258;
	border: none;
}

	.btn-primary:hover {
		background: #213f6a
	}
/*custom checkbox*/
.styled-checkbox {
	position: absolute;
	opacity: 0;
}

	.styled-checkbox + label {
		position: relative;
		cursor: pointer;
		padding: 0;
	}

		.styled-checkbox + label:before {
			position: absolute;
			content: "";
			margin-right: 10px;
			display: inline-block;
			width: 24px;
			height: 24px;
			background: white;
			box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
			border-radius: 3px;
			top: -32px
		}

	.styled-checkbox:hover + label:before {
		background: #A92814;
	}

	.styled-checkbox:focus + label:before {
		box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	}

	.styled-checkbox:checked + label:before {
		background: #A92814;
	}

	.styled-checkbox:disabled + label {
		color: #b8b8b8;
		cursor: auto;
	}

		.styled-checkbox:disabled + label:before {
			box-shadow: none;
			background: #ddd;
		}

	.styled-checkbox:checked + label:after {
		content: "";
		position: absolute;
		left: 7px;
		top: -21px;
		background: white;
		width: 2px;
		height: 2px;
		box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
		transform: rotate(45deg);
	}

html {
	background: lightgray;
}

body {
	font-family: "Source Sans Pro", sans-serif;
}

.unstyled {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	margin: 20px 0;
}

.centered {
	width: 300px;
	margin: auto;
}

.title {
	text-align: center;
	color: #4571ec;
}

.g-border {
	border: 1px solid #cccccc;
	background: #fff;
	border-radius: 4px;
	padding: 1px 9px 9px;
	line-height: 2px;
}

.pledge1 {
	color: #255755
}

.pledge2 {
	color: #872823
}

.pledge3 {
	color: #387680
}

.pledge4 {
	color: #405a08
}

.pledge5 {
	color: #694640
}

.pledge6 {
	color: #314d7f
}

.bgl {
	padding-top: 30px;
	margin-bottom: 30px
}

.bgl-1 {
	background: rgba(168,37,4,.1)
}

.bgl-2 {
	background: rgba(64,101,28,.1)
}

.bgl-3 {
	background: rgba(53,73,117,.1)
}

.form-grid .date {
	position: absolute;
	right: 12px;
	top: 0
}

.form-grid .form-control {
	outline: none;
	height: 32px;
	display: inline-block;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
}

.form-grid textarea.form-control {
	height: 94px;
}

footer {
	padding: 20px 10px;
	background: #142a4a;
	text-align: center;
	color: #fff;
	line-height: 32px;
}

.blu-hd {
	padding: 10px;
	background: #142a4a;
	text-align: center;
	color: #fff;
}

footer a {
	text-decoration: none;
	color: #fff;
}

	footer a:hover {
		text-decoration: underline;
		color: #fff
	}

@media (min-width:768px) {
	.pld-grid.reverse .col-md-6:nth-child(2) {
		text-align: right
	}

	.pld-grid .col-md-6 {
		height: 320px;
		position: relative
	}

		.pld-grid .col-md-6 aside {
			height: max-content;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			font-weight: bold;
			font-size: 17px
		}
}


@media (max-width:768px) {
	body {
		font-size: 14px
	}

	.pld-grid {
		padding: 20px 10px;
		text-align: center;
		font-weight: bold
	}

		.pld-grid.reverse {
			flex-direction: column-reverse;
		}

		.pld-grid img {
			margin: 30px 0 0 0
		}

	.pledge input[type="text"] {
		width: 100% !important;
	}

	.form-grid .date {
		position: static;
	}

	.pld-grid img {
		height: 180px
	}

	form .btn {
		max-width: 100% !important
	}

	.form-head .col-md-3 {
		position: static
	}

	.form-head .globe img {
		right: -15px;
		top: 10px;
		width: 122px
	}

	.bgl {
		padding: 0;
		margin: 0
	}

	.mt-5 {
		margin-top: 0 !important
	}

	footer {
		line-height: 27px
	}

	.pledge .btn-primary {
		width: 100%
	}
}
