@{
    var SessionGUID = Request.QueryString["SessionGUID"];
    bool BankChecking_AddRight = (bool)ViewData["BankChecking_AddRight"];
    bool BankChecking_UpdateRight = (bool)ViewData["BankChecking_UpdateRight"];
    bool BankChecking_ViewRight = (bool)ViewData["BankChecking_ViewRight"];
    bool BankChecking_DeleteRight = (bool)ViewData["BankChecking_DeleteRight"];
    bool BankChecking_ExportRight = (bool)ViewData["BankChecking_ExportRight"];
    bool LockUnlock = (bool)ViewBag.LockUnlock;
    bool ManageRemarks = (bool)ViewBag.ManageRemarks;
    bool SpecialGroupings = (bool)ViewBag.SpecialGroupings;
    bool VouchingMode = ViewBag.VouchingMode == null ? false : (bool)ViewBag.VouchingMode;
    string ViewMode = ViewBag.ViewMode == null ? "Default" : (string)ViewBag.ViewMode;
    List<string> ColumnTobeHidden = new List<string>();
    List<string> ColumnTobeShown = new List<string>();
    string ColumnToBeShowIndex = ViewBag.ColumnToBeShownIndex == null ? "" : (string)ViewBag.ColumnToBeShownIndex;
    string ColumnToBeHideIndex = ViewBag.ColumnToBeHidddenIndex == null ? "" : (string)ViewBag.ColumnToBeHidddenIndex;
    if (ColumnToBeHideIndex.Length > 0)
    {
        ColumnTobeHidden = ColumnToBeHideIndex.Split(',').ToList();
    }
    if (ColumnToBeShowIndex.Length > 0)
    {
        ColumnTobeShown = ColumnToBeShowIndex.Split(',').ToList();
    }
}
@Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "BankCheckingGrid";
        settings.CallbackRouteValues = new
        {
            Controller = "BankBalanceChecking",
            Action = "Frm_BankChecking_Info_Grid",
            SessionGUID = SessionGUID
        };
        settings.EnableTheming = true;
        settings.Theme = "Aqua";

        settings.SettingsBehavior.ProcessColumnMoveOnClient = true;
        settings.SettingsBehavior.ColumnMoveMode = GridColumnMoveMode.AmongSiblings;
        settings.Styles.Cell.Wrap = DefaultBoolean.True;
        settings.Styles.FocusedRow.BackColor = System.Drawing.Color.FromArgb(0, 114, 198);
        settings.Styles.FocusedRow.ForeColor = System.Drawing.Color.White;
        settings.Init = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (ViewMode == "Compact")
            {
                grid.DataColumns["Bank_Compact_Column"].Visible = true;
                grid.DataColumns["Name"].Visible = false;
                grid.DataColumns["Branch"].Visible = false;
                grid.DataColumns["BA_ACCOUNT_NO"].Visible = false;
                grid.DataColumns["BA_CUST_NO"].Visible = false;
                grid.DataColumns["OP_AMOUNT"].Visible = false;
                //grid.DataColumns["CL_AMOUNT"].Visible = false;
                grid.DataColumns["BA_OTHER_DETAIL"].Visible = false;
                grid.DataColumns["BB_IFSC_CODE"].Visible = false;
                grid.DataColumns["BB_MICR_CODE"].Visible = false;
                grid.DataColumns["BI_BANK_PAN_NO"].Visible = false;
                grid.DataColumns["BA_TAN_NO"].Visible = false;
                grid.DataColumns["BA_TEL_NOS"].Visible = false;
                grid.DataColumns["BA_EMAIL_ID"].Visible = false;
                grid.DataColumns["BA_OPEN_DATE"].Visible = false;
                grid.DataColumns["BA_CLOSE_DATE"].Visible = false;
                grid.DataColumns["BA_ACCOUNT_TYPE"].Visible = false;

                grid.DataColumns["Action_Date"].Visible = false;
                grid.DataColumns["Action_By"].Visible = false;
                grid.DataColumns["Add_By"].Visible = false;
                grid.DataColumns["Add_Date"].Visible = false;
                grid.DataColumns["CrossedTimeLimit"].Visible = false;
                grid.DataColumns["Edit_By"].Visible = false;
                grid.DataColumns["Edit_Date"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["OpenActions"].Visible = false;
                grid.DataColumns["RemarkStatus"].Visible = false;
                grid.DataColumns["Remarks"].Visible = false;
                grid.DataColumns["YearID"].Visible = false;
                grid.DataColumns["Special_Ref"].Visible = false;
                grid.DataColumns["BA_FCRA_UTIL"].Visible = false;
                grid.DataColumns["BA_FERA_ACC"].Visible = false;
                grid.DataColumns["Action_Status"].Visible = false;
                grid.DataColumns["BA_ACCOUNT_NEW"].Visible = false;
                grid.DataColumns["CEN_ID"].Visible = false;
                grid.DataColumns["CEN_UID"].Visible = false;
                grid.DataColumns["CEN_NAME"].Visible = false;
                grid.DataColumns["ZONE_NAME"].Visible = false;
                grid.DataColumns["SUB_ZONE_NAME"].Visible = false;
                grid.DataColumns["PASSBOOK_BALANCE"].Visible = false;
                grid.DataColumns["ACCOUNT_STATUS"].Visible = false;
                grid.DataColumns["PASSBOOK_LAST_TXN_DT"].Visible = false;
                grid.DataColumns["Save_Bank_Status"].Visible = false;
            }
            else
            {
                //-------------------VISIBLE COLUMNS--------------
                grid.DataColumns["Bank_Compact_Column"].Visible = false;
                grid.DataColumns["Name"].Visible = true;
                grid.DataColumns["BA_ACCOUNT_NO"].Visible = true;
                grid.DataColumns["PASSBOOK_LAST_TXN_DT"].Visible = true;
                grid.DataColumns["PASSBOOK_BALANCE"].Visible = true;
                grid.DataColumns["ACCOUNT_STATUS"].Visible = true;
                grid.DataColumns["Save_Bank_Status"].Visible = true;
                grid.DataColumns["CEN_UID"].Visible = true;
                grid.DataColumns["CEN_NAME"].Visible = true;
                grid.DataColumns["BB_IFSC_CODE"].Visible = true;
                grid.DataColumns["BA_CUST_NO"].Visible = true;
                grid.DataColumns["BB_MICR_CODE"].Visible = true;
                grid.DataColumns["Branch"].Visible = true;
                grid.DataColumns["BA_TAN_NO"].Visible = true;
                grid.DataColumns["Special_Ref"].Visible = true;
                grid.DataColumns["BA_FCRA_UTIL"].Visible = true;
                grid.DataColumns["BA_FERA_ACC"].Visible = true;
                grid.DataColumns["BA_OPEN_DATE"].Visible = true;
                grid.DataColumns["BA_CLOSE_DATE"].Visible = true;
                //-------------------HIDDEN COLUMNS--------------
                grid.DataColumns["ZONE_NAME"].Visible = false;
                grid.DataColumns["SUB_ZONE_NAME"].Visible = false;
                grid.DataColumns["OP_AMOUNT"].Visible = false;
                grid.DataColumns["BA_OTHER_DETAIL"].Visible = false;
                grid.DataColumns["BI_BANK_PAN_NO"].Visible = false;
                grid.DataColumns["BA_TEL_NOS"].Visible = false;
                grid.DataColumns["BA_EMAIL_ID"].Visible = false;
                grid.DataColumns["BA_ACCOUNT_TYPE"].Visible = false;
                grid.DataColumns["Action_Date"].Visible = false;
                grid.DataColumns["Action_By"].Visible = false;
                grid.DataColumns["Add_By"].Visible = false;
                grid.DataColumns["Add_Date"].Visible = false;
                grid.DataColumns["CrossedTimeLimit"].Visible = false;
                grid.DataColumns["Edit_By"].Visible = false;
                grid.DataColumns["Edit_Date"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["OpenActions"].Visible = false;
                grid.DataColumns["RemarkStatus"].Visible = false;
                grid.DataColumns["Remarks"].Visible = false;
                grid.DataColumns["YearID"].Visible = false;
                grid.DataColumns["Action_Status"].Visible = false;
                grid.DataColumns["BA_ACCOUNT_NEW"].Visible = false;
                grid.DataColumns["CEN_ID"].Visible = false;
            }
        };
        settings.AfterPerformCallback = (s, e) =>
        {
            MVCxGridView gridView = s as MVCxGridView;
            gridView.ScrollToVisibleIndexOnClient = gridView.FocusedRowIndex;
            if (e.CallbackName == "COLUMNMOVE")
            {
                if (e.Args[1] == "-1")
                {
                    if (ColumnTobeShown.Count > 0)
                    {
                        if (ColumnTobeShown.Contains(e.Args[0]))
                        {
                            ColumnTobeShown.Remove(e.Args[0]);
                        }
                    }
                    ColumnTobeHidden.Add(e.Args[0]);
                }
                if (Convert.ToInt32(e.Args[1]) > -1)
                {
                    if (ColumnTobeHidden.Count > 0)
                    {
                        if (ColumnTobeHidden.Contains(e.Args[0]))
                        {
                            ColumnTobeHidden.Remove(e.Args[0]);
                        }
                    }
                    ColumnTobeShown.Add(e.Args[0]);
                }
            }
        };
        settings.BeforeGetCallbackResult = (s, e) =>
        {

            MVCxGridView grid = (MVCxGridView)s;
            if (ViewData["RowKeyToFocus"] != null && ViewData["RowKeyToFocus"].ToString().Length > 0)
            {
                grid.FocusedRowIndex = grid.FindVisibleIndexByKeyValue(ViewData["RowKeyToFocus"]);
            }
            if (ViewMode == "Compact")
            {
                grid.DataColumns["Bank_Compact_Column"].Visible = true;
                grid.DataColumns["Name"].Visible = false;
                grid.DataColumns["Branch"].Visible = false;
                grid.DataColumns["BA_ACCOUNT_NO"].Visible = false;
                grid.DataColumns["BA_CUST_NO"].Visible = false;
                grid.DataColumns["OP_AMOUNT"].Visible = false;
                //grid.DataColumns["CL_AMOUNT"].Visible = false;
                grid.DataColumns["BA_OTHER_DETAIL"].Visible = false;
                grid.DataColumns["BB_IFSC_CODE"].Visible = false;
                grid.DataColumns["BB_MICR_CODE"].Visible = false;
                grid.DataColumns["BI_BANK_PAN_NO"].Visible = false;
                grid.DataColumns["BA_TAN_NO"].Visible = false;
                grid.DataColumns["BA_TEL_NOS"].Visible = false;
                grid.DataColumns["BA_EMAIL_ID"].Visible = false;
                grid.DataColumns["BA_OPEN_DATE"].Visible = false;
                grid.DataColumns["BA_CLOSE_DATE"].Visible = false;
                grid.DataColumns["BA_ACCOUNT_TYPE"].Visible = false;

                grid.DataColumns["Action_Date"].Visible = false;
                grid.DataColumns["Action_By"].Visible = false;
                grid.DataColumns["Add_By"].Visible = false;
                grid.DataColumns["Add_Date"].Visible = false;
                grid.DataColumns["CrossedTimeLimit"].Visible = false;
                grid.DataColumns["Edit_By"].Visible = false;
                grid.DataColumns["Edit_Date"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["OpenActions"].Visible = false;
                grid.DataColumns["RemarkStatus"].Visible = false;
                grid.DataColumns["Remarks"].Visible = false;
                grid.DataColumns["YearID"].Visible = false;
                grid.DataColumns["Special_Ref"].Visible = false;
                grid.DataColumns["BA_FCRA_UTIL"].Visible = false;
                grid.DataColumns["BA_FERA_ACC"].Visible = false;
                grid.DataColumns["Action_Status"].Visible = false;
                grid.DataColumns["BA_ACCOUNT_NEW"].Visible = false;
                grid.DataColumns["CEN_ID"].Visible = false;
                grid.DataColumns["CEN_UID"].Visible = false;
                grid.DataColumns["CEN_NAME"].Visible = false;
                grid.DataColumns["ZONE_NAME"].Visible = false;
                grid.DataColumns["SUB_ZONE_NAME"].Visible = false;
                grid.DataColumns["PASSBOOK_BALANCE"].Visible = false;
                grid.DataColumns["ACCOUNT_STATUS"].Visible = false;
                grid.DataColumns["PASSBOOK_LAST_TXN_DT"].Visible = false;
                grid.DataColumns["Save_Bank_Status"].Visible = false;
            }
            else
            {
                //-------------------VISIBLE COLUMNS--------------
                grid.DataColumns["Bank_Compact_Column"].Visible = false;
                grid.DataColumns["Name"].Visible = true;
                grid.DataColumns["BA_ACCOUNT_NO"].Visible = true;
                grid.DataColumns["PASSBOOK_LAST_TXN_DT"].Visible = true;
                grid.DataColumns["PASSBOOK_BALANCE"].Visible = true;
                grid.DataColumns["ACCOUNT_STATUS"].Visible = true;
                grid.DataColumns["Save_Bank_Status"].Visible = true;
                grid.DataColumns["CEN_UID"].Visible = true;
                grid.DataColumns["CEN_NAME"].Visible = true;
                grid.DataColumns["BB_IFSC_CODE"].Visible = true;
                grid.DataColumns["BA_CUST_NO"].Visible = true;
                grid.DataColumns["BB_MICR_CODE"].Visible = true;
                grid.DataColumns["Branch"].Visible = true;
                grid.DataColumns["BA_TAN_NO"].Visible = true;
                grid.DataColumns["Special_Ref"].Visible = true;
                grid.DataColumns["BA_FCRA_UTIL"].Visible = true;
                grid.DataColumns["BA_FERA_ACC"].Visible = true;
                grid.DataColumns["BA_OPEN_DATE"].Visible = true;
                grid.DataColumns["BA_CLOSE_DATE"].Visible = true;
                //-------------------HIDDEN COLUMNS--------------
                grid.DataColumns["ZONE_NAME"].Visible = false;
                grid.DataColumns["SUB_ZONE_NAME"].Visible = false;
                grid.DataColumns["OP_AMOUNT"].Visible = false;
                grid.DataColumns["BA_OTHER_DETAIL"].Visible = false;
                grid.DataColumns["BI_BANK_PAN_NO"].Visible = false;
                grid.DataColumns["BA_TEL_NOS"].Visible = false;
                grid.DataColumns["BA_EMAIL_ID"].Visible = false;
                grid.DataColumns["BA_ACCOUNT_TYPE"].Visible = false;
                grid.DataColumns["Action_Date"].Visible = false;
                grid.DataColumns["Action_By"].Visible = false;
                grid.DataColumns["Add_By"].Visible = false;
                grid.DataColumns["Add_Date"].Visible = false;
                grid.DataColumns["CrossedTimeLimit"].Visible = false;
                grid.DataColumns["Edit_By"].Visible = false;
                grid.DataColumns["Edit_Date"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["OpenActions"].Visible = false;
                grid.DataColumns["RemarkStatus"].Visible = false;
                grid.DataColumns["Remarks"].Visible = false;
                grid.DataColumns["YearID"].Visible = false;
                grid.DataColumns["Action_Status"].Visible = false;
                grid.DataColumns["BA_ACCOUNT_NEW"].Visible = false;
                grid.DataColumns["CEN_ID"].Visible = false;
            }

            settings.Settings.ShowGroupedColumns = false;

            settings.SettingsBehavior.AllowFocusedRow = true;
            foreach (GridViewDataColumn column in grid.DataColumns)
            {
                if (ViewMode != "Compact")
                {
                    if (ColumnTobeHidden.Contains(column.Index.ToString()))
                    {
                        column.Visible = false;
                    }
                    if (ColumnTobeShown.Contains(column.Index.ToString()))
                    {
                        column.Visible = true;
                    }
                }
                if (column.Visible)
                    column.Settings.AllowSort = DefaultBoolean.True;
                else
                    column.Settings.AllowSort = DefaultBoolean.False;
            }
        };

        settings.Settings.ShowPreview = true;
        settings.SetPreviewRowTemplateContent(c =>
        {
            if (VouchingMode == true)
            {
                Html.RenderAction("AuditButtons", "AuditButton", new { Area = "", Grid = settings.Name, KeyValue = c.KeyValue, VisibleIndex = c.VisibleIndex, SessionGUID = SessionGUID });
                ViewContext.Writer.Write("<br><br>");
            }
        });
        settings.HtmlDataCellPrepared = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            string colIdx = e.DataColumn.Index.ToString();
            string rowIdx = e.VisibleIndex.ToString();
            if (VouchingMode == true)
            {
                if (e.DataColumn.FieldName.Length > 0)
                {
                    e.Cell.Attributes.Add("ondblclick", "OnGridCellClick(event,this,'" + colIdx + "', '" + rowIdx + "','" + settings.Name + "','" + e.KeyValue + "','" + e.DataColumn.FieldName + "');");
                }
                if (e.DataColumn.Name == "iIcon")
                {
                    e.Cell.Attributes.Add("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                    e.Cell.Attributes.Add("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                }
            }
            e.Cell.CssClass += " col_" + e.DataColumn.FieldName + " row_" + e.KeyValue;
            e.Cell.ID = "Cell_" + e.KeyValue + "|" + e.DataColumn.FieldName;
        };
        settings.HtmlRowCreated = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (e.RowType == GridViewRowType.Data)
            {
                //e.Row.Attributes.Add("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                //e.Row.Attributes.Add("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                e.Row.CssClass += " " + settings.Name + "_DataRow_" + e.KeyValue;
            }
            else if (e.RowType == GridViewRowType.Preview)
            {
                e.Row.BackColor = System.Drawing.Color.White;
                if (VouchingMode == true)
                {
                    e.Row.Attributes.Add("onmouseover", "OnGridPrevRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                    e.Row.Attributes.Add("onmouseout", "OnGridPrevRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                }
                else
                {
                    e.Row.Visible = false;
                }
                e.Row.CssClass += " " + settings.Name + "_PreviewRow" + " " + settings.Name + "_PreviewRow_" + e.KeyValue;
                //e.Row.ID = "PreviewRow_" + e.KeyValue;
            }
        };

        settings.SettingsDetail.ShowDetailRow = true;
        if (VouchingMode == false)
        {
            settings.SettingsDetail.AllowOnlyOneMasterRowExpanded = true;
            settings.SettingsDetail.ExportMode = GridViewDetailExportMode.All;
            settings.SetDetailRowTemplateContent(c =>
            {
                Html.RenderAction("Frm_BankChecking_Info_DetailGrid", new { RecID = DataBinder.Eval(c.DataItem, "ID"), VouchingMode = VouchingMode, command = "REFRESH", CEN_ID = DataBinder.Eval(c.DataItem, "CEN_ID") });
            });
            settings.SettingsExport.GetExportDetailGridViews = (s, e) =>
            {
                string RecID = (string)DataBinder.Eval(e.DataItem, "ID");
                GridViewExtension grid = new GridViewExtension(ConnectOneMVC.Areas.Profile.Controllers.BankController.NestedGridExportSettings(RecID));
                grid.Bind(ConnectOneMVC.Areas.Profile.Controllers.BankController.NestedGridExportData(RecID));
                e.DetailGridViews.Add(grid);
            };
        }
        else
        {
            settings.DetailRowGetButtonVisibility = (s, e) =>
            {
                e.ButtonState = GridViewDetailRowButtonState.Hidden;
            };
        }


        var ShowHorizontalBar = (int)ViewBag.ShowHorizontalBar;
        if (ShowHorizontalBar == 1)
        {
            settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
            settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
            settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;
            settings.SettingsResizing.Visualization = ResizingMode.Postponed;
        }
        else
        {
            settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
            settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
            settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Disabled;
            settings.SettingsAdaptivity.AllowHideDataCellsByColumnMinWidth = true;
        }

        settings.FillContextMenuItems = (sender, e) =>
        {
            if (e.MenuType == GridViewContextMenuType.Rows)
            {

                var Viewitem = e.CreateItem("View", "Profile_Bank_View");
                Viewitem.Image.IconID = "actions_show_16x16gray";
                if (BankChecking_ViewRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Viewitem);

                var PrintViewitem = e.CreateItem("Export", "ListPreview");
                PrintViewitem.Image.IconID = "actions_hideproduct_16x16devav";
                PrintViewitem.BeginGroup = true;
                if (BankChecking_ExportRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), PrintViewitem);

                var CloseItem = e.CreateItem("Close", "Close");
                CloseItem.Image.IconID = "actions_close_16x16devav";
                CloseItem.BeginGroup = true;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), CloseItem);
            }
        };
        settings.SettingsContextMenu.Enabled = true;
        settings.SettingsContextMenu.RowMenuItemVisibility.DeleteRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.EditRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.NewRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.ExpandDetailRow = VouchingMode == true ? false : true;
        settings.SettingsContextMenu.RowMenuItemVisibility.CollapseDetailRow = VouchingMode == true ? false : true;
        settings.HtmlRowPrepared = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (e.RowType == GridViewRowType.Group)
            {
                e.Row.ForeColor = System.Drawing.Color.Blue;
                e.Row.Font.Bold = true;
            }
            else if (e.RowType == GridViewRowType.Data)
            {
                if (e.VisibleIndex % 2 == 0)
                {
                    e.Row.BackColor = System.Drawing.Color.Linen;
                }
                else
                {
                    e.Row.BackColor = System.Drawing.Color.AliceBlue;
                }
                if (e.GetValue("DIFF") != null && e.GetValue("DIFF") != DBNull.Value)
                {
                    if (Convert.ToDecimal(e.GetValue("DIFF")) == 0)
                    {
                        e.Row.BackColor = System.Drawing.Color.LightGreen;
                    }
                    if (Convert.ToDecimal(e.GetValue("DIFF")) != 0)
                    {
                        e.Row.BackColor = System.Drawing.Color.Pink;
                    }
                }
            }
        };

        settings.CustomJSProperties = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            var lastVisibleColumn = grid.VisibleColumns.LastOrDefault();
            e.Properties["cpLastVisibleColumnIndex"] = lastVisibleColumn != null ? lastVisibleColumn.Index : 0;
            e.Properties["cpHiddenColumnCaptions"] = grid.AllColumns.Where(c => !c.Visible).ToDictionary(c => c.ToString(), c => c.Index);
            e.Properties["cpClientLayout"] = grid.SaveClientLayout();

            int startIndex = (grid.PageIndex == -1 || grid.SettingsPager.Mode == GridViewPagerMode.ShowAllRecords ? 0 : grid.PageIndex) * grid.SettingsPager.PageSize;
            int endIndex = grid.PageIndex == -1 || grid.SettingsPager.Mode == GridViewPagerMode.ShowAllRecords ? grid.VisibleRowCount : Math.Min(grid.VisibleRowCount, startIndex + grid.SettingsPager.PageSize);
            object[] Rowdata = new object[endIndex - startIndex];
            for (int n = startIndex; n < endIndex; n++)
            {
                Rowdata[n - startIndex] = grid.GetRowValues(n, new string[] { "ID", "Edit_Date", "Edit_By", "Add_Date", "Add_By", "Action_Date", "Action_By", "Action_Status", "CEN_ID", "Balance", "BA_ACCOUNT_TYPE", "BA_ACCOUNT_NO", "Full_Bank_Name" });
            }
            e.Properties["cpPagedata"] = Rowdata;

            string ColumnToBeShownIndex = "";
            string ColumnToBeHidddenIndex = "";
            if (ColumnTobeHidden.Count > 0)
            {
                ColumnToBeHidddenIndex = String.Join(",", ColumnTobeHidden.ToArray());
            }
            if (ColumnTobeShown.Count > 0)
            {
                ColumnToBeShownIndex = String.Join(",", ColumnTobeShown.ToArray());
            }
            e.Properties["cpColumnToBeShownIndex"] = ColumnToBeShownIndex;
            e.Properties["cpColumnToBeHidddenIndex"] = ColumnToBeHidddenIndex;
        };
        settings.PreRender = (sender, e) =>
        {
            MVCxGridView gridView = sender as MVCxGridView;
            gridView.SettingsBehavior.AllowFocusedRow = true;
            if (ViewData["Layout"] != null)
            {
                gridView.LoadClientLayout(ViewData["Layout"].ToString());
            }
        };

        settings.KeyFieldName = "ID";

        settings.Columns.Add(column =>
        {
            column.Name = "Bank_Compact_Column";
            column.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            column.SetDataItemTemplateContent(c =>
            {
                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Name:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Name' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Name") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Branch:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Branch' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Branch") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Account No.:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|BA_ACCOUNT_NO' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "BA_ACCOUNT_NO") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Customer No.:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|BA_CUST_NO' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "BA_CUST_NO") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Opening balance:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|OP_AMOUNT' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "OP_AMOUNT") + "</div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Other Details:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|BA_OTHER_DETAIL' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "BA_OTHER_DETAIL") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>IFSC Code:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|BB_IFSC_CODE' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "BB_IFSC_CODE") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>MICR Code:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|BB_MICR_CODE' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "BB_MICR_CODE") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>PAN. No.:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|BI_BANK_PAN_NO' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "BI_BANK_PAN_NO") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>TAN. No.:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|BA_TAN_NO' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "BA_TAN_NO") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Tel. No.:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|BA_TEL_NOS' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "BA_TEL_NOS") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Email ID:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|BA_EMAIL_ID' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "BA_EMAIL_ID") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>A/c. Open date:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|BA_OPEN_DATE' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "BA_OPEN_DATE") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                           "<div style='padding:0px 5px 0px 5px'>" +
                           "<div class='row'>" +
                           "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                           "<div class='form-field'>" +
                           "<div class='container-fluid'>" +
                           "<div class='row'>" +
                           "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                           "<label class='control-label'>A/c. Closed date:</label></div>" +
                           "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|BA_CLOSE_DATE' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                           DataBinder.Eval(c.DataItem, "BA_CLOSE_DATE") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Acount Type:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|BA_ACCOUNT_TYPE' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "BA_ACCOUNT_TYPE") + "</div></div></div></div></div></div></div>");

            });
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Name";
                column.Caption = "Name";
                column.MinWidth = 60;
                column.Width = 60;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "BA_ACCOUNT_NO";
                column.Caption = "Account No.";
                column.MinWidth = 135;
                column.Width = 135;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "PASSBOOK_LAST_TXN_DT";
                column.Caption = "Last Txn Date";
                column.MinWidth = 100;
                column.PropertiesEdit.DisplayFormatString = "dd-MM-yy";
                column.CellStyle.Wrap = DefaultBoolean.False;
                column.SetDataItemTemplateContent(c =>
                {
                    Html.DevExpress().DateEdit(txtSettings =>
                    {
                        txtSettings.Name = "BBC_txt" + c.KeyValue;
                        txtSettings.Width = System.Web.UI.WebControls.Unit.Percentage(95);
                        txtSettings.Properties.DisplayFormatString = "dd-MM-yy";
                        txtSettings.Properties.AllowMouseWheel = false;
                        txtSettings.Properties.FocusedStyle.BackColor = System.Drawing.Color.White;

                    }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                });
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "PASSBOOK_BALANCE";
                column.Caption = "Passbook Balance";
                column.MinWidth = 100;
                column.PropertiesEdit.DisplayFormatString = "#0.00";
                column.CellStyle.Wrap = DefaultBoolean.False;
                column.SetDataItemTemplateContent(c =>
                {
                    Html.DevExpress().SpinEdit(spinSettings =>
                    {
                        spinSettings.Name = "BBC_spin" + c.KeyValue;
                        spinSettings.Width = System.Web.UI.WebControls.Unit.Percentage(95);
                        spinSettings.Properties.DisplayFormatString = "#0.00";
                        spinSettings.Properties.FocusedStyle.BackColor = System.Drawing.Color.White;
                        spinSettings.Properties.Increment = 0;
                        spinSettings.Properties.SelectInputTextOnClick = true;
                        spinSettings.Properties.SpinButtons.ShowIncrementButtons = false;

                    }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                });
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "ACCOUNT_STATUS";
                column.Caption = "Account Status";
                column.MinWidth = 80;
                column.CellStyle.Wrap = DefaultBoolean.False;
                column.SetDataItemTemplateContent(c =>
                {
                    Html.DevExpress().ComboBox(cmbSettings =>
                    {
                        cmbSettings.Name = "BBC_cmb" + c.KeyValue;
                        cmbSettings.Width = System.Web.UI.WebControls.Unit.Percentage(95);
                        cmbSettings.SelectedIndex = 0;
                        cmbSettings.Properties.ValueType = typeof(string);
                        cmbSettings.Properties.Items.Add("OPEN");
                        cmbSettings.Properties.Items.Add("CLOSE");
                        cmbSettings.Properties.FocusedStyle.BackColor = System.Drawing.Color.White;

                    }).Bind(DataBinder.Eval(c.DataItem, c.Column.FieldName)).Render();
                });
            }
        });
        settings.Columns.Add(column =>
        {
            column.Name = "Save_Bank_Status";
            column.Caption = "Save Bank Status";
            column.MinWidth = 80;
            column.SetDataItemTemplateContent(c =>
            {
                @Html.DevExpress().Button(btnSettings =>
                {
                    btnSettings.Name = "BBC_btn" + c.KeyValue;
                    btnSettings.Text = "Update";
                    btnSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    btnSettings.ControlStyle.ForeColor = System.Drawing.Color.Navy;
                    btnSettings.ControlStyle.BackColor = System.Drawing.Color.FromArgb(1, 190, 229, 176); ;
                    btnSettings.ClientSideEvents.Click = "BankChecking_SaveButton_Click";
                    btnSettings.ClientEnabled = c.VisibleIndex==c.Grid.FocusedRowIndex;
                    btnSettings.EnableClientSideAPI = true;
                    btnSettings.UseSubmitBehavior = false;
                    btnSettings.Styles.Style.DisabledStyle.BackColor = System.Drawing.Color.LightGray;
                    btnSettings.Styles.Style.DisabledStyle.ForeColor = System.Drawing.Color.LightGray;
                }).GetHtml();
            });
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "CEN_UID";
                column.Caption = "UID";
                column.MinWidth = 100;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "CEN_NAME";
                column.Caption = "Centre Name";
                column.MinWidth = 80;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "BB_IFSC_CODE";
                column.Caption = "IFSC Code";
                column.MinWidth = 120;
                column.Width = 120;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "BA_CUST_NO";
                column.Caption = "Customer No.";
                column.MinWidth = 120;
                column.Width = 120;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "BB_MICR_CODE";
                column.Caption = "MICR Code";
                column.MinWidth = 120;
                column.Width = 120;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Branch";
                column.Caption = "Branch";
                column.MinWidth = 150;
                column.Width = 150;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "BA_TAN_NO";
                column.Caption = "TAN. No.";
                column.MinWidth = 120;
                column.Width = 120;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Special_Ref";
                column.Caption = "Reference";
                column.MinWidth = 30;
                column.Width = 100;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "BA_FCRA_UTIL";
                column.Caption = "Utilization";
                column.Width = 100;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "BA_FERA_ACC";
                column.Caption = "Designated";
                column.Width = 100;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "BA_OPEN_DATE";
                column.Caption = "A/c. Open date";
                column.Visible = true;
                column.ColumnType = MVCxGridViewColumnType.DateEdit;
                column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
                column.MinWidth = 120;
                column.Width = 120;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "BA_CLOSE_DATE";
                column.Caption = "A/c. Closed date";
                column.Visible = true;
                column.ColumnType = MVCxGridViewColumnType.DateEdit;
                column.MinWidth = 120;
                column.Width = 120;
            }
        });

        //-----------------------------------------------------------------------------------------

        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "ZONE_NAME";
                column.Caption = "Zone";
                column.MinWidth = 80;
                column.Width = 80;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "BALANCE_CHECKING_STATUS";
                column.Caption = "BALANCE_CHECKING_STATUS";
                column.Visible =  false;
                column.MinWidth = 80;
                column.Width = 80;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "SUB_ZONE_NAME";
                column.Caption = "Sub-Zone";
                column.MinWidth = 80;
                column.Width = 80;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "CEN_ID";
                column.Caption = "CEN_ID";
                column.MinWidth = 135;
                column.Width = 135;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "OP_AMOUNT";
                column.Caption = "Opening balance";
                column.PropertiesEdit.DisplayFormatString = "#,0.00";
                column.MinWidth = 120;
                column.Width = 120;
            }
        });
        //settings.Columns.Add(column =>
        //{
        //    {
        //        column.FieldName = "CL_AMOUNT";
        //        column.Caption = "Closing balance";
        //        column.PropertiesEdit.DisplayFormatString = "#,0.00";
        //        column.MinWidth = 120;
        //        column.MaxWidth = 120;
        //    }
        //});
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "BA_OTHER_DETAIL";
                column.Caption = "Other Details";
                column.MinWidth = 120;
                column.Width = 120;
            }
        });


        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "BI_BANK_PAN_NO";
                column.Caption = "PAN. No.";
                column.MinWidth = 120;
                column.Width = 120;
            }
        });

        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "BA_TEL_NOS";
                column.Caption = "Tel. No.";
                column.MinWidth = 120;
                column.Width = 120;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "BA_EMAIL_ID";
                column.Caption = "Email ID";
                column.MinWidth = 120;
                column.Width = 120;
            }
        });

        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "BA_ACCOUNT_TYPE",
            Caption = "Acount Type",
            MinWidth = 120,
            Width = 120,
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Full_Bank_Name",
            Caption = "Full Bank Name",
            MinWidth = 120,
            Width = 120,
            Visible = false,
        });
        if (SpecialGroupings == true)
        {
            settings.Columns.Add(new MVCxGridViewColumn()
            {
                FieldName = "Action_Status",
                Caption = "Status",
                Width = 100
            });
            settings.Columns.Add(new MVCxGridViewColumn()
            {
                FieldName = "BA_ACCOUNT_NEW",
                Caption = "New A/c.",
                Width = 100
            });
        }
        else
        {
            settings.Columns.Add(new MVCxGridViewColumn()
            {
                FieldName = "Action_Status",
                Caption = "Status",
                Visible = false,
                Width = 100
            });
            settings.Columns.Add(new MVCxGridViewColumn()
            {
                FieldName = "BA_ACCOUNT_NEW",
                Caption = "New A/c.",
                Visible = false,
                Width = 100
            });
        }

        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Action_Date",
            Caption = "Action Date",
            Visible = false,
            Width = 160
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Action_By",
            Caption = "Action By",
            Visible = false,
            Width = 100
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Add_By",
            Caption = "Added By",
            Visible = false,
            Width = 100
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Add_Date",
            Caption = "Added Date",
            Visible = false,
            Width = 100
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "CrossedTimeLimit",
            Caption = "Crossed Time Limit",
            Visible = false,
            Width = 100
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Edit_By",
            Caption = "Edited By",
            Visible = false,
            Width = 100
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Edit_Date",
            Caption = "Edited Date",
            Visible = false,
            Width = 100
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "ID",
            Caption = "ID",
            Visible = false,
            Width = 100
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "OpenActions",
            Caption = "Open Actions",
            Visible = false,
            Width = 100
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "RemarkStatus",
            Caption = "Remark Status",
            Visible = false,
            Width = 100
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Remarks",
            Caption = "Remarks",
            Visible = false,
            Width = 100
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "YearID",
            Caption = "Year ID",
            Visible = false,
            Width = 100
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Balance";
                column.Caption = "Bank Balance";
                column.MinWidth = 120;
                column.Visible = true;
                column.ShowInCustomizationForm = false;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "DIFF";
                column.Caption = "Difference";
                column.MinWidth = 120;
                column.Visible = false;
                column.ShowInCustomizationForm = false;
            }
        });

        settings.SettingsExport.EnableClientSideExportAPI = true;
        settings.SettingsExport.ExcelExportMode = DevExpress.Export.ExportType.DataAware;
        settings.SettingsExport.PageHeader.Center = "Bank Account Listing";
        settings.SettingsExport.PageHeader.Left = ViewData["ExportGridHeaderLeft"].ToString();
        settings.SettingsExport.PageHeader.Right = ViewData["ExportGridHeaderRight"].ToString();
        settings.SettingsExport.PageFooter.Right = ViewData["ExportGridFooter"].ToString();
        //settings.SettingsExport.PageFooter.Left = "#";
        settings.SettingsExport.PageFooter.Font.Size = 7;
        settings.SettingsExport.PaperKind = System.Drawing.Printing.PaperKind.A4Rotated;
        settings.SettingsExport.TopMargin = 10;
        settings.SettingsExport.LeftMargin = 10;
        settings.SettingsExport.RightMargin = 10;
        settings.SettingsExport.BottomMargin = 10;

        settings.Settings.ShowHeaderFilterButton = true;
        settings.Settings.ShowHeaderFilterBlankItems = false;

        settings.SettingsBehavior.EnableCustomizationWindow = true;
        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
        settings.KeyboardSupport = true;
        //settings.AccessKey = "G";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.SettingsBehavior.AllowSelectSingleRowOnly = false;
        settings.SettingsBehavior.AllowSelectByRowClick = false;
        settings.SettingsBehavior.AllowFocusedRow = true;
        settings.SettingsSearchPanel.ShowApplyButton = true;
        settings.SettingsSearchPanel.ShowClearButton = true;
        settings.SettingsPager.Mode = GridViewPagerMode.ShowPager;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSize = 25;
        settings.SettingsPager.AllButton.Visible = true;
        settings.Settings.UseFixedTableLayout = true;
        settings.SettingsBehavior.AllowSort = true;
        settings.SettingsBehavior.AllowEllipsisInText = true;
        settings.SettingsCustomizationDialog.ShowSortingPage = true;
        settings.SettingsCustomizationDialog.ShowGroupingPage = true;
        settings.SettingsCustomizationDialog.ShowFilteringPage = true;
        settings.SettingsCustomizationDialog.ShowColumnChooserPage = true;

        settings.Settings.ShowGroupedColumns = false;
        settings.Settings.ShowGroupFooter = SpecialGroupings == true ? GridViewGroupFooterMode.Hidden : GridViewGroupFooterMode.VisibleAlways;
        settings.SettingsContextMenu.EnableGroupFooterMenu = SpecialGroupings == true ? DefaultBoolean.False : DefaultBoolean.True;
        settings.SettingsBehavior.AutoExpandAllGroups = true;
        settings.Settings.GroupFormat = "{1}";
        if (SpecialGroupings == false)
        {
            settings.GroupSummary.Add(new ASPxSummaryItem() { SummaryType = DevExpress.Data.SummaryItemType.Sum, FieldName = "OP_AMOUNT", DisplayFormat = "Total: {0:#,0.00}", ShowInGroupFooterColumn = "OP_AMOUNT" });
        }
        settings.Styles.GroupFooter.Font.Bold = true;

        settings.Settings.ShowFilterRow = true;
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        // show filter control
        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
        settings.SettingsFilterControl.ViewMode = true ? FilterControlViewMode.VisualAndText : FilterControlViewMode.Visual;
        settings.SettingsFilterControl.AllowHierarchicalColumns = true;// AllowHierarchicalColumns;
        settings.SettingsFilterControl.ShowAllDataSourceColumns = true;//FilterBuilderDemoHelper.Options.ShowAllDataSourceColumns;
        settings.SettingsFilterControl.MaxHierarchyDepth = 1;


        settings.Settings.ShowFooter = true;
        settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "OP_AMOUNT").DisplayFormat = "Grand Total: {0:#,0.00}";
        settings.Styles.Footer.Font.Bold = true;
        settings.Styles.Footer.Wrap = DefaultBoolean.True;
        settings.Styles.Header.Wrap = DefaultBoolean.True;

        settings.ClientSideEvents.ContextMenuItemClick = "BankCheckingContextMenuFunction";
        settings.ClientSideEvents.FocusedRowChanged = "BankCheckingOnGridFocusedRowChanged";
        settings.ClientSideEvents.Init = "BankCheckingOnInit";
        settings.ClientSideEvents.DetailRowCollapsing = "BankCheckingGrid_DetailRowCollapsing";
        settings.ClientSideEvents.DetailRowExpanding = "BankCheckingGrid_DetailRowExpanding";
        settings.ClientSideEvents.BeginCallback = "BankCheckingGrid_BeginCallback";
        settings.ClientSideEvents.EndCallback = "OnGridBankCheckingGrid_EndCallback";
        MyExtensions.GridViewHelper.Custom_HeaderFilterFillItems_All(settings);
        MyExtensions.GridViewHelper.CustomGridView(settings);
    }).Bind(Model).GetHtml()