@using DevExtreme.AspNet.Mvc;
@{
    var SessionGUID = Request.QueryString["SessionGUID"];
    var ID = (string)ViewBag.ID;
    int BankCheckingLeftPane_CEN_ID = (int)ViewBag.BankCheckingLeftPane_CEN_ID;
    var VouchingMode = (bool)ViewBag.VouchingMode;
}
<div class="col-md-12">
    <label>Documents Attached:</label>
    <div class="row">
        <div class="col-md-12" id="BankAuditNestedGrid_Div">
            <form>
                @Html.Action("Frm_BankChecking_Info_DetailGrid", "BankBalanceChecking", new { RecID = ID, VouchingMode = VouchingMode,command="REFRESH", SessionGUID = SessionGUID,CEN_ID = BankCheckingLeftPane_CEN_ID })
            </form>
        </div>
    </div>
    <label>Additional Info:</label>
    <div class="row">
        <div class="col-md-12" id="BankAuditAdditionalInfo_Div">
            <form>
                @Html.Action("AdditionalInfo_Grid", "BankBalanceChecking", new { SessionGUID = SessionGUID })
            </form>
        </div>
    </div>
</div>

<script>
    
</script>
<script>
    $(document).ready(function () {


    });

</script>
