<style>
    .section input[type="radio"],
    .section input[type="checkbox"] {
        display: none;
    }

    .chk-box {
        /* margin-bottom: 10px;*/
    }

        .chk-box label {
            position: relative;
            left: 22px;
            font-size: 12px;
        }

        /* Base styles for spans */
        .chk-box span::before,
        .chk-box span::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        .chk-box span.checkbox1::before {
            width: 15px;
            height: 15px;
            background-color: #fff;
            left: -24px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            transition: border-color .2s;
        }

        .chk-box span.checkbox1:hover::before {
            background-color: #edf7fd;
        }

        .chk-box span.checkbox1::after {
            content: '\f00c';
            font-family: 'FontAwesome';
            left: -22px;
            top: 1px;
            color: transparent;
            transition: color .2s;
        }

    input[type="checkbox"]:checked + label span.checkbox1::after {
        color: #383939;
    }
</style>

<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<form action="" class="edit_form">
    <div class="full-width-header-bg4">
        <div class="row">

            <div class="col-sm-8 pll">
                <h3 class="popuphead"><i class="far fa-edit"></i>Liability </h3><i class="fas fa-star yellowstar"></i><span class="blu-txt2"> As on 31st March, 2015</span>
            </div>
            <div class="col-sm-4 prm">
                <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
            </div>
        </div>
    </div><!--[row]-->

    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-12 pll prm">


                    <label class="control-label text-red" for="Name">Item Name:</label>
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">

                            <select name="" class="dx-texteditor-input appear">
                                <option value="0">Select Item...</option>
                            </select>
                        </div>
                    </div>

                </div><!--[/leftpart]-->
                <!--[right part]-->

            </div>

        </div>
    </div>	<!--[/row1]-->
    <div class="row">
        <div class="col-sm-10">
            <div class="form-field">
                <div class="container-fluid pll prm">

                    <label class="control-label text-red" for="Name">Party Name:</label>
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox mrb-10">
                        <div class="dx-texteditor-container">

                            <select name="" class="dx-texteditor-input appear">
                                <option value="0">Select Party...</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div><!--[/leftpart]-->
        <div class="col-sm-2">
            <div class="form-field">
                <div class="container-fluid pll prm">
                    <div class="dx-button dx-button-default dx-widget dx-button-has-text" role="button" aria-label="Manage Owner" tabindex="0">
                        <div class="dx-button-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="btn-icon-div">
                                        <i class="fas fa-user-plus"></i>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <span class="dx-button-text" style="font-size:14px;">Manage Party</span>

                                    <input type="submit" class="dx-button-submit-input">
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>	<!--[/row1]-->

    <div class="row">

        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-field">
                <div class="container-fluid pll">
                    <label class="control-label" for="user">Date of Liability Arise:</label>

                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox prm">
                        <div class="dx-texteditor-container">

                            <select name="" class="dx-texteditor-input appear">
                                <option value="0">DD/MM/YYYY</option>
                            </select>
                        </div>
                    </div>


                </div>
            </div>
        </div><!--[1]-->
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-field">
                <div class="container-fluid pll prm">

                    <label class="control-label" for="user">Payable Date:</label>
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox prm">
                        <div class="dx-texteditor-container">

                            <select name="" class="dx-texteditor-input appear">
                                <option value="0">DD/MM/YYYY</option>
                            </select>
                        </div>
                    </div>




                </div>
            </div>
        </div><!--[2]-->
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-field">
                <div class="container-fluid pll prm">

                    <label class="control-label text-red" for="user">Amount:</label>
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox prm">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" Placeholder="Type Amount...">
                        </div>
                    </div>

                </div>
            </div>
        </div><!--[3]-->

    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-2 pll prm">
                    <label class="control-label" for="Name">Reason:</label>
                </div><!--[/leftpart]-->
                <div class="col-sm-10 pll prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox prm">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" Placeholder="Type Reason...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>	<!--[/row1]-->

    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-2 pll prm">
                    <label class="control-label" for="Name">Other Detail:</label>
                </div><!--[/leftpart]-->

                <div class="col-sm-10 pll prm">

                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox prm">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" Placeholder="Type Any Other Details / Remarks...">
                        </div>
                    </div>

                </div><!--[/leftpart]-->
            </div>
        </div>
    </div>	<!--[/row1]-->

    <div class="row">
        <div class="form-field wbg brd-bot-none">
            <div class="col-lg-6 col-xs-12"></div>
            <div class="col-lg-6 col-xs-12">
                <div class="action-btn-wrap ">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Cancel" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fas fa-times-circle btn-icons crossgrey icon-rgt-space5"></i>
                                <span class="dx-button-text">Cancel</span>
                            </div>
                        </a>
                    </div><!--[button]-->


                </div>

                <div class="action-btn-sec-wrap">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Save" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fas fa-check-circle btn-icons checkgreen icon-rgt-space5"></i>
                                <span class="dx-button-text">Save</span>
                                <input type="submit" class="dx-button-submit-input">
                            </div>
                        </a>
                    </div><!--[button]-->

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div><!--[/row5]-->

</form>