<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .d-inline-block {
        display: inline-block;
    }

    .radioButtonDiv {
        border: 1px solid #2b94ef;
        padding: 2px 9px;
        max-width: 113px;
        background: #fff;
    }

    .name_text {
        color: #800000;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .margB10 {
        margin-bottom: 10px !important;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<form action="" class="edit_form">
    <div class="full-width-header-bg3">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="popuphead"><i class="far fa-edit"></i> Payment Details</h3>
            </div>
            <div class="col-sm-4 prm">
                <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
            </div>
        </div>

    </div><!--[row]-->
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="col-sm-12 pll">
                        <label class="control-label text-red" for="user">Made of Payment:</label>
                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                <select name="" class="dx-texteditor-input appear">
                                    <option value="0"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="col-sm-12 pll">
                        <label class="control-label text-red" for="user">Amount:</label>
                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                <input class="dx-texteditor-input" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="form-field paddR8">
                <div class="container-fluid">
                    <div class="col-sm-12 pll">
                        <label class="control-label text-red" for="user">Payment Date:</label>
                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                <select name="" class="dx-texteditor-input appear">
                                    <option value="0">DD-MM-YYYY</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 pll">
                            <label class="control-label fs15 fw-600 margB5">
                                Reference Details:
                                <div class="line"></div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label margB0" for="user">Bank Name:</label></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 prm pll2">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <select name="" class="dx-texteditor-input appear">
                                        <option value="0"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label margB0" for="user">Branch Name:</label></div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[1]-->
                        <div class="col-sm-6 col-md-6 col-lg-6">

                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4 pll mb_txt_left"><label class="control-label margB0" for="user">Date:</label></div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <select name="" class="dx-texteditor-input appear">
                                                <option value="0">Select Type</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[2]-->
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4 pll"><label class="control-label margB0" for="user">Clearing Date:</label></div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm pll2">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <select name="" class="dx-texteditor-input appear">
                                                <option value="0">DD-MM-YYYY</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[1]-->
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4 pll mb_txt_left"><label class="control-label margB0" for="user">Ref. No.:</label></div>
                                <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[2]-->
                    </div>
                </div>
            </div>
        </div><!--[]-->
    </div><!--[row]-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 pll">
                            <label class="control-label fs15 fw-600 margB5">
                                Deposited Bank Details:
                                <div class="line"></div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label margB0" for="user">Bank Name:</label></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 prm pll2">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <select name="" class="dx-texteditor-input appear">
                                        <option value="0"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label margB0" for="user">Branch Name:</label></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 prm pll2">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label margB0" for="user">A/c. No.:</label></div>
                        <div class="col-sm-10 col-md-10 col-lg-10 prm pll2">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[]-->
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label opacityClass colorlighrBlue" for="user">Purpose:</label></div>
                    <div class="col-sm-10 col-md-10 col-lg-10 prm">
                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                <input class="dx-texteditor-input" type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Narration:</label></div>
                    <div class="col-sm-10 col-md-10 col-lg-10 prm">
                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                <input class="dx-texteditor-input" type="text" placeholder="Type any Other Detail / Remarks...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label" for="user">Reference:</label></div>
                    <div class="col-sm-10 col-md-10 col-lg-10 prm">
                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                <input class="dx-texteditor-input" type="text" placeholder="Type any Other Detail / Remarks...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field wbg brd-bot-none">
            <div class="col-sm-8 col-lg-8 col-xs-12">
                <div class="form-field wbg brd-bot-none brd-none" style="padding-top:0px !important; padding-left:0px !important;">
                    <div class="container-fluid">
                        <div class="send_message">
                            <img src="/Content/image/send-icon.png" class="madhuban-req">
                            Send Your Request to Madhuban
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-xs-12 paddR4">
                <div class="action-btn-wrap">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fas fa-times-circle btn-icons crossgrey icon-rgt-space5"></i>
                                <span class="dx-button-text">Cancel</span>
                            </div>
                        </a>
                    </div><!--[button]-->

                </div>

                <div class="action-btn-sec-wrap">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fas fa-check-circle btn-icons checkgreen icon-rgt-space5"></i>
                                <span class="dx-button-text">Save</span>
                                <input type="submit" class="dx-button-submit-input">
                            </div>
                        </a>
                    </div><!--[button]-->

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>


</form>



