@using DevExtreme.AspNet.Mvc;
@model IEnumerable<ConnectOneMVC.Areas.Magazine.Models.MagazineIssues>

<div id="content" class="col-md-12" style="padding-bottom:20px">
    <form>
        <div id="PartialView" style="margin-top:1px !important;">
            @Html.Partial("Frm_MagIssue_Tab_Grid", Model)
        </div>
    </form>
</div>
<div class="footer-MainBoxdiv full-width-footer">
    @*<div class="col-lg-8 report_footer_small_buttons_div" id="DepositsFooterItem">*@
    <div class="list_footer_left_margin col-md-10">
        <div>
            @*class="footer_new_left"*@
            <div>
                <div class="list_footer_left_margin">
                    <div class="footer-locktext">
                        <div id="obI_Lbl_ActionOn" class="left_footertext_top"></div>
                        <div id="obI_Lbl_ActionBy" class="left_footertext_bottom"></div>
                    </div>
                    @*<div class="footer-locktext">
                            <div id="obILbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                        </div>*@
                </div>
                <div class="list_footer_left_margin">
                    <p id="obILbl_Create" style="margin:0px" class="left_footertext_top"></p>
                    <p id="obILbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                </div>

            </div>
        </div>
    </div>
    <div class="list_footer_right_margin_consistent col-md-1">
        @*<i id="obI_LockICON" class="fa fa-lock lock_symbol"></i>*@
    </div>
    @*</div>
        <div class="col-lg-4 listing_footer_filter_buttons_div">
        </div>*@
</div>

<div class="col-md-12">
    @*Add/Edit Popup*@

    @(Html.DevExtreme().Popup().CustomPopup().ID("CoreLocation_report_modal").OnShowing("PopupOnShowing").Title("Location List Preview").FullScreen(false)
                                                       .Width(200)
                                                       .Height(200)
                                                       .Height("auto")
                                                       .ShowCloseButton(true)
                                                       .ContentTemplate(@<text>
                                                        <div id='CoreLocation_report_modal_result'>
                                                        </div>
                                                    </text>))
    @(Html.DevExtreme().Popup().CustomPopup().ID("popup_frm_CoreLocation_Window").Title("CoreLocation").OnShowing("PopupOnShowing")
                                                       .Width(500)
                                                       .Height(200)
                                                       .ContentTemplate(@<text>
                                                        <div id="CoreLocationresult">
                                                        </div>
                                                    </text>))
    @(Html.DevExtreme().Popup().CustomPopup().ID("popup_frm_CoreMatchedLocation_Window").Title("CoreMatchedLocation").DragEnabled(true)
                                                       .MaxHeight(400)
                                                       .MaxWidth(800)
                                                       .ShowCloseButton(true)
                                                       .ContentTemplate(@<text>
                                                        <div id="CoreMatchedLocationresult">
                                                        </div>
                                                    </text>))
</div>

@*Javascript Events*@
<script type="text/javascript">
    $(document).ready(function () {

    });
    function MagIssueOnInit(s, e) {
        MagIssueAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            MagIssueAdjustSize();
        });
    }
    function MagIssueGrid_BeginCallBack(s, e) {
        e.customArgs["command"] = e.command;
    }

    function MagIssueAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        MagIssueGrid.SetHeight(height);
        MagIssueGrid.SetHeight(height);
    }

    function MagIssuedblclickEdit(s, e) {
        //var key = s.GetRowKey(s.GetFocusedRowIndex());
        //OpeningbalancesListGrid.GetValuesOnCustomCallback({ key: key }, FDOnGetRowValues);
        //if (FDID != null || FDID == "" || FDID == undefined)
        //    OnEditClick();
    }

    function MagIssueOnGridFocusedRowChanged(s, e) {
        var key = s.GetRowKey(s.GetFocusedRowIndex());
        MagIssueGrid.GetValuesOnCustomCallback({ key: key }, MagIssueOnGetRowValues);
    }

    var  Magazine;
    var  IssueDate;
    var  PartNo;
    var  VolNo;
    var  IssueNo;
    var  RegSeed;
    var  PerCopyWeight;
    var  BundleMaxFgn;
    var  BundleMax;
    var  PerCopyWeight1;
    var  CopiesforAuto;
    var  CopiesforFgn;
    var  RegExpval;
    var  RegFgnExp;
    var  IssueID;
    var  AddIssues_By;
    var  AddIssues_Date;
    var  EditIssues_By;
    var  EditIssues_Date;
    var  ActionIssues_Status;
    var  ActionIssues_By;
    var  ActionIssues_Date;


    function MagIssueOnGetRowValues(FDData) {
        var values = FDData.split("![");
        Magazine = values[0];
        IssueDate = values[1];
        PartNo = values[2];
        VolNo = values[3];
        IssueNo = values[4];
        RegSeed = values[5];
        PerCopyWeight = values[6];
        BundleMaxFgn = values[7];
        BundleMax = values[8];
        PerCopyWeight1 = values[9];
        CopiesforAuto = values[10];
        CopiesforFgn = values[11];
        RegExpval = values[12];
        RegFgnExp = values[13];
        IssueID = values[14];
        AddIssues_By = values[15];
        AddIssues_Date = values[16];
        EditIssues_By = values[17];
        EditIssues_Date = values[18];
        ActionIssues_Status = values[19];
        ActionIssues_By = values[20];
        ActionIssues_Date = values[21];


        MagIssueUpdateFooterDetail(IssueID, ActionIssues_Status, AddIssues_Date, AddIssues_By,
        ActionIssues_Date, ActionIssues_By, EditIssues_Date, EditIssues_By);
    }

    function MagIssueContextMenuFunction(s, e) {
        if (e.item.name == 'New') {
            OnMagazineNewClick();
        }
        if (e.item.name == 'Close') {
            btnCloseActiveTab();
        }
        else if (e.item.name == 'Edit') {
            OnMagazineEditClick();
        }
        else if (e.item.name == 'Delete') {
            OnMagazineDeleteClick();
        }
        else if (e.item.name == 'View') {
            OnMagazineViewClick();
        }
        else if (e.item.name == 'ListPreview') {
            OnMagazinePreviewClick();
        }
        else if (e.item.name == 'Default') {
            OnMagazineDefaultClick();
        }
        else if (e.item.name == 'FirstAudit') {
            FirstYRADDclick();
        }
        else if (e.item.name == 'SecondAudit') {
            SecondYRADDclick();
        }
        else if (e.item.name == 'ThirdAudit') {
            ThirdYRADDclick();
        }
        else if (e.item.name == 'FourthAudit') {
            FourthYRADDclick();
        }
        else if (e.item.name == 'FifthAudit') {
            FifthYRADDclick();
        }
        else if (e.item.name == 'TenthAudit') {
            TenthYRADDclick();
        }
        else if (e.item.name == 'RemoveDefault') {
            OnMagazineRemoveDefaultClick();
        }
        else if (e.item.name == 'Refresh') {
            MagIssueGrid.Refresh();
        }
    }

    //Create Similar Issues

    function FirstYRADDclick() {

        if (IssueID == 'undefined' || IssueID == undefined) {
            DevExpress.ui.dialog.alert('Please Select a valid Issue!!', 'Alert ');
            return;
        }

        var result = DevExpress.ui.dialog.confirm("Are you sure you want to add remaining current year issues, similar to selected issue . . ?", "Magazine");
        result.done(function (dialogResult) {
            if (dialogResult) {

                $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineMaster/InsertMagazineSimilarIssue",
            data: { YrCount: "1", id: IssueID },
            cache: false,
            success: function (Mag_Issues_ButtonClick_result) {
                if (Mag_Issues_ButtonClick_result.result == "true" || Mag_Issues_ButtonClick_result.result == true) {
                    DevExpress.ui.dialog.alert("Similar Issues created successfully in Current Year!!", 'Success!');
                }
                else {
                    DevExpress.ui.dialog.alert(Mag_Issues_ButtonClick_result.Message, 'Warning!');
                    MagIssueGrid.Refresh();
                }
            }
        });
            }
        });
    }

    function SecondYRADDclick() {

        if (IssueID == 'undefined' || IssueID == undefined) {
            DevExpress.ui.dialog.alert('Please Select a valid Issue!!', 'Alert ');
            return;
        }

        var result = DevExpress.ui.dialog.confirm("Are you sure you want to add remaining current & next year issues, similar to selected issue . . ?", "Magazine");
        result.done(function (dialogResult) {
            if (dialogResult) {

                $.ajax({
                    type: 'GET',
                    url: "/Magazine/MagazineMaster/InsertMagazineSimilarIssue",
                    data: { YrCount: "2", id: IssueID },
                    cache: false,
                    success: function (Mag_Issues_ButtonClick_result) {
                        if (Mag_Issues_ButtonClick_result.result == "true" || Mag_Issues_ButtonClick_result.result == true) {
                            DevExpress.ui.dialog.alert("Similar Issues created successfully in Current & Next Year", 'Success!');
                        }
                        else {
                            DevExpress.ui.dialog.alert(Mag_Issues_ButtonClick_result.Message, 'Warning!');
                            MagIssueGrid.Refresh();
                        }
                    }
                });
            }
        });
    }

    function ThirdYRADDclick() {

        if (IssueID == 'undefined' || IssueID == undefined) {
            DevExpress.ui.dialog.alert('Please Select a valid Issue!!', 'Alert ');
            return;
        }

        var result = DevExpress.ui.dialog.confirm("Are you sure you want to add remaining next 3 year issues, similar to selected issue . . ?", "Magazine");
        result.done(function (dialogResult) {
            if (dialogResult) {

                $.ajax({
                    type: 'GET',
                    url: "/Magazine/MagazineMaster/InsertMagazineSimilarIssue",
                    data: { YrCount: "3", id: IssueID },
                    cache: false,
                    success: function (Mag_Issues_ButtonClick_result) {
                        if (Mag_Issues_ButtonClick_result.result == "true" || Mag_Issues_ButtonClick_result.result == true) {
                            DevExpress.ui.dialog.alert("Similar Issues created successfully in Next 3 Years", 'Success!');
                        }
                        else {
                            DevExpress.ui.dialog.alert(Mag_Issues_ButtonClick_result.Message, 'Warning!');
                            MagIssueGrid.Refresh();
                        }
                    }
                });
            }
        });
    }

    function FourthYRADDclick() {

        if (IssueID == 'undefined' || IssueID == undefined) {
            DevExpress.ui.dialog.alert('Please Select a valid Issue!!', 'Alert ');
            return;
        }

        var result = DevExpress.ui.dialog.confirm("Are you sure you want to add remaining next 4 year issues, similar to selected issue . . ?", "Magazine");
        result.done(function (dialogResult) {
            if (dialogResult) {

                $.ajax({
                    type: 'GET',
                    url: "/Magazine/MagazineMaster/InsertMagazineSimilarIssue",
                    data: { YrCount: "4", id: IssueID },
                    cache: false,
                    success: function (Mag_Issues_ButtonClick_result) {
                        if (Mag_Issues_ButtonClick_result.result == "true" || Mag_Issues_ButtonClick_result.result == true) {
                            DevExpress.ui.dialog.alert("Similar Issues created successfully in Next 4 Years", 'Success!');
                        }
                        else {
                            DevExpress.ui.dialog.alert(Mag_Issues_ButtonClick_result.Message, 'Warning!');
                            MagIssueGrid.Refresh();
                        }
                    }
                });
            }
        });
    }

    function FifthYRADDclick() {

        if (IssueID == 'undefined' || IssueID == undefined) {
            DevExpress.ui.dialog.alert('Please Select a valid Issue!!', 'Alert ');
            return;
        }

        var result = DevExpress.ui.dialog.confirm("Are you sure you want to add remaining next 5 year issues, similar to selected issue . . ?", "Magazine");
        result.done(function (dialogResult) {
            if (dialogResult) {

                $.ajax({
                    type: 'GET',
                    url: "/Magazine/MagazineMaster/InsertMagazineSimilarIssue",
                    data: { YrCount: "5", id: IssueID },
                    cache: false,
                    success: function (Mag_Issues_ButtonClick_result) {
                        if (Mag_Issues_ButtonClick_result.result == "true" || Mag_Issues_ButtonClick_result.result == true) {
                            DevExpress.ui.dialog.alert("Similar Issues created successfully in Next 5 Years", 'Success!');
                        }
                        else {
                            DevExpress.ui.dialog.alert(Mag_Issues_ButtonClick_result.Message, 'Warning!');
                            MagIssueGrid.Refresh();
                        }
                    }
                });
            }
        });
    }

    function TenthYRADDclick() {

        if (IssueID == 'undefined' || IssueID == undefined) {
            DevExpress.ui.dialog.alert('Please Select a valid Issue!!', 'Alert ');
            return;
        }

        var result = DevExpress.ui.dialog.confirm("Are you sure you want to add remaining next 10 year issues, similar to selected issue . . ?", "Magazine");
        result.done(function (dialogResult) {
            if (dialogResult) {

                $.ajax({
                    type: 'GET',
                    url: "/Magazine/MagazineMaster/InsertMagazineSimilarIssue",
                    data: { YrCount: "10", id: IssueID },
                    cache: false,
                    success: function (Mag_Issues_ButtonClick_result) {
                        if (Mag_Issues_ButtonClick_result.result == "true" || Mag_Issues_ButtonClick_result.result == true) {
                            DevExpress.ui.dialog.alert("Similar Issues created successfully in Next 10 Years", 'Success!');
                        }
                        else {
                            DevExpress.ui.dialog.alert(Mag_Issues_ButtonClick_result.Message, 'Warning!');
                            MagIssueGrid.Refresh();
                        }
                    }
                });
            }
        });
    }

    //Create Similar Issues
    // Set as defaults and Remove Defaults
    function OnMagazineDefaultClick() {

        if (IssueID == 'undefined' || IssueID == undefined) {
            DevExpress.ui.dialog.alert('Please Select a valid Issue!!', 'Alert ');
            return;
        }
                $.ajax({
                    type: 'GET',
                    url: "/Magazine/MagazineMaster/SetasDefaultIssue",
                    data: { id: IssueID },
                    cache: false,
                    success: function (Default_Issues_ButtonClick_result) {
                        if (Default_Issues_ButtonClick_result.result == "true" || Default_Issues_ButtonClick_result.result == true) {
                            DevExpress.ui.dialog.alert(Default_Issues_ButtonClick_result.Message, 'Set Issue as Default!');
                            MagIssueGrid.Refresh();
                        }
                        else {
                            DevExpress.ui.dialog.alert(Default_Issues_ButtonClick_result.Message, 'Warning!');
                            MagIssueGrid.Refresh();
                        }
                    }      
        });
    }

    function OnMagazineRemoveDefaultClick() {

        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineMaster/RemoveDefaultIssue",
            data: { },
            cache: false,
            success: function (RemoveDefault_Issues_ButtonClick_result) {
                if (RemoveDefault_Issues_ButtonClick_result.result == "true" || RemoveDefault_Issues_ButtonClick_result.result == true) {
                    DevExpress.ui.dialog.alert(RemoveDefault_Issues_ButtonClick_result.Message, 'Remove Default!');
                    MagIssueGrid.Refresh();
                }
                else {
                    DevExpress.ui.dialog.alert(RemoveDefault_Issues_ButtonClick_result.Message, 'Warning!');
                    MagIssueGrid.Refresh();
                }
            }
        });
    }
    // Set as defaults and Remove Defaults

    function MagIssueUpdateFooterDetail(ID, ActionIssues_Status, AddIssues_Date, AddIssues_By, ActionIssues_Date, ActionIssues_By, EditIssues_Date, EditIssues_By) {

        var Status = "";
        var Lbl_Status = "";
        var Lbl_StatusBy = "";
        var Pic_Status = "";
        var Lbl_Create = "";
        var Lbl_Modify = "";
        var Lbl_Status_Color = "";
        var Add_Date = "";
        var Add_By = "";
        var Status_On = "";
        var Status_By = "";
        var StatusStr = "Completed";
        var Lbl_StatusOn = "";
        var Lbl_StatusBy = "";

        Status = Action_Status;

        Add_Date = Add_Date;
        Add_By = Add_By;
        Status_On = Action_Date;
        Status_By = Action_By;

        if (Status_On) {
            Lbl_StatusOn = StatusStr + " On: " + Status_On;
            Lbl_StatusBy = StatusStr + " By: " + Status_By;
        }
        else {
            Lbl_StatusOn = StatusStr + " On: " + "?";
            Lbl_StatusBy = StatusStr + " By: " + Status_By;
        }

        if (Add_Date) {
            Lbl_Create = "Add On: " + Add_Date + ", By: " + Add_By;
        }
        else {
            Lbl_Create = "Add On: " + "?, By: " + Add_By;
        }

        var Edit_Date = "";
        var Edit_By = "";

        Edit_Date = Edit_Date;
        Edit_By = Edit_By;

        if (Edit_Date) {
            Lbl_Modify = "Edit On: " + Edit_Date + ", By: " + Edit_By;
        }
        else {
            Lbl_Modify = "Edit On: " + "?, By: " + Edit_By;
        }
        $('#obI_Lbl_ActionOn').text(Lbl_StatusOn)
        $('#obI_Lbl_ActionBy').text(Lbl_StatusBy);
        $('#obILbl_Create').text(Lbl_Create);
        $('#obILbl_Modify').text(Lbl_Modify);
        if (Lbl_Status_Color != "") {
            $('#obILbl_Status').css('color', Lbl_Status_Color);
        }
        if (Pic_Status != "") {
            $('#obI_LockICON').css('class', Pic_Status);
        }
    }
</script>
