@using DevExtreme.AspNet.Mvc;
@model IEnumerable<ConnectOneMVC.Areas.Magazine.Models.MagazineSubType>

<div id="content" class="col-md-12" style="padding-bottom:20px">
    <form>
        <div id="PartialViewResult" style="margin-top:1px !important;">
            @Html.Partial("Frm_MagSubType_Tab_Grid", Model)
        </div>
    </form>
</div>
<div class="footer-MainBoxdiv full-width-footer">
    @*<div class="col-lg-8 report_footer_small_buttons_div" id="DepositsFooterItem">*@
    <div class="list_footer_left_margin col-md-10">
        <div>
            @*class="footer_new_left"*@
            <div>
                <div class="list_footer_left_margin">
                    <div class="footer-locktext">
                        <div id="obL_Lbl_ActionOn" class="left_footertext_top"></div>
                        <div id="obL_Lbl_ActionBy" class="left_footertext_bottom"></div>
                    </div>
                    @*<div class="footer-locktext">
                            <div id="obLLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                        </div>*@
                </div>
                <div class="list_footer_left_margin">
                    <p id="obLLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                    <p id="obLLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                </div>

            </div>
        </div>
    </div>
    <div class="list_footer_right_margin_consistent col-md-1">
        @*<i id="obL_LockICON" class="fa fa-lock lock_symbol"></i>*@
    </div>
    @*</div>
        <div class="col-lg-4 listing_footer_filter_buttons_div">
        </div>*@
</div>

<div class="col-md-12">
    @*Add/Edit Popup*@

</div>

@*Javascript Events*@
<script type="text/javascript">
    $(document).ready(function () {

    });
    function MagSubTypeOnInit(s, e) {
        MagSubTypeAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            MagSubTypeAdjustSize();
        });
    }
    function MagSubTypeGrid_BeginCallBack(s, e) {
        e.customArgs["command"] = e.command;
    }

    function MagSubTypeAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        MagSubTypeGrid.SetHeight(height);
        MagSubTypeGrid.SetHeight(height);
    }

    function MagSubTypedblclickEdit(s, e) {
        //var key = s.GetRowKey(s.GetFocusedRowIndex());
        //OpeningbalancesListGrid.GetValuesOnCustomCallback({ key: key }, FDOnGetRowValues);
        //if (FDID != null || FDID == "" || FDID == undefined)
        //    OnEditClick();
    }

    function MagSubTypeOnGridFocusedRowChanged(s, e) {
        var key = s.GetRowKey(s.GetFocusedRowIndex());
        MagSubTypeGrid.GetValuesOnCustomCallback({ key: key }, MagSubTypeOnGetRowValues);
    }
   
    var Sr;
    var Type;
    var ShortNameSub;
    var ShortMonth;
    var St_Month;
    var MinMonths;
    var FixedPeriod;
    var PeriodwiseFee;
    var SubTypeID;
    var AddType_By;
    var AddType_Date;
    var EditType_By;
    var EditType_Date;
    var ActionType_Status;
    var ActionType_By;
    var ActionType_Date;
    var MagListID;

    function MagSubTypeOnGetRowValues(FDData) {
        var values = FDData.split("![");
        Sr = values[0];
        Type = values[1];
        ShortNameSub = values[2];
        ShortMonth = values[3];
        St_Month = values[4];
        MinMonths = values[5];
        FixedPeriod = values[6];
        PeriodwiseFee = values[7];
        SubTypeID = values[8];
        AddType_By = values[9];
        AddType_Date = values[10];
        EditType_By = values[11];
        EditType_Date = values[12];
        ActionType_Status = values[13];
        ActionType_By = values[14];
        ActionType_Date = values[15];
        MagListID = values[16];

        MagSubTypeUpdateFooterDetail(SubTypeID, ActionType_Status, AddType_Date, AddType_By,
        ActionType_Date, ActionType_By, EditType_Date, EditType_By);
    }

    function MagSubTypeContextMenuFunction(s, e) {
        if (e.item.name == 'New') {
            OnMagazineNewClick();
        }
        if (e.item.name == 'Close') {
            btnCloseActiveTab();
        }
        else if (e.item.name == 'Edit') {
            OnMagazineEditClick();
        }
        else if (e.item.name == 'Delete') {
            OnMagazineDeleteClick();
        }
        else if (e.item.name == 'View') {
            OnMagazineViewClick();
        }
        else if (e.item.name == 'ListPreview') {
            OnMagazinePreviewClick();
        }
        else if (e.item.name == 'Default') {
            OnMagazineDefaultClick();
        }
        else if (e.item.name == 'RemoveDefault') {
            OnMagazineRemoveDefaultClick();
        }
        else if (e.item.name == 'Refresh') {
            RebindSubscriptionType();
        }
    }
    // Set as defaults and Remove Defaults
    function OnMagazineDefaultClick() {

        if (SubTypeID == 'undefined' || SubTypeID == undefined) {
            DevExpress.ui.dialog.alert('Please Select a valid Issue!!', 'Alert ');
            return;
        }
        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineMaster/MagaZineSubTypeSetasDefault",
            data: { id: SubTypeID },
            cache: false,
            success: function (Default_Issues_ButtonClick_result) {
                if (Default_Issues_ButtonClick_result.result == "true" || Default_Issues_ButtonClick_result.result == true) {
                    DevExpress.ui.dialog.alert(Default_Issues_ButtonClick_result.Message, 'Set Issue as Default!');
                    RebindSubscriptionType();
                }
                else {
                    DevExpress.ui.dialog.alert(Default_Issues_ButtonClick_result.Message, 'Warning!');
                    RebindSubscriptionType();
                }
            }
        });
    }

    function OnMagazineRemoveDefaultClick() {

        $.ajax({
            type: 'GET',
            url: "/Magazine/MagazineMaster/MagaZineSubTypeRemoveDefaultIssue",
            data: { id: MagListID },
            cache: false,
            success: function (RemoveDefault_Issues_ButtonClick_result) {
                if (RemoveDefault_Issues_ButtonClick_result.result == "true" || RemoveDefault_Issues_ButtonClick_result.result == true) {
                    DevExpress.ui.dialog.alert(RemoveDefault_Issues_ButtonClick_result.Message, 'Remove Default!');
                    RebindSubscriptionType();
                }
                else {
                    DevExpress.ui.dialog.alert(RemoveDefault_Issues_ButtonClick_result.Message, 'Warning!');
                    RebindSubscriptionType();
                }
            }
        });
    }
    // Set as defaults and Remove Defaults
    function MagSubTypeUpdateFooterDetail(ID, ActionType_Status, AddType_Date, AddType_By, ActionType_Date, ActionType_By, EditType_Date, EditType_By) {

        var Status = "";
        var Lbl_Status = "";
        var Lbl_StatusBy = "";
        var Pic_Status = "";
        var Lbl_Create = "";
        var Lbl_Modify = "";
        var Lbl_Status_Color = "";
        var Add_Date = "";
        var Add_By = "";
        var Status_On = "";
        var Status_By = "";
        var StatusStr = "Completed";
        var Lbl_StatusOn = "";
        var Lbl_StatusBy = "";

        Status = Action_Status;

        Add_Date = Add_Date;
        Add_By = Add_By;
        Status_On = Action_Date;
        Status_By = Action_By;

        if (Status_On) {
            Lbl_StatusOn = StatusStr + " On: " + Status_On;
            Lbl_StatusBy = StatusStr + " By: " + Status_By;
        }
        else {
            Lbl_StatusOn = StatusStr + " On: " + "?";
            Lbl_StatusBy = StatusStr + " By: " + Status_By;
        }

        if (Add_Date) {
            Lbl_Create = "Add On: " + Add_Date + ", By: " + Add_By;
        }
        else {
            Lbl_Create = "Add On: " + "?, By: " + Add_By;
        }

        var Edit_Date = "";
        var Edit_By = "";

        Edit_Date = Edit_Date;
        Edit_By = Edit_By;

        if (Edit_Date) {
            Lbl_Modify = "Edit On: " + Edit_Date + ", By: " + Edit_By;
        }
        else {
            Lbl_Modify = "Edit On: " + "?, By: " + Edit_By;
        }
        $('#obL_Lbl_ActionOn').text(Lbl_StatusOn)
        $('#obL_Lbl_ActionBy').text(Lbl_StatusBy);
        $('#obLLbl_Create').text(Lbl_Create);
        $('#obLLbl_Modify').text(Lbl_Modify);
        if (Lbl_Status_Color != "") {
            $('#obLLbl_Status').css('color', Lbl_Status_Color);
        }
        if (Pic_Status != "") {
            $('#obL_LockICON').css('class', Pic_Status);
        }
    }
</script>
