<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }
    .opacityClassnew {
        opacity:0.6;
    } .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .d-inline-block {
        display: inline-block;
    }
    .padR5 {
        padding-right:5px !important;
    }
    .radioButtonDiv {
        border: 1px solid #2b94ef;
        padding: 2px 9px;
        max-width: 113px;
        background: #fff;
    }

    .name_text {
        color: #800000;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .blue-color {
        color: #43a5f4 !important;
    }
    .margB10 {
        margin-bottom: 10px !important;
    }

    .width100p {
        width: 100%;
    }
    .addAddressOpcity.dx-button, .addAddressOpcity.dx-button:hover {
        color: #111;
        border-color: #d9dcdf;
        background: #fbfdff;
        background: -moz-linear-gradient(top, #f4f4f4 0%, #e2e2e2 64%, #f4f4f4 100%);
        background: -webkit-linear-gradient(top, #f4f4f4 0%,#e2e2e2 64%,#f4f4f4 100%);
        background: linear-gradient(to bottom, #f4f4f4 0%,#e2e2e2 64%,#f4f4f4 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdff', endColorstr='#ceefff',GradientType=0 );
    }

   
    .addAddressOpcity {
       opacity:.8;
    }
    .addAddressOpcity .dx-button-text {
        color: #626262;
        font-weight:400;
    }
    @@media only screen and (max-width:992px) and (min-width:300px) {
   
    .pll {
        padding-left: 0 !important;
    }
}

</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<form action="" class="edit_form">
    <div class="full-width-header-bg3">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="popuphead"><i class="far fa-edit"></i> Magazine Membership</h3>
            </div>
            <div class="col-sm-4 prm">
                <h5 class="mand-txt-align pll" style=""><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
            </div>
        </div>

    </div><!--[row]-->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 pll">
                            <label class="control-label fs14 margB0">Identity Details:</label>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[]-->
    </div><!--[row]-->

    <div class="form-field">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4 pll mb_txt_left1"><label class="control-label text-red margB0" for="">Member Type:</label></div>
                        <div class="col-sm-12 col-md-8 col-lg-8 prm pll">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <select name="" class="dx-texteditor-input appear">
                                        <option value="0">Select Type...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4 pll mb_txt_left1"><label class="control-label margB0" for="">Membership ID:</label></div>
                        <div class="col-sm-12 col-md-8 col-lg-8 prm pll">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" Placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4 pll mb_txt_left1"><label class="control-label text-red margB0" for="">Start Date:</label></div>
                        <div class="col-sm-12 col-md-8 col-lg-8 prm pll">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <select name="" class="dx-texteditor-input appear">
                                        <option value="0">DD-MM-YYYY</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4 pll mb_txt_left1"><label class="control-label margB0" for="">Old No.:</label></div>
                        <div class="col-sm-12 col-md-8 col-lg-8 prm pll">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" Placeholder="Type Old No.">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7">
            <div class="form-field">
                <div class="container-fluid Membermb_height">
                    <div class="row">
                        <div class="col-sm-12 pll">
                            <label class="control-label fs14 margB0">Member Details:</label>
                        </div>
                    </div>

                </div>
            </div>
        </div><!--[]-->
        <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text btn-set-pad-bot width100p addAddressOpcity" role="button" aria-label="Cancel" tabindex="0">
                                <a href="javascript:void(0);">
                                    <div class="dx-button-content">
                                        <span class="dx-button-text">Add Member (Ctrl+A)</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 prm">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text btn-set-pad-bot width100p addAddressOpcity" role="button" aria-label="Cancel" tabindex="0">
                                <a href="javascript:void(0);">
                                    <div class="dx-button-content" style="padding-bottom:0px !important;">
                                        <span class="dx-button-text">Manage Member (Ctrl+M)</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[]-->
    </div><!--[row]-->
    <div class="form-field">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-2 col-lg-2 pll mb_txt_left"><label class="control-label text-red margB0" for="">Member Name:</label></div>
                        <div class="col-sm-12 col-md-7 col-lg-7 pll">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <select name="" class="dx-texteditor-input appear" style="min-height:21px !important;">
                                        <option value="0"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <div class="row">
                                <div class="col-sm-4 col-md-6 col-lg-6">
                                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text btn-set-pad-bot width100p" role="button" aria-label="Cancel" tabindex="0">
                                        <a href="javascript:void(0);">
                                            <div class="dx-button-content" style="padding:0px 8px;">
                                                <span class="dx-button-text">Search</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-md-6 col-lg-6 pll2 prm">
                                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text btn-set-pad-bot width100p" role="button" aria-label="Cancel" tabindex="0">
                                        <a href="javascript:void(0);">
                                            <div class="dx-button-content" style="padding:0px 8px;">
                                                <span class="dx-button-text">More Details</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-4 col-md-2 col-lg-2 pll mb_txt_left d_none"><label class="control-label text-red" for="">&nbsp;</label></div>
                        <div class="col-sm-6 col-md-2 col-lg-2 pll">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" Placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 col-lg-3">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" Placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 col-lg-3">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" Placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 col-lg-2 prm">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" Placeholder="">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 pll">
                            <label class="control-label fs14 margB0">Connecting Details:</label>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[]-->
    </div><!--[row]-->

    <div class="form-field">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 pll">
                    <div class="checkbox margB0 margT4">
                        <label><input type="checkbox" value=""> <i>Connected with other Member?</i></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4 pll mb_txt_left1"><label class="control-label opacityClassnew blue-color" for="">Member Type:</label></div>
                        <div class="col-sm-12 col-md-8 col-lg-8 prm pll">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <select name="" class="dx-texteditor-input appear">
                                        <option value="0"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4 pll mb_txt_left1"><label class="control-label" for="">Conn. Member:</label></div>
                        <div class="col-sm-12 col-md-8 col-lg-8 prm pll">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <select name="" class="dx-texteditor-input appear">
                                        <option value="0"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 mb_paddL51">
                    <div class="checkbox margT0 margB0">
                        <label><input type="checkbox" value=""> <i>Sponsored by Connected Member?</i></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 pll">
                            <label class="control-label fs14 margB0">Subscription Detail:</label>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--[]-->
    </div><!--[row]-->
    <div class="row">

        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 pll"><label class="control-label text-red mb_txt_left" for="user">Magazine Name:</label></div>
                        <div class="col-sm-12 col-md-6 col-lg-6 prm pll">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <select name="" class="dx-texteditor-input appear">
                                        <option value="0"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[1]-->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 pll"><label class="control-label mb_txt_left" for="user">Language:</label></div>
                        <div class="col-sm-12 col-md-6 col-lg-6 prm pll">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[2]-->
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 pll"><label class="control-label mb_txt_left" for="user">Publish:</label></div>
                        <div class="col-sm-12 col-md-6 col-lg-6 prm pll">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[3]-->
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 pll"><label class="control-label text-red  mb_txt_left" for="user">Subscription Type:</label></div>
                            <div class="col-sm-12 col-md-6 col-lg-6 prm pll">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <select name="" class="dx-texteditor-input appear">
                                            <option value="0">Select Subscription Type...</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[1]-->
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 pll"><label class="control-label mb_txt_left" for="user">Period From:</label></div>
                            <div class="col-sm-12 col-md-6 col-lg-6 prm pll">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <select name="" class="dx-texteditor-input appear">
                                            <option value="0">DD-MM-YYYY</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[2]-->
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 pll"><label class="control-label mb_txt_left" for="user">To:</label></div>
                            <div class="col-sm-12 col-md-6 col-lg-6 prm pll">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <select name="" class="dx-texteditor-input appear">
                                            <option value="0">DD-MM-YYYY</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[3]-->
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 col-lg-4 pll"><label class="control-label mb_txt_left" for="user">Category:</label></div>
                            <div class="col-sm-12 col-md-8 col-lg-8 prm">
                                <div class="radioButtonDiv" style="width:100%; max-width:100%;">
                                    <div class="d-inline-block">
                                        <label class="radio-inline"><input type="radio" name="optradio2" checked> INDIAN</label>
                                    </div>
                                    <div class="d-inline-block">
                                        <label class="radio-inline"><input type="radio" name="optradio2"> FOREIGN</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[1]-->
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 pll"><label class="control-label mb_txt_left" for="user">Free Copies:</label></div>
                            <div class="col-sm-12 col-md-6 col-lg-6 prm pll">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[2]-->
                    <div class="col-sm-12 col-md-2 col-lg-2">
                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-lg-8 pll"><label class="control-label mb_txt_left" for="user">Total Copies:</label></div>
                            <div class="col-sm-12 col-md-4 col-lg-4 prm pll">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[3]-->
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 pll"><label class="control-label mb_txt_left" for="user">Amount:</label></div>
                            <div class="col-sm-12 col-md-6 col-lg-6 prm">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[3]-->
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="form-field">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4 pll mb_txt_left1"><label class="control-label text-red mb_txt_left margB0" for="">Dispatch type:</label></div>
                        <div class="col-sm-12 col-md-8 col-lg-8 prm">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <select name="" class="dx-texteditor-input appear">
                                        <option value="0">Select Type...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8 pll mb_txt_left1 padR5"><label class="control-label margB0" for="">Extra Charges for Dispatch:</label></div>
                        <div class="col-sm-12 col-md-48 col-lg-4 prm">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" Placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8 pll mb_txt_left1 padR5"><label class="control-label" for="">Dispatch on Conn. Center?</label></div>
                        <div class="col-sm-12 col-md-4 col-lg-4 prm">
                            <div class="radioButtonDiv" style="width:100%; max-width:100%;">
                                <div class="d-inline-block">
                                    <label class="radio-inline"><input type="radio" name="optradio2"> YES</label>
                                </div>
                                <div class="d-inline-block">
                                    <label class="radio-inline"><input type="radio" name="optradio2"> NO</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8 pll mb_txt_left1 padR5"><label class="control-label" for="">Total Subs. Amount:</label></div>
                        <div class="col-sm-12 col-md-48 col-lg-4 prm">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" Placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-field">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-lg-4 pll mb_txt_left1"></div>
                        <div class="col-sm-12 col-md-8 col-lg-8 prm">
                            <div class="radioButtonDiv" style="width:100%; display:table; max-width:100%;">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="d-inline-block">
                                        <label class="radio-inline"><input type="radio" name="optradio2"> Opening Advance</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="d-inline-block">
                                        <label class="radio-inline"><input type="radio" name="optradio2"> Opening Due</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8 pll mb_txt_left1 padR5"><label class="control-label " for="">Total Pending Amount:</label></div>
                        <div class="col-sm-12 col-md-48 col-lg-4 prm">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" placeholder="Type Amount...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-2 col-lg-2 pll">
                            <label class="control-label" for="iten">Other Details:</label>
                        </div>
                        <div class="col-sm-12 col-md-10 col-lg-10 prm">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" placeholder="Type any Other Detail / Remarks...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-field wbg brd-bot-none">
            <div class="col-sm-8 col-lg-8 col-xs-12">
                <div class="form-field wbg brd-bot-none brd-none" style="padding-top:0px !important; padding-left:0px !important;">
                    <div class="container-fluid">
                        <div class="send_message">
                            <img src="~/Content/image/send-icon.png" class="madhuban-req" />
                            Send Your Request to Madhuban
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-xs-12 paddR4">
                <div class="action-btn-wrap">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fas fa-times-circle btn-icons crossgrey icon-rgt-space5"></i>
                                <span class="dx-button-text">Cancel</span>
                            </div>
                        </a>
                    </div><!--[button]-->

                </div>

                <div class="action-btn-sec-wrap">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fas fa-check-circle btn-icons checkgreen icon-rgt-space5"></i>
                                <span class="dx-button-text">Save</span>
                                <input type="submit" class="dx-button-submit-input">
                            </div>
                        </a>
                    </div><!--[button]-->

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>


</form>


