<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .Manage_Address {
        padding: 0px 6px !important;
    }
    .d-inline-block {
        display: inline-block;
    }

    .radioButtonDiv {
        border: 1px solid #2b94ef;
        padding: 2px 9px;
        max-width: 113px;
        background: #fff;
    }

    .name_text {
        color: #800000;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .margB10 {
        margin-bottom: 10px !important;
    }

    .buttonfloatL .dx-button-has-text .dx-button-content {
        min-width: initial !important;
    }

    .fs13 {
        font-size: 13px;
    }
    .dx-texteditor-textarea {
        border: 0px solid #000 !important;
        width:100%;
    }
        .dx-texteditor-textarea:focus {
            border: 0px solid #000 !important;
            outline: 0;
        }
    .heightnewinput {
        height: 16px !important;
        min-height: 16px !important;
    }
    .paddTB7 {
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }
    .max_height100 {
        max-height: 82px;
    }

    .Summaryheight {
        min-height: 147px;
    }
   
    @@media only screen and (max-width:992px) and (min-width:300px) {
        .pll{
      padding-left:0px !important;
    }
}
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<form action="" class="edit_form">
    <div class="full-width-header-bg3">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="buttonfloatL">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text opacityClass" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fa fa-arrow-left btn-icons crossgrey icon-rgt-space5"></i>
                                <span class="dx-button-text">Prev</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="buttonfloatL">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text opacityClass" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fa fa-arrow-right btn-icons crossgrey icon-rgt-space5"></i>
                                <span class="dx-button-text">Next</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="buttonfloatL">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fas fa-recycle btn-icons colorClear icon-rgt-space5"></i>
                                <span class="dx-button-text">Clear</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="buttonfloatL">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fas fa-flag btn-icons colorflagGreen icon-rgt-space5"></i>
                                <span class="dx-button-text">Related</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="buttonfloatL">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fas fa-flag btn-icons colorflagGreen icon-rgt-space5"></i>
                                <span class="dx-button-text">Accnt</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="buttonfloatL">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fa fa-file btn-icons crossgrey icon-rgt-space5"></i>
                                <span class="dx-button-text">Ledger</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="buttonfloatL">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" onclick="OpenDynamicPopup('Edit ~ Dispatch Details of DELHI BAWANA', '/Magazine/MagazineMaster/Frm_Magazine_Dispatch_Window?ActionMethod=_New',317, 840)" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fas fa-envelope btn-icons colorred icon-rgt-space5"></i>
                                <span class="dx-button-text">Dispatch</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 prm">
                <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
            </div>
        </div>

    </div><!--[row]-->


    <div class="row">
        <div class="">
            <div class="col-sm-12 col-md-7 col-lg-7">
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row margB5">
                            <div class="col-sm-4 col-md-4 col-lg-4 pll">
                                <label class="control-label text-red" for="user">Member Details:</label>
                            </div>
                            <div class="col-sm-8 col-md-12 col-lg-8 prm pll1">
                                <div class="buttonfloatL">
                                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                        <a href="javascript:void(0);" onclick="OpenDynamicPopup('New ~ Address Book(Magazine Member)', '/Magazine/MagazineMaster/Frm_Address_Info_Window_Small?ActionMethod=New',400, 860)" class="link-txt">
                                            <div class="dx-button-content">
                                                <span class="dx-button-text">Add Address</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="buttonfloatL">
                                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                        <a href="javascript:void(0);" class="link-txt">
                                            <div class="dx-button-content">
                                                <span class="dx-button-text">Eidt Address</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="buttonfloatL">
                                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text Manage_Address" role="button" aria-label="Price History" tabindex="0">
                                        <a href="javascript:void(0);" class="link-txt">
                                            <div class="dx-button-content">
                                                <span class="dx-button-text">Manage Address</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><!--[row]-->
                        <div class="row">
                            <div class="col-sm-4 col-md-3 col-lg-3 pll">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <select name="" class="dx-texteditor-input appear">
                                            <option value="0"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-7 col-lg-7 pll1">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <select name="" class="dx-texteditor-input appear">
                                            <option value="0"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-2 col-lg-2 prm">
                                <div class="buttonfloatL width100p">
                                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text width100p" role="button" aria-label="Price History" tabindex="0">
                                        <a href="javascript:void(0);" class="link-txt">
                                            <div class="dx-button-content" style="padding:0px 8px !important;">
                                                <span class="dx-button-text">Search</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><!--[row]-->
                        <div class="row">
                            <div class="">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Mem ID:</label></div>
                                        <div class="col-sm-12 col-md-8 col-lg-8 prm pll1">
                                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                <div class="dx-texteditor-container">
                                                    <input class="dx-texteditor-input" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--[1]-->
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Old ID:</label></div>
                                        <div class="col-sm-12 col-md-8 col-lg-8 prm">
                                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                <div class="dx-texteditor-container">
                                                    <input class="dx-texteditor-input" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--[2]-->
                            </div>
                        </div><!--[row]-->
                        <div class="row">
                            <div class="">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Status:</label></div>
                                        <div class="col-sm-8 col-md-8 col-lg-3 prm pll1">
                                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                <div class="dx-texteditor-container">
                                                    <input class="dx-texteditor-input" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-8 col-lg-5 prm pll1">
                                            <div class="buttonfloatL">
                                                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0" style="padding: 1px 2px 3px 6px !important;">
                                                    <a href="javascript:void(0);" class="link-txt">
                                                        <div class="dx-button-content" style="padding: 0px 0px !important;">
                                                            <img src="~/Content/image/folder-check.png" style="width:16px;" />
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0" style="padding: 1px 2px 3px 6px !important;">
                                                    <a href="javascript:void(0);" class="link-txt">
                                                        <div class="dx-button-content" style="padding: 0px 0px !important;">
                                                            <img src="~/Content/image/folder-close.png" style="width:16px;" />
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0" style="padding: 1px 2px 3px 6px !important;">
                                                    <a href="javascript:void(0);" class="link-txt">
                                                        <div class="dx-button-content" style="padding: 0px 0px !important;">
                                                            <img src="~/Content/image/doller.png" style="width:16px;" />
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--[1]-->
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4 col-lg-4 pll"><label class="control-label" for="user">Category:</label></div>
                                        <div class="col-sm-12 col-md-8 col-lg-8 prm">
                                            <div class="radioButtonDiv1">
                                                <div class="row">
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                        <div class="d-inline-block">
                                                            <label class="radio-inline fs13"><input type="radio" name="optradio3" style="margin-top:3px;"> INDIAN</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 padd0">
                                                        <div class="d-inline-block">
                                                            <label class="radio-inline fs13"><input type="radio" name="optradio3" style="margin-top:3px;"> FOREIGN</label>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--[2]-->
                            </div>
                        </div><!--[row]-->

                    </div>
                </div>
                <div class="form-field">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="">
                                <div class="col-sm-12 col-md-12 col-lg-12 paddTB7">
                                    <div class="row">
                                        <div class="col-sm-2 col-md-2 col-lg-2 pll"><label class="control-label text-red margB0" for="user">Magazine:</label></div>
                                        <div class="col-sm-10 col-md-4 col-lg-4 prm">
                                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                <div class="dx-texteditor-container">
                                                    <select name="" class="dx-texteditor-input appear">
                                                        <option value="0"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3">
                                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                <div class="dx-texteditor-container">
                                                    <input class="dx-texteditor-input" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3 col-lg-3 prm">
                                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                <div class="dx-texteditor-container">
                                                    <input class="dx-texteditor-input" type="text" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--[1]-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[1]-->
            <div class="col-sm-12 col-md-5 col-lg-5">
                <div class="form-field">
                    <div class="container-fluid mbdivheight">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 prm">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input heightnewinput" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 prm">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input heightnewinput" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 prm">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input heightnewinput" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 prm">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input heightnewinput" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 prm">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input heightnewinput" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 prm">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input heightnewinput" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-11 col-md-11 col-lg-11">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input heightnewinput" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1 col-md-1 col-lg-1 prm">
                                <div class="buttonfloatL">
                                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                        <a href="javascript:void(0);" class="link-txt">
                                            <div class="dx-button-content" style="padding: 0px 0px !important;">
                                                <img src="~/Content/image/message-refresh.png" style="width:16px;" />
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[2]-->
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row" style="margin-bottom: 5px; ">
                        <div class="col-sm-6 col-md-5 col-lg-5 pll">
                            <label class="control-label" for="user">
                                Connected Member Details:
                                <div class="line"></div>
                            </label>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-7 prm pll1">
                            <div class="checkbox margB0 margT0">
                                <label><input type="checkbox" value=""> <i>Is Member Connected with other Member?</i></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label opacityClass margB0 colorlighrBlue" for="user">Member Type:</label></div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 prm pll1">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <input class="dx-texteditor-input" type="text" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--[1]-->
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 pll">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="checkbox margT0 margB0">
                                                    <label><input type="checkbox" value=""> <i>Subscription fee is sponsored?</i></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!--[2]-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <div class="col-sm-6 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 col-lg-3 pll"><label class="control-label opacityClass colorlighrBlue" for="user">CC Member:</label></div>
                                    <div class="col-sm-6 col-md-9 col-lg-9 prm pll1">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <select name="" class="dx-texteditor-input appear">
                                                    <option value="0"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--[1]-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="form-field">
                <div class="container-fluid Identityheight">
                    <div class="row" style="margin-bottom: 5px; ">
                        <div class="col-sm-6 col-md-8 col-lg-8 pll">
                            <label class="control-label margB0" for="user">
                                Identity Details:
                                <div class="line"></div>
                            </label>

                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4 prm pll1">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text pull-right" role="button" aria-label="Price History" tabindex="0">
                                <a href="javascript:void(0);" class="link-txt">
                                    <div class="dx-button-content" style="padding:0px 8px !important;">
                                        <span class="dx-button-text">Edit Details</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label text-red margB0" for="user">Type:</label></div>
                                    <div class="col-sm-9 col-md-9 col-lg-9 prm pll1">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <select name="" class="dx-texteditor-input appear">
                                                    <option value="0">Select Type...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--[1]-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label text-red" for="user">Start Date:</label></div>
                                    <div class="col-sm-9 col-md-9 col-lg-9 prm pll1">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <select name="" class="dx-texteditor-input appear">
                                                    <option value="0">DD-MM-YYYY</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--[1]-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 pll">
                                <label class="control-label" for="user">
                                    Subscription Details:
                                    <div class="line"></div>
                                </label>

                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 prm pll3">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" placeholder="--">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[1]-->
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 pll"><label class="control-label" for="user"><i style="color:#2b94ef">Active Period:</i> </label></div>
                            <div class="col-sm-6 col-md-6 col-lg-6 prm">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" placeholder="--">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!--[2]-->
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-6 pll"><label class="control-label" for="user"><i style="color:#2b94ef">Curr. Copies:</i> </label></div>
                            <div class="col-sm-9 col-md-6 col-lg-6 prm pll3">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-xs-12 table-responsive overflow-scroll scrollbar">
                        <table class="dxgvControl_MetropolisBlue dxgv resp-table-one" style="width: 100%; border-collapse: separate;" tabindex="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <table style="width:100%;">
                                            <thead>
                                                <tr class="dxgvArm">
                                                    <td colspan="9"></td>
                                                </tr>
                                                <tr>
                                                    <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Sr.</td>
                                                                    <td style="width:1px;text-align:right;">
                                                                        <span class="dx-vam">&nbsp;</span><img src="" style="cursor:default;">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Subs. Type</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Subs. Date</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Fr. Type</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td>To Date</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Copies</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Free</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Sub Amt</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                        <table style="width:100%;">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Total Amount</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                    <td class="bortabl" style="border-left:none">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl" style="border-right:none">
                                                        <div></div>
                                                    </td>
                                                </tr>
                                                <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                    <td class="bortabl" style="border-left:none">
                                                        <div>&nbsp;</div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl" style="border-right:none">
                                                        <div></div>
                                                    </td>

                                                </tr>
                                                <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                    <td class="bortabl" style="border-left:none">
                                                        <div>&nbsp;</div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl" style="border-right:none">
                                                        <div></div>
                                                    </td>


                                                </tr>
                                                <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                    <td class="bortabl" style="border-left:none">
                                                        <div>&nbsp;</div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl" style="border-right:none">
                                                        <div></div>
                                                    </td>

                                                </tr>
                                                <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                    <td class="bortabl" style="border-left:none">
                                                        <div>&nbsp;</div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl" style="border-right:none">
                                                        <div></div>
                                                    </td>

                                                </tr>
                                                <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                    <td class="bortabl" style="border-left:none">
                                                        <div>&nbsp;</div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl" style="border-right:none">
                                                        <div></div>
                                                    </td>

                                                </tr>
                                                <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                    <td class="bortabl" style="border-left:none">
                                                        <div>&nbsp;</div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl">
                                                        <div></div>
                                                    </td>
                                                    <td class="bortabl" style="border-right:none">
                                                        <div></div>
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-field">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                <a href="javascript:void(0);" id="Purchase_Order_Documents" onclick="OpenDynamicPopup('Add ~ Subscription', '/Magazine/MagazineMaster/Frm_Magazine_Subs_Window?ActionMethod=_New',335, 920)" class="link-txt">
                                    <div class="dx-button-content dx-button-min-width">
                                        <i class="fas fa-file btn-icons newfile icon-rgt-space5"></i>
                                        <span class="dx-button-text">Subs</span>
                                    </div>
                                </a>
                            </div><!--[button]-->

                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                               <a href="javascript:void(0);" class="link-txt">
                                   <div class="dx-button-content dx-button-min-width">
                                       <i class="fas fa-pencil-alt btn-icons editcolor icon-rgt-space5"></i>
                                       <span class="dx-button-text">Edit</span>
                                   </div>
                                </a>
                            </div><!--[button]-->

                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                <a href="javascript:void(0);" class="link-txt">
                                    <div class="dx-button-content dx-button-min-width">
                                        <i class="fas fa-trash btn-icons deletecolor icon-rgt-space5"></i>
                                        <span class="dx-button-text">Delete</span>
                                    </div>
                                </a>
                            </div><!--[button]-->

                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                <a href="javascript:void(0);" class="link-txt">
                                    <div class="dx-button-content dx-button-min-width">
                                        <i class="fas fa-eye btn-icons eyeicon icon-rgt-space5"></i>
                                        <span class="dx-button-text">View</span>
                                    </div>
                                </a>
                            </div><!--[button]-->

                        </div>
                    </div>
                </div>
            </div>
        </div><!--[3]-->
    </div><!--[row]-->
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row" style="margin-bottom: 5px; ">
                        <div class="col-sm-6 col-md-8 col-lg-8 pll">
                            <label class="control-label" for="user">
                                Payment Details:
                                <div class="line"></div>
                            </label>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-xs-12 table-responsive overflow-scroll scrollbar max_height100">
                            <table class="dxgvControl_MetropolisBlue dxgv resp-table-one" style="width: 100%; border-collapse: separate;" tabindex="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table style="width:100%;">
                                                <thead>
                                                    <tr class="dxgvArm">
                                                        <td colspan="5"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Sr.</td>
                                                                        <td style="width:1px;text-align:right;">
                                                                            <span class="dx-vam">&nbsp;</span><img src="" style="cursor:default;">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Mode</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Amount</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Pmt Date</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Deposited Bank</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                        <td class="bortabl" style="border-left:none">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl" style="border-right:none">
                                                            <div></div>
                                                        </td>
                                                    </tr>
                                                    <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                        <td class="bortabl" style="border-left:none">
                                                            <div>&nbsp;</div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl" style="border-right:none">
                                                            <div></div>
                                                        </td>

                                                    </tr>
                                                </thead>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-field">
                                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                    <a href="javascript:void(0);" onclick="OpenDynamicPopup('Add ~ Payment', '/Magazine/MagazineMaster/Frm_Voucher_Magazine_Membership_Payment?ActionMethod=_New',400, 840)" class="link-txt">
                                        <div class="dx-button-content dx-button-min-width">
                                            <i class="fas fa-file btn-icons newfile icon-rgt-space5"></i>
                                            <span class="dx-button-text">Pay</span>
                                        </div>
                                    </a>
                                </div><!--[button]-->

                                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                    <a href="javascript:void(0);" class="link-txt">
                                        <div class="dx-button-content dx-button-min-width">
                                            <i class="fas fa-pencil-alt btn-icons editcolor icon-rgt-space5"></i>
                                            <span class="dx-button-text">Edit</span>
                                        </div>
                                    </a>
                                </div><!--[button]-->

                                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                    <a href="javascript:void(0);" class="link-txt">
                                        <div class="dx-button-content dx-button-min-width">
                                            <i class="fas fa-trash btn-icons deletecolor icon-rgt-space5"></i>
                                            <span class="dx-button-text">Delete</span>
                                        </div>
                                    </a>
                                </div><!--[button]-->

                                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                    <a href="javascript:void(0);" class="link-txt">
                                        <div class="dx-button-content dx-button-min-width">
                                            <i class="fas fa-eye btn-icons eyeicon icon-rgt-space5"></i>
                                            <span class="dx-button-text">View</span>
                                        </div>
                                    </a>
                                </div><!--[button]-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="form-field">
                <div class="container-fluid Summaryheight">
                    <div class="row">
                        <div class="col-sm-3 col-md-6 col-lg-6 pll  mb_txt_left"><label class="control-label" for="user"><span style="color:#2b94ef;">opening Advance:</span></label></div>
                        <div class="col-sm-9 col-md-6 col-lg-6 prm pll1">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                <tr>
                                    <td width="40%"><label class="control-label">Summary:</label></td>
                                    <td width="30%"><label class="control-label"><i style="color:#2b94ef;">Curr Txn.</i></label></td>
                                    <td width="30%"><label class="control-label"><i style="color:#2b94ef;">Total Year</i></label></td>
                                </tr>
                                <tr>
                                    <td width="40%"><label class="control-label margB0"><i style="color:#2b94ef;">Subs. Amount:</i></label></td>
                                    <td width="30%">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <input class="dx-texteditor-input" type="text" placeholder="">
                                            </div>
                                        </div>
                                    </td>
                                    <td width="30%">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <input class="dx-texteditor-input" type="text" placeholder="">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%"><label class="control-label margB0"><i style="color:#2b94ef;">Payment Amt:</i></label></td>
                                    <td width="30%">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <input class="dx-texteditor-input" type="text" placeholder="">
                                            </div>
                                        </div>
                                    </td>
                                    <td width="30%">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <input class="dx-texteditor-input" type="text" placeholder="">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%"><label class="control-label margB0"><i style="color:#2b94ef;">Adjustments:</i></label></td>
                                    <td width="30%">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <input class="dx-texteditor-input" type="text" placeholder="">
                                            </div>
                                        </div>
                                    </td>
                                    <td width="30%">
                                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                <input class="dx-texteditor-input" type="text" placeholder="">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div><!--[1]-->
                    </div>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-2 col-md-2 col-lg-2 pll">
                    <label class="control-label margT13" for="iten">Other Details:</label>
                </div>

                <div class="col-sm-10 col-md-10 col-lg-10 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <textarea class="dx-texteditor-textarea" rows="2" id="comment"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field wbg brd-bot-none">
            <div class="col-sm-8 col-lg-8 col-xs-12">
                <div class="form-field wbg brd-bot-none brd-none" style="padding-top:0px !important; padding-left:0px !important;">
                    <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label text-red" for="user"><i style="color:#2b94ef;">Next Issue Date:</i></label></div>
                                        <div class="col-sm-9 col-md-4 col-lg-4">
                                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                <div class="dx-texteditor-container">
                                                    <select name="" class="dx-texteditor-input appear">
                                                        <option value="0"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-xs-12 paddR4">
                <div class="action-btn-wrap">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fas fa-times-circle btn-icons crossgrey icon-rgt-space5"></i>
                                <span class="dx-button-text">Cancel</span>
                            </div>
                        </a>
                    </div><!--[button]-->

                </div>

                <div class="action-btn-sec-wrap">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fas fa-check-circle btn-icons checkgreen icon-rgt-space5"></i>
                                <span class="dx-button-text">Save</span>
                                <input type="submit" class="dx-button-submit-input">
                            </div>
                        </a>
                    </div><!--[button]-->

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>


</form>




