@using DevExtreme.AspNet.Mvc;
@model IEnumerable<ConnectOneMVC.Areas.Magazine.Models.MagazineList>

<div id="content" class="col-md-12" style="padding-bottom:20px">
    <form>
        <div id="PartialView" style="margin-top:1px !important;">
            @Html.Partial("Frm_MagList_Tab_Grid", Model)
        </div>
    </form>
</div>
<div class="footer-MainBoxdiv full-width-footer">
    @*<div class="col-lg-8 report_footer_small_buttons_div" id="DepositsFooterItem">*@
    <div class="list_footer_left_margin col-md-10">
        <div>
            @*class="footer_new_left"*@
            <div>
                <div class="list_footer_left_margin">
                    <div class="footer-locktext">
                        <div id="ob_Lbl_ActionOn" class="left_footertext_top"></div>
                        <div id="ob_Lbl_ActionBy" class="left_footertext_bottom"></div>
                    </div>
                    @*<div class="footer-locktext">
                            <div id="obLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                        </div>*@
                </div>
                <div class="list_footer_left_margin">
                    <p id="obLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                    <p id="obLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                </div>

            </div>
        </div>
    </div>
    <div class="list_footer_right_margin_consistent col-md-1">
        @*<i id="ob_LockICON" class="fa fa-lock lock_symbol"></i>*@
    </div>
    @*</div>
        <div class="col-lg-4 listing_footer_filter_buttons_div">
        </div>*@
</div>

<div class="col-md-12">
    @*Add/Edit Popup*@

    @(Html.DevExtreme().Popup().CustomPopup()
                .ID("popup_frm_MagList_Window_Close")
                .OnShowing("PopupOnShowing")
                .Title("Bank")
                .MaxHeight(460)
                .MaxWidth(750)
                .ContentTemplate( @<text>
                    <div id='popup_frm_MagList_Window_Close_result'>
                    </div>
                </text>)
    )
</div>

@*Javascript Events*@
<script type="text/javascript">
    $(document).ready(function () {
       
    });
    function MagListOnInit(s, e) {
        MagListAdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            MagListAdjustSize();
        });
    }
    function MagListGrid_BeginCallBack(s, e) {
        e.customArgs["command"] = e.command;
    }
    
    function MagListAdjustSize() {
        var height = (document.documentElement.clientHeight * 90) / 100;
        MagListGrid.SetHeight(height);
        MagListGrid.SetHeight(height);
    }

    function MagListdblclickEdit(s, e) {
        //var key = s.GetRowKey(s.GetFocusedRowIndex());
        //OpeningbalancesListGrid.GetValuesOnCustomCallback({ key: key }, FDOnGetRowValues);
        //if (FDID != null || FDID == "" || FDID == undefined)
        //    OnEditClick();
    }

    function MagListOnGridFocusedRowChanged(s, e) {
        var key = s.GetRowKey(s.GetFocusedRowIndex());
        MagListGrid.GetValuesOnCustomCallback({ key: key }, MagListOnGetRowValues);
    }

    var Name;
    var ShortName;
    var Language;
    var PublishOn;
    var MagazineRegd;
    var PostalRegdNo;
    var MembershipStart;
    var Foreign;
    var ID;
    var Add_By;
    var Add_Date;
    var Edit_By;
    var Edit_Date;
    var Action_Status;
    var Action_By;
    var Action_Date;

    function MagListOnGetRowValues(FDData) {
        var values = FDData.split("![");
        Name = values[0];
        ShortName = values[1];
        Language = values[2];
        PublishOn = values[3];
        MagazineRegd = values[4];
        PostalRegdNo = values[5];
        MembershipStart = values[6];
        Foreign = values[7];
        ID = values[8];
        Add_By = values[9];
        Add_Date = values[10];
        Edit_By = values[11];
        Edit_Date = values[12];
        Action_Status = values[13];
        Action_By = values[14];
        Action_Date = values[15];

        MagListUpdateFooterDetail(ID, Action_Status, Add_Date, Add_By,
        Action_Date, Action_By, Edit_Date, Edit_By);
    }

    function MagListContextMenuFunction(s, e) {
        if (e.item.name == 'New') {
            OnMagazineNewClick();
        }
        if (e.item.name == 'Close') {
            btnCloseActiveTab();
        }
        else if (e.item.name == 'Edit') {
            OnMagazineEditClick();
        }
        else if (e.item.name == 'Delete') {
            OnMagazineDeleteClick();
        }
        else if (e.item.name == 'View') {
            OnMagazineViewClick();
        }
        else if (e.item.name == 'ListPreview') {
            OnMagazinePreviewClick();
        }
        else if (e.item.name == 'Refresh') {
            MagListGrid.Refresh();
        }
    }

    function MagListUpdateFooterDetail(ID, Action_Status, Add_Date, Add_By, Action_Date, Action_By, Edit_Date, Edit_By) {

        var Status = "";
        var Lbl_Status = "";
        var Lbl_StatusBy = "";
        var Pic_Status = "";
        var Lbl_Create = "";
        var Lbl_Modify = "";
        var Lbl_Status_Color = "";
        var Add_Date = "";
        var Add_By = "";
        var Status_On = "";
        var Status_By = "";
        var StatusStr = "Completed";
        var Lbl_StatusOn = "";
        var Lbl_StatusBy = "";

        Status = Action_Status;

        Add_Date = Add_Date;
        Add_By = Add_By;
        Status_On = Action_Date;
        Status_By = Action_By;

        if (Status_On) {
            Lbl_StatusOn = StatusStr + " On: " + Status_On;
            Lbl_StatusBy = StatusStr + " By: " + Status_By;
        }
        else {
            Lbl_StatusOn = StatusStr + " On: " + "?";
            Lbl_StatusBy = StatusStr + " By: " + Status_By;
        }

        if (Add_Date) {
            Lbl_Create = "Add On: " + Add_Date + ", By: " + Add_By;
        }
        else {
            Lbl_Create = "Add On: " + "?, By: " + Add_By;
        }

        var Edit_Date = "";
        var Edit_By = "";

        Edit_Date = Edit_Date;
        Edit_By = Edit_By;

        if (Edit_Date) {
            Lbl_Modify = "Edit On: " + Edit_Date + ", By: " + Edit_By;
        }
        else {
            Lbl_Modify = "Edit On: " + "?, By: " + Edit_By;
        }
        $('#ob_Lbl_ActionOn').text(Lbl_StatusOn)
        $('#ob_Lbl_ActionBy').text(Lbl_StatusBy);
        $('#obLbl_Create').text(Lbl_Create);
        $('#obLbl_Modify').text(Lbl_Modify);
        if (Lbl_Status_Color != "") {
            $('#obLbl_Status').css('color', Lbl_Status_Color);
        }
        if (Pic_Status != "") {
            $('#ob_LockICON').css('class', Pic_Status);
        }
    }
</script>
