<div id="id_PdfContent">
    <table width="800" border="0" cellpadding="0" cellspacing="0" style="border:0px solid #000 !important; background:#ffffff;">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%;" style="width:100%; border:0px solid #000 !important;">
                    <tr>
                        <td style="text-align:center; font-size:16px; font-weight:bold; font-family:arial;">
                            Membership Receipt
                        </td>
                    </tr>
                    <tr>
                        <td style="line-height:20px; height:20px;">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%; border:0px solid #000 !important;">
                    <tr>
                        <td width="50%">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td height="20" style=" font-size:10px; font-family:arial;">
                                        Receipt No.:{{ReceiptNo}}
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style=" font-size:10px; font-family:arial;">
                                        Receipt Date.: {{ReceiptDate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="line-height:10px;" height="10px">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style=" font-size:10px; font-family:arial;">
                                        Received with thanks from
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" font-size:10px; font-family:arial;">
                                        {{MS_NAME}}
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style=" font-size:10px; font-family:arial;">
                                        {{MS_ADDRESS}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%" style="vertical-align:top;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%;" style="border:1px solid #212121 !important; margin-bottom:2px; border-radius:10px;">
                                <tr>
                                    <td style="height:35px; text-align:center; font-size:10px; font-weight:bold; font-family:arial;">
                                        {{MS_NO}}
                                    </td>
                                </tr>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%;" style="border:1px solid #212121 !important; border-radius:10px;">
                                <tr>
                                    <td style="height:35px; text-align:center; font-size:10px; font-family:arial;">
                                        {{MS_MAG_NAME_TYPE}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="line-height:25px;" height="25px">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%;" style=" border:0px solid #000 !important;">
                    <tr>
                        <td width="25%" style="font-size:10px; font-family:arial;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%;" style="border:1px solid #212121 !important; border-radius:10px;">
                                <tr>
                                    <td style="height:35px; text-align:center; font-size:10px; font-family:arial;">
                                        Currently Subscribed Period
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:35px; text-align:center; border-top:1px solid #212121 !important; font-size:10px; font-family:arial;">
                                        {{MS_PERIOD}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="10%" style="font-size:14px; font-family:arial;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%;" style="border:1px solid #212121 !important; border-radius:10px;">
                                <tr>
                                    <td style="height:35px; text-align:center; font-size:10px; font-family:arial;">
                                        Copies
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:35px; text-align:center; border-top:1px solid #212121 !important; font-size:10px; font-family:arial;">
                                        {{COPIES}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="15%" style="font-size:14px; font-family:arial;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%;" style="border:1px solid #212121 !important; border-radius:10px;">
                                <tr>
                                    <td style="height:35px; text-align:center; font-size:10px; font-family:arial;">
                                        Amount (Rs.)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:35px; text-align:center; border-top:1px solid #212121 !important; font-size:10px; font-family:arial;">
                                        {{MS_AMOUNT}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="30%" style="font-size:10px; font-family:arial;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%;" style="border:1px solid #212121 !important; border-radius:10px;">
                                <tr>
                                    <td colspan="3" style="height:35px; text-align:center; border-bottom:1px solid #212121 !important; font-size:10px; font-family:arial;">
                                        Payment Summary
                                    </td>
                                </tr>
                                <tr>
                                    <td width="33%" style="text-align:center; border-right:1px solid #212121 !important; font-size:10px; font-family:arial;">
                                        Cash
                                    </td>
                                    <td width="33%" style="text-align:center; border-right:1px solid #212121 !important; font-size:10px; font-family:arial;">
                                        Bank
                                    </td>
                                    <td width="33%" style="text-align:center; font-size:10px; font-family:arial;">
                                        Discount
                                    </td>
                                </tr>
                                <tr>
                                    <td width="33%" style="text-align:center; border-right:1px solid #212121; border-top:1px solid #212121 !important; font-size:10px; font-family:arial;">
                                        {{CASH_AMOUNT}}
                                    </td>
                                    <td width="33%" style="text-align:center; border-right:1px solid #212121; border-top:1px solid #212121 !important;font-size:10px; font-family:arial;">
                                        {{BANK_AMOUNT}}
                                    </td>
                                    <td width="33%" style="text-align:center; border-top:1px solid #212121 !important;  font-size:10px; font-family:arial;">
                                        {{DISCOUNT_AMOUNT}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="20%" style="font-size:14px; font-family:arial;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%;" style="border:1px solid #212121 !important; border-radius:10px;">
                                <tr>
                                    <td style="height:35px; text-align:center; font-size:14px; font-family:arial;">
                                        Total Payment (Rs.)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:35px; text-align:center; border-top:1px solid #212121 !important; font-size:14px; font-family:arial;">
                                        {{TOT_AMOUNT}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="line-height:20px;" height="20px">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%;" style="">
                    <tr>
                        <td style="height:20px; text-align:left; font-size:14px; font-weight:bold; font-family:arial;"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%;" style="">
                    <tr>
                        <td style="height:20px; text-align:left; font-size:14px; font-family:arial;">
                            Current Balance (Advance): <span style=" font-weight:bold;">Rs. 46000.00</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="line-height:15px;" height="15px">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%;" style="">
                    <tr>
                        <td width="50%">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%;" style="">
                                <tr>
                                    <td style="height:20px; text-align:left; font-size:14px; font-family:arial;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:10px; text-align:left; font-size:10px; font-family:arial;">
                                        Cheques/Drafts are subject to realisation.
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%;" style="">
                                <tr>
                                    <td style="height:20px; text-align:left; text-align:right; font-weight:bold; font-size:12px; font-family:arial;">
                                        Authorised Signatory
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <button onclick="convertPdf()">Print</button>
</div>