<div class="MovableAssetsStatements_ClearReferences">

    @using ConnectOne.D0010._001;
    @using DevExtreme.AspNet.Mvc;
    @{
        Layout = null;
        bool IsMobile = (bool)ViewBag.IsMobile;
    }
    @model ConnectOne.D0010._001.Asset_Report
    @Html.DevExpress().WebDocumentViewer(settings =>
    {
        settings.Name = "WebDocumentViewer";
        settings.MobileMode = IsMobile;
        settings.ClientSideEvents.Init = "function(s, e) { s.previewModel.reportPreview.showMultipagePreview(true);}";
        settings.ControlStyle.CssClass = "DevexpressComponents";
    }).Bind(Model).GetHtml()
</div>


