
<div class="Magazine_Dispatch_Register_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @{
        ViewBag.Title = (string)ViewBag.Title;
        string UserType = (string)ViewBag.UserType;
    }
    <div id="Magazine_Dispatch_Register_ParentDiv_dx">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-field">
                    @(Html.DevExtreme().SelectBox().CustomSelectBox().ID("ListingBySelectBox_MagazineDispatchRegister").DataSource(ViewBag.SearchOptions).Width("300")
                        .Placeholder("Select search criteria...").SearchEnabled(true).OnValueChanged("onSelectionChanged_MagazineDispatchRegister")
                    )
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-field">
                    @(Html.DevExtreme().DropDownBox().CustomDropDown().ID("Magazine_DropdownBox_MagazineDispatchRegister").Name("Magazine_DropdownBox_MagazineDispatchRegister").ValueExpr("C_ID").DisplayExpr("C_NAME").Placeholder("Select Magazine...").DataSource(Model.PartyList_DD_Data_Rpt, "C_ID").Value(Model.Rpt_GLookUp_PartyList1).ReadOnly(true).FocusStateEnabled(false).OnValueChanged("GLookUp_PartyList1_EditValueChanged_Rpt").ContentTemplate(@<text> @Html.Partial("LookUp_GetPartyList") </text>) )
                </div>
            </div>
        </div>
        <div class="col-md-12 no-padding">
            <form>
                <div id="MagazineDispatchRegisterPartialView_dx" class="parent_table">
                    <h3>PartialView will load here</h3>
                    @Html.Partial("Frm_Magazine_Dispatch_Register_Info_Grid_dx")
                </div>
            </form>
        </div>
        <script>
            $(document).ready(function () {
                alert("magazine Dispatcher entered");
            })
            function onSelectionChanged_MagazineDispatchRegister(e) {
                var selectedValue = e.value;
                console.log("Selected Criteria: " + selectedValue);
                // Add your logic here (e.g., refreshing a grid or changing input masks)
            }
        </script>
    </div>

                <script>
                    function ClearAllReferences_MagazineDispatchRegister() {
                        ClearAllReferences("Magazine_Dispatch_Register_ClearReferences");
                    }
                </script>
            </div>
