@using DevExtreme.AspNet.Mvc;


<div>
    <textarea rows="4" cols="50" readonly="readonly" disabled="disabled" title="Remarks:">@ViewBag.ViewRemarks</textarea>
</div>

<div class="row">
        <div class="form-field wbg brd-bot-none">
            <div class="container-fluid">
                <div class="col-sm-12 btn-align prm">
                    <div class="action-btn-wrap pll">
                        <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" >

                            @(Html.DevExtreme().Button().CustomCloseButton().ID("Id_ViewRemarks_close").Text("Close").OnClick(@<text> function(){ $("#FrmRequisition_Inner_Popup").dxPopup("hide"); } </text>))

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--[button]-->

