@model ConnectOneMVC.Areas.Stock.Models.Model_NEVD_Requisition
@using DevExtreme.AspNet.Mvc;
@{
    bool IsVisible = Model != null && (Model.ActionMethod == (Common_Lib.Common.Navigation_Mode)Enum.Parse(typeof(Common_Lib.Common.Navigation_Mode), "_View") || (Model.ActionMethod == (Common_Lib.Common.Navigation_Mode)Enum.Parse(typeof(Common_Lib.Common.Navigation_Mode), "_Delete")) ? true : false);
    bool IsDisabled = Model != null && (Model.ActionMethod == (Common_Lib.Common.Navigation_Mode)Enum.Parse(typeof(Common_Lib.Common.Navigation_Mode), "_View") || (Model.ActionMethod == (Common_Lib.Common.Navigation_Mode)Enum.Parse(typeof(Common_Lib.Common.Navigation_Mode), "_Delete")) ? true : false);

}
<div class="row">
    <div class="col-lg-12 col-xs-12 table-responsive tbnew2 overflow-scroll scrollbar" id="result_ExitRemarksgridDataRequisition">
        @Html.Action("RequisitionExistingRemarksGridData", "RequestRegister", new { ActionMethodName=ViewData["RRActionMethod"], RR_ID = ViewData["RR_ID"] })
    </div>
</div>
<div class="row tablbuttons btnsDiv marginAll8">
    @(Html.DevExtreme().Button() .ID("BUT_ExistingRemDeleteRequisition") .Text("Delete") .Icon("fas fa-trash btn-icons deletecolor icon-rgt-space5") .Disabled(IsDisabled) .OnClick(@<text> function () { OnRequisitionFrm_Existing_Remarks_Delete_Click() } </text>))
    @(Html.DevExtreme().Button() .ID("BUT_ExistingRemViewRequisition") .Text("View") .Icon("fas fa-eye btn-icons eyeicon icon-rgt-space5") .Disabled(Model.ActionMethod.ToString()=="_Delete") .OnClick(@<text> function () { OnRequisitionFrm_Existing_Remarks_View_Click() } </text>))
</div>
<script>
    var Requisition_Remarks_Sr;
    var Requisition_ExistingRemarks_Id;
    var Requisition_Remarks = "";
    var Requisition_Remarks_By = "";
    function OnRequisitionExistingRemarksGridFocusedRowChanged(s, e)
    {
        s.GetRowValues(s.GetFocusedRowIndex(), 'Sr_No;ID;Remarks;Remarks_By', OnRequisitionRemarksDetailsGridRowValues);
    };
    function OnRequisitionRemarksDetailsGridRowValues(values)
    {
        Requisition_Remarks_Sr = values[0];
        Requisition_ExistingRemarks_Id = values[1];
        Requisition_Remarks = values[2];
        Requisition_Remarks_By = values[3];
    };
    function OnRequisitionFrm_Existing_Remarks_Delete_Click()
    {
        if (Requisition_Remarks_Sr == 'undefined' || Requisition_ExistingRemarks_Id == undefined || Requisition_Remarks == null)
        {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }
        var deleteResultPaymentDetail = DevExpress.ui.dialog.confirm("Sure you want to Delete this Entry...?", "Confirm changes");
        deleteResultPaymentDetail.done(function (dialogResult)
        {
            if (dialogResult) {
                $.ajax({
                    type: 'GET',
                    url: "/Stock/RequestRegister/FrmRequisition_ExistingRemarks_Window_Delete_Grid_Record",
                    data: { ActionMethod: "Delete", ID: Requisition_ExistingRemarks_Id },
                    cache: false,
                    success: function (Result)
                    {
                        if (Result.result == true)
                        {             
                            RequisitionExistingRemarks_Window_Grid.SetFocusedRowIndex(-1);
                            RequisitionExistingRemarks_Window_Grid.Refresh();                        
                        }
                        else
                        {
                            DevExpress.ui.dialog.alert(Result.message, "Error");
                        }
                    }
                });
            }
        });
    }
    function OnRequisitionFrm_Existing_Remarks_View_Click()
    {
        if (Requisition_Remarks_Sr == 'undefined' || Requisition_ExistingRemarks_Id == undefined || Requisition_Remarks == null)
        {
            DevExpress.ui.dialog.alert('Please Select one row', 'Alert ');
            return;
        }      
        $("#FrmRequisition_Inner_Popup").dxPopup("show");
        $("#FrmRequisition_Inner_Popup").dxPopup("instance").option("title", "View ~ Remarks")
        $("#FrmRequisition_Inner_Popup").dxPopup("instance").option("height", "auto");
        $("#FrmRequisition_Inner_Popup").dxPopup("instance").option("width", 335);
        $("#FrmRequisition_Inner_Popup").dxPopup("instance").option("position.my", "top");
        $("#FrmRequisition_Inner_Popup").dxPopup("instance").option("position.at", "top");
        $("#FrmRequisition_Inner_Popup").dxPopup("instance").option("position.of", "#id_RequisitionRR");
        ShowLoader();
        $("#result_FrmRequisition_Inner_Popup").load("@Url.Action("FrmRequisition_ViewRemarks", "RequestRegister", new {@area= "Stock" })?SR=" + encodeURIComponent(Requisition_Remarks_Sr), function ()
        {
            HideLoader();
        });    
    };


</script>


