@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body{font-family: 'Poppins', sans-serif;color: #222528;font-size:15px;line-height:26px;font-weight:300;overflow-x: hidden; text-align: center}
a{outline:none !important; cursor: pointer; color: #333; text-decoration: none;}
a:hover{text-decoration: underline;color: #333; cursor: pointer}
h1,h2,h3,h4,h5{font-family: 'Poppins', monospace; font-weight: bold;}
b, strong{font-weight: 700}
img{max-width: 100%;}
p{line-height:28px;font-size: 20px;font-weight:400;}
.pd{padding:5px}.pd1{padding:10px}.pd15{padding:15px}.pd2{padding:20px}.pd3{padding:30px}.pd4{padding:40px}.pdT{padding-top:5px}.pdB{padding-bottom:5px}.pdL{padding-left:5px}.pdR{padding-right:5px}.pdT1{padding-top:10px}.pdB1{padding-bottom:10px}.pdL1{padding-left:10px}.pdR1{padding-right:10px}.pdT2{padding-top:20px}.pdB2{padding-bottom:20px}.pdL2{padding-left:20px}.pdR2{padding-right:20px}.pdT3{padding-top:30px}.pdB3{padding-bottom:30px}.pdL3{padding-left:30px}.pdR3{padding-right:30px}.pdT4{padding-top:40px}.pdB4{padding-bottom:40px}.pdL4{padding-left:40px}.pdR4{padding-right:40px}.pd0{padding:0}.mr{margin:5px}.mr1{margin:10px}.mr15{margin:15px}.mr2{margin:20px}.mr3{margin:30px}.mr4{margin:40px}.mrT{margin-top:5px}.mrB{margin-bottom:5px}.mrL{margin-left:5px}.mrR{margin-right:5px}.mrT1{margin-top:10px}.mrB1{margin-bottom:10px}.mrL1{margin-left:10px}.mrR1{margin-right:10px}.mrB2{margin-bottom:20px}.mrL2{margin-left:20px}.mrR2{margin-right:20px}.mrT3{margin-top:30px}.mrB3{margin-bottom:30px}.mrL3{margin-left:30px}.mrR3{margin-right:30px}.mrT2{margin-top:20px}.mrT4{margin-top:40px}.mrT5{margin-top:50px}.mrB4{margin-bottom:40px}.mrL4{margin-left:40px}.mrR4{margin-right:40px}.mrC{margin:0 auto;}.pdT15{padding-top: 15px !important}

/*
::selection {background:#444; color:#fff}
::-moz-selection {background:#444; color:#fff}
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
input[type=number] { -moz-appearance:textfield;}


/*Custom buttons*/
.btn{font-weight:400; transition:.3s all; border-width: 1px; border-radius: 0 !important; font-size: 16px; border-color:transparent; padding:8px 18px; border-radius: 0; text-decoration: none !important}
.btn-dark{background: #3a3131;color: #ffffff;}
.btn-dark:hover, .btn-dark:focus{color:#fafafa; background: #222528}

/*Box section*/
.wbox{border: 1px solid #eee; box-shadow: 0 2px 12px rgba(0,0,0,.1); border-radius: 10px; background: #fafafa; padding: 25px; min-height: 100px}
.wbox.white{background: #fff}

/*Banner*/
.banner{background:#f5f3ef; padding-top: 50px; min-height: 300px; text-align: left}
.banner .col-6{padding: 0}
.banner h3{color:#44333b;font-size: 35px;font-weight: 900; margin-top: 50px}
.banner img{max-width: 400px}

/*donate via*/
.yagya .wbox{padding: 40px; text-align: center}
.yagya .col-md-7 .wbox{text-align: left}
.yagya h4{display: inline-block; color: #222528;font-size: 24px; padding: 0 0 12px; border-bottom: 1px solid #eee; width: max-content; margin-bottom: 20px;}
.yagya h4 + img{margin-bottom: 21px}
.yagya p{font-size: 35px;}
.yagya img.dbtn:hover{opacity: .9}
.yagya .col-md-1{padding-top: 150px}
.yagya img{max-height: 253px}
.yagya .container{padding-top: 50px}

.donation .wbox{padding: 20px; text-align: left}
.donation .form-control{padding: 8px 12px}
.donation label{margin-bottom: 0; font-weight: 600}
.donation .pdfbox {padding: 0;}
.donation .pdfbox embed{width: 100%; border-radius: 10px; height: 500px}
.donation .container{padding-top: 50px}

/*center-locator*/
.btn {
	font-weight: 400;
	transition: .3s all;
	border-width: 1px;
	border-radius: 24px;
	border-color: transparent;
	padding: 7px 16px 6px;
	text-decoration: none !important;
	box-shadow: 0 2px 5px rgba(0,0,0,.07);
	letter-spacing: .02em;
}

	.btn:hover {
		box-shadow: 0 2px 6px rgba(0,0,0,.15);
	}

.btn-white {
	background: #fff;
	color: var(--black);
	border-color: #eee;
}

	.btn-white:hover {
		border-color: #ddd
	}
.center-locator {margin: 100px 0;}
.center-locator h4{font-size: 24px; font-weight: 400}
.center-locator h4 b{color:#a92815;}

	.center-locator .LocateCenter-btn {		
		text-align:center;		
	}
		.center-locator .LocateCenter-btn .btn {
			padding: 7px 14px 5px;
			color: #a92815;
			font-size: 24px;			
			font-weight: 400;
		}
		.center-locator .LocateCenter-btn .dropdown-menu {
			left: auto !important;
			right: 0;
			width: max-content;
			margin-left: 0;
		}
#Donation-Center, #Donation-INS {
	text-overflow:ellipsis;
}
.loader {
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid grey; /* Grey */
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 2s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 5000; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */	
}

.loadertext {
	position: absolute;
	top: 56%;
	left: 48.5%;
	color: black;
	font-size: 22px;
	font-weight: 400;
}
@media (max-width:767px) {
	body{font-size: 14px; text-align: center}
    .banner h3{font-size: 28px;}
    .banner .row{margin: 0}
    .yagya .col-md-1{padding-top: 20px}
    .yagya .col-md-7{text-align: center}
    .center-locator h4{font-size: 15px}
    p{font-size: 14px; line-height: 18px}
    .wbox{border: none; box-shadow: none; background: transparent}
    .yagya .col-md-7 .wbox{text-align: center}
    .center-locator { margin: 20px 0; border-top: 1px solid #e5e5e5; padding-top: 30px;}
    .center-locator h4 br{display: none}
    .yagya .qrcode{margin-top: 20px}
    .yagya .wbox{padding: 20px}
    .banner img{max-width:100%}
	.center-locator .LocateCenter-btn {
		position: static
	}
	
	/*=========STOP ANIMATE CSS IN RESPONSIVE=========*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}
