<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Godly Bank</title>
    <meta name="description" content="" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/ServiceModule/Donation/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/ServiceModule/Donation/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/ServiceModule/Donation/css/main.css" />
</head>
<body>
   
    <!--Banner-->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>DONATE</h3>
                    <p>Give your hand of love to God & together we’ll make our world a better place to live!</p>
                </div>
                <div class="col-md-6 text-right">
                    <img src="~/Content/ServiceModule/Donation/images/world.png" />
                </div>
            </div>
        </div>
    </div>
    <!--//Banner-->
    <!--Donate via-->
    <div class="yagya">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="wbox">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Donate Via UPI</h4>
                                <img src="~/Content/ServiceModule/Donation/images/upi.png" />
                                <a href="/Facility/Donation/Frm_BankUpi_Window" target="_self"><img class="dbtn" src="~/Content/ServiceModule/Donation/images/btn1.png" /></a> @*update link*@
                            </div>
                            <div class="col-md-6">
                                <img class="qrcode" src="~/Content/ServiceModule/Donation/images/qr.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <p>OR</p>
                </div>
                <div class="col-md-5">
                    <div class="wbox">
                        <h4>Donate Online</h4>
                        <div>
                            <input type="radio" id="agreepay_radio" name="agreepay_radio" value="AGGREPAY" checked=checked />
                            <label for="agreepay_radio">AGGREPAY</label>
                        </div>
                        <div>You Shall be Redirected To AGGREPAY Payment Gateway Page</div>
                        <img src="~/Content/ServiceModule/Donation/images/pointer.png" />
                        <a href="https://biz.aggrepaypayments.com/BrahmaKumaris" target="_blank"><img class="dbtn" src="~/Content/ServiceModule/Donation/images/btn2.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//Donate via-->
    <!--Center Locator-->
    <div class="center-locator">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto mb-4">
                    <h4>
                        If you are not able to find bank account of specific center,<br />
                        you can <a href="https://www.brahmakumaris.com/centers/"><b>Locate a Center</b></a> & donate directly to the center.
                    </h4>
                </div>
                <div class="col-md-10 mx-auto">
                    <div class="wbox">
                        <div class="LocateCenter-btn">
                            <a class="btn btn-white ml-2" href="https://www.brahmakumaris.com/centers/" data-toggle="tooltip" data-title="Locate a Center"><b>Locate a Center</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//Center Locator-->




</body>
</html>
