<div class="VouchingPreference_ClearReferences">
    @using DevExtreme.AspNet.Mvc;


    @model  System.Data.DataTable
    @{

    }



    <div class="full-width-header-bg2">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="popuphead"><i class="fas fa-edit"></i> Allowed Vouching Categories</h3>
            </div>
        </div>
    </div>@* Header *@

    <div id="AllowedVouchingCategory_reloadPartialView" class="parent_table">
        <form>
            @Html.Partial("Frm_Get_VouchingPreference_Grid", Model)
        </form>
    </div> @* GridView *@

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="styleActionBtn">
                @(Html.DevExtreme().Button().ID("BUT_Save_AllowedVouchingCategory").CustomSaveButton().Text("OK").FocusStateEnabled(true).OnClick("SaveVouchingCategory") )
                @(Html.DevExtreme().Button().ID("BUT_Cancel_AllowedVouchingCategory").CustomCloseButton().Text("Cancel").FocusStateEnabled(true).OnClick("CloseVouchingCategory") )
            </div>
        </div>
    </div>@* Button *@

    <script>
        var SelectedVouchingCode = null;
        function AllowedVouchingCategory_FocusedRowChange(s, e) {
            if (s.GetFocusedRowIndex() > -1) {
                SelectedVouchingCode = s.GetRowKey(s.GetFocusedRowIndex());
            }
            else {
                SelectedVouchingCode = null;
            }
        }
        function CloseVouchingCategory(e) {
            HidePopup("Dynamic_Content_popup");
        }
        function SaveVouchingCategory(e) {
            // Variable Initialization for function Dynamic_Content_popup_hiding()
            sessionclearpath = "/Account/CashBookAuditor/SessionClear_VouchingCategory"
            
            ShowLoader();
            $.ajax({
                type: 'GET',
                url: "/Account/CashBookAuditor/Frm_Voucher_Info_CB_Auditor",
                data:
                {
                    VouchingCategory: SelectedVouchingCode
                },
                cache: false,
                success: function (data) {
                    HidePopup("Dynamic_Content_popup");
                    OpenTabControl('Frm_Voucher_Info_CB_Auditor', 'Vouching', null, data);
                }
            });
            HideLoader();
        }

    </script>
</div>