@using System.Text.RegularExpressions;
@{
    var SessionGUID = Request.QueryString["SessionGUID"];
    var ShowHorizontalBar = (int)ViewBag.ShowHorizontalBar;
    var Layout = ViewData["Layout"];
    //bool Service_Report_AddRight = (bool)ViewData["Service_Report_AddRight"];
    //bool Service_Report_UpdateRight = (bool)ViewData["Service_Report_UpdateRight"];
    //bool Service_Report_DeleteRight = (bool)ViewData["Service_Report_DeleteRight"];
    //bool Service_Report_ExportRight = (bool)ViewData["Service_Report_ExportRight"];
    //bool Service_Report_ListRight = (bool)ViewData["Service_Report_ListRight"];
    //bool Service_Report_ListingRight = (bool)ViewData["Service_Report_ListRight"];
    //bool Help_Attachments_ListRight = (bool)ViewData["Help_Attachments_ListRight"];
    //bool VouchingMode = ViewBag.VouchingMode == null ? false : (bool)ViewBag.VouchingMode;
    string ViewMode = ViewBag.ViewMode == null ? "Compact" : (string)ViewBag.ViewMode;
    List<string> ColumnTobeHidden = new List<string>();
    List<string> ColumnTobeShown = new List<string>();
    string ColumnToBeShowIndex = ViewBag.ColumnToBeShownIndex == null ? "" : (string)ViewBag.ColumnToBeShownIndex;
    string ColumnToBeHideIndex = ViewBag.ColumnToBeHidddenIndex == null ? "" : (string)ViewBag.ColumnToBeHidddenIndex;
    if (ColumnToBeHideIndex.Length > 0)
    {
        ColumnTobeHidden = ColumnToBeHideIndex.Split(',').ToList();
    }
    if (ColumnToBeShowIndex.Length > 0)
    {
        ColumnTobeShown = ColumnToBeShowIndex.Split(',').ToList();
    }
    string Screen = ((string)ViewBag.Screen) ?? "";
}

@Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "ChartInfoGrid";
        settings.CallbackRouteValues = new
        {
            Controller = "Chart",
            Action = "Frm_Chart_Sparc_Info_Grid",
            SessionGUID = SessionGUID
        };
        settings.PreRender = (s, e) =>
        {
            if (string.IsNullOrWhiteSpace(Screen) == false && Screen.Contains("Sparc"))
            {
                var sender = (MVCxGridView)s;
                sender.FocusedRowIndex = -1;// Set the zero-based index of the focused row to remove default focus
            }
        };
        settings.Theme = "Aqua";
        settings.Styles.FocusedRow.BackColor = System.Drawing.Color.FromArgb(0, 114, 198);
        settings.Styles.FocusedRow.ForeColor = System.Drawing.Color.White;
        //settings.Styles.AlternatingRow.BackColor = System.Drawing.Color.FromArgb(247, 250, 255);
        settings.Styles.AlternatingRow.BackColor = System.Drawing.Color.Linen;

        settings.SettingsBehavior.AllowFocusedRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = false;

        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Visible;
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.Settings.UseFixedTableLayout = true;
        settings.Settings.ShowColumnHeaders = true;

        //Filter in Headings of the table.
        settings.Settings.ShowHeaderFilterButton = true;
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        settings.Settings.ShowHeaderFilterBlankItems = false;

        // show filter control at the bottom
        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
        settings.SettingsFilterControl.ViewMode = true ? FilterControlViewMode.VisualAndText : FilterControlViewMode.Visual;
        settings.SettingsFilterControl.AllowHierarchicalColumns = true;// AllowHierarchicalColumns;
        settings.SettingsFilterControl.ShowAllDataSourceColumns = true;//FilterBuilderDemoHelper.Options.ShowAllDataSourceColumns;
        settings.SettingsFilterControl.MaxHierarchyDepth = 1;

        settings.Settings.ShowPreview = true;

        settings.SettingsDetail.ShowDetailRow = false;

        settings.KeyboardSupport = true;
        //settings.AccessKey = "G";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.SettingsBehavior.ProcessColumnMoveOnClient = true;
        settings.SettingsBehavior.ColumnMoveMode = GridColumnMoveMode.AmongSiblings;
        //settings.DataBound = (s, e) =>
        //{
        //    MVCxGridView grid = s as MVCxGridView;
        //    if (grid.Columns.IndexOf(grid.Columns["Form Link"]) > -1)
        //    {
        //        grid.DataColumns["Form Link"].PropertiesEdit.EncodeHtml = false;
        //    }
        //    grid.DataColumns["Form Title"].PropertiesEdit.EncodeHtml = false;
        //};

        settings.Settings.ShowGroupFooter = GridViewGroupFooterMode.Hidden;
        settings.Settings.ShowGroupPanel = false;
        settings.SettingsBehavior.AutoExpandAllGroups = true;
        settings.Settings.ShowGroupedColumns = true;
        settings.Settings.ShowGroupButtons = true;
        settings.Settings.GroupFormat = "{1}";
        //settings.GroupSummary.Add(new ASPxSummaryItem() { SummaryType = DevExpress.Data.SummaryItemType.Count, DisplayFormat = "Total:",ShowInGroupFooterColumn= "ServiceForm_Compact_Column" });
        //settings.GroupSummary.Add(new ASPxSummaryItem() { SummaryType = DevExpress.Data.SummaryItemType.Count, DisplayFormat = "{0:0}",ShowInGroupFooterColumn= "Sr" });
        //settings.Styles.GroupFooter.Font.Bold = true;
        settings.CustomGroupDisplayText = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            var ChartFromDate = e.GetFieldValue("CI_FROM_DATE");
            var ChartToDate = e.GetFieldValue("CI_TO_DATE");
            var InstCount = e.GetFieldValue("INST_COUNT");
            var dateString = "";
            if (Convert.IsDBNull(ChartFromDate) == false)
            {
                dateString = " From " + Convert.ToDateTime(ChartFromDate).ToString("dd-MM-yyyy");
            }
            if (Convert.IsDBNull(ChartToDate) == false)
            {
                dateString = dateString + " Till " + Convert.ToDateTime(ChartToDate).ToString("dd-MM-yyyy");
            }
            if (string.IsNullOrWhiteSpace(dateString) == false)
            {
                dateString = string.Format("{0}{1}{2}", " (", dateString, " )");
            }
            //e.DisplayText = e.GetFieldValue("Form").ToString() + dateString + "   (Total Instances:" + grid.GetChildRowCount(e.VisibleIndex) + ")";
            e.DisplayText = e.GetFieldValue("Form").ToString() + dateString + "   (Total Instances:" + InstCount + ")";
        };

        settings.SettingsBehavior.AllowFocusedRow = true;
        settings.SettingsBehavior.AllowSelectSingleRowOnly = true;
        settings.SettingsBehavior.AllowSelectByRowClick = false;
        settings.SettingsBehavior.AllowSort = true;
        settings.SettingsBehavior.AllowEllipsisInText = true;
        settings.SettingsCustomizationDialog.ShowSortingPage = true;
        settings.SettingsCustomizationDialog.ShowGroupingPage = true;
        settings.SettingsCustomizationDialog.ShowFilteringPage = true;
        settings.SettingsCustomizationDialog.ShowColumnChooserPage = true;


        // Filter and serach
        settings.Settings.ShowHeaderFilterButton = true;
        settings.Settings.ShowHeaderFilterBlankItems = false;
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;

        // show filter control
        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
        settings.SettingsFilterControl.ViewMode = true ? FilterControlViewMode.VisualAndText : FilterControlViewMode.Visual;
        settings.SettingsFilterControl.AllowHierarchicalColumns = true;// AllowHierarchicalColumns;
        settings.SettingsFilterControl.ShowAllDataSourceColumns = true;//FilterBuilderDemoHelper.Options.ShowAllDataSourceColumns;
        settings.SettingsFilterControl.MaxHierarchyDepth = 1;

        settings.SettingsSearchPanel.Visible = false;
        settings.SettingsSearchPanel.ShowApplyButton = true;
        settings.SettingsSearchPanel.ShowClearButton = true;

        settings.SettingsContextMenu.Enabled = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;
        settings.SettingsContextMenu.RowMenuItemVisibility.DeleteRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.EditRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.NewRow = false;
        //settings.SettingsContextMenu.RowMenuItemVisibility.Refresh = false;

        settings.SettingsPager.Visible = true;
        settings.SettingsPager.Mode = GridViewPagerMode.ShowPager;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSize = 25;
        settings.SettingsPager.AllButton.Visible = true;
        settings.KeyFieldName = "CHART_INSTANCE_ID";

        //Export Settings
        settings.SettingsExport.EnableClientSideExportAPI = true;
        settings.SettingsExport.ExcelExportMode = DevExpress.Export.ExportType.DataAware;
        settings.SettingsExport.PageHeader.Center = "Chart Info";
        settings.SettingsExport.PageHeader.Left = ViewData["ExportGridHeaderLeft"].ToString();
        settings.SettingsExport.PageHeader.Right = ViewData["ExportGridHeaderRight"].ToString();
        settings.SettingsExport.PageFooter.Right = ViewData["ExportGridFooter"].ToString();
        settings.SettingsExport.PaperKind = System.Drawing.Printing.PaperKind.A4;
        settings.SettingsExport.TopMargin = 10;
        settings.SettingsExport.LeftMargin = 4;
        settings.SettingsExport.RightMargin = 2;
        settings.SettingsExport.BottomMargin = 10;
        settings.SettingsExport.Landscape = true;
        settings.FillContextMenuItems = (sender, e) =>
        {
            if (e.MenuType == GridViewContextMenuType.Rows)
            {
                @*
                if (Screen.Contains("Sparc_") == false)
                {
                var CreateForm = e.CreateItem("Create Form", "CreateForm");
                CreateForm.Image.IconID = IconID.SnapSnapinsertheader16x16;
                CreateForm.BeginGroup = true;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), CreateForm);
                var CopyForm = e.CreateItem("Copy Form", "CopyForm");
                CopyForm.Image.IconID = IconID.SpreadsheetCopySvgDark16x16;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), CopyForm);
                var EditForm = e.CreateItem("Edit Form", "EditForm");
                EditForm.Image.IconID = IconID.IconbuilderActionsEditSvg16x16;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), EditForm);
                var DeleteForm = e.CreateItem("Delete Form", "DeleteForm");
                DeleteForm.Image.IconID = IconID.ActionsDelete16x16devav;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), DeleteForm);
                var Responses = e.CreateItem("Show Responses", "Responses");
                Responses.Image.IconID = IconID.RicheditShowcommentsSvg16x16;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Responses);
                var ChartVisibility = e.CreateItem("Chart Visibility", "ChartVisibility");
                ChartVisibility.Image.IconID = IconID.ViewOpportunities16x16devav;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), ChartVisibility);

                var Summary = e.CreateItem("View Summaries", "Summary");
                Summary.BeginGroup = true;
                Summary.Image.IconID = IconID.OutlookinspiredEmployeesummarySvgDark16x16;
                Summary.Items.Add("Guest Summary", "GuestSummary").Image.IconID = IconID.PeoplePeople16x16devav;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Summary);

                var UserMappings = e.CreateItem("User Mappings", "UserMappings");
                UserMappings.BeginGroup = true;
                UserMappings.Image.IconID = IconID.HybriddemoiconsTilesHybriddemoAllemployeesSvgGray16x16;
                UserMappings.Items.Add("Map Users With The Chart", "MapUserChart").Image.IconID = IconID.PeopleCustomeremployees16x16devav;
                UserMappings.Items.Add("Map Subjects With The Project", "MapUserProject").Image.IconID = IconID.OutlookinspiredNewemployeeSvgDark16x16;
                UserMappings.Items.Add("View Mapped Subjects With The Project", "ViewMapUserProject").Image.IconID = IconID.ViewMeeting16x16devav;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), UserMappings);

                var PrintViewitem = e.CreateItem("List Preview", "ListPreview");
                PrintViewitem.BeginGroup = true;
                PrintViewitem.Image.IconID = "actions_export_16x16devav";
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), PrintViewitem);
                }*@
                var CloseItem = e.CreateItem("Close", "Close");
                CloseItem.Image.IconID = IconID.OutlookinspiredCloseSvg16x16;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), CloseItem);

            }
        };

        settings.CustomJSProperties = (sender, e) =>
        {
            MVCxGridView grid = (MVCxGridView)sender;
            //var watch = new System.Diagnostics.Stopwatch();
            //watch.Start();
            int startIndex = (grid.PageIndex == -1 || grid.SettingsPager.Mode == GridViewPagerMode.ShowAllRecords ? 0 : grid.PageIndex) * grid.SettingsPager.PageSize;
            int endIndex = grid.PageIndex == -1 || grid.SettingsPager.Mode == GridViewPagerMode.ShowAllRecords ? grid.VisibleRowCount : Math.Min(grid.VisibleRowCount, startIndex + grid.SettingsPager.PageSize);
            object[] Rowdata = new object[endIndex - startIndex];
            for (int n = startIndex; n < endIndex; n++)
            {
                Rowdata[n - startIndex] = grid.GetRowValues(n, new string[] { "CHART_INSTANCE_ID", "Form", "Approval Requirement", "Form Description", "Form Title", "CHART_ID", "TravelInsID", "SR_ID", "Event_ID", "Registrations", "Purpose" });
            }
            e.Properties["cpPagedata"] = Rowdata;
            e.Properties["cpClientLayout"] = grid.SaveClientLayout();
            string ColumnToBeShownIndex = "";
            string ColumnToBeHidddenIndex = "";
            if (ColumnTobeHidden.Count > 0)
            {
                ColumnToBeHidddenIndex = String.Join(",", ColumnTobeHidden.ToArray());
            }
            if (ColumnTobeShown.Count > 0)
            {
                ColumnToBeShownIndex = String.Join(",", ColumnTobeShown.ToArray());
            }
            e.Properties["cpColumnToBeShownIndex"] = ColumnToBeShownIndex;
            e.Properties["cpColumnToBeHidddenIndex"] = ColumnToBeHidddenIndex;
            //watch.Stop();
            //e.Properties["cpExecutionTime"] = watch.ElapsedMilliseconds;
        };
        settings.ClientSideEvents.Init = "ChartInfoOnInit";
        settings.ClientSideEvents.FocusedRowChanged = "OnChartInfoGridFocusedRowChanged";
        settings.ClientSideEvents.BeginCallback = "ChartInfoGrid_BeginCallback";
        settings.ClientSideEvents.ContextMenuItemClick = "ChartInfoGrid_ContextMenuFunction";
        settings.ClientSideEvents.ContextMenu = "ChartInfoGrid_ContextMenuInit";

        settings.Styles.Header.Wrap = DefaultBoolean.True;
        if (ViewMode == "Compact")
        {
            settings.Settings.ShowFilterRow = false;
            settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
            settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Disabled;
            settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 5;
            settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCellsWindowLimit;
            settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 3000;
            settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = true;
            var mainLayoutGroup = new GridViewLayoutGroup();
            mainLayoutGroup.Name = "mainInfoGroup";
            mainLayoutGroup.ShowCaption = DefaultBoolean.False;
            mainLayoutGroup.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            mainLayoutGroup.GroupBoxDecoration = GroupBoxDecoration.None;
            mainLayoutGroup.UseDefaultPaddings = false;
            mainLayoutGroup.AlignItemCaptions = true;
            //mainLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 400, ColumnCount = 1, Name = "S" });
            //mainLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 768, ColumnCount = 1, Name = "M" });
            //mainLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 1040, ColumnCount = 1, Name = "L" });
            //mainLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 3000, ColumnCount = 1, Name = "XL" });
            var dataLayoutGroup = new GridViewLayoutGroup();
            dataLayoutGroup.ShowCaption = DefaultBoolean.False;
            dataLayoutGroup.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            dataLayoutGroup.GroupBoxDecoration = GroupBoxDecoration.None;
            dataLayoutGroup.UseDefaultPaddings = false;
            dataLayoutGroup.AlignItemCaptions = true;
            dataLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 400, ColumnCount = 1, Name = "S" });
            dataLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 768, ColumnCount = 1, Name = "M" });
            dataLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 1040, ColumnCount = 1, Name = "L" });
            dataLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 3000, ColumnCount = 1, Name = "XL" });
            dataLayoutGroup.Items.AddColumnItem("ServiceForm_Compact_Column");
            mainLayoutGroup.Items.Add(dataLayoutGroup);
            var HiddenLayoutGroup = new GridViewLayoutGroup();
            HiddenLayoutGroup.ShowCaption = DefaultBoolean.True;
            HiddenLayoutGroup.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            HiddenLayoutGroup.GroupBoxDecoration = GroupBoxDecoration.None;
            HiddenLayoutGroup.UseDefaultPaddings = false;
            HiddenLayoutGroup.AlignItemCaptions = true;
            HiddenLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 400, ColumnCount = 1, Name = "S" });
            HiddenLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 768, ColumnCount = 2, Name = "M" });
            HiddenLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 1040, ColumnCount = 3, Name = "L" });
            HiddenLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 3000, ColumnCount = 5, Name = "XL" });
            //HiddenLayoutGroup.Items.AddColumnItem("CHART_INSTANCE_ID");
            HiddenLayoutGroup.Items.AddColumnItem("CHART_ID");
            HiddenLayoutGroup.Items.AddColumnItem("Project_ID");
            HiddenLayoutGroup.Items.AddColumnItem("SR_ID");
            HiddenLayoutGroup.Items.AddColumnItem("Event_ID");
            HiddenLayoutGroup.Items.AddColumnItem("TravelInsID");
            mainLayoutGroup.Items.Add(HiddenLayoutGroup);
            settings.SettingsAdaptivity.AdaptiveDetailLayoutProperties.Items.AddGroup(mainLayoutGroup);
        }
        else
        {
            settings.Settings.ShowFilterRow = true;
            if (ShowHorizontalBar == 1)
            {
                settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
                settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
                settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;
                settings.SettingsResizing.Visualization = ResizingMode.Postponed;
            }
            else
            {
                settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
                settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
                settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Disabled;
                settings.SettingsAdaptivity.AllowHideDataCellsByColumnMinWidth = true;

            }
        }

        settings.SettingsPopup.CustomizationWindow.VerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SettingsPopup.CustomizationWindow.HorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.BeforeGetCallbackResult = (s, e) =>
        {
            ASPxGridView grid = (ASPxGridView)s;
            if (ColumnTobeHidden != null && ColumnTobeHidden.Count > 0)
            {
                for (int i = 0; i < ColumnTobeHidden.Count; i++)
                {
                    grid.AllColumns[Convert.ToInt32(ColumnTobeHidden[i])].Visible = false;
                }
            }
            if (ColumnTobeShown != null && ColumnTobeShown.Count > 0)
            {
                for (int i = 0; i < ColumnTobeShown.Count; i++)
                {
                    grid.AllColumns[Convert.ToInt32(ColumnTobeShown[i])].Visible = true;
                }
            }
        };
        settings.AfterPerformCallback = (s, e) =>
        {
            if (e.CallbackName == "COLUMNMOVE")
            {
                if (e.Args[1] == "-1")
                {
                    if (ColumnTobeShown.Count > 0)
                    {
                        if (ColumnTobeShown.Contains(e.Args[0]))
                        {
                            ColumnTobeShown.Remove(e.Args[0]);
                        }
                    }
                    ColumnTobeHidden.Add(e.Args[0]);
                }
                if (Convert.ToInt32(e.Args[1]) > -1)
                {
                    if (ColumnTobeHidden.Count > 0)
                    {
                        if (ColumnTobeHidden.Contains(e.Args[0]))
                        {
                            ColumnTobeHidden.Remove(e.Args[0]);
                        }
                    }
                    ColumnTobeShown.Add(e.Args[0]);
                }
            }
        };
        settings.SettingsExport.BeforeExport = (s, e) =>
        {
            MVCxGridView gridView = s as MVCxGridView;
            gridView.Columns["ServiceForm_Compact_Column"].Visible = false;
        };
        settings.HtmlRowPrepared = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (e.RowType == GridViewRowType.Group)
            {
                // e.Row.ForeColor = System.Drawing.Color.Blue;
                e.Row.Font.Bold = true;
                e.Row.CssClass += " blue";
            }
        };
        //settings.SetDataRowTemplateContent(c =>
        //{
        //    DateTime? From = Convert.IsDBNull(DataBinder.Eval(c.DataItem, "From")) ? (DateTime?)null : Convert.ToDateTime(DataBinder.Eval(c.DataItem, "From"));
        //    DateTime? To = Convert.IsDBNull(DataBinder.Eval(c.DataItem, "To")) ? (DateTime?)null : Convert.ToDateTime(DataBinder.Eval(c.DataItem, "To"));
        //    string InsFromTo = "";
        //    if (From != null && To != null)
        //    {
        //        InsFromTo = Convert.ToDateTime(From).ToString("dd-MM-yy") + " to " + Convert.ToDateTime(To).ToString("dd-MM-yy");
        //    }
        //    else if (To != null)
        //    {
        //        InsFromTo = "Valid till " + Convert.ToDateTime(To).ToString("dd-MM-yy");
        //    }
        //    else if (From != null)
        //    {
        //        InsFromTo = "Valid from " + Convert.ToDateTime(From).ToString("dd-MM-yy");
        //    }
        //    TimeSpan? FromTime = Convert.IsDBNull(DataBinder.Eval(c.DataItem, "From Time")) ? (TimeSpan?)null : (TimeSpan)DataBinder.Eval(c.DataItem, "From Time");
        //    TimeSpan? ToTime = Convert.IsDBNull(DataBinder.Eval(c.DataItem, "To Time")) ? (TimeSpan?)null : (TimeSpan)DataBinder.Eval(c.DataItem, "To Time");
        //    string InsFromToTime = "";
        //    if (FromTime != null && ToTime != null)
        //    {
        //        InsFromToTime = new DateTime(((TimeSpan)FromTime).Ticks).ToString("h:mm tt") + " to " + new DateTime(((TimeSpan)ToTime).Ticks).ToString("h:mm tt");
        //    }
        //    else if (ToTime != null)
        //    {
        //        InsFromToTime = "Active till " + new DateTime(((TimeSpan)ToTime).Ticks).ToString("h:mm tt");
        //    }
        //    else if (FromTime != null)
        //    {
        //        InsFromToTime = "Active from " + new DateTime(((TimeSpan)FromTime).Ticks).ToString("h:mm tt");
        //    }
        //    bool ApprovalRequirement = Convert.ToBoolean(DataBinder.Eval(c.DataItem, "Approval Requirement"));
        //    bool GenRegNo = Convert.ToBoolean(DataBinder.Eval(c.DataItem, "Reg Allowed"));
        //    bool GenRegNoApproval = Convert.ToBoolean(DataBinder.Eval(c.DataItem, "Gen RegNo On Approval"));
        //    bool Resubmission = Convert.ToBoolean(DataBinder.Eval(c.DataItem, "Resubmission"));
        //    string approvalReqIconClass = "fa fa-check";
        //    string GenRegNoIconClass = "fa fa-check";
        //    string GenRegNoApprovalIconClass = "fa fa-check";
        //    string ResubmissionIconClass = "fa fa-check";
        //    if (ApprovalRequirement == false)
        //    {
        //        approvalReqIconClass = "fa fa-times";
        //    }
        //    if (GenRegNo == false)
        //    {
        //        GenRegNoIconClass = "fa fa-times";
        //    }
        //    if (GenRegNoApproval == false)
        //    {
        //        GenRegNoApprovalIconClass = "fa fa-times";
        //    }
        //    if (Resubmission == false)
        //    {
        //        ResubmissionIconClass = "fa fa-times";
        //    }
        //    ViewContext.Writer.Write("<div class='clearfix form-row'>" +
        //                                 "<div class='evt-details col-md-2 clearfix'>" +
        //                                    "<div class='col-xs-3 p-r-5 p-l-0'>" +
        //                                        "<img src='" + DataBinder.Eval(c.DataItem, "ChartImageLink") + "' class='event-img img-rounded'>" +
        //                                    "</div>" +
        //                                    "<div class='col-xs-9 p-l-10 p-r-0'>" +
        //                                        "<p class='ev-title'>" + DataBinder.Eval(c.DataItem, "Form") + "</p>" +
        //                                        "<p class=''><b>" + InsFromTo + "</b></p>" +
        //                                        "<p class=''><b>" + InsFromToTime + "</b></p>" +
        //                                        "<p class=''><b>Project - </b>" + DataBinder.Eval(c.DataItem, "PROJECT") + "</p>" +
        //                                        "<p class=''><b>Serial No - </b>" + DataBinder.Eval(c.DataItem, "Sr") + "</p>" +
        //                                        "<p class='ellp aLink'><b>" + DataBinder.Eval(c.DataItem, "Form Link") + "</b></p>" +
        //                                    "</div>" +
        //                                "</div>" +
        //                                "<div class='col-md-2'>" +
        //                                    "<p class='ellp'><b>Form Title</b></p>" +
        //                                    "<p class=''>" + DataBinder.Eval(c.DataItem, "Form Title") + "</p>" +
        //                                    "<p class='ellp'><b>Form Description</b></p>" +
        //                                    "<p class=''>" + DataBinder.Eval(c.DataItem, "Form Description") + "</p>" +
        //                                        "<p class='ellp'><b>Event</b></p>" +
        //                                    "<p class=''>" + DataBinder.Eval(c.DataItem, "Event Name") + "</p>" +
        //                                "</div>" +
        //                                "<div class='col-md-2'>" +
        //                                    "<span class='badge badge-primary'><i class='" + approvalReqIconClass + "'></i> Approval Required</span>" +
        //                                    "<span class='badge badge-primary'><i class='" + GenRegNoIconClass + "'></i> Generate Registration No.</span>" +
        //                                    "<span class='badge badge-primary'><i class='" + GenRegNoApprovalIconClass + "'></i> Generate Registration No. On Approval</span>" +
        //                                    "<span class='badge badge-danger'><i class='" + ResubmissionIconClass + "'></i> Resubmission Allowed</span>" +
        //                                "</div>" +
        //                                "<div class='col-md-2'>" +
        //                                    "<p class=''><b>Purpose - </b>" + DataBinder.Eval(c.DataItem, "Purpose") + "</p>" +
        //                                    "<p class=''><b>Frequency - </b>" + DataBinder.Eval(c.DataItem, "Frequency") + "</p>" +
        //                                    "<p class=''><b>Login Required - </b>" + DataBinder.Eval(c.DataItem, "Login Requirement") + "</p>" +
        //                                    "<p class=''><b>Reg.No format - </b>" + DataBinder.Eval(c.DataItem, "Reg No Format") + "</p>" +
        //                                    "<p class=''><b>Display Mode - </b>" + DataBinder.Eval(c.DataItem, "Display Mode") + "</p>" +
        //                                "</div>" +
        //                                "<div class='col-md-2'>" +
        //                                    "<p class='ellp'><b>Confirmation Msg.</b></p>" +
        //                                    "<p class=''>" + DataBinder.Eval(c.DataItem, "Confirmation Msg") + "</p>" +
        //                                    //"</div>" +
        //                                    //"<div class='col-md-2'>" +
        //                                    "<p class='ellp'><b>Approval Msg.</b></p>" +
        //                                    "<p class=''>" + DataBinder.Eval(c.DataItem, "Approval Msg") + "</p>" +
        //                                    "<p class='ellp'><b>Rejection Msg.</b></p>" +
        //                                    "<p class=''>" + DataBinder.Eval(c.DataItem, "Rejection Msg") + "</p>" +
        //                                "</div>" +
        //                                    "<div class='col-md-2'>" +
        //                                    "<p class='ellp'><b>Responses</b></p>" +
        //                                    "<p class=''>" + DataBinder.Eval(c.DataItem, "Registrations") + "</p>" +
        //                                    "<p class='ellp'><b>Accompanying Children</b></p>" +
        //                                    "<p class=''>" + DataBinder.Eval(c.DataItem, "Children") + "</p>" +
        //                                    "<p class='ellp'><b>Accompanying Spouse</b></p>" +
        //                                    "<p class=''>" + DataBinder.Eval(c.DataItem, "Spouse") + "</p>" +
        //                                    "<p class='ellp'><b>Total Souls</b></p>" +
        //                                    "<p class=''>" + DataBinder.Eval(c.DataItem, "TotalSouls") + "</p>" +
        //                                "</div>" +
        //                        "</div>");
        //});

        settings.Columns.Add(column =>
        {
            column.Name = "ServiceForm_Compact_Column";
            column.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            column.CellStyle.Wrap = DefaultBoolean.True;
            column.HeaderStyle.CssClass = "HideColumnHeader";
            column.Visible = ViewMode == "Compact";
            column.SetDataItemTemplateContent(c =>
            {
                DateTime? From = Convert.IsDBNull(DataBinder.Eval(c.DataItem, "From")) ? (DateTime?)null : Convert.ToDateTime(DataBinder.Eval(c.DataItem, "From"));
                DateTime? To = Convert.IsDBNull(DataBinder.Eval(c.DataItem, "To")) ? (DateTime?)null : Convert.ToDateTime(DataBinder.Eval(c.DataItem, "To"));
                string InsFromTo = "";
                if (From != null && To != null)
                {
                    InsFromTo = Convert.ToDateTime(From).ToString("dd-MM-yy") + " to " + Convert.ToDateTime(To).ToString("dd-MM-yy");
                }
                else if (To != null)
                {
                    InsFromTo = "Valid till " + Convert.ToDateTime(To).ToString("dd-MM-yy");
                }
                else if (From != null)
                {
                    InsFromTo = "Valid from " + Convert.ToDateTime(From).ToString("dd-MM-yy");
                }
                TimeSpan? FromTime = Convert.IsDBNull(DataBinder.Eval(c.DataItem, "From Time")) ? (TimeSpan?)null : (TimeSpan)DataBinder.Eval(c.DataItem, "From Time");
                TimeSpan? ToTime = Convert.IsDBNull(DataBinder.Eval(c.DataItem, "To Time")) ? (TimeSpan?)null : (TimeSpan)DataBinder.Eval(c.DataItem, "To Time");
                string InsFromToTime = "";
                if (FromTime != null && ToTime != null)
                {
                    InsFromToTime = new DateTime(((TimeSpan)FromTime).Ticks).ToString("h:mm tt") + " to " + new DateTime(((TimeSpan)ToTime).Ticks).ToString("h:mm tt");
                }
                else if (ToTime != null)
                {
                    InsFromToTime = "Active till " + new DateTime(((TimeSpan)ToTime).Ticks).ToString("h:mm tt");
                }
                else if (FromTime != null)
                {
                    InsFromToTime = "Active from " + new DateTime(((TimeSpan)FromTime).Ticks).ToString("h:mm tt");
                }
                bool ApprovalRequirement = Convert.ToBoolean(DataBinder.Eval(c.DataItem, "Approval Requirement"));
                bool GenRegNo = Convert.ToBoolean(DataBinder.Eval(c.DataItem, "Reg Allowed"));
                bool GenRegNoApproval = Convert.ToBoolean(DataBinder.Eval(c.DataItem, "Gen RegNo On Approval"));
                bool Resubmission = Convert.ToBoolean(DataBinder.Eval(c.DataItem, "Resubmission"));
                string approvalReqIconClass = "fa fa-check green";
                string GenRegNoIconClass = "fa fa-check green";
                string GenRegNoApprovalIconClass = "fa fa-check green";
                string ResubmissionIconClass = "fa fa-check green";
                if (ApprovalRequirement == false)
                {
                    approvalReqIconClass = "fa fa-times red";
                }
                if (GenRegNo == false)
                {
                    GenRegNoIconClass = "fa fa-times red";
                }
                if (GenRegNoApproval == false)
                {
                    GenRegNoApprovalIconClass = "fa fa-times red";
                }
                if (Resubmission == false)
                {
                    ResubmissionIconClass = "fa fa-times red";
                }
                //string title = MyExtensions.ExtractTextFromHTML(DataBinder.Eval(c.DataItem, "Form Title").ToString());
                string imagePath = DataBinder.Eval(c.DataItem, "ChartImageLink").ToString();
                if (imagePath.Length == 0)
                {
                    imagePath = "../../Content/image/No_Image.jpg";
                }
                string Purpose = DataBinder.Eval(c.DataItem, "Purpose").ToString();

                if (Screen.Contains("Sparc_"))
                {
                    ViewContext.Writer.Write("<div class='clearfix form-row'>" +
                                             "<div class='evt-details col-md-3 clearfix'>" +
                                                "<div class='col-xs-3 p-r-5 p-l-0'>" +
                                                    "<img src='" + imagePath + "' class='event-img img-rounded'>" +
                                                "</div>" +
                                                "<div class='col-xs-9 p-l-10 p-r-0'>" +
                                                    "<p class='ev-title'>" + DataBinder.Eval(c.DataItem, "Form") + "</p>" +
                                                    "<p class=''><b>" + InsFromTo + "</b></p>" +
                                                    "<p class=''><b>" + InsFromToTime + "</b></p>" +
                                                    "<p class='ellp aLink'><b>" + DataBinder.Eval(c.DataItem, "Form Link") + "</b></p>" +
                                                "</div>" +
                                            "</div>" +
                                            "<div class='col-md-3'>" +
                                                "<p class=''><b>Project - </b>" + DataBinder.Eval(c.DataItem, "PROJECT") + "</p>" +
                                                "<p class=''><b>Serial No - </b>" + DataBinder.Eval(c.DataItem, "Sr") + "</p>" +
                                                "<p class=''><b>Form Instance ID - </b>" + DataBinder.Eval(c.DataItem, "CHART_INSTANCE_ID") + "</p>" +
                                            "</div>" +
                                            "<div class='col-md-3'>" +
                                                "<p class='ellp'><b>Form Title</b></p>" +
                                                "<p class=''>" + DataBinder.Eval(c.DataItem, "Form Title") + "</p>" +
                                                "<p class='ellp'><b>Form Description</b></p>" +
                                                "<p class=''>" + DataBinder.Eval(c.DataItem, "Form Description") + "</p>" +
                                            "</div>" +
                                            "<div class='col-md-3'>" +
                                                "<p class=''><b>Purpose - </b>" + Purpose + "</p>" +
                                                "<p class=''><b>Frequency - </b>" + DataBinder.Eval(c.DataItem, "Frequency") + "</p>" +
                                                "<p class=''><b>Display Mode - </b>" + DataBinder.Eval(c.DataItem, "Display Mode") + "</p>" +
                                            "</div>"
                                            );
                    if (Purpose.Equals("SURVEY FORMS", StringComparison.InvariantCultureIgnoreCase) == false && Purpose.Equals("BASIC DETAILS", StringComparison.InvariantCultureIgnoreCase) == false)
                    {
                        ViewContext.Writer.Write("<div class='col-md-2'>" +
                          "<p class='ellp'><b>Responses - </b>" + DataBinder.Eval(c.DataItem, "Registrations") + "</p>" +
                          "<p class='ellp'><b>Approved - </b>" + DataBinder.Eval(c.DataItem, "Approved") + "</p>" +
                          "<p class='ellp'><b>Rejected - </b>" + DataBinder.Eval(c.DataItem, "Rejected") + "</p>" +
                          "<p class='ellp'><b>Accommodation - </b>" + DataBinder.Eval(c.DataItem, "Accommodation") + "</p>" +
                          "<p class='ellp'><b>Arrived - </b>" + DataBinder.Eval(c.DataItem, "Arrived") + "</p>" +
                          "<p class='ellp'><b>Not Arrived - </b>" + DataBinder.Eval(c.DataItem, "Not Arrived") + "</p>" +

                          "</div>");
                    }
                    ViewContext.Writer.Write("</div>");
                }
                @*
                else
                {
                    ViewContext.Writer.Write("<div class='clearfix form-row'>" +
                                             "<div class='evt-details col-md-2 clearfix'>" +
                                                "<div class='col-xs-3 p-r-5 p-l-0'>" +
                                                    "<img src='" + imagePath + "' class='event-img img-rounded'>" +
                                                "</div>" +
                                                "<div class='col-xs-9 p-l-10 p-r-0'>" +
                                                    "<p class='ev-title'>" + DataBinder.Eval(c.DataItem, "Form") + "</p>" +
                                                    "<p class=''><b>" + InsFromTo + "</b></p>" +
                                                    "<p class=''><b>" + InsFromToTime + "</b></p>" +
                                                    "<p class=''><b>Project - </b>" + DataBinder.Eval(c.DataItem, "PROJECT") + "</p>" +
                                                    "<p class=''><b>Serial No - </b>" + DataBinder.Eval(c.DataItem, "Sr") + "</p>" +
                                                    "<p class=''><b>Form Instance ID - </b>" + DataBinder.Eval(c.DataItem, "CHART_INSTANCE_ID") + "</p>" +
                                                    "<p class='ellp aLink'><b>" + DataBinder.Eval(c.DataItem, "Form Link") + "</b></p>" +
                                                "</div>" +
                                            "</div>" +
                                            "<div class='col-md-2'>" +
                                                "<p class='ellp'><b>Form Title</b></p>" +
                                                "<p class=''>" + DataBinder.Eval(c.DataItem, "Form Title") + "</p>" +
                                                "<p class='ellp'><b>Form Description</b></p>" +
                                                "<p class=''>" + DataBinder.Eval(c.DataItem, "Form Description") + "</p>" +
                                                    "<p class='ellp'><b>Event</b></p>" +
                                                "<p class=''>" + DataBinder.Eval(c.DataItem, "Event Name") + "</p>" +
                                            "</div>" +
                                            "<div class='col-md-2'>" +
                                                "<span class='badge badge-primary'><i class='" + approvalReqIconClass + "'></i> Approval Required</span>" +
                                                "<span class='badge badge-primary'><i class='" + GenRegNoIconClass + "'></i> Generate Registration No.</span>" +
                                                "<span class='badge badge-primary'><i class='" + GenRegNoApprovalIconClass + "'></i> Generate Registration No. On Approval</span>" +
                                                "<span class='badge badge-danger'><i class='" + ResubmissionIconClass + "'></i> Resubmission Allowed</span>" +
                                            "</div>" +
                                            "<div class='col-md-2'>" +
                                                "<p class=''><b>Purpose - </b>" + Purpose + "</p>" +
                                                "<p class=''><b>Frequency - </b>" + DataBinder.Eval(c.DataItem, "Frequency") + "</p>" +
                                                "<p class=''><b>Login Required - </b>" + DataBinder.Eval(c.DataItem, "Login Requirement") + "</p>" +
                                                "<p class=''><b>Reg.No format - </b>" + DataBinder.Eval(c.DataItem, "Reg No Format") + "</p>" +
                                                "<p class=''><b>Display Mode - </b>" + DataBinder.Eval(c.DataItem, "Display Mode") + "</p>" +
                                            "</div>" +
                                            "<div class='col-md-2'>" +
                                                "<p class='ellp'><b>Confirmation Msg.</b></p>" +
                                                "<p class=''>" + DataBinder.Eval(c.DataItem, "Confirmation Msg") + "</p>" +
                                                //"</div>" +
                                                //"<div class='col-md-2'>" +
                                                "<p class='ellp'><b>Approval Msg.</b></p>" +
                                                "<p class=''>" + DataBinder.Eval(c.DataItem, "Approval Msg") + "</p>" +
                                                "<p class='ellp'><b>Rejection Msg.</b></p>" +
                                                "<p class=''>" + DataBinder.Eval(c.DataItem, "Rejection Msg") + "</p>" +
                                            "</div>");
                    if (Purpose.Equals("SURVEY FORMS", StringComparison.InvariantCultureIgnoreCase) == false && Purpose.Equals("BASIC DETAILS", StringComparison.InvariantCultureIgnoreCase) == false)
                    {
                        ViewContext.Writer.Write("<div class='col-md-2'>" +
                          "<p class='ellp'><b>Responses - </b>" + DataBinder.Eval(c.DataItem, "Registrations") + "</p>" +
                          "<p class='ellp'><b>Approved - </b>" + DataBinder.Eval(c.DataItem, "Approved") + "</p>" +
                          "<p class='ellp'><b>Rejected - </b>" + DataBinder.Eval(c.DataItem, "Rejected") + "</p>" +
                          "<p class='ellp'><b>Accommodation - </b>" + DataBinder.Eval(c.DataItem, "Accommodation") + "</p>" +
                          "<p class='ellp'><b>Arrived - </b>" + DataBinder.Eval(c.DataItem, "Arrived") + "</p>" +
                          "<p class='ellp'><b>Not Arrived - </b>" + DataBinder.Eval(c.DataItem, "Not Arrived") + "</p>" +

                          "</div>");
                    }
                    ViewContext.Writer.Write("</div>");
                }
                *@
            });
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Sr";
            columns.Visible = true;
            columns.Width = 40;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "From";
            columns.Visible = true;
            columns.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
            columns.Width = 80;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "To";
            columns.Visible = true;
            columns.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
            columns.Width = 80;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "PROJECT";
            columns.Visible = true;
            columns.Width = 100;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });

        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Form";
            columns.Visible = false;
            columns.Width = 150;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Purpose";
            columns.Visible = true;
            columns.Width = 100;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Form Link";
            columns.Visible = true;
            columns.Width = 80;
            columns.PropertiesEdit.EncodeHtml = false;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });


        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Form Title";
            columns.Visible = true;
            columns.Width = 250;
            columns.PropertiesEdit.EncodeHtml = false;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Form Description";
            columns.Visible = true;
            columns.Width = 250;
            columns.PropertiesEdit.EncodeHtml = false;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Confirmation Msg";
            columns.Visible = true;
            columns.Width = 250;
            columns.PropertiesEdit.EncodeHtml = false;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });

        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Display Mode";
            columns.Visible = true;
            columns.Width = 100;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });

    @*
    if (Screen.Contains("Sparc_") == false)
    {
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Event Name";
            columns.Visible = true;
            columns.Width = 150;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Login Requirement";
            columns.Caption = "Login Required";
            columns.Visible = true;
            columns.Width = 120;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Approval Requirement";
            columns.Caption = "Approval Required";
            columns.Visible = true;
            columns.Width = 120;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Reg Allowed";
            columns.Caption = "Generate Reg No.";
            columns.Visible = true;
            columns.Width = 120;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Gen RegNo On Approval";
            columns.Caption = "Generate Reg No. On Approval";
            columns.Visible = true;
            columns.Width = 120;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Reg No Format";
            columns.Visible = true;
            columns.Width = 130;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Approval Msg";
            columns.Visible = true;
            columns.Width = 250;
            columns.PropertiesEdit.EncodeHtml = false;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Rejection Msg";
            columns.Visible = true;
            columns.Width = 250;
            columns.PropertiesEdit.EncodeHtml = false;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "From Time";
            columns.Visible = true;
            columns.Width = 100;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "To Time";
            columns.Visible = true;
            columns.Width = 100;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Registrations";
            columns.Visible = true;
            columns.Width = 100;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Approved";
            columns.Visible = true;
            columns.Width = 80;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Rejected";
            columns.Visible = true;
            columns.Width = 80;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Arrived";
            columns.Visible = true;
            columns.Width = 80;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Not Arrived";
            columns.Visible = true;
            columns.Width = 80;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Males";
            columns.Visible = true;
            columns.Width = 80;
            if (ViewMode == "compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Females";
            columns.Visible = true;
            columns.Width = 80;
            if (ViewMode == "compact")
            {
                columns.Width = 0;
            }
        });
        }*@
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "CHART_INSTANCE_ID";
            columns.Caption = "Form Instance ID";
            columns.Visible = true;
            columns.Width = 80;
            columns.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
            columns.SortIndex = 1;
            if (ViewMode == "Compact")
            {
                columns.Width = 0;
            }
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "CHART_ID";
            columns.Visible = false;
            columns.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
            columns.SortIndex = 0;
            columns.GroupIndex = 0;
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Project_ID";
            columns.Visible = false;
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "SR_ID";
            columns.Visible = false;
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "Event_ID";
            columns.Visible = false;
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "TravelInsID";
            columns.Visible = false;
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "CI_FROM_DATE";
            columns.Caption = "Chart From Date";
            columns.Visible = false;
        });
        settings.Columns.Add(columns =>
        {
            columns.FieldName = "CI_TO_DATE";
            columns.Caption = "Chart To Date";
            columns.Visible = false;
        });
        MyExtensions.GridViewHelper.Custom_HeaderFilterFillItems_All(settings);
        MyExtensions.GridViewHelper.CustomGridView(settings);
        settings.EnablePagingGestures = AutoBoolean.False;
    }).Bind(Model).GetHtml()
