<div class="ResponseGroupDetails_ClearReferences">
    @using DevExtreme.AspNet.Mvc;

    @{
        string ResponseID = ViewBag.ChartResponseID;     
    }
    @(Html.DevExtreme().DataGrid()
            .ID("ResposneGroupDetails_DataGrid")
            .ColumnAutoWidth(true)
            .ShowBorders(true)
            .KeyExpr("AB_ID")
            .HeaderFilter(s=>s.Visible(true))
            .FilterRow(s => s.Visible(true))
            .FilterPanel(s => s.Visible(true))
            .ShowRowLines(true)
            .ShowColumnLines(true)
            .WordWrapEnabled(true)
            .AllowColumnResizing(true)
            .ColumnResizingMode(ColumnResizingMode.Widget)
            .Scrolling(s=>s.ShowScrollbar(ShowScrollbarMode.Always))
            .Width("100%")
            .DataSource(d => d.Mvc().Controller("Chart").LoadAction("LookUp_Get_ResponseGroupDetails").LoadMode(DataSourceLoadMode.Raw).Key("AB_ID")
            .LoadParams( new {ChartResponseID = ResponseID }).LoadMode(DataSourceLoadMode.Raw)).Selection(s => s.Mode(SelectionMode.None))
            .CustomizeColumns("ResposneGroupDetails_DataGrid_CustomizeColumns")
            .OnContextMenuPreparing("ResposneGroupDetails_DataGrid_ContextMenuPreparing")
)
    <script>
        function ResposneGroupDetails_DataGrid_CustomizeColumns(columns)
        {
            for (var i = 0; i < columns.length; i++)
            {
                if (columns[i].dataField == 'AB_ID')
                {
                    columns[i].visible = false;
                }
                if (columns[i].dataField == 'RESP_ID') {
                    columns[i].visible = false;
                }
                if (columns[i].dataField == 'USERID') {
                    columns[i].visible = false;
                }
                if (columns[i].dataField == 'MOB3') {
                    columns[i].visible = false;
                }
                if (columns[i].dataField == 'MOB4') {
                    columns[i].visible = false;
                }
                if (columns[i].dataField == 'MOB5') {
                    columns[i].visible = false;
                }
                if (columns[i].dataField == 'EMAIL3') {
                    columns[i].visible = false;
                }
                if (columns[i].dataField == 'EMAIL4') {
                    columns[i].visible = false;
                }
                if (columns[i].dataField == 'EMAIL5') {
                    columns[i].visible = false;
                }
                if (columns[i].dataField == 'DATE_OF_COURSE') {
                    columns[i].dataType = "date";
                    columns[i].format = "dd-MM-yyyy";
                }
            }
        }
        function ResposneGroupDetails_DataGrid_ContextMenuPreparing(e) 
        {
            if (e.target == "header")
            {
                // e.items can be undefined
                if (!e.items)
                {
                    e.items = [];
                }
                // Add a custom menu item
                e.items.push({
                    text: "Column Chooser",
                    icon: "columnchooser",
                    onItemClick: function ()
                    {
                        e.component.showColumnChooser();
                    }
                });
            }
            if (e.row) {
                if (e.row.rowType === "data") {
                    if (!e.items) {
                        e.items = [];
                    }
                    // Add a custom menu item
                    e.items.push({
                        text: "Refresh",
                        icon: "",
                        onItemClick: function () {
                            e.component.refresh();
                        }
                    });
                }
            }
        }
    </script>
</div>