<html>
<head>
</head>
<body cz-shortcut-listen="true">
    @using DevExtreme.AspNet.Mvc;
    @model System.Data.DataTable
    @{
        //string inParam_ProjectID = (string)ViewBag.serviceProject_ID;
        //int ShowHorizontalBar = (int)ViewBag.ShowHorizontalBar;
        //int cenId = (int)ViewBag.CenId;
        string Name = (string)ViewBag.Name;
        string RegNo = (string)ViewBag.RegNo;
        string Category = (string)ViewBag.Category;
        string servicesPath = System.Web.Configuration.WebConfigurationManager.AppSettings["Servicespath"].ToString();
        //bool Facility_ChartInfo_FirstOrAllInstancesRight = (bool)ViewData["Facility_ChartInfo_FirstOrAllInstancesRight"];
        //bool Facility_ChartInfo_BulkAllotmentRight = (bool)ViewData["Facility_ChartInfo_BulkAllotmentRight"];
        //bool Facility_ChartInfo_SummariesRight = (bool)ViewData["Facility_ChartInfo_SummariesRight"];
        //bool Facility_ChartInfo_UserMappingsRight = (bool)ViewData["Facility_ChartInfo_UserMappingsRight"];
        //bool Facility_ChartInfo_AddRight = (bool)ViewData["Facility_ChartInfo_AddRight"];
        //bool Facility_ChartInfo_CopyRight = (bool)ViewData["Facility_ChartInfo_CopyRight"];
        //bool Facility_ChartInfo_UpdateRight = (bool)ViewData["Facility_ChartInfo_UpdateRight"];
        //bool Facility_ChartInfo_DeleteRight = (bool)ViewData["Facility_ChartInfo_DeleteRight"];
        //bool Facility_ChartInfo_VisibilityRight = (bool)ViewData["Facility_ChartInfo_VisibilityRight"];
        //bool Facility_ChartInfo_ResponsesRight = (bool)ViewData["Facility_ChartInfo_ResponsesRight"];
        //bool Facility_ChartInfo_CompactDefaultRight = (bool)ViewData["Facility_ChartInfo_CompactDefaultRight"];
        //bool Facility_ChartInfo_ExportRight = (bool)ViewData["Facility_ChartInfo_ExportRight"];

    }

    <div class="PassFacility_ClearReferences">

        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box
            }

            section {
                position: relative;
                margin: 0 auto 20px;
                padding-top: 30px;
                width: 100%;
                height: auto;
                max-width: 1000px;
                padding: 0;
            }

            aside {
                position: absolute;
                top: 30px;
                right: 135px;
                text-align: right;
                max-width: 500px;
                line-height: 40px
            }

                aside h3 {
                    font-size: 28px;
                }

                aside h1 {
                    font-size: 34px;
                    color: firebrick
                }

            section img {
                width: 100%;
            }

            .btn-txt {
                color: #fff;
                background: #703b99;
                border: none;
                padding: 10px 30px;
                margin: 10px 5px;
                border-radius: 20px;
                text-transform: capitalize;
                box-shadow: 0 6px 10px 1px rgb(112 59 153 / 40%);
                cursor: pointer;
                transition: .5s all;
                font-family: 'Source Sans Pro', sans-serif;
            }

                .btn-txt:hover {
                    box-shadow: 0 10px 16px 4px rgb(112 59 153 / 40%);
                }

            @@media print {
                .btn-print, .close, .wrapper-1 {
                    display: none;
                }
            }
        </style>
        <div>
            <div class="btn" style="text-align: center">
                <button onclick="download_pass()" id="downloadOrPrint_Pass" class="btn-txt btn-print" data-html2canvas-ignore="true">Click Here to Download Pass</button>
            </div>
            <section id="ticketMdl">
                @if (Category == "IP")
                {
                    <img src="https://connectone.app/attachments/green-pass.jpg">
                }
                @if (Category == "VIP")
                {
                    <img src="https://connectone.app/attachments/yellow-pass.jpg">
                }
                @if (Category == "VVIP")
                {
                    <img src="https://connectone.app/attachments/red-pass.jpg">
                }
                @if (Category != null)
                {
                    <aside>
                        <h3>Reg. No. <b>@RegNo</b></h3>
                        <h1><b>@Name</b></h1>
                    </aside>
                }
                else
                {
                    <h3>Registration No. Not Found</h3>
                }

            </section>
        </div>

        <script src="~/Scripts/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js" integrity="sha512-w3u9q/DeneCSwUDjhiMNibTRh/1i/gScBVp2imNVAMCt6cUHIw6xzhzcPFIaL3Q1EbI2l+nu17q2aLJJLo4ZYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
        <script>

            if (window.innerWidth <= 1024) {
                $('.btn-print').css({ 'font-size': '50px', 'border-radius': '60px', 'padding': '20px 40px', 'margin': '30px auto' })
            }

            function print_pass() {
                window.print();
            }
            function download_pass() {
                //var pdf_content = document.getElementById("ticketMdl");
                var options = {
                    margin: 1,
                    filename: 'EntryPass.pdf',
                    //image: { type: 'png', quality: 0.98 },
                    html2canvas: { scale: 1 },
                    jsPDF: { unit: 'in', format: 'A4', orientation: 'landscape' }
                };
                html2pdf(document.body.innerHTML, options);
            }
        </script>
    </div>
</body>
</html>