@{

}

@Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "Frm_Voucher_Win_Gen_Pay_Grid_1";

        settings.CallbackRouteValues = new
        {
            Controller = "PaymentVoucher",
            Action = "Frm_Voucher_Win_Gen_Pay_Grid_1"
        };
        settings.ClientVisible = true;
        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Visible;
        settings.Settings.VerticalScrollableHeight = 100;
        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;

        settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;
        settings.EnableRowsCache = false;
        settings.KeyboardSupport = true;
        //settings.AccessKey = "G";
        settings.SettingsBehavior.AllowFocusedRow = true;
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;

        settings.Settings.ShowGroupFooter = GridViewGroupFooterMode.Hidden;

        settings.SettingsBehavior.AutoExpandAllGroups = true;
        settings.SettingsBehavior.AllowSelectSingleRowOnly = true;
        settings.Settings.UseFixedTableLayout = true;
        settings.SettingsBehavior.ColumnMoveMode = GridColumnMoveMode.AmongSiblings;
        settings.SettingsBehavior.AllowSort = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;

        settings.Settings.ShowHeaderFilterButton = false;

        settings.Settings.ShowFilterRow = false;
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;

        settings.SettingsSearchPanel.ShowApplyButton = true;
        settings.SettingsPager.Mode = GridViewPagerMode.ShowAllRecords;
        settings.SettingsSearchPanel.ShowClearButton = true;

        //settings.DataBound = (sender, e) =>     hides grid if no row
        //{
        //    MVCxGridView gv = sender as MVCxGridView;
        //    gv.Visible = (gv.VisibleRowCount > 0);
        //};
        settings.BeforeGetCallbackResult = (s, e) => { var grid = (s as MVCxGridView); grid.ScrollToVisibleIndexOnClient = grid.FocusedRowIndex; };
        settings.CustomJSProperties = (sender, e) =>
        {
            var grid = (sender as MVCxGridView);
            e.Properties["cpGrid1_VisibleRowCount"] = grid.VisibleRowCount;
            int startIndex = (grid.PageIndex == -1 || grid.SettingsPager.Mode == GridViewPagerMode.ShowAllRecords ? 0 : grid.PageIndex) * grid.SettingsPager.PageSize;
            int endIndex = grid.PageIndex == -1 || grid.SettingsPager.Mode == GridViewPagerMode.ShowAllRecords ? grid.VisibleRowCount : Math.Min(grid.VisibleRowCount, startIndex + grid.SettingsPager.PageSize);
            object[] Rowdata = new object[endIndex - startIndex];
            for (int n = startIndex; n< endIndex; n++)
            {
                Rowdata[n - startIndex] = grid.GetRowValues(n, new string[] { "Sr", "Item_ID"});
            }
            e.Properties["cpPagedata"] = Rowdata;
        };

        //settings.SetEmptyDataRowTemplateContent(c =>
        //{
        //    ViewContext.Writer.Write("<span style='font-size: 10pt'>~: P r e s s   K e y :~</br>INSERT=New :: ENTER=Edit :: DELETE=Remove :: VIEW=Spacebar</span>");
        //});

        settings.Settings.ShowPreview = true;
        settings.PreviewFieldName = "Remarks";
        settings.Styles.PreviewRow.CssClass = "customPreviewRow";
        settings.SetPreviewRowTemplateContent(c =>
        {
            var Remarks = DataBinder.Eval(c.DataItem, "Remarks")==null?"": DataBinder.Eval(c.DataItem, "Remarks").ToString();
            ViewContext.Writer.Write("<span style='color: blue'> <i>" + Remarks + "</i></span>");
        });
        settings.HtmlRowCreated = (s, e) =>
        {
            if (e.RowType == GridViewRowType.Preview)
            {
                if (e.GetValue("Remarks") == null|| (string)e.GetValue("Remarks")=="")
                {
                    e.Row.Visible = false;
                }
                e.Row.BackColor = System.Drawing.Color.Transparent;
            }

        };

        settings.SettingsBehavior.AllowFocusedRow = true;
        settings.FillContextMenuItems = (sender, e) =>
        {
            if (e.MenuType == GridViewContextMenuType.Rows)
            {
                var Additem = e.CreateItem("New", "New");
                Additem.Image.IconID = "actions_new_16x16gray";
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Additem);
                var Edititem = e.CreateItem("Edit", "Edit");
                Edititem.Image.IconID = "actions_edit_16x16devav";
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Edititem);
                var Deleteitem = e.CreateItem("Delete", "Delete");
                Deleteitem.Image.IconID = "actions_delete_16x16devav";
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Deleteitem);
                var Viewitem = e.CreateItem("View", "View");
                Viewitem.Image.IconID = "actions_show_16x16gray";
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Viewitem);
            }
        };
        settings.ClientSideEvents.ContextMenuItemClick = "Frm_Voucher_Win_Gen_Pay_Grid_1_ContextMenuFunction";
        settings.ClientSideEvents.FocusedRowChanged = "Frm_Voucher_Win_Gen_Pay_Grid_1_OnGridFocusedRowChanged";
        settings.ClientSideEvents.Init = "Frm_Voucher_Win_Gen_Pay_Grid_1_Init";
        settings.ClientSideEvents.EndCallback = "Frm_Voucher_Win_Gen_Pay_Grid_1_EndCallBack";
        settings.ClientSideEvents.RowDblClick = "Frm_Voucher_Win_Gen_Pay_Grid_1_DblClick";

        settings.KeyFieldName = "Sr";

        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Sr";
                column.Caption = "Sr";
                column.Width = Request.Browser.IsMobileDevice?30:System.Web.UI.WebControls.Unit.Percentage(7);
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "ItemName";
                column.Caption = "Item Name";
                column.Width = Request.Browser.IsMobileDevice ? 150 : System.Web.UI.WebControls.Unit.Percentage(29);
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Head";
                column.Caption = "Head";
                column.Width = Request.Browser.IsMobileDevice ? 150 : System.Web.UI.WebControls.Unit.Percentage(29);
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Qty";
                column.Caption = "Qty";
                column.Width = Request.Browser.IsMobileDevice ? 50 : System.Web.UI.WebControls.Unit.Percentage(7);
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Unit";
                column.Caption = "Unit";
                column.Width = Request.Browser.IsMobileDevice ? 50 : System.Web.UI.WebControls.Unit.Percentage(7);
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Rate";
                column.Caption = "Rate";
                column.Visible = true;
                column.PropertiesEdit.DisplayFormatString = "#0.00";
                column.Width = Request.Browser.IsMobileDevice ? 50 : System.Web.UI.WebControls.Unit.Percentage(7);
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "TDS";
                column.Caption = "TDS";
                column.Visible = true;
                column.PropertiesEdit.DisplayFormatString = "#0.00";
                column.Width = Request.Browser.IsMobileDevice ? 50 : System.Web.UI.WebControls.Unit.Percentage(7);
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Amount";
                column.Caption = "Amount";
                column.Visible = true;
                column.PropertiesEdit.DisplayFormatString = "#0.00";
                column.Width = Request.Browser.IsMobileDevice ? 80 : System.Web.UI.WebControls.Unit.Percentage(7);
            }
        });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "Item_ID", Caption = "Item_ID", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "Item_Led_ID", Caption = "Item_Led_ID", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "Item_Trans_Type", Caption = "Item_Trans_Type", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "Item_Party_Req", Caption = "Item_Party_Req", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "Item_Profile", Caption = "Item_Profile", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "ITEM_VOUCHER_TYPE", Caption = "ITEM_VOUCHER_TYPE", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "Remarks", Caption = "Remarks", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "Pur_ID", Caption = "Pur_ID", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LOC_ID", Caption = "LOC_ID", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "CREATION_PROF_REC_ID", Caption = "CREATION_PROF_REC_ID", Visible = false });
        //---Gold/Silver-----
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "GS_DESC_MISC_ID", Caption = "GS_DESC_MISC_ID", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "GS_ITEM_WEIGHT", Caption = "GS_ITEM_WEIGHT", Visible = false });
        //'---Other Asset-----
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "AI_TYPE", Caption = "AI_TYPE", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "AI_MAKE", Caption = "AI_MAKE", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "AI_MODEL", Caption = "AI_MODEL", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "AI_SERIAL_NO", Caption = "AI_SERIAL_NO", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "AI_PUR_DATE", Caption = "AI_PUR_DATE", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "AI_WARRANTY", Caption = "AI_WARRANTY", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "AI_IMAGE", Caption = "AI_IMAGE", Visible = false });
        //'---Livestock-----
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LS_NAME", Caption = "LS_NAME", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LS_BIRTH_YEAR", Caption = "LS_BIRTH_YEAR", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LS_INSURANCE", Caption = "LS_INSURANCE", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LS_INSURANCE_ID", Caption = "LS_INSURANCE_ID", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LS_INS_POLICY_NO", Caption = "LS_INS_POLICY_NO", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LS_INS_AMT", Caption = "LS_INS_AMT", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LS_INS_DATE", Caption = "LS_INS_DATE", Visible = false });
        //'---Vehicles------
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_MAKE", Caption = "VI_MAKE", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_MODEL", Caption = "VI_MODEL", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_REG_NO_PATTERN", Caption = "VI_REG_NO_PATTERN", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_REG_NO", Caption = "VI_REG_NO", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_REG_DATE", Caption = "VI_REG_DATE", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_OWNERSHIP", Caption = "VI_OWNERSHIP", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_OWNERSHIP_AB_ID", Caption = "VI_OWNERSHIP_AB_ID", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_DOC_RC_BOOK", Caption = "VI_DOC_RC_BOOK", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_DOC_AFFIDAVIT", Caption = "VI_DOC_AFFIDAVIT", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_DOC_WILL", Caption = "VI_DOC_WILL", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_DOC_TRF_LETTER", Caption = "VI_DOC_TRF_LETTER", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_DOC_FU_LETTER", Caption = "VI_DOC_FU_LETTER", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_DOC_OTHERS", Caption = "VI_DOC_OTHERS", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_DOC_NAME", Caption = "VI_DOC_NAME", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_INSURANCE_ID", Caption = "VI_INSURANCE_ID", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_INS_POLICY_NO", Caption = "VI_INS_POLICY_NO", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "VI_INS_EXPIRY_DATE", Caption = "VI_INS_EXPIRY_DATE", Visible = false });
        //'----Land&Building-----
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_PRO_TYPE", Caption = "LB_PRO_TYPE", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_PRO_CATEGORY", Caption = "LB_PRO_CATEGORY", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_PRO_USE", Caption = "LB_PRO_USE", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_PRO_NAME", Caption = "LB_PRO_NAME", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_PRO_ADDRESS", Caption = "LB_PRO_ADDRESS", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_OWNERSHIP", Caption = "LB_OWNERSHIP", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_OWNERSHIP_PARTY_ID", Caption = "LB_OWNERSHIP_PARTY_ID", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_SURVEY_NO", Caption = "LB_SURVEY_NO", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_TOT_P_AREA", Caption = "LB_TOT_P_AREA", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_CON_AREA", Caption = "LB_CON_AREA", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_CON_YEAR", Caption = "LB_CON_YEAR", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_RCC_ROOF", Caption = "LB_RCC_ROOF", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_DEPOSIT_AMT", Caption = "LB_DEPOSIT_AMT", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_PAID_DATE", Caption = "LB_PAID_DATE", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_MONTH_RENT", Caption = "LB_MONTH_RENT", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_MONTH_O_PAYMENTS", Caption = "LB_MONTH_O_PAYMENTS", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_PERIOD_FROM", Caption = "LB_PERIOD_FROM", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_PERIOD_TO", Caption = "LB_PERIOD_TO", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_DOC_OTHERS", Caption = "LB_DOC_OTHERS", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_DOC_NAME", Caption = "LB_DOC_NAME", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_OTHER_DETAIL", Caption = "LB_OTHER_DETAIL", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_REC_ID", Caption = "LB_REC_ID", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_REC_EDIT_ON", Caption = "LB_REC_EDIT_ON", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_ADDRESS1", Caption = "LB_ADDRESS1", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_ADDRESS2", Caption = "LB_ADDRESS2", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_ADDRESS3", Caption = "LB_ADDRESS3", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_ADDRESS4", Caption = "LB_ADDRESS4", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_STATE_ID", Caption = "LB_STATE_ID", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_DISTRICT_ID", Caption = "LB_DISTRICT_ID", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_CITY_ID", Caption = "LB_CITY_ID", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "LB_PINCODE", Caption = "LB_PINCODE", Visible = false });
        //'----Telephone-----
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "TP_ID", Caption = "TP_ID", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "TP_BILL_NO", Caption = "TP_BILL_NO", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "TP_BILL_DATE", Caption = "TP_BILL_DATE", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "TP_PERIOD_FROM", Caption = "TP_PERIOD_FROM", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "TP_PERIOD_TO", Caption = "TP_PERIOD_TO", Visible = false });
        //'--WIP--
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "REF_REC_ID", Caption = "REF_REC_ID", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "REFERENCE", Caption = "REFERENCE", Visible = false });
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "WIP_REF_TYPE", Caption = "WIP_REF_TYPE", Visible = false });
        //'--TDS--
        settings.Columns.Add(new MVCxGridViewColumn() { FieldName = "REF_TDS_DED", Caption = "REF_TDS_DED", Visible = false });


        settings.Settings.ShowHeaderFilterBlankItems = false;
        settings.SettingsContextMenu.Enabled = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;
        settings.SettingsContextMenu.RowMenuItemVisibility.DeleteRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.EditRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.NewRow = false;
        settings.SettingsPager.Mode = GridViewPagerMode.ShowAllRecords;

        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Hidden;
        settings.SettingsFilterControl.ViewMode = true ? FilterControlViewMode.VisualAndText : FilterControlViewMode.Visual;
        settings.SettingsFilterControl.AllowHierarchicalColumns = true;// AllowHierarchicalColumns;
        settings.SettingsFilterControl.ShowAllDataSourceColumns = true;//FilterBuilderDemoHelper.Options.ShowAllDataSourceColumns;
        settings.SettingsFilterControl.MaxHierarchyDepth = 1;
        MyExtensions.GridViewHelper.CustomGridView(settings);
    }).Bind(Model).GetHtml()
