@using DevExtreme.AspNet.Mvc;
<div>
    @(Html.DevExtreme().RadioGroup()
            .ID("supplierradioGroup")
            .DisplayExpr("text")
            .ValueExpr("color")
            .DataSource(new object[] {
    new { text = "Supplier", color = "Supplier" },
    new { text = "Bank Account", color = "Account" }
                 })
            .OnValueChanged("Radio_New")
            .Width("auto")
    )

</div>
<script>
    function Radio_New(e)
    {
        var select = e.value;

        if (select == "Supplier")
        {
            SupplierMaster_NewClick();
        }
        else if (select = "Account")
        {
            SupplierMaster_AddNewBank();
        }
        $("#Supplier_Choose_New").dxPopup("hide");
    }

</script>

