@using System.Text.RegularExpressions;
@{
    var SessionGUID = Request.QueryString["SessionGUID"];
    var ShowHorizontalBar = (int)ViewBag.ShowHorizontalBar;
    var summary_type = ViewBag.summary_type;
    var Layout = ViewData["Layout"];
}

@Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "ChartResponse_SummaryInfoGrid";
        settings.CallbackRouteValues = new
        {
            Controller = "ChartReports",
            Action = "Frm_RecommendationSummary_Info_Grid",
            SessionGUID = SessionGUID
        };

        settings.Theme = "Aqua";
        settings.Styles.FocusedRow.BackColor = System.Drawing.Color.FromArgb(0, 114, 198);
        settings.Styles.FocusedRow.ForeColor = System.Drawing.Color.White;
        settings.Styles.AlternatingRow.BackColor = System.Drawing.Color.Linen;

        settings.SettingsBehavior.AllowFocusedRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = false;

        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Visible;
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.Settings.UseFixedTableLayout = true;

        //Filter in Headings of the table.
        settings.Settings.ShowHeaderFilterButton = true;
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        settings.Settings.ShowHeaderFilterBlankItems = false;

        // show filter control at the bottom
        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsFilterControl.ViewMode = true ? FilterControlViewMode.VisualAndText : FilterControlViewMode.Visual;
        settings.SettingsFilterControl.AllowHierarchicalColumns = true;// AllowHierarchicalColumns;
        settings.SettingsFilterControl.ShowAllDataSourceColumns = true;//FilterBuilderDemoHelper.Options.ShowAllDataSourceColumns;
        settings.SettingsFilterControl.MaxHierarchyDepth = 1;

        settings.Settings.ShowPreview = true;

        settings.SettingsDetail.ShowDetailRow = false;

        settings.KeyboardSupport = true;
        //settings.AccessKey = "G";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.SettingsBehavior.ProcessColumnMoveOnClient = true;
        settings.SettingsBehavior.ColumnMoveMode = GridColumnMoveMode.AmongSiblings;

        if (summary_type == "Recommendation")
        {
            settings.DataBound = (s, e) =>
            {
                MVCxGridView grid = s as MVCxGridView;
                if (grid.Columns.IndexOf(grid.Columns["ZONE_ID"]) > -1)
                {
                    grid.DataColumns["ZONE_ID"].GroupIndex = 0;
                }
        if (grid.Columns.IndexOf(grid.Columns["Building"]) > -1)
            {
                 grid.DataColumns["Building"].Width = 200;
            }
        if (grid.Columns.IndexOf(grid.Columns["Beds Already Recommended"]) > -1)
            {
                 grid.DataColumns["Beds Already Recommended"].Width = 200;
            }
        if (grid.Columns.IndexOf(grid.Columns["Beds Allotted"]) > -1)
            {
                 grid.DataColumns["Beds Allotted"].Width = 120;
            }
        if (grid.Columns.IndexOf(grid.Columns["Beds Remaining"]) > -1)
            {
                 grid.DataColumns["Beds Remaining"].Width = 120;
            }
            };

       settings.TotalSummary.Add(new ASPxSummaryItem()
            { SummaryType = DevExpress.Data.SummaryItemType.Count, FieldName = "Beds Remaining", DisplayFormat = "Total Count = {0}", ShowInColumn = "Total" });
           settings.Settings.ShowFooter = true;
        }

        ////settings.DataBound = (s, e) =>
        ////{
        ////    MVCxGridView grid = s as MVCxGridView;
        ////    if (grid.Columns.IndexOf(grid.Columns["5 - Artwork Upload: "]) > -1)
        ////    {
        ////        grid.DataColumns["5 - Artwork Upload: "].PropertiesEdit.EncodeHtml = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["6 - Artwork Upload (2): "]) > -1)
        ////    {
        ////        grid.DataColumns["6 - Artwork Upload (2): "].PropertiesEdit.EncodeHtml = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["7 - Artwork Upload (3): "]) > -1)
        ////    {
        ////        grid.DataColumns["7 - Artwork Upload (3): "].PropertiesEdit.EncodeHtml = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["8 - Artwork Upload (4): "]) > -1)
        ////    {
        ////        grid.DataColumns["8 - Artwork Upload (4): "].PropertiesEdit.EncodeHtml = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["9 - Artwork Upload (5): "]) > -1)
        ////    {
        ////        grid.DataColumns["9 - Artwork Upload (5): "].PropertiesEdit.EncodeHtml = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["RESP_ID"]) > -1)
        ////    {
        ////        grid.DataColumns["RESP_ID"].Visible = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["AB_ID"]) > -1)
        ////    {
        ////        grid.DataColumns["AB_ID"].Visible = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["RESP_ID_1"]) > -1)
        ////    {
        ////        grid.DataColumns["RESP_ID_1"].Visible = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["UserID"]) > -1)
        ////    {
        ////        grid.DataColumns["UserID"].Visible = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["USERID_1"]) > -1)
        ////    {
        ////        grid.DataColumns["USERID_1"].Visible = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["REC_STATUS"]) > -1)
        ////    {
        ////        grid.DataColumns["REC_STATUS"].Visible = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["Mob2"]) > -1)
        ////    {
        ////        grid.DataColumns["Mob2"].Visible = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["Mob3"]) > -1)
        ////    {
        ////        grid.DataColumns["Mob3"].Visible = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["Mob4"]) > -1)
        ////    {
        ////        grid.DataColumns["Mob4"].Visible = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["Mob5"]) > -1)
        ////    {
        ////        grid.DataColumns["Mob5"].Visible = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["Email2"]) > -1)
        ////    {
        ////        grid.DataColumns["Email2"].Visible = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["Email3"]) > -1)
        ////    {
        ////        grid.DataColumns["Email3"].Visible = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["Email4"]) > -1)
        ////    {
        ////        grid.DataColumns["Email4"].Visible = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["Email5"]) > -1)
        ////    {
        ////        grid.DataColumns["Email5"].Visible = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["Name"]) > -1)
        ////    {
        ////        grid.DataColumns["Name"].Width = 200;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["Email1"]) > -1)
        ////    {
        ////        grid.DataColumns["Email1"].Width = 200;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["1 - Occupation: "]) > -1)
        ////    {
        ////        grid.DataColumns["1 - Occupation: "].Width = 150;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["2 - Other Occupation(if any): "]) > -1)
        ////    {
        ////        grid.DataColumns["2 - Other Occupation(if any): "].Width = 150;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["3 - Qualification: "]) > -1)
        ////    {
        ////        grid.DataColumns["3 - Qualification: "].Width = 150;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["4 - Other Qualification(if any): "]) > -1)
        ////    {
        ////        grid.DataColumns["4 - Other Qualification(if any): "].Width = 150;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["10 - Declaration: "]) > -1)
        ////    {
        ////        grid.DataColumns["10 - Declaration: "].Visible = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["Privacy Policy: "]) > -1)
        ////    {
        ////        grid.DataColumns["Privacy Policy: "].Visible = false;
        ////    }
        ////    if (grid.Columns.IndexOf(grid.Columns["Future Notifications: "]) > -1)
        ////    {
        ////        grid.DataColumns["Future Notifications: "].Visible = false;
        ////    }
        ////    //if (chartApprovalRequired)
        ////    //{
        ////    //    if (grid.Columns.IndexOf(grid.Columns["Status"]) > -1)
        ////    //    {
        ////    //        grid.DataColumns["Status"].GroupIndex = 0;
        ////    //    }
        ////    //}

        ////    foreach (GridViewDataColumn Col in grid.DataColumns)
        ////    {
        ////        Col.SettingsHeaderFilter.Mode = GridHeaderFilterMode.CheckedList;
        ////    }


        ////};
        //var ShowHorizontalBar = (int)ViewBag.ShowHorizontalBar;
        if (ShowHorizontalBar == 1)
        {
            settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
            settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
            settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;
            settings.SettingsResizing.Visualization = ResizingMode.Postponed;
        }
        else
        {
            settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
            settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
            settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Disabled;
            settings.SettingsAdaptivity.AllowHideDataCellsByColumnMinWidth = true;
        }
        settings.Settings.ShowPreview = true;
        ////settings.SetPreviewRowTemplateContent(c =>
        ////{
        ////    var Remarks = DataBinder.Eval(c.DataItem, "Remarks") == null ? "" : DataBinder.Eval(c.DataItem, "Remarks").ToString();
        ////    if (Remarks.Length > 0)
        ////    {
        ////        ViewContext.Writer.Write("<div><span style='color:#0000FF'> <i>Admin Remarks: " + Remarks + "</i></span></div>");
        ////    }

        ////});

        settings.HtmlRowPrepared = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (e.RowType == GridViewRowType.Group)
            {
                e.Row.ForeColor = System.Drawing.Color.Blue;
                e.Row.Font.Bold = true;
            }
            else if (e.RowType == GridViewRowType.Data)
            {
                if (grid.Columns.IndexOf(grid.Columns["Beds Remaining"]) > -1)
                {
                    if (e.GetValue("Beds Remaining") != null && (Convert.ToInt32(e.GetValue("Beds Remaining")) == 0))
                    {
                        e.Row.BackColor = System.Drawing.Color.Orange;
                    }
                    if (e.GetValue("Beds Remaining") != null && (Convert.ToInt32(e.GetValue("Beds Remaining")) < 0))
                    {
                        e.Row.BackColor = System.Drawing.Color.Red;
                    }
                }
            }

        };

        //Group Settings
        settings.Settings.ShowGroupFooter = GridViewGroupFooterMode.VisibleIfExpanded;
        settings.Settings.ShowGroupPanel = false;
        settings.SettingsBehavior.AllowGroup = true;
        settings.SettingsBehavior.AutoExpandAllGroups = false;
        settings.SettingsBehavior.AllowFixedGroups = true;
        settings.Settings.ShowGroupedColumns = false;
        settings.Settings.ShowGroupButtons = true;

        settings.SettingsBehavior.AllowFocusedRow = true;
        settings.SettingsBehavior.AllowSelectSingleRowOnly = true;
        settings.SettingsBehavior.AllowSelectByRowClick = false;
        settings.Settings.UseFixedTableLayout = true;
        settings.SettingsBehavior.AllowSort = true;
        settings.SettingsBehavior.AllowEllipsisInText = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;
        settings.SettingsCustomizationDialog.ShowSortingPage = true;
        settings.SettingsCustomizationDialog.ShowGroupingPage = true;
        settings.SettingsCustomizationDialog.ShowFilteringPage = true;
        settings.SettingsCustomizationDialog.ShowColumnChooserPage = true;


        // Filter and serach
        settings.Settings.ShowHeaderFilterButton = true;
        settings.Settings.ShowHeaderFilterBlankItems = false;
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        // show filter control
        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
        settings.SettingsFilterControl.ViewMode = true ? FilterControlViewMode.VisualAndText : FilterControlViewMode.Visual;
        settings.SettingsFilterControl.AllowHierarchicalColumns = true;// AllowHierarchicalColumns;
        settings.SettingsFilterControl.ShowAllDataSourceColumns = true;//FilterBuilderDemoHelper.Options.ShowAllDataSourceColumns;
        settings.SettingsFilterControl.MaxHierarchyDepth = 1;

        settings.SettingsSearchPanel.Visible = false;
        settings.SettingsSearchPanel.ShowApplyButton = true;
        settings.SettingsSearchPanel.ShowClearButton = true;

        settings.SettingsContextMenu.Enabled = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;
        settings.SettingsContextMenu.RowMenuItemVisibility.DeleteRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.EditRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.NewRow = false;
        //settings.SettingsContextMenu.RowMenuItemVisibility.Refresh = false;

        settings.SettingsPager.Visible = true;
        settings.SettingsPager.Mode = GridViewPagerMode.ShowPager;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSize = 200;
        settings.SettingsPager.AllButton.Visible = true;
        settings.KeyFieldName = "RESP_ID";

        //Export Settings
        settings.SettingsExport.EnableClientSideExportAPI = true;
        settings.SettingsExport.ExcelExportMode = DevExpress.Export.ExportType.DataAware;
        settings.SettingsExport.PageHeader.Center = "Chart Info";
        settings.SettingsExport.PageHeader.Left = ViewData["ExportGridHeaderLeft"].ToString();
        settings.SettingsExport.PageHeader.Right = ViewData["ExportGridHeaderRight"].ToString();
        settings.SettingsExport.PageFooter.Right = ViewData["ExportGridFooter"].ToString();
        settings.SettingsExport.PaperKind = System.Drawing.Printing.PaperKind.A4;
        settings.SettingsExport.TopMargin = 10;
        settings.SettingsExport.LeftMargin = 4;
        settings.SettingsExport.RightMargin = 2;
        settings.SettingsExport.BottomMargin = 10;
        settings.SettingsExport.Landscape = true;

        ////settings.CustomJSProperties = (sender, e) =>
        ////{
        ////    MVCxGridView grid = (MVCxGridView)sender;
        ////    //var watch = new System.Diagnostics.Stopwatch();
        ////    //watch.Start();
        ////    int startIndex = (grid.PageIndex == -1 || grid.SettingsPager.Mode == GridViewPagerMode.ShowAllRecords ? 0 : grid.PageIndex) * grid.SettingsPager.PageSize;
        ////    int endIndex = grid.PageIndex == -1 || grid.SettingsPager.Mode == GridViewPagerMode.ShowAllRecords ? grid.VisibleRowCount : Math.Min(grid.VisibleRowCount, startIndex + grid.SettingsPager.PageSize);
        ////    object[] Rowdata = new object[endIndex - startIndex];
        ////    for (int n = startIndex; n< endIndex; n++)
        ////    {
        ////        Rowdata[n - startIndex] = grid.GetRowValues(n, new string[] { "RESP_ID", "Status", "Remarks","UserID","AB_ID" });
        ////    }
        ////    e.Properties["cpPagedata"] = Rowdata;
        ////    //watch.Stop();
        ////    //e.Properties["cpExecutionTime"] = watch.ElapsedMilliseconds;
        ////};

        if (ShowHorizontalBar == 1)
        {
            settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
            settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
            settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;
            settings.SettingsResizing.Visualization = ResizingMode.Postponed;
        }
        else
        {
            settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
            settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
            settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Disabled;
            settings.SettingsAdaptivity.AllowHideDataCellsByColumnMinWidth = true;
        }

        settings.ClientSideEvents.Init = "ChartResponse_SummaryInfoOnInit";
        settings.ClientSideEvents.FocusedRowChanged = "OnChartResponse_SummaryInfoGridFocusedRowChanged";
        settings.ClientSideEvents.BeginCallback = "ChartResponse_SummaryInfoGrid_BeginCallback";

        settings.SettingsPopup.CustomizationWindow.VerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SettingsPopup.CustomizationWindow.HorizontalAlign = PopupHorizontalAlign.WindowCenter;
        MyExtensions.GridViewHelper.Custom_HeaderFilterFillItems_All(settings);
        MyExtensions.GridViewHelper.CustomGridView(settings);

    }).Bind(Model).GetHtml()
