@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Magazine.Models.MagazineDispatchRegisterInfo
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<div>
    <div>
        <span>Select Sort Order</span>
    </div>
    <div>
        <div>
            @(Html.DevExtreme().RadioGroup().Items(new[] { "1.  Order by Copies", "2. Order by RMS", "3. Order by Copies,Pincode" })
                                                                    .Value("1.  Order by Copies")
            )
        </div>
        <div>
            @if (Model.Actiontype == "LABEL")
            {
                @Html.DevExtreme().Button().Text("Ok").OnClick(@<text> function (){ SortOrderTypeDispatchClick("LABEL"); } </text>)
            }
            else
            {
                @Html.DevExtreme().Button().Text("Ok").OnClick(@<text> function (){ SortOrderTypeDispatchClick("REPORT"); } </text>)
            }

            @Html.DevExtreme().Button().Text("Cancel").OnClick(@<text> function () { cancelClick(); }</text>)
        </div>
    </div>
</div>
