<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <add key="Location" value="http://XXXX/ShivService/Service.asmx" />
    <add key="LowestAllowedVersion" value="2.1" />
    <add key="UnderMaintenance" value="No" />
    <add key="InsuranceAuditor" value="bknaresh,A-Ruchika,Bkkrishna,A-Alok,bksaurabh" />
    <add key="PADService" value="http://192.168.60.55:8085/service1.asmx" />
    <add key="ServiceURL" value="http://localhost:1916/Service.asmx" />
    <add key="FilePhysicalPath" value="D:\\Attachments\\" />
    <add key="UploadAttachmentByFTP" value="False" />
    <!--set False for normal way-->
    <add key="FTPServer" value="ftp://192.168.61.142:21/" />
    <add key="FTPUser" value="ftpuser" />
    <add key="FTPPassword" value="shivbaba" />
    <add key="Restricted_Users" value="3206" /> <!-- NO SPACE BEFORE & AFTER USERNAME-->
	<add key="SenderId" value="development@connectone.app" />
	<add key="senderPassword" value="Shivbaba" />
  </appSettings>
  <connectionStrings>
    <!--[ Dev Database ]-->
    <!--<add name="sqlconnectoneconnectionstring" connectionString="data source=192.168.61.142;initial catalog=ConnectOneDev;user id=sa;password=DoubleLight*;connect timeout=650 " />-->
    <!--<add name="sqlconnectoneconnectionstring" connectionString="Data Source=192.168.61.29\PREPROD22;initial catalog=ConnectOne;user id=co_test;password=shivbaba;connect timeout=1000; Application Name=SERVICE_MODULE_PreProd " />-->
    <add name="SQLConnectOneConnectionString" connectionString="data source=192.168.61.29\ABU_DEV_DB;initial catalog=ConnectOneDev;user id=connectone;password=connectone1;connect timeout=650 " />


    <!--[ Test Database ]-->
    <!--<add name="sqlconnectoneconnectionstring" connectionString="data source=182.73.95.227;initial catalog=connectonetest;user id=sa;password=DoubleLight;connect timeout=650 " />-->
    <!--<add name="sqlconnectoneconnectionstring" connectionString="data source=192.168.241.173;initial catalog=connectonetest;user id=cot;password=meraBaba;connect timeout=650 " />-->
    <!--<add name="sqlconnectoneconnectionstring" connectionString="data source=192.168.60.28;initial catalog=ConnectOne;user id=sa;password=Shivbaba@1;connect timeout=650 "/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
	  <webServices>
		  <protocols>
			  <add name="HttpGet"/>
			  <add name="HttpPost"/>
		  </protocols>
	  </webServices>
    <!--<webServices>
      <soapExtensionReflectorTypes>
        <add type="ConnectOne.Sync.BLL.HttpsReflector, App_Code"/>
      </soapExtensionReflectorTypes>
    </webServices>-->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <httpRuntime executionTimeout="100000" maxRequestLength="1073741824" enableVersionHeader="false" maxQueryStringLength="32768" maxUrlLength="65536" requestValidationMode="4.0" targetFramework="4.5.2" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" maxQueryString="1000000" maxUrl="1000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>