<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            line-height: 15px;
            display: inline-block;
            color: #666;
        }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 16px;
                border: 1px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }

            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 8px;
                height: 8px;
                background: #337ab7;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<form action="" class="edit_form">
    <div class="full-width-header-bg3">
        <div class="row">

            <div class="col-sm-8 pll">
                <h3 class="popuphead"><i class="far fa-edit"></i>Livestock </h3><i class="fas fa-star yellowstar"></i><span class="blu-txt2"> As on 31st March, 2018</span>
            </div>
            <div class="col-sm-4 prm">
                <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
            </div>
        </div>
    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid pll prm">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label class="control-label text-red" for="Name">Item Name:</label>


                </div><!--[/leftpart]-->
                <div class="col-sm-10 col-md-10 col-lg-10">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">

                            <select name="" class="dx-texteditor-input appear">
                                <option value="0">Select Item...</option>
                            </select>
                        </div>
                    </div>

                </div><!--[right part]-->

            </div>

        </div>
    </div>	<!--[/row1]-->

    <div class="row">

        <div class="col-sm-7 col-md-8 col-lg-8">
            <div class="form-field">
                <div class="container-fluid pll prm">
                    <div class="row">
                        <div class="col-sm-5 col-md-3 col-lg-3">
                            <label class="control-label text-red" for="Name">Livestock Name / Tag:</label>
                        </div>
                        <div class="col-sm-7 col-md-9 col-lg-9">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" Placeholder="Type Livestock Name...">
                                </div>
                            </div>
                        </div>



                    </div><!--[/leftpart]-->
                    <!--[right part]-->

                </div>

            </div>

        </div>	<!--[/row1]-->
        <div class="col-sm-5 col-md-4 col-lg-4">
            <div class="form-field">
                <div class="container-fluid pll prm">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <label class="control-label" for="Name">Birth Year:</label>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <select name="" class="dx-texteditor-input appear">
                                        <option value="0">Select Year...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="grad-head">
                    <div class="head-txt"><i class="fas fa-thumbtack"></i> Insurance</div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div id="equalheight">
                        <div class="col-sm-2 col-md-1 col-lg-1 demo">
                            <div class="form-field demo">
                                <div class="container-fluid pll prm">


                                    <div class="radio-mrg">
                                        <input type="radio" id="Yes" name="radio-group" checked>
                                        <label for="Yes" class="la-bel">Yes</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="No" name="radio-group">
                                        <label for="No">No</label>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-11 col-lg-11 demo">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-field">
                                        <div class="container-fluid pll prm">
                                            <label class="control-label disabletxt" for="Name">Insurance Company Name:</label>
                                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                <div class="dx-texteditor-container">
                                                    <select name="" class="dx-texteditor-input appear" disabled="disabled">
                                                        <option value="0"></option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-field">
                                                <div class="container-fluid pll prm">
                                                    <label class="control-label disabletxt" for="Name">Policy No.:</label>
                                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                        <div class="dx-texteditor-container">
                                                            <input class="dx-texteditor-input" type="text" Placeholder="" disabled="disabled">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-field">
                                                <div class="container-fluid pll prm">
                                                    <label class="control-label disabletxt" for="Name">Insurance Amount:</label>
                                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                        <div class="dx-texteditor-container">
                                                            <input class="dx-texteditor-input" type="text" Placeholder="" disabled="disabled">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <div class="form-field">
                                                <div class="container-fluid pll prm">
                                                    <label class="control-label disabletxt" for="Name">Expire Date:</label>
                                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                                        <div class="dx-texteditor-container">
                                                            <select name="" class="dx-texteditor-input appear" disabled="disabled">
                                                                <option value="0">dd-MM-yyyy</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-md-10 col-lg-10">
                <div class="form-field">
                    <div class="container-fluid pll prm">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <label class="control-label text-red" for="Name">Location:</label>

                            </div>
                            <div class="col-sm-10 col-md-10 col-lg-10">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox marg-28">
                                    <div class="dx-texteditor-container">
                                        <select name="" class="dx-texteditor-input appear">
                                            <option value="0">Select Location...</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-2 col-lg-2">
                <div class="form-field" style="padding:5px 4px 3px 4px;">
                    <div class="container-fluid pll prm">
                        <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                            <a href="javascript:void(0);" class="link-txt">
                                <div class="dx-button-content">
                                    <i class="fas fa-map-marker btn-icons crossgrey icon-rgt-space5"></i>
                                    <span class="dx-button-text">Add Location</span>
                                </div>
                            </a>
                        </div><!--[button]-->
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7 col-md-8 col-lg-8">
                <div class="form-field">
                    <div class="container-fluid pll prm">
                        <div class="row">
                            <div class="col-sm-4 col-md-3 col-lg-3">
                                <label class="control-label" for="Name">Other Details:</label>
                            </div>
                            <div class="col-sm-8 col-md-9 col-lg-9">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <select name="" class="dx-texteditor-input appear">
                                            <option value="0">Type Any Other Details / Remarks...</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-lg-4">
                <div class="form-field">
                    <div class="container-fluid pll prm">
                        <div class="row">
                            <div class="col-sm-5 col-md-4 col-lg-4">
                                <label class="control-label" for="Name">Opening Value:</label>
                            </div>
                            <div class="col-sm-7 col-md-8 col-lg-8">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" Placeholder="Type Opening...">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-field wbg brd-bot-none">
                <div class="col-lg-6 col-xs-12"></div>
                <div class="col-lg-6 col-xs-12">
                    <div class="action-btn-wrap ">
                        <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                            <a href="javascript:void(0);" class="link-txt">
                                <div class="dx-button-content">
                                    <i class="fas fa-times-circle btn-icons crossgrey icon-rgt-space5"></i>
                                    <span class="dx-button-text">Cancel</span>
                                </div>
                            </a>
                        </div><!--[button]-->


                    </div>

                    <div class="action-btn-sec-wrap">
                        <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                            <a href="javascript:void(0);" class="link-txt">
                                <div class="dx-button-content">
                                    <i class="fas fa-check-circle btn-icons checkgreen icon-rgt-space5"></i>
                                    <span class="dx-button-text">Save</span>
                                    <input type="submit" class="dx-button-submit-input">
                                </div>
                            </a>
                        </div><!--[button]-->

                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>


</form>