@using DevExtreme.AspNet.Mvc;
@{
    var SessionGUID = Request.QueryString["SessionGUID"];
    var ID = (string)ViewBag.ID;
    var VouchingMode = (bool)ViewBag.VouchingMode;
    var MID = (string)ViewBag.MID;
}
<div class="col-md-12">
    <label>Documents Attached:</label>
    <div class="row">
        <div class="col-md-12" id="DailyBalanceAuditNestedGrid_Div">
            <form>
                @Html.Action("Frm_LiveStock_Info_DetailGrid", "LiveStock", new { RecID = ID, MID = MID, VouchingMode = VouchingMode,command="REFRESH",SessionGUID = SessionGUID})
            </form>
        </div>
    </div>
    <label>Additional Info:</label>
    <div class="row">
        <div class="col-md-12" id="DailyBalanceAuditAdditionalInfo_Div">
            <form>
                @Html.Action("AdditionalInfo_Grid", "LiveStock", new { SessionGUID = SessionGUID })
            </form>
        </div>
    </div>
</div>

<script>
    
</script>
<script>
    $(document).ready(function () {

    });

</script>
