@using System.Text.RegularExpressions
@{
    var SessionGUID = Request.QueryString["SessionGUID"];
    bool PropertyLB_AddRight = (bool)ViewData["PropertyLB_AddRight"];
    bool PropertyLB_UpdateRight = (bool)ViewData["PropertyLB_UpdateRight"];
    bool PropertyLB_ViewRight = (bool)ViewData["PropertyLB_ViewRight"];
    bool PropertyLB_DeleteRight = (bool)ViewData["PropertyLB_DeleteRight"];
    bool PropertyLB_ExportRight = (bool)ViewData["PropertyLB_ExportRight"];
    bool PropertyLB_LockUnlockRight = (bool)ViewData["PropertyLB_LockUnlockRight"];
    bool PropertyLB_ManageRemarks = (bool)ViewData["PropertyLB_ManageRemarks"];
    bool PropertyLB_SpecialGrouping = (bool)ViewData["PropertyLB_SpecialGrouping"];
    var DetailData = ViewBag.DetailGridData;
    bool VouchingMode = ViewBag.VouchingMode == null ? false : (bool)ViewBag.VouchingMode;
    string ViewMode = ViewBag.ViewMode == null ? "Default" : (string)ViewBag.ViewMode;
    string UserType = (string)ViewBag.UserType;
    List<string> ColumnTobeHidden = new List<string>();
    List<string> ColumnTobeShown = new List<string>();
    string ColumnToBeShowIndex = ViewBag.ColumnToBeShownIndex == null ? "" : (string)ViewBag.ColumnToBeShownIndex;
    string ColumnToBeHideIndex = ViewBag.ColumnToBeHidddenIndex == null ? "" : (string)ViewBag.ColumnToBeHidddenIndex;
    if (ColumnToBeHideIndex.Length > 0)
    {
        ColumnTobeHidden = ColumnToBeHideIndex.Split(',').ToList();
    }
    if (ColumnToBeShowIndex.Length > 0)
    {
        ColumnTobeShown = ColumnToBeShowIndex.Split(',').ToList();
    }
}

@Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "PropertyListGrid";
        settings.CallbackRouteValues = new
        {
            Controller = "Property",
            Action = "Frm_Property_Info_Grid",
            SessionGUID = SessionGUID
        };
        settings.EnableTheming = true;
        settings.Theme = "Aqua";

        settings.Styles.Cell.Wrap = DefaultBoolean.True;
        settings.Styles.FocusedRow.BackColor = System.Drawing.Color.FromArgb(0, 114, 198);
        settings.Styles.FocusedRow.ForeColor = System.Drawing.Color.White;
        settings.Init = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (ViewMode == "Compact")
            {
                grid.DataColumns["PropertyLB_Compact_Column"].Visible = true;
                grid.DataColumns["Category"].Visible = false;
                grid.DataColumns["Type"].Visible = false;
                grid.DataColumns["LB_PRO_NAME"].Visible = false;
                grid.DataColumns["Address"].Visible = false;
                grid.DataColumns["Use_of_Property"].Visible = false;
                grid.DataColumns["Ownership"].Visible = false;
                grid.DataColumns["Owner"].Visible = false;
                grid.DataColumns["LB_SURVEY_NO"].Visible = false;
                grid.DataColumns["LB_TOT_P_AREA"].Visible = false;
                grid.DataColumns["LB_CON_AREA"].Visible = false;
                grid.DataColumns["Construction_Year"].Visible = false;
                grid.DataColumns["RCC_Roof"].Visible = false;
                grid.DataColumns["Opening_Value"].Visible = false;
                grid.DataColumns["Curr_Value"].Visible = false;
                grid.DataColumns["Deposit_Amount"].Visible = false;
                grid.DataColumns["Paid_Date"].Visible = false;
                grid.DataColumns["Monthly_Rent"].Visible = false;
                grid.DataColumns["Period_From"].Visible = false;
                grid.DataColumns["Period_To"].Visible = false;
                grid.DataColumns["Other_Detail"].Visible = false;
                grid.DataColumns["Sale_Status"].Visible = false;

                grid.DataColumns["Action_Status"].Visible = false;
                grid.DataColumns["Action_By"].Visible = false;
                grid.DataColumns["Action_Date"].Visible = false;
                grid.DataColumns["Add_By"].Visible = false;
                grid.DataColumns["Add_Date"].Visible = false;
                grid.DataColumns["Crossed_Time_Limit"].Visible = false;
                grid.DataColumns["Edit_By"].Visible = false;
                grid.DataColumns["Edit_Date"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["Open_Actions"].Visible = false;
                grid.DataColumns["RemarkCount"].Visible = false;
                grid.DataColumns["RemarkStatus"].Visible = false;
                grid.DataColumns["Remarks"].Visible = false;
                grid.DataColumns["TR_ID"].Visible = false;
                grid.DataColumns["YearID"].Visible = false;
                grid.DataColumns["REJECTED_COUNT"].Visible = false;
                grid.DataColumns["RESPONDED_COUNT"].Visible = false;
                grid.DataColumns["COMPLETE_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["REQ_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["OTHER_ATTACH_CNT"].Visible = false;
                grid.DataColumns["ALL_ATTACH_CNT"].Visible = false;
                grid.DataColumns["Special_Ref"].Visible = false;
            }
            else
            {
                grid.DataColumns["PropertyLB_Compact_Column"].Visible = false;
                grid.DataColumns["Category"].Visible = true;
                grid.DataColumns["Type"].Visible = true;
                grid.DataColumns["LB_PRO_NAME"].Visible = true;
                grid.DataColumns["Address"].Visible = true;
                grid.DataColumns["Use_of_Property"].Visible = true;
                grid.DataColumns["Ownership"].Visible = true;
                grid.DataColumns["Owner"].Visible = true;
                grid.DataColumns["LB_SURVEY_NO"].Visible = true;
                grid.DataColumns["LB_TOT_P_AREA"].Visible = true;
                grid.DataColumns["LB_CON_AREA"].Visible = true;
                grid.DataColumns["Construction_Year"].Visible = true;
                grid.DataColumns["RCC_Roof"].Visible = true;
                grid.DataColumns["Opening_Value"].Visible = true;
                grid.DataColumns["Curr_Value"].Visible = true;
                grid.DataColumns["Deposit_Amount"].Visible = true;
                grid.DataColumns["Paid_Date"].Visible = true;
                grid.DataColumns["Monthly_Rent"].Visible = true;
                grid.DataColumns["Period_From"].Visible = true;
                grid.DataColumns["Period_To"].Visible = true;
                grid.DataColumns["Other_Detail"].Visible = true;
                grid.DataColumns["Sale_Status"].Visible = true;

                grid.DataColumns["Action_Status"].Visible = false;
                grid.DataColumns["Action_By"].Visible = false;
                grid.DataColumns["Action_Date"].Visible = false;
                grid.DataColumns["Add_By"].Visible = false;
                grid.DataColumns["Add_Date"].Visible = false;
                grid.DataColumns["Crossed_Time_Limit"].Visible = false;
                grid.DataColumns["Edit_By"].Visible = false;
                grid.DataColumns["Edit_Date"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["Open_Actions"].Visible = false;
                grid.DataColumns["RemarkCount"].Visible = false;
                grid.DataColumns["RemarkStatus"].Visible = false;
                grid.DataColumns["Remarks"].Visible = false;
                grid.DataColumns["TR_ID"].Visible = false;
                grid.DataColumns["YearID"].Visible = false;
                grid.DataColumns["REJECTED_COUNT"].Visible = false;
                grid.DataColumns["RESPONDED_COUNT"].Visible = false;
                grid.DataColumns["COMPLETE_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["REQ_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["OTHER_ATTACH_CNT"].Visible = false;
                grid.DataColumns["ALL_ATTACH_CNT"].Visible = false;
                grid.DataColumns["Special_Ref"].Visible = true;
            }
            if ((UserType.ToUpper() != "SUPERUSER" && UserType.ToUpper() != "AUDITOR"))
            {
                grid.DataColumns["Opening_Value"].Visible = false;
                grid.DataColumns["Curr_Value"].Visible = false;
                grid.DataColumns["Sale_Status"].Visible = false;
            }
        };
        settings.AfterPerformCallback = (s, e) =>
        {
            MVCxGridView gridView = s as MVCxGridView;
            gridView.ScrollToVisibleIndexOnClient = gridView.FocusedRowIndex;
            if (e.CallbackName == "COLUMNMOVE")
            {
                if (e.Args[1] == "-1")
                {
                    if (ColumnTobeShown.Count > 0)
                    {
                        if (ColumnTobeShown.Contains(e.Args[0]))
                        {
                            ColumnTobeShown.Remove(e.Args[0]);
                        }
                    }
                    ColumnTobeHidden.Add(e.Args[0]);
                }
                if (Convert.ToInt32(e.Args[1]) > -1)
                {
                    if (ColumnTobeHidden.Count > 0)
                    {
                        if (ColumnTobeHidden.Contains(e.Args[0]))
                        {
                            ColumnTobeHidden.Remove(e.Args[0]);
                        }
                    }
                    ColumnTobeShown.Add(e.Args[0]);
                }
            }
        };
        settings.BeforeGetCallbackResult = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (ViewData["RowKeyToFocus"] != null && ViewData["RowKeyToFocus"].ToString().Length > 0)
            {
                grid.FocusedRowIndex = grid.FindVisibleIndexByKeyValue(ViewData["RowKeyToFocus"]);
            }
            if (ViewMode == "Compact")
            {
                grid.DataColumns["PropertyLB_Compact_Column"].Visible = true;
                grid.DataColumns["Category"].Visible = false;
                grid.DataColumns["Type"].Visible = false;
                grid.DataColumns["LB_PRO_NAME"].Visible = false;
                grid.DataColumns["Address"].Visible = false;
                grid.DataColumns["Use_of_Property"].Visible = false;
                grid.DataColumns["Ownership"].Visible = false;
                grid.DataColumns["Owner"].Visible = false;
                grid.DataColumns["LB_SURVEY_NO"].Visible = false;
                grid.DataColumns["LB_TOT_P_AREA"].Visible = false;
                grid.DataColumns["LB_CON_AREA"].Visible = false;
                grid.DataColumns["Construction_Year"].Visible = false;
                grid.DataColumns["RCC_Roof"].Visible = false;
                grid.DataColumns["Opening_Value"].Visible = false;
                grid.DataColumns["Curr_Value"].Visible = false;
                grid.DataColumns["Deposit_Amount"].Visible = false;
                grid.DataColumns["Paid_Date"].Visible = false;
                grid.DataColumns["Monthly_Rent"].Visible = false;
                grid.DataColumns["Period_From"].Visible = false;
                grid.DataColumns["Period_To"].Visible = false;
                grid.DataColumns["Other_Detail"].Visible = false;
                grid.DataColumns["Sale_Status"].Visible = false;

                grid.DataColumns["Action_Status"].Visible = false;
                grid.DataColumns["Action_By"].Visible = false;
                grid.DataColumns["Action_Date"].Visible = false;
                grid.DataColumns["Add_By"].Visible = false;
                grid.DataColumns["Add_Date"].Visible = false;
                grid.DataColumns["Crossed_Time_Limit"].Visible = false;
                grid.DataColumns["Edit_By"].Visible = false;
                grid.DataColumns["Edit_Date"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["Open_Actions"].Visible = false;
                grid.DataColumns["RemarkCount"].Visible = false;
                grid.DataColumns["RemarkStatus"].Visible = false;
                grid.DataColumns["Remarks"].Visible = false;
                grid.DataColumns["TR_ID"].Visible = false;
                grid.DataColumns["YearID"].Visible = false;
                grid.DataColumns["REJECTED_COUNT"].Visible = false;
                grid.DataColumns["RESPONDED_COUNT"].Visible = false;
                grid.DataColumns["COMPLETE_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["REQ_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["OTHER_ATTACH_CNT"].Visible = false;
                grid.DataColumns["ALL_ATTACH_CNT"].Visible = false;
                grid.DataColumns["Special_Ref"].Visible = false;
            }
            else
            {
                grid.DataColumns["PropertyLB_Compact_Column"].Visible = false;
                grid.DataColumns["Category"].Visible = true;
                grid.DataColumns["Type"].Visible = true;
                grid.DataColumns["LB_PRO_NAME"].Visible = true;
                grid.DataColumns["Address"].Visible = true;
                grid.DataColumns["Use_of_Property"].Visible = true;
                grid.DataColumns["Ownership"].Visible = true;
                grid.DataColumns["Owner"].Visible = true;
                grid.DataColumns["LB_SURVEY_NO"].Visible = true;
                grid.DataColumns["LB_TOT_P_AREA"].Visible = true;
                grid.DataColumns["LB_CON_AREA"].Visible = true;
                grid.DataColumns["Construction_Year"].Visible = true;
                grid.DataColumns["RCC_Roof"].Visible = true;
                grid.DataColumns["Opening_Value"].Visible = true;
                grid.DataColumns["Curr_Value"].Visible = true;
                grid.DataColumns["Deposit_Amount"].Visible = true;
                grid.DataColumns["Paid_Date"].Visible = true;
                grid.DataColumns["Monthly_Rent"].Visible = true;
                grid.DataColumns["Period_From"].Visible = true;
                grid.DataColumns["Period_To"].Visible = true;
                grid.DataColumns["Other_Detail"].Visible = true;
                grid.DataColumns["Sale_Status"].Visible = true;

                grid.DataColumns["Action_Status"].Visible = false;
                grid.DataColumns["Action_By"].Visible = false;
                grid.DataColumns["Action_Date"].Visible = false;
                grid.DataColumns["Add_By"].Visible = false;
                grid.DataColumns["Add_Date"].Visible = false;
                grid.DataColumns["Crossed_Time_Limit"].Visible = false;
                grid.DataColumns["Edit_By"].Visible = false;
                grid.DataColumns["Edit_Date"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["Open_Actions"].Visible = false;
                grid.DataColumns["RemarkCount"].Visible = false;
                grid.DataColumns["RemarkStatus"].Visible = false;
                grid.DataColumns["Remarks"].Visible = false;
                grid.DataColumns["TR_ID"].Visible = false;
                grid.DataColumns["YearID"].Visible = false;
                grid.DataColumns["REJECTED_COUNT"].Visible = false;
                grid.DataColumns["RESPONDED_COUNT"].Visible = false;
                grid.DataColumns["COMPLETE_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["REQ_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["OTHER_ATTACH_CNT"].Visible = false;
                grid.DataColumns["ALL_ATTACH_CNT"].Visible = false;
                grid.DataColumns["Special_Ref"].Visible = true;
            }
            if ((UserType.ToUpper() != "SUPERUSER" && UserType.ToUpper() != "AUDITOR"))
            {
                grid.DataColumns["Opening_Value"].Visible = false;
                grid.DataColumns["Curr_Value"].Visible = false;
                grid.DataColumns["Sale_Status"].Visible = false;
            }
            foreach (GridViewDataColumn column in grid.DataColumns)
            {
                if (ViewMode != "Compact")
                {
                    if (ColumnTobeHidden.Contains(column.Index.ToString()))
                    {
                        column.Visible = false;
                    }
                    if (ColumnTobeShown.Contains(column.Index.ToString()))
                    {
                        column.Visible = true;
                    }
                }
                if (column.Visible)
                    column.Settings.AllowSort = DefaultBoolean.True;
                else
                    column.Settings.AllowSort = DefaultBoolean.False;
            }
        };
        settings.Settings.ShowPreview = true;
        settings.SetPreviewRowTemplateContent(c =>
        {
            if (VouchingMode == true)
            {
                Html.RenderAction("AuditButtons", "AuditButton", new { Area = "", Grid = settings.Name, KeyValue = c.KeyValue, VisibleIndex = c.VisibleIndex, SessionGUID = SessionGUID });
            }
        });

        settings.HtmlDataCellPrepared = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            string colIdx = e.DataColumn.Index.ToString();
            string rowIdx = e.VisibleIndex.ToString();
            if (VouchingMode == true)
            {
                if (e.DataColumn.FieldName.Length > 0)
                {
                    e.Cell.Attributes.Add("ondblclick", "OnGridCellClick(event,this,'" + colIdx + "', '" + rowIdx + "','" + settings.Name + "','" + e.KeyValue + "','" + e.DataColumn.FieldName + "');");
                }
                if (e.DataColumn.Name == "iIcon")
                {
                    e.Cell.Attributes.Add("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                    e.Cell.Attributes.Add("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                }
            }
            e.Cell.CssClass += " col_" + e.DataColumn.FieldName + " row_" + e.KeyValue;
            e.Cell.ID = "Cell_" + e.KeyValue + "|" + e.DataColumn.FieldName;
        };
        settings.HtmlRowCreated = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (e.RowType == GridViewRowType.Data)
            {
                //e.Row.Attributes.Add("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                //e.Row.Attributes.Add("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                e.Row.CssClass += " " + settings.Name + "_DataRow_" + e.KeyValue;
            }
            else if (e.RowType == GridViewRowType.Preview)
            {
                e.Row.BackColor = System.Drawing.Color.White;
                if (VouchingMode == true)
                {
                    e.Row.Attributes.Add("onmouseover", "OnGridPrevRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                    e.Row.Attributes.Add("onmouseout", "OnGridPrevRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                }
                e.Row.CssClass += " " + settings.Name + "_PreviewRow" + " " + settings.Name + "_PreviewRow_" + e.KeyValue;
                //e.Row.ID = "PreviewRow_" + e.KeyValue;
            }

        };

        //nested Grid

        settings.SettingsDetail.ShowDetailRow = true;
        if (VouchingMode == false)
        {
            settings.SettingsDetail.AllowOnlyOneMasterRowExpanded = true;
            settings.SettingsDetail.ExportMode = GridViewDetailExportMode.All;
            settings.SetDetailRowTemplateContent(c =>
            {
                Html.RenderAction("Frm_Property_Info_DetailGrid", new { RecID = DataBinder.Eval(c.DataItem, "ID"), MID = "", VouchingMode = VouchingMode, command = "REFRESH" });
            });
            settings.SettingsExport.GetExportDetailGridViews = (s, e) =>
            {
                string RecID = (string)DataBinder.Eval(e.DataItem, "ID");
                GridViewExtension grid = new GridViewExtension(ConnectOneMVC.Areas.Profile.Controllers.PropertyController.NestedGridExportSettings(RecID));
                grid.Bind(ConnectOneMVC.Areas.Profile.Controllers.PropertyController.NestedGridExportData(RecID));
                e.DetailGridViews.Add(grid);
            };
        }
        else
        {
            settings.DetailRowGetButtonVisibility = (s, e) =>
            {
                e.ButtonState = GridViewDetailRowButtonState.Hidden;
            };
        }

        settings.HtmlRowPrepared = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (e.RowType == GridViewRowType.Group)
            {
                e.Row.ForeColor = System.Drawing.Color.Blue;
                e.Row.Font.Bold = true;
            }
            else if (e.RowType == GridViewRowType.Data)
            {
                if (e.VisibleIndex % 2 == 0)
                {
                    e.Row.BackColor = System.Drawing.Color.Linen;
                }
                else
                {
                    e.Row.BackColor = System.Drawing.Color.AliceBlue;
                }
                if (e.GetValue("RemarkStatus") != null && ((string)e.GetValue("RemarkStatus") == "OPEN" || (string)e.GetValue("RemarkStatus") == "REOPENED"))
                {
                    e.Row.BackColor = System.Drawing.Color.Gold;
                }
                if (e.GetValue("RemarkStatus") == null && e.GetValue("Remarks") != null && (bool)e.GetValue("Remarks") == true && e.GetValue("Crossed_Time_Limit") != null && Convert.ToInt32(e.GetValue("Crossed_Time_Limit")) == 0)
                {
                    e.Row.BackColor = System.Drawing.Color.LightGreen;
                }
                if (e.GetValue("Crossed_Time_Limit") != null && Convert.ToInt32(e.GetValue("Crossed_Time_Limit")) > 0)
                {
                    e.Row.BackColor = System.Drawing.Color.MistyRose;
                }
            }
        };

        settings.CustomJSProperties = (s, e) =>
        {
            MVCxGridView gridView = (MVCxGridView)s;
            var lastVisibleColumn = gridView.VisibleColumns.LastOrDefault();
            e.Properties["cpLastVisibleColumnIndex"] = lastVisibleColumn != null ? lastVisibleColumn.Index : 0;
            e.Properties["cpHiddenColumnCaptions"] = gridView.AllColumns.Where(c => !c.Visible).ToDictionary(c => c.ToString(), c => c.Index);
            e.Properties["cpClientLayout"] = gridView.SaveClientLayout();
            string ColumnToBeShownIndex = "";
            string ColumnToBeHidddenIndex = "";
            if (ColumnTobeHidden.Count > 0)
            {
                ColumnToBeHidddenIndex = String.Join(",", ColumnTobeHidden.ToArray());
            }
            if (ColumnTobeShown.Count > 0)
            {
                ColumnToBeShownIndex = String.Join(",", ColumnTobeShown.ToArray());
            }
            e.Properties["cpColumnToBeShownIndex"] = ColumnToBeShownIndex;
            e.Properties["cpColumnToBeHidddenIndex"] = ColumnToBeHidddenIndex;
        };

        var ShowHorizontalBar = (int)ViewBag.ShowHorizontalBar;
        if (ShowHorizontalBar == 1)
        {
            settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
            settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
            settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;
            settings.SettingsResizing.Visualization = ResizingMode.Postponed;
        }
        else
        {
            settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
            settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
            settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Disabled;
            settings.SettingsAdaptivity.AllowHideDataCellsByColumnMinWidth = true;
        }

        settings.SettingsExport.EnableClientSideExportAPI = true;
        settings.SettingsExport.ExcelExportMode = DevExpress.Export.ExportType.DataAware;
        settings.SettingsExport.PageHeader.Center = "Property Listing";
        settings.SettingsExport.PageHeader.Left = ViewData["ExportGridHeaderLeft"].ToString();
        settings.SettingsExport.PageHeader.Right = ViewData["ExportGridHeaderRight"].ToString();
        settings.SettingsExport.PageFooter.Right = ViewData["ExportGridFooter"].ToString();
        settings.SettingsExport.PaperKind = System.Drawing.Printing.PaperKind.A4Rotated;
        settings.SettingsExport.TopMargin = 10;
        settings.SettingsExport.LeftMargin = 10;
        settings.SettingsExport.RightMargin = 10;
        settings.SettingsExport.BottomMargin = 10;

        settings.FillContextMenuItems = (sender, e) =>
        {
            if (e.MenuType == GridViewContextMenuType.Rows)
            {
                var Additem = e.CreateItem("New", "New");
                Additem.Image.IconID = "actions_new_16x16gray";
                if (PropertyLB_AddRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Additem);

                var Edititem = e.CreateItem("Edit", "Edit");
                Edititem.Image.IconID = "actions_edit_16x16devav";
                if (PropertyLB_UpdateRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Edititem);

                var Deleteitem = e.CreateItem("Delete", "Delete");
                Deleteitem.Image.IconID = "actions_delete_16x16devav";
                if (PropertyLB_DeleteRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Deleteitem);

                var Viewitem = e.CreateItem("View", "View");
                Viewitem.Image.IconID = "actions_show_16x16gray";
                if (PropertyLB_ViewRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Viewitem);

                var ChangeRent = e.CreateItem("Change Rent Details", "ChangeRent");
                ChangeRent.Image.IconID = "actions_edit_16x16devav";
                if (PropertyLB_UpdateRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), ChangeRent);

                var ChangePropertyType = e.CreateItem("Change Property Type", "ChangePropertyType");
                ChangePropertyType.Image.IconID = "actions_edit_16x16devav";
                if (PropertyLB_UpdateRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), ChangePropertyType);

                var PrintViewitem = e.CreateItem("Export", "ListPreview");
                PrintViewitem.Image.IconID = "actions_hideproduct_16x16devav";
                PrintViewitem.BeginGroup = true;
                if (PropertyLB_ExportRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), PrintViewitem);

                var AuditAction = e.CreateItem("Audit Actions", "AuditActions");
                AuditAction.Image.Url = "../../../../Icons/Audit Actions1_16x16.png";
                if (PropertyLB_ManageRemarks)
                {
                    AuditAction.Items.Add("New", "NewAudit").Image.Url = "../../../../Icons/New button2_16x16.png";
                }
                AuditAction.Items.Add("View", "ViewAudit").Image.Url = "../../../../Icons/View button1_16x16.png";
                if (PropertyLB_LockUnlockRight)
                {
                    AuditAction.Items.Add("Lock", "Lock").Image.Url = "../../../../Icons/Lock1_16x16.png";
                    AuditAction.Items.Add("Unlock", "Unlock").Image.Url = "../../../../Icons/Unlock1_16x16.png";
                }

                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), AuditAction);

                var CloseItem = e.CreateItem("Close", "Close");
                CloseItem.Image.IconID = "actions_close_16x16devav";
                CloseItem.BeginGroup = true;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), CloseItem);
            }
        };
        settings.SettingsContextMenu.Enabled = true;
        settings.SettingsContextMenu.RowMenuItemVisibility.DeleteRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.EditRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.NewRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.ExpandDetailRow = VouchingMode == true ? false : true;
        settings.SettingsContextMenu.RowMenuItemVisibility.CollapseDetailRow = VouchingMode == true ? false : true;

        settings.PreRender = (sender, e) =>
        {
            MVCxGridView gridView = sender as MVCxGridView;
            if (ViewData["Layout"] != null)
            {
                gridView.LoadClientLayout(ViewData["Layout"].ToString());
            }
        };

        settings.Settings.ShowGroupedColumns = false;
        settings.Settings.ShowGroupFooter = PropertyLB_SpecialGrouping == true ? GridViewGroupFooterMode.Hidden : GridViewGroupFooterMode.VisibleAlways;
        settings.SettingsContextMenu.EnableGroupFooterMenu = PropertyLB_SpecialGrouping == true ? DefaultBoolean.False : DefaultBoolean.True;
        settings.SettingsBehavior.AutoExpandAllGroups = true;
        settings.Settings.GroupFormat = "{1}";
        settings.Styles.GroupFooter.Font.Bold = true;


        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;



        settings.KeyboardSupport = true;
        //settings.AccessKey = "G";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.SettingsBehavior.ProcessColumnMoveOnClient = true;
        settings.SettingsBehavior.ColumnMoveMode = GridColumnMoveMode.AmongSiblings;

        settings.Settings.UseFixedTableLayout = true;
        settings.SettingsBehavior.AllowSelectByRowClick = false;
        settings.SettingsBehavior.AllowFocusedRow = true;
        settings.SettingsBehavior.AllowSort = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;
        settings.Settings.ShowHeaderFilterButton = true;
        settings.Settings.ShowHeaderFilterBlankItems = false;
        settings.Settings.ShowFilterRow = false;
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;

        settings.SettingsSearchPanel.ShowApplyButton = true;
        settings.SettingsPager.Mode = GridViewPagerMode.ShowPager;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSize = 25;
        settings.SettingsPager.AllButton.Visible = true;
        settings.SettingsSearchPanel.ShowClearButton = true;




        settings.KeyFieldName = "ID";

        settings.Columns.Add(column =>
        {
            column.Name = "iIcon";
            column.Caption = "";
            column.MinWidth = 30;
            column.MaxWidth = 30;
            column.Width = 30;
            column.FieldName = "iIcon";
            column.HeaderStyle.CssClass = "hide-header_iIcon";
            column.CellStyle.Wrap = DefaultBoolean.True;
            column.SetDataItemTemplateContent(c =>
            {
                Int32? iREQ_ATTACH_COUNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "REQ_ATTACH_COUNT");
                Int32? iCOMPLETE_ATTACH_COUNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "COMPLETE_ATTACH_COUNT");
                Int32? iRESPONDED_COUNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "RESPONDED_COUNT");
                Int32? iREJECTED_COUNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "REJECTED_COUNT");
                Int32? iOTHER_ATTACH_CNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "OTHER_ATTACH_CNT");
                Int32? iALL_ATTACH_CNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "ALL_ATTACH_CNT");
                string iIcon = c.Grid.GetRowValues(c.VisibleIndex, "iIcon") == null ? "" : c.Grid.GetRowValues(c.VisibleIndex, "iIcon").ToString();
                string TempID = c.Grid.GetRowValues(c.VisibleIndex, "ID") == null ? "" : c.Grid.GetRowValues(c.VisibleIndex, "ID").ToString();
                TempID = Regex.Replace(TempID, "[^0-9A-Za-z-]+", "_");
                Html.RenderAction("AttachmentIcons", "AuditButton", new { Area = "", ReqAttachCount = iREQ_ATTACH_COUNT, CompleteAttachCount = iCOMPLETE_ATTACH_COUNT, RespondedCount = iRESPONDED_COUNT, RejectedCount = iREJECTED_COUNT, OtherCount = iOTHER_ATTACH_CNT, AllCount = iALL_ATTACH_CNT, SessionGUID = SessionGUID });
                ViewContext.Writer.Write("<div class='Icon_" + c.Grid.UniqueID + TempID + "'>");
                Html.RenderAction("VouchingAuditIcons", "AuditButton", new { Area = "", iIcon = iIcon, SessionGUID = SessionGUID });
                ViewContext.Writer.Write("</div>");
                Html.RenderAction("AuditIconAfterClick", "AuditButton", new { Area = "", Grid = settings.Name, KeyValue = c.KeyValue, VisibleIndex = c.VisibleIndex, SessionGUID = SessionGUID });
                column.AdaptivePriority = 0;
            });
        });

        settings.Columns.Add(column =>
        {
            column.Name = "PropertyLB_Compact_Column";
            column.Width = Unit.Percentage(100);
            column.CellStyle.Wrap = DefaultBoolean.True;
            column.SetDataItemTemplateContent(c =>
            {
                ViewContext.Writer.Write(
                    "<div class='container-fluid'>" +
                      "<div class='row no-gutters'>" +
                          "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                             "<div class='row no-gutters'>" +
                              "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                                 "<label class='control-label'>Category:</label>" +
                              "</div>" +
                              "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Category' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                 DataBinder.Eval(c.DataItem, "Category") +
                              "</div>" +
                            "</div>" +
                           "</div>" +
                     "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                         "<div class='row no-gutters'>" +
                             "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                                 "<label class='control-label'>Type:</label>" +
                             "</div>" +
                         "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Type' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Type") +
                "</div>" +
                         "</div>" +
                     "</div>" +
                 "</div>");
                ViewContext.Writer.Write(
    "<div class='row no-gutters'>" +
        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='row no-gutters'>" +
                "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                     "<label class='control-label'>Property / Building Name:</label></div>" +
                        "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|LB_PRO_NAME' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "LB_PRO_NAME") +
                "</div>" +
            "</div>" +
        "</div>" +
        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
            "<div class='row no-gutters'>" +
                "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                   "<label class='control-label'>Address:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Address' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Address") +
                "</div>" +
            "</div>" +
        "</div>" +
    "</div>");
                ViewContext.Writer.Write(
    "<div class='row no-gutters'>" +
    "<div class='col-sm-12 col-md-6 col-lg-6'>" +
    "<div class='row no-gutters'>" +
    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
       "<label class='control-label'>Use of Property:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Use_of_Property' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Use_of_Property") +
    "</div>" +
    "</div>" +
    "</div>" +
    "<div class='col-sm-12 col-md-6 col-lg-6'>" +
    "<div class='row no-gutters'>" +
    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
      "<label class='control-label'>Ownership:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Ownership' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Ownership") +
    "</div>" +
    "</div>" +
    "</div>" +
    "</div>");
                ViewContext.Writer.Write(
    "<div class='row no-gutters'>" +
    "<div class='col-sm-12 col-md-6 col-lg-6'>" +
    "<div class='row no-gutters'>" +
    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
     "<label class='control-label'>Owner:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Owner' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Owner") +
    "</div>" +
    "</div>" +
    "</div>" +
    "<div class='col-sm-12 col-md-6 col-lg-6'>" +
    "<div class='row no-gutters'>" +
    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
    "<label class='control-label'>Survey No.:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|LB_SURVEY_NO' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "LB_SURVEY_NO") +
    "</div>" +
    "</div>" +
    "</div>" +
    "</div>");
                ViewContext.Writer.Write(
    "<div class='row no-gutters'>" +
    "<div class='col-sm-12 col-md-6 col-lg-6'>" +
    "<div class='row no-gutters'>" +
    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
    "<label class='control-label'>Total Plot Area (Sq.Ft.):</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|LB_TOT_P_AREA' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "LB_TOT_P_AREA") +
    "</div>" +
    "</div>" +
    "</div>" +
    "<div class='col-sm-12 col-md-6 col-lg-6'>" +
    "<div class='row no-gutters'>" +
    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
     "<label class='control-label'>Constructed Area (Sq.Ft.):</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|LB_CON_AREA' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "LB_CON_AREA") +
    "</div>" +
    "</div>" +
    "</div>" +
    "</div>");
                ViewContext.Writer.Write(
    "<div class='row no-gutters'>" +
    "<div class='col-sm-12 col-md-6 col-lg-6'>" +
    "<div class='row no-gutters'>" +
    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
    "<label class='control-label'>Construction Year:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Construction_Year' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Construction_Year") +
    "</div>" +
    "</div>" +
    "</div>" +
    "<div class='col-sm-12 col-md-6 col-lg-6'>" +
    "<div class='row no-gutters'>" +
    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
        "<label class='control-label'>RCC Roof:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|RCC_Roof' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "RCC_Roof") +
    "</div>" +
    "</div>" +
    "</div>" +
    "</div>");
                if (UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR")
                {
                    ViewContext.Writer.Write(
    "<div class='row no-gutters'>" +
    "<div class='col-sm-12 col-md-6 col-lg-6'>" +
    "<div class='row no-gutters'>" +
    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
     "<label class='control-label'>Opening Value:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Opening_Value' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Opening_Value") +
    "</div>" +
    "</div>" +
    "</div>" +
    "<div class='col-sm-12 col-md-6 col-lg-6'>" +
    "<div class='row no-gutters'>" +
    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
        "<label class='control-label'>Curr. Value:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Curr_Value' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Curr_Value") +
    "</div>" +
    "</div>" +
    "</div>" +
    "</div>");
                }
                ViewContext.Writer.Write(
    "<div class='row no-gutters'>" +
    "<div class='col-sm-12 col-md-6 col-lg-6'>" +
    "<div class='row no-gutters'>" +
    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
    "<label class='control-label'>Deposit Amount:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Deposit_Amount' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Deposit_Amount") +
    "</div>" +
    "</div>" +
    "</div>" +
    "<div class='col-sm-12 col-md-6 col-lg-6'>" +
    "<div class='row no-gutters'>" +
    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
      "<label class='control-label'>Paid Date:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Paid_Date' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Paid_Date") +
    "</div>" +
    "</div>" +
    "</div>" +
    "</div>");
                ViewContext.Writer.Write(
    "<div class='row no-gutters'>" +
    "<div class='col-sm-12 col-md-6 col-lg-6'>" +
    "<div class='row no-gutters'>" +
    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
     "<label class='control-label'>Monthly Rent:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Monthly_Rent' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Monthly_Rent") +
    "</div>" +
    "</div>" +
    "</div>" +
    "<div class='col-sm-12 col-md-6 col-lg-6'>" +
    "<div class='row no-gutters'>" +
    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
          "<label class='control-label'>Period From:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Period_From' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Period_From") +
    "</div>" +
    "</div>" +
    "</div>" +
    "</div>");
                ViewContext.Writer.Write(
    "<div class='row no-gutters'>" +
    "<div class='col-sm-12 col-md-6 col-lg-6'>" +
    "<div class='row no-gutters'>" +
    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
       "<label class='control-label'>Period To:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Period_To' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Period_To") +
    "</div>" +
    "</div>" +
    "</div>" +
    "<div class='col-sm-12 col-md-6 col-lg-6'>" +
    "<div class='row no-gutters'>" +
    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
          "<label class='control-label'>Other Detail:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Other_Detail' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Other_Detail") +
    "</div>" +
    "</div>" +
    "</div>" +
    "</div>");
                //                if (UserType.ToUpper() == "SUPERUSER" || UserType.ToUpper() == "AUDITOR")
                //                {
                //                    ViewContext.Writer.Write(
                //"<div class='row no-gutters'>" +
                //"<div class='col-sm-12 col-md-6 col-lg-6'>" +
                //"<div class='row no-gutters'>" +
                //"<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                //    "<label class='control-label'>Sale Status:</label></div>" +
                //                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Sale_Status' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                //                            DataBinder.Eval(c.DataItem, "Sale_Status") +
                //"</div>" +
                //"</div>" +
                //"</div>" +
                //"</div></div>");
                //                }
                //                else
                //                {
                //                    ViewContext.Writer.Write("</div>");
                //                }
                ViewContext.Writer.Write(
                        "<div class='row no-gutters'>" +
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='row no-gutters'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Reference:</label></div>" +
                                    "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Special_Ref' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                    DataBinder.Eval(c.DataItem, "Special_Ref") +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='row no-gutters'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Sale Status:</label></div>" +
                                "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Sale_Status' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                DataBinder.Eval(c.DataItem, "Sale_Status") +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        "</div>");
            });
        });

        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Entry_Type",
            Visible = true,
            MinWidth = 125,
            GroupIndex = PropertyLB_SpecialGrouping ? 0 : -1
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Category";
                column.Caption = "Category";
                column.MinWidth = 125;
                column.MaxWidth = 180;
                column.GroupIndex = PropertyLB_SpecialGrouping == true ? 2 : 0;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Type";
                column.Caption = "Type";
                column.MinWidth = 125;
                column.MaxWidth = 180;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "LB_PRO_NAME";
                column.Caption = "Property / Building Name";
                column.MinWidth = 235;

            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Address";
                column.Caption = "Address";
                column.MinWidth = 250;

            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Use_of_Property";
                column.Caption = "Use of Property";
                column.MinWidth = 160;
                column.MaxWidth = 180;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Ownership";
                column.Caption = "Ownership";
                column.MinWidth = 175;
                column.MaxWidth = 180;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Owner";
                column.Caption = "Owner";
                column.MinWidth = 160;
                column.MaxWidth = 180;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Special_Ref";
                column.Caption = "Reference";
                column.MinWidth = 160;
                column.MaxWidth = 180;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "LB_SURVEY_NO";
                column.Caption = "Survey No.";
                column.MinWidth = 125;
                column.MaxWidth = 180;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "LB_TOT_P_AREA";
                column.Caption = "Total Plot Area (Sq.Ft.)";
                column.MinWidth = 170;
                column.MaxWidth = 180;
                column.PropertiesEdit.DisplayFormatString = "#0.000";
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "LB_CON_AREA";
                column.Caption = "Constructed Area (Sq.Ft.)";
                column.MinWidth = 170;
                column.MaxWidth = 180;
                column.PropertiesEdit.DisplayFormatString = "#0.000";
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Construction_Year";
                column.Caption = "Construction Year";
                column.MinWidth = 170;
                column.MaxWidth = 180;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "RCC_Roof";
                column.Caption = "RCC Roof";
                column.MinWidth = 120;
                column.MaxWidth = 180;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Opening_Value";
                column.Caption = "Opening Value";
                column.MinWidth = 155;
                column.MaxWidth = 180;
                column.PropertiesEdit.DisplayFormatString = "#0.00";
                column.Visible = (UserType.ToUpper() != "SUPERUSER" && UserType.ToUpper() != "AUDITOR") ? false : true;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Curr_Value";
                column.Caption = "Curr. Value";
                column.MinWidth = 135;
                column.MaxWidth = 180;
                column.Visible = (UserType.ToUpper() != "SUPERUSER" && UserType.ToUpper() != "AUDITOR") ? false : true;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Deposit_Amount";
                column.Caption = "Deposit Amount";
                column.MinWidth = 155;
                column.MaxWidth = 180;
                column.PropertiesEdit.DisplayFormatString = "#0.00";
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Paid_Date";
                column.Caption = "Paid Date";
                column.MinWidth = 125;
                column.MaxWidth = 180;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Monthly_Rent";
                column.Caption = "Monthly Rent";
                column.MinWidth = 140;
                column.MaxWidth = 180;
                column.PropertiesEdit.DisplayFormatString = "#0.00";
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Other_Monthly_Payments";
                column.Caption = "Other Monthly Payments";
                column.MinWidth = 140;
                column.MaxWidth = 180;
                column.PropertiesEdit.DisplayFormatString = "#0.00";
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Period_From";
                column.Caption = "Period From";
                column.MinWidth = 140;
                column.MaxWidth = 180;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Period_To";
                column.Caption = "Period To";
                column.MinWidth = 140;
                column.MaxWidth = 180;

            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Other_Detail";
                column.Caption = "Other Detail";
                column.MinWidth = 170;
                column.MaxWidth = 180;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Sale_Status";
                column.Caption = "Sale Status";
                column.MinWidth = 125;
                column.MaxWidth = 180;
                column.Visible = (UserType.ToUpper() != "SUPERUSER" && UserType.ToUpper() != "AUDITOR") ? false : true;
            }
        });

        if (PropertyLB_SpecialGrouping == true)
        {
            settings.Columns.Add(new MVCxGridViewColumn()
            {
                FieldName = "Action_Status",
                Visible = true,
                MinWidth = 125,
                GroupIndex = 1
            });
        }
        else
        {
            settings.Columns.Add(new MVCxGridViewColumn()
            {
                FieldName = "Action_Status",
                //Caption = "Type",
                Visible = false,
                MinWidth = 125
            });
        }
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Action_By",
            Caption = "Action By",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Action_Date",
            Caption = "Action Date",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Add_By",
            Caption = "Add By",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Add_Date",
            Caption = "Add Date",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Crossed_Time_Limit",
            Caption = "Crossed Time Limit",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Edit_By",
            Caption = "Edit By",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Edit_Date",
            Caption = "Edit Date",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "ID",
            Caption = "ID",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Open_Actions",
            Caption = "Open Actions",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "RemarkCount",
            Caption = "Remark Count",
            Visible = false,
            MinWidth = 125

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "RemarkStatus",
            Caption = "Remark Status",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Remarks",
            Caption = "Remarks",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "TR_ID",
            Caption = "Tr. ID",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "YearID",
            Caption = "Year ID",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "REJECTED_COUNT",
            Caption = "iREJECTED_COUNT",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "RESPONDED_COUNT",
            Caption = "iRESPONDED_COUNT",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "COMPLETE_ATTACH_COUNT",
            Caption = "iCOMPLETE_ATTACH_COUNT",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "REQ_ATTACH_COUNT",
            Caption = "iREQ_ATTACH_COUNT",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "OTHER_ATTACH_CNT",
            Caption = "OTHER_ATTACH_CNT",
            Visible = false,
            MinWidth = 125
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "ALL_ATTACH_CNT",
            Caption = "ALL_ATTACH_CNT",
            Visible = false,
            MinWidth = 125
        });


        // show filter control
        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
        settings.SettingsFilterControl.ViewMode = true ? FilterControlViewMode.VisualAndText : FilterControlViewMode.Visual;
        settings.SettingsFilterControl.AllowHierarchicalColumns = true;// AllowHierarchicalColumns;
        settings.SettingsFilterControl.ShowAllDataSourceColumns = true;//FilterBuilderDemoHelper.Options.ShowAllDataSourceColumns;
        settings.SettingsFilterControl.MaxHierarchyDepth = 1;

        settings.Settings.ShowFooter = false;
        settings.SettingsCustomizationDialog.ShowSortingPage = true;
        settings.SettingsCustomizationDialog.ShowGroupingPage = true;
        settings.SettingsCustomizationDialog.ShowFilteringPage = true;
        settings.SettingsCustomizationDialog.ShowColumnChooserPage = true;

        settings.Settings.ShowGroupedColumns = false;
        settings.ClientSideEvents.Init = "PropertyOnInit";
        settings.ClientSideEvents.ContextMenuItemClick = "PropertyContextMenuFunction";
        if (VouchingMode == false)
        {
            settings.ClientSideEvents.RowDblClick = "Property_dblclickEdit";
        }
        settings.ClientSideEvents.BeginCallback = "PropertyGrid_BeginCallBack";
        settings.ClientSideEvents.FocusedRowChanged = "OnPropertyGridFocusedRowChanged";
        settings.ClientSideEvents.EndCallback = "OnGridPropertyListGrid_EndCallback";
        settings.ClientSideEvents.DetailRowCollapsing = "PropertyGrid_DetailRowCollapsing";
        settings.ClientSideEvents.DetailRowExpanding = "PropertyGrid_DetailRowExpanding";
        MyExtensions.GridViewHelper.Custom_HeaderFilterFillItems_All(settings);
        MyExtensions.GridViewHelper.CustomGridView(settings);
    }).Bind(Model).GetHtml()