@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Profile.Models.PropertyWindowProfile
<style>
/*    .dx-checkbox-text {
        width: auto;
    }*/
</style>
<div class="row">
    <div class="col-md-12">
        <div class="form-field">
            <ul class="custom-checkbox-list MagazineMember-list">
                @if (ViewBag.PPDocumentList != null)
                {
                    var documents = (List<Common_Lib.DbOperations.Return_LB_Documents>)ViewBag.PPDocumentList;
                    documents = documents.Where(x => x.ID != null && x.Name != "").ToList();
                    for (int i = 0; i < documents.Count; i++)
                    {
                        var modelItems = Model.Document;
                        var check = false;
                        if (modelItems != null)
                        {
                            check = modelItems.Select(y => y.ID).Any(x => x == documents[i].ID);
                        }
                        <li>
                            @Html.Hidden("Document[" + i + "].ID", documents[i].ID)
                            @Html.DevExtreme().CheckBox().Name("Document[" + i + "].Selected").Text(documents[i].Name).Value(check)
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-field">
            <div class="row">
                <div class="col-md-2">
                    @(Html.DevExtreme().CheckBox()
                                                                .ID("Chk_OtherDoc_LBW")
                                                                .Name("Chk_OtherDoc_LBW")
                                                                .Value(Model.Chk_OtherDoc_LBW)
                                                                .Text("Other Documents")
                                                                .OnValueChanged("Chk_OtherDoc_CheckedChanged_LBW")

                                                                )
                </div>
                <div class="col-md-10">
                    @(Html.DevExtreme().TextBox().CustomTextBox(true)
                                                .ID("Txt_OtherDoc_LBW")
                                                .Name("Txt_OtherDoc_LBW")
                                                .Value(Model.Txt_OtherDoc_LBW).Placeholder("Type Any Other Documents Name...")
                                                .ReadOnly(Model.Chk_OtherDoc_LBW == true ? false : true)
                                                .MaxLength(100)
                             )

                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>
