@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Account.Models.Frm_Property_Window_Model
    @{ var isvisible = (Model.Tag == Common_Lib.Common.Navigation_Mode._View || Model.Tag == Common_Lib.Common.Navigation_Mode._Delete) ? true : false;}
<style>
/*    .dx-checkbox-text {
        width:auto;
    }*/
</style>
<div class="row">
    <div class="col-md-12">
        <div class="form-field">
            <div class="container-fluid">
                <ul class="custom-checkbox-list MagazineMember-list">
                    @if (Model.PPDocumentList != null)
                    {
                        var documents = Model.PPDocumentList;
                        documents = documents.Where(x => x.ID != null && x.Name != "").ToList();
                        for (int i = 0; i < documents.Count; i++)
                        {
                            var modelItems = Model.Document;
                            var check = false;
                            if (modelItems != null)
                            {
                                check = modelItems.Select(y => y.ID).Any(x => x == documents[i].ID);
                            }
                            <li>
                                @Html.Hidden("Document[" + i + "].ID", documents[i].ID)
                                @Html.DevExtreme().CheckBox().Name("Document[" + i + "].Selected").Text(documents[i].Name).Value(check).Disabled(isvisible)
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-field">
        <div class="container-fluid">
            <div class="col-md-2">
                @(Html.DevExtreme().CheckBox().ID("Chk_OtherDoc_temp").Name("Chk_OtherDoc_temp").Value(Model.Chk_OtherDoc).Text("Other Documents").OnValueChanged("Chk_OtherDoc_CheckedChanged").Disabled(isvisible))
            </div>
            <div class="col-md-10">
                @(Html.DevExtreme().TextBox().CustomTextBox(true).ID("Txt_OtherDoc").Name("Txt_OtherDoc").Value(Model.Txt_OtherDoc).ReadOnly(Model.Chk_OtherDoc==true?false:true).MaxLength(100).Placeholder("Type Any Other Documents Name...") )
            </div>
        </div>
    </div>
</div>
<script>
   
    </script>
