<div>
    <div class="col-sm-3 col-md-3 logo width200">
        <a href="#"><img src="~/Content/image/logo.png" alt="connect one" class="img-responsive"></a>
    </div>
    <div class="dashboardLogout">
        <a href="#" style="color: white !important;">Logout</a>
    </div>
</div>
