


@Html.DevExpress().Splitter(settings =>

{
    settings.Name = "Mainspliter";

    settings.Height = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Orientation = Orientation.Vertical;

    settings.ClientSideEvents.PaneResizeCompleted = "OnSplitterPaneResized";
    settings.ClientSideEvents.Init = "OnSplitterPaneInit";
    settings.ClientSideEvents.PaneCollapsed = "OnSplitterPaneCollpased";
    settings.ClientSideEvents.PaneExpanded = "OnSplitterPaneExpanded";

    // settings.ClientSideEvents.PaneCollapsing = "OnSplitterPaneCollapsing";
    //settings.Panes.Add(pane =>
    //{
    //    pane.Name = "headerpane";
    //    pane.AllowResize = DefaultBoolean.True;
    //    pane.Size = 130;
    //    pane.ShowCollapseBackwardButton = DefaultBoolean.True;
    //    //pane.ShowCollapseForwardButton = DefaultBoolean.False;
    //    pane.ScrollBars = ScrollBars.Auto;
    //    pane.SetContent(() =>
    //    {
    //        @Html.RenderPartial("_header");
    //    });
    //});
    settings.Panes.Add(pane =>
    {
        pane.Name = "BodyPane";
        pane.AllowResize = DefaultBoolean.True;
        pane.Size = System.Web.UI.WebControls.Unit.Percentage(100);
        pane.ShowCollapseBackwardButton = DefaultBoolean.True;
        pane.ShowCollapseForwardButton = DefaultBoolean.True;
        pane.ScrollBars = ScrollBars.Auto;
        pane.SetContent(() =>
        {
            ViewContext.Writer.Write("");
        });
        pane.Panes.Add(LeftPane =>
        {
            LeftPane.Name = "LeftPane";
            LeftPane.AllowResize = DefaultBoolean.True;
            LeftPane.Size = System.Web.UI.WebControls.Unit.Percentage(25);
            settings.ShowCollapseBackwardButton = true;
            settings.ShowCollapseForwardButton = true;
            LeftPane.Collapsed = true;
            LeftPane.ScrollBars = ScrollBars.Auto;
            LeftPane.SetContent(() =>
            {
                ViewContext.Writer.Write("<div id ='LeftPane_Div_Content' class='LeftPane_Div_ClearReference'></div>");

            });
        });

        pane.Panes.Add(MiddlePane =>
        {
            MiddlePane.Name = "MiddlePane";
            MiddlePane.AllowResize = DefaultBoolean.True;
            MiddlePane.Size = System.Web.UI.WebControls.Unit.Percentage(35);
            MiddlePane.ShowCollapseBackwardButton = DefaultBoolean.True;
            MiddlePane.ShowCollapseForwardButton = DefaultBoolean.True;
            MiddlePane.ScrollBars = ScrollBars.Auto;
            MiddlePane.SetContent(() =>
            {
                Html.RenderPartial("_Tabs");
            });

        });
        pane.Panes.Add(RightPane =>
        {
            RightPane.Name = "RightPane";
            RightPane.AllowResize = DefaultBoolean.True;
            RightPane.Collapsed = true;
            RightPane.Size = System.Web.UI.WebControls.Unit.Percentage(40);
            RightPane.ShowCollapseBackwardButton = DefaultBoolean.True;
            RightPane.ShowCollapseForwardButton = DefaultBoolean.True;
            RightPane.ScrollBars = ScrollBars.Auto;



            RightPane.Panes.Add(TopRightPane =>
            {
                TopRightPane.Name = "TopRightPane";
                TopRightPane.AllowResize = DefaultBoolean.True;
                TopRightPane.Collapsed = false;
                TopRightPane.Size = System.Web.UI.WebControls.Unit.Percentage(50);
                TopRightPane.ShowCollapseBackwardButton = DefaultBoolean.True;
                TopRightPane.ShowCollapseForwardButton = DefaultBoolean.True;
                TopRightPane.ScrollBars = ScrollBars.Auto;
                TopRightPane.SetContent(() =>
                {
                    ViewContext.Writer.Write("<div id ='RightPane_div_Iframe'style='height:100%'>");
                    ViewContext.Writer.Write("<iframe src = '' id ='RightPane_Iframe' style='border: 0; width: 100%; height: 100%; overflow: visible;'> ");
                    ViewContext.Writer.Write("</iframe></div>");
                    ViewContext.Writer.Write("<div id = 'RightPane_div_Img_ToolBar'style='display: none'></div><br>");
                    ViewContext.Writer.Write("<div id ='RightPane_div_Img'>");
                    ViewContext.Writer.Write("<img src = '' id ='RightPane_Img'  />");
                    ViewContext.Writer.Write("</div>");

                });
            });
            //bottom right pane here
            RightPane.Panes.Add(BottomRightPane =>
            {
                BottomRightPane.Name = "BottomRightPane";
                BottomRightPane.AllowResize = DefaultBoolean.True;
                BottomRightPane.Collapsed = true;
                BottomRightPane.Size = System.Web.UI.WebControls.Unit.Percentage(50);
                BottomRightPane.ShowCollapseBackwardButton = DefaultBoolean.False;
                BottomRightPane.ShowCollapseForwardButton = DefaultBoolean.True;
                BottomRightPane.ScrollBars = ScrollBars.Auto;
                BottomRightPane.Separator.Size = 3;
                BottomRightPane.Separator.SeparatorStyle.BackColor = System.Drawing.Color.LightGray;
                BottomRightPane.SetContent(() =>
                {
                    ViewContext.Writer.Write("<b>Universal Content : </b><div id ='BottomRightPane_div_Iframe'style='height:100%'>");
                    ViewContext.Writer.Write("<iframe src = '' id ='BottomRightPane_Iframe' style='border: 0; width: 100%; height: 100%; overflow: visible;'> ");
                    ViewContext.Writer.Write("</iframe></div>");
                    ViewContext.Writer.Write("<div id = 'BottomRightPane_div_Img_ToolBar'style='display: none'></div><br>");
                    ViewContext.Writer.Write("<div id ='BottomRightPane_div_Img'>");
                    ViewContext.Writer.Write("<img src = '' id ='BottomRightPane_Img'  />");
                    ViewContext.Writer.Write("</div>");
                    Html.RenderPartial("AttachmentFAB", "UniversalDoc_FAB,BottomRightPane_div_Img,Type4,UniversalDoc," + "CLIENT ROLE");
                });
            });

        });


    });
    //settings.Panes.Add(pane =>
    //{
    //    pane.Name = "BottomPane";
    //    pane.AllowResize = DefaultBoolean.True;
    //    pane.Size = System.Web.UI.WebControls.Unit.Percentage(20);
    //    pane.ShowCollapseBackwardButton = DefaultBoolean.True;
    //    pane.ShowCollapseForwardButton = DefaultBoolean.True;
    //    pane.ScrollBars = ScrollBars.Auto;
    //    pane.Collapsed = true;
    //    pane.SetContent(() =>
    //    {
    //        ViewContext.Writer.Write("");
    //    });
    //    pane.Panes.Add(BottomLeft =>
    //    {
    //        BottomLeft.Name = "BottomLeft";
    //        BottomLeft.AllowResize = DefaultBoolean.True;
    //        BottomLeft.Size = System.Web.UI.WebControls.Unit.Percentage(60);
    //        settings.ShowCollapseBackwardButton = true;
    //        settings.ShowCollapseForwardButton = true;
    //        BottomLeft.ScrollBars = ScrollBars.Auto;
    //        BottomLeft.SetContent(() =>
    //        {
    //            ViewContext.Writer.Write("");
    //        });

    //    });
    //    pane.Panes.Add(BottomRight =>
    //    {
    //        BottomRight.Name = "BottomRight";
    //        BottomRight.AllowResize = DefaultBoolean.True;
    //        BottomRight.Size = System.Web.UI.WebControls.Unit.Percentage(40);
    //        settings.ShowCollapseBackwardButton = true;
    //        settings.ShowCollapseForwardButton = true;
    //        BottomRight.ScrollBars = ScrollBars.Auto;
    //        BottomRight.SetContent(() =>
    //        {
    //            ViewContext.Writer.Write("");
    //        });

    //    });
    //});
}).GetHtml()
