<div role="tabpanel" class="notification-tab clearfix" style="margin-bottom:0px !important" id="TabMainDivID">
    <ul class="nav nav-tabs TabPanalMenu-tabs opened-tabs" role="tablist"></ul>
    <div class="tab-content TabPanalMenu-content" id="TabPanalMenu-content_DivID">
        @* redmine bug #132965 fixed*@

    </div>
</div>