@using DevExtreme.AspNet.Mvc;
<style>
    .sendRequest {
        padding:7px;
    }
        .sendRequest > img {
            margin-top: -4px;
        }
</style>
<div class="sendRequest">
<img src="/Content/image/send-icon.png">
<span style="color:saddlebrown; margin-top:6px" onclick="javascript: Request_Drop();">Send Your Request to Madhuban</span></div>
@(Html.DevExtreme().Popup().CustomPopup().ID("Send_Request_To_Madhuban_Popup").CloseOnOutsideClick(false).ShowTitle(true).ContentTemplate(@<text> <div id="result_DropRequest"> </div> </text>) )
<script>
    function Request_Drop()
    {       
        $("#Send_Request_To_Madhuban_Popup").dxPopup("instance").option("title", "@Model");
        $("#Send_Request_To_Madhuban_Popup").dxPopup("show");
        $("#Send_Request_To_Madhuban_Popup").dxPopup("instance").option("width", 600);
        $("#Send_Request_To_Madhuban_Popup").dxPopup("instance").option("height", "auto");
        $("#Send_Request_To_Madhuban_Popup").dxPopup("instance").option("position.my", "top");
        $("#Send_Request_To_Madhuban_Popup").dxPopup("instance").option("position.at", "top");
        $("#Send_Request_To_Madhuban_Popup").dxPopup("instance").option("position.of", window);
        $("#result_DropRequest").html('');
        ShowLoader();

        $.ajax({
            type: 'Get',
            url: "/Help/RequestBox/Frm_Request_Window",
            data: { PopUpId: "Send_Request_To_Madhuban_Popup", ActionMethod: "New", _Send_From: "@Model".split(/[()]/)[1].trim() },
            cache: false,
            success: function (resultsuccess) {
                $("#result_DropRequest").html(resultsuccess);
                HideLoader();
            }
        });
    }
</script>