@using DevExtreme.AspNet.Mvc;
<div style="padding:20px">
    @(Html.DevExtreme().Form()
    .ID("form")
    .LabelLocation(FormLabelLocation.Top)
    .MinColWidth(233)
    .ColCount(Mode.Auto)
    .Height("100%")
    .ColCountByScreen(c => c.Lg(4).Md(3).Sm(2).Xs(1))
    .ScreenByWidth("screenByWidth")
    .CustomizeItem("form_customizeItem")
    .FormData(Model)
    )
</div>
@*<div class="options">
    <div class="caption">Options</div>
    <div class="option">
        @(Html.DevExtreme().CheckBox()
            .Text("Set the count of columns regardless of screen size")
            .Value(true)
            .OnValueChanged("ckeckBox_valueChanged")
        )
    </div>
</div>*@

<script>
    function getFormInstance() {
        return $("#form").dxForm("instance");
    }

    function screenByWidth(width) {
        if (width > 1200) return "lg";
        if (width > 991 && width < 1200) return "md";
        if (width > 720 && width < 991) return "sm";
        if (width <720) return "xs";
        //return width < 720 ? "sm" : "md";
    }

    function ckeckBox_valueChanged(e) {
        var form = getFormInstance();
        if(e.value) {
            form.option("colCountByScreen.sm", 2);
            form.option("colCountByScreen.md", 4);
        } else {
            form.option("colCountByScreen.sm", undefined);
            form.option("colCountByScreen.md", undefined);
        }
    }

    function form_customizeItem(item) {
        if(item.dataField == "Notes")
            item.visible = false;
    }
</script>