@using DevExtreme.AspNet.Mvc;


<div>
    <textarea rows="4" cols="50" readonly="readonly" disabled="disabled" title="Remarks:">@ViewBag.ViewRemarks</textarea>
</div>
<div class="row styleActionBtn marginAll8">
    @(Html.DevExtreme().Button().CustomCloseButton().ID("poId_ViewRemarks_close").Text("Close").OnClick(@<text> function(){ $("#Purchaseinnergrid").dxPopup("hide"); } </text>))
</div><!--[button]-->

