<div class="DailyBalance_ChequePrint_ClearReferences">
    @model  ConnectOne.D0010._001.Cheque_Printing
    @Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.Name = "DailyBalanceChequePrintWebDocumentViewer";
    settings.ClientSideEvents.Init = "function(s, e) { s.previewModel.reportPreview.showMultipagePreview(true);}";
    settings.ControlStyle.CssClass = "DevexpressComponents";

}).Bind(Model).GetHtml()
</div>