<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .d-inline-block {
        display: inline-block;
    }

    .radioButtonDiv {
        border: 1px solid #2b94ef;
        padding: 2px 9px;
        max-width: 113px;
        background: #fff;
    }

    .name_text {
        color: #800000;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .margB10 {
        margin-bottom: 10px !important;
    }

    .max_height100 {
        max-height: 82px;
    }

    .Summaryheight {
        min-height: 147px;
    }
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<form action="" class="edit_form">
    <div class="full-width-header-bg3">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="popuphead"><i class="far fa-edit"></i> Magazine Dispatch Window</h3>
            </div>
            <div class="col-sm-4 prm">

            </div>
        </div>

    </div><!--[row]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-4 pll">
                                <label class="control-label" for="">
                                    Subscription Details:
                                    <div class="line"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 pll mb_txt_left"><label class="control-label" for="">Issue:</label></div>
                            <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 pll mb_txt_left"><label class="control-label opacityClass1" for="">Magazine:</label></div>
                            <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 pll mb_txt_left"><label class="control-label" for="">Member:</label></div>
                            <div class="col-sm-8 col-md-8 col-lg-8 prm">
                                <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                    <div class="dx-texteditor-container">
                                        <input class="dx-texteditor-input" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7">
            <div class="form-field">
                <div class="container-fluid">
                    <div class="row" style="margin-bottom: 5px; ">
                        <div class="col-sm-6 col-md-8 col-lg-8 pll">
                            <label class="control-label" for="user">
                                Dispatch Details:
                                <div class="line"></div>
                            </label>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-xs-12 table-responsive overflow-scroll scrollbar max_height100">
                            <table class="dxgvControl_MetropolisBlue dxgv resp-table-one" style="width: 100%; border-collapse: separate;" tabindex="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table style="width:100%;">
                                                <thead>
                                                    <tr class="dxgvArm">
                                                        <td colspan="5"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Sr.</td>
                                                                        <td style="width:1px;text-align:right;">
                                                                            <span class="dx-vam">&nbsp;</span><img src="" style="cursor:default;">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Date</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Copies</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Mode</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="dxgvHeader_MetropolisBlue" style="border-top-width:0px;border-left-width:0px;">
                                                            <table style="width:100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Status</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                        <td class="bortabl" style="border-left:none">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl" style="border-right:none">
                                                            <div></div>
                                                        </td>
                                                    </tr>
                                                    <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                        <td class="bortabl" style="border-left:none">
                                                            <div>&nbsp;</div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl" style="border-right:none">
                                                            <div></div>
                                                        </td>

                                                    </tr>
                                                    <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                        <td class="bortabl" style="border-left:none">
                                                            <div>&nbsp;</div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl" style="border-right:none">
                                                            <div></div>
                                                        </td>

                                                    </tr>
                                                    <tr class="dxgvEmptyDataRow_MetropolisBlue dxgvLVR">
                                                        <td class="bortabl" style="border-left:none">
                                                            <div>&nbsp;</div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl">
                                                            <div></div>
                                                        </td>
                                                        <td class="bortabl" style="border-right:none">
                                                            <div></div>
                                                        </td>

                                                    </tr>
                                                </thead>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-field">
                                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                    <a href="javascript:void(0);">
                                        <div class="dx-button-content dx-button-min-width">
                                            <i class="fas fa-file btn-icons newfile icon-rgt-space5"></i>
                                            <span class="dx-button-text">Dispatch</span>
                                        </div>
                                    </a>
                                </div><!--[button]-->
                                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                    <a href="javascript:void(0);" onclick="OpenDynamicPopup('Edit ~ PaymentMagazine Dispatch Entry', '/Magazine/MagazineMaster/Frm_DispatchEntryWindow?ActionMethod=_New',280, 840)" class="link-txt">
                                        <div class="dx-button-content dx-button-min-width">
                                            <i class="fas fa-pencil-alt btn-icons editcolor icon-rgt-space5"></i>
                                            <span class="dx-button-text">Edit</span>
                                        </div>
                                    </a>
                                </div><!--[button]-->

                                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                    <a href="javascript:void(0);" class="link-txt">
                                        <div class="dx-button-content dx-button-min-width">
                                            <i class="fas fa-trash btn-icons deletecolor icon-rgt-space5"></i>
                                            <span class="dx-button-text">Delete</span>
                                        </div>
                                    </a>
                                </div><!--[button]-->

                                <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                    <a href="javascript:void(0);" class="link-txt">
                                        <div class="dx-button-content dx-button-min-width">
                                            <i class="fas fa-eye btn-icons eyeicon icon-rgt-space5"></i>
                                            <span class="dx-button-text">View</span>
                                        </div>
                                    </a>
                                </div><!--[button]-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="form-field">
                <div class="container-fluid Summaryheight">
                    <div class="row" style="margin-bottom: 5px; ">
                        <div class="col-sm-6 col-md-8 col-lg-8 pll">
                            <label class="control-label" for="user">
                                Summary:
                                <div class="line"></div>
                            </label>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-7 col-lg-7 pll"><label class="control-label margB0" for="user"><i class="colorlighrBlue">Copies to be Disp.:</i></label></div>
                        <div class="col-sm-9 col-md-5 col-lg-5 prm pll1">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-7 col-lg-7 pll"><label class="control-label margB0" for="user"><i class="colorlighrBlue">Copies Dispatched:</i></label></div>
                        <div class="col-sm-9 col-md-5 col-lg-5 prm pll1">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-7 col-lg-7 pll"><label class="control-label margB0" for="user"><i class="colorlighrBlue">Copies Returned:</i></label></div>
                        <div class="col-sm-9 col-md-5 col-lg-5 prm pll1">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-7 col-lg-7 pll"><label class="control-label margB0" for="user"><i class="colorlighrBlue">Total Dispatched:</i></label></div>
                        <div class="col-sm-9 col-md-5 col-lg-5 prm pll1">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-field wbg brd-bot-none">
            <div class="col-sm-8 col-lg-8 col-xs-12">
                <div class="form-field wbg brd-bot-none brd-none" style="padding-top:0px !important; padding-left:0px !important;">
                    <div class="container-fluid">
                        <h5 class="mand-txt-align pll" style="text-align:left !important;"><svg class="svg-inline--fa fa-info-circle fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="info-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"></path></svg><!-- <i class="fas fa-info-circle"></i> --> Red Fields are mandatory</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4 col-xs-12 paddR4">
                <div class="action-btn-wrap">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fas fa-times-circle btn-icons crossgrey icon-rgt-space5"></i>
                                <span class="dx-button-text">Cancel</span>
                            </div>
                        </a>
                    </div><!--[button]-->

                </div>

                <div class="action-btn-sec-wrap">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <i class="fas fa-check-circle btn-icons checkgreen icon-rgt-space5"></i>
                                <span class="dx-button-text">Save</span>
                                <input type="submit" class="dx-button-submit-input">
                            </div>
                        </a>
                    </div><!--[button]-->

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>


</form>
