
@using DevExtreme.AspNet.Mvc;
@using DevExpress;
@using DevExpress.Web.Mvc;


@{
    //bool IsVolumeCenter = (bool)ViewBag.IsVolumeCenter;
    //bool AllowForeignDonation = (bool)ViewBag.AllowForeignDonation;
    //ViewBag.Title = "Index";
    Layout = null;
    //bool Acc_Vou_CashBank_ListRight = (bool)ViewData["CashBook_ListRight"];
    //bool Acc_Vou_NoteBook_ListRight = (bool)ViewData["NoteBook_ListRight"];
    //bool Acc_Vou_B2B_AddRight = (bool)ViewData["Acc_Vou_B2B_AddRight"];
    //bool Acc_Vou_Payment_AddRight = (bool)ViewData["Acc_Vou_Payment_AddRight"];
    //bool Acc_Vou_Receipt_AddRight = (bool)ViewData["Acc_Vou_Receipt_AddRight"];
    //bool Acc_Vou_Donation_AddRight = (bool)ViewData["Acc_Vou_Donation_AddRight"];
    //bool Acc_Vou_Gift_AddRight = (bool)ViewData["Acc_Vou_Gift_AddRight"];
    //bool Acc_Vou_Int_Transfer_AddRight = (bool)ViewData["Acc_Vou_Int_Transfer_AddRight"];
    //bool Acc_Vou_ColBox_AddRight = (bool)ViewData["Acc_Vou_ColBox_AddRight"];
    //bool Acc_Vou_FD_AddRight = (bool)ViewData["Acc_Vou_FD_AddRight"];
    //bool Acc_Vou_SaleAsset_AddRight = (bool)ViewData["Acc_Vou_SaleAsset_AddRight"];
    //bool Acc_Vou_Journal_AddRight = (bool)ViewData["Acc_Vou_Journal_AddRight"];
    //bool Acc_Vou_AsetTransfer_AddRight = (bool)ViewData["Acc_Vou_AsetTransfer_AddRight"];
    //bool Acc_Vou_WIP_Finalization_AddRight = (bool)ViewData["Acc_Vou_WIP_Finalization_AddRight"];
    //bool Acc_Vou_CashBank_AddRight = (bool)ViewData["Acc_Vou_CashBank_AddRight"];
    //bool Help_Attachments_AddRight = (bool)ViewData["Help_Attachments_AddRight"];
}
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<style>
    div#PeriodSelection {
        width: 100%;
    }

    .footer_smallbtns {
        padding-left: 16px !important;
    }

    .cashtextbox {
        font-weight: bold;
        text-align: right;
    }

    #VoucherInfo_ParentDiv .form-field {
        margin: 0px 0px;
        padding: 5px 4px 4px 4px;
        box-shadow: 1px 1px 0 0px #89b9eb inset, 1px 1px 0 0px #89b9eb;
        background: #dfebf8;
        background: -webkit-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
        background: -o-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
        background: -moz-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
        background: linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
    }

    .Voucher_info_ul a:hover .items_Div {
        border: 2px solid #184c97;
    }

    .Voucher_info_ul a:hover .text_div {
        color: #184c97;
    }

    @@media only screen and (max-width:640px) and (min-width:300px) {
        .display_inlineR {
            width: 100%;
        }
    }

    .dataselectionDiv > div {
        margin-right: 8px !important;
    }
</style>
<div id="VoucherInfo_ParentDiv">    
    <div class="full-width-header-bg2">
        <div class="row">
            <div class="col-sm-8">
                <label class="report_header_label">Voucher Entry</label>
            </div>
            <div class="col-sm-4  styleActionBtn">
                @(Html.DevExtreme().Button().CustomCloseButton().ID("Godly_Services_Close").Text("Close").OnClick(@<text> function () { GodlyServices_close_click(); } </text>) )
            </div>
        </div>
    </div><!--[Header]-->

    <div class="form-field">
        <div class="container-fluid">
            <div class="row">
                <div class="edit_form" style="padding:16px;">
                    <fieldset class="default-fieldset">
                        <div class="Voucher_info">
                            <div class="row">
                                <ul class="Voucher_info_ul">
                                    <li>
                                        <a href="#" onclick="EventsManagement()">
                                            <div class="items_Div">
                                                <div class="img_div">
                                                    <img src="~/Content/image/cash.jpg" />
                                                </div>
                                                <div class="text_div">
                                                    Events Management
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="FeedbackAndQuery()">
                                            <div class="items_Div">
                                                <div class="img_div">
                                                    <img src="~/Content/image/back-to-bank.jpg" />
                                                </div>
                                                <div class="text_div">
                                                    FeedBack & Queries
                                                </div>
                                            </div>
                                        </a>
                                    </li>                                                    
                                </ul>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
            
</div>

<script>
    function GodlyServices_close_click() {

    }
    function EventsManagement() {

    }
    function FeedbackAndQuery() {

    }
</script>