
@model ConnectOneMVC.Areas.Stock.Models.ReturnExisintRemark
@using DevExtreme.AspNet.Mvc;
@{
    //bool IsVisible = Model != null && (Model.ActionMethod.ToString().Trim() == "View") ? true : false;
}


<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<style>
    .pll2 {
        padding-left: 2px !important;
    }

    .margR4 {
        margin-right: 4px;
    }
</style>
<form action="" class="edit_form">
    <div class="row">
        <div class="form-field">
            <div class="container-fluid">
                <div class="col-sm-2 pll">
                    <label class="control-label " for="user">Remarks:</label>
                </div>
                <div class="col-sm-10 prm">
                    @(Html.DevExtreme().TextArea().ID("Remark").Name("Remark").Value(Model.Remark).ReadOnly(true).Disabled(false))

                </div>
            </div>
        </div>
    </div><!--[Row]-->
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="styleActionBtn">
            @(Html.DevExtreme().Button().CustomCloseButton().ID("Id_RemarksClose").Text("Close").OnClick(@<text> function(){ mt_close_remarks_window(); } </text>))

        </div>
    </div><!--[Buttons]-->

</form>

<script>

    function mt_close_remarks_window() {
        $("#mtainnergrid").dxPopup("hide");
    }

</script>