@using DevExtreme.AspNet.Mvc;
@model IEnumerable<ConnectOneMVC.Areas.Profile.Models.CoreInfoLocation>
@{
    bool Core_AddRight = (bool)ViewData["Core_AddRight"];
    bool Core_UpdateRight = (bool)ViewData["Core_UpdateRight"];
    bool Core_ViewRight = (bool)ViewData["Core_ViewRight"];
    bool Core_DeleteRight = (bool)ViewData["Core_DeleteRight"];
    bool Core_ExportRight = (bool)ViewData["Core_ExportRight"];
    bool Profile_CoreSuperuser_auditor_Lock_UnLock = (bool)ViewData["Profile_CoreSuperuser_auditor_Lock_UnLock"];
    bool VouchingMode = ViewBag.VouchingMode == null ? false : (bool)ViewBag.VouchingMode;
}

<div id=" CoreLocation_ParentDiv_dx">
    <div id="content" class="col-md-12" style="padding-bottom:20px">
        <form>
            <div id="CoreLocationreloadPartialView" style="margin-top:1px !important;">
                @Html.Partial("Frm_Core_Info_Location_Grid_dx")
            </div>
        </form>
    </div>
    <div class="footer-MainBoxdiv full-width-footer">
        <div class="list_footer_left_margin col-md-10">
            <div>
                @*class="footer_new_left"*@
                <div>
                    <div class="list_footer_left_margin">
                        <div class="footer-locktext">
                            <div id="CoreLocation_Lbl_ActionOn" class="left_footertext_top"></div>
                            <div id="CoreLocation_Lbl_ActionBy" class="left_footertext_bottom"></div>
                        </div>
                        @*<div class="footer-locktext">
                            <div id="CoreLocationLbl_Status" style="font-size:23px" class="left_footertext_top"></div>
                            </div>*@
                    </div>
                    <div class="list_footer_left_margin">
                        <p id="CoreLocationLbl_Create" style="margin:0px" class="left_footertext_top"></p>
                        <p id="CoreLocationLbl_Modify" style="margin:0px" class="left_footertext_bottom"></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="list_footer_right_margin_consistent col-md-1">
            @*<i id="CoreLocation_LockICON" class="fa fa-lock lock_symbol"></i>*@
        </div>
    </div>

    <div class="col-md-12">
        @*Add/Edit Popup*@

        @(Html.DevExtreme().Popup().CustomPopup().ID("CoreLocation_report_modal").OnShowing("PopupOnShowing").Title("Location List Preview").FullScreen(false)
                                                                       .Width(200)
                                                                       .Height(200)
                                                                       .Height("auto")
                                                                       .ShowCloseButton(true)
                                                                       .ContentTemplate(@<text>
                                                                        <div id='CoreLocation_report_modal_result'>
                                                                        </div>
                                                                    </text>))
        @(Html.DevExtreme().Popup().CustomPopup().ID("popup_frm_CoreLocation_Window").Title("CoreLocation").OnShowing("PopupOnShowing")
                                                       .Width(500)
                                                       .Height(200)
                                                       .ContentTemplate(@<text>
                                                        <div id="CoreLocationresult">
                                                        </div>
                                                    </text>))


    </div>

</div>


