<div class="CoreInstituteProfile_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model List<ConnectOneMVC.Areas.Profile.Models.CoreInfoInstitute>
    @{
        bool Core_AddRight = (bool)ViewData["Core_AddRight"];
        bool Core_UpdateRight = (bool)ViewData["Core_UpdateRight"];
        bool Core_ViewRight = (bool)ViewData["Core_ViewRight"];
        bool Core_DeleteRight = (bool)ViewData["Core_DeleteRight"];
        bool Core_ExportRight = (bool)ViewData["Core_ExportRight"];
        bool Profile_CoreSuperuser_auditor_Lock_UnLock = (bool)ViewData["Profile_CoreSuperuser_auditor_Lock_UnLock"];
        bool Core_Auto_Vouching_Mode = (bool)ViewData["Core_Auto_Vouching_Mode"];

    }


    <div id="CoreInstituteProfile_ParentDiv_dx">
        <div id="content" class="col-md-12" style="margin-top: 1px !important;padding-bottom:20px">
            <form>
                <div id="CoreInstitutereloadPartialView">
                    @Html.Partial("Frm_Core_Info_InstituteAccount_Grid_dx")
                </div>
            </form>
        </div>

        <div class="col-md-12">
            @*Add/Edit Popup*@
            @(Html.DevExtreme().Popup().CustomPopup()
                        .ID("CoreInstitute_report_modal")
                        .OnShowing("PopupOnShowing")
                        .Title("Institute List Preview")
                        .FullScreen(false)
                        .MaxWidth(125)
                        .Height("auto")
                        .ShowCloseButton(true)
                        .ContentTemplate(@<text>
                            <div id='CoreInstitute_report_modal_result'>
                            </div>
                        </text>)
    )
            @(Html.DevExtreme().Popup().CustomPopup()
                        .ID("popup_frm_CoreInstitute_Window")
                        .OnShowing("PopupOnShowing")
                        .Title("CoreInstitute")
                        .ContentTemplate(@<text>
                            <div id="CoreInstituteresult">
                            </div>
                        </text>)
                                .OnHiding(@<text>
                                    function () {
                                    if(IsSucessPopup == false && IsViewPopup == false)
                                    {
                                    var result = DevExpress.ui.dialog.confirm("Are you sure to cancel this entry...?", "Confirm changes");
                                    result.done(function (dialogResult) {
                                    if(dialogResult){
                                    $("#popup_frm_CoreInstitute_Window").dxPopup("hide");
                                    }else
                                    {
                                    $("#popup_frm_CoreInstitute_Window").dxPopup("show");
                                    }
                                    });
                                    }
                                    }
                                </text>)
    )
        </div>

    </div>


</div>