@{
    var SessionGUID = Request.QueryString["SessionGUID"];
    bool Core_AddRight = (bool)ViewData["Core_AddRight"];
    bool Core_UpdateRight = (bool)ViewData["Core_UpdateRight"];
    bool Core_ViewRight = (bool)ViewData["Core_ViewRight"];
    bool Core_DeleteRight = (bool)ViewData["Core_DeleteRight"];
    bool Core_ExportRight = (bool)ViewData["Core_ExportRight"];
    bool Profile_CoreSuperuser_auditor_Lock_UnLock = (bool)ViewData["Profile_CoreSuperuser_auditor_Lock_UnLock"];
    bool VouchingMode = ViewBag.VouchingMode == null ? false : (bool)ViewBag.VouchingMode;
    string ViewMode = ViewBag.ViewMode == null ? "Default" : (string)ViewBag.ViewMode;
    List<string> ColumnTobeHidden = new List<string>();
    List<string> ColumnTobeShown = new List<string>();
    string ColumnToBeShowIndex = ViewBag.ColumnToBeShownIndex == null ? "" : (string)ViewBag.ColumnToBeShownIndex;
    string ColumnToBeHideIndex = ViewBag.ColumnToBeHidddenIndex == null ? "" : (string)ViewBag.ColumnToBeHidddenIndex;
    if (ColumnToBeHideIndex.Length > 0)
    {
        ColumnTobeHidden = ColumnToBeHideIndex.Split(',').ToList();
    }
    if (ColumnToBeShowIndex.Length > 0)
    {
        ColumnTobeShown = ColumnToBeShowIndex.Split(',').ToList();
    }
}
@model List<ConnectOneMVC.Areas.Profile.Models.CoreInfoInstitute>
@Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "CoreInstituteListGrid";
        settings.CallbackRouteValues = new
        {
            Controller = "Core",
            Action = "Frm_Core_Info_InstituteAccount_Grid",
            FilterVisible = false,
            SearchVisible = false,
            ShowGroupedColumns = false,
            SessionGUID = SessionGUID
        };
        settings.CustomJSProperties = (s, e) =>
        {
            string ColumnToBeShownIndex = "";
            string ColumnToBeHidddenIndex = "";
            if (ColumnTobeHidden.Count > 0)
            {
                ColumnToBeHidddenIndex = String.Join(",", ColumnTobeHidden.ToArray());
            }
            if (ColumnTobeShown.Count > 0)
            {
                ColumnToBeShownIndex = String.Join(",", ColumnTobeShown.ToArray());
            }
            e.Properties["cpColumnToBeShownIndex"] = ColumnToBeShownIndex;
            e.Properties["cpColumnToBeHidddenIndex"] = ColumnToBeHidddenIndex;
        };
        settings.Settings.ShowPreview = true;
        settings.SetPreviewRowTemplateContent(c =>
        {
            if (VouchingMode == true)
            {
                Html.RenderAction("AuditButtons", "AuditButton", new { Area = "", Grid = settings.Name, KeyValue = c.KeyValue != null ? ((string)c.KeyValue).Replace("/", "_") : "Null" + c.VisibleIndex, VisibleIndex = c.VisibleIndex, SessionGUID = SessionGUID });
            }
        });
        settings.Init = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (ViewMode == "Compact")
            {
                grid.DataColumns["Core_Compact_Column"].Visible = true;
                grid.DataColumns["INS_NAME"].Visible = false;
                grid.DataColumns["CEN_NAME"].Visible = false;
                grid.DataColumns["CEN_UID"].Visible = false;
                grid.DataColumns["CEN_INCHARGE"].Visible = false;

                grid.DataColumns["ID"].Visible = false;
            }
            else
            {
                grid.DataColumns["Core_Compact_Column"].Visible = false;
                grid.DataColumns["INS_NAME"].Visible = true;
                grid.DataColumns["CEN_NAME"].Visible = true;
                grid.DataColumns["CEN_UID"].Visible = true;
                grid.DataColumns["CEN_INCHARGE"].Visible = true;

                grid.DataColumns["ID"].Visible = false;
            }
        };
        settings.AfterPerformCallback = (s, e) =>
        {
            MVCxGridView gridView = s as MVCxGridView;
            gridView.ScrollToVisibleIndexOnClient = gridView.FocusedRowIndex;
            if (e.CallbackName == "COLUMNMOVE")
            {
                if (e.Args[1] == "-1")
                {
                    if (ColumnTobeShown.Count > 0)
                    {
                        if (ColumnTobeShown.Contains(e.Args[0]))
                        {
                            ColumnTobeShown.Remove(e.Args[0]);
                        }
                    }
                    ColumnTobeHidden.Add(e.Args[0]);
                }
                if (Convert.ToInt32(e.Args[1]) > -1)
                {
                    if (ColumnTobeHidden.Count > 0)
                    {
                        if (ColumnTobeHidden.Contains(e.Args[0]))
                        {
                            ColumnTobeHidden.Remove(e.Args[0]);
                        }
                    }
                    ColumnTobeShown.Add(e.Args[0]);
                }
            }
        };
        settings.BeforeGetCallbackResult = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (ViewMode == "Compact")
            {
                grid.DataColumns["Core_Compact_Column"].Visible = true;
                grid.DataColumns["INS_NAME"].Visible = false;
                grid.DataColumns["CEN_NAME"].Visible = false;
                grid.DataColumns["CEN_UID"].Visible = false;
                grid.DataColumns["CEN_INCHARGE"].Visible = false;

                grid.DataColumns["ID"].Visible = false;
            }
            else
            {
                grid.DataColumns["Core_Compact_Column"].Visible = false;
                grid.DataColumns["INS_NAME"].Visible = true;
                grid.DataColumns["CEN_NAME"].Visible = true;
                grid.DataColumns["CEN_UID"].Visible = true;
                grid.DataColumns["CEN_INCHARGE"].Visible = true;

                grid.DataColumns["ID"].Visible = false;
                if (ColumnTobeHidden != null && ColumnTobeHidden.Count > 0)
                {
                    for (int i = 0; i < ColumnTobeHidden.Count; i++)
                    {
                        grid.DataColumns[Convert.ToInt32(ColumnTobeHidden[i])].Visible = false;
                    }
                }
                if (ColumnTobeShown != null && ColumnTobeShown.Count > 0)
                {
                    for (int i = 0; i < ColumnTobeShown.Count; i++)
                    {
                        grid.DataColumns[Convert.ToInt32(ColumnTobeShown[i])].Visible = true;
                    }
                }
            }
        };
        settings.HtmlDataCellPrepared = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            string colIdx = e.DataColumn.Index.ToString();
            string rowIdx = e.VisibleIndex.ToString();
            string keyvalue = e.KeyValue!=null?((string)e.KeyValue).Replace("/", "_"):"Null"+e.VisibleIndex;
            if (VouchingMode == true)
            {
                if (e.DataColumn.FieldName.Length > 0)
                {
                    e.Cell.Attributes.Add("ondblclick", "OnGridCellClick(event,this,'" + colIdx + "', '" + rowIdx + "','" + settings.Name + "','" + keyvalue + "','" + e.DataColumn.FieldName + "');");
                }
                if (e.DataColumn.Name == "iIcon")
                {
                    e.Cell.Attributes.Add("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + keyvalue + "')");
                    e.Cell.Attributes.Add("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + keyvalue + "')");
                }
            }
            e.Cell.CssClass += " col_" + e.DataColumn.FieldName + " row_" + keyvalue;
            e.Cell.ID = "Cell_" + keyvalue + "|" + e.DataColumn.FieldName;
        };
        settings.HtmlRowCreated = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            string keyvalue = e.KeyValue != null ? ((string)e.KeyValue).Replace("/", "_") : "Null" + e.VisibleIndex;
            if (e.RowType == GridViewRowType.Data)
            {
                //e.Row.Attributes.Add("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + keyvalue + "')");
                //e.Row.Attributes.Add("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + keyvalue + "')");
                e.Row.CssClass += " " + settings.Name + "_DataRow_" + keyvalue;
            }
            else if (e.RowType == GridViewRowType.Preview)
            {
                e.Row.BackColor = System.Drawing.Color.White;
                if (VouchingMode == true)
                {
                    e.Row.Attributes.Add("onmouseover", "OnGridPrevRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + keyvalue + "')");
                    e.Row.Attributes.Add("onmouseout", "OnGridPrevRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + keyvalue + "')");
                }
                e.Row.CssClass += " " + settings.Name + "_PreviewRow" + " " + settings.Name + "_PreviewRow_" + keyvalue;
                //e.Row.ID = "PreviewRow_" + e.KeyValue;
            }

        };

        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
        if (Request.Browser.IsMobileDevice)
        {
            settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
        }
        //settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;
        //settings.Settings.VerticalScrollableHeight = 500;
        settings.ClientSideEvents.Init = "OnInitCoreInstitute";
        //settings.CustomDataActionRouteValues = new { Controller = "Core", Action = "CoreInstituteCustomDataAction" };

        settings.KeyboardSupport = true;
        //settings.AccessKey = "G";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;

        settings.SettingsExport.EnableClientSideExportAPI = true;
        settings.SettingsExport.ExcelExportMode = DevExpress.Export.ExportType.DataAware;
        settings.SettingsExport.PageHeader.Center = "Core Institute Listing";
        settings.SettingsExport.PageHeader.Left = ViewData["ExportGridHeaderLeft"].ToString();
        settings.SettingsExport.PageHeader.Right = ViewData["ExportGridHeaderRight"].ToString();
        settings.SettingsExport.PageFooter.Right = ViewData["ExportGridFooter"].ToString();
        settings.SettingsExport.PaperKind = System.Drawing.Printing.PaperKind.A4;
        settings.SettingsExport.TopMargin = 10;
        settings.SettingsExport.LeftMargin = 10;
        settings.SettingsExport.RightMargin = 10;
        settings.SettingsExport.BottomMargin = 10;

        settings.Settings.ShowGroupFooter = GridViewGroupFooterMode.VisibleAlways;

        settings.SettingsBehavior.AutoExpandAllGroups = true;
        settings.SettingsBehavior.AllowSelectSingleRowOnly = true;
        settings.Settings.UseFixedTableLayout = true;
        settings.SettingsBehavior.ColumnMoveMode = GridColumnMoveMode.AmongSiblings;
        settings.SettingsBehavior.AllowSort = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;
        settings.Settings.ShowHeaderFilterButton = true;
        settings.SettingsCustomizationDialog.ShowSortingPage = true;
        settings.SettingsCustomizationDialog.ShowGroupingPage = true;
        settings.SettingsCustomizationDialog.ShowFilteringPage = true;
        settings.SettingsCustomizationDialog.ShowColumnChooserPage = true;

        settings.Settings.ShowFilterRow = false;
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;

        settings.SettingsSearchPanel.ShowApplyButton = true;
        settings.SettingsPager.Mode = GridViewPagerMode.ShowPager;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSize = 25;
        settings.SettingsPager.AllButton.Visible = true;
        settings.SettingsSearchPanel.ShowClearButton = true;

        settings.SettingsBehavior.AllowFocusedRow = true;
        //settings.ClientSideEvents.FocusedRowChanged = "CoreInstituteOnGridFocusedRowChanged";
        //settings.ClientSideEvents.EndCallback = "OnGridCoreInstituteListGrid_EndCallback";
        settings.ClientSideEvents.BeginCallback = "CoreInstituteGrid_BeginCallBack";

        settings.Settings.ShowHeaderFilterBlankItems = false;

        settings.SettingsContextMenu.Enabled = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;
        settings.SettingsContextMenu.RowMenuItemVisibility.DeleteRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.EditRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.NewRow = false;

        settings.FillContextMenuItems = (sender, e) =>
        {
            if (e.MenuType == GridViewContextMenuType.Rows)
            {
                var Additem = e.CreateItem("New", "New");
                if (Core_AddRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Additem);

                var Edititem = e.CreateItem("Edit", "Edit");
                if (Core_UpdateRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Edititem);

                var Deleteitem = e.CreateItem("Delete", "Delete");
                if (Core_DeleteRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Deleteitem);

                var Viewitem = e.CreateItem("View", "View");
                if (Core_ViewRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Viewitem);

                var PrintViewitem = e.CreateItem("Export", "ListPreview");
                PrintViewitem.Image.IconID = "actions_hideproduct_16x16devav";
                PrintViewitem.BeginGroup = true;
                if (Core_ExportRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), PrintViewitem);

                var CloseItem = e.CreateItem("Close", "Close");
                CloseItem.Image.IconID = "actions_close_16x16devav";
                CloseItem.BeginGroup = true;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), CloseItem);

                var Lockitem = e.CreateItem("Lock", "Lock");
                if (Profile_CoreSuperuser_auditor_Lock_UnLock) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Lockitem);

                var UnLockitem = e.CreateItem("Unlock", "Unlock");
                if (Profile_CoreSuperuser_auditor_Lock_UnLock) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), UnLockitem);
            }
        };
        settings.ClientSideEvents.ContextMenuItemClick = "CoreInsttContextMenuFunction";
        // DXCOMMENT: Specify the grid's key field name and define grid columns in accordance with data model fields

        //------------------------------------------------//------------------------------------------------//------------------------------------------------//------------------------------------------------
        settings.KeyFieldName = "CEN_UID";
        settings.Columns.Add(column =>
        {
            {
                column.Name = "iIcon";
                column.Caption = "";
                column.MinWidth = 30;
                column.MaxWidth = 30;
                column.Width = 30;
                column.CellStyle.Wrap = DefaultBoolean.True;
                column.SetDataItemTemplateContent(c =>
                {
                    Html.RenderAction("AuditIconAfterClick", "AuditButton", new { Area = "", Grid = settings.Name, KeyValue = c.KeyValue != null ? ((string)c.KeyValue).Replace("/", "_") : "Null" + c.VisibleIndex, VisibleIndex = c.VisibleIndex, SessionGUID = SessionGUID });

                });

                column.SetHeaderTemplateContent(c =>
                {
                    var Attach = Html.DevExpress().Image(ImageSettings =>
                    {
                        ImageSettings.ImageUrl = "~/Content/FloatingActionButton/Images/pin.png";
                        ImageSettings.Height = 15;
                    });

                    Attach.Render();
                });
                column.AdaptivePriority = 0;
            }
        });

        settings.Columns.Add(column =>
        {
            column.Name = "Core_Compact_Column";
            column.Width = Unit.Percentage(100);
            column.SetDataItemTemplateContent(c =>
            {
                var KeyValue = c.KeyValue != null ? ((string)c.KeyValue).Replace("/", "_") : "Null" + c.VisibleIndex;
                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Institute Name:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + KeyValue + "|INS_NAME' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "INS_NAME") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Name:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + KeyValue + "|CEN_NAME' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "CEN_NAME") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>U.I.D:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + KeyValue + "|CEN_UID' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "CEN_UID") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Incharge Name:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + KeyValue + "|CEN_INCHARGE' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "CEN_INCHARGE") + "</div></div></div></div></div></div></div>");
            });
        });

        settings.Columns.Add("INS_NAME").Caption = "Institute Name";
        settings.Columns.Add("CEN_NAME").Caption = "Name";
        settings.Columns.Add("CEN_UID").Caption = "U.I.D";
        settings.Columns.Add("CEN_INCHARGE").Caption = "Incharge Name";


        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "ID",
            Caption = "ID",
            Visible = false
        });

        // show filter control
        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
        settings.SettingsFilterControl.ViewMode = true ? FilterControlViewMode.VisualAndText : FilterControlViewMode.Visual;
        settings.SettingsFilterControl.AllowHierarchicalColumns = true;// AllowHierarchicalColumns;
        settings.SettingsFilterControl.ShowAllDataSourceColumns = true;//FilterBuilderDemoHelper.Options.ShowAllDataSourceColumns;
        settings.SettingsFilterControl.MaxHierarchyDepth = 1;

        settings.Settings.ShowGroupedColumns = false;
        settings.Settings.ShowFooter = true;
        settings.ClientSideEvents.EndCallback = "CoreInstituteListGrid_EndCallBack";
        MyExtensions.GridViewHelper.CustomGridView(settings);
    }).Bind(Model).GetHtml()