<div class="CoreInstt_Export_ClearReferences">
@using DevExtreme.AspNet.Mvc;
<div>
    @(Html.DevExtreme().Button()
                .ID("CoreInstt_ExportGridDatapdf")
                .Text("Export to XLSX")
                .OnClick("ExportXLSXInstitute")
                .Visible(true)
                .Width(120)
    )

</div>
<script>

    function ExportXLSXInstitute() {
        const workbook = new ExcelJS.Workbook();
        const worksheet = workbook.addWorksheet('Sheet');

        DevExpress.excelExporter.exportDataGrid({
            worksheet: worksheet,
            component: $("#CoreInstituteListGrid").dxDataGrid("instance"),
            autoFilterEnabled: true,
            customizeCell({ excelCell, gridCell }) {
                if (gridCell.rowType === 'header') {
                    const columnDataField = gridCell.column.dataField;
                    if (columnDataField === 'iIcon') {
                        const Column = worksheet.getColumn(excelCell.col);
                        Column.width = 20;
                    }
                }
            }
        }).then(function (exportRange) {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'LiabilitiesList.xlsx');
            });
        });
        $("#CoreInstitute_report_modal").dxPopup("hide");
    }

</script>
</div>

