<div class="LiveForms_Facility_ClearReferences">
    @using DevExtreme.AspNet.Mvc;

    @{
        string eventid = ViewBag.eventid;
        string servicePath = ViewBag.ServicePath;
    }
    @(Html.DevExtreme().DataGrid().ID("LookUp_Get_LiveFormsList_datagrid")
    .ColumnAutoWidth(true)
    .ShowBorders(true).Width("100%")
    .Columns(columns =>
    {
        columns.Add().DataField("FORM_NAME").Caption("Form Name").Visible(true);
        columns.Add().DataField("EVENTNAME").Caption("Event Name").Visible(true);
        columns.Add().DataField("CSN_CHART_ID").Caption("ChartID").Visible(false);
        columns.Add().DataField("CSN_SERVICE_REPORT_ID").Caption("EventID").Visible(false);
        columns.Add().DataField("CSN_SRNO").Caption("CSN_SRNO").Visible(false);
        columns.Add().DataField("INSTANCE_ID").Caption("INSTANCEID").Visible(false);
        columns.Add().DataField("FROMDATE").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy").Visible(true);
        columns.Add().DataField("TODATE").DataType(GridColumnDataType.Date).Format("dd/MM/yyyy").Visible(true);
    }).FocusedRowEnabled(false).OnSelectionChanged("onSelectionChanged_liveForms")
    .DataSource(d => d.Mvc().Controller("AccommodationRegister").LoadAction("LookUp_Get_LiveFormsList").LoadMode(DataSourceLoadMode.Raw).Key("INSTANCE_ID")
    .LoadParams(
        new
        {
            DDRefresh = new JS("function (){ return Look_LiveForm_DDrefresh;}"),
            eventid = eventid
            //fromdate = new JS("function() { return fromdate_str;}"),
            //fromtime = new JS("function() { return fromtime_str;}"),
            //end_time = new JS("function() { return totime_str;}"),
            //roomid = new JS("data.REC_ID")
        }).LoadMode(DataSourceLoadMode.Raw)
    ).Selection(s => s.Mode(SelectionMode.Single))
)
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">@(Html.DevExtreme().Button().ID("BtnOpenForm_LiveForm").Text("OK").OnClick("OpenForm_LiveForms").Width("100%"))</div>
        
    </div>

    <script>
        var Look_LiveForm_DDrefresh = false;
        var selectedInstanceID_liveforms;
        function onSelectionChanged_liveForms(e) {

            var data = e.selectedRowsData[0];
            if (data) {
                selectedInstanceID_liveforms = data.INSTANCE_ID;
            }
        }
        function OpenForm_LiveForms() {
            
            var gridInstance = $("#LookUp_Get_LiveFormsList_datagrid").dxDataGrid("instance")
            var len = gridInstance.getSelectedRowKeys().length;
            if (len > 0) {
                selectedInstanceID_liveforms = gridInstance.getSelectedRowKeys()[0]
                var url = "@servicePath" +"form/" + selectedInstanceID_liveforms;
                window.open(url, '_blank')
            } else {
                DevExpress.ui.dialog.alert("Please select any form and Press OK button to open form in new window", "Alert");
            }

        }
    </script>
</div>