@using System.Text.RegularExpressions;
@using System.Data;
@{
    var SessionGUID = Request.QueryString["SessionGUID"];
    SessionGUID = SessionGUID == "null" ? null : SessionGUID;
    var ShowHorizontalBar = (int)ViewBag.AccomRegstr_ShowHorizontalBar;
    //bool chartApprovalRequired = (bool)ViewBag.isApprovalRequired;
    var Layout = ViewData["Layout"];
    string ViewMode = "Default"; /*ViewBag.ViewMode == null ? string.IsNullOrWhiteSpace(SessionGUID) ? "Default" : "Compact" : (string)ViewBag.ViewMode;*/
    List<string> ColumnTobeHidden = new List<string>();
    List<string> ColumnTobeShown = new List<string>();
    string ColumnToBeShowIndex = ViewBag.ColumnToBeShownIndex == null ? "" : (string)ViewBag.ColumnToBeShownIndex;
    string ColumnToBeHideIndex = ViewBag.ColumnToBeHidddenIndex == null ? "" : (string)ViewBag.ColumnToBeHidddenIndex;
    if (ColumnToBeHideIndex.Length > 0)
    {
        ColumnTobeHidden = ColumnToBeHideIndex.Split(',').ToList();
    }
    if (ColumnToBeShowIndex.Length > 0)
    {
        ColumnTobeShown = ColumnToBeShowIndex.Split(',').ToList();
    }
    bool ConciseMode = ViewBag.ConciseMode == null ? true : (bool)ViewBag.ConciseMode;
    var cenid_forORCCase = ViewBag.cenid;
}

@Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "AccommodationRegister_InfoGrid";
        settings.CallbackRouteValues = new
        {
            Controller = "AccommodationRegister",
            Action = "Frm_AccommodationRegister_Info_Grid",
            SessionGUID = SessionGUID
        };

        settings.Theme = "Aqua";
        settings.Styles.FocusedRow.BackColor = System.Drawing.Color.FromArgb(0, 114, 198);
        settings.Styles.FocusedRow.ForeColor = System.Drawing.Color.White;
        settings.Styles.AlternatingRow.BackColor = System.Drawing.Color.Linen;
        settings.Styles.SelectedRow.BackColor = System.Drawing.Color.FromArgb(0, 114, 198);
        settings.Styles.SelectedRow.ForeColor = System.Drawing.Color.White;



        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Visible;
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.Settings.UseFixedTableLayout = true;
        settings.Settings.ShowColumnHeaders = true;

        //Filter in Headings of the table.
        settings.Settings.ShowHeaderFilterButton = true;
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        settings.Settings.ShowHeaderFilterBlankItems = false;

        // show filter control at the bottom
        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsFilterControl.ViewMode = true ? FilterControlViewMode.VisualAndText : FilterControlViewMode.Visual;
        settings.SettingsFilterControl.AllowHierarchicalColumns = true;// AllowHierarchicalColumns;
        settings.SettingsFilterControl.ShowAllDataSourceColumns = true;//FilterBuilderDemoHelper.Options.ShowAllDataSourceColumns;
        settings.SettingsFilterControl.MaxHierarchyDepth = 1;

        settings.Settings.ShowPreview = true;

        settings.SettingsDetail.ShowDetailRow = false;

        settings.PreRender = (sender, e) =>
        {
            MVCxGridView gridView = sender as MVCxGridView;
            //gridView.SettingsBehavior.AllowFocusedRow = true;
            if (ViewData["Layout"] != null)
            {
                gridView.LoadClientLayout(ViewData["Layout"].ToString());
            }
        };

        settings.KeyboardSupport = true;
        //settings.AccessKey = "G";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.SettingsBehavior.ProcessColumnMoveOnClient = true;
        settings.SettingsBehavior.ColumnMoveMode = GridColumnMoveMode.AmongSiblings;

        #region commented        
        //settings.DataBound = (s, e) =>
        //{
        //    MVCxGridView grid = s as MVCxGridView;
        //    grid.FocusedRowIndex = -1;

        //    if (grid.Columns.IndexOf(grid.Columns["Accomodation_MISC_RECID"]) > -1)
        //    {
        //        grid.DataColumns["Accomodation_MISC_RECID"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["5 - Artwork Upload: "]) > -1)
        //    {
        //        grid.DataColumns["5 - Artwork Upload: "].PropertiesEdit.EncodeHtml = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["6 - Artwork Upload (2): "]) > -1)
        //    {
        //        grid.DataColumns["6 - Artwork Upload (2): "].PropertiesEdit.EncodeHtml = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["7 - Artwork Upload (3): "]) > -1)
        //    {
        //        grid.DataColumns["7 - Artwork Upload (3): "].PropertiesEdit.EncodeHtml = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["8 - Artwork Upload (4): "]) > -1)
        //    {
        //        grid.DataColumns["8 - Artwork Upload (4): "].PropertiesEdit.EncodeHtml = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["9 - Artwork Upload (5): "]) > -1)
        //    {
        //        grid.DataColumns["9 - Artwork Upload (5): "].PropertiesEdit.EncodeHtml = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["RESP_ID"]) > -1)
        //    {
        //        grid.DataColumns["RESP_ID"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["AB_ID"]) > -1)
        //    {
        //        grid.DataColumns["AB_ID"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["RESP_ID_1"]) > -1)
        //    {
        //        grid.DataColumns["RESP_ID_1"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["UserID"]) > -1)
        //    {
        //        grid.DataColumns["UserID"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["USERID_1"]) > -1)
        //    {
        //        grid.DataColumns["USERID_1"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["ConnectOne_Cen_ID"]) > -1)
        //    {
        //        grid.DataColumns["ConnectOne_Cen_ID"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["ConnectOne_User_ID"]) > -1)
        //    {
        //        grid.DataColumns["ConnectOne_User_ID"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["REC_STATUS"]) > -1)
        //    {
        //        grid.DataColumns["REC_STATUS"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["Mob2"]) > -1)
        //    {
        //        grid.DataColumns["Mob2"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["Mob3"]) > -1)
        //    {
        //        grid.DataColumns["Mob3"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["Mob4"]) > -1)
        //    {
        //        grid.DataColumns["Mob4"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["Mob5"]) > -1)
        //    {
        //        grid.DataColumns["Mob5"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["Email2"]) > -1)
        //    {
        //        grid.DataColumns["Email2"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["Email3"]) > -1)
        //    {
        //        grid.DataColumns["Email3"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["Email4"]) > -1)
        //    {
        //        grid.DataColumns["Email4"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["Email5"]) > -1)
        //    {
        //        grid.DataColumns["Email5"].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["Name"]) > -1)
        //    {
        //        grid.DataColumns["Name"].Width = 200;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["Email1"]) > -1)
        //    {
        //        grid.DataColumns["Email1"].Width = 200;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["1 - Occupation: "]) > -1)
        //    {
        //        grid.DataColumns["1 - Occupation: "].Width = 150;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["2 - Other Occupation(if any): "]) > -1)
        //    {
        //        grid.DataColumns["2 - Other Occupation(if any): "].Width = 150;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["3 - Qualification: "]) > -1)
        //    {
        //        grid.DataColumns["3 - Qualification: "].Width = 150;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["4 - Other Qualification(if any): "]) > -1)
        //    {
        //        grid.DataColumns["4 - Other Qualification(if any): "].Width = 150;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["10 - Declaration: "]) > -1)
        //    {
        //        grid.DataColumns["10 - Declaration: "].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["Privacy Policy: "]) > -1)
        //    {
        //        grid.DataColumns["Privacy Policy: "].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["Future Notifications: "]) > -1)
        //    {
        //        grid.DataColumns["Future Notifications: "].Visible = false;
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["SHARE_MESSAGE"]) > -1)
        //    {
        //        grid.DataColumns["SHARE_MESSAGE"].Visible = false;
        //    }
        //    if (chartApprovalRequired)
        //    {
        //        if (grid.Columns.IndexOf(grid.Columns["Status"]) > -1)
        //        {
        //            grid.DataColumns["Status"].GroupIndex = 0;
        //        }
        //    }
        //    if (grid.Columns.IndexOf(grid.Columns["CommandColumn"]) == -1)
        //    {

        //        GridViewCommandColumn col = new GridViewCommandColumn();
        //        col.Name = "CommandColumn";
        //        col.ShowSelectCheckbox = true;
        //        col.VisibleIndex = 0;
        //        col.MaxWidth = 30;
        //        col.Width = 30;
        //        col.SelectAllCheckboxMode = GridViewSelectAllCheckBoxMode.Page;
        //        grid.Columns.Insert(0, col);
        //    }
        //if (grid.Columns.IndexOf(grid.Columns["Mob1"]) == -1)
        //{
        //    GridViewDataColumn col = new GridViewDataColumn();
        //    col.Name = "Mob1";
        //    col.FieldName = "Mob1";
        //    col.Visible = false;
        //    col.UnboundType = DevExpress.Data.UnboundColumnType.String;
        //    col.UnboundExpression = "";
        //    grid.Columns.Add(col);
        //}
        //    foreach (GridViewDataColumn Col in grid.DataColumns)
        //    {
        //        Col.SettingsHeaderFilter.Mode = GridHeaderFilterMode.CheckedList;
        //    }


        //};

        #endregion

        settings.Settings.ShowPreview = true;
        settings.SetPreviewRowTemplateContent(c =>
        {
            var Remarks = DataBinder.Eval(c.DataItem, "Remarks") == null ? "" : DataBinder.Eval(c.DataItem, "Remarks").ToString();
            if (Remarks.Length > 0)
            {
                ViewContext.Writer.Write("<div><span style='color:#0000FF'> <i>Admin Remarks: " + Remarks + "</i></span></div>");
            }

        });

        settings.HtmlRowPrepared = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (e.RowType == GridViewRowType.Group)
            {
                e.Row.ForeColor = System.Drawing.Color.Blue;
                e.Row.Font.Bold = true;
            }
            else if (e.RowType == GridViewRowType.Data)
            {
                if (e.GetValue("REC_STATUS") != null && (Convert.ToInt32(e.GetValue("REC_STATUS")) == -1)) // REJECTED RESPONSE
                {
                    // e.Row.BackColor = System.Drawing.Color.Plum;
                    e.Row.BackColor = System.Drawing.Color.FromArgb(0, 233, 210, 224);
                }
                if (e.GetValue("REC_STATUS") != null && (Convert.ToInt32(e.GetValue("REC_STATUS")) == 2)) // APPROVED RESPONSE
                {
                    //e.Row.BackColor = System.Drawing.Color.DarkSeaGreen;
                    e.Row.BackColor = System.Drawing.Color.FromArgb(0, 238, 251, 233);
                }
                if ((int)e.GetValue("Beds") > 0)
                {
                    //e.Row.BackColor = System.Drawing.Color.LightYellow;
                    e.Row.BackColor = System.Drawing.Color.FromArgb(0, 255, 245, 223);
                }
                if (Convert.ToBoolean(e.GetValue("Arrived")))
                {
                    //e.Row.BackColor = System.Drawing.Color.LightSkyBlue;
                    e.Row.BackColor = System.Drawing.Color.FromArgb(0, 212, 236, 244);
                }
                if (e.GetValue("REC_STATUS") != null && (Convert.ToInt32(e.GetValue("REC_STATUS")) == -2)) // APPROVED RESPONSE
                {
                    // e.Row.BackColor = System.Drawing.Color.LightPink;
                    e.Row.BackColor = System.Drawing.Color.FromArgb(0, 255, 240, 240);
                }
            }
            if (e.RowType == GridViewRowType.Preview)
            {
                var Remarks = e.GetValue("Remarks") == null ? "" : e.GetValue("Remarks").ToString();
                if (Remarks.Length == 0)
                {
                    e.Row.Style[HtmlTextWriterStyle.Display] = "none";
                }
            }
        };

        //Group Settings
        settings.Settings.ShowGroupFooter = GridViewGroupFooterMode.VisibleIfExpanded;
        settings.Settings.ShowGroupPanel = false;
        settings.SettingsBehavior.AllowGroup = true;
        settings.SettingsBehavior.AutoExpandAllGroups = false;
        settings.SettingsBehavior.AllowFixedGroups = true;
        settings.Settings.ShowGroupedColumns = false;
        settings.Settings.ShowGroupButtons = true;


        settings.SettingsBehavior.AllowSort = true;
        settings.SettingsBehavior.AllowEllipsisInText = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;
        settings.SettingsCustomizationDialog.ShowSortingPage = true;
        settings.SettingsCustomizationDialog.ShowGroupingPage = true;
        settings.SettingsCustomizationDialog.ShowFilteringPage = true;
        settings.SettingsCustomizationDialog.ShowColumnChooserPage = true;


        // Filter and serach
        settings.Settings.ShowHeaderFilterButton = true;
        settings.Settings.ShowHeaderFilterBlankItems = false;
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
        // show filter control
        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
        settings.SettingsFilterControl.ViewMode = true ? FilterControlViewMode.VisualAndText : FilterControlViewMode.Visual;
        settings.SettingsFilterControl.AllowHierarchicalColumns = true;// AllowHierarchicalColumns;
        settings.SettingsFilterControl.ShowAllDataSourceColumns = true;//FilterBuilderDemoHelper.Options.ShowAllDataSourceColumns;
        settings.SettingsFilterControl.MaxHierarchyDepth = 1;

        settings.SettingsSearchPanel.Visible = false;
        settings.SettingsSearchPanel.ShowApplyButton = true;
        settings.SettingsSearchPanel.ShowClearButton = true;

        settings.FillContextMenuItems = (sender, e) =>
        {
            if (e.MenuType == GridViewContextMenuType.Rows && string.IsNullOrWhiteSpace(SessionGUID) == false)
            {
                var AddRemarks = e.CreateItem("Add Remarks", "AddRemarks");
                AddRemarks.Image.IconID = IconID.IconbuilderActionsCommentSvg16x16;
                AddRemarks.BeginGroup = true;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), AddRemarks);
                //var AddResponse = e.CreateItem("Add Response", "AddResponse");
                //AddResponse.Image.IconID = IconID.ActionsAdditem16x16gray;
                //e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), AddResponse);
                //var AddLinkedResponse = e.CreateItem("Add Linked Response", "AddLinkedResponse");
                //AddLinkedResponse.Image.IconID = IconID.RicheditLinktopreviousSvgGray16x16;
                //e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), AddLinkedResponse);

                //var Approve = e.CreateItem("Approve", "Approve");
                //Approve.Image.IconID = IconID.RicheditTrackingchangesAccept16x16;
                //Approve.BeginGroup = true;
                //e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Approve);
                //var Draft = e.CreateItem("Draft", "Draft");
                //Draft.Image.IconID = IconID.RicheditDraftviewSvg16x16;
                //e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Draft);
                //var Reject = e.CreateItem("Reject", "Reject");
                //Reject.Image.IconID = IconID.RicheditTrackingchangesReject16x16;
                //e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Reject);

                var MarkArrived = e.CreateItem("Mark Arrived", "MarkArrived");
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), MarkArrived);
                MarkArrived.Image.IconID = IconID.ActionsDriving16x16devav;
                MarkArrived.BeginGroup = true;
                var UnMarkArrived = e.CreateItem("UnMark Arrived", "UnMarkArrived");
                UnMarkArrived.Image.IconID = IconID.IconbuilderActionsUndoSvg16x16;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), UnMarkArrived);
                var Accomodation = e.CreateItem("Update Accomodation", "Accomodation");
                Accomodation.Image.IconID = IconID.IconbuilderActionsHomeSvg16x16;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Accomodation);

                var EditResponse = e.CreateItem("Edit Response", "EditResponse");
                EditResponse.Image.IconID = IconID.IconbuilderActionsEditSvg16x16;
                EditResponse.BeginGroup = true;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), EditResponse);

                var DeleteResponse = e.CreateItem("List Preview", "ListPreview");
                DeleteResponse.Image.IconID = IconID.ActionsDelete16x16devav;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), DeleteResponse);

                var ViewResponse = e.CreateItem("View Response", "ViewResponse");
                ViewResponse.Image.IconID = IconID.ViewCard16x16devav;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), ViewResponse);

                var CloseItem = e.CreateItem("Close", "Close");
                CloseItem.Image.IconID = IconID.OutlookinspiredCloseSvg16x16;
                CloseItem.BeginGroup = true;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), CloseItem);
            }
        };
        settings.SettingsContextMenu.Enabled = true;
        settings.SettingsContextMenu.RowMenuItemVisibility.DeleteRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.EditRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.NewRow = false;
        //settings.SettingsContextMenu.RowMenuItemVisibility.Refresh = false;

        settings.SettingsPager.Visible = true;
        settings.SettingsPager.Mode = GridViewPagerMode.ShowPager;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSize = 25;
        settings.SettingsPager.AllButton.Visible = true;
        settings.KeyFieldName = "RESP_ID";

        //Export Settings
        settings.SettingsExport.EnableClientSideExportAPI = true;
        settings.SettingsExport.ExcelExportMode = DevExpress.Export.ExportType.DataAware;
        settings.SettingsExport.PageHeader.Center = "Chart Info";
        settings.SettingsExport.PageHeader.Left = ViewData["ExportGridHeaderLeft"].ToString();
        settings.SettingsExport.PageHeader.Right = ViewData["ExportGridHeaderRight"].ToString();
        settings.SettingsExport.PageFooter.Right = ViewData["ExportGridFooter"].ToString();
        settings.SettingsExport.PaperKind = System.Drawing.Printing.PaperKind.A4;
        settings.SettingsExport.TopMargin = 10;
        settings.SettingsExport.LeftMargin = 4;
        settings.SettingsExport.RightMargin = 2;
        settings.SettingsExport.BottomMargin = 10;
        settings.SettingsExport.Landscape = true;

        settings.CustomJSProperties = (sender, e) =>
        {
            MVCxGridView grid = (MVCxGridView)sender;
            //var watch = new System.Diagnostics.Stopwatch();
            //watch.Start();
            int startIndex = (grid.PageIndex == -1 || grid.SettingsPager.Mode == GridViewPagerMode.ShowAllRecords ? 0 : grid.PageIndex) * grid.SettingsPager.PageSize;
            int endIndex = grid.PageIndex == -1 || grid.SettingsPager.Mode == GridViewPagerMode.ShowAllRecords ? grid.VisibleRowCount : Math.Min(grid.VisibleRowCount, startIndex + grid.SettingsPager.PageSize);
            object[] Rowdata = new object[endIndex - startIndex];
            for (int n = startIndex; n < endIndex; n++)
            {
                Rowdata[n - startIndex] = grid.GetRowValues(n, new string[] { "CHART_ID", "CHART_SR_ID", "ServiceReportID", "UserID", "AB_ID", "RESP_ID", "Remarks", "Arrival", "Departure", "Beds", "RegNo", "Event", "Form", "Name", "City", "Slip_By" });
            }
            e.Properties["cpPagedata"] = Rowdata;
            e.Properties["cpClientLayout"] = grid.SaveClientLayout();
            e.Properties["cpTotalRowCount"] = grid.VisibleRowCount;

            string ColumnToBeShownIndex = "";
            string ColumnToBeHidddenIndex = "";
            if (ColumnTobeHidden.Count > 0)
            {
                ColumnToBeHidddenIndex = String.Join(",", ColumnTobeHidden.ToArray());
            }
            if (ColumnTobeShown.Count > 0)
            {
                ColumnToBeShownIndex = String.Join(",", ColumnTobeShown.ToArray());
            }
            e.Properties["cpColumnToBeShownIndex"] = ColumnToBeShownIndex;
            e.Properties["cpColumnToBeHidddenIndex"] = ColumnToBeHidddenIndex;
        };

        var dataLayoutGroup = new GridViewLayoutGroup();
        var HiddenLayoutGroup = new GridViewLayoutGroup();
        if (ViewMode == "Compact")
        {
            settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 5;
            settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCellsWindowLimit;
            settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 3000;
            settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = true;
            var mainLayoutGroup = new GridViewLayoutGroup();
            mainLayoutGroup.Name = "mainInfoGroup";
            mainLayoutGroup.ShowCaption = DefaultBoolean.False;
            mainLayoutGroup.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            mainLayoutGroup.GroupBoxDecoration = GroupBoxDecoration.None;
            mainLayoutGroup.UseDefaultPaddings = false;
            mainLayoutGroup.AlignItemCaptions = true;
            //mainLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 400, ColumnCount = 1, Name = "S" });
            //mainLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 768, ColumnCount = 1, Name = "M" });
            //mainLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 1040, ColumnCount = 1, Name = "L" });
            //mainLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 3000, ColumnCount = 1, Name = "XL" });
            var commandColumnGroup = new GridViewLayoutGroup();
            commandColumnGroup.Name = "commandColumnsGroup";
            commandColumnGroup.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            commandColumnGroup.GroupBoxDecoration = GroupBoxDecoration.None;
            commandColumnGroup.UseDefaultPaddings = false;
            commandColumnGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 400, ColumnCount = 1, Name = "S" });
            commandColumnGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 768, ColumnCount = 1, Name = "M" });
            commandColumnGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 1040, ColumnCount = 1, Name = "L" });
            commandColumnGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 3000, ColumnCount = 1, Name = "XL" });
            commandColumnGroup.Items.AddCommandItem("commandColumnSelect");
            //commandColumnGroup.CssClass += chartApprovalRequired ? " AdaptiveCommandColumn_Grouped" : " AdaptiveCommandColumn";

            mainLayoutGroup.Items.Add(commandColumnGroup);


            dataLayoutGroup.ShowCaption = DefaultBoolean.False;
            dataLayoutGroup.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            dataLayoutGroup.GroupBoxDecoration = GroupBoxDecoration.None;
            dataLayoutGroup.UseDefaultPaddings = false;
            dataLayoutGroup.AlignItemCaptions = true;
            dataLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 400, ColumnCount = 1, Name = "S" });
            dataLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 768, ColumnCount = 1, Name = "M" });
            dataLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 1040, ColumnCount = 1, Name = "L" });
            dataLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 3000, ColumnCount = 1, Name = "XL" });
            //dataLayoutGroup.Items.AddColumnItem("ServiceFormResponses_Compact_Column");

            mainLayoutGroup.Items.Add(dataLayoutGroup);
            HiddenLayoutGroup.ShowCaption = DefaultBoolean.True;
            HiddenLayoutGroup.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            HiddenLayoutGroup.GroupBoxDecoration = GroupBoxDecoration.None;
            HiddenLayoutGroup.UseDefaultPaddings = false;
            HiddenLayoutGroup.AlignItemCaptions = true;
            HiddenLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 400, ColumnCount = 1, Name = "S" });
            HiddenLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 768, ColumnCount = 2, Name = "M" });
            HiddenLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 1040, ColumnCount = 3, Name = "L" });
            HiddenLayoutGroup.GridSettings.Breakpoints.Add(new LayoutBreakpoint() { MaxWidth = 3000, ColumnCount = 5, Name = "XL" });
            mainLayoutGroup.Items.Add(HiddenLayoutGroup);
            settings.SettingsAdaptivity.AdaptiveDetailLayoutProperties.Items.AddGroup(mainLayoutGroup);
        }
        else
        {
            if (ShowHorizontalBar == 1)
            {
                settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
                settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
                settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;
                settings.SettingsResizing.Visualization = ResizingMode.Postponed;
            }
            else
            {
                settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
                settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
                settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Disabled;
                settings.SettingsAdaptivity.AllowHideDataCellsByColumnMinWidth = true;
            }

        }

        settings.EnablePagingGestures = AutoBoolean.False;
        settings.SettingsBehavior.AllowSelectSingleRowOnly = false;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.GroupSummary.Add(new ASPxSummaryItem() { SummaryType = DevExpress.Data.SummaryItemType.Count, FieldName = "Name", DisplayFormat = "Total :{0}" });
        settings.ClientSideEvents.Init = "AccomRegisterInfoOnInit";
        settings.ClientSideEvents.FocusedRowChanged = "OnAccomRegisterInfoGridFocusedRowChanged";
        settings.ClientSideEvents.BeginCallback = "AccomRegisterInfoGrid_BeginCallback";
        settings.ClientSideEvents.EndCallback = "AccomRegisterInfoGrid_EndCallback";
        settings.ClientSideEvents.SelectionChanged = "AccomRegisterInfoGrid_SelectionChanged";
        settings.ClientSideEvents.ContextMenuItemClick = "AccomRegisterInfoGrid_ContextMenuFunction";
        settings.ClientSideEvents.ContextMenu = "AccomRegisterInfoGrid_ContextMenuInit";
        //settings.ClientSideEvents.RowClick = "AccomRegisterInfoGrid_RowClick";

        settings.SettingsPopup.CustomizationWindow.VerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.SettingsPopup.CustomizationWindow.HorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.Styles.Header.Wrap = DefaultBoolean.True;
        settings.BeforeGetCallbackResult = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (ColumnTobeHidden != null && ColumnTobeHidden.Count > 0)
            {
                for (int i = 0; i < ColumnTobeHidden.Count; i++)
                {
                    grid.AllColumns[Convert.ToInt32(ColumnTobeHidden[i])].Visible = false;
                }
            }
            if (ColumnTobeShown != null && ColumnTobeShown.Count > 0)
            {
                for (int i = 0; i < ColumnTobeShown.Count; i++)
                {
                    grid.AllColumns[Convert.ToInt32(ColumnTobeShown[i])].Visible = true;
                }
            }

        };
        settings.DataBound = (s, e) =>
        {
            MVCxGridView grid = s as MVCxGridView;
            grid.FocusedRowIndex = -1;
            if (grid.Columns.IndexOf(grid.Columns["RegSrNo"]) > -1)
            { grid.DataColumns["RegSrNo"].Visible = false; }
            var cnt = grid.DataColumns.Count;

            for (var i = 0; i < cnt; i++)
            {
                switch (grid.DataColumns[i].Name)
                {
                    case "Age":
                        grid.DataColumns[i].MinWidth = 40;
                        grid.DataColumns[i].Width = 40;
                        break;
                    case "Gender":
                        grid.DataColumns[i].MinWidth = 50;
                        break;
                    case "Event":
                        grid.DataColumns[i].MinWidth = 50;
                        grid.DataColumns[i].Width = 180;
                        break;
                    case "Name":
                        grid.DataColumns[i].MinWidth = 50;
                        grid.DataColumns[i].Width = 130;
                        break;
                    case "ArrTime":
                    case "DepTime":
                        grid.DataColumns[i].MinWidth = 60;
                        grid.DataColumns[i].Width = 60;
                        grid.DataColumns[i].PropertiesEdit.DisplayFormatString = "hh:mm tt";
                        break;
                    case "Arrival":
                    case "Departure":
                    case "Mob1":
                    case "Registrations":
                    case "Centre":
                    case "City":
                        grid.DataColumns[i].MinWidth = 80;
                        grid.DataColumns[i].Width = 80;
                        break;
                    case "Row_PK":
                    case "Mob2":
                    case "Mob3":
                    case "Mob4":
                    case "Mob5":
                    case "Email2":
                    case "Email3":
                    case "Email4":
                    case "Email5":
                    case "REC_STATUS":
                    case "AB_ID":
                    case "EventID":
                    case "ServiceReportID":
                    case "CHART_ID":
                    case "CHART_SR_ID":
                    case "Accomodation_ID":
                    case "BUILDING_ID":
                    case "DATE_OF_COURSE":
                    case "UserID":
                    case "RESP_ID":
                    case "Building":
                    case "Room":
                    case "Male_Count":
                    case "Female_Count":
                        grid.DataColumns[i].Visible = false;
                        break;
                    case "Accomodation":
                    case "RoomAndCount":
                        if (ConciseMode)
                        {
                            grid.DataColumns[i].Visible = false;
                        }
                        else
                        {
                            grid.DataColumns[i].Visible = true;
                        }
                        grid.DataColumns[i].MinWidth = 50;
                        grid.DataColumns[i].Width = 180;
                        break;
                    case "StatusIcon":
                        grid.DataColumns[i].Width = 50;
                        grid.DataColumns[i].MinWidth = 50;
                        break;
                    case "Accom From":
                    case "Accom To":
                        if (cenid_forORCCase == 7036) //In production it should be 7036 this change is for ORC.
                        {
                            grid.DataColumns[i].Visible = false;
                        }
                        else
                        {
                            grid.DataColumns[i].Visible = true;
                        }
                        break;
                    default:
                        grid.DataColumns[i].MinWidth = 25;
                        grid.DataColumns[i].Width = 100;
                        break;
                }

                //string fieldName = grid.Columns[i].Name;
                //if (fieldName=="Age")
                //{
                //    grid.DataColumns[i].Name = fieldName;
                //    grid.DataColumns[i].FieldName = fieldName;
                //    grid.DataColumns[i].Caption = fieldName;
                //    grid.DataColumns[i].Visible = ViewMode == "Default";
                //    grid.DataColumns[i].Width = 25;
                //}
                //settings.Columns.Add(column =>
                //{

                //    column.Name = fieldName;
                //    column.FieldName = fieldName;
                //    column.Caption = fieldName;
                //    column.Visible = ViewMode == "Default";
                //    column.Width = 25;

                //});
            }
        };
        settings.AfterPerformCallback = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            grid.Styles.SelectedRow.BackColor = System.Drawing.Color.FromArgb(0, 114, 198);
            grid.Styles.SelectedRow.ForeColor = System.Drawing.Color.White;
            if (e.CallbackName == "COLUMNMOVE")
            {
                if (e.Args[1] == "-1")
                {
                    if (ColumnTobeShown.Count > 0)
                    {
                        if (ColumnTobeShown.Contains(e.Args[0]))
                        {
                            ColumnTobeShown.Remove(e.Args[0]);
                        }
                    }
                    ColumnTobeHidden.Add(e.Args[0]);
                }
                if (Convert.ToInt32(e.Args[1]) > -1)
                {
                    if (ColumnTobeHidden.Count > 0)
                    {
                        if (ColumnTobeHidden.Contains(e.Args[0]))
                        {
                            ColumnTobeHidden.Remove(e.Args[0]);
                        }
                    }
                    ColumnTobeShown.Add(e.Args[0]);
                }
            }
        };

        settings.SettingsExport.BeforeExport = (s, e) =>
        {
            MVCxGridView gridView = s as MVCxGridView;
            foreach (GridViewDataColumn col in gridView.DataColumns)
            {
                col.Visible = true;
            }

        };
        settings.CommandColumn.ShowSelectCheckbox = true;
        settings.CommandColumn.Width = 30;
        settings.CommandColumn.MinWidth = 30;
        settings.CommandColumn.Visible = true;
        settings.CommandColumn.Name = "commandColumnSelect_AccomRegstrGrid";
        settings.CommandColumn.SelectAllCheckboxMode = GridViewSelectAllCheckBoxMode.AllPages;
        settings.Styles.CommandColumn.CssClass += " CommandColumn";


        settings.CustomUnboundColumnData = (s, e) =>
        {
            if (e.Column.FieldName == "StatusIcon")
            {
                int beds = (int)e.GetListSourceFieldValue("Beds");
                e.Value = beds > 0 ? "🏠" : "";
                if (Convert.ToBoolean(e.GetListSourceFieldValue("Arrived")))
                {
                    e.Value += " 🚗";
                }
            }
        };
        settings.Columns.Add(column =>
        {
            column.Name = "StatusIcon";
            column.FieldName = "StatusIcon";
            column.Caption = " ";
            column.UnboundType = DevExpress.Data.UnboundColumnType.String;
            column.PropertiesEdit.EncodeHtml = false;

        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "Status";
            //column.GroupIndex = chartApprovalRequired ? 0 : -1;
            column.Visible = false;
        });

        settings.Columns.Add(column =>
        {
            column.Name = "ServiceFormResponses_Compact_Column";
            column.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            column.CellStyle.Wrap = DefaultBoolean.True;
            column.HeaderStyle.CssClass = "HideColumnHeader";
            if (ViewMode == "Compact")
            {
                dataLayoutGroup.Items.AddColumnItem("ServiceFormResponses_Compact_Column");
            }
            else
            {
                column.Visible = false;
            }
            column.SetDataItemTemplateContent(c =>
            {
                ViewContext.Writer.Write("<div class='clearfix form-row'><div class='row'>" +
                                             "<div class='col-md-3'>" +
                                                "<p class=''><b>Accomodation - </b>" + DataBinder.Eval(c.DataItem, "Accomodation") + "</p>" +
                                             "</div>" +
                                             "<div class='col-md-3'>" +
                                                "<p class=''><b>Beds - </b>" + DataBinder.Eval(c.DataItem, "Beds") + "</p>" +
                                             "</div>" +
                                             "<div class='col-md-3'>" +
                                                "<p class=''><b>Arrived - </b>" + (Convert.ToBoolean(DataBinder.Eval(c.DataItem, "Arrived")) ? "Yes" : "No") + "</p>" +
                                             "</div>" +
                                             "<div class='col-md-3'>" +
                                                "<p class=''><b>Reg No - </b>" + DataBinder.Eval(c.DataItem, "RegNo") + "</p>" +
                                             "</div></div><div class='row'>" +
                                             "<div class='col-md-3'>" +
                                                "<p class=''><b>Reg Sr No - </b>" + DataBinder.Eval(c.DataItem, "RegSrNo") + "</p>" +
                                             "</div>" +
                                                 "<div class='col-md-3'>" +
                                             "<p class=''><b>Centre Email - </b>" + DataBinder.Eval(c.DataItem, "Centre_Email") + "</p>" +
                                             "</div>" +
                                                    "<div class='col-md-3'>" +
                                             "<p class=''><b>Next Linked Form Received - </b>" + (Convert.ToBoolean(DataBinder.Eval(c.DataItem, "NextLinkedFormReceived")) ? "Yes" : "No") + "</p>" +
                                             "</div>" +
                                          "</div>");
                ViewContext.Writer.Write("<div class='row'>");
                if (((DataTable)Model).Columns.Contains("Name") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>Name - </b>" + DataBinder.Eval(c.DataItem, "Name") + "</p>" +
                                             "</div>");
                }
                if (((DataTable)Model).Columns.Contains("Mob1") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>Mob1 - </b>" + DataBinder.Eval(c.DataItem, "Mob1") + "</p>" +
                                             "</div>");
                }
                if (((DataTable)Model).Columns.Contains("Email1") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>Email1 - </b>" + DataBinder.Eval(c.DataItem, "Email1") + "</p>" +
                                             "</div>");
                }
                if (((DataTable)Model).Columns.Contains("Gender") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>Gender - </b>" + DataBinder.Eval(c.DataItem, "Gender") + "</p>" +
                                             "</div>");
                }
                if (((DataTable)Model).Columns.Contains("Age") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>Age - </b>" + DataBinder.Eval(c.DataItem, "Age") + "</p>" +
                                             "</div>");
                }
                if (((DataTable)Model).Columns.Contains("DOB") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>DOB - </b>" + DataBinder.Eval(c.DataItem, "DOB") + "</p>" +
                                             "</div>");
                }
                if (((DataTable)Model).Columns.Contains("Address") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>Address - </b>" + DataBinder.Eval(c.DataItem, "Address") + "</p>" +
                                             "</div>");
                }
                if (((DataTable)Model).Columns.Contains("PIN") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>PIN - </b>" + DataBinder.Eval(c.DataItem, "PIN") + "</p>" +
                                             "</div>");
                }
                if (((DataTable)Model).Columns.Contains("City") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>City - </b>" + DataBinder.Eval(c.DataItem, "City") + "</p>" +
                                             "</div>");
                }
                if (((DataTable)Model).Columns.Contains("State") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>State - </b>" + DataBinder.Eval(c.DataItem, "State") + "</p>" +
                                             "</div>");
                }
                if (((DataTable)Model).Columns.Contains("Country") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>Country - </b>" + DataBinder.Eval(c.DataItem, "Country") + "</p>" +
                                             "</div>");
                }
                if (((DataTable)Model).Columns.Contains("Centre") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>Centre - </b>" + DataBinder.Eval(c.DataItem, "Centre") + "</p>" +
                                             "</div>");
                }
                if (((DataTable)Model).Columns.Contains("Course") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>Course - </b>" + DataBinder.Eval(c.DataItem, "Course") + "</p>" +
                                             "</div>");
                }
                if (((DataTable)Model).Columns.Contains("DATE_OF_COURSE") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>DATE OF COURSE - </b>" + DataBinder.Eval(c.DataItem, "DATE_OF_COURSE") + "</p>" +
                                             "</div>");
                }
                if (((DataTable)Model).Columns.Contains("Education") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>Education - </b>" + DataBinder.Eval(c.DataItem, "Education") + "</p>" +
                                             "</div>");
                }
                if (((DataTable)Model).Columns.Contains("Occupation") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>Occupation - </b>" + DataBinder.Eval(c.DataItem, "Occupation") + "</p>" +
                                             "</div>");
                }
                if (((DataTable)Model).Columns.Contains("Specialities") == true)
                {
                    ViewContext.Writer.Write("<div class='col-md-3'>" +
                                             "<p class=''><b>Specialities - </b>" + DataBinder.Eval(c.DataItem, "Specialities") + "</p>" +
                                             "</div>");
                }
                //ViewContext.Writer.Write("<div class='col-md-3'>" +
                //   "<p class=''><b>Centre Email - </b>" + DataBinder.Eval(c.DataItem, "Centre_Email") + "</p>" +
                //"</div>" +
                //"<div class='col-md-4'>" +
                //   "<p class=''><b>Next Linked Form Received - </b>" + (Convert.ToBoolean(DataBinder.Eval(c.DataItem, "NextLinkedFormReceived")) ? "Yes" : "No") + "</p>" +
                //"</div></div>");
                ViewContext.Writer.Write("</div><br><div class='row'>");
                for (int i = 0; i < Model.Columns.Count; i++)
                {
                    string fieldName = Model.Columns[i].ColumnName;
                    if (fieldName.Contains(" - "))
                    {
                        var Data = DataBinder.Eval(c.DataItem, fieldName);
                        //if (Model.Columns[i].DataType == typeof(DateTime))
                        //{
                        //    Data = Data == null ? "" : Convert.ToDateTime(Data).ToString("dd-MM-yyyy");
                        //}
                        ViewContext.Writer.Write("<div class='col-md-3'><p class=''><b>" + fieldName + " - </b>" + Data + "</p></div>");
                    }
                }
                ViewContext.Writer.Write("</div></div></div>");
            });
        });


        for (int i = 0; i < Model.Columns.Count; i++)
        {
            string fieldName = Model.Columns[i].ColumnName;
            
            settings.Columns.Add(column =>
            {
                if ((cenid_forORCCase == 7036) && (fieldName == "Accom From" || fieldName == "Accom To")) //7036 is the cenid for ORC in production.
                {                    
                    column.Visible = false;                    
                }
                else
                {
                    column.Name = fieldName;
                    column.FieldName = fieldName;
                    column.Caption = fieldName;
                    column.Visible = ViewMode == "Default";
                    column.Width = 25;
                }
            });
            
        }
        settings.SettingsBehavior.AllowFocusedRow = true;
        MyExtensions.GridViewHelper.Custom_HeaderFilterFillItems_All(settings);
        MyExtensions.GridViewHelper.CustomGridView(settings);

    }).Bind(Model).GetHtml()
