<div class="GoldSilver_ExportProfile_ClearReferences_dx">

    @using DevExtreme.AspNet.Mvc;
    <div>
        @(Html.DevExtreme().Button()
                .ID("GoldSilver_ExportGridDataxlsx_dx")
                .Text("Export to XLSX")
                .OnClick("ExportXLSX_dx")
                .Visible(true)
                .Width(120)
    )
    </div>

    <script>
        function ExportXLSX_dx() {
            const workbook = new ExcelJS.Workbook();
            const worksheet = workbook.addWorksheet('Sheet');

            DevExpress.excelExporter.exportDataGrid({
                worksheet: worksheet,
                component: $("#GoldSilverListGrid").dxDataGrid("instance"),
                autoFilterEnabled: true,
                customizeCell({ excelCell, gridCell }) {
                    if (gridCell.rowType === 'header') {
                        const columnDataField = gridCell.column.dataField;
                        if (columnDataField === 'iIcon') {
                            const Column = worksheet.getColumn(excelCell.col);
                            Column.width = 20;
                        }
                    }
                }
            }).then(function (exportRange) {
                workbook.xlsx.writeBuffer().then(function (buffer) {
                    saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'GoldSilverList.xlsx');
                });
            });
            $("#GoldSilver_report_modal_result").dxPopup("hide");
        }
    </script>

</div>