<div class="CashBookPrintVoucher_ClearReferences">
@using ConnectOne.D0010._001;
@using DevExtreme.AspNet.Mvc;
@{
    Layout = null;
    bool IsMobile = (bool)ViewBag.IsMobile;
}
@model ConnectOne.D0010._001.CBVoucher
@Html.DevExpress().WebDocumentViewer(settings =>
{
    settings.ControlStyle.CssClass = "DevexpressComponents";
    settings.Name = "CB_CollectionBoxVoucher_Print";
    settings.MobileMode = IsMobile;
    settings.ClientSideEvents.Init = "function(s, e) { s.previewModel.reportPreview.showMultipagePreview(true);}";
}).Bind(Model).GetHtml()
    <script>
        ClosingScreenParentDivClass = "CashBookPrintVoucher_ClearReferences";
        </script>
</div>

