@using DevExtreme.AspNet.Mvc
@{
    DateTime To = DateTime.Today.AddDays(-(DateTime.Today.Day));
    DateTime From = new DateTime(To.Year, To.Month, 1);
}
<div class="container-fluid">
    <label style="color:deeppink">NOTE: Statements for any period can be fetched from 01-04-2024 onwards</label>
    <div class="row">
        <div class="col-xs-3">
            <label>From Date:</label>
            @(Html.DevExtreme().DateBox().CustomDateBox().ID("StoredData_fromdate_bankstmt").Name("StoredData_fromdate_bankstmt").ShowClearButton(true)@*.Value(Model.fromdate)*@
                        .Type(DateBoxType.Date).Placeholder("From Date").Min(DateTime.MinValue).Max(DateTime.MaxValue)
                        .Value(From).OnValueChanged("StoredData_fromdate_bankstmt_Valuechanged")
                    )
        </div>
        <div class="col-xs-3">
            <label>To Date:</label>
            @(Html.DevExtreme().DateBox().CustomDateBox().ID("StoredData_todate_bankstmt").Name("StoredData_todate_bankstmt").ShowClearButton(true)@*.Value(Model.todate)*@
                        .Type(DateBoxType.Date).Placeholder("To Date").Min(DateTime.MinValue).Max(DateTime.MaxValue)
                        .Value(To).OnValueChanged("StoredData_todate_bankstmt_Valuechanged")
                    )

        </div>
        <div class="col-xs-3">
            @(Html.DevExtreme().Button().ID("StoredData_Update_bankstmt").Text("Show Bank Statement").OnClick("StoredData_bankStatment_btnClick")   )
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="BankStatementStoredDataGrid"></div>
        </div>
    </div>
</div>