@using DevExtreme.AspNet.Mvc
@{ 
    string FromDate = ViewBag.FromDate;
    string ToDate = ViewBag.ToDate;
    DateTime To = DateTime.Today;
    DateTime From = DateTime.Today.AddDays(-29);
    if (string.IsNullOrWhiteSpace(FromDate)==false)
    {
        From = Convert.ToDateTime(FromDate);
    }
    if (string.IsNullOrWhiteSpace(ToDate)==false)
    {
        To = Convert.ToDateTime(ToDate);
    }
}
<div class="container-fluid">
    <label style="color:deeppink">NOTE: Only 30-day statements can be fetched.</label>
    <div class="row">
        <div class="col-xs-3">
            <label>From Date:</label>
            @(Html.DevExtreme().DateBox().CustomDateBox().ID("LiveData_fromdate_bankstmt").Name("LiveData_fromdate_bankstmt").ShowClearButton(true)
                        .Type(DateBoxType.Date).Placeholder("From Date").Min(DateTime.MinValue).Max(DateTime.MaxValue)
                        .Value(From).OnValueChanged("LiveData_fromdate_bankstmt_Valuechanged")
                    )
        </div>
        <div class="col-xs-3">
            <label>To Date:</label>
            @(Html.DevExtreme().DateBox().CustomDateBox().ID("LiveData_todate_bankstmt").Name("LiveData_todate_bankstmt").ShowClearButton(true)
                        .Type(DateBoxType.Date).Placeholder("To Date").Min(DateTime.MinValue).Max(DateTime.MaxValue)
                        .Value(To).OnValueChanged("LiveData_todate_bankstmt_Valuechanged")
                    )
        </div>
        <div class="col-xs-3">           
            @(Html.DevExtreme().Button().ID("LiveData_Update_bankstmt").Text("Show Bank Statement").OnClick("LiveData_bankStatment_btnClick")   )
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="BankStatementLiveDataGrid"></div>
        </div>
    </div>
</div>
