<div class="ChangeInstitute_ClearReferences">
    @using DevExtreme.AspNet.Mvc;
    @model  System.Data.DataTable
    <style>
        .tickblue {
            color: #0072C6 !important;
        }

        .dx-popup-content {
            padding: 0px !important;
        }

        .dx-button {
            color: #111;
            border-color: #9fcdfc;
            background: #fbfdff;
            background: -moz-linear-gradient(top, #fbfdff 0%, #9fcdfc 64%, #ceefff 100%);
            background: -webkit-linear-gradient(top, #fbfdff 0%,#9fcdfc 64%,#ceefff 100%);
            background: linear-gradient(to bottom, #fbfdff 0%,#9fcdfc 64%,#ceefff 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdff', endColorstr='#ceefff',GradientType=0 );
        }

            .dx-button:hover, .dx-button:focus {
                color: #000000;
                border-color: #ffae49;
                background: #ffe6ca;
                background: -moz-linear-gradient(top, #ffe6ca 0%, #ffd08e 64%, #ffae49 100%);
                background: -webkit-linear-gradient(top, #ffe6ca 0%,#ffd08e 64%,#ffae49 100%);
                background: linear-gradient(to bottom, #ffe6ca 0%,#ffd08e 64%,#ffae49 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe6ca', endColorstr='#ffae49',GradientType=0 );
            }

        .dx-popup-title .dx-closebutton .dx-icon {
            color: #ffffff;
            background-color: #ff5555;
        }
    </style>

    <div class="full-width-header-bg">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="popuphead  pll pll4 pll4 pll4"><i class="far fa-edit"></i> Select Institute</h3>
            </div>
        </div>
    </div><!--[Header]-->
    <div id="SelectInstitute_reloadPartialView" class="parent_table">
        <form>
            @Html.Partial("Frm_COD_Selection_Ins_Auditor_Grid", Model)
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <label style="color:#800000;padding-left:8px;padding-top:3px">Auditor User Name: @ViewBag.lbl_User_ID</label>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="styleActionBtn" style="padding-bottom:3px">
                        @* Redmine Bug #133585 fix *@

                        @(Html.DevExtreme().Button().CustomSaveButton().ID("SelectInstitute_Save").Text("OK").UseSubmitBehavior(false).OnClick("SlectInstitute_okClick").FocusStateEnabled(true) )
                        @(Html.DevExtreme().Button().CustomCloseButton().ID("SelectInstitute_Cancel").Text("Cancel").OnClick(@<text> function () { $("#popup_frm_COD_Selection_Auditor_Ins").dxPopup("hide"); } </text>).FocusStateEnabled(true) )

                    </div>
                </div>
            </div>
        </div>
    </div><!--[Buttons]-->
    @*@(Html.DevExtreme().Popup()
                .ID("popup_frm_COD_Selection_Auditor")
                .OnShowing("PopupOnShowing")
                .Height("auto")
                .MaxWidth(850)
                .OnShown("PopupOnShown")
                .DeferRendering(true)
                .ShowCloseButton(true)
                .ShowTitle(true)
                .Title("Select Center")
                .OnHidden("PopupOnHidden")

)*@
    <script>
        var INS_ID = null;
        var INS_NAME;
        var INS_SHORT;
        function CenterSelectionAuditorListGrid_init(s, e) {
            //ASPxClientUtils.AttachEventToElement(s.GetMainElement(), "keyup", function (evt) {
            //    switch (evt.keyCode) {
            //        case 13: // enter key
            //            SlectInstitute_okClick();
            //            break;
            //    }
            //});
            setTimeout(function () {
                $("#CenterSelectionAuditorListGrid").focus();
            }, 100);
        }
        function CenterSelectionAuditorListGrid_OnGridFocusedRowChanged(s, e) {
            setTimeout(function () {
                $("#CenterSelectionAuditorListGrid").focus();
            }, 100);
            if (s.GetFocusedRowIndex() >= 0) {
                // s.GetRowValues(s.GetFocusedRowIndex(), 'INS_ID;INS_NAME;INS_SHORT', CenterSelectionAuditorListGrid_OnGetRowValues);
            }
            else {
                INS_ID = null;
            }
        }
        function CenterSelectionAuditorListGrid_OnGetRowValues(values) {
            INS_ID = values[0];
            INS_NAME = values[1];
            INS_SHORT = values[2];
            $.ajax({
                type: 'POST',
                url: "/Start/Login/Frm_COD_Selection_Auditor",
                data: { xIns_ID: INS_ID, xINS_NAME: INS_NAME, xINS_SHORT: INS_SHORT },
                cache: false,
                success: function (data) {
                    if (data.result == false) {
                        DevExpress.ui.dialog.alert(data.message, "Error!!");
                    }
                    else {
                        ShowLoader();
                        if ($("#Loader_CC").length > 0) {
                            $("#Loader_CC").remove();
                        }
                        if ($("#ChangeCenter_ParentDiv").length > 0) {
                            $("#ChangeCenter_ParentDiv").remove();
                        }

                        $("#popup_frm_COD_Selection_Auditor_Ins").dxPopup("hide");
                        if ($("#contact_MY_home_Index").length > 0) {
                            OpenPopup("popup_frm_COD_Selection_Auditor", "Select Center", null, "auto", 850, true, data)
                        }
                        else {
                            var Popupid = "#" + "popup_frm_COD_Selection_Auditor";
                            $(Popupid).dxPopup();
                            $(Popupid).dxPopup("instance").option("title", "Select Center")
                            $(Popupid).dxPopup("instance").option("height", "auto")
                            $(Popupid).dxPopup("instance").option("width", 850)
                            $(Popupid).dxPopup("instance").option("showCloseButton", true)                          
                            $(Popupid).dxPopup("instance").option("fullScreen", false);
                            $(Popupid).dxPopup({ onShowing: function (e) { PopupOnShowing(e) } });
                            $(Popupid).dxPopup({ onHidden: function (e) { PopupOnHidden(e) } });
                            $(Popupid).dxPopup({ onShown: function (e) { PopupOnShown(e) } });
                            var CT = document.createElement('div');
                            $(CT).attr('id', "result_popup_frm_COD_Selection_Auditor");
                            $(CT).html(null);
                            $(CT).html(data);
                            $("#popup_frm_COD_Selection_Auditor").dxPopup({
                                contentTemplate: function (contentElement) {
                                    contentElement.append(CT);
                                }
                            });
                            $("#popup_frm_COD_Selection_Auditor").dxPopup("show");
                        }

                       
                        HideLoader();
                        //OpenPopup('popup_frm_COD_Selection_popup', "Choose Center", null, "auto", 800, true, data);

                    }
                }
            });
        }
        function SlectInstitute_okClick(e) {
            if (CenterSelectionAuditorListGrid.GetFocusedRowIndex() >= 0) {
                CenterSelectionAuditorListGrid.GetRowValues(CenterSelectionAuditorListGrid.GetFocusedRowIndex(), 'INS_ID;INS_NAME;INS_SHORT', CenterSelectionAuditorListGrid_OnGetRowValues);
            }
            else {
                DevExpress.ui.dialog.alert("Select A Institute", "Error!!");
                setTimeout(function () {
                    $("#CenterSelectionAuditorListGrid").focus();
                }, 100);
            }
        }
        $("#CenterSelectionAuditorListGrid").keyup(function (evt) {
            switch (evt.keyCode) {
                case 13: // enter key
                    SlectInstitute_okClick();
                    break;

            }
        });
        $(document).ready(function () {
            ShowLoader();
            setTimeout(function () {
                HideLoader();
                $("#CenterSelectionAuditorListGrid").focus();
            }, 500);
        });


    </script>
</div>