/*---------------------------------------------------------------------------------------------------------------*/
/*NEW CSS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.dx-texteditor-input {
     /*height:20px !important;*/ 
     min-height: 20px !important;
     /*padding:0px 34px 0px 12px;*/
	 color:#031791; 
}
.dx-datagrid-search-panel input {
    padding-left :28px !important;
}
.dx-show-clear-button .dx-texteditor-input { height:20px; padding:2px 34px 2px 5px; min-height:5px;}
.dx-placeholder:before {
    padding: 2px 9px 2px 2px;
    line-height: 16px;
    top: 0px;
}
.form-group {
    /*margin-bottom: 6px !important;*/
}
#NewAddressBook .dx-button-content { overflow:visible; white-space:normal; padding-top:45px; }
#NewAddressBook .dx-icon.dx-icon-add { margin-right:0;}
.dx-popup-title .dx-closebutton.dx-state-hover {
    border-bottom-color:transparent;
    background-color:transparent;
    box-shadow:none;
}
.dx-popup-title .dx-closebutton .dx-icon {
color:#ffffff;
background-color:#ff5555;
}
.dx-popup-title .dx-closebutton:hover .dx-icon {
background-color:#ff2222;
}

@media (min-width: 768px) {
.form-horizontal .control-label {
    padding-top: 3px;
    margin-bottom: 0;
}
}
/*RP start*/
.form-horizontal .control-label {
    text-align:left;
    font-weight:400;
    padding:0;
}

.mt5 {
    margin-top: 5px;
}

.dx-datebox {
    width: 100% !important;
}
/*.dx-popup-content {
    padding: 0px;
}*/


.dx-placeholder {
    font-size:12px;
    font-weight:normal;
}

/*Dx Button*/
.dx-button {
color:#111;
border-color:#9fcdfc;
background: #fbfdff;
background: -moz-linear-gradient(top, #fbfdff 0%, #9fcdfc 64%, #ceefff 100%);
background: -webkit-linear-gradient(top, #fbfdff 0%,#9fcdfc 64%,#ceefff 100%);
background: linear-gradient(to bottom, #fbfdff 0%,#9fcdfc 64%,#ceefff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdff', endColorstr='#ceefff',GradientType=0 );
min-width:55px
}

.dx-popup-title .dx-button, .dx-htmleditor-toolbar-format.dx-button { min-width: auto }
.dx-popup-title .dx-button:hover, .dx-popup-title .dx-button:focus { background: transparent;}

.dx-button:hover,
.dx-button:focus {
    /*background:#d6eaff;
    border-color:#a0cfff;
    color: #000000;*/
	color: #000000;
	
    border-color:#ffae49;
    background:#ffe6ca;
	background: -moz-linear-gradient(top, #ffe6ca 0%, #ffd08e 64%, #ffae49 100%);
background: -webkit-linear-gradient(top, #ffe6ca 0%,#ffd08e 64%,#ffae49 100%);
background: linear-gradient(to bottom, #ffe6ca 0%,#ffd08e 64%,#ffae49 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe6ca', endColorstr='#ffae49',GradientType=0 );
}

.dx-button-content {
    white-space:normal;
}
/*Dx Button End */


.dx-popup-warpper .dx-state-focused.dx-overlay-content{ border:solid 2px #1e8bed!important;}

/*Data Grid*/

.dx-datagrid .dx-menu .dx-menu-item .dx-menu-item-content {
    padding:1px 3px 0px 4px;
}

.dx-datagrid .dx-row > td {
    padding-top: 2px;
    padding-bottom: 2px;
}

/*Data Grid End*/


/*Override theme colors start*/
.dx-texteditor {
    border:1px solid #89b9eb;
    border-radius:0;
}
.dx-texteditor.dx-state-readonly {
    border-color:#89b9eb;
}

.dx-popup-content {
    padding:0 0 3px;
    background-color: #e8f1f9;
}
.dx-scrollable-scrollbars-alwaysvisible.dx-scrollable-both > .dx-scrollable-wrapper > .dx-scrollable-container > .dx-scrollable-content, .dx-scrollable-scrollbars-alwaysvisible.dx-scrollable-vertical > .dx-scrollable-wrapper > .dx-scrollable-container > .dx-scrollable-content{
    padding-right:0
}

.dx-overlay-wrapper { color: #111111; }
.text-danger {
    color:#ff0000;
}

.dxgvFocusedGroupRow_MetropolisBlue .dxGridView_gvExpandedButton_MetropolisBlue {
    background-position:-209px -188px !important;
}



/*New theme introduced for connectone - bk adesh*/
.report_header_div_main, .full-width-header-bg2 {background:#d8eefb !important;}
.dx-button {background: -webkit-linear-gradient(top, #f0faff 0%, #dbecfd 50%, #d7eaf9 100%); background: linear-gradient(to bottom, #f0faff 0%, #dbecfd 50%, #d7eaf9 100%); border-color: #a3c7eb; box-shadow: 1px 1px 3px rgba(0, 0, 0, .05); margin-left:1px;}
.notification-tab .nav-tabs{border-bottom-color: #cbe8f4;}
.dx-button:hover{background: -webkit-linear-gradient(top, #ffdfbc 0%, #ffd08e 54%, #ffbf70 100%); background: linear-gradient(to bottom, #ffdfbc 0%, #ffd08e 54%, #ffbf70 100%); border-color: #efaf60; text-decoration:none}
.dx-button:focus{background: -webkit-linear-gradient(top, #ffbf70 0%, #ffd08e 54%, #ffdfbc 100%); background: linear-gradient(to bottom, #ffbf70 0%, #ffd08e 54%, #ffdfbc 100%);}
.report_button_div .dx-button{width:max-content !important}
.dx-popup-title.dx-toolbar{background: linear-gradient(top, #5fb9f1 0%, #1e8bed 100%);}
.dx-popup-wrapper > .dx-overlay-content {border: 1px solid #4aa1ea !important; box-shadow: 0 5px 18px rgba(0, 0, 0, .3);}
.dx-datagrid-headers .dx-header-row{ background: #badefb; font-weight: 600; font-family:"Inter",sans-serif; color:#000; line-height: 18px;}
.dx-context-menu{font-family:"Inter",sans-serif;}
.dx-datagrid .dx-row > td { padding-top: 4px; padding-bottom: 3px; }
.dx-datagrid-rowsview .dx-selection.dx-row, .dx-datagrid-rowsview .dx-selection.dx-row:hover, .dx-datagrid-rowsview .dx-selection.dx-row.dx-row-alt, .dx-datagrid-rowsview .dx-selection.dx-row.dx-row-alt:hover {
    background-color: #3065b5 !important;
}
.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-contoured-date, .dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today.dx-calendar-contoured-date { -webkit-box-shadow: inset 0 0 0 1px #3065b5, inset 0 0 0 1000px #3065b5; box-shadow: inset 0 0 0 1px #3065b5, inset 0 0 0 1000px #3065b5; }
.dx-data-row.dx-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row), .dx-data-row.dx-row-alt.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row) {
    background-color: #ffecd0;
}
.dx-data-row.dx-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row) > td:hover, .dx-data-row.dx-row-alt.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row) > td:hover {
    background-color: #f9e8cf;
}
.dx-datagrid .dx-row .dx-editor-cell .dx-texteditor .dx-texteditor-input:hover{background:#f6f6f6}

.dx-datagrid-content .dx-datagrid-table .dx-row.dx-header-row > td:hover, .dx-datagrid-content .dx-datagrid-table .dx-row.dx-datagrid-group-footer > td:hover {background: #c5e6ff; }
.dx-tab-selected { background: #d9eeff !important; font-weight:bold}
.dx-calendar-navigator .dx-button.dx-state-hover:not(.dx-calendar-disabled-navigator-link){border-color: #efaf60}
.dx-calendar.dx-calendar-with-footer .dx-calendar-footer .dx-button { background: #f0f8ff; }
.dx-calendar.dx-calendar-with-footer .dx-calendar-footer .dx-button.dx-state-active { background: #d6ecff; }
.dx-calendar-navigator .dx-calendar-caption-button.dx-button .dx-button-content{color: #2c4783;}

.dxfabControl_MetropolisBlue .dx-fab-main-button {background-color: #3569b9;}
.dxfabControl_MetropolisBlue .dx-fab-main-button.dx-fab-actions-expanded img.dx-fab-close-button {filter: hue-rotate(11deg) saturate(0.8);}
.dxfabControl_MetropolisBlue .dx-fab-main-button .imagesprite.pin{filter:invert(1) drop-shadow(0 0 1px white)}
.dx-datagrid .dx-header-filter.dx-header-filter-empty {color: #84aee7; transition:.3s all}
.dx-datagrid .dx-header-filter.dx-header-filter-empty:hover {color: #3d60b0;}
.dx-data-row[style='background-color: gold;'] {background-color: #ffdb5a !important;}
.dx-radiogroup.dx-state-focused, .dx-checkbox.dx-state-focused { outline-width: 1px; outline-style: dotted; border-radius: 2px; position:relative; top:1px }
.dx-datagrid.dx-datagrid-borders > .dx-datagrid-pager{margin-top:0; background:#CFE0F4; color:#000}
.dx-datagrid-borders > .dx-datagrid-filter-panel{background-color: #dbeaff}
.DG_DetailGrid .DataGridPreviewRow { background-color: #e5e1de; line-height: 19px; font-family: 'Open Sans'; text-shadow: 1px 1px rgba(256, 256, 256, .2); }
.dx-datagrid-nodata {color: #818789; font-size: 15px; font-family: 'Open Sans';}
.dx-datagrid .dx-error-row .dx-error-message{background-color: #b61b1b; font-weight: 500;}
.dx-datagrid-rowsview .dx-datagrid-table .dx-row.dx-freespace-row > td:empty {border: none;}

/*common enhancements*/
.dx-selection .imagesprite.attach_normal, .dx-selection .imagesprite.attach_other_plus {filter: brightness(2)}
.dx-datagrid-group-opened,.dx-datagrid-group-closed{color:#35456a}
.dx-selection .dx-datagrid-group-opened, .dx-selection .dx-datagrid-group-closed {color: #e4f2ff}
.dx-selection .imagesprite.vacceptremark {background-position: -10px -943px; filter: hue-rotate(60deg);}
.dx-selection a[style='color:maroon'] {color: #fff !important;}
.dx-datagrid .dx-row-lines > td{border-top:none;}
.dx-datagrid-rowsview .dx-row, .DataGridPreviewRow{border:none;}
.dx-tabpanel .dx-multiview-wrapper{border-color:transparent}
.dx-menu-base .dx-menu-item-content{padding:5px}
.dx-list.dx-list-with-search .dx-texteditor.dx-editor-outlined{margin:10px}
.dx-list.dx-list-with-search .dx-list-select-all {padding: 4px 0;}
.dx-list.dx-list-with-search .dx-list-item-content{padding: 6px;}
.dx-popup-content .styleActionBtn{padding: 4px 2px 2px;}
.dx-popup-title.dx-toolbar .dx-toolbar-items-container {height: 28px;}
.dx-popup-title.dx-toolbar .dx-toolbar-label{margin-top:5px}
.dx-tab-selected .dx-tab-text{text-decoration:none}
.dx-filterbuilder{padding:10px;}
.dx-dropdowneditor-overlay .dx-popup-content {padding-bottom: 0;}
.dx-context-menu .dx-menu-separator{margin:0}
.dx-header-row > td > .dx-datagrid-text-content{vertical-align:middle}
.dx-datagrid .dx-column-indicators .dx-header-filter.dx-header-filter{position:relative; top:2px; font-size:13px}
.dx-data-row{color:#333}
.styleActionBtn .dx-button-content .dx-icon{top:1px}
.dx-datagrid-total-footer .dx-datagrid-table td {border-left: 1px solid #AECAF0; border-right: 1px solid #AECAF0;}
/*New theme for connectone ends here*/