<table>
    <tbody>
        <tr>
            <td><strong>Screen name</strong></td>
            <td><strong>Control</strong></td>
            <td><strong>Key Combination</strong></td>
            <td><strong>Effect</strong> </td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Clrl + shift+g    </td>
            <td>Focus on first tab</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Escape (no popup open)    </td>
            <td>Closes Latest open tab </td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Ctrl + tab    </td>
            <td>active others tab</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Ctrl = Shift + tab</td>
            <td>    active others tab</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Escape (popup open)</td>
            <td>    Close Popup</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    F5</td>
            <td>    Refresh page</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Alt + b    </td>
            <td>Open Bank Account Information</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Alt  + g</td>
            <td>    Open Gold/Silver Information</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Alt + t    </td>
            <td>Open Telephone Information</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Alt + v    </td>
            <td>Open Vehicles Information</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    F7</td>
            <td>    Open Cash Book</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Ctrl + Shift + c</td>
            <td>    Open Cash Deposit/ Withdrawn Voucher</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Ctrl + Shift + b</td>
            <td>    Open Bank to Bank Transfer Voucher</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Ctrl + Shift + p</td>
            <td>    Open Payment Voucher</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Ctrl + Shift + r</td>
            <td>    Open Receipt Voucher</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Ctrl + Shift + d</td>
            <td>    Open Donation Voucher</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Ctrl + Shift + k</td>
            <td>    Open Donation in Kind Voucher</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Ctrl + Shift + x</td>
            <td>    Open Collection Box Voucher</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Ctrl + Shift + f</td>
            <td>    Open FD Voucher</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Ctrl + Shift + Alt + t    </td>
            <td>Open Internal Transfer Voucher</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Ctrl + Shift + a</td>
            <td>    Open Asset Transfer Voucher</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Ctrl + Shift + s</td>
            <td>    Open Sale of Asset Voucher</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Ctrl + Shift + j</td>
            <td>    Open Journal Entry Voucher</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Ctrl + Shift + w</td>
            <td>    Open WIP Finalization</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Alt+ Ctrl + p</td>
            <td>    Open Potamel Statement</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Alt + L</td>
            <td>    Opens List preview</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    alt + H</td>
            <td>    Toogles Full/Default Data</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Alt + X</td>
            <td>    Lock data</td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Alt + U</td>
            <td>    Unlock data </td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Alt + N</td>
            <td>    New </td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Alt + E</td>
            <td>    Edit </td>
        </tr>
        <tr>
            <td>all</td>
            <td>     all</td>
            <td>    Alt+D</td>
            <td>    Delete</td>
        </tr>
    </tbody>
</table>
