.float-right {
float:right;
}

.margin-9-float {
/*margin:10px;*/
float:right;
margin-top:-9px;

}

#setFooterItem {
    height: 55px;
    border: 1px solid #7e7e7e;
}



.margin-footer-table-left {
    float:left;
    margin-left:255px;}
.margin-footer-table-left-even {
    float: left;
    margin-left: 34px;

}

.header-margin-right {
    margin-right: -46px
}
div#PeriodSelection {
    width: 140px;
}

.hide-bank-col {
/*display:none;*/
}

#BE_View_Period {
    float: left;
    margin-top: -28px;
    margin-left: 160px;
    font-weight: normal;
}
/*span#BE_View_Period {
    float: right;
}*/
div#btnView_Summary {
    margin-top: -35px;
    margin-bottom: 7px;
}
span#BE_View_Balance {
    float: right;
    margin-top: -27px;
    font-weight: bold;
    margin-right: 114px;
}
                       
.checkbox-auditor {
    color: #fff !important;
}
   .dx-popup-content {
overflow:auto !important;
background-color:white !important;

}

@media only screen and (max-width: 500px) {

}

#div-lbl-contact {
    float: right;
    margin-top: -20px;
    font-weight: bold;
    font-style:italic;
    font-size:15px;
}
#Frm_Address_result {
margin-top:18px;
}
.pad-0 {
    padding: 0 !important;
}
div#Ok_PropertyBuildingAddress {
    float:right;
}

.tab-hide-show {
    display:none;
}
div#Chk_OtherDoc {
    width: 100% !important;
}

div#ExtendedProperty_Ok {
    float: right;
    margin-right: 10px;
}
div#ExtendedProperty_Cancle {
    float: right;
}

#Frm_Property_Window_Cancle {
    float: right !important;
}
#Frm_Property_Window_Ok {
    float: right !important;
    margin-right: 10px !important;
}

.user-detail .user-info .user-setting {
    width: auto;
}
.user-detail .user-current-year {
    padding-right: 35px;
    background: url(../image/calendar-red.png) right top no-repeat;
    padding-top: 21px;
    padding-bottom: 15px;
}