
<div class="timeContainer">
    @Html.DevExpress().Label(
        settings => {
            settings.Name = "timeLabel";
            settings.ControlStyle.Font.Bold = true;
            settings.ControlStyle.Font.Size = 20;
            settings.Properties.ClientSideEvents.Init = "OnInit";
        }
    ).GetHtml()
</div>
<div class="dateContainer">Content comes here
    <div style="align-content: center;">
        <iframe id="VouchingAttachmentFrm2" src="" style="height: 600px; width: 100%;"></iframe>
    </div>
</div>
<script>
    $(document).ready(function () {
        document.getElementById('VouchingAttachmentFrm2').src = "http://192.168.61.142:1008/Attachments/" + "@Model.Curr_Attachment_File_Name" + "#toolbar=0&navpanes=0";
    });
</script>