@using DevExtreme.AspNet.Mvc;
@using System.Web.UI.WebControls;
@model  List<Common_Lib.DbOperations.Vouchers.Return_GetVouchingAuditDashboard>

<div class="middle-section clearfix" style="padding-top:25px">
    <div class="container-fluid">
        <div class="main-content-left ol-sm-12 col-md-6">
            <div class="notification">
                <div class="heading">
                    <h2 style="background: url(../../../../Content/image/icon_audit5.jpg) left center no-repeat;padding-left:45px">Vouchers <span>Available for Audit</span> </h2> @*<span class="notification-count"># 12</span>*@
                </div>
                @Html.DevExpress().CardView(settings =>
           {
               settings.Name = "Cards";
               settings.CallbackRouteValues = new { Controller = "Vouching Audit", Action = "VouchingAuditorDashboardCardView" };
               settings.Styles.Card.Width = 300;
               settings.Styles.Card.Border.BorderStyle = BorderStyle.Solid;
               settings.Styles.Card.Border.BorderWidth = Unit.Pixel(1);
               settings.Styles.Card.Border.BorderColor = System.Drawing.Color.LightGray;
               settings.Width = Unit.Percentage(100);
               settings.EnableCardsCache = false;
               settings.SettingsText.EmptyCard = "<div style='height:100px;width:100%;text-align: center;vertical-align:middle'>No Vouchers Available for Audit!!</div>";
               settings.Settings.LayoutMode = DevExpress.Web.Layout.Breakpoints;
               settings.SettingsAdaptivity.BreakpointsLayoutSettings.CardsPerRow = 2;
               settings.SettingsAdaptivity.BreakpointsLayoutSettings.Breakpoints.Add(BreakpointsLayoutDeviceSizes.XLarge, 2);
               settings.SettingsAdaptivity.BreakpointsLayoutSettings.Breakpoints.Add(BreakpointsLayoutDeviceSizes.Large, 2);
               settings.SettingsAdaptivity.BreakpointsLayoutSettings.Breakpoints.Add(BreakpointsLayoutDeviceSizes.Medium, 1);
               settings.SettingsAdaptivity.BreakpointsLayoutSettings.Breakpoints.Add(BreakpointsLayoutDeviceSizes.Small, 1);
               settings.SettingsAdaptivity.BreakpointsLayoutSettings.Breakpoints.Add(450, 1);
               settings.SettingsPager.Mode = GridViewPagerMode.EndlessPaging;
               settings.SettingsPager.EndlessPagingMode = CardViewEndlessPagingMode.OnScroll;
               settings.SettingsPager.SettingsBreakpointsLayout.ItemsPerPage = 18;
               settings.Styles.BreakpointsCard.Height = Unit.Percentage(100);

               settings.KeyFieldName = "ID";
               settings.Columns.Add(c =>
               {
                   c.FieldName = "PhotoUrl";
                   c.ColumnType = MVCxCardViewColumnType.Image;
                   ((ImageEditProperties)c.PropertiesEdit).ImageWidth = 80;
                   c.Caption = "";
               });
               settings.Columns.Add("Category");
               settings.Columns.Add("Instt");
               settings.Columns.Add("Financial_Year");
               settings.Columns.Add("Entries_Available");

               settings.Columns.Add(column =>
               {
                   column.FieldName = "LinkURL";
                   column.Caption = "Details";
                   column.SetDataItemTemplateContent(container =>
                   {
                       Html.DevExpress().HyperLink(hyperlink =>
                       {
                           var visibleIndex = container.VisibleIndex;
                           var keyValue = container.KeyValue;
                           var Category = DataBinder.Eval(container.DataItem, "Category");
                           var Instt = DataBinder.Eval(container.DataItem, "Instt");

                           hyperlink.Name = "hl" + keyValue.ToString();
                           hyperlink.Properties.Text = "Click here to Start Vouching";
                           hyperlink.NavigateUrl = "#";
                           hyperlink.Attributes.Add("onclick", "openVouchingAudit('"+Instt+ "','" + Category + "'); return false;");
                       }).Render();
                   });
               });
               settings.CardLayoutProperties.ColCount = 2;
               settings.CardLayoutProperties.Items.Add(i =>
               {
                   i.ColumnName = "PhotoUrl";
                   i.ShowCaption = DefaultBoolean.False;
                   i.RowSpan = 5;
                   i.VerticalAlign = FormLayoutVerticalAlign.Middle;
               });
               settings.CardLayoutProperties.Items.Add("Category");
               settings.CardLayoutProperties.Items.Add("Instt").Caption = "Institution";
               settings.CardLayoutProperties.Items.Add("Financial_Year").Caption = "Financial Year";
               settings.CardLayoutProperties.Items.Add("Entries_Available").Caption = "Entries";
               settings.CardLayoutProperties.Items.Add("LinkURL").ShowCaption=DefaultBoolean.False;

               //settings.FormatConditions.AddTopBottom("Entries_Available", GridTopBottomRule.BottomItems, GridConditionHighlightFormat.BoldText);
               //settings.FormatConditions.AddTopBottom("Entries_Available", GridTopBottomRule.BottomItems, GridConditionHighlightFormat.GreenText);
               //settings.FormatConditions.AddTopBottom("Price", GridTopBottomRule.TopItems, GridConditionHighlightFormat.BoldText);
               //settings.FormatConditions.AddTopBottom("Price", GridTopBottomRule.TopItems, GridConditionHighlightFormat.RedText);

               //settings.FormatConditions.AddIconSet("Baths", GridConditionIconSetFormat.Arrows3Colored);
               //settings.FormatConditions.AddIconSet("Beds", GridConditionIconSetFormat.Arrows3Colored);

               //settings.FormatConditions.AddTopBottom("HouseSize", GridTopBottomRule.TopItems, GridConditionHighlightFormat.GreenText).Threshold = 5;
               //settings.FormatConditions.AddTopBottom("HouseSize", GridTopBottomRule.BottomItems, GridConditionHighlightFormat.RedText).Threshold = 5;

               settings.Settings.ShowHeaderPanel = false;
               settings.SettingsPager.SettingsTableLayout.ColumnCount = 2;
           }).Bind(Model).GetHtml()
            </div>
        </div>  <!-- main content left end -->

        <div class="col-sm-12 col-md-3 clearfix no-padding">
            <div class="notification">
                <div class="heading">
                    <h2>Notification <span>From Account Department</span> </h2> @*<span class="notification-count"># 12</span>*@
                </div>
                <ul class="notification-list list-unstyled clearfix" style="padding:10px;">
                    <li style="border-bottom:1px solid #989898">
                        <p>
                            <b style="color:#25CFAC">Connectone Web Ver 1.0 Beta Released with following functionalities:</b><br />
                            <span>
                                1. All Reports<br />
                                2. All Statement <br />
                                3. Listing only in Profiles and other Listing Screens <br />
                                4. Add/Update/Delete in Telephone Profile<br />
                                5. Add Collection Box Voucher <br />
                            </span>
                            <a target="_blank" href="http://connectone.ooo/documents/ver_1_0_known_issues.pdf">Known Issues</a> &nbsp;&nbsp;&nbsp;<a target="_blank" href="http://connectone.ooo/documents/ver_1_0_release_scope.xlsx">Release Scope</a>
                        </p>

                    </li>
                    <li style="border-bottom:1px solid #989898"><p><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cont_Audit_Schedule_1819.png"><text style="color:#F4616B;font-weight:bold">Latest</text><span>Continuous Audit Schedule 2018-19 </span></a></p></li>
                    <li style="border-bottom:1px solid #989898">
                        <p>
                            <b style="color:#25CFAC">Connectone Ver 6.0 Released with following Changes:</b><br />
                            <span>
                                1. Denomination Details added in Collection Box voucher and Collection Box voucher(Printable). There is no  need to create Excel based Collection Box voucher separately<br />
                                2. PAN restrictions applied for CSR donation <br />
                                3. Some smaller issues in Accounts Module Fixed<br />
                                4. Various issues fixed in Magazine Module<br />
                            </span>
                        </p>
                    </li>
                    <li style="border-bottom:1px solid #989898">
                        <p href="#">
                            <b style="color:#25CFAC">Connectone Version 5.8.2 has been released with following updates:</b><br />
                            <span>
                                Donation in Kind voucher shall automatically post the book value of asset created at Re.1 per Qty mentioned, up to 2 decimal digits. Existing entries in year 1718 shall be updated in Database directly, as per the same mentioned above.
                            </span>
                        </p>
                    </li>
                    <li style="border-bottom:1px solid #989898">
                        <p href="#">
                            <b style="color:#25CFAC">Connectone Ver 5.8.1.3 Released with following Changes:</b><br />
                            <span>
                                1. Issue related to last character in GSTN number has been fixed . <br />
                                2. Disabled auto opening of Audit Analysis on Login. To check Audit Analysis , please click `Start-> Account Analysis` <br />
                            </span>
                        </p>
                    </li>
                    <li style="border-bottom:1px solid #989898">
                        <p href="#">
                            <b style="color:#25CFAC">Connectone Ver 5.8.1 Released with following Changes:</b><br />
                            <span>
                                1. Changed Cash warning message to Rs. 10,000<br />
                                2. Added Cheque printing to Daily Balances Report <br />
                                3. Added GSTIN to Address Book screen <br />
                                4. Magazine module related internal changes<br />
                                5. Sync issue fix<br />
                                6. Added Magazine Related Reports<br />
                                7. Issues related to Update of Payment Voucher related to Construction fixed. <br />
                                8. TDS mapping related restrictions removed <br />
                                9. City related Mandatory check removed in Foreign Donation Screen <br />
                                10. Location related check fixed in Journal Voucher <br />
                            </span>
                        </p>
                    </li>
                </ul>
            </div> <!-- notification end -->

        </div><!-- main content middle end -->

        <aside class="alerts-right-part col-sm-12 col-md-3">

            <div class="notification">
                <div class="heading_circular">
                    <h2>Important Circulars<span>From Accounts Department</span> <span class="notification-count"></span></h2>
                </div>
                @*<div class="slimScrollDiv">*@
                <ul class="notification-list circular-list list-unstyled clearfix">
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 91 - Continuous Audit Ltr Centres 2018-19.pdf">Circular No. 91: <span>Continuous Audit Letter 2018-19</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 90 - Final Audit 2018-Regn Form-Eng.pdf">Circular No. 90: <span>Final Audit 2018-Regn Form-Eng</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 90 - Final Audit 2018 -Regn Form-Hindi.pdf">Circular No. 90: <span>Final Audit 2018 -Regn Form-Hindi</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/e-way bill circular.pdf"><span>e-way bill Circular</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 89 - IT on Cash pmt-Non TDS.pdf">Circular No. 89: <span>IT on Cash pmt-Non TDS</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 87 - Conti Audit 17-18 Regd Form Hindi.pdf">Circular No. 87: <span>Conti Audit 17-18 Regd Form Hindi</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 87 - Conti Audit 17-18 Regd Form Eng.pdf">Circular No. 87: <span>Conti Audit 17-18 Regd Form Eng</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 86 - Book Binding instructions 2016-17.pdf">Circular No. 86: <span>Book Binding instructions 2016-17</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/BK Health Safety Scheme Letter 17-18.pdf"><span>BK Health Safety Scheme Letter 17-18</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/SBI Ltr for TDS EXEMPTION CERTIFICATE.pdf"><span>SBI Ltr for TDS EXEMPTION CERTIFICATE</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 85 - Continuous Audit Ltr Centres 2017-18.pdf">Circular No. 85: <span>Continuous Audit Ltr Centres 2017-18</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Regarding Freight Expenses.pdf">Circular: <span>Regarding Freight Expenses</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/BKES SBI CHRG WAIVE.pdf">Circular: <span>BKES SBI Charges Waiver</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/WRST SBI CHRG WAIVE.pdf">Circular: <span>WRST SBI Charges Waiver</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/PBKIVV SBI CHRG WAIVE.pdf">Circular: <span>PBKIVV SBI Charges Waiver</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/RERF SBI CHRG WAIVE.pdf">Circular: <span>RERF SBI Charges Waiver</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/SBI Bank Charges Waiver Letter 2017-18.pdf">Circular: <span>SBI Bank Charges Waiver Letter 2017-18</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Works Contractor.xlsx"><span>GST Calculator</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 84 - GST Non Registration.pdf">Circular No. 84: <span>GST Non Registration</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Property letter to zone subzone incharge.pdf"><span>Property letter to zone subzone incharge</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Audit Notes 2017.pdf"><span>Audit Notes 2017</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 83 - Account writing at all Centres.pdf">Circular No. 83: <span>Account writing at all Centres</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/business activities ltr.pdf">Circular:<span>Important Letter regarding business activities</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Imp Points - Accounts $ Law 1-4-17.pdf">Circular: <span>Imp Points - Accounts $ Law</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/ConnectOne-Account_Submission.pdf">Circular: <span>How to submit Accounts in Connectone?</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 81 - Connectone Ver 5.6 details.pdf">Circular: <span>Cir 81 - Account submission and Connectone Ver 5.6 details</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 74 - No Agreement for MP-MLA Fund.pdf">Circular No. 74: <span>No Agreement for MP-MLA Fund</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 71 - Online payment guidelines.pdf">Circular No. 71: <span>Online payment guidelines</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/brahma_kumaris_bank_accounts_circular.pdf">Circular: <span>SBI circular for Brahmakumaris Saving Bank Accounts</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 62 - Penalty and Interest on TDS.pdf">Circular No. 62: <span>Penalty and Interest on TDS</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 65 - Transfer by chq to abu.pdf">Circular No. 65: <span>Transfer by chq to abu</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 62 - Penalty and Interest on TDS.pdf">Circular No. 62: <span>Penalty and Interest on TDS</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/support_new.html">Circular: <span>Madhuban Accounts Office Contact Info</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 107.90  26.06.15 group acs.pdf">Circular: <span>BOB Cir for wrong address</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Letter from SBI.pdf">Circular: <span>Letter from SBI</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 61 - SBI Circular address change.pdf">Circular No. 61: <span>SBI Circular address change</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 60 - BOB Circular address change.pdf">Circular No. 60: <span>BOB Circular address change</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 57 - Passbook FD name correction.pdf">Circular No. 57: <span>Passbook FD name correction</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/RNS-24-1-15.pdf">Circular: <span>Private and Confidential Letter and Circular from BK Ramesh Bhai</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 54 - SBI Letter for Saving Account.pdf">Circular No. 54: <span>SBI Letter for Saving Account</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 47 - Current Account RBI Circular.pdf">Circular No. 47: <span>Current Account RBI Circular</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/RBI Circular - DBOB.NO.Dir.BC.10-13.03.00-2013-14 dt 01-Jul-2013.pdf"><span>Original RBI Circular dt 01-Jul-2013</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 45 - Building and vehicle at pathshala.pdf">Circular No. 45: <span>Building and vehicle at pathshala</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 42 - Additional Installations for Connectone.pdf">Circular No. 42: <span>Additional Installations for Connectone</span></a></li>
                    <li><a target="_blank" href="http://accountserver.bkinfo.in/news/newsfiles/Cir 31 - Legal Guidelines.pdf">Circular No. 31: <span>Legal Guidelines</span></a></li>
                </ul>
                @*</div>*@
            </div> <!-- notification end -->
        </aside>
    </div>
</div>
<script>
    function openVouchingAudit(InsttID, Category) {
        var Category_Param = Category.replace(" ", "_");
        OpenTabControl('VouchingScreenName', 'Vouching Screen', '@Url.Action("VouchingScreen", "VouchingAudit")' + "?InsttID=" + InsttID + "&Vouching_Category=" + Category_Param + "");
        //OpenDynamicPopup('Accounts Submission', '/Start/AccountSubmission/Frm_Submit_Accounts', 460, 680);
    }
</script>