@using DevExtreme.AspNet.Mvc;
@using Common_Lib;
@model ConnectOneMVC.Areas.Start.Models.VouchingAuditModel

<style>
    .formDiv {
        margin: 8px;
        /*border: 2px solid #1e8bed!important;*/
    }

    .formDiv label {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .formHeader {
        padding: 4px 8px;
        background: #9cc6ec;
        height: 26px;
        background: linear-gradient(to bottom, #7bcdff 0%,#1e8bed 100%);
        color: white;
        font-weight: 500;
        font-size: 13px;
    }

    .formDiv .formRow {
        padding: 8px 4px !important;
    }
</style>
<div class="formDiv">
    <div class="formHeader"> Vouching Form ~ Cash Donations</div>
    <div class="row formRow">
        <div class="col-sm-8 col-md-8 col-lg-8 pll"><label class="control-label" for="user">Multiple Cash Donations by same Donor on same Day?</label></div>
        <div class="col-sm-4 col-md-4 col-lg-4 prm">
            @(Html.DevExtreme().TextBoxFor(y => y.VF_Cash_Donation_Multiple_Cash_Donations_Same_Day_Same_Party).ID("VF_Cash_Donation_Multiple_Cash_Donations_Same_Day_Same_Party").Name("VF_Cash_Donation_Multiple_Cash_Donations_Same_Day_Same_Party").Value(Model.VF_Cash_Donation_Multiple_Cash_Donations_Same_Day_Same_Party).Disabled(true))
        </div>
    </div><!--[Multiple Cash Donations (Dynamic)]-->

    <div class="row formRow">
        <div class="col-sm-8 col-md-8 col-lg-8 pll"><label class="control-label" for="user">Donation Letter in correct name of Institute?</label></div>
        <div class="col-sm-4 col-md-4 col-lg-4 prm">
            @(Html.DevExtreme().CheckBox().ID("VF_Cash_Donation_Correct_Name_Instt").Name("VF_Cash_Donation_Correct_Name_Instt"))
        </div>
    </div><!--[Correct Instt Name]-->

    <div class="row formRow">
        <div class="col-sm-8 col-md-8 col-lg-8 pll"><label class="control-label" for="user">Type of Donation</label></div>
        <div class="col-sm-4 col-md-4 col-lg-4 prm">
            @(Html.DevExtreme().SelectBox().Visible(true).TabIndex(3).ID("VF_Cash_Donation_Donation_Type").Name("VF_Cash_Donation_Donation_Type").DataSource(new[] { "Corpus", "CSR", "Non-Corpus", "Ananymous" })
                                        .Value(Model.VF_Cash_Donation_Donation_Type).SearchEnabled(true).ReadOnly(false).Disabled(false).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }).DeferRendering(false))
        </div>
    </div><!--[Donation Type]-->

    <div class="row formRow">
        <div class="col-sm-8 col-md-8 col-lg-8 pll"><label class="control-label" for="user">Signed</label></div>
        <div class="col-sm-4 col-md-4 col-lg-4 prm">
            @(Html.DevExtreme().CheckBox().ID("VF_Cash_Donation_Signed").Name("VF_Cash_Donation_Signed"))
        </div>
    </div><!--[Signed]-->
</div>