@using DevExtreme.AspNet.Mvc;
@using System.Web.UI.WebControls;
@model ConnectOneMVC.Areas.Start.Models.VouchingAuditModel

@*<div style="align-content: center;">
    <iframe id="VouchingAttachmentFrm" src="" style="height: 600px; width: 100%;"></iframe>
</div>*@
@Html.DevExpress().DockZone(
    settings => {
        settings.Name = "dockZone2";
        settings.ZoneUID = "rightZone";
        settings.ControlStyle.CssClass = "rightZone";
        settings.Width = Unit.Percentage(100);
        settings.PanelSpacing = 3;
    }
).GetHtml()
@Html.DevExpress().DockPanel(
       settings => {
           settings.Name = "calendarPanel";
           settings.PanelUID = "Calendar";
           settings.AllowResize = true;
           settings.OwnerZoneUID = "rightZone";
           settings.HeaderText = "Calendar";
           settings.VisibleIndex = 1;
           //settings.Width = 280;
           settings.SetContent(() => {
               Html.RenderPartial("CalendarWidgetPartial");
           });
           settings.Styles.Content.Paddings.Padding = 10;
       }
   ).GetHtml()

<script>
    @*$(document).ready(function () {
        document.getElementById('VouchingAttachmentFrm').src = "http://192.168.61.142:1008/Attachments/" + "@Model.Curr_Attachment_File_Name" + "#toolbar=0&navpanes=0";
    });*@
</script>