
@using DevExtreme.AspNet.Mvc;
<div>
    @(Html.DevExtreme().RadioGroup()
            .ID("radioGroup")
            .DisplayExpr("text")
            .ValueExpr("color")
            .DataSource(new object[] {
    new { text = "Dispatch Type", color = "Type" },
    new { text = "Dispatch Type Charges", color = "Charge" }
                 })
            .OnValueChanged("Radio_New")
            .Width("auto")
            )
   
</div>
<script>
    function Radio_New(e)
    {
        var select = e.value;

        if (select == "Type") {
            OnMagazine_DispatchTypeNewClick();
        }
        else if (select = "Charge")
        {
            OnMagazine_DispatchChargeNewClick();
        }
        $("#Choose_New").dxPopup("hide");
    }
  
</script>

