<div class="TelephoneStatements_ClearReferences">

    @using ConnectOne.D0010._001;
    @using DevExtreme.AspNet.Mvc;
    @{
        Layout = null;
    }
    @model ConnectOne.D0010._001.Report_Telephone_Bill
    @Html.DevExpress().WebDocumentViewer(settings =>
    {
        settings.Name = "WebDocumentViewer";
        settings.MobileMode = (bool)ViewData["IsMobile"];
        //settings.Height = Unit.Percentage(100);
        settings.ClientSideEvents.Init = "function(s, e) { s.previewModel.reportPreview.showMultipagePreview(true);}";
        settings.ControlStyle.CssClass = "DevexpressComponents";

    }).Bind(Model).GetHtml()
</div>