<style>
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            line-height: 15px;
            display: inline-block;
            color: #666;
        }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 16px;
                border: 1px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }

            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 8px;
                height: 8px;
                background: #337ab7;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
</style>

<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">

<form action="" class="edit_form">
    <div class="full-width-header-bg2">
        <div class="row">

            <div class="col-sm-8 pll">
                <h3 class="popuphead"><i class="far fa-edit"></i>Magazine Membership</h3>
            </div>
            <div class="col-sm-4 prm">
                <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red Fields are mandatory</h5>
            </div>
        </div>
    </div><!--[]-->


    <div class="row row-bg">
        <div class="col-sm-8">
            <div class="bot-shadow">
                <div class="container-fluid pll prm">
                    <div class="row pbtm3">
                        <div class="col-sm-3">
                            <label class="control-label text-red" for="Name">Member Status:</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="radiobtn-outer2">
                                <div class="radi-align pad-rgt-4">
                                    <input type="radio" id="New Member" name="radio-group" checked>
                                    <label for="New Member" class="la-bel">New Member</label>
                                </div>
                                <div class="radi-align">
                                    <input type="radio" id="Exiting Member" name="radio-group">
                                    <label for="Exiting Member">Existing Member</label>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-field">
                <div class="container-fluid pll prm">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Add Member" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <span class="dx-button-text">Add Member <br />( Ctrl+A)</span>
                            </div>
                        </a>
                    </div><!--[button]-->
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-field">
                <div class="container-fluid pll prm">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Manage Member" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content">
                                <span class="dx-button-text">Manage Member <br />( Ctrl+M)</span>
                            </div>
                        </a>
                    </div><!--[button]-->
                </div>
            </div>
        </div>
    </div><!--[/row]-->

    <div class="row">
        <div class="col-sm-12">
            <div class="grad-head pll">
                Member Details
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-field">
                <div class="container-fluid pll prm">
                    <div class="row">
                        <div class="col-sm-3 col-md-2 col-lg-2">
                            <label class="control-label text-red" for="user">Member Name:</label>
                        </div>
                        <div class="col-sm-9 col-md-10 col-lg-10">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox ex-marg-27 set-posit">
                                <div class="dx-texteditor-container">

                                    <select name="" class="dx-texteditor-input appear">
                                        <option value="0"></option>
                                    </select>
                                    <div class="set-btn-posit">
                                        <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                            <a href="javascript:void(0);" class="link-txt">
                                                <div class="dx-button-content btn-sige">
                                                    <span class="dx-button-text">Search</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                            <a href="javascript:void(0);" class="link-txt">
                                                <div class="dx-button-content btn-sige">
                                                    <span class="dx-button-text">More Detail</span>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-2 col-lg-2">

                        </div>
                        <div class="col-sm-9 col-md-10 col-lg-10">
                            <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox ex-marg-27">
                                <div class="dx-texteditor-container">
                                    <input class="dx-texteditor-input" type="text" Placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--[/row]-->

    <div class="row">
        <div class="col-sm-12">
            <div class="grad-head pll">
                Subscription Detail:
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-field">
                <div class="container-fluid pll prm">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label text-red" for="user">Magazine Name:</label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">

                                            <select name="" class="dx-texteditor-input appear">
                                                <option value="0">Select Magazine Name...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-6 pll">
                                    <label class="control-label" for="user">Language:</label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox prm">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-5 pll">
                                    <label class="control-label" for="user">Publish:</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox prm">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" Placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div><!--[/col]-->
        <div class="col-sm-12">
            <div class="form-field">
                <div class="container-fluid pll prm">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label text-red" for="user">Subscription Type:</label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">

                                            <select name="" class="dx-texteditor-input appear" disabled="disabled">
                                                <option value="0"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-6 pll">
                                    <label class="control-label" for="user">Period From:</label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox prm">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" Placeholder="DD/MM/YYYY">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-4 pll">
                                    <label class="control-label" for="user">To:</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox prm">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" Placeholder="DD/MM/YYYY">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[/row]-->
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label text-red" for="user">Dispatch Type:</label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                                        <div class="dx-texteditor-container">

                                            <select name="" class="dx-texteditor-input appear">
                                                <option value="0">Select Dispatch Type...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3">

                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-6 pll">
                                    <label class="control-label" for="user">Total Copies:</label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox prm">
                                        <div class="dx-texteditor-container">
                                            <input class="dx-texteditor-input" type="text" Placeholder="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-field">
                <div class="container-fluid pll prm">
                    <div class="col-sm-2">
                        <label class="control-label" for="user">Other Detail:</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox prm ext-marg-26">
                            <div class="dx-texteditor-container">
                                <input class="dx-texteditor-input" type="text" Placeholder="Type Any Other Detail / Remarks...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="form-field wbg brd-bot-none">
                    <div class="col-lg-6 col-xs-12"></div>
                    <div class="col-lg-6 col-xs-12">
                        <div class="action-btn-wrap ">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                <a href="javascript:void(0);" class="link-txt">
                                    <div class="dx-button-content">
                                        <i class="fas fa-times-circle btn-icons crossgrey icon-rgt-space5"></i>
                                        <span class="dx-button-text">Cancel</span>
                                    </div>
                                </a>
                            </div><!--[button]-->


                        </div>

                        <div class="action-btn-sec-wrap">
                            <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                                <a href="javascript:void(0);" class="link-txt">
                                    <div class="dx-button-content">
                                        <i class="fas fa-check-circle btn-icons checkgreen icon-rgt-space5"></i>
                                        <span class="dx-button-text">Save</span>
                                        <input type="submit" class="dx-button-submit-input">
                                    </div>
                                </a>
                            </div><!--[button]-->

                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div><!--[/row5]-->
        </div>

    </div><!--[/row]-->

</form>