<div class="MultiBankCashBookExport_ClearReference">
@using DevExtreme.AspNet.Mvc;
<div>
    @(Html.DevExtreme().Button()
                .ID("MultiBankCB_ExportGridDataxlsx")
                .Text("Export to XLSX")
                //.Icon(DevExpress.Web.ASPxThemes.IconID.ActionsAdd32x32)
                .OnClick("ExportXLSX")
                .Visible(true)
                .Width(120)
    )
</div>
<script>
    function ExportXLSX()
    {
        const workbook = new ExcelJS.Workbook();
        const worksheet = workbook.addWorksheet('Sheet');

        DevExpress.excelExporter.exportDataGrid({
            worksheet: worksheet,
            component: $("div[id = '" +"@ViewBag.GridName"+"']").dxDataGrid("instance"),
            autoFilterEnabled: true,
            customizeCell: function (options) { }
        }).then(function (exportRange)
        {
            workbook.xlsx.writeBuffer().then(function (buffer)
            {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), "@ViewBag.Filename" + ".xlsx");
                MultiBankCashBookListGrid_dx_ShowHideNarration()
            });
        });        

        $("#report_modal").dxPopup("hide");
    }
</script>

    </div>