@{

    var ID = ViewBag.ID;
    Html.DevExpress().Image(ImageSettings =>
    {
        ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite attach_red_2";
        ImageSettings.Properties.EmptyImage.ToolTip = "Attachment Status : Pending";
    }).Render();


    //int? CompleteAttachCount = (int?)ViewBag.CompleteAttachCount;
    //int? RespondedCount = (int?)ViewBag.RespondedCount;
    //int? RejectedCount = (int?)ViewBag.RejectedCount;
    //int? OtherCount = (int?)ViewBag.OtherCount;
    //int? AllCount = (int?)ViewBag.AllCount;
    //if ((CompleteAttachCount + RespondedCount == 0) && ReqAttachCount > 0)
    //{
    //    Html.DevExpress().Image(ImageSettings =>
    //    {
    //        ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite attach_red_2";
    //        ImageSettings.Properties.EmptyImage.ToolTip = "Attachment Status : Pending";
    //    }).Render();
    //}
    //else if (((CompleteAttachCount + RespondedCount) > 0) && (CompleteAttachCount + RespondedCount) < ReqAttachCount)
    //{
    //    Html.DevExpress().Image(ImageSettings =>
    //    {
    //        ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite attach_yellow_2";
    //        ImageSettings.Properties.EmptyImage.ToolTip = "Attachment Status : Partial";
    //    }).Render();
    //}
    //else if ((CompleteAttachCount + RespondedCount >= ReqAttachCount) && ReqAttachCount > 0 && RespondedCount == 0)
    //{
    //    Html.DevExpress().Image(ImageSettings =>
    //    {
    //        ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite attach_green_2";
    //        ImageSettings.Properties.EmptyImage.ToolTip = "Attachment Status : Complete";
    //    }).Render();
    //}
    //else if ((CompleteAttachCount + RespondedCount >= ReqAttachCount) && ReqAttachCount > 0 && RespondedCount > 0)
    //{
    //    Html.DevExpress().Image(ImageSettings =>
    //    {
    //        ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite completed_with_remarks";
    //        ImageSettings.Properties.EmptyImage.ToolTip = "Attachment Status : Complete but With Remarks";
    //    }).Render();
    //}
    //if (RejectedCount > 0)
    //{
    //    ViewContext.Writer.Write("<div>");
    //    Html.DevExpress().Image(ImageSettings =>
    //    {
    //        ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite rejected_attachment";
    //        ImageSettings.Properties.EmptyImage.ToolTip = "Entry has " + RejectedCount.ToString() + " Rejected Attachments";
    //    }).Render();
    //    ViewContext.Writer.Write("</div>");
    //}
    //if (AllCount > 0)
    //{
    //    ViewContext.Writer.Write("<div>");
    //    Html.DevExpress().Image(ImageSettings =>
    //    {
    //        if (OtherCount == 0)
    //        {
    //            ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite attach_normal";
    //        }
    //        else
    //        {
    //            ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite attach_other_plus";
    //        }
    //        ImageSettings.Properties.EmptyImage.ToolTip = "Total Attachments:" + AllCount.ToString() + "\r Non-Recommended Attachments:" + OtherCount.ToString();
    //    }).Render();
    //    ViewContext.Writer.Write("</div>");
    //}

}
