@{
    var Grid = (string)ViewBag.Grid;
    var KeyValue = (string)ViewBag.KeyValue;
    var VisibleIndex = (int)ViewBag.VisibleIndex;
    ViewContext.Writer.Write("<div id='" + Grid + "_Audit_GreenTick_Icon_" + KeyValue + "'style='display:none'>");
    Html.DevExpress().Image(ImageSettings =>
    {
        ImageSettings.Name = Grid + "_AuditGreenTickIcon" + VisibleIndex;
        ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite greentickaudit";
        ImageSettings.Properties.EmptyImage.ToolTip = "Tick";
    }).Render();
    ViewContext.Writer.Write("</div>");
    ViewContext.Writer.Write("<div id='" + Grid + "_Audit_DoubleTick_Icon_" + KeyValue + "'style='display:none'>");
    Html.DevExpress().Image(ImageSettings =>
    {
        ImageSettings.Name = Grid + "_AuditDoubleTickIcon" + VisibleIndex;
        ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite doubletick1";
        ImageSettings.Properties.EmptyImage.ToolTip = "Double Tick";
    }).Render();
    ViewContext.Writer.Write("</div>");
    ViewContext.Writer.Write("<div id='" + Grid + "_Audit_RedCross_Icon_" + KeyValue + "'style='display:none'>");
    Html.DevExpress().Image(ImageSettings =>
    {
        ImageSettings.Name = Grid + "_AuditRedCrossIcon" + VisibleIndex;
        ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite redcross";
        ImageSettings.Properties.EmptyImage.ToolTip = "Red Cross";
    }).Render();
    ViewContext.Writer.Write("</div>");
    //ViewContext.Writer.Write("<div id='"+Grid+"_Audit_Date_Icon_"+KeyValue+"'style='display:none'>");
    //Html.DevExpress().Image(ImageSettings =>
    //{
    //    ImageSettings.Name = Grid+"_AuditDateIcon" + VisibleIndex;
    //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/1Date.png";
    //    ImageSettings.Properties.EmptyImage.ToolTip = "Date";
    //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
    //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
    //    ImageSettings.Properties.EmptyImage.Height = 15;

    //}).Render();
    //ViewContext.Writer.Write("</div>");
    //ViewContext.Writer.Write("<div id='" + Grid + "_Audit_Amount_Icon_" + KeyValue + "'style='display:none'>");
    //Html.DevExpress().Image(ImageSettings =>
    //{
    //    ImageSettings.Name = Grid + "_AuditAmountIcon" + VisibleIndex;
    //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/2Amount.png";
    //    ImageSettings.Properties.EmptyImage.ToolTip = "Amount";
    //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
    //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
    //    ImageSettings.Properties.EmptyImage.Height = 15;

    //}).Render();
    //ViewContext.Writer.Write("</div>");
    //ViewContext.Writer.Write("<div id='" + Grid + "_Audit_Item_Icon_" + KeyValue + "'style='display:none'>");
    //Html.DevExpress().Image(ImageSettings =>
    //{
    //    ImageSettings.Name = Grid + "_AuditItemIcon" + VisibleIndex;
    //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/3Item.png";
    //    ImageSettings.Properties.EmptyImage.ToolTip = "Item";
    //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
    //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
    //    ImageSettings.Properties.EmptyImage.Height = 15;

    //}).Render();
    //ViewContext.Writer.Write("</div>");
    //ViewContext.Writer.Write("<div id='" + Grid + "_Audit_Head_Icon_" + KeyValue + "'style='display:none'>");
    //Html.DevExpress().Image(ImageSettings =>
    //{
    //    ImageSettings.Name = Grid + "_AuditHeadIcon" + VisibleIndex;
    //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/4Head.png";
    //    ImageSettings.Properties.EmptyImage.ToolTip = "Head";
    //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
    //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
    //    ImageSettings.Properties.EmptyImage.Height = 15;

    //}).Render();
    //ViewContext.Writer.Write("</div>");
    //ViewContext.Writer.Write("<div id='" + Grid + "_Audit_Cash_Icon_" + KeyValue + "'style='display:none'>");
    //Html.DevExpress().Image(ImageSettings =>
    //{
    //    ImageSettings.Name = Grid + "_AuditCashIcon" + VisibleIndex;
    //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/5Cash.png";
    //    ImageSettings.Properties.EmptyImage.ToolTip = "Cash";
    //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
    //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
    //    ImageSettings.Properties.EmptyImage.Height = 15;

    //}).Render();
    //ViewContext.Writer.Write("</div>");
    //ViewContext.Writer.Write("<div id='" + Grid + "_Audit_Party_Icon_" + KeyValue + "'style='display:none'>");
    //Html.DevExpress().Image(ImageSettings =>
    //{
    //    ImageSettings.Name = Grid + "_AuditPartyIcon" + VisibleIndex;
    //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/6Party.png";
    //    ImageSettings.Properties.EmptyImage.ToolTip = "Party";
    //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
    //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
    //    ImageSettings.Properties.EmptyImage.Height = 15;

    //}).Render();
    //ViewContext.Writer.Write("</div>");
    //ViewContext.Writer.Write("<div id='" + Grid + "_Audit_Address_Icon_" + KeyValue + "'style='display:none'>");
    //Html.DevExpress().Image(ImageSettings =>
    //{
    //    ImageSettings.Name = Grid + "_AuditAddressIcon" + VisibleIndex;
    //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/7Address.png";
    //    ImageSettings.Properties.EmptyImage.ToolTip = "Address";
    //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
    //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
    //    ImageSettings.Properties.EmptyImage.Height = 15;

    //}).Render();
    //ViewContext.Writer.Write("</div>");
    //ViewContext.Writer.Write("<div id='" + Grid + "_Audit_ID_Icon_" + KeyValue + "'style='display:none'>");
    //Html.DevExpress().Image(ImageSettings =>
    //{
    //    ImageSettings.Name = Grid + "_AuditIDIcon" + VisibleIndex;
    //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/8ID.png";
    //    ImageSettings.Properties.EmptyImage.ToolTip = "ID";
    //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
    //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
    //    ImageSettings.Properties.EmptyImage.Height = 15;

    //}).Render();
    //ViewContext.Writer.Write("</div>");
    //ViewContext.Writer.Write("<div id='" + Grid + "_Audit_Quantity_Icon_" + KeyValue + "'style='display:none'>");
    //Html.DevExpress().Image(ImageSettings =>
    //{
    //    ImageSettings.Name = Grid + "_AuditQuantityIcon" + VisibleIndex;
    //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/9Quantity.png";
    //    ImageSettings.Properties.EmptyImage.ToolTip = "Quantity";
    //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
    //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
    //    ImageSettings.Properties.EmptyImage.Height = 15;

    //}).Render();
    //ViewContext.Writer.Write("</div>");
    //ViewContext.Writer.Write("<div id='" + Grid + "_Audit_TDS_Icon_" + KeyValue + "'style='display:none'>");
    //Html.DevExpress().Image(ImageSettings =>
    //{
    //    ImageSettings.Name = Grid + "_AuditTDSIcon" + VisibleIndex;
    //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/911TDS.png";
    //    ImageSettings.Properties.EmptyImage.ToolTip = "TDS";
    //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
    //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
    //    ImageSettings.Properties.EmptyImage.Height = 15;

    //}).Render();
    //ViewContext.Writer.Write("</div>");
    //ViewContext.Writer.Write("<div id='" + Grid + "_Audit_Phone_Icon_" + KeyValue + "'style='display:none'>");
    //Html.DevExpress().Image(ImageSettings =>
    //{
    //    ImageSettings.Name = Grid + "_AuditPhoneIcon" + VisibleIndex;
    //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/912Phone.png";
    //    ImageSettings.Properties.EmptyImage.ToolTip = "Phone";
    //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
    //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
    //    ImageSettings.Properties.EmptyImage.Height = 15;

    //}).Render();
    //ViewContext.Writer.Write("</div>");
    //ViewContext.Writer.Write("<div id='" + Grid + "_Audit_Percent_Icon_" + KeyValue + "'style='display:none'>");
    //Html.DevExpress().Image(ImageSettings =>
    //{
    //    ImageSettings.Name = Grid + "_AuditPercentIcon" + VisibleIndex;
    //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/913Percent.png";
    //    ImageSettings.Properties.EmptyImage.ToolTip = "Percent";
    //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
    //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
    //    ImageSettings.Properties.EmptyImage.Height = 15;

    //}).Render();
    //ViewContext.Writer.Write("</div>");
    //ViewContext.Writer.Write("<div id='" + Grid + "_Audit_Attach_Icon_" + KeyValue + "'style='display:none'>");
    //Html.DevExpress().Image(ImageSettings =>
    //{
    //    ImageSettings.Name = Grid + "_AuditAttachIcon" + VisibleIndex;
    //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/914Attach.png";
    //    ImageSettings.Properties.EmptyImage.ToolTip = "Attach";
    //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
    //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
    //    ImageSettings.Properties.EmptyImage.Height = 15;

    //}).Render();
    //ViewContext.Writer.Write("</div>");
    //ViewContext.Writer.Write("<div id='" + Grid + "_Audit_General1_Icon_" + KeyValue + "'style='display:none'>");
    //Html.DevExpress().Image(ImageSettings =>
    //{
    //    ImageSettings.Name = Grid + "_AuditGeneral1Icon" + VisibleIndex;
    //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/General 1.png";
    //    ImageSettings.Properties.EmptyImage.ToolTip = "General1";
    //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
    //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
    //    ImageSettings.Properties.EmptyImage.Height = 15;

    //}).Render();
    //ViewContext.Writer.Write("</div>");
    //ViewContext.Writer.Write("<div id='" + Grid + "_Audit_General2_Icon_" + KeyValue + "'style='display:none'>");
    //Html.DevExpress().Image(ImageSettings =>
    //{
    //    ImageSettings.Name = Grid + "_AuditGeneral2Icon" + VisibleIndex;
    //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/General2.png";
    //    ImageSettings.Properties.EmptyImage.ToolTip = "General2";
    //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
    //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
    //    ImageSettings.Properties.EmptyImage.Height = 15;

    //}).Render();
    //ViewContext.Writer.Write("</div>");
    //ViewContext.Writer.Write("<div id='" + Grid + "_Audit_General3_Icon_" + KeyValue + "'style='display:none'>");
    //Html.DevExpress().Image(ImageSettings =>
    //{
    //    ImageSettings.Name = Grid + "_AuditGeneral3Icon" + VisibleIndex;
    //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/General3.png";
    //    ImageSettings.Properties.EmptyImage.ToolTip = "General3";
    //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
    //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
    //    ImageSettings.Properties.EmptyImage.Height = 15;
    //}).Render();
    //ViewContext.Writer.Write("</div>");

}