@{
    var Vouching_During_Audit = ViewBag.Vouching_During_Audit??false;
    var VOUCHING_REMARKS=ViewBag.VOUCHING_REMARKS??"";
    var VOUCHING_STATUS=ViewBag.VOUCHING_STATUS??"";
    var VOUCHING_DETAILS = ViewBag.VOUCHING_DETAILS ?? "";
    var VOUCHING_AUDITOR = ViewBag.VOUCHING_AUDITOR ?? "";
    if (Vouching_During_Audit == false)
    {
        //Html.DevExpress().Image(ImageSettings =>
        //{
        //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/AutoVouching.png";
        //    ImageSettings.Properties.EmptyImage.ToolTip = "Auto-Vouched";
        //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
        //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
        //    ImageSettings.Properties.EmptyImage.Height = 15;
        //}).Render();

        if (Convert.ToString(VOUCHING_AUDITOR).ToUpper() == "AUTO_VOUCHING")
        {
            ViewContext.Writer.Write("<div>");
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/AutoVouching.png";
                ImageSettings.Properties.EmptyImage.ToolTip = "Auto-Vouched";
                ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
                ImageSettings.Properties.CaptionSettings.ShowColon = false;
                ImageSettings.Properties.EmptyImage.Height = 15;
            }).Render();
            ViewContext.Writer.Write("</div>");
        }
        if (VOUCHING_STATUS == "REJECTED")
        {
            ViewContext.Writer.Write("<div>");
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite vreject";
                ImageSettings.Properties.EmptyImage.ToolTip = "Document Vouched as Rejected";
            }).Render();
            ViewContext.Writer.Write("</div>");
        }
        else if (VOUCHING_STATUS == "ACCEPTED")
        {
            if (VOUCHING_REMARKS.Length > 0)
            {
                ViewContext.Writer.Write("<div>");
                Html.DevExpress().Image(ImageSettings =>
                {
                    ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite vacceptremark";
                    ImageSettings.Properties.EmptyImage.ToolTip = "Document Vouched as Accepted With Remark";
                }).Render();
                ViewContext.Writer.Write("</div>");
            }
            else
            {
                ViewContext.Writer.Write("<div>");
                Html.DevExpress().Image(ImageSettings =>
                {
                    ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite vaccept";
                    ImageSettings.Properties.EmptyImage.ToolTip = "Document Vouched as Accepted";
                }).Render();
                ViewContext.Writer.Write("</div>");
            }
        }
    }
    else
    {
        //Html.DevExpress().Image(ImageSettings =>
        //{
        //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/AutoVouching.png";
        //    ImageSettings.Properties.EmptyImage.ToolTip = "Auto-Vouched";
        //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
        //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
        //    ImageSettings.Properties.EmptyImage.Height = 15;
        //}).Render();

        if (Convert.ToString(VOUCHING_AUDITOR).ToUpper() == "AUTO_VOUCHING")
        {
            ViewContext.Writer.Write("<div>");
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/AutoVouching.png";
                ImageSettings.Properties.EmptyImage.ToolTip = "Auto-Vouched";
                ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
                ImageSettings.Properties.CaptionSettings.ShowColon = false;
                ImageSettings.Properties.EmptyImage.Height = 15;
            }).Render();
            ViewContext.Writer.Write("</div>");
        }
        if (VOUCHING_STATUS == "REJECTED")
        {
            ViewContext.Writer.Write("<div>");
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite areject";
                ImageSettings.Properties.EmptyImage.ToolTip = "Document Audited as Rejected";
            }).Render();
            ViewContext.Writer.Write("</div>");
        }
        else if (VOUCHING_STATUS == "ACCEPTED")
        {
            if (VOUCHING_REMARKS.Length > 0)
            {
                ViewContext.Writer.Write("<div>");
                Html.DevExpress().Image(ImageSettings =>
                {
                    ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite aacceptremark";
                    ImageSettings.Properties.EmptyImage.ToolTip = "Document Audited as Accepted With Remark";
                }).Render();
                ViewContext.Writer.Write("</div>");
            }
            else
            {
                ViewContext.Writer.Write("<div>");
                Html.DevExpress().Image(ImageSettings =>
                {
                    ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite aaccept";
                    ImageSettings.Properties.EmptyImage.ToolTip = "Document Audited as Accepted With Remark";
                }).Render();
                ViewContext.Writer.Write("</div>");
            }
        }
    }
}