@{
    var VOUCHING_PENDING_COUNT = (Int32?)ViewBag.VOUCHING_PENDING_COUNT;
    var VOUCHING_ACCEPTED_COUNT = (Int32?)ViewBag.VOUCHING_ACCEPTED_COUNT;
    var VOUCHING_ACCEPTED_WITH_REMARKS_COUNT = (Int32?)ViewBag.VOUCHING_ACCEPTED_WITH_REMARKS_COUNT;
    var VOUCHING_REJECTED_COUNT = (Int32?)ViewBag.VOUCHING_REJECTED_COUNT;
    var VOUCHING_TOTAL_COUNT = (Int32?)ViewBag.VOUCHING_TOTAL_COUNT;
    var AUDIT_PENDING_COUNT = (Int32?)ViewBag.AUDIT_PENDING_COUNT;
    var AUDIT_ACCEPTED_COUNT = (Int32?)ViewBag.AUDIT_ACCEPTED_COUNT;
    var AUDIT_ACCEPTED_WITH_REMARKS_COUNT = (Int32?)ViewBag.AUDIT_ACCEPTED_WITH_REMARKS_COUNT;
    var AUDIT_REJECTED_COUNT = (Int32?)ViewBag.AUDIT_REJECTED_COUNT;
    var AUDIT_TOTAL_COUNT = (Int32?)ViewBag.AUDIT_TOTAL_COUNT;
    var iIcon = (string)ViewBag.iIcon;

    if (iIcon.Length == 0)
    {
        //Html.DevExpress().Image(ImageSettings =>
        //{
        //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/AutoVouching.png";
        //    ImageSettings.Properties.EmptyImage.ToolTip = "Auto-Vouched";
        //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
        //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
        //    ImageSettings.Properties.EmptyImage.Height = 15;
        //}).Render();

        if (VOUCHING_REJECTED_COUNT > 0)
        {
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite vreject";
                ImageSettings.Properties.EmptyImage.ToolTip = "Voucher Rejected, Please click on Expand(+) button to see Reason of Rejection.";
            }).Render();
        }
        if (VOUCHING_TOTAL_COUNT == VOUCHING_ACCEPTED_COUNT && VOUCHING_ACCEPTED_WITH_REMARKS_COUNT == 0 && VOUCHING_ACCEPTED_COUNT > 0)
        {
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite vaccept";
                ImageSettings.Properties.EmptyImage.ToolTip = "Voucher Accepted";
            }).Render();
        }
        if (VOUCHING_TOTAL_COUNT == VOUCHING_ACCEPTED_COUNT && VOUCHING_ACCEPTED_WITH_REMARKS_COUNT > 0)
        {
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite vacceptremark";
                ImageSettings.Properties.EmptyImage.ToolTip = "Voucher Accepted With Remark";
            }).Render();
        }
        if (VOUCHING_PENDING_COUNT > 0 && (VOUCHING_ACCEPTED_COUNT > 0 || VOUCHING_REJECTED_COUNT > 0))
        {
            ViewContext.Writer.Write("<div>");
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite vpartial";
                ImageSettings.Properties.EmptyImage.ToolTip = "Voucher Completed Partially";
            }).Render();
            ViewContext.Writer.Write("</div>");
        }

        if (AUDIT_REJECTED_COUNT > 0)
        {
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite areject";
                ImageSettings.Properties.EmptyImage.ToolTip = "Audit Rejected, Please click on Expand(+) button to see Reason of Rejection.";
            }).Render();
        }
        if (AUDIT_TOTAL_COUNT == AUDIT_ACCEPTED_COUNT && AUDIT_ACCEPTED_WITH_REMARKS_COUNT == 0 && AUDIT_ACCEPTED_COUNT > 0)
        {
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite aaccept";
                ImageSettings.Properties.EmptyImage.ToolTip = "Audit Accepted";
            }).Render();
        }
        if (AUDIT_TOTAL_COUNT == AUDIT_ACCEPTED_COUNT && AUDIT_ACCEPTED_WITH_REMARKS_COUNT > 0)
        {
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite aacceptremark";
                ImageSettings.Properties.EmptyImage.ToolTip = "Audit Accepted With Remark";
            }).Render();
        }
        if (AUDIT_PENDING_COUNT > 0 && (AUDIT_ACCEPTED_COUNT > 0 || AUDIT_REJECTED_COUNT > 0))
        {
            ViewContext.Writer.Write("</div>");
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite apartial";
                ImageSettings.Properties.EmptyImage.ToolTip = "Voucher Completed Partially";
            }).Render();
            ViewContext.Writer.Write("</div>");
        }
    }
    else
    {
        //Html.DevExpress().Image(ImageSettings =>
        //{
        //    ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/AutoVouching.png";
        //    ImageSettings.Properties.EmptyImage.ToolTip = "Auto-Vouched";
        //    ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
        //    ImageSettings.Properties.CaptionSettings.ShowColon = false;
        //    ImageSettings.Properties.EmptyImage.Height = 15;
        //}).Render();
        //if (iIcon.Contains("CorrectedEntry"))
        //{
        //    ViewContext.Writer.Write("<div>");
        //    Html.DevExpress().Image(ImageSettings =>
        //    {
        //        ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/CorrectedEntry.png";
        //        ImageSettings.Properties.EmptyImage.ToolTip = "Corrected Entry";
        //        ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
        //        ImageSettings.Properties.CaptionSettings.ShowColon = false;
        //        ImageSettings.Properties.EmptyImage.Height = 15;
        //    }).Render();
        //    ViewContext.Writer.Write("</div>");
        //}
        if (iIcon.Contains("AutoVouching"))
        {
            ViewContext.Writer.Write("<div>");
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/AutoVouching.png";
                ImageSettings.Properties.EmptyImage.ToolTip = "Auto-Vouched";
                ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
                ImageSettings.Properties.CaptionSettings.ShowColon = false;
                ImageSettings.Properties.EmptyImage.Height = 15;
            }).Render();
            ViewContext.Writer.Write("</div>");
        }
        if (iIcon.Contains("VouchingAccepted"))
        {
            ViewContext.Writer.Write("<div>");
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite vaccept";
                ImageSettings.Properties.EmptyImage.ToolTip = "Voucher Accepted";
            }).Render();
            ViewContext.Writer.Write("</div>");
        }
        if (iIcon.Contains("VouchingReject"))
        {
            ViewContext.Writer.Write("<div>");
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite vreject";
                ImageSettings.Properties.EmptyImage.ToolTip = "Voucher Rejected, Please click on Expand(+) button to see Reason of Rejection.";
            }).Render();
            ViewContext.Writer.Write("</div>");
        }
        if (iIcon.Contains("VouchingAcceptWithRemarks"))
        {
            ViewContext.Writer.Write("<div>");
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite vacceptremark";
                ImageSettings.Properties.EmptyImage.ToolTip = "Voucher Accepted With Remark";
            }).Render();
            ViewContext.Writer.Write("</div>");
        }
        if (iIcon.Contains("VouchingPartial"))
        {
            ViewContext.Writer.Write("<div>");
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite vpartial";
                ImageSettings.Properties.EmptyImage.ToolTip = "Voucher Completed Partially";
            }).Render();
            ViewContext.Writer.Write("</div>");
        }
        if (iIcon.Contains("AuditAccepted"))
        {
            ViewContext.Writer.Write("<div>");
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite aaccept";
                ImageSettings.Properties.EmptyImage.ToolTip = "Audit Accepted";
            }).Render();
            ViewContext.Writer.Write("</div>");
        }
        if (iIcon.Contains("AuditReject"))
        {
            ViewContext.Writer.Write("<div>");
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite areject";
                ImageSettings.Properties.EmptyImage.ToolTip = "Audit Rejected, Please click on Expand(+) button to see Reason of Rejection.";
            }).Render();
            ViewContext.Writer.Write("</div>");
        }
        if (iIcon.Contains("AuditAcceptWithRemarks"))
        {
            ViewContext.Writer.Write("<div>");
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite aacceptremark";
                ImageSettings.Properties.EmptyImage.ToolTip = "Audit Accepted With Remark";
            }).Render();
            ViewContext.Writer.Write("</div>");
        }
        if (iIcon.Contains("AuditPartial"))
        {
            ViewContext.Writer.Write("<div>");
            Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.SpriteProperties.CssClass = "imagesprite apartial";
                ImageSettings.Properties.EmptyImage.ToolTip = "Voucher Completed Partially";
            }).Render();
            ViewContext.Writer.Write("</div>");
        }
    }
}