@using System.Text.RegularExpressions;
@{
    bool isvolumeCentre = ViewBag.IsVolumeCentre== null ? false : ViewBag.IsVolumeCentre;
    bool isunmatchTransfer = ViewBag.IsunmatchTransfer== null ? false : ViewBag.IsunmatchTransfer;
    var SessionGUID = Request.QueryString["SessionGUID"];
    bool VouchingMode = ViewBag.VouchingMode == null ? false : (bool)ViewBag.VouchingMode;
    string ViewMode = ViewBag.ViewMode == null ? "Default" : (string)ViewBag.ViewMode;
    List<string> ColumnTobeHidden = new List<string>();
    List<string> ColumnTobeShown = new List<string>();
    string ColumnToBeShowIndex = ViewBag.ColumnToBeShownIndex == null ? "" : (string)ViewBag.ColumnToBeShownIndex;
    string ColumnToBeHideIndex = ViewBag.ColumnToBeHidddenIndex == null ? "" : (string)ViewBag.ColumnToBeHidddenIndex;
    if (ColumnToBeHideIndex.Length > 0)
    {
        ColumnTobeHidden = ColumnToBeHideIndex.Split(',').ToList();
    }
    if (ColumnToBeShowIndex.Length > 0)
    {
        ColumnTobeShown = ColumnToBeShowIndex.Split(',').ToList();
    }
}

@Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "ITR_PostedGrid";
        settings.CallbackRouteValues = new
        {
            Controller = "InternalTransfer",
            Action = "Frm_I_Transfer_Reg_Posted_Grid",
            SessionGUID = SessionGUID

        };
        settings.Init = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (ViewMode == "Compact")
            {
                settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
            }
            else
            {
                settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
                settings.EnablePagingGestures = AutoBoolean.False;
            }

            if (ViewMode == "Compact")
            {
                grid.DataColumns["IntrnlTranfrReg_Compact_Column"].Visible = true;
                grid.DataColumns["Status"].Visible = false;
                grid.DataColumns["Centre_Name"].Visible = false;
                grid.DataColumns["Center_UID"].Visible = false;
                grid.DataColumns["No"].Visible = false;
                grid.DataColumns["Zone"].Visible = false;
                grid.DataColumns["Sub_Zone"].Visible = false;
                grid.DataColumns["xDate"].Visible = false;
                grid.DataColumns["Mode"].Visible = false;
                grid.DataColumns["Amount"].Visible = false;
                grid.DataColumns["Bank_Name"].Visible = false;
                grid.DataColumns["Branch_Name"].Visible = false;
                grid.DataColumns["Bank_AC_No"].Visible = false;
                grid.DataColumns["Bank_2"].Visible = false;
                grid.DataColumns["RefNo"].Visible = false;
                grid.DataColumns["RefDate"].Visible = false;
                grid.DataColumns["Purpose"].Visible = false;

                grid.DataColumns["Description"].Visible = false;
                grid.DataColumns["AddBy"].Visible = false;
                grid.DataColumns["AddDate"].Visible = false;
                grid.DataColumns["EditBy"].Visible = false;
                grid.DataColumns["EditDate"].Visible = false;
                grid.DataColumns["ActionStatus"].Visible = false;
                grid.DataColumns["ActionBy"].Visible = false;
                grid.DataColumns["ActionDate"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["MID"].Visible = false;
                grid.DataColumns["iRESPONDED_COUNT"].Visible = false;
                grid.DataColumns["iCOMPLETE_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["iREQ_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["iOTHER_ATTACH_CNT"].Visible = false;
                grid.DataColumns["iALL_ATTACH_CNT"].Visible = false;
                //settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
            }
            else
            {
                grid.DataColumns["IntrnlTranfrReg_Compact_Column"].Visible = false;
                grid.DataColumns["Status"].Visible = true;
                grid.DataColumns["Centre_Name"].Visible = true;
                grid.DataColumns["Center_UID"].Visible = true;
                grid.DataColumns["No"].Visible = true;
                grid.DataColumns["Zone"].Visible = true;
                grid.DataColumns["Sub_Zone"].Visible = true;
                grid.DataColumns["xDate"].Visible = true;
                grid.DataColumns["Mode"].Visible = true;
                grid.DataColumns["Amount"].Visible = true;
                grid.DataColumns["Bank_Name"].Visible = true;
                grid.DataColumns["Branch_Name"].Visible = true;
                grid.DataColumns["Bank_AC_No"].Visible = true;
                grid.DataColumns["Bank_2"].Visible = true;
                grid.DataColumns["RefNo"].Visible = true;
                grid.DataColumns["RefDate"].Visible = true;
                grid.DataColumns["Purpose"].Visible = true;

                grid.DataColumns["Description"].Visible = false;
                grid.DataColumns["AddBy"].Visible = false;
                grid.DataColumns["AddDate"].Visible = false;
                grid.DataColumns["EditBy"].Visible = false;
                grid.DataColumns["EditDate"].Visible = false;
                grid.DataColumns["ActionStatus"].Visible = false;
                grid.DataColumns["ActionBy"].Visible = false;
                grid.DataColumns["ActionDate"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["MID"].Visible = false;
                grid.DataColumns["iRESPONDED_COUNT"].Visible = false;
                grid.DataColumns["iCOMPLETE_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["iREQ_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["iOTHER_ATTACH_CNT"].Visible = false;
                grid.DataColumns["iALL_ATTACH_CNT"].Visible = false;
            }


        };
        settings.BeforeGetCallbackResult = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (ViewData["RowKeyToFocus"] != null && ViewData["RowKeyToFocus"].ToString().Length > 0)
            {
                grid.FocusedRowIndex = grid.FindVisibleIndexByKeyValue(ViewData["RowKeyToFocus"]);
            }
            grid.ScrollToVisibleIndexOnClient = grid.FocusedRowIndex;
            if (ViewMode == "Compact")
            {
                settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
            }
            else
            {
                settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
                settings.EnablePagingGestures = AutoBoolean.False;
            }
            if (ViewMode == "Compact")
            {
                grid.DataColumns["IntrnlTranfrReg_Compact_Column"].Visible = true;
                grid.DataColumns["Status"].Visible = false;
                grid.DataColumns["Centre_Name"].Visible = false;
                grid.DataColumns["Center_UID"].Visible = false;
                grid.DataColumns["No"].Visible = false;
                grid.DataColumns["Zone"].Visible = false;
                grid.DataColumns["Sub_Zone"].Visible = false;
                grid.DataColumns["xDate"].Visible = false;
                grid.DataColumns["Mode"].Visible = false;
                grid.DataColumns["Amount"].Visible = false;
                grid.DataColumns["Bank_Name"].Visible = false;
                grid.DataColumns["Branch_Name"].Visible = false;
                grid.DataColumns["Bank_AC_No"].Visible = false;
                grid.DataColumns["Bank_2"].Visible = false;
                grid.DataColumns["RefNo"].Visible = false;
                grid.DataColumns["RefDate"].Visible = false;
                grid.DataColumns["Purpose"].Visible = false;

                grid.DataColumns["Description"].Visible = false;
                grid.DataColumns["AddBy"].Visible = false;
                grid.DataColumns["AddDate"].Visible = false;
                grid.DataColumns["EditBy"].Visible = false;
                grid.DataColumns["EditDate"].Visible = false;
                grid.DataColumns["ActionStatus"].Visible = false;
                grid.DataColumns["ActionBy"].Visible = false;
                grid.DataColumns["ActionDate"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["MID"].Visible = false;
                grid.DataColumns["iRESPONDED_COUNT"].Visible = false;
                grid.DataColumns["iCOMPLETE_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["iREQ_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["iOTHER_ATTACH_CNT"].Visible = false;
                grid.DataColumns["iALL_ATTACH_CNT"].Visible = false;
                //settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
            }
            else
            {
                grid.DataColumns["IntrnlTranfrReg_Compact_Column"].Visible = false;
                grid.DataColumns["Status"].Visible = true;
                grid.DataColumns["Centre_Name"].Visible = true;
                grid.DataColumns["Center_UID"].Visible = true;
                grid.DataColumns["No"].Visible = true;
                grid.DataColumns["Zone"].Visible = true;
                grid.DataColumns["Sub_Zone"].Visible = true;
                grid.DataColumns["xDate"].Visible = true;
                grid.DataColumns["Mode"].Visible = true;
                grid.DataColumns["Amount"].Visible = true;
                grid.DataColumns["Bank_Name"].Visible = true;
                grid.DataColumns["Branch_Name"].Visible = true;
                grid.DataColumns["Bank_AC_No"].Visible = true;
                grid.DataColumns["Bank_2"].Visible = true;
                grid.DataColumns["RefNo"].Visible = true;
                grid.DataColumns["RefDate"].Visible = true;
                grid.DataColumns["Purpose"].Visible = true;

                grid.DataColumns["Description"].Visible = false;
                grid.DataColumns["AddBy"].Visible = false;
                grid.DataColumns["AddDate"].Visible = false;
                grid.DataColumns["EditBy"].Visible = false;
                grid.DataColumns["EditDate"].Visible = false;
                grid.DataColumns["ActionStatus"].Visible = false;
                grid.DataColumns["ActionBy"].Visible = false;
                grid.DataColumns["ActionDate"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["MID"].Visible = false;
                grid.DataColumns["iRESPONDED_COUNT"].Visible = false;
                grid.DataColumns["iCOMPLETE_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["iREQ_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["iOTHER_ATTACH_CNT"].Visible = false;
                grid.DataColumns["iALL_ATTACH_CNT"].Visible = false;
                if (ColumnTobeHidden != null && ColumnTobeHidden.Count > 0)
                {
                    for (int i = 0; i < ColumnTobeHidden.Count; i++)
                    {
                        grid.DataColumns[Convert.ToInt32(ColumnTobeHidden[i])].Visible = false;
                    }
                }
                if (ColumnTobeShown != null && ColumnTobeShown.Count > 0)
                {
                    for (int i = 0; i < ColumnTobeShown.Count; i++)
                    {
                        grid.DataColumns[Convert.ToInt32(ColumnTobeShown[i])].Visible = true;
                    }
                }

            }
        };
        settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;
        settings.Settings.ShowPreview = true;
        settings.SetPreviewRowTemplateContent(c =>
        {
            if (VouchingMode == true)
            {
                Html.RenderAction("AuditButtons", "AuditButton", new { Area = "", Grid = settings.Name, KeyValue = c.KeyValue, VisibleIndex = c.VisibleIndex, SessionGUID = SessionGUID });
            }
        });
        settings.HtmlDataCellPrepared = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            string colIdx = e.DataColumn.Index.ToString();
            string rowIdx = e.VisibleIndex.ToString();
            if (VouchingMode == true)
            {
                if (e.DataColumn.FieldName.Length > 0)
                {
                    e.Cell.Attributes.Add("ondblclick", "OnGridCellClick(event,this,'" + colIdx + "', '" + rowIdx + "','" + settings.Name + "','" + e.KeyValue + "','" + e.DataColumn.FieldName + "');");
                }
                if (e.DataColumn.Name == "iIcon")
                {
                    e.Cell.Attributes.Add("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                    e.Cell.Attributes.Add("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                }
            }
            e.Cell.CssClass += " col_" + e.DataColumn.FieldName + " row_" + e.KeyValue;
            e.Cell.ID = "Cell_" + e.KeyValue + "|" + e.DataColumn.FieldName;
        };
        settings.HtmlRowCreated = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (e.RowType == GridViewRowType.Data)
            {
                //e.Row.Attributes.Add("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                //e.Row.Attributes.Add("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                e.Row.CssClass += " " + settings.Name + "_DataRow_" + e.KeyValue;
            }
            else if (e.RowType == GridViewRowType.Preview)
            {
                e.Row.BackColor = System.Drawing.Color.White;
                if (VouchingMode == true)
                {
                    e.Row.Attributes.Add("onmouseover", "OnGridPrevRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                    e.Row.Attributes.Add("onmouseout", "OnGridPrevRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                }
                e.Row.CssClass += " " + settings.Name + "_PreviewRow" + " " + settings.Name + "_PreviewRow_" + e.KeyValue;
                //e.Row.ID = "PreviewRow_" + e.KeyValue;
            }
        };
        settings.SettingsDetail.ShowDetailRow = true;
        if (VouchingMode == false)
        {
            settings.SettingsDetail.AllowOnlyOneMasterRowExpanded = true;
            settings.SettingsDetail.ExportMode = GridViewDetailExportMode.All;
            settings.SetDetailRowTemplateContent(c =>
            {
                Html.RenderAction("Frm_I_Transfer_Reg_Posted_DetailGrid", new { RecID = DataBinder.Eval(c.DataItem, "ID"), MID = DataBinder.Eval(c.DataItem, "MID"), VouchingMode = VouchingMode, command = "REFRESH" });
            });
            settings.SettingsExport.GetExportDetailGridViews = (s, e) =>
            {
                string RecID = (string)DataBinder.Eval(e.DataItem, "ID");
                GridViewExtension grid = new GridViewExtension(ConnectOneMVC.Areas.Account.Controllers.InternalTransferController.NestedGridExportSettings(RecID));
                grid.Bind(ConnectOneMVC.Areas.Account.Controllers.InternalTransferController.NestedGridExportData(RecID));
                e.DetailGridViews.Add(grid);
            };
        }
        else
        {
            settings.DetailRowGetButtonVisibility = (s, e) =>
            {
                e.ButtonState = GridViewDetailRowButtonState.Hidden;
            };
        }
        settings.ClientSideEvents.DetailRowCollapsing = "ITR_Posted_DetailRowCollapsing";
        settings.ClientSideEvents.DetailRowExpanding = "ITR_Posted_DetailRowExpanding";

        settings.SettingsBehavior.AllowFixedGroups = true;
        settings.SettingsBehavior.AllowCellMerge = false;
        settings.CustomDataActionRouteValues = new { Controller = "InternalTransfer", Action = "PostedGridCustomDataAction" };

        settings.PreRender = (s, e) =>
        {

        };
        settings.CustomJSProperties = (sender, e) =>
        {
            e.Properties["cpFilterExpression"] = (sender as MVCxGridView).FilterExpression;
            e.Properties["cpPostedGrid_RowCount"] = (sender as MVCxGridView).VisibleRowCount;
            string ColumnToBeShownIndex = "";
            string ColumnToBeHidddenIndex = "";
            if (ColumnTobeHidden.Count > 0)
            {
                ColumnToBeHidddenIndex = String.Join(",", ColumnTobeHidden.ToArray());
            }
            if (ColumnTobeShown.Count > 0)
            {
                ColumnToBeShownIndex = String.Join(",", ColumnTobeShown.ToArray());
            }
            e.Properties["cpColumnToBeShownIndex"] = ColumnToBeShownIndex;
            e.Properties["cpColumnToBeHidddenIndex"] = ColumnToBeHidddenIndex;
        };
        settings.AfterPerformCallback = (s, e) =>
        {
            MVCxGridView gridView = s as MVCxGridView;
            gridView.ScrollToVisibleIndexOnClient = gridView.FocusedRowIndex;
            if (e.CallbackName == "COLUMNMOVE")
            {
                if (e.Args[1] == "-1")
                {
                    if (ColumnTobeShown.Count > 0)
                    {
                        if (ColumnTobeShown.Contains(e.Args[0]))
                        {
                            ColumnTobeShown.Remove(e.Args[0]);
                        }
                    }
                    ColumnTobeHidden.Add(e.Args[0]);
                }
                if (Convert.ToInt32(e.Args[1]) > -1)
                {
                    if (ColumnTobeHidden.Count > 0)
                    {
                        if (ColumnTobeHidden.Contains(e.Args[0]))
                        {
                            ColumnTobeHidden.Remove(e.Args[0]);
                        }
                    }
                    ColumnTobeShown.Add(e.Args[0]);
                }
            }

        };

        settings.FillContextMenuItems = (sender, e) =>
        {
            if (e.MenuType == GridViewContextMenuType.Rows)
            {
                // var Additem = e.CreateItem("New", "New");
                //Additem.Image.IconID = "actions_new_16x16gray";
                //if (isvolumeCentre) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Additem);
                //var Edititem = e.CreateItem("Edit", "Edit");
                //Edititem.Image.IconID = "actions_edit_16x16devav";
                //if (isvolumeCentre) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Edititem);
                //var Deleteitem = e.CreateItem("Delete", "Delete");
                //Deleteitem.Image.IconID = "actions_delete_16x16devav";
                //if (isvolumeCentre) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Deleteitem);
                var AcceptTransfer = e.CreateItem("Accept Transfer", "AcceptTransfer");
                AcceptTransfer.Image.Url = "../../../../Icons/Accept-icon.png";
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), AcceptTransfer);
                //var UnmatchTransfer = e.CreateItem("Unmatch Transfer", "UnmatchTransfer");
                //UnmatchTransfer.Image.Url = "../../../../Icons/Decrement1._16x16.png";
                //if (isunmatchTransfer) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), UnmatchTransfer);
                var commoninfo = e.CreateItem("Edit Common Info", "Edit_Common_Info");
                commoninfo.Image.IconID = IconID.OtherUpdatetable16x16gray;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), commoninfo);
                //var Attachment = e.CreateItem("Attachments", "Attachments");
                //Attachment.Image.IconID = "actions_newdoc_16x16devav";
                //Attachment.Items.Add("Add Attachment", "Add_Attachment").Image.IconID = "actions_new_16x16gray";
                //Attachment.Items.Add("Manage Attachments", "Manage_Attachments").Image.Url = "../../../../Icons/Manage_16x16.png";
                //Attachment.Items.Add("Link Attachment", "Link_Attachment").Image.Url = "../../../../Icons/Link_16x16.png";
                //e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Attachment);
                //var AuditAction = e.CreateItem("Audit Actions", "AuditActions");
                //AuditAction.Image.Url = "../../../../Icons/Audit Actions1_16x16.png";
                //AuditAction.Items.Add("Lock", "Lock").Image.Url = "../../../../Icons/Lock1_16x16.png";
                //AuditAction.Items.Add("Unlock", "Unlock").Image.Url = "../../../../Icons/Unlock1_16x16.png";
                //AuditAction.Items.Add("View", "View_Audit").Image.Url = "../../../../Icons/View button1_16x16.png";
                //AuditAction.Items.Add("New", "New_Audit").Image.Url = "../../../../Icons/New button2_16x16.png";
                //AuditAction.Items.Add("Match Transfer", "Match_Transfer").Image.Url = "../../../../Icons/Internal_Transfer2_16x16.png";
                //AuditAction.Items.Add("Unmatch Transfer", "Unmatch_Transfer").Image.Url = "../../../../Icons/Unmatch_16x16.png";
                //e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), AuditAction);
                var PrintViewitem = e.CreateItem("List Preview", "ListPreview");
                PrintViewitem.Image.IconID = "actions_export_16x16devav";
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), PrintViewitem);
                var Close = e.CreateItem("Close", "Close");
                Close.Image.IconID = "actions_close_16x16devav";
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Close);

            }
        };
        // settings.HeaderFilterFillItems = (s, e) =>
        //{
        //    MVCxGridView grid = (MVCxGridView)s;
        //    if (e.Column.FieldName != "iIcon")
        //    {
        //        return;
        //    }
        //    e.Values.Clear();
        //    e.AddShowAll();
        //    e.AddValue("<img src='../../../../Content/Images/attach_red_2.png' width='20' height='20'</img>", "", "Contains([iIcon], 'RedShield')");//red
        //    e.AddValue("<img src='../../../../Content/Images/attach_yellow_2.png' width='20' height='20'</img>", "", "Contains([iIcon], 'YellowShield')");//Yellow
        //    e.AddValue("<img src='../../../../Content/Images/attach_green_2.png' width='20' height='20'</img>", "", "Contains([iIcon], 'GreenShield')");//green
        //    e.AddValue("<img src='../../../../Content/Images/Completed_With_Remarks.png' width='20' height='20'</img>", "", "Contains([iIcon], 'BlueShield')");//blue
        //    e.AddValue("<img src='../../../../Content/Images/Rejected_Attachment.png' width='20' height='20'</img>", "", "Contains([iIcon], 'RedFlag')");//reject
        //    e.AddValue("<img src='../../../../Content/Images/attach_normal.png' width='20' height='20'</img>", "", "Contains([iIcon], 'RequiredAttachment')");//other
        //    e.AddValue("<img src='../../../../Content/Images/attach_other_plus.png' width='20' height='20'</img>", "", "Contains([iIcon], 'AdditionalAttachment')");//other plus
        //    e.AddValue("<img src='../../../../Content/Images/vAccept.png' width='15' height='15'</img>", "", "Contains([iIcon], 'VouchingAccepted')");//v accept
        //    e.AddValue("<img src='../../../../Content/Images/vReject.png' width='15' height='15'</img>", "", "Contains([iIcon], 'VouchingReject')");//v reject
        //    e.AddValue("<img src='../../../../Content/Images/vAcceptRemark.png' width='15' height='15'</img>", "", "Contains([iIcon], 'VouchingAcceptWithRemarks')");//v remark
        //    e.AddValue("<img src='../../../../Content/Images/aAccept.png' width='15' height='15'</img>", "", "Contains([iIcon], 'AuditAccepted')");//a accept
        //    e.AddValue("<img src='../../../../Content/Images/aReject.png' width='15' height='15'</img>", "", "Contains([iIcon], 'AuditReject')");//a reject
        //    e.AddValue("<img src='../../../../Content/Images/aAcceptRemark.png' width='15' height='15'</img>", "", "Contains([iIcon], 'AuditAcceptWithRemarks')");//a remark
        //};

        //pager settings
        settings.SettingsPager.Mode = GridViewPagerMode.ShowPager;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSize = 25;
        settings.SettingsPager.AllButton.Visible = true;

        settings.KeyFieldName = "ID";
        settings.Columns.Add(column =>
        {
            column.FieldName = "iIcon";
            column.Name = "iIcon";
            column.Caption = "";
            column.MinWidth = 30;
            column.MaxWidth = 30;
            column.Width = 30;
            column.CellStyle.Wrap = DefaultBoolean.True;
            column.HeaderStyle.CssClass = "hide-header_iIcon";

            column.SetDataItemTemplateContent(c =>
            {
                Int32? iREQ_ATTACH_COUNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "iREQ_ATTACH_COUNT");
                Int32? iCOMPLETE_ATTACH_COUNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "iCOMPLETE_ATTACH_COUNT");
                Int32? iRESPONDED_COUNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "iRESPONDED_COUNT");
                Int32? iREJECTED_COUNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "iREJECTED_COUNT");
                Int32? iOTHER_ATTACH_CNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "iOTHER_ATTACH_CNT");
                Int32? iALL_ATTACH_CNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "iALL_ATTACH_CNT");
                string iIcon = c.Grid.GetRowValues(c.VisibleIndex, "iIcon") == null ? "" : c.Grid.GetRowValues(c.VisibleIndex, "iIcon").ToString();
                string TempID = c.Grid.GetRowValues(c.VisibleIndex, "ID") == null ? "" : c.Grid.GetRowValues(c.VisibleIndex, "ID").ToString();
                TempID = Regex.Replace(TempID, "[^0-9A-Za-z-]+", "_");
                Html.RenderAction("AttachmentIcons", "AuditButton", new { Area = "", ReqAttachCount = iREQ_ATTACH_COUNT, CompleteAttachCount = iCOMPLETE_ATTACH_COUNT, RespondedCount = iRESPONDED_COUNT, RejectedCount = iREJECTED_COUNT, OtherCount = iOTHER_ATTACH_CNT, AllCount = iALL_ATTACH_CNT, SessionGUID = SessionGUID });
                ViewContext.Writer.Write("<div class='Icon_" + c.Grid.UniqueID + TempID + "'>");
                Html.RenderAction("VouchingAuditIcons", "AuditButton", new { Area = "", iIcon = iIcon, SessionGUID = SessionGUID });
                ViewContext.Writer.Write("</div>");
                Html.RenderAction("AuditIconAfterClick", "AuditButton", new { Area = "", Grid = settings.Name, KeyValue = c.KeyValue, VisibleIndex = c.VisibleIndex, SessionGUID = SessionGUID });
                column.AdaptivePriority = 0;
            });
        });

        settings.Columns.Add(column =>
        {
            column.Name = "IntrnlTranfrReg_Compact_Column";
            column.Width = Unit.Percentage(100);
            column.CellStyle.Wrap = DefaultBoolean.True;
            column.SetDataItemTemplateContent(c =>
            {
                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Status:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Status' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Status") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Centre Name:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Centre_Name' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Centre_Name") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Center UID:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Center_UID' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Center_UID") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>No.:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|No' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "No") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Zone:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Zone' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Zone") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Sub_Zone:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Sub_Zone' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Sub_Zone") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Description:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Description' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Description") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Date:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|xDate' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "xDate") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Mode:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Mode' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Mode") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Amount:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Amount' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Amount") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Bank Name:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Bank_Name' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Bank_Name") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Branch Name:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Branch_Name' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Branch_Name") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Bank A/C. No.:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Bank_AC_No' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "Bank_AC_No") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Bank 2:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Bank_2' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Bank_2") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Ref. No.:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|RefNo' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "RefNo") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Bank 2:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|RefNo' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "RefNo") + "</div></div></div></div></div></div></div>");

                ViewContext.Writer.Write(
                            "<div style='padding:0px 5px 0px 5px'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='form-field'>" +
                            "<div class='container-fluid'>" +
                            "<div class='row'>" +
                            "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                            "<label class='control-label'>Ref. Date:</label></div>" +
                            "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|RefDate' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                            DataBinder.Eval(c.DataItem, "RefDate") + "</div></div></div></div></div>");
                ViewContext.Writer.Write(
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                        "<div class='form-field'>" +
                        "<div class='container-fluid'>" +
                        "<div class='row'>" +
                        "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                        "<label class='control-label'>Purpose:</label></div>" +
                        "<div class='col-sm-8 col-md-6 col-lg-6 compact_column_data wrapText' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Purpose' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                        DataBinder.Eval(c.DataItem, "Purpose") + "</div></div></div></div></div></div></div>");
            });
        });

        settings.Columns.Add(c =>
        {
            {
                c.FieldName = "Status";
                c.Caption = "Status";
                c.Visible = true;
            }
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Centre_Name",
            Caption = "Centre Name",
            Visible = true
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Center_UID",
            Caption = "Center UID",
            Visible = true
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "No";
            c.Caption = "No.";
            c.Visible = true;

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Zone",
            Caption = "Zone",
            Visible = true
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Sub_Zone",
            Caption = "Sub Zone",
            Visible = true
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Description";
            c.Caption = "Description";
            c.Visible = false;
            c.GroupIndex = 0;
        });
        settings.Columns.Add(column=>
        {
            column.FieldName = "xDate";
            column.Caption = "Date";
            column.Visible = true;
            column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "Mode";
            c.Caption = "Mode";
            c.Visible = true;
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Amount",
            Caption = "Amount",
            Visible = true
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Bank_Name",
            Caption = "Bank Name",
            Visible = true
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Branch_Name",
            Caption = "Branch Name",
            Visible = true
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Bank_AC_No",
            Caption = "Bank A/C. No.",
            Visible = true
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Bank_2",
            Caption = "Bank 2",
            Visible = true
        });
        settings.Columns.Add(c =>
        {
            c.FieldName = "RefNo";
            c.Caption = "Ref. No.";
            c.Visible = true;
        });
        settings.Columns.Add(column=>
        {
            column.FieldName = "RefDate";
            column.Caption = "Ref. Date";
            column.Visible = true;
            column.PropertiesEdit.DisplayFormatString = "dd-MM-yyyy";
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Purpose",
            Caption = "Purpose",
            Visible = true
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "AddBy",
            Caption = "Add By",
            Visible = false
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "AddDate",
            Caption = "Add Date",
            Visible = false
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "EditBy",
            Caption = "Edit By",
            Visible = false
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "EditDate",
            Caption = "Edit Date",
            Visible = false
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "ActionStatus",
            Caption = "Action Status",
            Visible = false
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "ActionBy",
            Caption = "Action By",
            Visible = false
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "ActionDate",
            Caption = "Action Date",
            Visible = false
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "ID",
            Caption = "ID",
            Visible = false
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "MID",
            Caption = "MID",
            Visible = false
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "iRESPONDED_COUNT",
            Caption = "iRESPONDED_COUNT",
            Visible = false
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "iCOMPLETE_ATTACH_COUNT",
            Caption = "iCOMPLETE_ATTACH_COUNT",
            Visible = false
        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "iREQ_ATTACH_COUNT",
            Caption = "iREQ_ATTACH_COUNT",
            Visible = false
        });
        settings.Columns.Add("iOTHER_ATTACH_CNT").Visible = false;
        settings.Columns.Add("iALL_ATTACH_CNT").Visible = false;
        settings.Columns.Add("TR_ITEM_ID").Visible = false;
        settings.Columns.Add("TR_SR_NO").Visible = false;
        settings.Columns.Add("TR_TYPE").Visible = false;



        settings.Settings.ShowHeaderFilterBlankItems = false;

        settings.SettingsContextMenu.Enabled = true;

        settings.SettingsContextMenu.EnableGroupFooterMenu = DefaultBoolean.True;
        settings.SettingsContextMenu.RowMenuItemVisibility.DeleteRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.EditRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.NewRow = false;

        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Visible;
        settings.Settings.ShowHeaderFilterButton = true;

        settings.KeyboardSupport = true;
        //settings.AccessKey = "G";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;

        settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;

        settings.Settings.ShowGroupFooter = GridViewGroupFooterMode.Hidden;
        settings.Styles.GroupRow.Font.Bold = true;

        settings.SettingsBehavior.AutoExpandAllGroups = true;

        settings.SettingsBehavior.AllowSelectSingleRowOnly = true;
        settings.Settings.UseFixedTableLayout = true;
        settings.SettingsBehavior.ColumnMoveMode = GridColumnMoveMode.AmongSiblings;
        settings.SettingsBehavior.AllowSort = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;

        settings.Settings.ShowFilterRow = false;
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;

        settings.SettingsBehavior.AllowFocusedRow = true;

        // show filter control
        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
        settings.SettingsFilterControl.ViewMode = true ? FilterControlViewMode.VisualAndText : FilterControlViewMode.Visual;
        settings.SettingsFilterControl.AllowHierarchicalColumns = true;// AllowHierarchicalColumns;
        settings.SettingsFilterControl.ShowAllDataSourceColumns = true;//FilterBuilderDemoHelper.Options.ShowAllDataSourceColumns;
        settings.SettingsFilterControl.MaxHierarchyDepth = 1;
        settings.Settings.ShowGroupedColumns = false;
        settings.Settings.ShowFooter = true;

        settings.ClientSideEvents.Init = "ITR_Posted_Grid_init";
        settings.ClientSideEvents.EndCallback = "ITR_Posted_Grid_endcallback";
        settings.ClientSideEvents.BeginCallback = "ITR_Posted_Grid_begincallback";
        if (VouchingMode == false)
        {
            settings.ClientSideEvents.RowDblClick = "ITR_Posted_Grid_dblclickEdit";
        }
        settings.ClientSideEvents.FocusedRowChanged = "ITR_PostedGrid_FocusedRowChanged";
        settings.ClientSideEvents.ContextMenuItemClick = "ITR_PostedGrid_ContextMenuClick";

        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

        settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "Amount").DisplayFormat = "{0:#,0.00}";
        settings.Styles.Footer.Font.Bold = true;
        settings.Styles.Footer.BackColor = System.Drawing.Color.LightSkyBlue;
        settings.Styles.Footer.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;

        //grid export settings
        settings.SettingsExport.EnableClientSideExportAPI = true;
        settings.SettingsExport.ExcelExportMode = DevExpress.Export.ExportType.DataAware;
        settings.SettingsExport.PageHeader.Center = "Internal Transfer Register - All Entries";
        settings.SettingsExport.PageHeader.Left = ViewData["ExportGridHeaderLeft"].ToString();
        settings.SettingsExport.PageHeader.Right = ViewData["ExportGridHeaderRight"].ToString();
        settings.SettingsExport.PageFooter.Right = ViewData["ExportGridFooter"].ToString();
        settings.SettingsExport.PageFooter.Font.Size = 7;
        settings.SettingsExport.PaperKind = System.Drawing.Printing.PaperKind.A4Rotated;
        settings.SettingsExport.TopMargin = 10;
        settings.SettingsExport.LeftMargin = 10;
        settings.SettingsExport.RightMargin = 10;
        settings.SettingsExport.BottomMargin = 10;
        MyExtensions.GridViewHelper.Custom_HeaderFilterFillItems_All(settings);
        MyExtensions.GridViewHelper.CustomGridView(settings);
    }).Bind(Model).GetHtml()
