@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Account.Models.InternalTransferRegister
<div id="ITR_Posted_reloadPartialView" class="parent_table">
    <form>
        @Html.Partial("Frm_I_Transfer_Reg_Posted_Grid",Model.GridView1)   
    </form>
</div>
<div class="footer-MainBoxdiv" style="display:inline-block;width:100%">
    <div class="setFooterItem">
        <div class="footer-inner">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row addEditDiv">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="footericon">
                            <i id="ITR_Posted_LockICON" style="color:red;font-size:35px;"></i>
                        </div>

                        <div class="footer-locktext">
                            <div id="ITR_Posted_Lbl_ActionOn" class="left_footertext_top"></div>
                            <div id="ITR_Posted_Lbl_ActionBy" class="left_footertext_bottom">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <p id="ITR_Posted_Lbl_Create" class="right_footertext_top"></p>
                        <p id="ITR_Posted_Lbl_Modify" class="right_footertext_bottom"></p>
                    </div>
                </div>
            </div>
            @*<div class="col-sm-12 col-md-4 col-lg-6 rightDiv">
                @Html.DevExpress().TrackBar(
                   tb =>
                   {
                       tb.Name = "trackBarITR_Posted";
                       tb.Properties.ScalePosition = ScalePosition.LeftOrTop;
                       tb.Properties.ValueToolTipPosition = ValueToolTipPosition.RightOrBottom;
                       tb.Properties.ValueType = typeof(string);
                       tb.Width = 150;
                       tb.Position = 2;
                       tb.Properties.ClientSideEvents.PositionChanged = "ITR_Posted_TrackBarPositionChanged";
                       tb.ControlStyle.CssClass = "float-right";
                       tb.Properties.ScalePosition = ScalePosition.None;
                   }
               ).GetHtml()
                <div class="filter_main">
                    @(Html.DevExtreme().Button().ID("ITR_Posted_Search").Text("Find").Icon("find").Hint("Show search").ElementAttr(new Dictionary<string, object>() { { "class", "float-right find_btn" } }).OnClick(@<text> function () { OnITR_Posted_SearchClick(); } </text>))
                    @(Html.DevExtreme().Button().ID("ITR_Posted_Find").Text("Filter").Icon("find").Hint("Show filter").ElementAttr(new Dictionary<string, object>() { { "class", "float-right filter_btn" } }).OnClick(@<text> function () { OnITR_Posted_FilterClick(); } </text>) )
                </div>
            </div>*@
        </div>
    </div>
</div>
<script> 
    
    var ITR_Posted_ActionBy;
    var ITR_Posted_ActionDate;
    var ITR_Posted_ActionStatus;
    var ITR_Posted_AddBy;
    var ITR_Posted_AddDate;
    var ITR_Posted_EditBy;
    var ITR_Posted_EditDate;  
    var ITR_Posted_ID;  
    var ITR_Posted_MID;  
    var ITR_Posted_SearchVisible = true;
    var ITR_Posted_FilterVisible = true;
    var ITRPosted_ColumnToBeShownIndex = "";
    var ITRPosted_ColumnToBeHidddenIndex = "";

</script> @*ITR_Posted_Global_Variables*@

<script>
    $(document).ready(function () {
        $(".ITR_PostedGrid_PreviewRow").hide();
        GetSessionStorage("ITR_PostedGrid");
    });
    function ITR_Posted_Grid_init(s, e)
    {
        if (s.GetVisibleRowsOnPage() <= 0)
        {
            RowFlag1 = false;
        }
        else
        {
            try
            {
                if (($("#xID").val()).length > 0) {
                    var rowindex = s.FindVisibleIndexByKeyValue($("#xID").val());
                    s.SetFocusedRowIndex(rowindex);
                }
                else
                {
                    s.SetFocusedRowIndex(-1);
                }
            }
            catch (err)
            {
                s.SetFocusedRowIndex(-1);
            }
            RowFlag1 = true;
        }
        ITR_Posted_Grid_AdjustSize(s, e);
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt)
        {
        ITR_Posted_Grid_AdjustSize(s, e);
        });
    }
    function ITR_Posted_Grid_AdjustSize(s, e)
    {
        var height = (document.documentElement.clientHeight * 90) / 100;
        s.SetHeight(height); 
    }
    function ITR_Posted_Grid_begincallback(s, e)
    {
        IntrnlTranfrReg_FocusedRowBeforeRefresh = s.GetFocusedRowIndex();
        e.customArgs["command"] = e.command;
        e.customArgs["VouchingMode"] = IntrnlTranfrReg_IsVouchingMode;
        e.customArgs["ViewMode"] = IntrnlTranfrReg_ViewMode;
        e.customArgs["RowKeyToFocus"] = ITR_Posted_XID;
        e.customArgs["ColumnToBeShownIndex"] = ITRPosted_ColumnToBeShownIndex;
        e.customArgs["ColumnToBeHidddenIndex"] = ITRPosted_ColumnToBeHidddenIndex;
    }
    var ITR_Posted_XID;
    function ITR_Posted_Grid_endcallback(s, e)
    {   
        //ITR_Posted_Grid_AdjustSize(s, e);
        ITRPosted_ColumnToBeShownIndex = s.cpColumnToBeShownIndex;
        ITRPosted_ColumnToBeHidddenIndex = s.cpColumnToBeHidddenIndex; 
      $(".ITR_PostedGrid_PreviewRow").hide();
        GetSessionStorage("ITR_PostedGrid");

        if (e.command == "REFRESH")
        {
            if (IntrnlTranfrReg_FocusedRowBeforeRefresh == s.GetFocusedRowIndex())
            {
                s.SetFocusedRowIndex(-1);
                s.SetFocusedRowIndex(IntrnlTranfrReg_FocusedRowBeforeRefresh);
            }
            ITR_Posted_XID = "";
        }     
    }
    function ITR_PostedGrid_FocusedRowChanged(s, e)
    {
        if (s.GetFocusedRowIndex() >= 0)
        {
            if (!ITR_PostedGrid.IsGroupRow(s.GetFocusedRowIndex())) {
                if (IntrnlTranfrReg_IsVouchingMode) {
                    ITR_PostedPrf_FAB.SetVisible(true);
                    ITR_PostedPrf_FAB.SetActionContext("VouchingActionContext", true);
                }
                ITR_PendingGrid.SetFocusedRowIndex(-1);
                var key = s.GetRowKey(s.GetFocusedRowIndex());
                s.GetValuesOnCustomCallback({ key: key }, ITR_PostedGridOnGetRowValues);
            }
            else
            {
                ITR_Posted_ID = null;
                ITR_Posted_updateFooterDetail(ITR_Posted_ID,ITR_Posted_ActionStatus, ITR_Posted_AddDate, ITR_Posted_AddBy, ITR_Posted_ActionDate, ITR_Posted_ActionBy, ITR_Posted_EditDate, ITR_Posted_EditBy);
            }
        }
        else
        {
            ITR_Posted_ID = null;
            ITR_Posted_ActionBy = null;
            ITR_Posted_ActionDate = null;
            ITR_Posted_ActionStatus = null;
            ITR_Posted_AddBy = null;
            ITR_Posted_AddDate = null;
            ITR_Posted_EditBy = null;
            ITR_Posted_EditDate = null;
            ITR_Posted_updateFooterDetail(ITR_Posted_ID,ITR_Posted_ActionStatus, ITR_Posted_AddDate, ITR_Posted_AddBy, ITR_Posted_ActionDate, ITR_Posted_ActionBy, ITR_Posted_EditDate, ITR_Posted_EditBy);
        }
    }
    function ITR_PostedGridOnGetRowValues(data)
    {        
        var value = data.split("![");
        ITR_Posted_ActionBy = value[0];
        ITR_Posted_ActionDate = value[1];
        ITR_Posted_ActionStatus = value[2];
        ITR_Posted_AddBy = value[3];
        ITR_Posted_AddDate = value[4];
        ITR_Posted_EditBy = value[5];
        ITR_Posted_EditDate = value[6];   
        ITR_Posted_ID = value[7];
        ITR_Posted_MID = value[8];
        ITR_Posted_updateFooterDetail(ITR_Posted_ID,ITR_Posted_ActionStatus, ITR_Posted_AddDate, ITR_Posted_AddBy, ITR_Posted_ActionDate, ITR_Posted_ActionBy, ITR_Posted_EditDate, ITR_Posted_EditBy);
        if (IntrnlTranfrReg_IsVouchingMode == true) {
            OpenLeftPane();
            LoadDocumentAndAdditionalInfoInLeftPane("Account", "InternalTransfer", "LeftPaneContent", ITR_Posted_ID, IntrnlTranfrReg_IsVouchingMode, ITR_Posted_MID);
        }
    }
    function ITR_Posted_updateFooterDetail(ITR_Posted_ID,ITR_ActionStatus, ITR_AddDate, ITR_AddBy, ITR_ActionDate, ITR_ActionBy, ITR_EditDate, ITR_EditBy) {
        var Status = "";
        var Lbl_Status = "";
        var Lbl_StatusBy = "";
        var Pic_Status = "";
        var Lbl_Create = "";
        var Lbl_Modify = "";
        var Lbl_Status_Color = "";
        var Lbl_ActionOn = "";
        var Lbl_ActionBy = "";
        var StatusStr = "";
        if (ITR_Posted_ID) {
            Status = ITR_ActionStatus;
            StatusStr = Status == "Locked" ? "Locked" : Status == null ? null : "UnLocked";

            if (Status && Status.toUpperCase() == "LOCKED") {
                Lbl_Status = "Completed";
                Lbl_Status_Color = "blue";
                Pic_Status = "fa fa-lock";
            }
            else {
                Pic_Status = "fa fa-unlock";
                Lbl_Status = Status;
                if (Status && Status.toUpperCase() == "COMPLETED") {
                    Lbl_Status_Color = "green";
                }
                else {
                    Lbl_Status_Color = "red";
                }
            }

            if (ITR_AddDate) {
                Lbl_Create = "Add On: " + ITR_AddDate + ", By: " + ITR_AddBy;
            }
            if (ITR_EditDate) {
                Lbl_Modify = "Edit On: " + ITR_EditDate + ", By: " + ITR_EditBy;
            }
            if (ITR_ActionDate) {
                Lbl_ActionOn = StatusStr + " On: " + ITR_ActionDate;
            }
            if (ITR_ActionBy) {
                Lbl_ActionBy = StatusStr + " By: " + ITR_ActionBy;
            }
        }
        $('#ITR_Posted_Lbl_Status').text(Lbl_Status);
        $('#ITR_Posted_Lbl_Create').text(Lbl_Create);
        $('#ITR_Posted_Lbl_ActionOn').text(Lbl_ActionOn);
        $('#ITR_Posted_Lbl_ActionBy').text(Lbl_ActionBy);
        $('#ITR_Posted_Lbl_Modify').text(Lbl_Modify);
        if (Lbl_Status_Color != "")
        {
            $('#ITR_Posted_Lbl_Status').css('color', Lbl_Status_Color);
        }
        if (Pic_Status == "fa fa-lock")
        {
            $('#ITR_Posted_LockICON').addClass(Pic_Status).removeClass("fa-unlock");
        }
        else if (Pic_Status == "fa fa-unlock")
        {
            $('#ITR_Posted_LockICON').addClass(Pic_Status).removeClass("fa-lock");
        }
        else
        {
            $('#ITR_Posted_LockICON').removeClass("fa").removeClass("fa-lock").removeClass("fa-unlock");
        }
    }
    function ITR_Posted_Grid_dblclickEdit(s, e)
    {
        if (IntrnlTranfrReg_IsVouchingMode == true) { return; }
        DataNavigation_ITR("EDIT");
    }
    function ITR_PostedGrid_ContextMenuClick(s, e)
    {
        if (e.item.name == 'New') {
            DataNavigation_Volume_ITR("NEW");
        }
        else if (e.item.name == 'Edit') {
            DataNavigation_Volume_ITR("EDIT");
        }
        else if (e.item.name == 'Delete') {
            DataNavigation_Volume_ITR("DELETE");
        }
        else if (e.item.name == 'ListPreview') {
            OnITRListPreviewClick();
        }
        else if (e.item.name == 'UnmatchTransfer') {
            DataNavigation_Volume_ITR("UNMATCH");
        }
        else if (e.item.name == 'AcceptTransfer') {
            DataNavigation_ITR("ACCEPT");
        }
        else if (e.item.name == 'Edit_Common_Info') {
            DataNavigation_ITR("EDIT-COMMON");
        }
        else if (e.item.name == 'Add_Attachment')
        {
            OnITRAddAttachment(ITR_Posted_ID);
        }
        else if (e.item.name == 'Manage_Attachments')
        {
            OnITRManageAttachment(ITR_Posted_ID);
        }
        else if (e.item.name == 'Link_Attachment')
        {
            OnITRLinkAttachment();
        }
        else if (e.item.name == 'Close') {
            $(".TabPanalMenu-tabs .active span").click();
        }
    }
    function ITR_Posted_TrackBarPositionChanged()
    {       
        var ITRcurrentZoom = 1.0;
        var ITRtrackBarCurrentValue = trackBarITR_Posted.GetValue()
        if (ITRtrackBarCurrentValue != 0)
        {
            ITRcurrentZoom += ITRtrackBarCurrentValue / 100;
        }      
        $('#ITR_Posted_reloadPartialView').animate({ 'zoom': ITRcurrentZoom }, 'slow');     
    }
    function OnITR_Posted_SearchClick()
    {     
        if (ITR_Posted_SearchVisible)
        {
            ITR_PostedGrid.contextMenuHelper.ContextMenuShowSearchPanel(1);
        }
        else
        {
            ITR_PostedGrid.contextMenuHelper.ContextMenuShowSearchPanel(0);
        }
            ITR_Posted_SearchVisible = !ITR_Posted_SearchVisible;
    }     
    function OnITR_Posted_FilterClick()
    {     
        if (ITR_Posted_FilterVisible)
        {
           ITR_PostedGrid.contextMenuHelper.ContextMenuShowFilterRow(1);
        }
        else
        {
           ITR_PostedGrid.contextMenuHelper.ContextMenuShowFilterRow(0);
        }
           ITR_Posted_FilterVisible = !ITR_Posted_FilterVisible;        
    }

</script>