@{
    int ShowHorizontalBar = ViewBag.NotesInfo_ShowHorizontalBar == null ? 0 : (int)ViewBag.NotesInfo_ShowHorizontalBar;
    string RecID = ViewBag.NotesInfo_RecID == null ? "" : (string)ViewBag.NotesInfo_RecID;
    var SessionGUID = Request.QueryString["SessionGUID"];
    bool VouchingMode = (bool)ViewBag.VouchingMode;
}
@Html.DevExpress().GridView(settings =>
{
    settings.Name = "Notes_InfoListGrid" + RecID;
    settings.SettingsDetail.MasterGridName = "Notes_InfoListGrid";
    settings.CallbackRouteValues = new { Controller = "Notes", Action = "Frm_Notes_Info_DetailGrid", RecID = RecID,SessionGUID = SessionGUID, VouchingMode = VouchingMode };


    settings.HtmlRowCreated= (s, e) =>
    {
        MVCxGridView grid = (MVCxGridView)s;
        if (e.RowType == GridViewRowType.Preview)
        {
            var Rejection_Reason = e.GetValue("Rejection_Reason");
            if ((Rejection_Reason == null || Rejection_Reason.ToString().Length == 0))
            {
                e.Row.Visible = false;
            }
        }
        if (e.RowType == GridViewRowType.Data && grid.FocusedRowIndex == -1)
        {
            var Doc_Status = e.GetValue("Doc_Status");
            var Doc_Category = e.GetValue("Document_Category");
            if (VouchingMode == false)
            {
                if ((Doc_Status == null || (string)Doc_Status == "") && Doc_Category.ToString().ToLower() != "others")
                {
                    var index = e.VisibleIndex;
                    grid.FocusedRowIndex = index;
                    return;
                }
            }
        }
    };
    settings.Init = (s, e) =>
    {
        MVCxGridView grid = (MVCxGridView)s;
        if (VouchingMode == false)
        {
            grid.FocusedRowIndex = -1;
        }
    };


    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.KeyFieldName = "UniqueID";

    if (ShowHorizontalBar == 1)
    {
        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
        settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;
        settings.SettingsResizing.Visualization = ResizingMode.Postponed;
    }
    else
    {
        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
        settings.SettingsAdaptivity.AllowHideDataCellsByColumnMinWidth = true;
        settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
        settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Disabled;

    }
    settings.Settings.ShowPreview = true;
    settings.SetPreviewRowTemplateContent(c =>
    {
        var Rejection_Reason = DataBinder.Eval(c.DataItem, "Rejection_Reason") == null ? "" : DataBinder.Eval(c.DataItem, "Rejection_Reason").ToString();
        if (Rejection_Reason.Length > 0)
        {
            ViewContext.Writer.Write("<div><span style='color: #FF0000'> <i>Document has been rejected by Madhuban. Reason : " + Rejection_Reason + "</i></span></div>");
        }
    });

    settings.Columns.Add(column =>
    {
        column.Caption = "";
        column.MinWidth = 30;
        column.MaxWidth = 30;
        column.SetDataItemTemplateContent(c =>
        {
            string Doc_Status = c.Grid.GetRowValues(c.VisibleIndex, "Doc_Status").ToString();
            string Doc_Checking_Status = c.Grid.GetRowValues(c.VisibleIndex, "Doc_Checking_Status").ToString();
            string ATTACH_FILE_NAME = c.Grid.GetRowValues(c.VisibleIndex, "ATTACH_FILE_NAME")==null?"" : c.Grid.GetRowValues(c.VisibleIndex, "ATTACH_FILE_NAME").ToString();
            string Rejection_Reason = c.Grid.GetRowValues(c.VisibleIndex, "Rejection_Reason") == null ? "" : c.Grid.GetRowValues(c.VisibleIndex, "Rejection_Reason").ToString();
            var imageAttach = Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.IconID = IconID.ContentCheckboxSvg16x16;
                ImageSettings.Properties.EmptyImage.ToolTip = ATTACH_FILE_NAME;
                ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
                ImageSettings.Properties.CaptionSettings.ShowColon = false;
            });
            var imageAttachReject = Html.DevExpress().Image(ImageSettings =>
            {
                //  ImageSettings.Properties.EmptyImage.IconID = IconID.XafActionDeletedashboard16x16;
                ImageSettings.Height = 20;
                ImageSettings.ImageUrl = "~/Content/Images/Rejected_Attachment.png";
                ImageSettings.Properties.EmptyImage.ToolTip = "This Document has been rejected by Madhuban. Reason :" + Rejection_Reason;
                ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
                ImageSettings.Properties.CaptionSettings.ShowColon = false;
            });
            var imageAttachAccept = Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Height = 20;
                ImageSettings.ImageUrl = "~/Content/Images/document_accepted.png";
                ImageSettings.Properties.EmptyImage.ToolTip = "This Document has been Accepted by Madhuban" ;
                ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
                ImageSettings.Properties.CaptionSettings.ShowColon = false;
            });
            var imageCross = Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.IconID = IconID.CommentsDeletecommentSvg16x16;
                ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
                ImageSettings.Properties.CaptionSettings.ShowColon = false;
            });

            string ItemName = c.Grid.GetRowValues(c.VisibleIndex, "Item_Name").ToString();
            var RedAttach = Html.DevExpress().Image(ImageSettings =>
            {
                ImageSettings.Properties.EmptyImage.Url = "~/Content/Images/attach_red_2.png";
                ImageSettings.Properties.EmptyImage.ToolTip = "Attachment Status : Pending";
                ImageSettings.Properties.CaptionSettings.Position = EditorCaptionPosition.Right;
                ImageSettings.Properties.CaptionSettings.ShowColon = false;
                ImageSettings.Height = 20;
            });
            if (Doc_Status=="YES") {
                if (Doc_Checking_Status == "PENDING") imageAttach.Render();
                if (Doc_Checking_Status == "REJECTED") imageAttachReject.Render();
                if (Doc_Checking_Status == "ACCEPTED") imageAttachAccept.Render();
            }
            else if (Doc_Status == "NO") { imageCross.Render(); }
            else
            {
                if (ItemName != "OTHERS")
                {
                    RedAttach.Render();
                }
            }
        });
        column.AdaptivePriority = 0;
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "Doc_Status";
            column.Caption = "Doc_Status";
            column.Visible = false;

        }
    });
    settings.FormatConditions.AddIconSet("Doc_Status", GridConditionIconSetFormat.Symbols3Circled);
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "Item_Name";
            column.Caption = "Item Name";
            column.MinWidth = 70;
            column.CellStyle.Wrap = DefaultBoolean.True;
        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "Document_Name";
            column.Caption = "Document_Name";
            column.MinWidth = 70;
            column.CellStyle.Wrap = DefaultBoolean.True;
        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "Reason";
            column.Caption = "Reason for No Attachment";
            column.MinWidth = 70;
            column.CellStyle.Wrap = DefaultBoolean.True;
        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "FromDate";
            column.Caption = "From Date";
            column.MinWidth = 60;
            column.MaxWidth = 100;
            column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "ToDate";
            column.Caption = "To Date";
            column.MinWidth = 60;
            column.MaxWidth = 100;
            column.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "Description";
            column.Caption = "Description";
            column.MinWidth = 70;
            column.CellStyle.Wrap = DefaultBoolean.True;
        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "ATTACH_FILE_NAME";
            column.Caption = "File Name";
            column.MinWidth = 70;
            column.CellStyle.Wrap = DefaultBoolean.True;
        }
    });

    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "MAP_ID";
            column.Caption = "MAP_ID";

            column.Visible = false;

        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "ATTACH_ID";
            column.Caption = "ATTACH_ID";

            column.Visible = false;

        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "TxnMID";
            column.Caption = "MID";
            column.Visible = false;
        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "TxnID";
            column.Caption = "XID";
            column.Visible = false;
        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "Params_Mandatory";
            column.Caption = "Params_Mandatory";
            column.Visible = false;
        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "LABEL_FROM_DATE";
            column.Caption = "LABEL_FROM_DATE";
            column.Visible = false;
        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "LABEL_TO_DATE";
            column.Caption = "LABEL_TO_DATE";
            column.Visible = false;
        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "LABEL_DESCRIPTION";
            column.Caption = "LABEL_DESCRIPTION";
            column.Visible = false;
        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "UniqueID";
            column.Caption = "UniqueID";
            column.Visible = false;
        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "Doc_Checking_Status";
            column.Caption = "Doc_Checking_Status";
            column.Visible = false;
        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "Rejection_Reason";
            column.Caption = "Rejection_Reason";
            column.Visible = false;
        }
    });
    settings.Columns.Add(column =>
    {
        {
            column.FieldName = "Attachment_Action_Status";
            column.Caption = "Attachment_Action_Status";
            column.Visible = false;
        }
    });

    settings.ClientSideEvents.FocusedRowChanged = "OnNotes_InfoListGridNestedFocusedRowChange";
    settings.ClientSideEvents.BeginCallback = "Notes_InfoGrid_Nested_BeginCallBack";


    settings.Settings.ShowGroupPanel = false;
    settings.Settings.ShowGroupFooter = GridViewGroupFooterMode.Hidden;
    settings.SettingsContextMenu.Enabled = true;
    settings.SettingsContextMenu.EnableGroupFooterMenu = DefaultBoolean.False;
    settings.SettingsContextMenu.RowMenuItemVisibility.DeleteRow = false;
    settings.SettingsContextMenu.RowMenuItemVisibility.EditRow = false;
    settings.SettingsContextMenu.RowMenuItemVisibility.NewRow = false;
    settings.Settings.ShowHeaderFilterButton = true;
    settings.KeyboardSupport = true;
    //settings.AccessKey = "G";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.SettingsBehavior.ProcessColumnMoveOnClient = true;
    settings.SettingsBehavior.ColumnMoveMode = GridColumnMoveMode.AmongSiblings;
    settings.Settings.ShowGroupFooter = GridViewGroupFooterMode.VisibleAlways;
    settings.Settings.UseFixedTableLayout = true;
    settings.SettingsBehavior.AllowSelectSingleRowOnly = true;
    settings.SettingsBehavior.AllowSort = true;
    settings.SettingsBehavior.AllowSelectByRowClick = true;
    settings.SettingsBehavior.EnableCustomizationWindow = true;
    settings.SettingsPager.Mode = GridViewPagerMode.ShowAllRecords;
    settings.SettingsSearchPanel.ShowApplyButton = true;
    settings.SettingsSearchPanel.ShowClearButton = true;
    settings.SettingsBehavior.AllowFocusedRow = true;
    // show filter control
    settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
    settings.Settings.ShowFilterRow = false;
    settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;
    settings.SettingsFilterControl.ViewMode = true ? FilterControlViewMode.VisualAndText : FilterControlViewMode.Visual;
    settings.SettingsFilterControl.AllowHierarchicalColumns = true;// AllowHierarchicalColumns;
    settings.SettingsFilterControl.ShowAllDataSourceColumns = true;//FilterBuilderDemoHelper.Options.ShowAllDataSourceColumns;
    settings.SettingsFilterControl.MaxHierarchyDepth = 1;

    settings.Settings.ShowFooter = false;
    settings.SettingsCustomizationDialog.ShowSortingPage = true;
    settings.SettingsCustomizationDialog.ShowGroupingPage = true;
    settings.SettingsCustomizationDialog.ShowFilteringPage = true;
    settings.SettingsCustomizationDialog.ShowColumnChooserPage = true;
    MyExtensions.GridViewHelper.CustomGridView(settings);

}).Bind(Model).GetHtml()






