@using ConnectOneMVC;
@using DevExtreme.AspNet.Mvc;
@{
    Layout = null;
}
@model ConnectOneMVC.Reports.DonationRecpt
<!DOCTYPE html>
<html>
<head>
    @Html.DevExpress().GetStyleSheets(
new StyleSheet { ExtensionSuite = ExtensionSuite.Report, Theme = "Aqua", ExtensionType = ExtensionType.WebDocumentViewer }
)
    @Html.DevExpress().GetScripts(
     new Script { ExtensionSuite = ExtensionSuite.Report, ExtensionType = ExtensionType.WebDocumentViewer }
     )
</head>
<body>
    @Html.DevExpress().WebDocumentViewer(settings =>
    {
        settings.Name = "WebDocumentViewer";
      //  settings.MobileMode = (bool)Session["IsMobile"];
        settings.ClientSideEvents.Init = "function(s, e) { s.previewModel.reportPreview.showMultipagePreview(true);}";
        settings.ControlStyle.CssClass = "DevexpressComponents";
    }).Bind(Model).GetHtml()   
 </body>
</html>
