@{
    bool DonationReg_ExportRight = (bool)ViewData["DonationReg_ExportRight"];
    bool DonationReg_HelpAttachmentAddRight = (bool)ViewData["DonationReg_HelpAttachmentAddRight"];
    bool DonationReg_HelpAttachmentListRight = (bool)ViewData["DonationReg_HelpAttachmentListRight"];
    int ShowHorizontalBar = ViewBag.ShowHorizontalBar == null ? 0 : (int)ViewBag.ShowHorizontalBar;
    var SessionGUID = Request.QueryString["SessionGUID"];
    bool VouchingMode = ViewBag.VouchingMode == null ? false : (bool)ViewBag.VouchingMode;
    string ViewMode = ViewBag.ViewMode == null ? "Default" : (string)ViewBag.ViewMode;
    List<string> ColumnTobeHidden = new List<string>();
    List<string> ColumnTobeShown = new List<string>();
    string ColumnToBeShowIndex = ViewBag.ColumnToBeShownIndex == null ? "" : (string)ViewBag.ColumnToBeShownIndex;
    string ColumnToBeHideIndex = ViewBag.ColumnToBeHidddenIndex == null ? "" : (string)ViewBag.ColumnToBeHidddenIndex;
    if (ColumnToBeHideIndex.Length > 0)
    {
        ColumnTobeHidden = ColumnToBeHideIndex.Split(',').ToList();
    }
    if (ColumnToBeShowIndex.Length > 0)
    {
        ColumnTobeShown = ColumnToBeShowIndex.Split(',').ToList();
    }
    string FileName = ViewBag.Filename;
}
@Html.DevExpress().GridView(
    settings =>
    {
        settings.Name = "DonRegisterListGrid";
        settings.CallbackRouteValues = new
        {
            Controller = "DonationRegister",
            Action = "Frm_Donation_Register_Grid",
            FilterVisible = false,
            SearchVisible = false,
            ShowGroupedColumns = false,
            SessionGUID = SessionGUID
        };
        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
        settings.Settings.ShowPreview = true;
        settings.SetPreviewRowTemplateContent(c =>
        {
            if (VouchingMode == true)
            {
                Html.RenderAction("AuditButtons", "AuditButton", new { Area = "", Grid = settings.Name, KeyValue = c.KeyValue, VisibleIndex = c.VisibleIndex, SessionGUID = SessionGUID });
                ViewContext.Writer.Write("<br><br>");
            }
            else
            {
                var Status_Remarks = DataBinder.Eval(c.DataItem, "Status_Remarks") == null ? "" : DataBinder.Eval(c.DataItem, "Status_Remarks").ToString();
                if (Status_Remarks.Length > 0)
                {
                    ViewContext.Writer.Write("<div><span style='color:#0000FF'> <i>Rejection Remarks: " + Status_Remarks + "</i></span></div>");
                }
            }
        });
        settings.HtmlDataCellPrepared = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (VouchingMode == true)
            {
                string colIdx = e.DataColumn.Index.ToString();
                string rowIdx = e.VisibleIndex.ToString();
                if (e.DataColumn.FieldName.Length > 0)
                {
                    e.Cell.Attributes.Add("ondblclick", "OnGridCellClick(event,this,'" + colIdx + "', '" + rowIdx + "','" + settings.Name + "','" + e.KeyValue + "','" + e.DataColumn.FieldName + "');");
                }
                if (e.DataColumn.Name == "iIcon")
                {
                    e.Cell.Attributes.Add("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                    e.Cell.Attributes.Add("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                }
            }
            e.Cell.CssClass += " col_" + e.DataColumn.FieldName + " row_" + e.KeyValue;
            e.Cell.ID = "Cell_" + e.KeyValue + "|" + e.DataColumn.FieldName;
        };
        settings.HtmlRowCreated = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;

            if (e.RowType == GridViewRowType.Data)
            {
                // e.Row.Attributes.Add("onmouseover", "OnGridRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                // e.Row.Attributes.Add("onmouseout", "OnGridRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                e.Row.CssClass += " " + settings.Name + "_DataRow_" + e.KeyValue;
            }
            else if (e.RowType == GridViewRowType.Preview)
            {
                if (VouchingMode == true)
                {
                    e.Row.Attributes.Add("onmouseover", "OnGridPrevRowMouseHoverIn(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                    e.Row.Attributes.Add("onmouseout", "OnGridPrevRowMouseHoverOut(event,this,'" + settings.Name + "','" + e.VisibleIndex + "','" + e.KeyValue + "')");
                }
                else
                {
                    var Status_Remarks = e.GetValue("Status_Remarks") == null ? "" : e.GetValue("Status_Remarks").ToString();
                    //var VouchingRemarks = e.GetValue("VOUCHING_REMARKS") == null ? "" : e.GetValue("VOUCHING_REMARKS").ToString();

                    if (Status_Remarks.Length == 0)
                    {
                        e.Row.Visible = false;
                    }
                }
                e.Row.BackColor = System.Drawing.Color.White;
                e.Row.CssClass += " " + settings.Name + "_PreviewRow" + " " + settings.Name + "_PreviewRow_" + e.KeyValue;
                //e.Row.ID = "PreviewRow_" + e.KeyValue;
            }
        };




        settings.KeyboardSupport = true;
        //settings.AccessKey = "G";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        //settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.Width = 30;
        settings.CommandColumn.MaxWidth = 30;
        settings.CommandColumn.ShowSelectCheckbox = true;
        //settings.CommandColumn.ShowClearFilterButton = true;
        settings.CommandColumn.SelectAllCheckboxMode = GridViewSelectAllCheckBoxMode.AllPages;

        settings.SettingsBehavior.ProcessColumnMoveOnClient = true;
        settings.SettingsBehavior.ColumnMoveMode = GridColumnMoveMode.AmongSiblings;

        settings.Init = (s, e) =>
        {
            MVCxGridView grid = (MVCxGridView)s;
            if (ViewMode == "Compact")
            {
                grid.DataColumns["DonReg_Compact_Column"].Visible = true;
                grid.DataColumns["DonationDate"].Visible = false;
                grid.DataColumns["Donor_Name"].Visible = false;
                grid.DataColumns["PAN"].Visible = false;
                grid.DataColumns["Address"].Visible = false;
                grid.DataColumns["City"].Visible = false;
                grid.DataColumns["District"].Visible = false;
                grid.DataColumns["State"].Visible = false;
                grid.DataColumns["Country"].Visible = false;
                grid.DataColumns["Purpose"].Visible = false;
                grid.DataColumns["Amount"].Visible = false;
                grid.DataColumns["Mode"].Visible = false;
                grid.DataColumns["Cheque_DD_Ref_No"].Visible = false;
                grid.DataColumns["Cheque_DD_Ref_Date"].Visible = false;
                grid.DataColumns["Cheque_DD_Ref_Bank"].Visible = false;
                grid.DataColumns["DepBank"].Visible = false;
                grid.DataColumns["Form_Received"].Visible = false;
                grid.DataColumns["Form_Received_Date"].Visible = false;
                grid.DataColumns["Status_Remarks"].Visible = false;
                grid.DataColumns["Receipt_No"].Visible = false;
                grid.DataColumns["Kind_of_Donation"].Visible = false;
                grid.DataColumns["Amt_in_Foreign_Curr"].Visible = false;
                grid.DataColumns["Currency"].Visible = false;
                grid.DataColumns["Curr_Rate"].Visible = false;


                grid.DataColumns["DS_STATUS_MISC_ID"].Visible = false;
                grid.DataColumns["TR_AB_ID_1"].Visible = false;
                grid.DataColumns["Action_Status"].Visible = false;
                grid.DataColumns["Action_By"].Visible = false;
                grid.DataColumns["Action_Date"].Visible = false;
                grid.DataColumns["Edit_By"].Visible = false;
                grid.DataColumns["Edit_Date"].Visible = false;
                grid.DataColumns["Add_By"].Visible = false;
                grid.DataColumns["Add_Date"].Visible = false;
                grid.DataColumns["Offered_for_Audit"].Visible = false;
                grid.DataColumns["Attachment_IDs"].Visible = false;
                grid.DataColumns["VA_Status"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["Attached_Form"].Visible = false;
                grid.DataColumns["Attached_PAN"].Visible = false;
                grid.DataColumns["Attached_Aadhar"].Visible = false;
                grid.DataColumns["AADHAR"].Visible = false;
                grid.DataColumns["REJECTED_COUNT"].Visible = false;
                grid.DataColumns["RESPONDED_COUNT"].Visible = false;
                grid.DataColumns["COMPLETE_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["OTHER_ATTACH_CNT"].Visible = false;
                grid.DataColumns["ALL_ATTACH_CNT"].Visible = false;
                grid.DataColumns["Status"].Visible = false;

                //settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
            }
            else
            {
                grid.DataColumns["DonReg_Compact_Column"].Visible = false;
                grid.DataColumns["DonationDate"].Visible = true;
                grid.DataColumns["Donor_Name"].Visible = true;
                grid.DataColumns["PAN"].Visible = true;
                grid.DataColumns["Address"].Visible = true;
                grid.DataColumns["City"].Visible = true;
                grid.DataColumns["District"].Visible = true;
                grid.DataColumns["State"].Visible = true;
                grid.DataColumns["Country"].Visible = true;
                grid.DataColumns["Purpose"].Visible = true;
                grid.DataColumns["Amount"].Visible = true;
                grid.DataColumns["Mode"].Visible = true;
                grid.DataColumns["Cheque_DD_Ref_No"].Visible = true;
                grid.DataColumns["Cheque_DD_Ref_Date"].Visible = true;
                grid.DataColumns["Cheque_DD_Ref_Bank"].Visible = true;
                grid.DataColumns["DepBank"].Visible = true;
                grid.DataColumns["Form_Received"].Visible = true;
                grid.DataColumns["Form_Received_Date"].Visible = true;
                grid.DataColumns["Status_Remarks"].Visible = true;
                grid.DataColumns["Receipt_No"].Visible = true;
                grid.DataColumns["Kind_of_Donation"].Visible = true;
                grid.DataColumns["Amt_in_Foreign_Curr"].Visible = true;
                grid.DataColumns["Currency"].Visible = true;
                grid.DataColumns["Curr_Rate"].Visible = true;


                grid.DataColumns["DS_STATUS_MISC_ID"].Visible = false;
                grid.DataColumns["TR_AB_ID_1"].Visible = false;
                grid.DataColumns["Action_Status"].Visible = false;
                grid.DataColumns["Action_By"].Visible = false;
                grid.DataColumns["Action_Date"].Visible = false;
                grid.DataColumns["Edit_By"].Visible = false;
                grid.DataColumns["Edit_Date"].Visible = false;
                grid.DataColumns["Add_By"].Visible = false;
                grid.DataColumns["Add_Date"].Visible = false;
                grid.DataColumns["Offered_for_Audit"].Visible = false;
                grid.DataColumns["Attachment_IDs"].Visible = false;
                grid.DataColumns["VA_Status"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["Attached_Form"].Visible = false;
                grid.DataColumns["Attached_PAN"].Visible = false;
                grid.DataColumns["Attached_Aadhar"].Visible = false;
                grid.DataColumns["AADHAR"].Visible = false;
                grid.DataColumns["REJECTED_COUNT"].Visible = false;
                grid.DataColumns["RESPONDED_COUNT"].Visible = false;
                grid.DataColumns["COMPLETE_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["OTHER_ATTACH_CNT"].Visible = false;
                grid.DataColumns["ALL_ATTACH_CNT"].Visible = false;
                grid.DataColumns["Status"].Visible = false;
            }

        };
        settings.BeforeGetCallbackResult = (s, e) =>
        {
            MVCxGridView grid = s as MVCxGridView;
            if (ViewMode == "Compact")
            {
                grid.DataColumns["DonReg_Compact_Column"].Visible = true;
                grid.DataColumns["DonationDate"].Visible = false;
                grid.DataColumns["Donor_Name"].Visible = false;
                grid.DataColumns["PAN"].Visible = false;
                grid.DataColumns["Address"].Visible = false;
                grid.DataColumns["City"].Visible = false;
                grid.DataColumns["District"].Visible = false;
                grid.DataColumns["State"].Visible = false;
                grid.DataColumns["Country"].Visible = false;
                grid.DataColumns["Purpose"].Visible = false;
                grid.DataColumns["Amount"].Visible = false;
                grid.DataColumns["Mode"].Visible = false;
                grid.DataColumns["Cheque_DD_Ref_No"].Visible = false;
                grid.DataColumns["Cheque_DD_Ref_Date"].Visible = false;
                grid.DataColumns["Cheque_DD_Ref_Bank"].Visible = false;
                grid.DataColumns["DepBank"].Visible = false;
                grid.DataColumns["Form_Received"].Visible = false;
                grid.DataColumns["Form_Received_Date"].Visible = false;
                grid.DataColumns["Status_Remarks"].Visible = false;
                grid.DataColumns["Receipt_No"].Visible = false;
                grid.DataColumns["Kind_of_Donation"].Visible = false;
                grid.DataColumns["Amt_in_Foreign_Curr"].Visible = false;
                grid.DataColumns["Currency"].Visible = false;
                grid.DataColumns["Curr_Rate"].Visible = false;


                grid.DataColumns["DS_STATUS_MISC_ID"].Visible = false;
                grid.DataColumns["TR_AB_ID_1"].Visible = false;
                grid.DataColumns["Action_Status"].Visible = false;
                grid.DataColumns["Action_By"].Visible = false;
                grid.DataColumns["Action_Date"].Visible = false;
                grid.DataColumns["Edit_By"].Visible = false;
                grid.DataColumns["Edit_Date"].Visible = false;
                grid.DataColumns["Add_By"].Visible = false;
                grid.DataColumns["Add_Date"].Visible = false;
                grid.DataColumns["Offered_for_Audit"].Visible = false;
                grid.DataColumns["Attachment_IDs"].Visible = false;
                grid.DataColumns["VA_Status"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["Attached_Form"].Visible = false;
                grid.DataColumns["Attached_PAN"].Visible = false;
                grid.DataColumns["Attached_Aadhar"].Visible = false;
                grid.DataColumns["AADHAR"].Visible = false;
                grid.DataColumns["REJECTED_COUNT"].Visible = false;
                grid.DataColumns["RESPONDED_COUNT"].Visible = false;
                grid.DataColumns["COMPLETE_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["OTHER_ATTACH_CNT"].Visible = false;
                grid.DataColumns["ALL_ATTACH_CNT"].Visible = false;
                grid.DataColumns["Status"].Visible = false;

                //settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
            }
            else
            {
                grid.DataColumns["DonReg_Compact_Column"].Visible = false;
                grid.DataColumns["DonationDate"].Visible = true;
                grid.DataColumns["Donor_Name"].Visible = true;
                grid.DataColumns["PAN"].Visible = true;
                grid.DataColumns["Address"].Visible = true;
                grid.DataColumns["City"].Visible = true;
                grid.DataColumns["District"].Visible = true;
                grid.DataColumns["State"].Visible = true;
                grid.DataColumns["Country"].Visible = true;
                grid.DataColumns["Purpose"].Visible = true;
                grid.DataColumns["Amount"].Visible = true;
                grid.DataColumns["Mode"].Visible = true;
                grid.DataColumns["Cheque_DD_Ref_No"].Visible = true;
                grid.DataColumns["Cheque_DD_Ref_Date"].Visible = true;
                grid.DataColumns["Cheque_DD_Ref_Bank"].Visible = true;
                grid.DataColumns["DepBank"].Visible = true;
                grid.DataColumns["Form_Received"].Visible = true;
                grid.DataColumns["Form_Received_Date"].Visible = true;
                grid.DataColumns["Status_Remarks"].Visible = true;
                grid.DataColumns["Receipt_No"].Visible = true;
                grid.DataColumns["Kind_of_Donation"].Visible = true;
                grid.DataColumns["Amt_in_Foreign_Curr"].Visible = true;
                grid.DataColumns["Currency"].Visible = true;
                grid.DataColumns["Curr_Rate"].Visible = true;


                grid.DataColumns["DS_STATUS_MISC_ID"].Visible = false;
                grid.DataColumns["TR_AB_ID_1"].Visible = false;
                grid.DataColumns["Action_Status"].Visible = false;
                grid.DataColumns["Action_By"].Visible = false;
                grid.DataColumns["Action_Date"].Visible = false;
                grid.DataColumns["Edit_By"].Visible = false;
                grid.DataColumns["Edit_Date"].Visible = false;
                grid.DataColumns["Add_By"].Visible = false;
                grid.DataColumns["Add_Date"].Visible = false;
                grid.DataColumns["Offered_for_Audit"].Visible = false;
                grid.DataColumns["Attachment_IDs"].Visible = false;
                grid.DataColumns["VA_Status"].Visible = false;
                grid.DataColumns["ID"].Visible = false;
                grid.DataColumns["Attached_Form"].Visible = false;
                grid.DataColumns["Attached_PAN"].Visible = false;
                grid.DataColumns["Attached_Aadhar"].Visible = false;
                grid.DataColumns["AADHAR"].Visible = false;
                grid.DataColumns["REJECTED_COUNT"].Visible = false;
                grid.DataColumns["RESPONDED_COUNT"].Visible = false;
                grid.DataColumns["COMPLETE_ATTACH_COUNT"].Visible = false;
                grid.DataColumns["OTHER_ATTACH_CNT"].Visible = false;
                grid.DataColumns["ALL_ATTACH_CNT"].Visible = false;
                grid.DataColumns["Status"].Visible = false;

                if (ColumnTobeHidden != null && ColumnTobeHidden.Count > 0)
                {
                    for (int i = 0; i < ColumnTobeHidden.Count; i++)
                    {
                        grid.Columns[Convert.ToInt32(ColumnTobeHidden[i])].Visible = false;
                    }
                }
                if (ColumnTobeShown != null && ColumnTobeShown.Count > 0)
                {
                    for (int i = 0; i < ColumnTobeShown.Count; i++)
                    {
                        grid.Columns[Convert.ToInt32(ColumnTobeShown[i])].Visible = true;
                    }
                }

            }
        };
        settings.AfterPerformCallback = (s, e) =>
        {
            MVCxGridView gridView = s as MVCxGridView;
            gridView.ScrollToVisibleIndexOnClient = gridView.FocusedRowIndex;
            if (e.CallbackName == "COLUMNMOVE")
            {
                if (e.Args[1] == "-1")
                {
                    if (ColumnTobeShown.Count > 0)
                    {
                        if (ColumnTobeShown.Contains(e.Args[0]))
                        {
                            ColumnTobeShown.Remove(e.Args[0]);
                        }
                    }
                    ColumnTobeHidden.Add(e.Args[0]);
                }
                if (Convert.ToInt32(e.Args[1]) > -1)
                {
                    if (ColumnTobeHidden.Count > 0)
                    {
                        if (ColumnTobeHidden.Contains(e.Args[0]))
                        {
                            ColumnTobeHidden.Remove(e.Args[0]);
                        }
                    }
                    ColumnTobeShown.Add(e.Args[0]);
                }
            }
        };
        settings.SettingsExport.EnableClientSideExportAPI = true;
        settings.SettingsExport.ExcelExportMode = DevExpress.Export.ExportType.DataAware;
        settings.SettingsExport.PageHeader.Center = "Donation Register";
        if (ViewData["ExportGridHeaderLeft"] != null) settings.SettingsExport.PageHeader.Left = ViewData["ExportGridHeaderLeft"].ToString();
        if (ViewData["ExportGridHeaderRight"] != null) settings.SettingsExport.PageHeader.Right = ViewData["ExportGridHeaderRight"].ToString();
        if (ViewData["ExportGridFooter"] != null) settings.SettingsExport.PageFooter.Right = ViewData["ExportGridFooter"].ToString();
        //settings.SettingsExport.PageFooter.Left = "#";
        settings.SettingsExport.PageFooter.Font.Size = 7;
        settings.SettingsExport.PaperKind = System.Drawing.Printing.PaperKind.A4Rotated;
        settings.SettingsExport.TopMargin = 10;
        settings.SettingsExport.LeftMargin = 10;
        settings.SettingsExport.RightMargin = 10;
        settings.SettingsExport.BottomMargin = 10;
        settings.SettingsExport.FileName = FileName;
        settings.Settings.ShowGroupFooter = GridViewGroupFooterMode.VisibleAlways;
        settings.SettingsDetail.ShowDetailRow = true;
        if (VouchingMode == false)
        {
            settings.SettingsDetail.AllowOnlyOneMasterRowExpanded = true;
            settings.SettingsExport.GetExportDetailGridViews = (s, e) =>
            {
                string DonationID = (string)DataBinder.Eval(e.DataItem, "ID");
                GridViewExtension gridAttachment = new GridViewExtension(ConnectOneMVC.Areas.Account.Controllers.DonationRegisterController.NestedGridExportSettings(DonationID));
                gridAttachment.Bind(ConnectOneMVC.Areas.Account.Controllers.DonationRegisterController.NestedGridExportData(DonationID));
                e.DetailGridViews.Add(gridAttachment);
                GridViewExtension gridPrint = new GridViewExtension(ConnectOneMVC.Areas.Account.Controllers.DonationRegisterController.CreatePrintGridSettings(DonationID));
                gridPrint.Bind(ConnectOneMVC.Areas.Account.Controllers.DonationRegisterController.GetDonationPrints(DonationID));
                e.DetailGridViews.Add(gridPrint);
                GridViewExtension gridDispatches = new GridViewExtension(ConnectOneMVC.Areas.Account.Controllers.DonationRegisterController.CreateDispatchGridSettings(DonationID));
                gridDispatches.Bind(ConnectOneMVC.Areas.Account.Controllers.DonationRegisterController.GetDonationDispatches(DonationID));
                e.DetailGridViews.Add(gridDispatches);
                GridViewExtension gridRejections = new GridViewExtension(ConnectOneMVC.Areas.Account.Controllers.DonationRegisterController.CreateRejectionGridSettings(DonationID));
                gridRejections.Bind(ConnectOneMVC.Areas.Account.Controllers.DonationRegisterController.GetDonationRejections(DonationID));
                e.DetailGridViews.Add(gridRejections);

            };
            settings.SettingsDetail.ExportMode = GridViewDetailExportMode.Expanded;
            settings.SetDetailRowTemplateContent(c =>
            {
                ViewContext.Writer.Write(
            "<b> Attachments:</b>" +
            "<br />"
            );
                Html.RenderAction("Frm_Donation_Register_DetailGrid", new { RecID = DataBinder.Eval(c.DataItem, "ID"), VouchingMode = VouchingMode, command = "REFRESH" });

                ViewContext.Writer.Write(
                    "<b>Prints: </b>" +
                    "<br />"
                );
                Html.RenderAction("Frm_Donation_Register_Prints_Grid", new { DonationID = DataBinder.Eval(c.DataItem, "ID") });
                ViewContext.Writer.Write(
                   "<b> Dispatches:</b>" +
                   "<br />"
               );
                Html.RenderAction("Frm_Donation_Register_Dispatches_Grid", new { DonationID = DataBinder.Eval(c.DataItem, "ID"), command = "REFRESH" });
                ViewContext.Writer.Write(
                   "<b> Rejection: </b>" +
                   "<br />"
               );
                Html.RenderAction("Frm_Donation_Register_Rejection_Grid", new { DonationID = DataBinder.Eval(c.DataItem, "ID") });

            });
        }
        else
        {
            settings.DetailRowGetButtonVisibility = (s, e) =>
            {
                e.ButtonState = GridViewDetailRowButtonState.Hidden;
            };
        }
        settings.SettingsContextMenu.RowMenuItemVisibility.ExpandDetailRow = VouchingMode == true ? false : true;
        settings.SettingsContextMenu.RowMenuItemVisibility.CollapseDetailRow = VouchingMode == true ? false : true;
        settings.PreRender = (sender, e) =>
        {
            if (ViewData["Layout"] != null)
            {
                ((MVCxGridView)sender).LoadClientLayout(ViewData["Layout"].ToString());
            }
            ((MVCxGridView)sender).DetailRows.ExpandRow(0);
        };

        //settings.CustomDataActionRouteValues = new { Controller = "DonRegister", Action = "DonRegisterCustomDataAction" };

        settings.CustomJSProperties = (s, e) =>
        {
            MVCxGridView gridView = (MVCxGridView)s;
            var lastVisibleColumn = gridView.VisibleColumns.LastOrDefault();
            e.Properties["cpLastVisibleColumnIndex"] = lastVisibleColumn != null ? lastVisibleColumn.Index : 0;
            e.Properties["cpHiddenColumnCaptions"] = gridView.AllColumns.Where(c => !c.Visible).ToDictionary(c => c.ToString(), c => c.Index);
            e.Properties["cpClientLayout"] = gridView.SaveClientLayout();
            string ColumnToBeShownIndex = "";
            string ColumnToBeHidddenIndex = "";
            if (ColumnTobeHidden.Count > 0)
            {
                ColumnToBeHidddenIndex = String.Join(",", ColumnTobeHidden.ToArray());
            }
            if (ColumnTobeShown.Count > 0)
            {
                ColumnToBeShownIndex = String.Join(",", ColumnTobeShown.ToArray());
            }
            e.Properties["cpColumnToBeShownIndex"] = ColumnToBeShownIndex;
            e.Properties["cpColumnToBeHidddenIndex"] = ColumnToBeHidddenIndex;
        };

        settings.SettingsBehavior.AutoExpandAllGroups = true;
        settings.SettingsBehavior.AllowSelectByRowClick = false;
        settings.SettingsBehavior.AllowSelectSingleRowOnly = false;
        settings.SettingsBehavior.AllowEllipsisInText = true;
        settings.Settings.UseFixedTableLayout = true;
        settings.SettingsBehavior.AllowSort = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;
        settings.Settings.ShowHeaderFilterButton = true;

        settings.Settings.ShowFilterRow = false;
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;

        settings.SettingsSearchPanel.ShowApplyButton = true;
        settings.SettingsPager.Mode = GridViewPagerMode.ShowPager;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSize = 25;
        settings.SettingsPager.AllButton.Visible = true;
        settings.SettingsSearchPanel.ShowClearButton = true;

        settings.SettingsBehavior.AllowFocusedRow = true;


        settings.Settings.ShowHeaderFilterBlankItems = false;



        settings.SettingsContextMenu.Enabled = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;
        settings.SettingsContextMenu.EnableGroupFooterMenu = DefaultBoolean.True;
        settings.SettingsContextMenu.RowMenuItemVisibility.DeleteRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.EditRow = false;
        settings.SettingsContextMenu.RowMenuItemVisibility.NewRow = false;

        settings.FillContextMenuItems = (sender, e) =>
        {
            if (e.MenuType == GridViewContextMenuType.Rows)
            {

                var AddAttachmentitem = e.CreateItem("Add Attachment", "Add_Attachment");
                AddAttachmentitem.Image.IconID = "actions_mailmerge_16x16devav";
                AddAttachmentitem.BeginGroup = true;
                if (DonationReg_HelpAttachmentAddRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), AddAttachmentitem);

                var AddFormitem = e.CreateItem("Attach Donation Form", "Attach_Don_Form");
                AddFormitem.Image.IconID = "actions_mailmerge_16x16devav";
                AddFormitem.BeginGroup = false;
                if (DonationReg_HelpAttachmentAddRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), AddFormitem);

                var AddPANitem = e.CreateItem("Attach PAN", "Attach_PAN");
                AddPANitem.Image.IconID = "actions_mailmerge_16x16devav";
                AddPANitem.BeginGroup = false;
                if (DonationReg_HelpAttachmentAddRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), AddPANitem);

                var AddAadharitem = e.CreateItem("Attach Aadhar", "Attach_Aadhar");
                AddAadharitem.Image.IconID = "actions_mailmerge_16x16devav";
                AddAadharitem.BeginGroup = false;
                if (DonationReg_HelpAttachmentAddRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), AddAadharitem);

                var Manage_Attach = e.CreateItem("Manage Attachments", "Manage_Attachments");
                Manage_Attach.Image.Url = "../../../../Icons/Manage_16x16.png";
                Manage_Attach.BeginGroup = false;
                if (DonationReg_HelpAttachmentListRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Manage_Attach);

                var Print_Dontn = e.CreateItem("Print DonationForm", "Print_DonationForm");
                //Print_Dontn.Image.Url = "../../../../Icons/Manage_16x16.png";
                Print_Dontn.BeginGroup = false;
                if (DonationReg_HelpAttachmentListRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), Print_Dontn);

                var PrintViewitem = e.CreateItem("Export", "ListPreview");
                PrintViewitem.Image.IconID = "actions_export_16x16devav";
                PrintViewitem.BeginGroup = true;
                if (DonationReg_ExportRight) e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), PrintViewitem);

                var CloseItem = e.CreateItem("Close", "Close");
                CloseItem.Image.IconID = "actions_close_16x16devav";
                CloseItem.BeginGroup = true;
                e.Items.Insert(e.Items.IndexOfCommand(GridViewContextMenuCommand.Refresh), CloseItem);
            }
        };
        settings.ClientSideEvents.ContextMenuItemClick = "ContextMenuFunction";
        // DXCOMMENT: Specify the grid's key field name and define grid columns in accordance with data model fields

        //------------------------------------------------//------------------------------------------------//------------------------------------------------//------------------------------------------------
        settings.KeyFieldName = "ID";
        //settings.HeaderFilterFillItems = (s, e) =>
        //{
        //    MVCxGridView grid = (MVCxGridView)s;
        //    if (e.Column.FieldName != "iIcon")
        //    {
        //        return;
        //    }
        //    e.Values.Clear();
        //    e.AddShowAll();
        //    e.AddValue("<img src='../../../../Content/Images/attach_red_2.png' width='20' height='20'</img>", "", "Contains([iIcon], 'RedShield')");//red
        //    e.AddValue("<img src='../../../../Content/Images/attach_yellow_2.png' width='20' height='20'</img>", "", "Contains([iIcon], 'YellowShield')");//Yellow
        //    e.AddValue("<img src='../../../../Content/Images/attach_green_2.png' width='20' height='20'</img>", "", "Contains([iIcon], 'GreenShield')");//green
        //    e.AddValue("<img src='../../../../Content/Images/Completed_With_Remarks.png' width='20' height='20'</img>", "", "Contains([iIcon], 'BlueShield')");//blue
        //    e.AddValue("<img src='../../../../Content/Images/Rejected_Attachment.png' width='20' height='20'</img>", "", "Contains([iIcon], 'RedFlag')");//reject
        //    e.AddValue("<img src='../../../../Content/Images/attach_normal.png' width='20' height='20'</img>", "", "Contains([iIcon], 'RequiredAttachment')");//other
        //    e.AddValue("<img src='../../../../Content/Images/attach_other_plus.png' width='20' height='20'</img>", "", "Contains([iIcon], 'AdditionalAttachment')");//other plus
        //    e.AddValue("<img src='../../../../Content/Images/vAccept.png' width='15' height='15'</img>", "", "Contains([iIcon], 'VouchingAccepted')");//v accept
        //    e.AddValue("<img src='../../../../Content/Images/vReject.png' width='15' height='15'</img>", "", "Contains([iIcon], 'VouchingReject')");//v reject
        //    e.AddValue("<img src='../../../../Content/Images/vAcceptRemark.png' width='15' height='15'</img>", "", "Contains([iIcon], 'VouchingAcceptWithRemarks')");//v remark
        //    e.AddValue("<img src='../../../../Content/Images/aAccept.png' width='15' height='15'</img>", "", "Contains([iIcon], 'AuditAccepted')");//a accept
        //    e.AddValue("<img src='../../../../Content/Images/aReject.png' width='15' height='15'</img>", "", "Contains([iIcon], 'AuditReject')");//a reject
        //    e.AddValue("<img src='../../../../Content/Images/aAcceptRemark.png' width='15' height='15'</img>", "", "Contains([iIcon], 'AuditAcceptWithRemarks')");//a remark
        //};
        settings.Columns.Add(column =>
        {
            column.Name = "iIcon";
            column.Caption = "";
            column.MinWidth = 30;
            column.MaxWidth = 30;
            column.Width = 30;
            column.FieldName = "iIcon";
            column.HeaderStyle.CssClass = "hide-header_iIcon";
            column.CellStyle.Wrap = DefaultBoolean.True;
            column.SetDataItemTemplateContent(c =>
            {
                Int32? iREQ_ATTACH_COUNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "REQ_ATTACH_COUNT");
                Int32? iCOMPLETE_ATTACH_COUNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "COMPLETE_ATTACH_COUNT");
                Int32? iRESPONDED_COUNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "RESPONDED_COUNT");
                Int32? iREJECTED_COUNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "REJECTED_COUNT");
                Int32? iOTHER_ATTACH_CNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "OTHER_ATTACH_CNT");
                Int32? iALL_ATTACH_CNT = (Int32?)c.Grid.GetRowValues(c.VisibleIndex, "ALL_ATTACH_CNT");
                string iIcon = c.Grid.GetRowValues(c.VisibleIndex, "iIcon") == null ? "" : c.Grid.GetRowValues(c.VisibleIndex, "iIcon").ToString();
                Html.RenderAction("AttachmentIcons", "AuditButton", new { Area = "", ReqAttachCount = iREQ_ATTACH_COUNT, CompleteAttachCount = iCOMPLETE_ATTACH_COUNT, RespondedCount = iRESPONDED_COUNT, RejectedCount = iREJECTED_COUNT, OtherCount = iOTHER_ATTACH_CNT, AllCount = iALL_ATTACH_CNT, SessionGUID = SessionGUID });
                ViewContext.Writer.Write("<div class='Icon_" + c.Grid.UniqueID + c.KeyValue + "'>");
                Html.RenderAction("VouchingAuditIcons", "AuditButton", new { Area = "", iIcon = iIcon, SessionGUID = SessionGUID });
                ViewContext.Writer.Write("</div>");
                Html.RenderAction("AuditIconAfterClick", "AuditButton", new { Area = "", Grid = settings.Name, KeyValue = c.KeyValue, VisibleIndex = c.VisibleIndex, SessionGUID = SessionGUID });

            });
            //column.SetHeaderTemplateContent(c =>
            //{
            //    var Attach = Html.DevExpress().Image(ImageSettings =>
            //    {
            //        ImageSettings.ImageUrl = "~/Content/FloatingActionButton/Images/pin.png";
            //        ImageSettings.Height = 15;
            //    });
            //    Attach.Render();
            //});
            column.AdaptivePriority = 0;
        });

        settings.Columns.Add(column =>
        {
            column.Name = "DonReg_Compact_Column";
            column.Width = Unit.Percentage(100);
            column.CellStyle.Wrap = DefaultBoolean.True;
            column.SetDataItemTemplateContent(c =>
            {
                ViewContext.Writer.Write(
                    "<div class='container-fluid'>" +
                        "<div class='row no-gutters'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                                "<div class='row no-gutters'>" +
                                    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                                        "<label class='control-label'>Date:</label>" +
                                    "</div>" +
                                    "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data ' id='" + settings.Name + "_Cell_" + c.KeyValue + "|DonationDate' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                        Convert.ToDateTime(DataBinder.Eval(c.DataItem, "DonationDate")).ToString("dd/MM/yyyy") +
                                    "</div>" +
                                "</div>" +
                            "</div>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                                "<div class='row no-gutters'>" +
                                    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                                        "<label class='control-label'>Name:</label>" +
                                    "</div>" +
                                    "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Donor_Name' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                           DataBinder.Eval(c.DataItem, "Donor_Name") +
                                    "</div>" +
                                "</div>" +
                            "</div>" +
                        "</div>");
                ViewContext.Writer.Write(
                    "<div class='row no-gutters'>" +
                        "<div class='col-sm-12 col-md-12 col-lg-12'>" +
                            "<div class='row no-gutters'>" +
                                "<div class='col-sm-4 col-md-2 col-lg-2  compact_column_label'>" +
                                   "<label class='control-label'>Address:</label>" +
                                "</div>" +
                                "<div class='col-sm-8 col-md-10 col-lg-10 compact_column_data'id='" + settings.Name + "_Cell_" + c.KeyValue + "|Address' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                    DataBinder.Eval(c.DataItem, "Address") +
                                "</div>" +
                            "</div>" +
                        "</div>" +
                    "</div>");
                ViewContext.Writer.Write(
                    "<div class='row no-gutters'>" +
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='row no-gutters'>" +
                                "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                                    "<label class='control-label'>City:</label>" +
                                "</div>" +
                                "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data'id='" + settings.Name + "_Cell_" + c.KeyValue + "|City' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                    DataBinder.Eval(c.DataItem, "City") +
                                "</div>" +
                            "</div>" +
                        "</div>" +
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='row no-gutters'>" +
                                "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                                    "<label class='control-label'>District:</label>" +
                                "</div>" +
                                "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data'id='" + settings.Name + "_Cell_" + c.KeyValue + "|District' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                    DataBinder.Eval(c.DataItem, "District") +
                                "</div>" +
                            "</div>" +
                        "</div>" +
                    "</div>");
                ViewContext.Writer.Write(
                    "<div class='row no-gutters'>" +
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='row no-gutters'>" +
                                "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                                    "<label class='control-label'>State:</label>" +
                                "</div>" +
                                "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data'id='" + settings.Name + "_Cell_" + c.KeyValue + "|State' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                     DataBinder.Eval(c.DataItem, "State") +
                                "</div>" +
                            "</div>" +
                        "</div>" +
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='row no-gutters'>" +
                                "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                                    "<label class='control-label'>Country:</label>" +
                                "</div>" +
                                "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data'id='" + settings.Name + "_Cell_" + c.KeyValue + "|Country' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                    DataBinder.Eval(c.DataItem, "Country") +
                                "</div>" +
                            "</div>" +
                        "</div>" +
                    "</div>");
                ViewContext.Writer.Write(
                    "<div class='row no-gutters'>" +
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='row no-gutters'>" +
                                "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                                    "<label class='control-label'>PAN:</label>" +
                                "</div>" +
                                "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data'id='" + settings.Name + "_Cell_" + c.KeyValue + "|PAN' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                    DataBinder.Eval(c.DataItem, "PAN") +
                                "</div>" +
                            "</div>" +
                        "</div>" +
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='row no-gutters'>" +
                                "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                                    "<label class='control-label'>Purpose:</label>" +
                                "</div>" +
                                "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data'id='" + settings.Name + "_Cell_" + c.KeyValue + "|Purpose' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                    DataBinder.Eval(c.DataItem, "Purpose") +
                                "</div>" +
                            "</div>" +
                        "</div>" +
                    "</div>");
                ViewContext.Writer.Write(
                    "<div class='row no-gutters'>" +
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='row no-gutters'>" +
                                "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                                    "<label class='control-label'>Amount:</label>" +
                                "</div>" +
                                "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data'id='" + settings.Name + "_Cell_" + c.KeyValue + "|Amount' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                    DataBinder.Eval(c.DataItem, "Amount") +
                                "</div>" +
                            "</div>" +
                        "</div>" +
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='row no-gutters'>" +
                                "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                                    "<label class='control-label'>Mode:</label>" +
                                "</div>" +
                                "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data'id='" + settings.Name + "_Cell_" + c.KeyValue + "|Mode' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                    DataBinder.Eval(c.DataItem, "Mode") +
                                "</div>" +
                            "</div>" +
                        "</div>" +
                    "</div>");
                if ((string)DataBinder.Eval(c.DataItem, "Mode") != "CASH")
                {
                    ViewContext.Writer.Write(
                        "<div class='row no-gutters'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                                "<div class='row no-gutters'>" +
                                    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                                        "<label class='control-label'>Ref No.:</label>" +
                                    "</div>" +
                                    "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data'id='" + settings.Name + "_Cell_" + c.KeyValue + "|Cheque_DD_Ref_No' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                        DataBinder.Eval(c.DataItem, "Cheque_DD_Ref_No") +
                                    "</div>" +
                                "</div>" +
                            "</div>" +
                        "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                            "<div class='row no-gutters'>" +
                                "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                                    "<label class='control-label'>Ref Date:</label>" +
                                "</div>" +
                                "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data'id='" + settings.Name + "_Cell_" + c.KeyValue + "|Cheque_DD_Ref_Date' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                    (DataBinder.Eval(c.DataItem, "Cheque_DD_Ref_Date") == null ? "" : Convert.ToDateTime(DataBinder.Eval(c.DataItem, "Cheque_DD_Ref_Date")).ToString("dd/MM/yyyy")) +
                                "</div>" +
                            "</div>" +
                        "</div>" +
                    "</div>");
                    ViewContext.Writer.Write(
                        "<div class='row no-gutters'>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                                "<div class='row no-gutters'>" +
                                    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                                        "<label class='control-label'>Ref Bank:</label>" +
                                    "</div>" +
                                    "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data' id='" + settings.Name + "_Cell_" + c.KeyValue + "|Cheque_DD_Ref_Bank' ondblclick=OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                        DataBinder.Eval(c.DataItem, "Cheque_DD_Ref_Bank") +
                                    "</div>" +
                                "</div>" +
                            "</div>" +
                            "<div class='col-sm-12 col-md-6 col-lg-6'>" +
                                "<div class='row no-gutters'>" +
                                    "<div class='col-sm-4 col-md-4 col-lg-4  compact_column_label'>" +
                                        "<label class='control-label'>Dep. Bank:</label>" +
                                    "</div>" +
                                    "<div class='col-sm-8 col-md-8 col-lg-8 compact_column_data'id='" + settings.Name + "_Cell_" + c.KeyValue + "|DepBank' ondblclick = OnGridCellClick(event,this,'','','" + settings.Name + "','" + c.KeyValue + "','','True','" + VouchingMode + "')>" +
                                        DataBinder.Eval(c.DataItem, "DepBank") +
                                    "</div>" +
                                "</div>" +
                            "</div>" +
                        "</div>" +
                    "</div>");
                }
                else
                {
                    ViewContext.Writer.Write("</div>");
                }
            });
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "DonationDate";
                column.Caption = "Date";
                column.Visible = true;
                column.PropertiesEdit.DisplayFormatString = "dd/MM/yy";
                column.MinWidth = 65;
                column.Width = 65;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Donor_Name";
                column.Caption = "Donor Name";
                column.MinWidth = 175;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });

        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "PAN";
                column.Caption = "PAN";
                column.MinWidth = 100;
                column.Width = 100;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Address";
                column.Caption = "Address";
                column.MinWidth = 350;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "City";
                column.Caption = "City";
                column.MinWidth = 100;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "District";
                column.Caption = "District";
                column.MinWidth = 100;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "State";
                column.Caption = "State";
                column.MinWidth = 100;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Country";
                column.Caption = "Country";
                column.MinWidth = 100;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Purpose";
                column.Caption = "Purpose";
                column.MinWidth = 125;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Amount";
                column.Caption = "Amount";
                column.MinWidth = 100;
                column.PropertiesEdit.DisplayFormatString = "{0:#,0.00;-#,0.00}";
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Mode";
                column.Caption = "Mode";
                column.MinWidth = 100;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Cheque_DD_Ref_No";
                column.Caption = "Cheque/DD/Ref No.";
                column.MinWidth = 130;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Cheque_DD_Ref_Date";
                column.Caption = "Cheque/DD/Ref Date";
                column.Visible = true;
                column.ColumnType = MVCxGridViewColumnType.DateEdit;
                column.MinWidth = 130;
                column.PropertiesEdit.DisplayFormatString = "dd/MM/yy";
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Cheque_DD_Ref_Bank";
                column.Caption = "Cheque/DD/Ref Bank";
                column.MinWidth = 150;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "DepBank";
                column.Caption = "Dep. Bank";
                column.MinWidth = 150;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Form_Received";
                column.Caption = "Form Received";
                column.MinWidth = 100;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Form_Received_Date";
                column.Caption = "Form Received Date";
                column.Visible = true;
                column.ColumnType = MVCxGridViewColumnType.DateEdit;
                column.MinWidth = 130;
                column.PropertiesEdit.DisplayFormatString = "dd/MM/yy";
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Status_Remarks";
                column.Caption = "Status Remarks";
                column.MinWidth = 200;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Receipt_No";
                column.Caption = "Receipt_No";
                column.MinWidth = 100;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Kind_of_Donation";
                column.Caption = "Kind of Donation";
                column.MinWidth = 130;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Amt_in_Foreign_Curr";
                column.Caption = "Amt (in Foreign Curr.)";
                column.MinWidth = 130;
                column.PropertiesEdit.DisplayFormatString = "{0:#,0.00;-#,0.00}";
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Currency";
                column.Caption = "Currency";
                column.MinWidth = 100;
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        settings.Columns.Add(column =>
        {
            {
                column.FieldName = "Curr_Rate";
                column.Caption = "Curr. Rate";
                column.MinWidth = 100;
                column.PropertiesEdit.DisplayFormatString = "{0:#,0.00;-#,0.00}";
                column.CellStyle.Wrap = DefaultBoolean.False;
            }
        });
        /*settings.Columns.Add(column =>
        {
        {
        column.FieldName = "Curr_Rate";
        column.Caption = "Curr. Rate";
        column.MinWidth = 100;
        }
        });*/
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "DS_STATUS_MISC_ID",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "TR_AB_ID_1",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Action_Status",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Action_By",
            Caption = "Action By",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Action_Date",
            Caption = "Action Date",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Add_By",
            Caption = "Add By",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Add_Date",
            Caption = "Add Date",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Edit_By",
            Caption = "Edit By",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Edit_Date",
            Caption = "Edit Date",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Offered_for_Audit",
            Caption = "Offered for Audit",
            Visible = false

        });
        settings.Columns.Add("Attachment_IDs").Visible = false;
        settings.Columns.Add("VA_Status").Visible = false;
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "ID",
            Caption = "ID",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Attached_Form",
            Caption = "Attached_Form",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Attached_PAN",
            Caption = "Attached_PAN",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Attached_Aadhar",
            Caption = "Attached_Aadhar",
            Visible = false

        });

        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "AADHAR",
            Caption = "Aadhar",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "REJECTED_COUNT",
            Caption = "iREJECTED_COUNT",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "RESPONDED_COUNT",
            Caption = "iRESPONDED_COUNT",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "COMPLETE_ATTACH_COUNT",
            Caption = "iCOMPLETE_ATTACH_COUNT",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "REQ_ATTACH_COUNT",
            Caption = "iREQ_ATTACH_COUNT",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "OTHER_ATTACH_CNT",
            Caption = "OTHER_ATTACH_CNT",
            Visible = false

        });
        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "ALL_ATTACH_CNT",
            Caption = "ALL_ATTACH_CNT",
            Visible = false

        });

        settings.Columns.Add(new MVCxGridViewColumn()
        {
            FieldName = "Status",
            GroupIndex = 0

        });
        if (ShowHorizontalBar == 1)
        {
            settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Visible;
            settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
            settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;
            settings.SettingsResizing.Visualization = ResizingMode.Postponed;
        }
        else
        {
            settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
            settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Hidden;
            settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Disabled;
            //settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 500;
            settings.SettingsAdaptivity.AllowHideDataCellsByColumnMinWidth = true;
            settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 2;
            if (Request.Browser.IsMobileDevice) {settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;}

        }
        //settings.Columns.Add(column =>
        //{
        //    column.Caption = "#";
        //    column.Width = System.Web.UI.WebControls.Unit.Percentage(2);
        //    column.SetDataItemTemplateContent(c =>
        //    {
        //        string Offered_Audit = c.Grid.GetRowValues(c.VisibleIndex, "Offered_for_Audit").ToString();
        //        string ID = DataBinder.Eval(c.DataItem, "ID").ToString();
        //        string Attachment = c.Grid.GetRowValues(c.VisibleIndex, "Attachment_IDs").ToString();
        //        string VA_Status = c.Grid.GetRowValues(c.VisibleIndex, "VA_Status").ToString();
        //        var image = Html.DevExpress().Image(ImageSettings =>
        //        {
        //            ImageSettings.Name = "imgOffer" + ID;
        //            ImageSettings.Height = 20;
        //            ImageSettings.Width = 30;
        //            ImageSettings.ImageUrl = "~/Content/image/offer_for_audit.png";

        //            // ImageSettings.Properties.ClientSideEvents.Click = string.Format("function(s, e) {{ OnAttachmentClick('{0}'); }}", Attachment);
        //            ImageSettings.Properties.ToolTip = "This Donation Entry has been Offered for Audit!!";
        //        });

        //        var image_attachment = Html.DevExpress().Image(ImageSettings =>
        //        {
        //            ImageSettings.Name = "DonAttachment" + ID;
        //            ImageSettings.Height = 20;
        //            ImageSettings.ImageUrl = "~/Content/image/attachment.png";

        //            ImageSettings.Properties.ClientSideEvents.Click = string.Format("function(s, e) {{ OnAttachmentClick_DonReg('{0}'); }}", Attachment);
        //            ImageSettings.Properties.ToolTip = "Click to View Attachment";
        //        });
        //        var image_accept = Html.DevExpress().Image(ImageSettings =>
        //        {
        //            ImageSettings.Name = "DonAccept" + ID;
        //            ImageSettings.Height = 20;
        //            ImageSettings.ImageUrl = "~/Content/image/accept.jpg";

        //            // ImageSettings.Properties.ClientSideEvents.Click = string.Format("function(s, e) {{ OnAttachmentClick_DonReg('{0}'); }}", Attachment);
        //            ImageSettings.Properties.ToolTip = "Entry has been Audited!!";
        //        });
        //        var image_Reject = Html.DevExpress().Image(ImageSettings =>
        //        {
        //            ImageSettings.Name = "DonReject" + ID;
        //            ImageSettings.Height = 20;
        //            ImageSettings.ImageUrl = "~/Content/image/Rejected.jpg";

        //            // ImageSettings.Properties.ClientSideEvents.Click = string.Format("function(s, e) {{ OnAttachmentClick_DonReg('{0}'); }}", Attachment);
        //            ImageSettings.Properties.ToolTip = "Entry has been Rejected in Audit!!";
        //        });

        //        if (Offered_Audit == "YES")
        //        {
        //            image.Render();
        //        }
        //        if (Attachment.Length > 0)
        //        {
        //            image_attachment.Render();
        //        }
        //        if (VA_Status.ToLower()=="accepted")
        //        {
        //            image_accept.Render();
        //        }
        //        if (VA_Status.ToLower() == "rejected")
        //        {
        //            image_Reject.Render();
        //        }
        //    });
        //});

        // show filter control
        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
        settings.SettingsFilterControl.ViewMode = true ? FilterControlViewMode.VisualAndText : FilterControlViewMode.Visual;
        settings.SettingsFilterControl.AllowHierarchicalColumns = true;// AllowHierarchicalColumns;
        settings.SettingsFilterControl.ShowAllDataSourceColumns = true;//FilterBuilderDemoHelper.Options.ShowAllDataSourceColumns;
        settings.SettingsFilterControl.MaxHierarchyDepth = 1;
        settings.Settings.ShowFooter = true;
        settings.SettingsCustomizationDialog.ShowSortingPage = true;
        settings.SettingsCustomizationDialog.ShowGroupingPage = true;
        settings.SettingsCustomizationDialog.ShowFilteringPage = true;
        settings.SettingsCustomizationDialog.ShowColumnChooserPage = true;

        settings.Settings.ShowGroupedColumns = false;
        settings.ClientSideEvents.Init = "DonRegister_OnInit";
        //settings.ClientSideEvents.CustomizationWindowCloseUp = "DonRegistergrid_CustomizationWindowCloseUp";
        settings.ClientSideEvents.ContextMenuItemClick = "DonRegister_ContextMenuFunction";
        settings.ClientSideEvents.BeginCallback = "DonRegisterGrid_BeginCallBack";
        settings.ClientSideEvents.FocusedRowChanged = "OnDonRegisterGridFocusedRowChanged";
        settings.ClientSideEvents.EndCallback = "OnGridDonRegisterListGrid_EndCallback";
        settings.ClientSideEvents.DetailRowExpanding = "ExpandDonationRow";
        settings.ClientSideEvents.DetailRowCollapsing = "CollapseDonationRow";
        settings.ClientSideEvents.SelectionChanged = "DonationRegisterSelectionChanged";
        MyExtensions.GridViewHelper.Custom_HeaderFilterFillItems_All(settings);
        MyExtensions.GridViewHelper.CustomGridView(settings);
    }).Bind(Model).GetHtml()


