@using DevExtreme.AspNet.Mvc;
@model ConnectOneMVC.Areas.Stock.Models.ProductionRegister_Period
<style>
    .dx-button-has-icon .dx-button-content {
        padding-right: 8px !important;
    }

    .dx-toolbar-after .dx-button-content {
        padding-right: 0px !important;
    }
</style>
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.AntiForgeryToken();
}

<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .margT4 {
        margin-top: 4px !important;
    }

    .buttonMrgTB {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .margTB2 {
        margin-top: 2px !important;
        margin-bottom: 2px !important;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<div>
    @using (Ajax.BeginForm("Frm_Change_Period_Screen_Production", "ProductionRegister",//0000117 bug fixed
           new AjaxOptions
           {
               HttpMethod = "POST",
               UpdateTargetId = "Frm_Change_Period_Screen_Production",
               InsertionMode = InsertionMode.InsertAfter,
               OnBegin = "AjaxBeginFormPost",
               OnSuccess = "Frm_Change_Period_Screen_Production_Success"
           },
            new
            {
                id = "id_Frm_Change_Period_Screen_Production",
                @class = "edit_form"
            }))
    {
        using (Html.DevExtreme().ValidationGroup())
        {

                <div class="full-width-header-bg3">
                    <div class="row">

                        <div class="col-sm-12 pll">
                            <h3 class="popuphead"><i class="far fa-edit"></i> Change Period</h3>
                        </div>
                    </div>

                </div><!--[header]-->
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field" style="padding-bottom:7px;">
                            <div class="container-fluid mb_height27">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label  text-red" for="Name">From:</label></div>
                                    <div class="col-sm-9 col-md-9 col-lg-9 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Production_Fromdate").Name("Production_Fromdate").Min(Model.Production_Opendate).Max(Model.Production_Closedate).Value(Convert.ToDateTime(Model.Production_Fromdate)).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[From Date]-->
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-field" style="padding-bottom:7px;">
                            <div class="container-fluid mb_height27">
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 pll"><label class="control-label  text-red" for="Name">To:</label></div>
                                    <div class="col-sm-9 col-md-9 col-lg-9 prm">
                                        <div class="dx-texteditor dx-widget dx-textbox">
                                            <div class="dx-texteditor-container">
                                                @(Html.DevExtreme().DateBox().CustomDateBox().ID("Production_Todate").Name("Production_Todate").Min(Model.Production_Opendate).Max(Model.Production_Closedate).Value(Convert.ToDateTime(Model.Production_Todate)).ElementAttr(new Dictionary<string, object>() { { "class", "dx-texteditor-input appear" } }))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[To Date]-->

                </div><!--[row]-->
                <div class="row">
                    <div class="form-field">                      
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="styleActionBtn">
                                @(Html.DevExtreme().Button().CustomSaveButton().ID("ProductionChangePeriod").Text("Ok").FocusStateEnabled(true).TabIndex(6).UseSubmitBehavior(true))
                                @(Html.DevExtreme().Button().CustomCloseButton().ID("ProductionChangePeriodCancel").Text("Cancel").FocusStateEnabled(true).TabIndex(7).OnClick(@<text> function () { $("#Dynamic_Content_popup").dxPopup("hide"); } </text>) )
                            </div>
                        </div>
                    </div>
                </div><!--[button]-->
        }
    }
</div>    
<script>

    function Frm_Change_Period_Screen_Production_Success(data) {
        HideLoader();
        if (data.result == false) {
            DevExpress.ui.dialog.alert(data.Message, 'Error!!');
        }
        else {

            var FromDate = $("#Production_Fromdate").dxDateBox("instance").option("value");
            var ToDate = $("#Production_Todate").dxDateBox("instance").option("value");
            var tomonth = ToDate.getMonth() + 1;
            var frommonth = FromDate.getMonth() + 1;
            var Fromdatefordisplay = FromDate.getDate() + "-" + frommonth + "-" + FromDate.getFullYear();
            var Todatefordisplay = ToDate.getDate() + "-" + tomonth + "-" + ToDate.getFullYear();
            FromDate = frommonth + "-" + FromDate.getDate() + "-" + FromDate.getFullYear();
            ToDate = tomonth + "-" + ToDate.getDate() + "-" + ToDate.getFullYear();
            $("#Production_View_Period").dxTextBox("instance").option("value", "Fr:" + Fromdatefordisplay + " " + "To:" + Todatefordisplay);
            ProductionRegisterListGrid.Refresh();
            $("#Dynamic_Content_popup").dxPopup("hide");
        }
    }//0000117 bug fixed
    $(document).ready(function () {
        setTimeout(function () {
            $("#ProductionChangePeriod").dxButton("instance").focus();
        }, Timeout100);
    });
</script>      



