@using DevExtreme.AspNet.Mvc;


        <div>            
            <textarea rows="4" cols="50" readonly="readonly" disabled="disabled" title="Remarks:">@ViewBag.ViewRemarks</textarea>
        </div>
   
    <div class="row">
        <div class="form-field wbg brd-bot-none">
            <div class="container-fluid">
                <div class="col-sm-12 btn-align prm">
                    <div class="action-btn-wrap pll">


                            @(Html.DevExtreme().Button().CustomCloseButton().ID("productionId_ViewRemarks_close").Text("Close").OnClick(@<text> function(){ $("#Productioninnergrid").dxPopup("hide"); } </text>))

                       
                    </div>
                </div>
            </div>
        </div>
    </div><!--[button]-->

