<style>
    .demo {
        margin-bottom: -99999px !important;
        padding-bottom: 99999px !important;
    }

    #equalheight {
        overflow: hidden;
    }
    .margTB4{
        margin:2px 0px !important;
    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }

        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            line-height: 15px;
            display: inline-block;
            color: #666;
        }

            [type="radio"]:checked + label:before,
            [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 16px;
                border: 1px solid #ddd;
                border-radius: 100%;
                background: #fff;
            }

            [type="radio"]:checked + label:after,
            [type="radio"]:not(:checked) + label:after {
                content: '';
                width: 8px;
                height: 8px;
                background: #337ab7;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            [type="radio"]:checked + label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

    .paddLR5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .margT4{
        margin-top:4px !important;
    }
    .popuphead {
        margin: 0px 0 5px 12px !important;
    }
    .LH-15{
        line-height:15px;
    }
</style>
<link href="/content/fontawesome/css/fontawesome-all.css" rel="stylesheet">
<form action="" class="edit_form">
    <div class="full-width-header-bg3">
        <div class="row">

            <div class="col-sm-8">
                <h3 class="popuphead"><i class="far fa-edit"></i>  Project Transfer</h3>
            </div>
            <div class="col-sm-4 prm">
                <h5 class="mand-txt-align"><i class="fas fa-info-circle"></i> Red fields are mandatory</h5>
            </div>
        </div>

    </div><!--[row]-->
    <div class="row">
        <div class="col-sm-12 paddLR5">

        </div>
    </div><!--[/row]-->
    <div class="row">

        <div class="form-field">
            <div class="container-fluid pll prm">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h3 class="margTB4">Transfer To Details:</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>	<!--[/row1]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid pll prm">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label class="control-label" for="Name">Item Transferred:</label>
                </div><!--[/leftpart]-->
                <div class="col-sm-4 col-md-4 col-lg-4 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" Placeholder="Selected Item Name">
                        </div>
                    </div>
                </div><!--[right part]-->
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label class="control-label" for="Name">Item Code:</label>
                </div><!--[/leftpart]-->
                <div class="col-sm-4 col-md-4 col-lg-4 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" Placeholder="Selected Item Code">
                        </div>
                    </div>

                </div><!--[right part]-->

            </div>

        </div>
    </div>	<!--[/row1]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid pll prm">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label class="control-label" for="Name">Existing Project:</label>
                </div><!--[/leftpart]-->
                <div class="col-sm-4 col-md-4 col-lg-4 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" Placeholder="Existing Stock Project">
                        </div>
                    </div>
                </div><!--[right part]-->
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label class="control-label" for="Name">Existing Job:</label>
                </div><!--[/leftpart]-->
                <div class="col-sm-4 col-md-4 col-lg-4 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" Placeholder="Existing Stock Job">
                        </div>
                    </div>

                </div><!--[right part]-->

            </div>

        </div>
    </div>	<!--[/row1]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid pll prm">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label class="control-label" for="Name">Existing Complex:</label>
                </div><!--[/leftpart]-->
                <div class="col-sm-4 col-md-4 col-lg-4 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" Placeholder="Existing Stock Project">
                        </div>
                    </div>
                </div><!--[right part]-->

            </div>

        </div>
    </div>	<!--[/row1]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid pll prm">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label class="control-label text-red" for="Name">Project Name:</label>
                </div><!--[/leftpart]-->
                <div class="col-sm-4 col-md-4 col-lg-4 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <select name="" class="dx-texteditor-input appear">
                                <option value="0">Select project where stock will be transfer</option>
                            </select>
                        </div>
                    </div>
                </div><!--[right part]-->
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label class="control-label" for="Name">Complex Name:</label>
                </div><!--[/leftpart]-->
                <div class="col-sm-4 col-md-4 col-lg-4 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" Placeholder="Existing Stock Job">
                        </div>
                    </div>

                </div><!--[right part]-->

            </div>

        </div>
    </div>	<!--[/row1]-->
    <div class="row">
        <div class="form-field">
            <div class="container-fluid pll prm">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label class="control-label" for="Name">Sanction No.:</label>
                </div><!--[/leftpart]-->
                <div class="col-sm-4 col-md-4 col-lg-4 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" Placeholder="">
                        </div>
                    </div>
                </div><!--[right part]-->
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label class="control-label text-red" for="Name">Requestor's Name:</label>
                </div><!--[/leftpart]-->
                <div class="col-sm-4 col-md-4 col-lg-4 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <select name="" class="dx-texteditor-input appear">
                                <option value="0">Select Requestor Name</option>
                            </select>
                        </div>
                    </div>
                </div><!--[right part]-->
            </div>
        </div>
    </div>	<!--[/row1]-->

    <div class="row">
        <div class="form-field">
            <div class="container-fluid pll prm">
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label class="control-label" for="Name">Current Qty.:</label>
                </div><!--[/leftpart]-->
                <div class="col-sm-4 col-md-4 col-lg-4 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" Placeholder="Enter Current Qty.">
                        </div>
                    </div>
                </div><!--[right part]-->
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <label class="control-label text-red" for="Name">Transfer Qty:</label>
                </div><!--[/leftpart]-->
                <div class="col-sm-4 col-md-4 col-lg-4 prm">
                    <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                        <div class="dx-texteditor-container">
                            <input class="dx-texteditor-input" type="text" Placeholder="Enter Qty to be transferred">
                        </div>
                    </div>
                </div><!--[right part]-->
            </div>
        </div>
    </div>	<!--[/row1]-->
    <div class="row">

        <div class="form-field">
            <div class="container-fluid pll prm">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <label class="control-label" for="Quantity">Remarks:</label>
                    </div><!--[/leftpart]-->
                    <div class="col-sm-10 col-md-10 col-lg-10 prm">
                        <div class="dx-texteditor dx-state-readonly dx-widget dx-textbox">
                            <div class="dx-texteditor-container">
                                <input class="dx-texteditor-input" type="text" Placeholder="Enter Remarks...">
                            </div>
                        </div>
                    </div>
                </div><!--[right part]-->
            </div>
        </div>

    </div>	<!--[/row1]-->

    <div class="row">
        <div class="form-field wbg brd-bot-none">
            <div class="col-lg-6 col-xs-12"></div>
            <div class="col-lg-6 col-xs-12">
                <div class="action-btn-wrap">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text CmargR8" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content LH-15">
                                <i class="fas fa-times-circle btn-icons crossgrey icon-rgt-space5" style="line-height:initial;"></i>
                                <span class="dx-button-text">Cancel</span>
                            </div>
                        </a>
                    </div><!--[button]-->

                </div>

                <div class="action-btn-sec-wrap">
                    <div class="dx-button dx-button-normal dx-widget dx-button-has-text" role="button" aria-label="Price History" tabindex="0">
                        <a href="javascript:void(0);" class="link-txt">
                            <div class="dx-button-content  LH-15">
                                <i class="fas fa-check-circle btn-icons checkgreen icon-rgt-space5" style="line-height:initial;"></i>
                                <span class="dx-button-text">Save</span>
                                <input type="submit" class="dx-button-submit-input">
                            </div>
                        </a>
                    </div><!--[button]-->

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>


</form>

