@using DevExtreme.AspNet.Mvc;
@{
    var MaxDate = (DateTime)ViewBag.MaxDate;
}
<style>
        .wdfull {
            width: 100%;
        }

        td {
            width: auto;
        }

        .dntnbtn {
            min-width: 68px !important;
            font-size: 12px;
        }

        .fonttwelve {
            font-size: 12px !important;
        }

        .clear {
            clear: both;
        }

        .bortabl {
            border: 1px solid #64CAF1;
            border-collapse: collapse;
            padding-left: 5px;
        }

            .bortabl td {
                border: 1px solid #64CAF1;
                border-collapse: collapse;
            }

        .tabtbl {
            width: 100%;
            margin: 0;
            padding: 0;
        }

            .tabtbl table {
                width: 100%;
            }

            .tabtbl th {
                background: #BDD5ED;
                color: #000;
                font-size: 12px;
                border: 1px solid #000;
                border-collapse: collapse;
                padding-left: 10px;
            }

            .tabtbl td {
                background: #fff;
                color: #000;
                font-size: 12px;
                border: 1px solid #64CAF1;
                border-collapse: collapse;
                padding-left: 10px;
            }

    #PAN_ParentDiv .dx-fileuploader-input-wrapper {
        padding: 7px 0 7px;
        margin-top: -19px;
        margin-left: -3px;
        border: 3px dashed transparent;
    }

        #fileName {
            padding: 0px !important;
        }

        #PAN_ParentDiv .dx-fileuploader-input-label {
            visibility: hidden;
        }

        #PAN_ParentDiv .dx-texteditor-container {
            overflow: visible
        }

        #help_file-uploader {
            margin: -16px;
            margin-top: -1px;
        }

        #Frm_Help_Documents_Popup {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

    #PAN_ParentDiv .form-field {
        margin: 0px 0px;
        padding: 5px 4px 4px 4px;
        background: #dfebf8;
        background: -webkit-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
        background: -o-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
        background: -moz-linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
        background: linear-gradient(to bottom, #ffffff 0%, #dfebf8 100%);
        outline-style: solid;
        outline-width: 1px;
        outline-color: #89b9eb;
    }

        #helpDocument_Save {
            margin-right: 5px;
        }
    #PAN_TextBox, #Txt_Date_Deduction {
        height: 34px;
        font-size: 18px;
        border-radius: 6px;
        max-width: 200px;
        display: inline-block;
    }

        #PAN_TextBox:focus, #Txt_Date_Deduction:focus{background:transparent}
        #Txt_Date_Deduction .dx-placeholder {
            font-size: 16px
        }
        #PAN_TextBox .dx-texteditor-buttons-container {
            position: absolute;
            right: 10px;
            top: 17px;
        }
        #Txt_Date_Deduction .dx-texteditor-buttons-container {
            position: absolute;
            right: 5px;
            top: 15px;
        }

    #contentPANData .dx-datebox-calendar .dx-dropdowneditor-icon:before {
        width: 30px;
        margin-left: -12px;
        background: #fff;
        top: 0;
        padding-top: 2px
    }

        #PAN_TextBox .report_header_div_main {
            padding: 8px 0 5px;
        }
        #PAN_BUT_Show {
            position: relative;
            top: -2px;
            font-size: 16px;
            height: 35px;
            width:70px;
        }

            #PAN_BUT_Show .dx-button-has-text .dx-button-content {
                padding: 6px 8px;
            }
            
    .pan_lbl {
        color: black;
        font-weight: bold;
        font-size: 18px;
    }
    .dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon, .dx-dropdowneditor.dx-state-hover:not(.dx-custom-button-hovered) .dx-dropdowneditor-icon {
        background: transparent;
    }
    #contentPANData, #PAN_ParentDiv .report_header_div_main {
        overflow: visible
    }
    #contentPANData aside {
        display: inline-block;
        margin-bottom: 6px
    }
    #PAN_ParentDiv .report_header_div_main{border:none !important;}

    .pan-details {
        font-size: 14px;
        margin:100px auto 0;
    }
        .pan-details .form-field{padding-right:0; padding-left:0}
        .pan-details .form-field:hover {
            background: #dfebf8;
        }
    #divDetails {
        display: none;
    }
    #divRates {
        display: none;
    }
    #divTerms{padding-top:20px;}
    .blue-heading {
        background: #1d499a !important;
        border: 1px solid #1d499a;
        color: #fff;
        outline: none;
        margin-left: -0.05em;
        width: calc(100% + 1px);
        font-size: 16px;
    }

    @@media (max-width: 767px) {
        #PAN_TextBox, #Txt_Date_Deduction {max-width:180px}
        #PAN_BUT_Show{width:100%;}
        .pan_lbl {
            font-size: 13px;
            width: 95%;
            margin-bottom: 4px;
        }
        #PAN_TextBox, #Txt_Date_Deduction {
            max-width: 92%;
        }
        #PAN_BUT_Show .dx-button-text {
            font-size: 16px !important
        }
        .pan-details{margin-top:0}
        #divDetails, #divRates, #divTerms{padding:1px; margin-top:10px;}
    }
</style>
<script src="~/Content/fontawesome/js/fontawesome_v5_all.js"></script>
<div id="PAN_ParentDiv">
    <div class="report_header_div_main" style=" padding: 8px 0 0;">
        <div id="contentPANData" class="col-md-12 report_header_div_main">
            <div class="clearfix">
                <label class="report_header_label">TDS Related PAN Data</label>
            </div>

            <div class="clearfix report_header_label" style="margin-top:5px">
                <aside>
                    <label class="pan_lbl">Enter PAN</label> &nbsp;
                    @(Html.DevExtreme().TextBox().CustomTextBox().ID("PAN_TextBox").Name("PAN_TextBox") ) &nbsp; &nbsp;
                </aside>

                <aside>
                    <label class="pan_lbl">Deduction Date</label> &nbsp;
                    @(Html.DevExtreme().DateBox().CustomDateBox().ID("Txt_Date_Deduction").Name("Txt_Date_Deduction").Placeholder("dd-MM-yyyy").Max(@MaxDate)) &nbsp;
                </aside>

                <aside>
                    @(Html.DevExtreme().Button().ID("PAN_BUT_Show").Text("Show").OnClick(@<text>function (){ OnShowClick();}</text>))
                </aside>
            </div>

        </div><!--[Header]-->


    </div>

    <div class="pan-details clearfix row">
    <div class="col-md-7" id="divDetails">

                <div class="form-field blue-heading">
                    <div class="clearfix">
                        <div class="col-sm-12" style="vertical-align: middle;">
                            <center>
                                <label class="control-label text-bold" for="user" id=""><b>PAN Details</b></label>
                            </center>
                        </div>
                    </div>
                </div>

                    <div class="form-field">
                        <div class="clearfix">
                            <div class="col-sm-7" style="">
                                <label class="control-label text-bold" for="user" id="lbl_PAN_Name"></label>
                            </div>
                            <div class="col-sm-5" style="">
                                <label class="control-label text-bold" for="user" id="PAN_Name"></label>
                            </div>
                        </div>
                </div><!--[Name]-->
                    <div class="form-field">
                        <div class="clearfix">
                            <div class="col-sm-7" style="">
                                <label class="control-label text-bold" for="user" id="lbl_PAN_Date"></label>
                            </div>
                            <div class="col-sm-5" style="">
                                <label class="control-label text-bold" for="user" id="PAN_Date"></label>
                            </div>
                        </div>
                </div><!--[Allottment Date]-->
                    <div class="form-field">
                        <div class="clearfix">
                            <div class="col-sm-7" style="">
                                <label class="control-label text-bold" for="user" id="lbl_PAN_Status"></label>
                            </div>
                            <div class="col-sm-5" style="">
                                <label class="control-label text-bold" for="user" id="PAN_Status"></label>
                            </div>
                        </div>
                </div><!--[Person Date]-->
                    <div class="form-field">
                        <div class="clearfix">
                            <div class="col-sm-7" style="">
                                <label class="control-label text-bold" for="user" id="lbl_PAN_Link"></label>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label text-bold" for="user" id="PAN_Link"></label>
                            </div>
                        </div>
                </div><!--[Link Status]-->
                    <div class="form-field" id="div_PAN_Specified">
                        <div class="clearfix">
                            <div class="col-sm-7" style="">
                                <label class="control-label text-bold" for="user" id="lbl_PAN_Specified">

                                </label>
                            </div>
                            <div class="col-sm-5">
                                <label class="control-label text-bold" for="user" id="PAN_Specified"></label>
                            </div>
                        </div>
                    </div><!--[Specified]-->
        </div>

    <div class="col-md-5" id="divRates">
            <div class="form-field blue-heading">
                <div class="clearfix">
                    <div class="col-sm-12" style="vertical-align: middle;">
                        <center>
                            <label class="control-label text-bold" for="user" id="lbl_Rates_header">
                            </label>
                        </center>
                    </div>
                </div>
            </div><!--[Rate-Header]-->
            <div class="form-field">
                <div class="clearfix">
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Contractor"></label>
                    </div>
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Contractor_Amount"></label>
                    </div>
                    <div class="col-xs-2" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Contractor_Value"></label>
                    </div>
                </div>
            </div><!--[Rate-Contractor]-->
            <div class="form-field">
                <div class="clearfix">
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Transporter_upto_10"></label>
                    </div>
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Transporter_upto_10_Amount"></label>
                    </div>
                    <div class="col-xs-2" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Transporter_upto_10_Value"></label>
                    </div>
                </div>
            </div><!--[Rate-Transporter<=10]-->
            <div class="form-field">
                <div class="clearfix">
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Transporter_greater_10"></label>
                    </div>
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Transporter_greater_10_Amount"></label>
                    </div>
                    <div class="col-xs-2" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Transporter_greater_10_Value"></label>
                    </div>
                </div>
            </div><!--[Rate-Transporter>10]-->
            <div class="form-field">
                <div class="clearfix">
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Rent"></label>
                    </div>
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Rent_Amount"></label>
                    </div>
                    <div class="col-xs-2" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Rent_Value"></label>
                    </div>
                </div>
            </div><!--[Rate-Rent ]-->
            <div class="form-field">
                <div class="clearfix">
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Rent_Machinery"></label>
                    </div>
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Rent_Machinery_Amount"></label>
                    </div>
                    <div class="col-xs-2" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Rent_Machinery_Value"></label>
                    </div>
                </div>
            </div><!--[Rate-Rent Machinery]-->
            <div class="form-field">
                <div class="clearfix">
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Property_Purchase"></label>
                    </div>
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Property_Purchase_Amount"></label>
                    </div>
                    <div class="col-xs-2" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Property_Purchase_Value"></label>
                    </div>
                </div>
            </div><!--[Rate-Property Purchase]-->
            <div class="form-field">
                <div class="clearfix">
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Professional_Fees"></label>
                    </div>
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Professional_Fees_Amount"></label>
                    </div>
                    <div class="col-xs-2" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Professional_Fees_Value"></label>
                    </div>
                </div>
            </div><!--[Rate-Professional Fees]-->
            <div class="form-field">
                <div class="clearfix">
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Technical_Fees"></label>
                    </div>
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Technical_Fees_Amount"></label>
                    </div>
                    <div class="col-xs-2" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Technical_Fees_Value"></label>
                    </div>
                </div>
            </div><!--[Rate-Technical Fees]-->
            <div class="form-field" id="div_Rate_Interest">
                <div class="clearfix">
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Interest"></label>
                    </div>
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Interest_Amount"></label>
                    </div>
                    <div class="col-xs-2" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Interest_Value"></label>
                    </div>
                </div>
            </div><!--[Rate-Interest]-->
            <div class="form-field">
                <div class="clearfix">
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Commission"></label>
                    </div>
                    <div class="col-xs-5" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Commission_Amount"></label>
                    </div>
                    <div class="col-xs-2" style="vertical-align: middle;">
                        <label class="control-label text-bold" for="user" id="lbl_Rate_Commission_Value"></label>
                    </div>
                </div>
            </div><!--[Rate-Commission]-->
    </div><!--[Rates]-->

    </div>
    <div class="col-md-12" style="display: none;" id="divTerms">
        <div class="form-field">
            <div class="clearfix">
                <div class="pll">
                    <b>Instructions :-</b>
                    <p style="margin-bottom:0" class="control-label" for="user" id="lbl_Terms">
                    </p>
                </div>
            </div>
        </div>
    </div><!--[Terms]-->
</div>
<script type="text/javascript">
    function OnShowClick() {
        debugger;
        var _PAN = $("#PAN_TextBox").dxTextBox("instance").option("value");
        if (_PAN == null || _PAN.length == 0) {
            DevExpress.ui.dialog.alert("Please Enter PAN!!", "Information");
            return;
        }
        var _dedDate = $("#Txt_Date_Deduction").dxDateBox("instance").option("value");

        var _dedDate_DT = moment(_dedDate).format(DateFormatCurrent.toUpperCase());

        if (_dedDate == null || _dedDate.length == 0) {
            DevExpress.ui.dialog.alert("Please Enter Date of TDS Deduction!!", "Information");
            return;
        }
        if ($("#Txt_Date_Deduction").dxDateBox("instance").option("isValid")) {
            var timestamp = Date.parse(_dedDate);
            if (isNaN(timestamp) == true) {
                DevExpress.ui.dialog.alert("Please Enter Valid Date of TDS Deduction!!", "Information");
                return;
            }
        }
        else {
            DevExpress.ui.dialog.alert("Please Enter Valid Date of TDS Deduction!!", "Information");
            return;
        }
        
        ShowLoader();
        $.ajax({
            type: 'GET',
            cache: false,
            url: "/Facility/PANData/ExcelData",
            data: {
                PAN: _PAN,
                DeductionDate: _dedDate_DT
            },
            success: function (data) {
                HideLoader();
                if (data.result == true) {
                    document.getElementById('PAN_Name').innerHTML = data.Name;
                    document.getElementById('PAN_Date').innerHTML = data.Date;
                    document.getElementById('PAN_Link').innerHTML = data.Link;
                    document.getElementById('lbl_Terms').innerHTML = data.Terms;
                    document.getElementById('PAN_Status').innerHTML = data.PAN_Status;
                    if (moment(_dedDate, DateFormatCurrent.toUpperCase()) < moment("2025-04-01", "YYYY-MM-DD")) {
                        document.getElementById('PAN_Specified').innerHTML = data.Specified;
                        document.getElementById('lbl_PAN_Specified').innerHTML = "Specified Person u / s 206AB & 206CCA: <br>Before " + data.SpecifiedEffectiveFrom + " - No<br>From " + data.SpecifiedEffectiveFrom + " - As per department Data";
                    }
                    document.getElementById('lbl_PAN_Link').innerHTML = "PAN - Aadhar Link Status:<br>Before " + data.LinkingEffectiveFrom + " - Not Applicable <br>From " + data.LinkingEffectiveFrom + " - As per department Data";
                    document.getElementById('lbl_Rate_Contractor_Value').innerHTML = data.Rate_Contractor;
                    document.getElementById('lbl_Rate_Transporter_upto_10_Value').innerHTML = data.Rate_Transporter_upto_10;
                    document.getElementById('lbl_Rate_Transporter_greater_10_Value').innerHTML = data.Rate_Transporter_greater_10;
                    document.getElementById('lbl_Rate_Rent_Value').innerHTML = data.Rate_Rent;
                    document.getElementById('lbl_Rate_Rent_Machinery_Value').innerHTML = data.Rate_Rent_Machinery;
                    document.getElementById('lbl_Rate_Property_Purchase_Value').innerHTML = data.Rate_Property_Purchase;
                    document.getElementById('lbl_Rate_Professional_Fees_Value').innerHTML = data.Rate_Professional_Fees;
                    document.getElementById('lbl_Rate_Technical_Fees_Value').innerHTML = data.Rate_Technical_Fees;
                    document.getElementById('lbl_Rate_Interest_Value').innerHTML = data.Rate_Interest;
                    document.getElementById('lbl_Rate_Commission_Value').innerHTML = data.Rate_Commission;

                    document.getElementById('lbl_PAN_Name').innerHTML = "Name:";
                    document.getElementById('lbl_PAN_Date').innerHTML = "PAN Allottment Date:";
                    document.getElementById('lbl_PAN_Status').innerHTML = "Status (Based on 4th Letter):";

                    document.getElementById('lbl_Rates_header').innerHTML = '<b>TDS Rates</b>';
                    //$("#lbl_Rates_header").val("<u><b>TDS Rates</b></u>";
                    document.getElementById('lbl_Rate_Contractor').innerHTML = data.paymentType_Contractor + ":";
                    document.getElementById('lbl_Rate_Transporter_upto_10').innerHTML = data.paymentType_Transporter_upto_10_Value + ":";
                    document.getElementById('lbl_Rate_Transporter_greater_10').innerHTML = data.paymentType_Transporter_greater_10_Value + ":";
                    document.getElementById('lbl_Rate_Rent').innerHTML = data.paymentType_Rent_Value + ":";
                    document.getElementById('lbl_Rate_Rent_Machinery').innerHTML = data.paymentType_Rent_Machinery_Value + ":";
                    document.getElementById('lbl_Rate_Property_Purchase').innerHTML = data.paymentType_Property_Purchase_Value + ":";
                    document.getElementById('lbl_Rate_Professional_Fees').innerHTML = data.paymentType_Professional_Fees_Value + ":";
                    document.getElementById('lbl_Rate_Technical_Fees').innerHTML = data.paymentType_Technical_Fees_Value + ":";
                    document.getElementById('lbl_Rate_Interest').innerHTML = data.paymentType_Interest_Value + ":";
                    document.getElementById('lbl_Rate_Commission').innerHTML = data.paymentType_Commission_Value + ":";

                    document.getElementById('lbl_Rate_Contractor_Amount').innerHTML = data.paymentAmount_Contractor ;
                    document.getElementById('lbl_Rate_Transporter_upto_10_Amount').innerHTML = data.paymentAmount_Transporter_upto_10_Value;
                    document.getElementById('lbl_Rate_Transporter_greater_10_Amount').innerHTML = data.paymentAmount_Transporter_greater_10_Value;
                    document.getElementById('lbl_Rate_Rent_Amount').innerHTML = data.paymentAmount_Rent_Value;
                    document.getElementById('lbl_Rate_Rent_Machinery_Amount').innerHTML = data.paymentAmount_Rent_Machinery_Value;
                    document.getElementById('lbl_Rate_Property_Purchase_Amount').innerHTML = data.paymentAmount_Property_Purchase_Value;
                    document.getElementById('lbl_Rate_Professional_Fees_Amount').innerHTML = data.paymentAmount_Professional_Fees_Value;
                    document.getElementById('lbl_Rate_Technical_Fees_Amount').innerHTML = data.paymentAmount_Technical_Fees_Value;
                    document.getElementById('lbl_Rate_Interest_Amount').innerHTML = data.paymentAmount_Interest_Value;
                    document.getElementById('lbl_Rate_Commission_Amount').innerHTML = data.paymentAmount_Commission_Value;

                    var divDetails = document.getElementById("divDetails");
                    divDetails.style.display = "block";

                    var divRates = document.getElementById("divRates");
                    divRates.style.display = "block";

                    var divTerms = document.getElementById("divTerms");
                    divTerms.style.display = "none";

                    var div_Rate_Interest = document.getElementById("div_Rate_Interest");
                    div_Rate_Interest.style.display = "none";

                    var divPAN_Specified = document.getElementById("div_PAN_Specified");

                    if (data.isSpecifiedPersonClauseApplicable == "Yes") {                        
                        divPAN_Specified.style.display = "block";
                    }
                    else {
                        divPAN_Specified.style.display = "none";
                    }

                    if (data.Link == "INOPERATIVE") {
                        DevExpress.ui.dialog.alert("PAN of the party is not linked with aadhar. Hence shown as inoperative. Ask the party to get the PAN linked with aadhar or else 20% TDS will be applicable as PAN is invalid. <br> <br> पार्टी का PAN Aadhar से लिंक नहीं है, इसीलिए Inoperative दिखाया गया है। पार्टी को PAN Aadhar से लिंक करने लिए बोलें अन्यथा 20% TDS कटेगा क्यूंकि PAN Invalid है।", "Information");
                    }
                }
                else if (data.result == false) {
                    DevExpress.ui.dialog.alert(data.message, "Error");
                    document.getElementById('PAN_Name').innerHTML = "";
                    document.getElementById('PAN_Date').innerHTML = "";
                    document.getElementById('PAN_Link').innerHTML = "";
                    document.getElementById('PAN_Specified').innerHTML = "";
                    document.getElementById('lbl_Terms').innerHTML = "";
                    document.getElementById('PAN_Status').innerHTML = "";
                    document.getElementById('lbl_PAN_Specified').innerHTML = "";
                    document.getElementById('lbl_PAN_Link').innerHTML = "PAN - Aadhar Link Status:";
                    document.getElementById('lbl_Rate_Contractor_Value').innerHTML = "";
                    document.getElementById('lbl_Rate_Transporter_upto_10_Value').innerHTML = "";
                    document.getElementById('lbl_Rate_Transporter_greater_10_Value').innerHTML = "";
                    document.getElementById('lbl_Rate_Rent_Value').innerHTML = "";
                    document.getElementById('lbl_Rate_Rent_Machinery_Value').innerHTML = "";
                    document.getElementById('lbl_Rate_Property_Purchase_Value').innerHTML = "";
                    document.getElementById('lbl_Rate_Professional_Fees_Value').innerHTML = "";
                    document.getElementById('lbl_Rate_Technical_Fees_Value').innerHTML = "";
                    document.getElementById('lbl_Rate_Interest_Value').innerHTML = "";
                    document.getElementById('lbl_Rate_Commission_Value').innerHTML = "";

                    document.getElementById('lbl_PAN_Name').innerHTML = "";
                    document.getElementById('lbl_PAN_Date').innerHTML = "";
                    document.getElementById('lbl_PAN_Status').innerHTML = "";
                    document.getElementById('lbl_PAN_Link').innerHTML = "";

                    document.getElementById('lbl_Rate_Contractor').innerHTML = "";
                    document.getElementById('lbl_Rate_Transporter_upto_10').innerHTML = "";
                    document.getElementById('lbl_Rate_Transporter_greater_10').innerHTML = "";
                    document.getElementById('lbl_Rate_Rent').innerHTML = "";
                    document.getElementById('lbl_Rate_Rent_Machinery').innerHTML = "";
                    document.getElementById('lbl_Rate_Property_Purchase').innerHTML = "";
                    document.getElementById('lbl_Rate_Professional_Fees').innerHTML = "";
                    document.getElementById('lbl_Rate_Technical_Fees').innerHTML = "";
                    document.getElementById('lbl_Rate_Interest').innerHTML = "";
                    document.getElementById('lbl_Rate_Commission').innerHTML = "";

                    document.getElementById('lbl_Rate_Contractor_Amount').innerHTML = "";
                    document.getElementById('lbl_Rate_Transporter_upto_10_Amount').innerHTML = "";
                    document.getElementById('lbl_Rate_Transporter_greater_10_Amount').innerHTML = "";
                    document.getElementById('lbl_Rate_Rent_Amount').innerHTML = "";
                    document.getElementById('lbl_Rate_Rent_Machinery_Amount').innerHTML = "";
                    document.getElementById('lbl_Rate_Property_Purchase_Amount').innerHTML = "";
                    document.getElementById('lbl_Rate_Professional_Fees_Amount').innerHTML = "";
                    document.getElementById('lbl_Rate_Technical_Fees_Amount').innerHTML = "";
                    document.getElementById('lbl_Rate_Interest_Amount').innerHTML = "";
                    document.getElementById('lbl_Rate_Commission_Amount').innerHTML = "";

                    var divDetails = document.getElementById("divDetails");
                    divDetails.style.display = "none";

                    var divRates = document.getElementById("divRates");
                    divRates.style.display = "none";

                    var divTerms = document.getElementById("divTerms");
                    divTerms.style.display = "none";
                }
            }
        });
    }//Show Button Click
</script>
