@using DevExtreme.AspNet.Mvc;
@model System.Data.DataTable
<div>
    <label style="color:navy;font-size:15px"><b>@ViewBag.lblAllocationsHeader </b></label>
    </div>
<div id="AuditAllocations_reloadPartialView" class="parent_table">
    <form>
        @Html.Partial("AuditAllocations_Grid", Model)
    </form>
</div>
<script>
    function AuditAllocationsGrid_init(s, e)
    {
        AuditAllocations_AdjustSize(s);
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt)
        {
            AuditAllocations_AdjustSize(s);
        });
    }
    function AuditAllocations_begincallback(s, e)
    {
        e.customArgs["command"] = e.command;
    }
    function AuditAllocations_endcallback(s, e)
    {

    }
    function AuditAllocations_AdjustSize(s)
    {
        var height = (document.documentElement.clientHeight * 90) / 100;
        try { s.SetHeight(height); } catch (err) { }
    }
    function AuditAllocations_ContextMenuClick(s, e)
    {
        if (e.item.name == "Close")
        {
            CloseAuditInfo();
        }
        if (e.item.name == "ListPreview")
        {
            AuditInfoPreviewClick();
        }
        if (e.item.name == "Refresh")
        {
            AuditAllocationsListGrid.Refresh();
        }        
    }
    </script>